<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="back()">
        {{ 'nav_jenkins' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'nav_jenkins_pipelines' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card>
  <div fxLayout="row" style="margin-bottom: 12px;">
    <button
      *ngIf="creatable"
      aui-button="primary"
      (click)="create()"
      [disabled]="loading$ | async"
    >
      {{ 'jenkins_pipeline_create' | translate }}
    </button>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [searching]="loading$ | async"
      [(keyword)]="inputValue"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="search($event)"
    ></aui-search>
    <button
      aui-button
      square="true"
      [auiTooltip]="autoRefreshIn$ | async"
      [loading]="loading$ | async"
      [disabled]="loading$ | async"
      (click)="refresh()"
    >
      <aui-icon icon="basic:sync"></aui-icon>
    </button>
  </div>

  <div class="rc-list-container">
    <aui-table [dataSource]="items$ | async">
      <!-- `name` -->
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'jenkins_pipeline_name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let data">
          <div class="rc-resource-name-cell">
            <a [routerLink]="['./', data.item.uuid]" class="icon-wrapper">
              <img src="/static/images/resource/jenkins-list-icon.svg" />
            </a>
            <div class="rc-lines">
              <div
                class="rc-line"
                [auiTooltip]="data.item.display_name || data.item.name"
              >
                <a [routerLink]="['./', data.item.uuid]">
                  {{ data.item.display_name || data.item.name }}
                </a>
              </div>
              <div class="rc-line" [auiTooltip]="data.item.name">
                <span>{{ 'name' | translate }}</span>
                <span>{{ data.item.name }}</span>
              </div>
            </div>
          </div>
        </aui-table-cell>
      </ng-container>

      <!-- `trigger` -->
      <ng-container auiTableColumnDef="trigger">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'jenkins_pipeline_triggers' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let data">
          <ul>
            <li *ngFor="let trigger of data.item.triggers_polymer">
              <ng-container [ngSwitch]="trigger.type">
                <ng-container *ngSwitchCase="'cron'">
                  <i
                    class="fa fa-clock-o"
                    [auiTooltip]="'jenkins_trigger_cron' | translate"
                  ></i>
                  <span>{{ trigger.values?.meta.cron }}</span>
                </ng-container>
                <ng-container *ngSwitchCase="'image_change'">
                  <i
                    class="fa fa-building"
                    [auiTooltip]="'jenkins_trigger_image_change' | translate"
                    auiTooltipPosition="top"
                  ></i>
                  <span
                    *ngIf="trigger.values.length < 2; else multi_image_trigger"
                  >
                    <span
                      [auiTooltip]="
                        (trigger.values[0]?.meta.registry_display_name ||
                          trigger.values[0]?.meta.registry_name) +
                        '/' +
                        trigger.values[0]?.meta.repository
                      "
                      auiTooltipPosition="top"
                    >
                      {{
                        trigger.values[0]?.meta.registry_display_name ||
                          trigger.values[0]?.meta.registry_name
                      }}/{{ trigger.values[0]?.meta.repository }}
                    </span>
                  </span>
                  <ng-template #multi_image_trigger>
                    <span>
                      <a
                        auiTooltipType="info"
                        auiTooltipTrigger="click"
                        [auiTooltipContext]="{ images: trigger.values }"
                        auiTooltipPosition="top"
                        [auiTooltip]="popoverTemplate"
                      >
                        {{ trigger.values.length }}
                      </a>
                      {{ 'ge' | translate }}
                    </span>
                  </ng-template>
                </ng-container>
                <ng-container *ngSwitchCase="'code_change_hook'">
                  <i
                    class="fa fa-code-fork"
                    [auiTooltip]="
                      'jenkins_trigger_code_change_hook' | translate
                    "
                  ></i>
                  <span>
                    {{ 'jenkins_trigger_code_change_hook' | translate }}
                  </span>
                </ng-container>
              </ng-container>
            </li>
          </ul>
        </aui-table-cell>
      </ng-container>

      <!-- `history` -->
      <ng-container auiTableColumnDef="history">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'jenkins_histories' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let data">
          <div class="history-column">
            <a
              [ngClass]="[
                'last-history',
                historyStatus(data.item.last_build).class
              ]"
              *ngIf="data.item.last_build"
              [routerLink]="[
                '../',
                'histories',
                data.item.uuid,
                data.item.last_build.history_id
              ]"
            >
              {{ data.item.last_build.start_time_millis | rcRelativeTime }}
            </a>
            <span *ngIf="!data.item.last_build">-</span>
            <a
              class="toggle-histories"
              *ngIf="data.item.last_build"
              href="javascript:void(0)"
              [auiTooltip]="toggleHistoriesTemplate"
              auiTooltipPosition="bottom end"
              auiTooltipType="info"
              auiTooltipTrigger="click"
            >
              ···
            </a>
            <ng-template #toggleHistoriesTemplate>
              <rc-jenkins-recent-histories
                [pipelineId]="data.item.uuid"
                [jenkinsIntegrationId]="data.item.jenkins_integration_id"
              ></rc-jenkins-recent-histories>
            </ng-template>
          </div>
        </aui-table-cell>
      </ng-container>

      <!-- `created by` -->
      <ng-container auiTableColumnDef="created_by">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'created_by' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let data">
          <div>
            {{ data.item.created_by | rcFieldNotAvailable }}
          </div>
        </aui-table-cell>
      </ng-container>

      <!-- `created method` -->
      <ng-container auiTableColumnDef="created_method">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'created_method' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let data">
          <div
            class="template-type"
            title="{{
              getTemplateName(data?.item?.template?.template?.display_name)
            }}"
          >
            {{
              (data?.item?.template ? 'jenkins_template' : 'script')
                | translate
                | rcFieldNotAvailable
            }}
            <span *ngIf="data?.item?.template">:</span>
            {{ getTemplateName(data?.item?.template?.template?.display_name) }}
          </div>
        </aui-table-cell>
      </ng-container>

      <!-- `action` -->
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let data">
          <div
            [auiDropdown]="menu"
            [auiDropdownDisabled]="!menu || menu.disabled"
            class="action-button"
          >
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </div>
          <aui-menu #menu size="small">
            <aui-menu-item
              *ngFor="let menu of data.actions; trackBy: $index"
              (click)="menu.action(data.item)"
            >
              {{ menu.text | translate }}
            </aui-menu-item>
          </aui-menu>
        </aui-table-cell>
      </ng-container>

      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>
  </div>
  <rc-zero-state
    *ngIf="!(total$ | async)"
    [zeroState]="true"
    resourceName="jenkins_pipeline"
  ></rc-zero-state>
  <div class="list-status">
    <aui-paginator
      layout="total,pager,jumper"
      [total]="total$ | async"
      [pageSize]="(params$ | async)?.page_size"
      [currentPage]="(params$ | async)?.page"
      (currentPageChange)="pageChange($event)"
    ></aui-paginator>
  </div>
  <ng-template #popoverTemplate let-data>
    <div class="images-tooltip">
      <span *ngFor="let image of data.images">
        <span>
          {{ image.meta.registry_display_name || image.meta.registry_name }}
        </span>
      </span>
    </div>
  </ng-template>
</aui-card>
