/*
* @deprecated
* this file has been deprecated
*/

/* Do not import this file directly  */
@import './_colors.palette';

// form input
$form-input-border-color: #ccc;
$form-input-focus-border-color: #24a7e3;
$form-input-invalid-color: #b04141;
$form-input-invalid-border-color: #e0b4b4;
$form-input-invalid-background-color: #fff6f6;
$form-disabled-background-color: #f0f0f0;
$form-placeholder-color: #ccc;

// card
$card-background-color: #fff;
$card-label-color: $gray-8;
$card-text-color: $black-5;

// form label and text
$form-text-label-color: #333;
$form-text-help-color: #9c9c9c;
$form-text-error-color: #c46a69;

// button
$button-default-text-color: #4d4d4d;
$button-default-border-color: #ccc;
$button-default-background-color: #fff;

$button-default-hover-border-color: #24a7e3;
$button-default-hover-background-color: #fff;

$button-default-active-border-color: #b9b9b9;
$button-default-active-background-color: #cecece;

$button-primary-text-color: #fff;
$button-primary-border-color: #24a7e3;
$button-primary-background-color: #24a7e3;

$button-primary-active-border-color: #1583b4;
$button-primary-active-background-color: #1583b4;

$button-primary-hover-border-color: #1892c9;
$button-primary-hover-background-color: #1892c9;

// repository tag level color
$repository-tag-level-high-color: $red-6;
$repository-tag-level-medium-color: $orange-7;
$repository-tag-level-low-color: $orange-6;
$repository-tag-level-negligible-color: $silver-7;
$repository-tag-level-unknown-color: $silver-7;
$repository-tag-level-security-color: $green-6;

// table
$table-border-color: #f0f0f0;
$table-second-background-color: #fafafa;
$table-rows-hover-color: $blue-2;
