@import '~@alauda/ui/theme/base-var';
@import 'colors.styles';
// Define rubick variables, functions and mixins here.

// Text
$color-text: #333;
$color-text-secondary: #666;
$color-text-help: #999;

// Border
$border-color: #eee;
$default-border: $border-width $border-style $border-color;

// text
$text-desc-color: #a1a1a1;
$text-warnings-color: #fc5d68;

// shadow
$gray-light-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14);
