<form #form="ngForm" auiForm auiFormLabelWidth="100px" (ngSubmit)="submit()">
  <aui-dialog-header>
    {{ 'pipeline_trigger_parameters' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <div *ngFor="let para of parameters">
      <aui-form-item>
        <label auiFormItemLabel>{{ para?.name }}</label>
        <div [ngSwitch]="para?.type" class="form-item">
          <input
            *ngSwitchCase="'string'"
            auiFormItemControl
            [(ngModel)]="model[para.name]"
            name="{{ para.name }}"
            aui-input
          />
          <aui-switch
            *ngSwitchCase="'boolean'"
            [(ngModel)]="model[para.name]"
            name="{{ para.name }}"
          ></aui-switch>
          <div
            *ngIf="para?.description"
            auiFormItemAddon
            class="parameter-hint"
          >
            <aui-icon
              icon="basic:question"
              [auiTooltip]="para?.description"
            ></aui-icon>
          </div>
        </div>
      </aui-form-item>
    </div>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button aui-button="primary" [disabled]="form.invalid">
      {{ 'pipeline_confirm' | translate }}
    </button>
    <button aui-button type="button" (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</form>
