<aui-dialog-header>
  {{ 'view_yaml' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
  <aui-code-editor
    *ngIf="initialized && codeEditorOptions"
    [(ngModel)]="yaml"
    [options]="codeEditorOptions"
  ></aui-code-editor>
</aui-dialog-content>
