<form
  auiForm
  #yamlForm="ngForm"
  (ngSubmit)="onNgSubmit()"
  [formGroup]="formGroup"
>
  <ng-container *ngFor="let entry of yamlEntries; trackBy: entryTrackBy">
    <pre
      *ngIf="showComment && (entry.preComment || entry.inlineComment)"
      class="pre-comment">{{entry.preComment}}<br *ngIf="entry.preComment"><strong>{{entry.inlineComment}}</strong></pre>

    <aui-form-item>
      <label auiFormItemLabel [title]="entry.path">
        {{ entry.path }}
      </label>
      <input
        *ngIf="!isEntryMultiline(entry)"
        auiFormItemControl
        aui-input
        type="text"
        [formControlName]="entry.path"
        [value]="entry.value"
      />
      <textarea
        *ngIf="isEntryMultiline(entry)"
        auiFormItemControl
        aui-input
        rows="3"
        type="text"
        [formControlName]="entry.path"
        [value]="entry.value"
      ></textarea>
    </aui-form-item>
    <pre
      *ngIf="
        showComment && entry.afterContent && entry.afterContent.includes('#')
      "
      class="pre-comment"
      >{{ entry.afterContent }}</pre
    >
  </ng-container>
</form>
