$label-width: 250px;

:host form {
  input,
  textarea {
    margin-right: 120px;
  }

  .pre-comment {
    background: #eee;
    margin-left: $label-width;
    border-radius: 4px;
    padding: 4px 8px;
    overflow: auto;
  }

  ::ng-deep {
    label.form-field-label {
      width: $label-width;
      word-wrap: break-word;
      word-break: break-word;
    }

    .addon-container {
      display: none;
    }

    .aui-form-item__label-wrapper {
      width: $label-width !important;
    }
  }
}
