<rc-loading-mask [loading]="!inited"></rc-loading-mask>
<div class="page-container" *ngIf="inited">
  <ng-container *ngIf="installedServiceFramework; else noInstalled">
    <ng-container *ngIf="asfEnabled; else asfDisabled">
      <img
        class="view-image"
        src="/static/images/micro-service/enter_into.svg"
      />
      <ng-container *ngTemplateOutlet="desc"></ng-container>
      <button aui-button="primary" size="large" (click)="confirmToAsf()">
        {{ 'service_framework_entry_asf' | translate }}
      </button>
    </ng-container>
    <ng-template #asfDisabled>
      <img
        class="view-image"
        src="/static/images/micro-service/resource_closed.svg"
      />
      <div class="desc-title">
        {{ 'service_framework_resource_disabled' | translate }}
      </div>
      <ng-container *ngTemplateOutlet="desc"></ng-container>
    </ng-template>
  </ng-container>
  <ng-template #noInstalled>
    <img class="view-image" src="/static/images/micro-service/unerected.svg" />
    <div class="desc-title">
      {{ 'service_framework_not_installed' | translate }}
    </div>
  </ng-template>
</div>
<ng-template #desc>
  <div class="description">
    <div>{{ 'service_framework_desc0' | translate }}</div>
    <div>{{ 'service_framework_desc1' | translate }}</div>
    <div>{{ 'service_framework_desc2' | translate }}</div>
    <div>{{ 'service_framework_desc3' | translate }}</div>
  </div>
</ng-template>
