<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'pipeline__' + (category$ | async) | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-card
  *rcAsyncData="
    let pipelineList;
    let error = error;
    let loading = loading;
    let refetch = refetch;
    handler: findPipelines;
    params: (params$ | async);
    pullIn: 10 * 1000
  "
>
  <div class="list-header">
    <div>
      <!-- <div
      [auiTooltip]="'forbidden' | translate"
      [auiTooltipDisabled]="(allowCreate$ | async)"
    > -->
      <!-- <button
        aui-button="primary"
        [disabled]="!(allowCreate$ | async)"
        (click)="modeSelect()"
      >
        {{ ('pipeline_create_pipeline_' + (category$|async)) | translate }}
      </button> -->
      <button
        aui-button="primary"
        type="button"
        [disabled]="!permissions.canCreate"
        (click)="modeSelect()"
      >
        {{ 'pipeline_create_pipeline_' + (category$ | async) | translate }}
      </button>
    </div>
    <div class="rc-search">
      <button aui-button [auiDropdown]="searchMenu">
        {{ searchBy | translate }}
        <aui-icon icon="angle_down"></aui-icon>
      </button>
      <aui-search
        [keyword]="keywords$ | async"
        [placeholder]="
          (searchBy === 'name'
            ? 'search_by_name_placeholder'
            : 'search_by_display_name_placeholder') | translate
        "
        [searchButton]="true"
        [searching]="loading"
        (search)="search($event)"
      ></aui-search>
      <aui-menu #searchMenu>
        <aui-menu-item
          (click)="searchBy = 'name'"
          [actived]="searchBy === 'name'"
        >
          {{ 'name' | translate }}
        </aui-menu-item>
        <aui-menu-item
          (click)="searchBy = 'display_name'"
          [actived]="searchBy === 'display_name'"
        >
          {{ 'display_name' | translate }}
        </aui-menu-item>
      </aui-menu>
    </div>
  </div>
  <div>
    <rc-pipeline-list
      [pipelines]="pipelineList?.items"
      [category]="category$ | async"
      [space]="space$ | async"
      (sortChange)="sortByChanged($event)"
      (started)="onPipelineStarted($event)"
      (deleted)="refetch()"
      [permissions]="permissions"
    ></rc-pipeline-list>
    <rc-zero-state
      [zeroState]="!pipelineList?.items?.length || pipelineList?.errors?.length"
      [resourceName]="
        ((keywords$ | async) ? 'pipeline_results' : 'pipeline_pipelineconfig')
          | translate
      "
    ></rc-zero-state>
    <aui-paginator
      *ngIf="pipelineList?.total"
      [currentPage]="(pageIndex$ | async) || 1"
      [pageSize]="(itemsPerPage$ | async) || 20"
      [pageSizeOptions]="[20, 50, 100]"
      [total]="pipelineList?.total"
      (page)="pageChange($event)"
    ></aui-paginator>
  </div>
</aui-card>
