:host {
  .list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  aui-paginator {
    margin-top: 12px;
  }

  .rc-search {
    display: flex;
    .aui-button {
      margin-right: -1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:focus,
      &:hover,
      &:active,
      &.isActived {
        z-index: 1;
      }
    }

    ::ng-deep {
      .aui-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .no-data {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: #666;
    border-bottom: 1px solid #eee;
  }
}
