<aui-dialog-header>
  {{ 'tool_chain_add_repository' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <aui-inline-alert
    *ngIf="loadError"
    [content]="'tool_chain_get_resource_error_hint' | translate"
    type="error"
  ></aui-inline-alert>

  <form [formGroup]="createForm" auiForm auiFormLabelWidth="160px">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'tool_chain_repository_type' | translate }}
      </label>
      <aui-radio-group required auiFormItemControl formControlName="repoType">
        <aui-radio-button value="Maven">
          <div class="repo-icon">
            <img
              [src]="'/static/images/pipeline_new/template-category/maven.svg'"
            />
            Maven
          </div>
        </aui-radio-button>
        <aui-radio-button
          [disabled]="true"
          value="NPM"
          auiTooltip="{{ 'coming_soon' | translate }}"
        >
          <div class="repo-icon">
            <img [src]="'/static/images/tool-chain/list/npm.svg'" />
            NPM
          </div>
        </aui-radio-button>
        <aui-radio-button
          [disabled]="true"
          value="PYPI"
          auiTooltip="{{ 'coming_soon' | translate }}"
        >
          <div class="repo-icon">
            <img [src]="'/static/images/tool-chain/list/pypl.svg'" />
            PYPI
          </div>
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'tool_chain_file_storage_location' | translate }}
      </label>
      <aui-select
        [loading]="!(blobStore$ | async)"
        [allowCreate]="false"
        [filterable]="false"
        auiFormItemControl
        required
        formControlName="fileStorageLocation"
      >
        <aui-option
          *ngFor="let blob of (blobStore$ | async)"
          [label]="blob"
          [value]="blob"
        >
          {{ blob }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'tool_chain_repository_name' | translate }}
      </label>
      <aui-input-group style="flex: 1">
        <span auiInputAddonBefore>{{ data.projectName }}</span>
        <input
          required
          aui-input
          auiFormItemControl
          formControlName="repoName"
        />
      </aui-input-group>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'tool_chain_version_policy' | translate }}
      </label>
      <aui-radio-group
        required
        auiFormItemControl
        formControlName="versionPolicy"
      >
        <aui-radio-button value="Release">Release</aui-radio-button>
        <aui-radio-button value="Snapshot">Snapshot</aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button
    aui-button="primary"
    (click)="addRepo()"
    [disabled]="loadError || createForm.invalid"
  >
    {{ 'tool_chain_add' | translate }}
  </button>
  <button aui-button auiDialogClose>
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
