<aui-dialog-header>
  <span>
    <span>{{ history.name }}</span>
    <span>{{ 'logs' | translate }}</span>
  </span>
</aui-dialog-header>
<aui-dialog-content>
  <div class="diagram">
    <aui-pipeline-preview-diagram
      *ngIf="history?.jenkins?.stages?.length"
      [stages]="history.jenkins.stages"
    ></aui-pipeline-preview-diagram>
  </div>
  <div
    class="logs-content"
    *rcAsyncData="let loading; handler: fetchLogs; pullIn: more ? 2000 : 0"
  >
    <rc-log-view
      [logs]="text"
      [paginated]="false"
      [pullEnabled]="true"
      [pullToggleEnabled]="false"
    ></rc-log-view>
  </div>
</aui-dialog-content>
