%limit-range-spec-form-shared {
  display: flex;
  flex: 1;
  height: 176px;
  background: #fafafa;
  position: relative;
  flex-direction: column;
  padding: 32px 20px 16px;
  > label {
    height: 28px;
    background: #fff;
    padding: 4px 12px;
    border-radius: 3px;
    position: absolute;
    left: 16px;
    top: -13px;
    border: 1px solid #e8e8e8;
  }
}

:host {
  rc-loading-mask {
    height: 120px;
    background: transparent;
  }

  aui-input-group {
    width: 100%;
  }

  .limit-range-spec-form-wrapper {
    display: flex;
    margin: 32px 0 0 110px;
    .limit-range-spec-form {
      @extend %limit-range-spec-form-shared;
      &:first-child {
        margin-right: 16px;
      }
    }
  }

  .limit-range-form {
    &--title {
      display: flex;
      margin: 12px 0;
      cursor: pointer;
      div {
        margin-left: 4px;
      }
    }
  }
}
