<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<ng-container *ngIf="initialized">
  <form #form="ngForm" auiForm auiFormLabelWidth="150px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <span>{{ namespace }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'region_belonged' | translate }}</label>
      <span>{{ cluster.display_name }}</span>
    </aui-form-item>

    <ng-container *ngIf="cluster?.regions && formModel.canUseSameConfig">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'quota_setting_way' | translate }}</label>
        <aui-checkbox
          name="useSameConfig"
          auiFormItemControl
          [(ngModel)]="formModel.useSameConfig"
          (valueChange)="setModel()"
        >
          {{ 'create_namespace_tip3' | translate }}
        </aui-checkbox>
      </aui-form-item>
    </ng-container>

    <ng-container *ngFor="let model of formModel.limitranges; index as i">
      <div (click)="folding[i] = !folding[i]" class="limit-range-form--title">
        <aui-icon *ngIf="folding[i]" icon="angle_right"></aui-icon>
        <aui-icon *ngIf="!folding[i]" icon="angle_down"></aui-icon>
        <div>{{ model.display_name }}</div>
      </div>
      <ng-container *ngIf="!folding[i]">
        <div class="limit-range-spec-form-wrapper">
          <div class="limit-range-spec-form" *ngFor="let field of formFileds">
            <label>{{ field.label | translate }}</label>
            <ng-container *ngFor="let item of field.items">
              <ng-container *ngIf="showFormItem(item, model)">
                <aui-form-item>
                  <label auiFormItemLabel>{{ item.label | translate }}</label>
                  <aui-input-group
                    auiFormItemControl
                    [required]="!!cluster?.quota"
                  >
                    <input
                      min="1"
                      required
                      aui-input
                      rcErrorsTooltip
                      [name]="item.name"
                      pattern="^[0-9]\d*$"
                      [(ngModel)]="model.limitrange[item.name]"
                      [rcErrorsTooltipMapper]="{
                        pattern: 'integer_pattern' | translate
                      }"
                    />
                    <span auiInputAddonAfter>
                      {{ item.after | translate }}
                    </span>
                  </aui-input-group>
                </aui-form-item>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </form>
</ng-container>
