<aui-dialog-header>{{ 'update' | translate }}</aui-dialog-header>
<aui-dialog-content>
  <aui-inline-alert
    *ngIf="loadError"
    [content]="'tool_chain_get_resource_error_hint' | translate"
    type="error"
  ></aui-inline-alert>
  <form
    #form="ngForm"
    auiForm
    [auiFormEmptyAddon]="true"
    auiFormLabelWidth="160px"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'tool_chain_tenant' | translate }}</label>
      <span>{{ formData.tenant.name }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <span>{{ formData.name }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'tool_chain_allocate_desc' | translate }}
      </label>
      <textarea
        auiFormItemControl
        name="description"
        aui-input
        [(ngModel)]="formData.description"
      ></textarea>
    </aui-form-item>
    <aui-form-item *ngIf="resourceSwitcher">
      <label auiFormItemLabel="">
        {{
          'tool_chain_allocate_resource_label'
            | translate
              : { resource: getToolResourceDisplayName(allocate.toolItemType) }
        }}
      </label>
      <ng-container *ngIf="allocate?.toolItemKind === 'ArtifactRegistry'">
        <div class="repo-icon">
          <img [src]="'/static/images/tool-chain/list/maven2.svg'" />
          {{ allocate?.toolName }}
        </div>
      </ng-container>
      <ng-container *ngIf="allocate?.toolItemKind !== 'ArtifactRegistry'">
        <aui-multi-select
          [ngClass]="iconType"
          auiFormItemControl
          [filterable]="true"
          [trackFn]="trackFn"
          [ngModelOptions]="{ standalone: true }"
          name="resource"
          #secret="ngModel"
          [(ngModel)]="formData.resource"
          required
          [disabled]="loadError"
          [loading]="resourceLoading"
          [placeholder]="resourcePlaceholder"
        >
          <aui-option-group>
            <aui-option
              *ngFor="let item of (resources$ | async)"
              [value]="{ name: item.name, type: item?.annotations?.type }"
              [label]="item.name"
            >
              <span>{{ item.name }}</span>
            </aui-option>
          </aui-option-group>
        </aui-multi-select>
        <button
          *ngIf="canCreateResource"
          class="btn-margin"
          [disabled]="loadError || !formData.tenant.name"
          aui-button
          type="button"
          (click)="createResource()"
        >
          {{
            'tool_chain_add_resources'
              | translate
                : {
                    resource: getToolResourceDisplayName(allocate.toolItemType)
                  }
          }}
        </button>
      </ng-container>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      (click)="update()"
      [loading]="loading"
      [disabled]="loading"
    >
      {{ 'update' | translate }}
    </button>
    <button
      aui-button
      type="button"
      [auiDialogClose]="null"
      [disabled]="loading"
    >
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>
