@import '../resource-icon.scss';
aui-dialog-header {
  ::ng-deep .aui-dialog {
    &__header {
      background-color: white;
      height: 52px;
    }
    &__header-title {
      font-size: 20px;
      color: #4d4d4d;
    }
    &__header-close {
      color: #999 !important;
    }
  }
}
.btn-margin {
  margin-left: 12px;
}
:host {
  @include allocate-resource-icon();
  ::ng-deep .aui-form-item .aui-form-item__label-wrapper {
    width: 160px !important;
  }
  .repo-icon {
    display: flex;
    align-items: center;
    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
}
