<aui-dialog-header>
  <ng-container *ngIf="!isUpdate">
    {{ 'add_resource_from_yaml' | translate }}
  </ng-container>
  <ng-container *ngIf="isUpdate">
    {{ 'update_resource' | translate }}
  </ng-container>
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm>
    <aui-code-editor
      *ngIf="isUpdate"
      name="yaml"
      [actionsConfig]="editorActions"
      [options]="editorOptions"
      [(ngModel)]="yaml"
      [originalValue]="original"
    ></aui-code-editor>
    <aui-code-editor
      *ngIf="!isUpdate"
      name="yaml"
      [actionsConfig]="editorActions"
      [options]="editorOptions"
      [(ngModel)]="yaml"
    ></aui-code-editor>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
