<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<div *ngIf="initialized" class="multiple-quota-settings">
  <aui-form-item *ngIf="isMirror">
    <label auiFormItemLabel>{{ 'quota_setting_way' | translate }}</label>
    <aui-checkbox
      [disabled]="!canUseSameQuota"
      auiFormItemControl
      name="useSameQuota"
      (ngModelChange)="useSameQuotaChange($event)"
      [(ngModel)]="useSameQuota"
    >
      {{ 'create_namespace_tip3' | translate }}
    </aui-checkbox>
  </aui-form-item>
  <ng-container *ngFor="let cluster of clustersQuota; index as i">
    <div class="multiple-quota-settings__spece">
      <div class="spece-prefix"></div>
      <div>
        {{ useSameQuota ? cluster.origin_display_name : cluster.display_name }}
      </div>
    </div>

    <div class="multiple-quota-settings__cluster">
      <div
        *ngIf="!update"
        class="multiple-quota-settings__secondary-title"
        (click)="moreConfig[i] = !moreConfig[i]"
      >
        <aui-icon
          *ngIf="!moreConfig[i]"
          icon="angle_right"
          class="multiple-quota-settings__spece-icon"
        ></aui-icon>
        <aui-icon
          *ngIf="moreConfig[i]"
          icon="angle_down"
          class="multiple-quota-settings__spece-icon"
        ></aui-icon>
        <div>{{ 'more_config' | translate }}</div>
      </div>
      <ng-container *ngIf="!update && moreConfig[i]">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'labels' | translate }}</label>
          <rc-key-value-form-table
            auiFormItemControl
            name="label"
            [(ngModel)]="resultClusters[i].labels"
            (ngModelChange)="change()"
            [valiadator]="labelValidator"
            [errorMapper]="labelErrorMapper"
          ></rc-key-value-form-table>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'k8s_annotation' | translate }}</label>
          <rc-key-value-form-table
            auiFormItemControl
            name="annotation"
            [(ngModel)]="resultClusters[i].annotations"
            (ngModelChange)="change()"
          ></rc-key-value-form-table>
        </aui-form-item>
      </ng-container>

      <div
        class="multiple-quota-settings__secondary-title"
        (click)="resourceQuota[i] = !resourceQuota[i]"
      >
        <aui-icon
          *ngIf="resourceQuota[i]"
          icon="angle_right"
          class="multiple-quota-settings__spece-icon"
        ></aui-icon>
        <aui-icon
          *ngIf="!resourceQuota[i]"
          icon="angle_down"
          class="multiple-quota-settings__spece-icon"
        ></aui-icon>
        <div>{{ 'resourcequota' | translate }}</div>
      </div>
      <ng-container *ngIf="!resourceQuota[i]">
        <aui-form-item *ngIf="clusterQuotaKeys?.includes('cpu')">
          <label auiFormItemLabel>{{ 'CPU' | translate }}</label>
          <aui-input-group auiFormItemControl [required]="!!cluster?.quota">
            <input
              name="cpu"
              type="number"
              [min]="getMiniNum('cpu', cluster.name)"
              [max]="getMaxMum('cpu', cluster)"
              #cpu="ngModel"
              [(ngModel)]="resultClusters[i]?.quota.cpu"
              (ngModelChange)="change()"
              aui-input
              [required]="!!cluster?.quota"
              pattern="^[0-9]\d*$"
            />
            <span auiInputAddonAfter>{{ 'unit_core' | translate }}</span>
          </aui-input-group>
          <div
            auiFormItemHint
            *ngIf="!!cluster?.quota && !(cpu.errors?.max || cpu.errors?.min)"
          >
            {{ getQuotaFormItemHint(cluster?.quota, 'cpu', cluster.name) }}
          </div>
          <div
            auiFormItemHint
            class="multiple-quota-settings__spece--error"
            *ngIf="!!cluster?.quota && (cpu.errors?.max || cpu.errors?.min)"
          >
            {{ getQuotaErrorInfo(cluster?.quota, 'cpu', cluster.name) }}
          </div>
          <div auiFormItemError *ngIf="cpu.errors?.pattern">
            {{ 'integer_pattern' | translate }}
          </div>
          <div auiFormItemError *ngIf="cpu.errors?.required">
            {{ 'field_required' | translate }}
          </div>
        </aui-form-item>
        <aui-form-item *ngIf="clusterQuotaKeys?.includes('memory')">
          <label auiFormItemLabel>{{ 'memory' | translate }}</label>
          <aui-input-group auiFormItemControl [required]="!!cluster?.quota">
            <input
              name="memory"
              type="number"
              [min]="getMiniNum('memory', cluster.name)"
              [max]="getMaxMum('memory', cluster)"
              #memory="ngModel"
              [(ngModel)]="resultClusters[i]?.quota.memory"
              (ngModelChange)="change()"
              pattern="^[0-9]\d*$"
              aui-input
              [required]="!!cluster?.quota"
            />
            <span auiInputAddonAfter>{{ 'unit_gb' | translate }}</span>
          </aui-input-group>
          <div
            auiFormItemHint
            *ngIf="
              !!cluster?.quota && !(memory.errors?.max || memory.errors?.min)
            "
          >
            {{ getQuotaFormItemHint(cluster?.quota, 'memory', cluster.name) }}
          </div>
          <div
            auiFormItemHint
            class="multiple-quota-settings__spece--error"
            *ngIf="
              (!!cluster?.quota && memory.errors?.max) || memory.errors?.min
            "
          >
            {{ getQuotaErrorInfo(cluster?.quota, 'memory', cluster.name) }}
          </div>
          <div auiFormItemError *ngIf="memory.errors?.pattern">
            {{ 'integer_pattern' | translate }}
          </div>

          <div auiFormItemError *ngIf="memory.errors?.required">
            {{ 'field_required' | translate }}
          </div>
        </aui-form-item>
        <aui-form-item *ngIf="clusterQuotaKeys?.includes('pods')">
          <label auiFormItemLabel>{{ 'Pod' | translate }}</label>
          <aui-input-group auiFormItemControl [required]="!!cluster?.quota">
            <input
              name="pods"
              aui-input
              #pods="ngModel"
              [(ngModel)]="resultClusters[i]?.quota.pods"
              type="number"
              [min]="getMiniNum('pods', cluster.name)"
              [max]="getMaxMum('pods', cluster)"
              (ngModelChange)="change()"
              [required]="!!cluster?.quota"
              pattern="^[0-9]\d*$"
            />
            <span auiInputAddonAfter>{{ 'ge' | translate }}</span>
          </aui-input-group>
          <div
            auiFormItemHint
            *ngIf="!!cluster?.quota && !(pods.errors?.max || pods.errors?.min)"
          >
            {{ getQuotaFormItemHint(cluster?.quota, 'pods', cluster.name) }}
          </div>
          <div
            auiFormItemHint
            class="multiple-quota-settings__spece--error"
            *ngIf="(!!cluster?.quota && pods.errors?.max) || pods.errors?.min"
          >
            {{ getQuotaErrorInfo(cluster?.quota, 'pods', cluster.name) }}
          </div>
          <div auiFormItemError *ngIf="pods.errors?.pattern">
            {{ 'integer_pattern' | translate }}
          </div>

          <div auiFormItemError *ngIf="pods.errors?.required">
            {{ 'field_required' | translate }}
          </div>
        </aui-form-item>
        <aui-form-item *ngIf="clusterQuotaKeys?.includes('pvc_num')">
          <label auiFormItemLabel>{{ 'pvc_num' | translate }}</label>
          <aui-input-group auiFormItemControl [required]="!!cluster?.quota">
            <input
              name="pvc"
              aui-input
              #pvc="ngModel"
              [(ngModel)]="resultClusters[i]?.quota.pvc_num"
              type="number"
              [min]="getMiniNum('pvc_num', cluster.name)"
              [max]="getMaxMum('pvc_num', cluster)"
              (ngModelChange)="change()"
              [required]="!!cluster?.quota"
              pattern="^[0-9]\d*$"
            />
            <span auiInputAddonAfter>{{ 'ge' | translate }}</span>
          </aui-input-group>
          <div
            auiFormItemHint
            *ngIf="!!cluster?.quota && !(pvc.errors?.max || pvc.errors?.min)"
          >
            {{ getQuotaFormItemHint(cluster?.quota, 'pvc_num', cluster.name) }}
          </div>
          <div
            auiFormItemHint
            class="multiple-quota-settings__spece--error"
            *ngIf="(!!cluster?.quota && pvc.errors?.max) || pvc.errors?.min"
          >
            {{ getQuotaErrorInfo(cluster?.quota, 'pvc_num', cluster.name) }}
          </div>
          <div auiFormItemError *ngIf="pvc.errors?.pattern">
            {{ 'integer_pattern' | translate }}
          </div>

          <div auiFormItemError *ngIf="pvc.errors?.required">
            {{ 'field_required' | translate }}
          </div>
        </aui-form-item>
        <aui-form-item *ngIf="clusterQuotaKeys?.includes('storage')">
          <label auiFormItemLabel>{{ 'storage' | translate }}</label>
          <aui-input-group auiFormItemControl [required]="!!cluster?.quota">
            <input
              name="storage"
              aui-input
              #storage="ngModel"
              [(ngModel)]="resultClusters[i]?.quota.storage"
              type="number"
              [min]="getMiniNum('storage', cluster.name)"
              [max]="getMaxMum('storage', cluster)"
              (ngModelChange)="change()"
              [required]="!!cluster?.quota"
              pattern="^[0-9]\d*$"
            />
            <span auiInputAddonAfter>{{ 'unit_gb' | translate }}</span>
          </aui-input-group>
          <div
            auiFormItemHint
            *ngIf="
              !!cluster?.quota && !(storage.errors?.max || storage.errors?.min)
            "
          >
            {{ getQuotaFormItemHint(cluster?.quota, 'storage', cluster.name) }}
          </div>
          <div
            auiFormItemHint
            class="multiple-quota-settings__spece--error"
            *ngIf="
              (!!cluster?.quota && storage.errors?.max) || storage.errors?.min
            "
          >
            {{ getQuotaErrorInfo(cluster?.quota, 'storage', cluster.name) }}
          </div>

          <div auiFormItemError *ngIf="storage.errors?.pattern">
            {{ 'integer_pattern' | translate }}
          </div>
          <div auiFormItemError *ngIf="storage.errors?.required">
            {{ 'field_required' | translate }}
          </div>
        </aui-form-item>
      </ng-container>
    </div>
    <div class="multiple-quota-settings__pod">
      <div
        class="multiple-quota-settings__secondary-title"
        (click)="podQuota[i] = !podQuota[i]"
      >
        <aui-icon
          *ngIf="podQuota[i]"
          icon="angle_right"
          class="multiple-quota-settings__spece-icon"
        ></aui-icon>
        <aui-icon
          *ngIf="!podQuota[i]"
          icon="angle_down"
          class="multiple-quota-settings__spece-icon"
        ></aui-icon>
        <div>{{ 'pod_quota' | translate }}</div>
      </div>
      <ng-container *ngIf="!podQuota[i]">
        <div class="multiple-quota-settings__pod-container">
          <div
            class="multiple-quota-settings__pod-item"
            *ngFor="let field of podQuotaFormFileds"
          >
            <label>{{ field.label | translate }}</label>
            <ng-container *ngFor="let item of field.items">
              <ng-container *ngIf="showContainerQuotaFormItem(item, cluster)">
                <aui-form-item>
                  <label auiFormItemLabel>{{ item.label | translate }}</label>
                  <aui-input-group
                    auiFormItemControl
                    [required]="!!cluster?.quota"
                  >
                    <input
                      required
                      aui-input
                      rcErrorsTooltip
                      [min]="getQuotaRange(item.name, i).min"
                      [max]="getQuotaRange(item.name, i).max"
                      [name]="item.name"
                      pattern="^[0-9]\d*$"
                      (ngModelChange)="change()"
                      [(ngModel)]="(resultClusters[i]?.quota)[item.name]"
                      [rcErrorsTooltipMapper]="{
                        pattern: 'integer_pattern' | translate,
                        min: getErrorTip('min', item.name) | translate,
                        max: getErrorTip('max', item.name) | translate
                      }"
                    />
                    <span auiInputAddonAfter>
                      {{ item.after | translate }}
                    </span>
                  </aui-input-group>
                </aui-form-item>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
