.multiple-quota-settings {
  ::ng-deep {
    .aui-form-item__label-wrapper {
      min-width: 110px !important;
    }
    input[type='number'] {
      -moz-appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
      }
    }
    .aui-input-group__addon {
      color: #4d4d4d;
      white-space: nowrap;
    }
    .aui-input-group__addon--after {
      width: 40px;
      justify-content: center;
    }
    .multiple-quota-settings__spece--error {
      color: #eb6262;
    }
  }

  &__spece {
    display: flex;
    font-size: 16px;
    margin: 16px 0;
    .spece-prefix {
      width: 4px;
      margin-right: 8px;
      background: #009ce3;
    }
  }

  &__secondary-title {
    display: flex;
    margin-bottom: 16px;
    font-size: 14px;
    cursor: pointer;
  }
  &__pod-container {
    display: flex;
    margin: 32px 0 0 110px;
  }
  &__pod-item {
    display: flex;
    flex: 1;
    height: 176px;
    background: #fafafa;
    position: relative;
    flex-direction: column;
    padding: 32px 20px 16px;
    &:first-child {
      margin-right: 16px;
    }
    > label {
      height: 28px;
      background: #fff;
      padding: 4px 12px;
      border-radius: 3px;
      position: absolute;
      left: 16px;
      top: -13px;
      border: 1px solid #e8e8e8;
    }
  }
  ::ng-deep {
    aui-icon {
      margin-right: 4px;
    }
    aui-input-group {
      width: 100%;
    }
  }
}

rc-loading-mask {
  height: 50px;
  background: transparent;
}
