<!-- <aui-inline-alert [closable]="true" [content]="'kube_service_tips' | translate"></aui-inline-alert> -->
<rc-loading-mask
  class="rc-form-loading-mask"
  [loading]="!initialized"
></rc-loading-mask>
<div class="resource-form__wrapper" [hidden]="!initialized">
  <div class="resource-form__header">
    {{ 'region_create_region' | translate }}
  </div>
  <div class="resource-form__content">
    <form auiForm class="service-form" auiFormLabelWidth="160px" #Form="ngForm">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'region_region_name' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          name="clusterName"
          [readonly]="disableClusterName"
          [pattern]="baseRSReg.pattern"
          [placeholder]="baseRSReg.tip | translate"
          [rcErrorsTooltipMapper]="{ pattern: baseRSReg.tip | translate }"
          [(ngModel)]="clusterCreatemodel.name"
          maxlength="36"
          required
          [rcErrorsTooltip]
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          name="displayName"
          [readonly]="disableClusterName"
          [placeholder]="'display_name' | translate"
          [(ngModel)]="clusterCreatemodel.display_name"
          maxlength="36"
          required
          [rcErrorsTooltip]
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'region_region_endpoint' | translate }}
        </label>
        <aui-input-group>
          <aui-select
            class="apiserver"
            name="apiserver_protocol"
            [(ngModel)]="apiserver_protocol"
          >
            <aui-option value="https://">
              https://
            </aui-option>
            <aui-option value="http://">
              http://
            </aui-option>
          </aui-select>
          <input
            class="apiserver"
            aui-input
            auiFormItemControl
            name="apiserver"
            [pattern]="apiServerReg.pattern"
            [rcErrorsTooltip]
            [rcErrorsTooltipMapper]="{ pattern: apiServerReg.tip | translate }"
            (change)="onApiServerInput($event)"
            [(ngModel)]="apiserver_address"
          />
        </aui-input-group>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'region_type' | translate }}</label>
        <aui-radio-group
          required
          auiFormItemControl
          name="clusterType"
          (ngModelChange)="clusterTypeChange($event)"
          [(ngModel)]="clusterCreatemodel.cluster_type.is_ha"
        >
          <aui-radio-button [value]="false">
            {{ 'single_cluster' | translate }}
          </aui-radio-button>
          <aui-radio-button [value]="true">
            {{ 'high_availability_cluster' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item *ngIf="clusterCreatemodel.cluster_type.is_ha">
        <label auiFormItemLabel>{{ 'load_balancer' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          required
          rcErrorsTooltip
          name="loadBalancer"
          [pattern]="loadBalancerReg.pattern"
          [rcErrorsTooltip]
          [rcErrorsTooltipMapper]="{ pattern: loadBalancerReg.tip | translate }"
          [(ngModel)]="clusterCreatemodel.cluster_type.loadbalancer"
        />
      </aui-form-item>
      <aui-form-item class="region_master_node">
        <label auiFormItemLabel>{{ 'region_master_node' | translate }}</label>
        <rc-cluster-master-fieldset
          name="clusterMaster"
          auiFormItemControl
          #clusterMasterForm
          required
          rcErrorsTooltip
          [isHa]="clusterCreatemodel.cluster_type.is_ha"
          [(ngModel)]="masterList"
        ></rc-cluster-master-fieldset>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'region_slave_node' | translate }}</label>
        <rc-cluster-node-fieldset
          name="clusterNode"
          auiFormItemControl
          [(ngModel)]="nodeList"
        ></rc-cluster-node-fieldset>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'cert_info' | translate }}</label>
        <div style="flex:1">
          <aui-radio-group
            name="certInfo"
            [(ngModel)]="clusterCreatemodel.ssh.type"
          >
            <aui-radio-button value="password">
              {{ 'password' | translate }}
            </aui-radio-button>
            <aui-radio-button value="secret">
              {{ 'notification_webhook_secret' | translate }}
            </aui-radio-button>
          </aui-radio-group>
          <div class="muilt_input">
            <aui-input-group>
              <span class="input-required" auiInputAddonBefore>
                {{ 'username' | translate }}
              </span>
              <input
                aui-input
                required
                name="username"
                [rcErrorsTooltip]
                [(ngModel)]="clusterCreatemodel.ssh.name"
              />
            </aui-input-group>
            <aui-input-group>
              <span
                class="input-required"
                auiInputAddonBefore
                *ngIf="clusterCreatemodel.ssh.type == 'password'"
              >
                {{ 'password' | translate }}
              </span>
              <span
                class="input-required"
                auiInputAddonBefore
                *ngIf="clusterCreatemodel.ssh.type == 'secret'"
              >
                {{ 'secret_key_address' | translate }}
              </span>
              <input
                aui-input
                required
                name="secret"
                [rcErrorsTooltip]
                [(ngModel)]="clusterCreatemodel.ssh.secret"
              />
            </aui-input-group>
            <aui-input-group>
              <span class="input-required" auiInputAddonBefore>
                {{ 'port' | translate }}
              </span>
              <input
                aui-input
                required
                type="number"
                name="port"
                [rcErrorsTooltip]
                [(ngModel)]="clusterCreatemodel.ssh.port"
              />
            </aui-input-group>
          </div>
        </div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'network_mode' | translate }}</label>
        <aui-radio-group name="networkModal" [(ngModel)]="cniType">
          <aui-radio-button value="none">
            {{ 'no_network' | translate }}
          </aui-radio-button>
          <aui-radio-button value="flannel_vxlan">
            Flannel Vxlan
          </aui-radio-button>
          <aui-radio-button value="flannel_host_gw">
            Flannel Host-GW
          </aui-radio-button>
          <aui-radio-button value="calico">Calico</aui-radio-button>
          <aui-radio-button value="macvlan">MacVlan</aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item
        *ngIf="
          ['flannel_vxlan', 'flannel_host_gw', 'calico', 'macvlan'].includes(
            cniType
          )
        "
      >
        <label auiFormItemLabel>CIDR</label>
        <input
          auiFormItemControl
          aui-input
          required
          name="cidr"
          [rcErrorsTooltip]
          [pattern]="cidrReg.pattern"
          [rcErrorsTooltipMapper]="{ pattern: cidrReg.tip | translate }"
          [(ngModel)]="clusterCreatemodel.cni.cidr"
          maxlength="63"
        />
      </aui-form-item>
      <ng-container *ngIf="cniType === 'macvlan'">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'gateway' | translate }} IP</label>
          <input
            auiFormItemControl
            aui-input
            required
            name="macvlan_gateway"
            [rcErrorsTooltip]
            [(ngModel)]="clusterCreatemodel.cni.macvlan_gateway"
          />
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'subnet' | translate }}</label>
          <input
            auiFormItemControl
            aui-input
            required
            name="macvlan_subnet_start"
            [rcErrorsTooltip]
            [(ngModel)]="clusterCreatemodel.cni.macvlan_subnet_start"
          />
          <span style="margin:0px 5px;">~</span>
          <input
            auiFormItemControl
            aui-input
            required
            name="macvlan_subnet_end"
            [rcErrorsTooltip]
            [(ngModel)]="clusterCreatemodel.cni.macvlan_subnet_end"
          />
        </aui-form-item>
      </ng-container>
    </form>
  </div>
</div>

<div class="resource-form__footer" [hidden]="!initialized">
  <div style="flex: 1;"></div>
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    <span>{{ 'confirm' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
