$borderColor: #e8e8e8;
.healthcheck-table-content {
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  .healthcheck-table-cell {
    &.fill {
      width: 100%;
    }
    display: flex;
    width: 50%;
    line-height: 24px;
    .healthcheck-table-cell-label {
      border: 1px solid $borderColor;
      border-right: none;
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 184px;
      background-color: #f4f4f4;
      padding: 4px 8px;
      text-align: right;
      &.fix {
        border-bottom: 1px solid $borderColor;
      }
    }
    .healthcheck-table-cell-content {
      width: 100%;
      border-top: 1px solid $borderColor;
      padding: 4px 8px;
      &.fix {
        border-bottom: 1px solid $borderColor;
      }
    }
  }
}
