<ng-container *ngIf="viewModel; else nodata">
  <ng-container *ngIf="kind === 'livenessProbe'">
    <div class="healthcheck-table-content">
      <div class="healthcheck-table-cell fill">
        <div class="healthcheck-table-cell-label">
          {{ 'health_check_kind' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ 'health_check_kind_livenessProbe' | translate }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'protocol_type' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ viewModel.protocol }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'launch_time' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ viewModel.initialDelaySeconds }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'k8s_service_period_seconds' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ viewModel.periodSeconds }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'k8s_service_timeout_seconds' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ viewModel.timeoutSeconds }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'k8s_service_success_threshold' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ viewModel.successThreshold }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div
          class="healthcheck-table-cell-label"
          [class.fix]="viewModel.protocol === 'TCP'"
        >
          {{ 'k8s_service_failure_threshold' | translate }}
        </div>
        <div
          class="healthcheck-table-cell-content"
          [class.fix]="viewModel.protocol === 'TCP'"
        >
          {{ viewModel.failureThreshold }}
        </div>
      </div>
      <!-- mark off HTTP/TCP/EXEC -->
      <ng-container *ngIf="viewModel.protocol === 'HTTP'">
        <!-- scheme -->
        <div class="healthcheck-table-cell">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_scheme' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            {{ viewModel.scheme }}
          </div>
        </div>
        <!-- port -->
        <div class="healthcheck-table-cell">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_port' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            {{ viewModel.port }}
          </div>
        </div>
        <!-- path -->
        <div class="healthcheck-table-cell fill">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_path' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            {{ viewModel.path }}
          </div>
        </div>
        <!-- Header -->
        <div class="healthcheck-table-cell fill">
          <div class="healthcheck-table-cell-label">
            {{ 'healthcheck_request_headers' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            <div *ngFor="let header of viewModel.headers">
              name:{{ header.name }}; value: {{ header.value }}
            </div>
            <ng-container *ngIf="!viewModel.headers.length">
              {{ 'no_header' | translate }}
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="viewModel.protocol === 'TCP'">
        <!-- port -->
        <div class="healthcheck-table-cell">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_port' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            {{ viewModel.port }}
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="viewModel.protocol === 'EXEC'">
        <!-- command -->
        <div class="healthcheck-table-cell fill">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_command' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            <div *ngFor="let cmd of viewModel.commands">
              {{ cmd.command }}
            </div>
            <ng-container *ngIf="!viewModel.commands.length">
              {{ 'no_exec_cmd' | translate }}
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="kind === 'readinessProbe'">
    <div class="healthcheck-table-content">
      <div class="healthcheck-table-cell fill">
        <div class="healthcheck-table-cell-label">
          {{ 'health_check_kind' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ 'health_check_kind_readinessProbe' | translate }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'protocol_type' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ viewModel.protocol }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'launch_time' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ viewModel.initialDelaySeconds }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'k8s_service_period_seconds' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ viewModel.periodSeconds }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'k8s_service_timeout_seconds' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ viewModel.timeoutSeconds }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'k8s_service_success_threshold' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ viewModel.successThreshold }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div
          class="healthcheck-table-cell-label"
          [class.fix]="viewModel.protocol === 'TCP'"
        >
          {{ 'k8s_service_failure_threshold' | translate }}
        </div>
        <div
          class="healthcheck-table-cell-content"
          [class.fix]="viewModel.protocol === 'TCP'"
        >
          {{ viewModel.failureThreshold }}
        </div>
      </div>
      <!-- mark off HTTP/TCP/EXEC -->
      <ng-container *ngIf="viewModel.protocol === 'HTTP'">
        <!-- scheme -->
        <div class="healthcheck-table-cell">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_scheme' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            {{ viewModel.scheme }}
          </div>
        </div>
        <!-- port -->
        <div class="healthcheck-table-cell">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_port' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            {{ viewModel.port }}
          </div>
        </div>
        <!-- path -->
        <div class="healthcheck-table-cell fill">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_path' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            {{ viewModel.path }}
          </div>
        </div>
        <!-- Header -->
        <div class="healthcheck-table-cell fill">
          <div class="healthcheck-table-cell-label">
            {{ 'healthcheck_request_headers' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            <div *ngFor="let header of viewModel.headers">
              name:{{ header.name }}; value: {{ header.value }}
            </div>
            <ng-container *ngIf="!viewModel.headers.length">
              {{ 'no_header' | translate }}
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="viewModel.protocol === 'TCP'">
        <!-- port -->
        <div class="healthcheck-table-cell">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_port' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            {{ viewModel.port }}
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="viewModel.protocol === 'EXEC'">
        <!-- command -->
        <div class="healthcheck-table-cell fill">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_command' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            <div *ngFor="let cmd of viewModel.commands">
              {{ cmd.command }}
            </div>
            <ng-container *ngIf="!viewModel.commands.length">
              {{ 'no_exec_cmd' | translate }}
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
<ng-template #nodata>
  <rc-zero-state
    [zeroState]="true"
    [resourceName]="getResourceNameByType(kind)"
  ></rc-zero-state>
</ng-template>
