.event-list {
  display: flex;
  margin-bottom: 8px;
  &__item {
    margin-right: 8px;
    height: 28px;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 16px;
    color: #333;
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;
    &.active {
      background-color: #24a7e3;
      color: #fff;
    }
  }
}

.event-wrapper {
  margin-bottom: 16px;
}
