<div class="event-list">
  <div
    class="event-list__item"
    [ngClass]="{ active: currentEventType === 'platformEvents' }"
    (click)="typeSelect('platformEvents')"
  >
    {{ 'platform_events' | translate }}
  </div>
  <div
    class="event-list__item"
    [ngClass]="{ active: currentEventType === 'k8sEvents' }"
    (click)="typeSelect('k8sEvents')"
  >
    {{ 'k8s_events' | translate }}
  </div>
</div>

<ng-container *ngIf="currentEventType === 'platformEvents'; else elseTemplate">
  <rc-event-list [type]="type | lowercase" [primaryKey]="uuid"></rc-event-list>
</ng-container>

<ng-template #elseTemplate>
  <rc-region-badge-option
    *ngIf="!isUserView"
    onChangeState="."
  ></rc-region-badge-option>
  <div class="event-wrapper">
    <rc-k8s-event-list
      *ngIf="cluster"
      [kind]="kind"
      [names]="names"
      [namespace]="namespace"
      [cluster]="cluster"
      [appFilters]="appFilters"
      [embedded]="embedded"
    ></rc-k8s-event-list>
  </div>
</ng-template>
