@import 'layout.common';
@import 'var';

$nav-list-wrapper-width: $nav-list-width * 2+100px;
:host {
  flex: 1;
  align-self: stretch;
  position: relative;
  background: $page-background-color;
  box-sizing: border-box;
  background-color: #f1f1f1;
  display: flex;
  flex-flow: column;
  min-height: 100%;
  justify-content: center;
  margin: 0;
  color: #494949;
  font-weight: 400;
}

.nav-list-container {
  position: absolute;
  z-index: 2;
  display: block;
  left: 0;
  top: 0;
  width: $nav-list-width;
  height: 100%;
  overflow: hidden;
  transition: left $nav-animation-duration, box-shadow $nav-animation-duration,
    transform $nav-animation-duration-faster;
}

.nav-collapse-handle-bar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 50%;
  right: -4px;
  background-color: #3e4e59;
  width: 16px;
  height: 36px;
  font-size: 16px;
  color: #fff;
  opacity: 0.8;
  transition: all $nav-animation-duration-faster;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;

  &:hover {
    right: 0;
    opacity: 1;
    transform: scaleY(1.1);
  }
}

.nav-expand-handle-bar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 100px;
  left: -2px;
  background-color: #eaeaeb;
  width: 16px;
  height: calc(100% - 200px);
  font-size: 16px;
  color: #555;
  transition: all $nav-animation-duration-faster;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 2px #eee;

  &:hover {
    left: 0;
    box-shadow: 0 0 5px #aaa;
    transform: scaleY(1.05);
  }
}

.nav-list-container.nav-collapsed {
  left: -100%;
}

.nav-list-container.nav-collapsed.nav-floating {
  box-shadow: 5px 0 20px;
  left: 0;
}

.right-pane {
  position: absolute;
  z-index: 0;
  left: $nav-list-width;
  top: 0;
  height: 100%;
  width: calc(100% - #{$nav-list-width});
}

.right-pane.nav-collapsed {
  left: 0;
  width: 100%;
}

header.nav-logo-container {
  position: relative;
  width: $nav-list-width;
  height: $page-header-height;
  background-color: $nav-background-color-secondary;
  img.logo {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 30px;
    max-width: 140px;
    opacity: 1;
    transition: opacity $nav-animation-duration;
  }
}

rc-nav-list {
  height: calc(100% - #{$page-header-height});
}

rc-header-toolbar {
  position: relative;
  z-index: 3;
  flex-shrink: 0;
}

rc-page-container {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  margin-top: $page-header-height;
  width: 100%;
  height: calc(100% - #{$page-header-height});
}
