@import 'var';

:host {
  $dash-border-color: #e5e1e1;
  $tip-color: #bdc8cf;
  $tip-bg-color: #f5f6f6;

  .rule-type {
    width: 138px;
    min-width: 138px;
    flex: 0;
  }

  .rule-indicator {
    position: relative;
    flex: 1;
    border-radius: 3px;

    > ul > li {
      margin-top: 8px;
      list-style: none;

      &:not(.add-indicator) {
        display: flex;

        > :first-child {
          flex: 1;
        }

        > span:last-child {
          display: flex;
          padding-left: 10px;
          align-items: center;
        }
      }
    }
  }

  .remove-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    color: #999;

    .disabled {
      cursor: not-allowed;
      color: #ccc !important;
    }

    &:hover {
      color: #009ce3;
    }

    aui-icon {
      cursor: pointer;
      font-size: 16px;
      color: inherit;
      opacity: inherit;
    }
  }

  .key-indicator {
    display: flex;
  }

  .match-value {
    display: flex;
    flex: 1;

    .match-value-container__range {
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;

      .input-range {
        flex: 1;
      }
    }

    &:not(:first-child) {
      padding-left: 8px;
    }

    > input {
      flex: 1;
    }

    > span {
      padding: 0 8px;
      align-self: center;
    }
  }

  .add-indicator {
    font-size: 12px;
    color: $blue-6;
    cursor: pointer;
    background-color: #fff;
    border-radius: 2px;
    text-align: center;
    padding: 3px;
    border: 1px dashed #009ce3;

    &:hover {
      background-color: #e3f3fa;
      transition: background-color 0.2s ease;
    }
  }
}
