<form [formGroup]="form">
  <div class="rule-indicator">
    <ul class="list-unstyled">
      <li
        style="align-items: center"
        *ngFor="let control of form?.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="key-indicator">
          <aui-select
            *ngIf="ruleIndicatorType !== 'HOST'"
            formControlName="type"
            class="rule-type"
            rcErrorsTooltip
          >
            <aui-option
              *ngFor="
                let type of ruleIndicatorType &&
                  matchTypesMap.get(ruleIndicatorType).matchTypes
              "
              [value]="type"
            >
              {{ type }}
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-select>
          <div class="match-value">
            <div
              [hidden]="control.get('type').value !== 'Range'"
              class="match-value-container__range"
            >
              <input
                type="text"
                aui-input
                class="input-range"
                rcErrorsTooltip
                formControlName="startValue"
              />
              <span style="margin:0 2px;">～</span>
              <input
                type="text"
                aui-input
                class="input-range"
                rcErrorsTooltip
                formControlName="endValue"
              />
            </div>

            <div
              style="width: 100%;"
              [hidden]="control.get('type').value === 'Range'"
            >
              <input
                type="text"
                aui-input
                rcErrorsTooltip
                formControlName="value"
              />
            </div>
          </div>
        </div>
        <span class="remove-indicator">
          <ng-container
            *ngIf="i!==0||form?.controls?.length>1;else disableIcon"
          >
            <aui-icon icon="basic:minus_circle" (click)="remove(i)"></aui-icon>
          </ng-container>
          <ng-template #disableIcon>
            <aui-icon icon="basic:minus_circle" class="disabled"></aui-icon>
          </ng-template>
        </span>
      </li>

      <li
        *ngIf="lbType && ruleIndicatorType"
        class="add-indicator"
        (click)="add()"
      >
        <aui-icon icon="basic:add_circle"></aui-icon>
        {{ 'add' | translate }}
      </li>
    </ul>
  </div>
</form>
