<aui-dialog-header>
  {{ 'update_quota' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <rc-loading-mask [loading]="loading"></rc-loading-mask>
  <form *ngIf="!loading" #quotaForm="ngForm" novalidate>
    <!-- mirror regions -->
    <div *ngFor="let id of keys(mirrorRegionsMap)">
      <h2
        class="mirror-header"
        [auiTooltip]="mirrorRegionsMap[id][0].mirror.name"
        [auiTooltipPosition]="'top start'"
      >
        {{ mirrorRegionsMap[id][0].mirror.display_name }}
      </h2>
      <div class="set-same-quota">
        <aui-checkbox
          [(ngModel)]="setSameQuotaFlags[id]"
          [ngModelOptions]="{ standalone: true }"
        >
          {{ 'set_same_quota' | translate }}
        </aui-checkbox>
      </div>
      <div
        *ngFor="let region of mirrorRegionsMap[id]; let i = index"
        [hidden]="i > 0 && setSameQuotaFlags[id]"
      >
        <div class="region-header" [hidden]="setSameQuotaFlags[id]">
          <span [auiTooltip]="region.name">{{ region.display_name }}</span>
          <i
            class="fa toggle"
            (click)="mirrorHiddenFlags[id][i] = !mirrorHiddenFlags[id][i]"
            [class.fa-angle-left]="mirrorHiddenFlags[id][i]"
            [class.fa-angle-down]="!mirrorHiddenFlags[id][i]"
          ></i>
        </div>
        <div [hidden]="mirrorHiddenFlags[id][i] && !setSameQuotaFlags[id]">
          <aui-form-item *ngFor="let key of quotaKeys">
            <label auiFormItemLabel>{{ key | translate }}</label>
            <aui-input-group auiFormItemControl>
              <input
                aui-input
                type="number"
                pattern="^[0-9]\d*$"
                [name]="key + id + i"
                #curr="ngModel"
                [placeholder]="quotaPlaceholder"
                [(ngModel)]="region.quota[key]"
              />
              <span auiInputAddonAfter>
                {{ getQuotaUnit(key) | translate }}
              </span>
            </aui-input-group>
            <span auiFormItemHint>
              {{
                setSameQuotaFlags[id]
                  ? getMirrorQuotaLimitDesc(key, mirrorRegionsMap[id])
                  : getQuotaLimitDesc(key, region)
              }}
            </span>
            <div auiFormItemError *ngIf="curr.errors?.pattern">
              {{ 'integer_pattern' | translate }}
            </div>
          </aui-form-item>
        </div>
      </div>
    </div>
    <!-- normal regions -->
    <div
      *ngFor="let region of normalRegions; let i = index"
      class="normal-regions"
    >
      <div class="region-header">
        <span [auiTooltip]="region.name">{{ region.display_name }}</span>
        <i
          class="fa toggle"
          (click)="normalHiddenFlags[i] = !normalHiddenFlags[i]"
          [class.fa-angle-left]="normalHiddenFlags[i]"
          [class.fa-angle-down]="!normalHiddenFlags[i]"
        ></i>
      </div>
      <div [hidden]="normalHiddenFlags[i]">
        <aui-form-item *ngFor="let key of quotaKeys">
          <label auiFormItemLabel>{{ key | translate }}</label>
          <aui-input-group auiFormItemControl>
            <input
              aui-input
              type="number"
              pattern="^[0-9]\d*$"
              [name]="key + i"
              #curr="ngModel"
              [placeholder]="quotaPlaceholder"
              [(ngModel)]="region.quota[key]"
            />
            <span auiInputAddonAfter>{{ getQuotaUnit(key) | translate }}</span>
          </aui-input-group>
          <span auiFormItemHint>{{ getQuotaLimitDesc(key, region) }}</span>
          <div auiFormItemError *ngIf="curr.errors?.pattern">
            {{ 'integer_pattern' | translate }}
          </div>
        </aui-form-item>
      </div>
    </div>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="submit()" [disabled]="loading">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
</aui-dialog-footer>
