@import 'var';

:host {
  .form-footer {
    border-top: 1px solid #eee;
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
  }
  ::ng-deep {
    aui-form-item {
      .aui-input-group__addon--after {
        width: 40px;
        justify-content: center;
      }
      .aui-form-item__label-wrapper {
        flex: 2;
      }
      .aui-form-item__container {
        flex: 12;
        padding-right: 5%;
        .aui-form-item__control {
          width: 100%;
        }
      }
      .aui-form-item__error {
        margin-top: 4px;
      }
    }
  }
  .mirror-header {
    display: flex;
    font-size: 18px;
    font-weight: normal;
    &::before {
      width: 3px;
      height: 18px;
      background-color: $color-primary;
      content: '';
      display: block;
      margin-right: 10px;
    }
  }
  .region-header {
    font-size: 14px;
    margin: 10px 0;
    i.fa {
      cursor: pointer;
      margin-left: 8px;
    }
  }
  .normal-regions .region-header {
    font-size: 18px;
  }
  .set-same-quota {
    margin-bottom: 10px;
  }
}
