<aui-card *ngIf="data">
  <div auiCardHeader>
    {{ 'pod' | translate }}
  </div>
  <div auiCardContent>
    <aui-table [dataSource]="data">
      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
      <ng-container auiTableColumnDef="pod_name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          {{ rowData.name }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="pod_type">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'type' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          {{ rowData.kind }}
        </aui-table-cell>
      </ng-container>
    </aui-table>
    <rc-zero-state
      *ngIf="!(data && data?.length > 0)"
      [zeroState]="true"
      resourceName="pod"
    ></rc-zero-state>
  </div>
</aui-card>
