<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a
        href="javascript:void(0)"
        [routerLink]="['/console/user/workspace', baseParams, 'app']"
      >
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <ng-container *ngIf="!isUpdatingApp">
      <aui-breadcrumb-item>
        {{ 'create_app' | translate }}({{ 'preview' | translate }})
      </aui-breadcrumb-item>
    </ng-container>
    <ng-container *ngIf="isUpdatingApp">
      <aui-breadcrumb-item>
        <a
          href="javascript:void(0)"
          [routerLink]="[
            '/console/user/workspace',
            baseParams,
            'app',
            'detail',
            appName
          ]"
        >
          {{ appName }}
        </a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>
        {{ 'update_app' | translate }}({{ 'preview' | translate }})
      </aui-breadcrumb-item>
    </ng-container>
    <aui-breadcrumb-item>
      {{ 'update_compute_component' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask
  style="height: 100px;"
  *ngIf="!formModel"
  [loading]="!formModel"
  [plain]="true"
></rc-loading-mask>

<ng-container *ngIf="formModel">
  <form #form="ngForm" auiForm [auiFormEmptyAddon]="true">
    <rc-component-form
      name="formModel"
      [cluster]="baseParams.cluster"
      [namespace]="baseParams.namespace"
      [(ngModel)]="formModel"
      [isUpdate]="!!isUpdatingApp"
    ></rc-component-form>
    <!-- <pre>{{form.value | json}}</pre> -->
    <!-- <pre>{{this.appDataService.applicationModel | json}}</pre> -->
  </form>

  <div class="form-footer">
    <span fxFlex></span>
    <button aui-button="primary" (click)="save()">
      {{ 'save' | translate }}
    </button>
    <button aui-button (click)="back()">{{ 'cancel' | translate }}</button>
  </div>
</ng-container>
