<aui-card
  *rcAsyncData="
    let data;
    handler: fetchSecret;
    params: _params;
    notification: refresh$
  "
>
  <div auiCardHeader class="base-header">
    <div class="title">
      <span>{{ data?.name || '-' }}</span>
    </div>
    <rc-menu-trigger
      [menu]="actionsMenu"
      [context]="{ data: data }"
    ></rc-menu-trigger>
  </div>
  <div class="rc-detail">
    <div class="rc-detail__row">
      <div class="rc-detail__field">
        <label>{{ 'display_name' | translate }}</label>
        <span>{{ data?.displayName || '-' }}</span>
      </div>
      <div class="rc-detail__field">
        <label>{{ 'created_at' | translate }}</label>
        <span>{{ data?.creationTimestamp | rcFormatUtcStr }}</span>
      </div>
    </div>

    <div class="rc-detail__group-header">
      {{ 'data' | translate }}
    </div>
    <div class="rc-detail__row">
      <div class="rc-detail__field">
        <label>{{ 'secret_type' | translate }}</label>
        <ng-container [ngSwitch]="data?.type">
          <span *ngSwitchCase="secretTypes.BasicAuth">
            {{ 'secret_username_password' | translate }}
          </span>
          <span *ngSwitchCase="secretTypes.OAuth2">
            {{ 'secret_oauth2' | translate }}
          </span>
          <span *ngSwitchCase="secretTypes.DockerConfig">
            {{ 'secret_docker_registry' | translate }}
          </span>
          <span *ngSwitchCase="secretTypes.SSH">
            {{ 'secret_ssh' | translate }}
          </span>
        </ng-container>
      </div>
    </div>
    <div class="rc-detail__row">
      <div class="rc-detail__field">
        <label>{{ 'secret_data_info' | translate }}</label>
        <ng-container [ngSwitch]="data?.type">
          <span *ngSwitchCase="secretTypes.BasicAuth">
            {{ 'secret_basic_data_info' | translate }}
          </span>
          <span *ngSwitchCase="secretTypes.OAuth2">
            {{ 'secret_oauth_data_info' | translate }}
          </span>
          <span *ngSwitchCase="secretTypes.DockerConfig">
            {{ 'secret_image_data_info' | translate }}
          </span>
          <span *ngSwitchCase="secretTypes.SSH">
            {{ 'secret_ssh_privatekey' | translate }}
          </span>
        </ng-container>
      </div>
    </div>
  </div>
</aui-card>

<aui-menu #actionsMenu>
  <ng-template auiMenuContent let-data="data">
    <aui-menu-item
      [disabled]="loading || !permissions.canUpdate"
      (click)="update()"
    >
      {{ 'update' | translate }}
    </aui-menu-item>
    <aui-menu-item
      type="danger"
      [disabled]="loading || !permissions.canDelete"
      (click)="delete(data)"
    >
      {{ 'delete' | translate }}
    </aui-menu-item>
  </ng-template>
</aui-menu>
