:host {
  .base-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: -7px 0px;

    div:first-child {
      display: flex;
      align-items: center;
      div:first-child {
        width: 48px;
        margin-right: 8px;
        height: 36px;
        img {
          width: 100%;
          height: 36px;
        }
      }
    }
  }
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}
.rc-detail {
  &__group-header {
    border-top: dashed 1px #ccc;
    font-size: 16px;
    line-height: 22px;
    padding: 14px 0;
    font-weight: 500;
    margin-top: 16px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    & + & {
      margin-top: 12px;
    }
  }
  &__field {
    flex: 1;
    display: flex;
    min-width: 0;
    flex-direction: row;

    & + & {
      margin-left: 20px;
    }
    > label {
      flex-shrink: 0;
      padding-right: 8px;
      &:after {
        content: ':';
        padding: 0 0 0 2px;
      }
      + * {
        flex: 1;
        &:not(.full) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
