<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/console/admin/notification">
        {{ 'notification' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'detail' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<div class="content" [rcLoadingMask]="loading">
  <aui-card>
    <div auiCardHeader>
      <h3>{{ notification?.name }}</h3>
      <div fxFlex></div>
      <div class="detail-buttons" fxLayout>
        <button aui-button="default" [plain]="true" [auiDropdown]="menu">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <aui-menu-item
            [disabled]="!canUpdate || isDeleting"
            (click)="update()"
          >
            {{ 'update' | translate }}
          </aui-menu-item>
          <aui-menu-item
            [disabled]="!canDelete || isDeleting"
            (click)="delete()"
          >
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </div>
    </div>
    <div class="rc-detail-container" *ngIf="notification && !loadError">
      <div class="detail-wrapper">
        <!-- content -->
        <div class="detail-content">
          <!-- status -->
          <div class="detail-item">
            <label>{{ 'created_by' | translate }}</label>
            <div>{{ notification.created_by }}</div>
          </div>
          <!-- size -->
          <div class="detail-item">
            <label>{{ 'created_at' | translate }}</label>
            <div>{{ notification.created_at | rcFormatUtcStr }}</div>
          </div>
        </div>
      </div>
    </div>
  </aui-card>
  <aui-card *ngIf="!loadError && notification">
    <aui-tab-group type="line">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'notification_subscription_info' | translate }}
        </ng-container>
        <aui-table
          *ngIf="notification"
          [dataSource]="notification.subscriptions"
          [trackBy]="trackByFn"
        >
          <ng-container auiTableColumnDef="method">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'notification_subscription_type' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.method | translate }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="recipient">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'notification_subscription_info' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.recipient }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="secret">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'notification_webhook_secret' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.secret }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="remark">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'notification_subscription_remark' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.remark }}
            </aui-table-cell>
          </ng-container>
          <aui-table-header-row
            *auiTableHeaderRowDef="columns"
          ></aui-table-header-row>
          <aui-table-row
            *auiTableRowDef="let row; columns: columns"
          ></aui-table-row>
        </aui-table>
      </aui-tab>
    </aui-tab-group>
  </aui-card>
</div>
