<aui-dialog-header>
  {{ 'create_alarm_from_template' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelPosition="right">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'region_template_name' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="template"
        required
        clearable
        filterable
        allowCreate
        [loading]="loading"
        [(ngModel)]="template"
      >
        <aui-option-group>
          <div auiOptionGroupTitle>{{ 'workload' | translate }}</div>
          <aui-option
            *ngFor="let temp of templates"
            [label]="temp.name"
            [value]="temp"
            class="alarm-template-option"
          >
            {{ temp.name }}
            <span *ngIf="temp.description" class="description">
              ({{ temp.description }})
            </span>
          </aui-option>
        </aui-option-group>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>
    <ng-container *ngIf="template">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'monitoring_type' | translate }}</label>
        <aui-radio-group
          size="medium"
          auiFormItemControl
          name="kind"
          [(ngModel)]="workload"
        >
          <aui-radio-button [value]="workload">
            {{ 'workload' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'resource_name' | translate }}</label>
        <label>{{ modalData.componentName }}</label>
      </aui-form-item>
      <aui-form-item *ngIf="modalData.metric_type">
        <label auiFormItemLabel>{{ 'alarm_rule' | translate }}</label>
        <table class="alarm-table-rules" cellspacing="0">
          <thead class="alarm-table-rules__header">
            <tr>
              <td>{{ 'alarm_rules_name' | translate }}</td>
              <td>{{ 'alarm_rule' | translate }}</td>
              <td>{{ 'level' | translate }}</td>
              <td>{{ 'alarm_rules_action' | translate }}</td>
            </tr>
          </thead>
          <tbody class="alarm-table-rules__body">
            <tr
              *ngFor="
                let rule of parseAlertList(
                  template.template,
                  '',
                  modalData.metric_type,
                  modalData.clusterName
                )
              "
            >
              <td class="alarm-table-rules__body__host">
                {{ rule.name }}
              </td>
              <td>
                {{ getRule(rule, modalData.metric_type) }}
              </td>
              <td>
                {{ rule.labels?.severity }}
              </td>
              <td>
                {{ getRulesAction(rule) }}
              </td>
            </tr>
          </tbody>
        </table>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" [loading]="submitting" (click)="confirm()">
    {{ 'create' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
