:host {
  .alarm-table-rules {
    border-collapse: collapse;
    width: 100%;
    td {
      padding: 6px 8px;
    }
    &__header {
      background: #f0f0f0;
    }
    &__body {
      background: #fafafa;
      tr:not(:last-child) {
        border-bottom: 1px dashed #e8e8e8;
      }
    }
  }
}

::ng-deep {
  .alarm-template-option {
    .description {
      color: #999;
    }
  }
}
