@import 'var';

$background-color: #fafafa;
$padding: 8px;
$background-color__err: rgb(249, 242, 244);
.input-groups-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: $background-color;
  margin: 0 $padding;
  box-shadow: 0 0 0 $padding $background-color;

  aui-input-group {
    flex: 1;

    &:first-child {
      margin-right: 20px;
    }
  }

  .addon-label {
    white-space: nowrap;
  }
}

:host {
  .autoscaler-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $background-color;
  }

  form.ng-invalid {
    .autoscaler-content-wrapper {
      background-color: $background-color__err;

      .input-groups-wrapper {
        background-color: $background-color__err;
        box-shadow: 0 0 0 $padding $background-color__err;
      }

      span {
        font-size: 12px;
        line-height: 2;
        margin-left: $padding;
        color: $color-error;
      }
    }
  }
}
