<form [formGroup]="form">
  <aui-form-item formGroupName="spec" #spec class="autoscaler-form-item">
    <label auiFormItemLabel>{{ 'service_scaling_config' | translate }}</label>
    <div class="autoscaler-content-wrapper">
      <div class="input-groups-wrapper">
        <aui-input-group>
          <div auiInputAddonBefore class="addon-label">
            {{ 'min_num_instances' | translate }}
          </div>
          <input
            (blur)="onBlur()"
            aui-input
            auiFormItemControl
            min="0"
            [rcErrorsTooltip]
            type="number"
            formControlName="minReplicas"
          />
        </aui-input-group>

        <aui-input-group>
          <div auiInputAddonBefore class="addon-label">
            {{ 'max_num_instances' | translate }}
          </div>
          <input
            (blur)="onBlur()"
            aui-input
            auiFormItemControl
            min="0"
            type="number"
            [rcErrorsTooltip]
            formControlName="maxReplicas"
          />
        </aui-input-group>
      </div>
      <span *ngIf="form.controls['spec'].errors?.minMaxErr">
        {{'minReplicas_larger_than_maxReplicas'|translate}}
      </span>
    </div>
  </aui-form-item>
</form>
