@import '../../../../app/styles/mixins';

.tag-info {
  display: flex;
  align-items: center;
  .tag-text {
    cursor: pointer;
    :hover {
      background-color: #ededed;
    }
  }
}

.update-at {
  font-size: 12px;
  color: #999999;
}

.copy-icon {
  color: #999999;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}

.aui-table__column-digest {
  max-width: 120px;
}
.aui-table__column-action {
  max-width: 68px;
}

rc-scan-status {
  display: block;
  width: 80%;
}
