<aui-table [dataSource]="tags" [trackBy]="trackByName">
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'devops_version' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let tag">
      <div class="tag-info">
        <rc-tag-icon [type]="type" size="large"></rc-tag-icon>
        <div>
          <div
            class="tag-text"
            [auiTooltipCopy]="getFullTagPath(tag)"
            [auiTooltipCopyTip]="
              ('devops_copy_full_tag_path' | translate) + getFullTagPath(tag)
            "
          >
            <span>{{ tag.name }}</span>
          </div>
          <div class="update-at">
            {{ tag.author }}
            {{ 'devops_created_at' | translate }}
            {{ tag.createdAt | rcRelativeTime }}
          </div>
        </div>
      </div>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="vulnerability">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'devops_vulnerability' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let tag">
      <rc-scan-status [tag]="tag"></rc-scan-status>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="size">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'size' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let tag">
      {{ tag.size }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="digest">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'devops_digest' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let tag">
      <aui-icon
        class="copy-icon"
        margin="left"
        icon="copy"
        [auiTooltipCopy]="tag.digest"
      ></aui-icon>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="action">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'action' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let tag">
      <rc-menu-trigger
        [menu]="actions"
        [context]="{ tag: tag }"
      ></rc-menu-trigger>
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row
    *auiTableHeaderRowDef="getRowDef()"
  ></aui-table-header-row>
  <aui-table-row
    *auiTableRowDef="let row; columns: getRowDef()"
  ></aui-table-row>
</aui-table>

<aui-menu #actions>
  <ng-template auiMenuContent let-tag="tag">
    <aui-menu-item (click)="scan(tag)">
      {{ 'devops_scan' | translate }}
    </aui-menu-item>
  </ng-template>
</aui-menu>
