@import 'var';
@import 'mixins';

:host::ng-deep {
  .aui-tab-group {
    background-color: #fff;
  }
  .aui-tab-header,
  .aui-tab-header-active-indicator {
    border-color: $border-color;
  }
  .rc-third-title {
    margin-bottom: 16px;
  }
}

rc-foldable-block ::ng-deep.foldable-bar {
  margin-top: 16px;
}

.pod-spec-container-tabs {
  border: $default-border;
  display: block;
}

.pod-spec-container-tab-content {
  padding-top: 16px;
}

.pod-spec-container-tab-label {
  display: inline-flex;
  align-items: center;
  alk-status-icon {
    margin-right: 4px;
    flex-shrink: 0;
  }

  &__content {
    @include text-overflow();
    max-width: 130px;
  }

  &--no-name {
    font-style: italic;
  }
}

rc-status-icon {
  margin-right: 4px;
}
