<form
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
  [formGroup]="form"
>
  <!-- containers -->
  <h4 class="rc-third-title">
    {{ 'container' | translate }}
  </h4>
  <aui-tab-group
    type="card"
    class="pod-spec-container-tabs"
    [(selectedIndex)]="activeContainerIndex"
  >
    <aui-tab
      *ngFor="
        let container of containersForm.controls;
        index as index;
        trackBy: trackByFn
      "
      [closeable]="containersForm.length > 1"
      (close)="removeContainer(index)"
      class="pod-spec-container-tab"
    >
      <div
        *auiTabLabel
        class="pod-spec-container-tab-label"
        [class.pod-spec-container-tab-label--no-name]="!container.value.name"
      >
        <rc-status-icon
          status="error"
          *ngIf="container.invalid && container.dirty"
        ></rc-status-icon>
        <span class="pod-spec-container-tab-label__content">
          {{ container.value.name || ('no_container_name_hint' | translate) }}
        </span>
      </div>

      <button
        *auiTabHeaderAddon
        type="button"
        aui-button="text"
        size="small"
        type="button"
        (click)="addContainer()"
      >
        <aui-icon icon="basic:plus" style="margin-right: 4px;"></aui-icon>
        {{ 'add_container' | translate }}
      </button>

      <div class="pod-spec-container-tab-content">
        <rc-container-form
          (blur)="onBlur()"
          [project]="project"
          [cluster]="cluster"
          [existedContainerNames]="getExistedContainerNames(index)"
          [namespace]="namespace"
          [formControl]="container"
        ></rc-container-form>
      </div>
    </aui-tab>
  </aui-tab-group>
  <!-- pod advanced -->
  <rc-foldable-block
    hint="{{ 'pod' | translate }} - {{ 'advanced' | translate }}"
    rcPodSpecFormHiddenField="advanced"
  >
    <div class="rc-separator" style="border-top: none;"></div>
    <h4 class="rc-third-title">
      {{ 'pod' | translate }} - {{ 'advanced' | translate }}
    </h4>
    <!-- node selector -->
    <aui-form-item>
      <label auiFormItemLabel>{{ 'node_selector' | translate }}</label>
      <rc-node-selector-form
        formControlName="nodeSelector"
        [cluster]="cluster"
      ></rc-node-selector-form>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'affinity_setting' | translate }}</label>
      <rc-affinity-container-form
        name="affinity"
        auiFormItemControl
        formControlName="affinity"
        [namespace]="namespace"
        [cluster]="cluster"
      ></rc-affinity-container-form>
    </aui-form-item>
  </rc-foldable-block>

  <!-- <pre>{{ form.value | json }}</pre> -->
  <!-- <pre>pod spec form: {{form.status}}</pre> -->
  <!-- <pre>{{containersForm.value | json}}</pre> -->
</form>
