<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="120px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item formGroupName="metadata">
    <label auiFormItemLabel>
      {{ 'name' | translate }}
    </label>
    <input
      (blur)="onBlur()"
      auiFormItemControl
      aui-input
      required
      rcErrorsTooltip
      [rcErrorsTooltipMapper]="{ pattern: resourceNamePattern.tip | translate }"
      formControlName="name"
    />
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'type' | translate }}
    </label>

    <aui-radio-group
      size="medium"
      required
      auiFormItemControl
      formControlName="type"
    >
      <aui-radio-button *ngFor="let type of typeOptions" [value]="type.value">
        {{ type.name }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>

  <aui-form-item [hidden]="!podControllerNameOptions.length">
    <label auiFormItemLabel>
      {{ 'target_component' | translate }}
    </label>
    <aui-select
      [allowCreate]="false"
      [filterable]="false"
      formControlName="podControllerName"
    >
      <aui-option
        *ngFor="
          let item of podControllerNameOptions;
          trackBy: podControllerTrackByFn
        "
        [label]="item.name"
        [value]="item.value"
      >
        {{ item.name }}
      </aui-option>
    </aui-select>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'ports' | translate }}
    </label>
    <rc-array-form-table
      style="flex: 1;"
      formArrayName="ports"
      [noRowSeparator]="true"
      resourceName="ports"
      (add)="addPort()"
      [rows]="getPortFormControls()"
    >
      <ng-container *rcArrayFormTableHeader>
        <td width="100px;" required>
          {{ 'service_port' | translate }}
          <aui-icon
            [auiTooltip]="'service_port_hint' | translate"
            icon="basic:question"
            color="#999"
          ></aui-icon>
        </td>
        <td width="100px;">
          {{ 'target_port' | translate }}
          <aui-icon
            [auiTooltip]="'target_port_hint' | translate"
            icon="basic:question"
            color="#999"
          ></aui-icon>
        </td>
        <ng-container>
          <td>{{ 'load_balancer' | translate }}</td>
          <td width="100px;">
            {{ 'listening_port' | translate }}
            <aui-icon
              [auiTooltip]="'listening_port_hint' | translate"
              icon="basic:question"
              color="#999"
            ></aui-icon>
          </td>
          <td width="100px;">{{ 'protocol' | translate }}</td>
        </ng-container>
      </ng-container>

      <ng-container
        *rcArrayFormTableRow="let control; let i = index"
        [formGroup]="control"
      >
        <td>
          <input
            (blur)="onBlur()"
            required
            aui-input
            formControlName="port"
            rcErrorsTooltip
          />
        </td>
        <td>
          <input (blur)="onBlur()" aui-input formControlName="targetPort" />
        </td>
        <ng-container>
          <td>
            <aui-select
              [allowCreate]="false"
              [filterable]="false"
              (ngModelChange)="ablNameChange(control)"
              formControlName="albName"
            >
              <aui-option
                *ngFor="let item of albNameOptions; trackBy: albTrackByFn"
                [label]="item.name"
                [value]="item.value"
              >
                {{ item.name }}
              </aui-option>
            </aui-select>
          </td>
          <td>
            <input (blur)="onBlur()" aui-input formControlName="albPort" />
          </td>
          <td>
            <aui-select
              [allowCreate]="false"
              [filterable]="false"
              formControlName="albProtocol"
            >
              <aui-option
                *ngFor="let item of protocolOptions"
                [label]="item.name"
                [value]="item.value"
                [disabled]="!isProtocolOptEnable(control,item.value)"
              >
                {{ item.name }}
              </aui-option>
            </aui-select>
          </td>
        </ng-container>
      </ng-container>
      <ng-container *rcArrayFormTableRowControl="let item; let index = index">
        <button
          aui-button="text"
          [disabled]="getPortFormControls().length === 1"
          (click)="removePort($event)"
          [square]="true"
          [plain]="true"
          size="mini"
        >
          <aui-icon icon="basic:minus_circle"></aui-icon>
        </button>
      </ng-container>
    </rc-array-form-table>
  </aui-form-item>
</form>
