<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<ng-container *ngIf="initialized && !empty">
  <rc-app-detail-meta
    [meta]="appMeta"
    [cluster]="cluster"
    [appStatus]="appStatus"
    [actions]="actions"
    [appData]="appData"
  ></rc-app-detail-meta>
  <ng-container *ngFor="let item of allResources; trackBy: trackByFn">
    <rc-app-detail-resource
      *ngIf="item.data.length"
      [kind]="item.kind"
      [resources]="item.data"
      [cluster]="cluster"
      [appStatus]="appStatus"
      [namespace]="namespace"
      [project]="project"
    ></rc-app-detail-resource>
  </ng-container>
</ng-container>

<ng-container *ngIf="initialized && empty">
  <div class="rb-loading-mask-placeholder">
    {{ 'no_data' | translate }}
  </div>
</ng-container>
