:host {
  .form-wrapper {
    margin-bottom: 46px;
    padding: 16px;
    overflow: auto;
    background: #fff;
    .form-title {
      padding-bottom: 16px;
      font-size: 18px;
    }
    form {
      .form-divider {
        border-bottom: 1px solid #ededed;
        margin: 0 8px 10px;
        padding: 5px 0px;
        font-size: 16px;
      }
    }
  }

  .chart {
    height: 188px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    highcharts-chart {
      width: 100%;
      height: 188px;
      display: block;
    }
  }
}
