<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<div class="form-wrapper" *ngIf="initialized">
  <div class="form-title">
    <a (click)="cancel()">
      <aui-icon icon="angle_left"></aui-icon>
    </a>
    {{ formSubmitText | translate }}{{ 'alarm' | translate }}
  </div>
  <form
    #alarmForm="ngForm"
    [formGroup]="form"
    auiForm
    auiFormLabelPosition="right"
  >
    <!-- 监控配置 -->
    <div class="form-divider">
      {{ 'monitoring_setting' | translate }}
    </div>
    <div
      class="chart"
      *ngIf="chartPercentOptions.series && chartNumericOptions.series"
      [rcLoadingMask]="chartLoading"
    >
      <highcharts-chart
        *ngIf="chartPercentOptions.series.length"
        [Highcharts]="Highcharts"
        [options]="chartPercentOptions"
      ></highcharts-chart>
      <highcharts-chart
        *ngIf="chartNumericOptions.series.length"
        [Highcharts]="Highcharts"
        [options]="chartNumericOptions"
      ></highcharts-chart>
      <rc-zero-state
        [zeroState]="
          !chartPercentOptions.series?.length &&
          !chartNumericOptions.series?.length &&
          !chartLoading
        "
        resourceName="data"
        [plain]="true"
      ></rc-zero-state>
    </div>
    <rc-alarm-metric-form
      formType="user"
      [alarm_name]="name"
      [cluster_name]="cluster_name"
      [metric_type]="metric_type"
      [pod_name]="componentName"
      [kind]="componentType"
      [namespace]="alarmUpdateParam.namespaceName"
      formControlName="alarm_metric"
    ></rc-alarm-metric-form>
    <!-- 告警信息 -->
    <div class="form-divider">
      {{ 'alarm_info' | translate }}
    </div>
    <rc-alarm-info-form
      [alarm_name]="name"
      [unit_name]="unit_name"
      [metric_name]="metricName"
      formControlName="info"
    ></rc-alarm-info-form>
    <div class="form-divider">
      {{ 'alarm_action' | translate }}
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'alarm_action' | translate }}</label>
      <div auiFormItemControl>
        <rc-alarm-action
          (alarmActionAdd)="onAlarmActionAdd($event)"
          [componentName]="alarmUpdateParam.componentName || this.componentName"
          [kind]="podController?.kind"
          [actions]="actions"
        ></rc-alarm-action>
      </div>
      <span auiFormItemAddon></span>
    </aui-form-item>
  </form>
  <div>
    <span fxFlex></span>
    <button
      aui-button="primary"
      (click)="onSubmit()"
      [loading]="submitting"
      [disabled]="submitting"
    >
      {{ formSubmitText | translate }}
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</div>
