@import 'var';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-with-pause {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

:host {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  font-size: 16px;
  border-radius: 50%;
  background: #fff;

  ::ng-deep {
    aui-icon {
      display: inline-flex;
    }
  }
}

.status-icon {
  &--success {
    color: $color-success;
  }

  &--error {
    color: $color-error;
  }

  &--running,
  &--pending {
    color: $color-primary;
    transform-origin: center;
    animation: spin 4s infinite linear;
  }

  &--unknown,
  &--stopped {
    color: $color-info;
  }

  &--bound {
    color: $color-primary;
  }

  &--warning,
  &--suspended {
    color: $color-warning;
  }

  &--terminating {
    color: $color-error;
    transform-origin: center;
    animation: spin 4s infinite linear;
  }
}
