<div
  class="header"
  [ngClass]="[
    'history-status',
    'bg',
    history?.status?.phase?.toLowerCase() || ''
  ]"
>
  <div class="content">
    <aui-icon
      class="icon-spin"
      size="32"
      [ngClass]="{
        'icon-spin':
          getHistoryStatusIcon(history?.status?.phase, 'detail').icon ===
          'basic:sync'
      }"
      [icon]="getHistoryStatusIcon(history?.status?.phase, 'detail').icon"
    ></aui-icon>
    <span>{{ history?.name || '-' }}</span>
  </div>
  <div class="operation">
    <button
      aui-button
      type="button"
      size="small"
      [round]="true"
      class="jump-detail"
      [auiTooltip]="'pipeline_click_jenkins_for_more_detail' | translate"
      (click)="goToJenkinsDetail()"
    >
      <aui-icon icon="basic:jenkins"></aui-icon>
      {{ 'jenkins' | translate }}
    </button>
    <rc-menu-trigger [menu]="actionsMenu"></rc-menu-trigger>
    <aui-menu #actionsMenu>
      <aui-menu-item
        *ngIf="history?.status?.phase === 'Running'"
        [disabled]="!permissions.canAbort"
        (click)="cancel()"
      >
        {{ 'pipeline_cancel' | translate }}
      </aui-menu-item>
      <aui-menu-item (click)="delete()" [disabled]="!permissions.canDelete">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </aui-menu>
  </div>
</div>
<div aloCardSectionBody class="basic-body">
  <div class="tab">{{ 'pipeline_log' | translate }}</div>
  <div class="fields">
    <div class="field">
      <ng-container [ngSwitch]="history?.cause?.type">
        <ng-container *ngSwitchCase="'cron'">
          <aui-icon icon="basic:time"></aui-icon>
          {{ 'pipeline_cron' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="'codeChange'">
          <aui-icon icon="basic:code"></aui-icon>
          {{ 'pipeline_code_change' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="'manual'">
          <aui-icon icon="basic:wrench_s"></aui-icon>
          {{ 'pipeline_manual' | translate }}
        </ng-container>
        <ng-container *ngSwitchDefault>{{ '-' }}</ng-container>
      </ng-container>
    </div>
    <div class="field">
      <aui-icon icon="basic:time"></aui-icon>
      <span>
        {{ (history?.status?.startedAt | rcRelativeTime) || '-' }}
      </span>
    </div>
    <div class="field">
      <aui-icon icon="history_s"></aui-icon>
      <span>
        {{ getDuration(history?.status) | rcDurationToConsumed }}
      </span>
    </div>
  </div>
</div>
