.header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: white;
  align-items: center;
  height: 52px;
  padding: 0 20px;
  .content {
    display: flex;
    align-items: center;
    aui-icon {
      height: 32px;
    }
  }
}
.basic-body {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 20px;
  margin: 8px 0;
  align-items: center;
  .tab {
    font-size: 14px;
    width: 60px;
    text-align: center;
    line-height: 40px;
    border-bottom: 2px solid #1bb393;
  }
  .fields {
    display: flex;
    .field {
      width: auto;
      margin: 0 8px;
    }
  }
  .isEnabled {
    color: #009ce3;
  }
}

::ng-deep {
  rc-pipeline-history-basic-info {
    rc-menu-trigger {
      button {
        background-color: transparent !important;
        aui-icon {
          color: #fff;
        }
      }
    }
  }
}

.operation {
  .jump-detail {
    margin-right: 20px;
    background-color: mix(#fff, transparent, 20%);
    color: #fff;
    border: solid 1px rgba(0, 0, 0, 0.05);
    aui-icon {
      color: #fff;
    }
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
