@import 'var';
@import '~@alauda/ui/theme/mixin';
@import '~@alauda/ui/theme/style';

.rc-body {
  overflow: hidden;
  max-height: 100%;
  height: 100%;

  *:focus {
    outline: 0;
  }

  pre,
  code {
    border: 1px solid #eeeeee;
    background-color: #f8f8f8;
    color: #333;
  }

  /* Visual fixes for contradicted ng-show elements */
  .ng-animate.ng-hide-add,
  .ng-animate.ng-hide-add-active {
    display: none;
  }

  /* Some library adding a margin at the bottom. We don't want it. */
  label {
    margin-bottom: 0;
    font-weight: 400; // override bootstrap label styles `font-weight: 700`
  }
}
a[ng-click],
a[click] {
  cursor: pointer;
}
/**
 * Mimic ng-hide in Angular.
 */
[hidden] {
  display: none !important;
}

.rc-text-overflow {
  @include text-overflow;
}
