@import 'var';
@import 'mixins';

$table-flex-large: 4 0 100px;
$table-flex-medium: 1 0 100px;
$table-flex-small: 0 0 100px;

.aui-table {
  // Reset AUI Table styles until they are applied to the master branch.
  .aui-table__header-row {
    margin-top: -1px;
  }

  .aui-table__header-row {
    padding: 0;
  }

  .aui-table__cell,
  .aui-table__header-cell {
    padding: 0 8px;
    white-space: nowrap;
    flex: $table-flex-medium;
  }

  .aui-table__column-action {
    flex: 0 0 44px;
    display: flex;
    justify-content: center;
    .action-button {
      width: 32px;
      height: 32px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #333;

      &:hover,
      &.isActive {
        background-color: #e5f5fc;
        color: #009ce3;
      }

      aui-icon {
        font-size: 16px;
      }
    }
  }

  .aui-table__column-name {
    flex: $table-flex-large;
    @include text-overflow();
    a {
      display: inline-block;
      color: #009ce3;
      text-decoration: none;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .aui-table__column-label,
  .aui-table__column-reason,
  .aui-table__column-message,
  .aui-table__column-image,
  .aui-table__column-node_addresses,
  .aui-table__column-containerImages,
  .aui-table__column-internal_endpoints,
  .aui-table__column-allocated_resources {
    flex: $table-flex-medium;
  }

  .aui-table__column-label {
    max-width: 500px;
  }

  .aui-table__column-count,
  .aui-table__column-type,
  .aui-table__column-restarts {
    flex: $table-flex-small;
    @include text-overflow();
  }

  .aui-table__column-creationTimestamp {
    flex: 1 0 120px;
  }

  .aui-table__column-status,
  .aui-table__column-pods {
    display: flex;
    align-items: center;
    rc-status-icon {
      margin-right: 4px;
    }
  }

  // 应用/容器组名称加图标
  .rc-resource-name-cell {
    display: flex;
    align-items: center;
    img {
      margin-right: 8px;
      width: 48px;
      height: 48px;
      border-radius: 3px;
      flex-shrink: 0;
    }
    .rc-lines {
      display: flex;
      flex-direction: column;
      min-width: 120px;
      .rc-line {
        line-height: 24px;
        a {
          display: block;
          @include text-overflow;
        }
      }
    }
  }
}

.rc-array-form-table {
  flex: 1;
  width: 100%;
  border-spacing: 0;
  background: #fafafa;

  rc-zero-state {
    .zero-state-hint {
      border-bottom: none;
      background: #fafafa;
      padding: 4px;
    }
  }

  thead {
    background: #f0f0f0;
    th,
    td {
      height: 32px;
      text-align: left;
      font-weight: 400;
      &[required]::before {
        content: '*';
        color: $color-error;
        margin-right: 4px;
      }
    }
  }

  th,
  td {
    vertical-align: middle;
    padding: 4px;
    line-height: 24px;
    &:first-child {
      padding-left: 8px;
    }
    &:last-child {
      padding-right: 8px;
    }
  }
  /* We have a convention here that the last column is the action column */
  &__action-col {
    text-align: right;
    padding: 8px 4px;
    white-space: nowrap;
    width: 16px;
    min-width: 16px;

    .action-col__vertical {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      aui-icon {
        margin: 0 !important;
      }
    }

    aui-icon {
      font-size: 16px;
      color: #000;
      cursor: pointer;
      opacity: 0.4;
      &:not(:first-child) {
        margin-left: 4px;
      }
      &:hover {
        opacity: 1;
        color: $color-primary;
      }
      & + aui-icon > .aui-icon {
        margin-left: 0;
      }
    }

    .aui-button aui-icon {
      cursor: inherit;
    }
  }

  &__bottom-control-row {
    td {
      padding-top: 0;
    }
  }

  &__bottom-control-buttons {
    display: flex;
    width: 100%;
    border-top: none;

    .aui-button {
      flex: 1;
      border-style: dashed;

      &--default {
        border-color: #333;

        &:hover {
          border-color: $color-primary;
        }
      }
    }
  }

  &:not(.rc-array-form-table--no-row-separator)
    tr.rc-array-form-table--row-group-start:not(:first-child)
    td {
    border-top: 1px dashed #e8e8e8;
  }

  .rc-table-form-error-hint {
    color: $color-error;
    font-size: 12px;
  }

  td.rc-table-form-error-hint {
    padding-top: 0;
  }
}
