@import 'mixins';

.rc-sample-code-editor-toolbar {
  margin-top: 8px;

  &__label,
  &__button {
    margin-right: 8px;
  }

  .aui-icon {
    font-size: 16px;
  }
}

.rc-sample-code-editor {
  .aui-code-editor {
    min-height: 400px !important;
  }
}

rc-loading-mask.rc-form-loading-mask {
  height: 240px !important;
  background: transparent !important;
}

.aui-form-item__code-editor-toobar {
  .aui-form-item__content {
    flex-wrap: wrap;
  }
}

.aui-form-item__content {
  aui-multi-select,
  aui-select {
    flex: 1;
  }
}

// TODO: refactor using component
.tags-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  display: flex;
  align-items: center;
  margin-right: 4px;
  &__divider {
    margin: 0 4px;
  }
}
// TODO: refactor using component
.tags-toggle {
  cursor: pointer;
  flex-shrink: 0;
  flex-basis: 20px;
  &__label {
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: 12px;
    background: #fafafa;
    color: #666;
    display: inline-block;
    padding: 2px 4px;
  }
}

// aui-menu里的template可以加入这个class获取超出最大高度滚动效果
.aui-menu__scrollable-warpper {
  max-height: 240px;
  margin: -8px;
  padding: 8px;
  overflow: auto;
  @include scroll-bar;
}

.aui-menu__loading-placehoder {
  height: 32px;
  width: 48px;
}

aui-breadcrumb {
  align-self: center;
}

aui-paginator {
  margin-top: 12px;
  display: flex;
  flex-direction: row-reverse;
}

form.ng-submitted {
  .aui-form-item.hasError {
    .aui-input.ng-invalid {
      &,
      &:hover {
        border-color: $color-error;
      }
    }
  }
}

aui-table + rc-zero-state {
  .zero-state-hint {
    border-bottom: $default-border;
  }
}

aui-card + aui-tab-group {
  .aui-tab-group {
    margin-top: 16px;
  }
}

@include zh-form-label-width('body[lang=zh_cn]');
@include en-form-label-width('body[lang=en]');
