@import 'var';

:host + ::ng-deep rc-image-repository-tag-level-label {
  margin-left: 5px;
}

.rb-tag-level-high {
  color: $repository-tag-level-high-color;
}

.rb-tag-level-medium {
  color: $repository-tag-level-medium-color;
}

.rb-tag-level-low {
  color: $repository-tag-level-low-color;
}

.rb-tag-level-negligible {
  color: $repository-tag-level-negligible-color;
}

.rb-tag-level-unknown {
  color: $repository-tag-level-unknown-color;
}

.rb-tag-level-security {
  color: $repository-tag-level-security-color;
}

.rb-tag-level-none {
  color: $repository-tag-level-security-color;
}
