<aui-dialog-header>
  {{ 'k8s_service_update_resource_size' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="150px">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'container_name' | translate }}
      </label>
      <span>{{ dialogData.containerName }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'resource_size' | translate }}
      </label>
      <rc-resources-form
        name="resource"
        auiFormItemControl
        [cluster]="cluster"
        [namespace]="namespace"
        [(ngModel)]="targetContainer.resources"
      ></rc-resources-form>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()" [loading]="submitting">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
