<aui-card *ngIf="data">
  <div auiCardHeader>
    {{ 'basic_info' | translate }}
  </div>
  <div class="rc-detail-container">
    <div class="detail-wrapper">
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'name' | translate }}</label>
          <div>{{ data.metadata.name }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'created_date' | translate }}</label>
          <div>{{ data.metadata.creationTimestamp | rcFormatMs }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'domain' | translate }}</label>
          <div>{{ data.spec.host }}</div>
        </div>
      </div>
    </div>
  </div>
</aui-card>
