<!-- 暂时跳转到旧org页面 -->
<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/rbac']">{{ 'rbac' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/role-template']">
        {{ 'nav_rbac_role-template' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'update' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<!-- 模板基本信息 -->
<section class="basic-info">
  <form class="basic-info-form" #form="ngForm" auiForm>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'rbac_role_template_type' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        name="roleType"
        required
        [placeholder]="'rbac_role_name_hint' | translate"
        [value]="getRoleTypeLevel(data.level) | translate"
        readonly
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'rbac_role-template_name' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        name="name"
        required
        [placeholder]="'rbac_role_name_hint' | translate"
        [value]="data.name"
        readonly
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'rbac_role-template_display_name' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        name="displayName"
        [(ngModel)]="data.display_name"
      />
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'description' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="description"
        [(ngModel)]="data.description"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'rbac_constraints' | translate }}</label>
      <aui-multi-select
        auiFormItemControl
        name="fields"
        [filterable]="true"
        [(ngModel)]="selectedScopes"
        (ngModelChange)="onScopesChange($event)"
      >
        <aui-option
          *ngFor="let scope of scopes"
          [value]="scope"
          [label]="scope | translate"
        >
          {{ scope | translate }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-multi-select>
      <div auiFormItemAddon>
        <a
          href="javascript:void(0);"
          [auiTooltip]="'rbac_template_constraints_hint' | translate"
          auiTooltipType="primary"
          auiTooltipPosition="end top"
        >
          <aui-icon icon="basic:question"></aui-icon>
        </a>
      </div>
    </aui-form-item>
  </form>
</section>

<!-- 权限内容 -->
<section class="content">
  <div class="header-alt">
    {{ 'rbac_content' | translate }}
    <a
      href="javascript:void(0);"
      [auiTooltip]="permissionTooltipTemplate"
      auiTooltipType="primary"
      auiTooltipPosition="end top"
    >
      <aui-icon icon="basic:question"></aui-icon>
      <ng-template #permissionTooltipTemplate>
        <p [innerHtml]="contentTip[lang]"></p>
      </ng-template>
    </a>
  </div>

  <rc-permissions-table
    [(ngModel)]="data.permissions"
    (ngModelChange)="updatePermissions()"
    [type]="TableType.CreateTpl"
    [expanded]="true"
  ></rc-permissions-table>
</section>
<section class="bottom">
  <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  <button aui-button="primary" (click)="submit()">
    {{ 'save' | translate }}
  </button>
</section>
