<div class="alo-service-list">
  <div
    *ngFor="let artifact of artifactList"
    class="alo-service-card"
    (click)="cardClickHandler(artifact)"
  >
    <div class="icon-pos">
      <div
        *ngIf="artifact.status.phase == 'Error'"
        class="alert"
        [auiTooltip]="artifact.status.message"
        [auiTooltipDisabled]="!artifact.status.message"
        auiTooltipPosition="top start"
      >
        <aui-icon icon="exclamation_circle_s"></aui-icon>
      </div>
      <div *ngIf="artifact.integrateBy" class="integrate-by">
        <aui-icon
          icon="basic:project_circle_s"
          [auiTooltip]="getIntegrateBy(artifact.integrateBy)"
          auiTooltipPosition="top"
        ></aui-icon>
      </div>
    </div>

    <div *ngIf="artifact.subscription" class="subscription">
      <span>{{ 'tool_chain_subscription' | translate }}</span>
    </div>

    <div class="icon-stack">
      <img
        class="type-icon"
        [src]="
          '/static/images/tool-chain/' +
          artifact.artifactType.toLowerCase() +
          '.svg'
        "
      />
    </div>

    <div class="title" [title]="artifact.artifactName">
      {{ artifact.artifactName }}
    </div>
    <div class="description">{{ artifact.accessUrl }}</div>

    <div class="tags">
      <aui-tag type="info" [round]="true" size="mini">
        {{ 'tool_chain_' + snakeCase(artifact.kind) | translate }}
      </aui-tag>
    </div>
  </div>
</div>
