@import 'var';
.alo-service-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(204px, 1fr));
  grid-gap: 16px;
}

.alo-service-card {
  padding: 20px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24);
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 0 1px $color-primary, 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  }

  &.disabled::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(242, 242, 242, 0.4);
  }

  &.selected {
    box-shadow: 0 0 0 1px $color-primary;
  }

  &.no-hover {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24);
  }

  .icon-pos {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    line-height: 16px;
    z-index: 11;
    .alert {
      width: 16px;
      height: 16px;
      font-size: 16px;
      color: #f8ac58;
      margin-right: 8px;
    }
    .integrate-by {
      color: #999;
      width: 16px;
      height: 16px;
      font-size: 16px;
      &:hover {
        color: $color-primary;
      }
    }
  }

  .icon-stack {
    height: 60px;
    position: relative;

    .type-icon {
      display: block;
      margin: auto;
      height: 100%;
      width: 80px;
    }
  }

  .title {
    margin: 8px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #333333;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .description {
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
  }

  .tags {
    text-align: center;
    margin-top: 8px;
  }

  .subscription {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 8px;
    height: 20px;
    border-radius: 2px;
    background-color: #fafafa;
    text-align: center;
    font-size: 12px;
    color: #666666;
  }
}
