@import 'var';
$log-hover-background-color: #465155;
$log-context-background-color: #121b1b;

@mixin rc-log-context-border-style() {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  height: 100%;
  width: 0;
  border-left: 1px solid #e1e6e6;
}
:host {
  ::ng-deep {
    em {
      font-style: normal;
      background-color: #f7e8ac;
      color: #1a282f;
    }
    .form-main-container {
      width: 100%;
      .form-input-row {
        width: 100%;
        .rc-tags-input-container {
          width: 100%;
        }
      }
    }
    .aui-input.aui-multi-select {
      height: auto;
      border-radius: 3px 0 0 3px;
    }
    aui-multi-select {
      &.border-round {
        .aui-multi-select {
          border-radius: 3px;
        }
      }
    }
    &.tag-application .aui-tag {
      background-color: #fde8d8 !important;
      &:hover {
        background-color: #f1ccb1 !important;
      }
    }
    &.tag-node .aui-tag {
      background-color: #d5edfa !important;
      &:hover {
        background-color: #a8d5ed !important;
      }
    }
    &.tag-pod .aui-tag {
      background: #cbf2e6 !important;
      &:hover {
        background-color: #9ce5d6 !important;
      }
    }
    &.tag-instance .aui-tag {
      background: #e2f2cb !important;
      &:hover {
        background-color: #c7e59c !important;
      }
    }
    &.tag-path .aui-tag {
      background-color: #fff2cb !important;
      &:hover {
        background-color: #f4de9c !important;
      }
    }
    &.tag-cluster .aui-tag {
      background-color: #d0f1da !important;
      &:hover {
        background-color: #8fe7aa !important;
      }
    }
    &.tag-namespace .aui-tag {
      background-color: #eedef8 !important;
      &:hover {
        background-color: #e4d3f5 !important;
      }
    }
  }
}

.rc-log-section-container {
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  &.log-header {
    display: flex;
    flex: 1;
    .rc-log-dashboard-fields {
      padding: 16px 16px 0;
      flex: 1;
      overflow: visible;
      .field-container {
        display: flex;
        .field-group {
          flex: 1;
        }
      }

      .fa-question-circle {
        font-size: 14px;
        padding: 0 3px;
      }
    }
    .rc-log-dashboard-submit {
      flex: 0 0 122px;
      justify-content: center;
      display: flex;
      background: #f7f7f7;
      button {
        align-self: center;
        width: 72px;
        height: 40px;
      }
    }
  }
  &.log-detail {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    padding: 0 12px 16px;
    flex: 1;
    .rc-log-dashboard-events {
      flex: 0 0 120px;
      position: relative;
      .charts-container {
        position: relative;
        height: 120px;
        .logCount {
          position: absolute;
          top: 0;
          margin-top: 5px;
          margin-left: 15px;
          font-size: 12px;
          background: #fff;
          z-index: 1;
        }
        .chart-wrapper {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100px;
        }
      }
      > .rc-loading-mask-placeholder {
        height: 120px;
        background: #fff;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        color: #a1a1a1;
        flex-direction: column;
      }
    }
    .log-pagination {
      display: flex;
      justify-content: flex-end;
      .log-search-hint {
        margin-top: 12px;
        padding: 6px 6px 0;
      }
    }
  }
}

.aui-multi-select-addon {
  height: auto;
  border-radius: 0 3px 3px 0;
  transform: translateX(-1px);
}

.rc-log-result-wrap {
  display: flex;
  flex: 1;
  max-height: 480px;
  min-height: 450px;
  .rc-log-result {
    font-family: 'Monaco', 'DejaVu Sans Mono', 'Liberation Mono', monospace;
    color: #e1e6e6;
    font-size: 12px;
    background-color: #263238;
    overflow: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    ul {
      margin: 0;
      li {
        position: relative;
        list-style: none;
        > span {
          margin-right: 4px;
        }
        .rc-log-icon {
          font-size: 16px;
          width: 16px;
          height: 20px;
          position: absolute;
          left: 8px;
          top: 4px;
          margin-right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #e1e6e6;
          transition: color 0.2s;
          &.icon-after {
            bottom: 4px;
            top: auto;
          }
          &:hover {
            color: #0badeb;
          }
          .fa-minus-circle {
            color: #0badeb;
          }
        }
        &.rc-log-item {
          padding: 4px 8px;
          background-color: #263238;
          line-height: 20px;
          &:hover {
            background-color: $log-hover-background-color;
          }
          :not(.log-message) {
            display: inline-block;
          }
          .keyword {
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          .log-service {
            color: #ff7c57;
          }

          .log-cluster {
            color: #72f08c;
          }

          .log-node {
            color: #2dcbf6;
          }

          .log-pod {
            color: #7adbd4;
          }

          .log-instance {
            color: #b3db7a;
          }

          .log-path {
            color: #efc241;
          }

          .log-kubernetes_namespace {
            color: #c68eff;
          }

          .log-project {
            color: #ccc;
          }

          .log-message {
            white-space: pre-wrap;
            word-break: break-word;
          }
        }
        .rc-log-context {
          margin: 0 8px;
          background-color: $log-context-background-color;
          border-radius: 4px;
          &.collapse {
            height: 0;
          }
          .log-context-item {
            display: relative;
            line-height: 20px;
            padding: 4px 8px 4px 32px;
          }
          .log-context-item:before {
            @include rc-log-context-border-style();
          }
          &.rc-log-context-before {
            .log-context-item:first-child:before {
              top: 26px;
            }
          }
          &.rc-log-context-after {
            .log-context-item:last-child:before {
              bottom: 26px;
            }
          }
        }
      }
    }
  }
}
