<div class="rc-log-section-container log-header">
  <div class="rc-log-dashboard-fields content-container">
    <form auiForm auiFormLabelWidth="130px">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'monitor_period' | translate }}
        </label>
        <div auiFormItemControl>
          <div class="field-container">
            <aui-select
              name="timestampselect"
              [(ngModel)]="timestampOption"
              (ngModelChange)="onTimestampChanged($event)"
            >
              <aui-option
                *ngFor="let timestampOption of timestampOptions"
                [value]="timestampOption.type"
                [label]="timestampOption.name"
              >
                {{ timestampOption.name }}
              </aui-option>
            </aui-select>
            <div
              class="rc-time-select"
              *ngIf="timestampOption === 'custom_time_range'"
            >
              <label>{{ 'from' | translate }}</label>
              <div
                (valueChange)="onStartTimeSelect($event)"
                [rcCalendar]="dateTimeOptions"
                [(value)]="queryDatesShown.start_time"
              >
                <input aui-input [value]="queryDatesShown.start_time" />
              </div>
              <label>{{ 'to' | translate }}</label>
              <div
                (valueChange)="onEndTimeSelect($event)"
                [rcCalendar]="dateTimeOptions"
                [(value)]="queryDatesShown.end_time"
              >
                <input aui-input [value]="queryDatesShown.end_time" />
              </div>
            </div>
          </div>
          <div *ngIf="timeRangeOutOfDate" class="rc-time-select-out-of-range">
            {{ 'query_condition_time_range_out_of_date' | translate }}
          </div>
        </div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'logs_query_condition' | translate }}
        </label>
        <aui-multi-select
          auiFormItemControl
          class="border-round"
          [(ngModel)]="tags"
          [ngModelOptions]="{ standalone: true }"
          (valueChange)="fetchLogs()"
          [placeholder]="'logs_dashboard_tags_input_placeholder' | translate"
          [loading]="loadingTypes"
          [filterable]="true"
          [allowCreate]="true"
          [trackFn]="trackFn"
          [filterFn]="filterFn"
          [tagClassFn]="tagClassFn"
        >
          <aui-option
            *ngFor="let suggesstion of suggesstions"
            [label]="suggesstion.type + ': ' + suggesstion.name"
            [value]="suggesstion"
          >
            {{ suggesstion.type }}: {{ suggesstion.name }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_results' | translate }}
          </aui-option-placeholder>
        </aui-multi-select>
        <div auiFormItemAddon>
          <aui-icon
            [auiTooltip]="tags_input_search_hint"
            [auiTooltipPosition]="'start center'"
            icon="basic:question"
            color="#999"
          ></aui-icon>
        </div>
      </aui-form-item>
    </form>
  </div>
  <div class="rc-log-dashboard-submit rc-dialog-footer">
    <button [aui-button] (click)="fetchLogs()">
      {{ 'search' | translate }}
    </button>
  </div>
</div>

<div class="rc-log-section-container log-detail">
  <div class="rc-log-dashboard-events">
    <div
      *ngIf="chartData && !loadingSeries && chartData.length > 0"
      class="charts-container"
    >
      <span class="logCount">{{ logCount }}</span>
      <div class="chart-wrapper">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          style="width: 100%; height: 100px; display: block;"
        ></highcharts-chart>
      </div>
    </div>
    <div class="rc-loading-mask-placeholder" *ngIf="loadingSeries">
      {{ 'data_loading' | translate }}
    </div>
    <div
      class="rc-loading-mask-placeholder"
      *ngIf="!loadingSeries && !showChart && initialized"
    >
      {{ 'no_data' | translate }}
    </div>
  </div>

  <!--日志查询结果-->
  <div class="rc-log-result-wrap" [rcLoadingMask]="loadingLogs">
    <div class="rc-log-result">
      <ul *ngFor="let log of logs">
        <li class="rc-log-item">
          <span>{{ log.time * 1000 | rcFormatUtcStr }}</span>
          <span
            class="keyword log-service"
            (click)="
              addKeywordByClick('application', log.application_name);
              $event.stopPropagation()
            "
          >
            {{ log.application_name }}
          </span>
          <span
            class="keyword log-cluster"
            (click)="
              addKeywordByClick('cluster', log.region_name);
              $event.stopPropagation()
            "
          >
            {{ log.region_name }}
          </span>
          <span
            class="keyword log-node"
            (click)="
              addKeywordByClick('node', log.node); $event.stopPropagation()
            "
          >
            {{ log.node }}
          </span>
          <span
            class="keyword log-pod"
            (click)="addKeywordByClick('pod', log.pod_name)"
          >
            {{ log.pod_name }}
          </span>
          <span
            class="keyword log-instance"
            (click)="addKeywordByClick('instance', log.container_id)"
          >
            {{ log.container_id }}
          </span>
          <span
            class="keyword log-path"
            (click)="addKeywordByClick('path', log.file_name)"
          >
            {{ log.file_name }}
          </span>
          <span class="log-kubernetes_namespace">
            {{ log.kubernetes_namespace }}
          </span>
          <span
            *ngIf="!isUserView"
            class="keyword log-project"
            (click)="addKeywordByClick('project', log.project_name)"
          >
            {{ log.project_name }}
          </span>
          <span
            class="log-message"
            *ngIf="hasQueryString"
            [innerHtml]="log.log_data"
          ></span>
          <span class="log-message" *ngIf="!hasQueryString">
            {{ log.log_data }}
          </span>
        </li>
      </ul>
      <ul *ngIf="!logs.length && initialized">
        <li class="rc-log-item">
          <span class="log-message">{{ 'no_data' | translate }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="log-pagination" *ngIf="pagination.count > 0">
    <aui-paginator
      layout="pager,sizes,jumper"
      [disabled]="loadingLogs"
      [(currentPage)]="pagination.current"
      [(pageSize)]="pagination.size"
      [total]="pagination.count"
      (currentPageChange)="currentPageChange($event)"
      (pageSizeChange)="pageSizeChange($event)"
      [pageSizeOptions]="[10, 20, 50, 100]"
    ></aui-paginator>
    <aui-icon
      icon="basic:question"
      class="log-search-hint"
      auiTooltipPosition="start center"
      auiTooltipType="info"
      [auiTooltip]="'logs_search_hint' | translate"
    ></aui-icon>
  </div>
</div>

<ng-template #tags_input_search_hint>
  <div>{{ 'logs_dashboard_search_hint_1' | translate }}</div>
  <div>{{ 'logs_dashboard_search_hint_2' | translate }}</div>
</ng-template>
