<aui-dialog-header>
  {{ data.title || ('jenkinsfile_content_example' | translate) }}
</aui-dialog-header>
<aui-dialog-content>
  <div class="jenkinsfile-content-example">
    <aui-code-editor
      [(ngModel)]="content"
      [actionsConfig]="actionsConfigView"
      [options]="codeEditorOptions"
    ></aui-code-editor>
  </div>
</aui-dialog-content>
