<rc-loading-mask
  class="rc-form-loading-mask"
  [loading]="!initialized"
></rc-loading-mask>
<div class="rc-detail-page-tab-container" *ngIf="initialized">
  <aui-tab-group
    type="line"
    [selectedIndex]="queryParams.activeTabIndex"
    (selectedIndexChange)="onTabIndexChange($event)"
  >
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'detail_info' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-job-detail-info
          [data]="result"
          [baseParams]="baseParams"
          (onDelete)="delete()"
          (onOpenCronJobDetail)="openCronJobDetail($event)"
        ></rc-job-detail-info>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'pod' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-job-detail-pod-group
          [jobSpec]="result.kubernetes.spec"
          [cluster]="clusterName"
          [namespace]="namespaceName"
        ></rc-job-detail-pod-group>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>
        YAML
      </ng-container>
      <ng-container *auiTabContent>
        <aui-code-editor
          name="yaml"
          [ngModel]="yaml"
          [options]="codeEditorOptions"
          [actionsConfig]="actionsConfigView"
        ></aui-code-editor>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'env' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-pod-controller-detail-env
          [podController]="result.kubernetes"
          [baseParams]="baseParams"
        ></rc-pod-controller-detail-env>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>
        {{'log' | translate}}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-pod-controller-detail-log
          [baseParams]="baseParams"
          [podController]="result.kubernetes"
          [initialState]="logInitialState"
        ></rc-pod-controller-detail-log>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'event' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-job-detail-event
          [data]="result"
          [cluster]="clusterName"
          [namespace]="namespaceName"
        ></rc-job-detail-event>
      </ng-container>
    </aui-tab>
  </aui-tab-group>
</div>
