<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="jumpToListPage()">
        {{ 'pvc' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ data?.kubernetes?.metadata.name }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<rc-pvc-form-container *ngIf="data" [data]="data"></rc-pvc-form-container>
