:host {
  .chart-container {
    height: 240px;
    margin-bottom: 16px;
    background-color: #fff;
    .chart-title {
      padding: 10px 8px;
      border-top: 1px solid #ededed;
      border-bottom: 1px solid #ededed;
      background: #fafafa;
    }
    .chart {
      highcharts-chart {
        width: 100%;
        height: 188px;
        display: block;
      }
    }
  }
}
