<div class="chart-container">
  <div class="chart-title">{{ chartTitle | translate }}</div>
  <div class="chart" [rcLoadingMask]="chartLoading">
    <highcharts-chart
      *ngIf="!chartLoading"
      [Highcharts]="Highcharts"
      [options]="chartOptions"
    ></highcharts-chart>
  </div>
</div>
