@import 'var';
:host {
  display: flex;
  color: #333;
  font-size: 14px;
  background-color: #fff;
  height: 32px;
  border-radius: 20px;
  margin-right: 15px;
}

.project-label {
  padding: 6px 8px 6px 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
  &:hover {
    color: $color-primary;
  }
  &__text {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__icon {
    margin-left: 4px;
  }
}
