<div *ngIf="!(projects$ | async)?.length" class="project-label">
  <div class="project-label__text">{{ 'no_project' | translate }}</div>
</div>

<div
  class="project-label"
  *ngIf="(projects$ | async)?.length"
  #projectTooltip
  style="cursor: pointer;"
  [auiTooltip]="projectListTemplate"
  auiTooltipType="plain"
  auiTooltipPosition="bottom start"
  auiTooltipTrigger="click"
  [auiTooltipDisabled]="!(projects$ | async)?.length"
>
  <div
    class="project-label__text"
    [auiTooltip]="
      ('project' | translate) + ': ' + (currentProject$ | async)?.display_name
    "
    auiTooltipPosition="bottom start"
    auiTooltipClass="rc-font-small"
  >
    {{ (currentProject$ | async)?.display_name || (currentProject$ |
    async)?.name }}
  </div>
  <aui-icon icon="angle_down" class="project-label__icon"></aui-icon>
</div>

<ng-template #projectListTemplate>
  <rc-project-badge-tooltip
    [projects]="projects$ | async"
    [selectedProjectName]="currentProject$ | async"
    (onSelect)="onSelect($event)"
  ></rc-project-badge-tooltip>
</ng-template>
