<div class="project-list__header">
  <input
    #filterInput
    autocomplete="off"
    aui-input
    size="small"
    name="filter_name"
    [(ngModel)]="filterName"
    (ngModelChange)="filterName$.next($event)"
    [placeholder]="'filter_by_name_placeholder' | translate"
  />
</div>
<div class="project-list__items">
  <div
    *ngFor="
      let project of (filteredProjects$ | async);
      trackBy: trackByProjectId
    "
    class="project-list__item"
    (click)="selectProject(project)"
    [title]="project.display_name || project.name"
    [class.active-project]="project.name === selectedProjectName"
  >
    {{ project.display_name || project.name }}
  </div>
  <div
    class="project-list__empty"
    *ngIf="(filteredProjects$ | async)?.length === 0"
  >
    {{ 'no_data' | translate }}
  </div>
</div>
