@import 'var';
@import 'mixins';
:host {
  width: 196px;
  border-radius: 4px;
  background: #fff;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  @include shadow-2;
  .project-list {
    &__header {
      padding: 8px;
    }
    &__empty {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      color: $color-text-help;
    }
    &__items {
      max-height: 284px;
      overflow-y: auto;
      border-top: $default-border;
      @include scroll-bar;
    }
    &__item {
      font-size: 14px;
      font-weight: normal;
      background: #fff;
      white-space: nowrap;
      padding: 8px 10px;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        color: $color-primary;
        background: $color-primary-extra-light;
      }
      &.active-project {
        background: $color-primary-ultra-light;
        font-weight: 700;
        cursor: default;
      }
    }
  }
}
