<div class="rm-content">
  <section class="rm-content__nav">
    <aui-card>
      <div auiCardHeader fxLayout="column">
        <button
          *ngIf="RSRCService.createEnabled"
          aui-button="primary"
          [routerLink]="['../create', {}]"
        >
          <aui-icon icon="basic:plus"></aui-icon>
          {{ 'resource_create' | translate }}
        </button>
        <aui-search
          [searchButton]="false"
          placeholder="{{ 'filter_by_name_placeholder' | translate }}"
          (search)="navSearch($event)"
          (keywordChange)="onChangeHandler($event)"
        ></aui-search>
      </div>

      <rc-zero-state
        [zeroState]="navZeroState"
        [fetching]="navLoading"
        resourceName="resource_category"
      ></rc-zero-state>

      <ul *ngIf="userView && !navLoading" class="category-list">
        <li
          *ngFor="let item of filteredCategory.namespaced"
          class="category-item"
          [class.isActive]="currentResourceType.kind === item.kind"
          (click)="onKindsClick(item)"
        >
          {{ item.kind }}
        </li>
      </ul>

      <ng-container *ngIf="!userView && !navLoading">
        <div
          class="category-expansion-panel"
          (click)="handleClick('namespaced')"
        >
          <aui-icon
            [icon]="expandedMap['namespaced'] ? 'angle_down' : 'angle_right'"
          ></aui-icon>
          <span>
            {{ 'namespace_correlated' | translate }}
            ({{ filteredCategory.namespaced?.length }})
          </span>
        </div>
        <ul class="category-list" [hidden]="!expandedMap['namespaced']">
          <li
            *ngFor="let item of filteredCategory.namespaced"
            class="category-item"
            [class.isActive]="currentResourceType.kind === item.kind"
            (click)="onKindsClick(item)"
          >
            {{ item.kind }}
          </li>
        </ul>
        <div class="category-expansion-panel" (click)="handleClick('region')">
          <aui-icon
            [icon]="expandedMap['region'] ? 'angle_down' : 'angle_right'"
          ></aui-icon>
          <span>
            {{ 'region_correlated' | translate }}
            ({{ filteredCategory.region?.length }})
          </span>
        </div>
        <ul class="category-list" [hidden]="!expandedMap['region']">
          <li
            *ngFor="let item of filteredCategory.region"
            class="category-item"
            [class.isActive]="currentResourceType.kind === item.kind"
            (click)="onKindsClick(item)"
          >
            {{ item.kind }}
          </li>
        </ul>
      </ng-container>
    </aui-card>
  </section>
  <section class="rm-content__list">
    <aui-card>
      <div class="table-card-header" fxLayout>
        {{ currentResourceType.kind }}
        <div fxFlex></div>
        <ng-container *ngIf="!userView && !(regionContext$ | async)">
          <div class="namespace-select" [title]="selectedNamespace">
            <div class="namespace-select__prefix">
              {{ 'namespace' | translate }}:
            </div>
            <aui-select
              [(ngModel)]="selectedNamespace"
              [filterable]="true"
              (ngModelChange)="onNamespaceChange($event)"
              [loading]="namespaceLoading"
            >
              <aui-option [value]="'$all'" [label]="'all' | translate">
                {{ 'all' | translate }}
              </aui-option>
              <aui-option-group>
                <aui-option
                  *ngFor="let i of namespaceOptions"
                  [value]="i"
                  [label]="i"
                >
                  {{ i }}
                </aui-option>
              </aui-option-group>
              <aui-option-placeholder>
                {{ 'no_data' | translate }}
              </aui-option-placeholder>
            </aui-select>
          </div>
        </ng-container>
        <aui-search
          [searchButton]="true"
          [searching]="searching"
          [(keyword)]="keyword"
          placeholder="{{ 'search_by_name_placeholder' | translate }}"
          (search)="searchByName($event)"
        ></aui-search>
      </div>

      <aui-table
        auiSort
        [trackBy]="trackByFn"
        [dataSource]="initialized ? list$ : []"
      >
        <ng-container *ngFor="let column of columnDefs">
          <ng-container [auiTableColumnDef]="column.name">
            <ng-container *ngIf="column.sortable">
              <aui-table-header-cell
                *auiTableHeaderCellDef
                aui-sort-header
                [start]="column.sortStart"
              >
                {{ column.label | translate }}
              </aui-table-header-cell>
            </ng-container>

            <ng-container *ngIf="!column.sortable">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ column.label | translate }}
              </aui-table-header-cell>
            </ng-container>
            <aui-table-cell *auiTableCellDef="let item">
              <ng-container [ngSwitch]="column.name">
                <div *ngSwitchCase="'name'">
                  <a
                    href="javascript:void(0)"
                    (click)="viewResource(item, yamlViewDialog)"
                    [auiTooltip]="item.kubernetes.metadata.name"
                    [auiTooltipPosition]="'top start'"
                  >
                    {{ item.kubernetes.metadata.name }}
                  </a>
                </div>

                <div *ngSwitchCase="'label'">
                  <div
                    class="table-cell__label-container"
                    *ngIf="getLabelValue(item)"
                  >
                    <rc-tags-label [tags]="getLabelValue(item)"></rc-tags-label>
                  </div>
                </div>

                <div *ngSwitchCase="'creationTimestamp'">
                  {{
                    item.kubernetes.metadata.creationTimestamp | rcFormatUtcStr
                  }}
                </div>

                <div *ngSwitchCase="'namespace'">
                  {{ item.kubernetes.metadata.namespace }}
                </div>

                <div
                  *ngSwitchCase="'action'"
                  [auiDropdown]="menu"
                  auiDropdownActive="action-button__active"
                  class="action-button"
                >
                  <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
                </div>
                <aui-menu #menu size="small">
                  <aui-menu-item
                    (click)="updateAction(item)"
                    [disabled]="
                      !RSRCService.hasPermission(
                        item.resource_actions,
                        'update'
                      )
                    "
                  >
                    {{ 'update' | translate }}
                  </aui-menu-item>
                  <aui-menu-item
                    (click)="updateLabelAction(item)"
                    [disabled]="
                      !RSRCService.hasPermission(
                        item.resource_actions,
                        'update'
                      )
                    "
                  >
                    {{ 'labels_update' | translate }}
                  </aui-menu-item>
                  <aui-menu-item
                    (click)="deleteAction(item)"
                    [disabled]="
                      !RSRCService.hasPermission(
                        item.resource_actions,
                        'delete'
                      )
                    "
                  >
                    {{ 'delete' | translate }}
                  </aui-menu-item>
                </aui-menu>
              </ng-container>
            </aui-table-cell>
          </ng-container>
        </ng-container>
        <aui-table-header-row
          *auiTableHeaderRowDef="(columns$ | async)"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: (columns$ | async)"
        ></aui-table-row>
      </aui-table>

      <rc-zero-state
        [zeroState]="showZeroState && !(list$ | async)?.length"
        [fetching]="!initialized && fetching"
        resourceName="resource"
      ></rc-zero-state>

      <aui-paginator
        *ngIf="(listMeta$ | async)?.count > 10"
        [length]="(listMeta$ | async)?.count"
        [pageSize]="(pageParams$ | async)?.pageSize"
        [pageIndex]="(pageParams$ | async)?.pageIndex - 1"
        (page)="pageChanged($event)"
        [pageSizeOptions]="[10, 20, 50, 100]"
      ></aui-paginator>
    </aui-card>
  </section>
</div>

<ng-template #yamlViewDialog let-data>
  <aui-dialog-header>
    {{ data?.name }}{{ 'detail' | translate }}
  </aui-dialog-header>

  <aui-dialog-content>
    <aui-code-editor
      class="rc-sample-code-editor"
      [actionsConfig]="edtiorActions"
      [options]="editorOptions"
      [(ngModel)]="yamlInputValue"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>
