@import 'mixins';
@import '~@alauda/ui/theme/pattern';

:host {
  .table-card-header {
    @include table-card-header;
  }
  .rm-content {
    display: flex;
    &__nav {
      position: absolute;
      top: 0;
      height: 100%;
      overflow: hidden;
      width: 260px;
      .rm-content__nav_scroll-fix {
        height: 20px;
      }
      ::ng-deep aui-card {
        > .aui-card {
          display: flex;
          flex-direction: column;
          height: 100%;

          .aui-card__header {
            flex-shrink: 0;
            > button {
              width: 100%;
              margin-bottom: 16px;
            }
          }

          .aui-card__content {
            height: 100%;
            overflow: auto;
            @include scroll-bar;
          }
        }
      }
    }
    &__list {
      flex: 1;
      min-width: 60%;
      margin-left: 276px;
      aui-card {
        .aui-card__header {
          align-items: center;
          border-bottom: none;
        }
        ::ng-deep .aui-paginator {
          margin-top: 12px;
        }
      }
      .namespace-select {
        display: flex;
        margin-right: 8px;
        border: 1px solid #ccc;
        &__prefix {
          height: 32px;
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 6px 0 6px 8px;
          color: #999;
        }
        &:hover {
          border-color: #009ce3;
        }
      }
      ::ng-deep aui-select {
        .aui-input {
          border: none;
        }
      }
    }
  }
}

.category-list {
  list-style: none;

  .category-item {
    width: 100%;
    text-align: left;
    padding: 0 18px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    &.isActive,
    &:hover {
      color: #4bb0e9;
      background-color: #e6f5fc;
    }
  }
}

.category-expansion-panel {
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 0;
  color: #999;
  font-size: 14px;
  cursor: pointer;
  span {
    margin-left: 2px;
  }
}
