<div class="alo-service-list">
  <div
    *ngFor="let service of services; trackBy: trackByName"
    class="alo-service-card"
    [auiTooltip]="template"
    [auiTooltipDisabled]="
      !(
        subscribeMode &&
        service.status.phase === 'Creating' &&
        canUpdateSubscription
      )
    "
    auiTooltipType="info"
    (click)="cardClickHandler(service)"
    [ngClass]="{
      disabled: subscribeMode && service.status.phase !== 'Ready',
      selected: selectMode && selectedTool?.name === service?.name,
      'no-hover': initTool && service.status.phase === 'Ready'
    }"
  >
    <div class="icon-pos">
      <div
        *ngIf="service.status.phase == 'Error'"
        class="alert"
        [auiTooltip]="service.status.message"
        [auiTooltipDisabled]="!service.status.message"
        auiTooltipPosition="top start"
      >
        <aui-icon icon="exclamation_circle_s"></aui-icon>
      </div>
      <div *ngIf="service.integrateBy && !subscribeMode" class="integrate-by">
        <aui-icon
          icon="basic:project_circle_s"
          [auiTooltip]="getIntegrateBy(service.integrateBy)"
          auiTooltipPosition="top"
        ></aui-icon>
      </div>
      <div
        *ngIf="subscribeMode && service.createdMode === 'assignment'"
        class="integrate-by"
      >
        <aui-icon
          icon="basic:secret_public"
          [auiTooltip]="'tool_chain_assigned_by_platform' | translate"
          auiTooltipPosition="top"
        ></aui-icon>
      </div>
    </div>
    <div *ngIf="service.subscription && !subscribeMode" class="subscription">
      <span>{{ 'tool_chain_subscription' | translate }}</span>
    </div>
    <div class="icon-stack">
      <img
        class="type-icon"
        [src]="
          '/static/images/tool-chain/' +
          (subscribeMode ? service.toolItemType : service.type).toLowerCase() +
          '.svg'
        "
      />
      <img
        *ngIf="service.enterprise"
        class="enterprise-mark"
        [src]="enterpriseIcon$ | async"
      />
      <div
        *ngIf="service.shallow"
        class="shallow-mark"
        [auiTooltip]="'tool_chain_shallow_integrate_tips' | translate"
      >
        <aui-icon icon="info_circle_s"></aui-icon>
      </div>
    </div>
    <div class="title" [title]="service.name">{{ service.name }}</div>
    <div class="description">{{ service.visitHost }}</div>
    <div class="tags" *ngIf="showTag">
      <aui-tag type="info" [round]="true" size="mini">
        {{
          'tool_chain_' +
            snakeCase(subscribeMode ? service.selector.kind : service.toolType)
            | translate
        }}
      </aui-tag>
    </div>
    <ng-template #template>
      <div *ngIf="service.status.phase === 'Creating'">
        {{ 'tool_chain_currently_disabled_hint' | translate }}
        <a (click)="openAllocateDialog(service)">
          {{
            'tool_chain_click_to_allocate_resource'
              | translate: { resource: service.toolItemType }
          }}
        </a>
      </div>
    </ng-template>
    <aui-icon
      *ngIf="selectMode && selectedTool?.name === service?.name"
      class="selected-mark"
      icon="check_triangle_s"
    ></aui-icon>
  </div>
</div>
