<ng-template #template>
  <aui-dialog-header>
    {{ 'update_cluster' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <div class="confirm-resource">
      <span class="confirm-resource__label">{{ 'cluster' | translate }}:</span>
      <aui-checkbox-group [(ngModel)]="selectCluster">
        <aui-checkbox
          *ngFor="let cluster of clusters"
          [label]="cluster.name"
          [disabled]="isDisabled(cluster)"
        >
          {{ cluster.display_name }}
        </aui-checkbox>
      </aui-checkbox-group>
    </div>
    <div class="confirm-content">
      <aui-inline-alert
        type="warning"
        [content]="'mirror_cluster_select_tip' | translate"
      ></aui-inline-alert>
    </div>
  </aui-dialog-content>
  <aui-dialog-footer>
    <div>
      <button aui-button (click)="cancel()">
        {{ 'cancel' | translate }}
      </button>
      <button aui-button="primary" (click)="confirm()">
        {{ 'update' | translate }}
      </button>
    </div>
  </aui-dialog-footer>
</ng-template>
<div class="wapper">
  <div class="tags_wapper">
    <aui-tag *ngFor="let item of value" type="info" round="true">
      {{ getClusterDisplayName(item) }}
    </aui-tag>
  </div>
  <button aui-button="text" type="button" (click)="selectTag(template)">
    <aui-icon icon="basic:pencil_edit"></aui-icon>
  </button>
</div>
