@import 'var';
:host {
  display: block;
  flex: 1;
  padding: 8px;
  background-color: #fafafa;
  .aui-button {
    border-style: dashed;
  }
  aui-icon {
    font-size: 16px;
    color: #000;
    cursor: pointer;
    opacity: 0.4;
    &:hover {
      opacity: 1;
      color: $color-primary;
    }
  }
}

.hc-row {
  display: flex;
  align-items: center;
  &__item {
    flex: 1;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    rc-container-healthcheck-display {
      flex: 1;
    }
  }
  &__action {
    flex: 0 0 16px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.hc-item-divider {
  border-top: 1px dashed $border-color;
  margin: 8px 0;
}
