:host {
  h1,
  h2,
  h3 {
    font-weight: normal;
  }
  h3 {
    margin: 0 0 10px;
  }
  pre {
    border-radius: 4px;
    display: block;
    font-size: 13px;
    line-height: 1.5;
    margin: 0 0 10px;
    padding: 10px;
    word-break: break-all;
    word-wrap: break-word;
  }
}
