<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'image' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/image/repository']">
        {{ 'image_repository' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'help' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<h3>
  <i class="fa fa-fw fa-file-o"></i>
  <a
    [title]="repositoryName"
    [routerLink]="['/console/admin/image/repository/detail']"
    [queryParams]="{
      registryName: registryName,
      repositoryName: repositoryName,
      projectName: projectName,
      isThird: isThird
    }"
  >
    {{ repositoryName }}
  </a>
</h3>

<aui-card>
  <div auiCardHeader>
    <h2>{{ 'repo_guideline' | translate }}</h2>
  </div>
  <aui-section [rcLoadingMask]="!initialized">
    <h3>{{ 'image_registry' | translate }}</h3>
    <pre><code>{{ repositoryIndex }}</code></pre>
    <h3>
      {{ 'pull_image' | translate | rcCapitalizeAll }}
    </h3>
    <pre><code>{{ textPull }}</code></pre>
    <h3>
      {{ 'push_image' | translate | rcCapitalizeAll }}
    </h3>
    <pre><code [innerHTML]="textPush | rcTrustHtml"></code></pre>
    <p [innerHTML]="'repo_help_other_link' | translate | rcTrustHtml"></p>
  </aui-section>
</aui-card>
