<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'nav_network' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a
        href="javascript:void(0)"
        [routerLink]="['/console/admin/load_balancer']"
      >
        {{ 'load_balancer' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ loadBalancerDetail?.metadata.name }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="basicLoading"></rc-loading-mask>
<rc-load-balancer-detail-info
  [cluster]="cluster"
  [data]="loadBalancerDetail"
  [canUpdate]="buttonDisplay('update')"
  [canDelete]="buttonDisplay('delete')"
  (onUpdateDomainSuffix)="updateDomainSuffix()"
  (onDelete)="deleteLB()"
></rc-load-balancer-detail-info>
<aui-card *ngIf="loadBalancerDetail" class="detail-listeners" [divider]="false">
  <div auiCardHeader style="align-items: center">
    {{'lb_listeners' | translate}}
    <div fxFlex></div>
    <button aui-button="primary" [plain]="true" (click)="addPort()">
      {{ 'load_balancer_add_ports' | translate }}
    </button>
  </div>
  <aui-table [dataSource]="frontends" [trackBy]="trackByFn">
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
    <ng-container auiTableColumnDef="port">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'port' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a
          href="javascript:void(0)"
          [routerLink]="[
            '/console/admin/load_balancer/detail',
            loadBalancerDetail.metadata.namespace,
            loadBalancerDetail.metadata.name,
            'port',
            rowData.frontend.metadata.name
          ]"
        >
          {{ rowData.frontend.spec.port }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="protocol">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'protocol' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div class="rc-resource-name-cell">
          {{ rowData.frontend.spec.protocol }}
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="rule">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'rule' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a
          href="javascript:void(0)"
          [routerLink]="[
            '/console/admin/load_balancer/detail',
            loadBalancerDetail.metadata.namespace,
            loadBalancerDetail.metadata.name,
            'port',
            rowData.frontend.metadata.name
          ]"
        >
          {{ rowData.rules.length || 0 }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="default_kube_service">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'default_kube_service' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <ng-container
          *ngIf="
            rowData.frontend.spec.serviceGroup?.services?.length;
            else noService
          "
        >
          <rc-load-balancer-service-weight-display
            [services]="rowData.frontend.spec.serviceGroup.services"
          ></rc-load-balancer-service-weight-display>
        </ng-container>
        <ng-template #noService>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div
          [auiDropdown]="menu"
          class="action-button"
          *ngIf="buttonDisplay('update')"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item
            [disabled]="
              loadBalancerDetail.spec.type === 'elb' ||
              rowData.frontend.spec.protocol === 'tcp'
            "
            (click)="updateDefaultService(rowData)"
          >
            {{ 'update_default_kube_service' | translate }}
          </aui-menu-item>
          <aui-menu-item (click)="deleteFrontend(rowData)">
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
  </aui-table>
  <rc-zero-state
    [zeroState]="empty && !loading"
    [fetching]="loading"
    resourceName="port"
  ></rc-zero-state>
  <aui-paginator
    [length]="count"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    (page)="pageChanged($event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
</aui-card>
