:host {
  .project {
    display: flex;
    span:before {
      width: 24px;
      height: 24px;
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 2px;
      margin-right: 8px;
    }
    .harbor-icon:before {
      background: url('/static/images/tool-chain/list/harbor.svg') no-repeat;
      background-size: 24px 24px;
      padding-right: 8px;
    }
  }
}
