<aui-table [dataSource]="resources$ | async">
  <ng-container auiTableColumnDef="projects">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'tool_chain_harbor_project' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <div class="project">
        <span class="harbor-icon">{{ item.Name }}</span>
      </div>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="access_level">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'tool_chain_access_level' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ parseAccessLevel(item.Metadata) || '-' }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="repo_count">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'tool_chain_image_repository_count' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.RepoCount }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="create_time">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'tool_chain_create_time' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.CreationTime | rcRelativeTime }}
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row
    *auiTableHeaderRowDef="[
      'projects',
      'access_level',
      'repo_count',
      'create_time'
    ]"
  ></aui-table-header-row>
  <aui-table-row
    *auiTableRowDef="
      let row;
      columns: ['projects', 'access_level', 'repo_count', 'create_time']
    "
  ></aui-table-row>
</aui-table>

<rc-zero-state
  [zeroState]="!(resources$ | async)?.length"
  [resourceName]="getToolResourceDisplayName('Harbor')"
></rc-zero-state>
