<aui-dialog-header>{{ 'update' | translate }}</aui-dialog-header>
<aui-dialog-content>
  <div class="alo-integrate-tool">
    <form
      #form="ngForm"
      auiForm
      [auiFormEmptyAddon]="true"
      auiFormLabelWidth="150px"
    >
      <aui-form-item>
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <span>{{ formData.name }}</span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tool_chain_visit_address' | translate }}
        </label>
        <input
          name="visitHost"
          #host="ngModel"
          aui-input
          auiFormItemControl
          required
          [disabled]="tool.public"
          pattern="^(https?)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]$"
          [(ngModel)]="formData.visitHost"
          [placeholder]="'tool_chain_address_input_placeholder' | translate"
        />
        <div auiFormItemError *ngIf="host.errors?.required">
          {{ 'required' | translate }}
        </div>
        <div auiFormItemError *ngIf="host.errors?.pattern">
          {{ 'tool_chain_pattern' | translate }}
        </div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tool_chain_api_address' | translate }}
        </label>
        <input
          name="host"
          #host="ngModel"
          aui-input
          auiFormItemControl
          [(ngModel)]="formData.apiHost"
          [disabled]="tool.public"
          required
          pattern="^(https?)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]$"
        />
        <div auiFormItemError *ngIf="host.errors?.required">
          {{ 'required' | translate }}
        </div>
        <div auiFormItemError *ngIf="host.errors?.pattern">
          {{ 'tool_chain_pattern' | translate }}
        </div>
      </aui-form-item>
      <aui-form-item *ngIf="tool?.setting?.roleSyncEnabled">
        <label auiFormItemLabel>
          {{ 'tool_chain_role_sync_enabled' | translate }}
        </label>
        <aui-checkbox
          [(ngModel)]="formData.roleSyncEnabled"
          name="roleSyncEnabled"
        >
          <aui-icon
            class="helper"
            icon="basic:question"
            [auiTooltip]="'tool_chain_role_sync_enabled_tips' | translate"
          ></aui-icon>
        </aui-checkbox>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tool_chain_allow_subscribe' | translate }}
        </label>
        <aui-checkbox
          (valueChange)="(!formData.allowSubscribe)"
          [(ngModel)]="formData.allowSubscribe"
          name="allowSubscribe"
        >
          <aui-icon
            class="helper"
            icon="basic:question"
            [auiTooltip]="'tool_chain_allow_subscribe_tips' | translate"
          ></aui-icon>
        </aui-checkbox>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tool_chain_use_secrets' | translate }}
        </label>
        <aui-checkbox [(ngModel)]="formData.useSecret" name="useSecret">
          <aui-icon
            class="helper"
            icon="basic:question"
            [auiTooltip]="'tool_chain_use_secrets_tips' | translate"
          ></aui-icon>
        </aui-checkbox>
      </aui-form-item>
      <aui-form-item *ngIf="formData.useSecret">
        <label auiFormItemLabel>{{ 'tool_chain_auth_type' | translate }}</label>
        <aui-radio-group
          auiFormItemControl
          name="secretType"
          [(ngModel)]="formData.secretType"
          (ngModelChange)="resetSecret()"
        >
          <aui-radio-button
            *ngIf="supportedSecretType(secretTypes.BasicAuth)"
            [value]="secretTypes.BasicAuth"
          >
            {{ 'secret_username_password' | translate }}
          </aui-radio-button>
          <aui-radio-button
            *ngIf="supportedSecretType(secretTypes.OAuth2)"
            [value]="secretTypes.OAuth2"
          >
            {{ 'tool_chain_oauth2' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item *ngIf="formData.useSecret">
        <label auiFormItemLabel>{{ 'tool_chain_secrets' | translate }}</label>
        <aui-select
          auiFormItemControl
          name="secret"
          #secret="ngModel"
          [(ngModel)]="formData.secret.name"
          filterable
          required
          class="secret-group"
          [placeholder]="'tool_chain_please_select_secret' | translate"
        >
          <aui-option-group>
            <aui-option
              *ngFor="let item of (secrets$ | async)"
              [value]="item.name"
              [label]="item.name"
              (click)="secretToValue(item)"
            >
              <span>{{ item.name }}</span>
              <span
                class="secret-group__display-name"
                *ngIf="!!item.displayName"
              >
                ({{ item.displayName }})
              </span>
            </aui-option>
          </aui-option-group>
          <aui-option-placeholder>
            {{ 'tool_chain_no_available_secrets' | translate }}
          </aui-option-placeholder>
        </aui-select>
        <button
          aui-button
          type="button"
          class="add-secret"
          [disabled]="!secretCreatePermission"
          (click)="addSecret()"
        >
          {{ 'tool_chain_add_secret' | translate }}
        </button>
        <div
          auiFormItemError
          *ngIf="formData.useSecret && secret.errors?.required"
        >
          {{ 'required' | translate }}
        </div>
      </aui-form-item>
    </form>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      (click)="update()"
      [loading]="loading"
      [disabled]="loading"
    >
      {{ 'update' | translate }}
    </button>
    <button aui-button [auiDialogClose]="null" [disabled]="loading">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>
