:host {
  .helper {
    font-size: 16px;
    color: #999999;
    &:hover {
      color: #009ce3;
    }
  }

  .secret-group {
    margin-right: 10px;
    &__display-name {
      color: #999;
      margin-left: 4px;
    }
  }
}
