<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a
        href="javascript:void(0)"
        [routerLink]="['/console/user/workspace', baseParams, 'app']"
      >
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <ng-container>{{ 'create_app' | translate }}</ng-container>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<form
  #form="ngForm"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-card>
    <div auiCardHeader>{{ 'application' | translate }}</div>
    <rc-application-metadata-form
      name="metadata"
      [namespace]="baseParams.namespace"
      [(ngModel)]="application.metadata"
    >
      <aui-form-item clusterSelect *ngIf="mirrorClusters.length">
        <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
        <rc-mirror-cluster-select
          name="clusters"
          [clusters]="mirrorClusters"
          [currentCluster]="baseParams.cluster"
          [(ngModel)]="application.clusters"
        ></rc-mirror-cluster-select>
      </aui-form-item>
    </rc-application-metadata-form>
  </aui-card>
  <rc-component-form
    name="components"
    [appName]="getAppName()"
    [project]="baseParams.project"
    [cluster]="baseParams.cluster"
    [namespace]="baseParams.namespace"
    [hasPrefix]="true"
    [(ngModel)]="application.components[0]"
  ></rc-component-form>

  <rc-services-form
    name="services"
    [cluster]="baseParams.cluster"
    [namespace]="baseParams.namespace"
    [(ngModel)]="application.services"
  ></rc-services-form>

  <!-- <pre>{{application | json}}</pre> -->
</form>
<div class="form-footer">
  <button aui-button [disabled]="submitting" (click)="preview()">
    <aui-icon icon="basic:eye_s"></aui-icon>
    {{ "preview" | translate }}
  </button>
  <button aui-button [disabled]="submitting" (click)="addComponent()">
    {{ 'add_compute_component' | translate }}
  </button>
  <span fxFlex></span>
  <button
    aui-button="primary"
    (click)="confirm()"
    [loading]="submitting"
    [disabled]="submitting"
  >
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
</div>
