.rc-card-group .card {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
  &:hover {
    box-shadow: 0 0 0 1px #009ce3, 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  }
}

.rc-card-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .mini-card {
    width: 214px;
    height: 214px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(102, 102, 102, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    padding: 32px;
    & + .mini-card {
      margin-left: 16px;
    }
    aui-icon {
      width: 80px;
      height: 80px;
      margin-bottom: 24px;
      color: #999;
    }
    span {
      font-size: 18px;
      margin-bottom: 6px;
      color: #333;
    }
    p {
      font-size: 12px;
      width: 100%;
      color: #999;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:hover {
      box-shadow: 0 0 0px 1px #009ce3;
      aui-icon {
        color: #009ce3;
      }
      span,
      p {
        color: #009ce3;
      }
    }
  }
}
