<aui-dialog-header>
  <span>
    {{ 'pipeline_create_pipeline' | translate }}
  </span>
</aui-dialog-header>
<aui-dialog-content>
  <div class="rc-card-group">
    <a
      class="mini-card card"
      (click)="navToCreate('template')"
      href="javascript:void(0)"
    >
      <aui-icon icon="diablo:template_file_line" size="80px,80px"></aui-icon>
      <span>
        {{ 'pipeline_create_by_template' | translate }}
      </span>
    </a>
    <a
      class="mini-card card"
      (click)="navToCreate('jenkinsfile')"
      href="javascript:void(0)"
    >
      <aui-icon icon="diablo:jenkins_file" size="80px,80px"></aui-icon>
      <span>
        {{ 'pipeline_create_by_jenkinsfile' | translate }}
      </span>
    </a>
  </div>
</aui-dialog-content>
