<form #form="ngForm" auiForm auiFormLabelWidth="120px" (ngSubmit)="save()">
  <aui-form-item *ngIf="mode === 'create'; else updateMode">
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      aui-input
      required
      type="text"
      name="name"
      #name="ngModel"
      auiFormItemControl
      [pattern]="resourceNamePattern.pattern"
      [placeholder]="'tool_chain_pattern' | translate"
      maxLength="100"
      [(ngModel)]="model.name"
    />
    <div auiFormItemError *ngIf="name.errors?.pattern">
      {{ 'tool_chain_pattern' | translate }}
    </div>
  </aui-form-item>
  <ng-template #updateMode>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <span>{{ model.name }}</span>
    </aui-form-item>
  </ng-template>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'description' | translate }}</label>
    <textarea
      auiFormItemControl
      type="text"
      name="description"
      aui-input
      [(ngModel)]="model.description"
    ></textarea>
  </aui-form-item>

  <!--凭据来源-->
  <aui-form-item>
    <label auiFormItemLabel>{{ 'tool_chain_secret_source' | translate }}</label>
    <aui-radio-group
      [(ngModel)]="model.secretSourceType"
      (ngModelChange)="onSecretSourceTypeChange($event)"
      name="secretSourceType"
    >
      <aui-radio-button value="platform" *ngIf="!platformSecretDisabled">
        {{ 'tool_chain_platform_secret' | translate }}
      </aui-radio-button>
      <aui-radio-button
        value="tenant"
        [auiTooltip]="'tool_chain_tenant_secret_warning' | translate"
        [auiTooltipDisabled]="platformSecretDisabled"
        auiTooltipTrigger="hover"
      >
        {{ 'tool_chain_tenant_secret' | translate }}
      </aui-radio-button>
    </aui-radio-group>
    <div auiFormItemAddon *ngIf="!platformSecretDisabled">
      <aui-icon
        icon="basic:question"
        class="secret-help"
        [auiTooltip]="secretHint"
        auiTooltipPosition="end top"
        auiTooltipTrigger="hover"
      ></aui-icon>
    </div>
    <ng-template #secretHint>
      <ul style="padding-left: 16px;">
        <li>{{ 'tool_chain_platform_secret_hint' | translate }}</li>
        <li>{{ 'tool_chain_tenant_secret_hint' | translate }}</li>
      </ul>
    </ng-template>
  </aui-form-item>

  <!--认证方式-->
  <aui-form-item *ngIf="model.secretSourceType === 'tenant'">
    <label auiFormItemLabel>{{ 'tool_chain_auth_type' | translate }}</label>
    <aui-radio-group
      auiFormItemControl
      name="secretType"
      [(ngModel)]="model.secretType"
      (ngModelChange)="resetSecret()"
    >
      <aui-radio-button
        *ngIf="supportedSecretType(secretTypes.BasicAuth)"
        [value]="secretTypes.BasicAuth"
      >
        {{ 'secret_username_password' | translate }}
      </aui-radio-button>
      <aui-radio-button
        *ngIf="supportedSecretType(secretTypes.OAuth2)"
        [value]="secretTypes.OAuth2"
      >
        {{ 'tool_chain_oauth2' | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>

  <!--凭据-->
  <aui-form-item *ngIf="model.secretSourceType === 'tenant'">
    <label auiFormItemLabel>{{ 'tool_chain_secrets' | translate }}</label>
    <aui-select
      auiFormItemControl
      name="secret"
      #secret="ngModel"
      [(ngModel)]="model.secret.name"
      filterable
      required
      class="secret-group"
      [placeholder]="'tool_chain_please_select_secret' | translate"
    >
      <aui-option-group>
        <aui-option
          *ngFor="let item of (secrets$ | async)"
          [value]="item.name"
          [label]="item.name"
          (click)="secretToValue(item)"
        >
          <span>{{ item.name }}</span>
          <span class="secret-group__display-name" *ngIf="!!item.displayName">
            ({{ item.displayName }})
          </span>
        </aui-option>
      </aui-option-group>
      <aui-option-placeholder>
        {{ 'tool_chain_no_available_secrets' | translate }}
      </aui-option-placeholder>
    </aui-select>
    <button
      aui-button
      type="button"
      class="add-secret"
      [disabled]="!secretCreatePermission"
      (click)="addSecret()"
      style="margin-left:8px;"
    >
      {{ 'tool_chain_add_secret' | translate }}
    </button>
    <div auiFormItemError *ngIf="secret.errors?.required">
      {{ 'required' | translate }}
    </div>
  </aui-form-item>
</form>
