@import 'var';
:host {
  ::ng-deep {
    aui-form-item:last-of-type {
      .aui-form-item {
        margin-bottom: 0;
      }
    }
  }
  .secret-help {
    &:hover {
      color: $color-primary;
    }
  }
}
