:host {
  ::ng-deep {
    .aui-card__content {
      display: flex;
      justify-content: center;

      form {
        width: 80%;
      }
    }

    .aui-card__footer {
      padding-left: calc(10% + 115px);
    }
  }
}
