<aui-card>
  <div auiCardHeader>
    <ng-content select="[name=title]"></ng-content>
  </div>

  <form auiForm [formGroup]="form">
    <ng-content select="[name=avatar]"></ng-content>
    <aui-form-item *ngFor="let model of models">
      <label auiFormItemLabel>
        {{ model.label | translate }}
      </label>
      <ng-container [ngSwitch]="model.controlType">
        <input
          *ngSwitchCase="'text'"
          auiFormItemControl
          aui-input
          [formControlName]="model.key"
          [pattern]="model.pattern"
          [required]="model.required"
          rcErrorsTooltip
          [rcErrorsTooltipMapper]="{
            pattern: model.message | translate
          }"
        />
        <aui-select
          *ngSwitchCase="'select'"
          auiFormItemControl
          [formControlName]="model.key"
          [required]="model.required"
        >
          <aui-option
            *ngFor="let option of model.options"
            [value]="option.value"
            [label]="option.label"
          >
            {{ option.label | translate }}
          </aui-option>
        </aui-select>
        <span *ngSwitchDefault>{{ model.value }}</span>
      </ng-container>
    </aui-form-item>
    <ng-container *ngIf="clients">
      <aui-form-item *ngFor="let codeClient of clients">
        <label auiFormItemLabel>
          {{ 'build_code_repo_client_' + codeClient.name | translate }}
        </label>
        <div *ngIf="codeClient.is_authed">
          <span *ngIf="codeClient.is_authed === 'unlinking'">
            {{ 'unlinking_oauth_code_client' | translate }}
          </span>
          <span *ngIf="codeClient.is_authed === 'linking'">
            {{ 'linking_oauth_code_client' | translate }}
          </span>
          {{ 'oauth_code_client_bind' | translate }}
        </div>
        <div *ngIf="!codeClient.is_authed">
          {{ 'oauth_code_client_unbound' | translate }}
        </div>
      </aui-form-item>
    </ng-container>
  </form>

  <div auiCardFooter>
    <button
      aui-button="primary"
      (click)="updateHandler()"
      [disabled]="form.invalid"
    >
      {{ 'update' | translate }}
    </button>
    <button aui-button (click)="cancelHandler()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-card>
