<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <ng-container formGroupName="metadata">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <ng-container auiFormItemControl required>
        <input
          *ngIf="!isUpdate"
          aui-input
          type="text"
          rcErrorsTooltip
          formControlName="name"
          [rcErrorsTooltipMapper]="{ pattern: namePattern.tip | translate }"
        />
        <span *ngIf="isUpdate">{{form.get('metadata.name').value}}</span>
      </ng-container>
    </aui-form-item>
    <aui-form-item formGroupName="annotations">
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <input
        aui-input
        type="text"
        formControlName="resource.alauda.io/display-name"
      />
    </aui-form-item>
  </ng-container>
  <rc-cron-job-spec-form
    formControlName="spec"
    [project]="project"
    [cluster]="cluster"
    [namespace]="namespace"
  ></rc-cron-job-spec-form>
</form>
