@import 'var';

:host ::ng-deep {
  aui-tab-group {
    aui-tab-header {
      padding: 0 20px;
      background-color: #fff;
    }
    .aui-tab-group__body-wrapper {
      margin-top: 0;
      .aui-tab-body__content {
        padding: 20px;
        background-color: #fff;
      }
    }
  }
}
