<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="back()">
        {{ 'network_policy' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <ng-container>{{ 'detail' | translate }}</ng-container>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-inline-alert
  *ngIf="!networkPolicyTipClosed"
  closable="true"
  [content]="'network_policy_list_description' | translate"
  (close)="onNetworkPolicyTipClosed()"
></aui-inline-alert>

<!--Explain why there is no data-->
<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<div *ngIf="empty && !loading" class="rb-loading-mask-placeholder">
  <div *ngIf="!loadError">
    {{ 'no_data' | translate }}
  </div>
  <div *ngIf="loadError">
    {{ 'data_load_error' | translate }}
  </div>
  <button
    *ngIf="loadError"
    aui-button="primary"
    style="margin-top: 12px;"
    (click)="refetch()"
  >
    {{ 'refresh' | translate }}
  </button>
</div>
<!-- Service Basic Info -->
<aui-card *ngIf="networkPolicyData">
  <div auiCardHeader>
    <h3 [attr.title]="networkPolicyData?.kubernetes?.metadata?.name">
      {{ networkPolicyData?.kubernetes?.metadata?.name }}
    </h3>
    <div fxFlex></div>
    <div class="detail-buttons">
      <button
        aui-button="primary"
        *ngIf="canShowUpdate(networkPolicyData)"
        (click)="updateNetworkPolicy(networkPolicyData)"
      >
        {{ 'update' | translate }}
      </button>
      <button
        aui-button="info"
        *ngIf="canShowDelete(networkPolicyData)"
        (click)="deleteNetworkPolicy(networkPolicyData)"
      >
        {{ 'delete' | translate }}
      </button>
    </div>
  </div>
  <div class="rc-detail-container">
    <div class="detail-wrapper">
      <div class="detail-content">
        <!--命名空间-->
        <div class="detail-item">
          <label>{{ 'region_namespace' | translate }}</label>
          <div>{{ networkPolicyData?.kubernetes?.metadata?.namespace }}</div>
        </div>
        <!--创建时间-->
        <div class="detail-item">
          <label>{{ 'created_at' | translate }}</label>
          <div>
            {{
              networkPolicyData?.kubernetes?.metadata?.creationTimestamp
                | rcFormatUtcStr
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</aui-card>
<aui-tab-group *ngIf="networkPolicyData" type="line">
  <aui-tab>
    <div *auiTabLabel>
      {{ 'yaml_file' | translate }}
    </div>
    <aui-code-editor
      [(ngModel)]="networkPolicyYaml"
      [options]="codeEditorOptions"
    ></aui-code-editor>
  </aui-tab>
  <aui-tab>
    <div *auiTabLabel>
      {{ 'events' | translate }}
    </div>
    <rc-event-list
      *ngIf="uuid"
      type="networkpolicy"
      [primaryKey]="uuid"
    ></rc-event-list>
  </aui-tab>
</aui-tab-group>
