<aui-card *ngIf="data">
  <div auiCardHeader>
    {{ 'basic_info' | translate }}
  </div>
  <div class="rc-detail-container">
    <div class="detail-wrapper">
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'name' | translate }}</label>
          <div>{{ data.metadata.name }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'size' | translate }}</label>
          <div>{{ data.spec.resources.requests.storage }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'status' | translate }}</label>
          <rc-status-badge
            [status]="statusMap[data.status.phase]"
          ></rc-status-badge>
        </div>
        <div class="detail-item">
          <label>{{ 'access_mode' | translate }}</label>
          <div>{{ accessModes[data.spec.accessModes[0]] | translate }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'connect_pv' | translate }}</label>
          <div>{{ data.spec.volumeName | rcFieldNotAvailable }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'k8s_storageclasses' | translate }}</label>
          <div>{{ data.spec.storageClassName | rcFieldNotAvailable }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'created_date' | translate }}</label>
          <div>{{ data.metadata.creationTimestamp | rcFormatMs }}</div>
        </div>
      </div>
    </div>
  </div>
</aui-card>
