<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      *ngIf="!isUpdate"
      auiFormItemControl
      aui-input
      required
      rcErrorsTooltip
      [rcErrorsTooltipMapper]="{ pattern: resourceNamePattern.tip | translate }"
      formControlName="name"
    />
    <span *ngIf="isUpdate">{{ formModel.name }}</span>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
    <input
      auiFormItemControl
      aui-input
      name="name"
      formControlName="displayName"
    />
  </aui-form-item>

  <ng-content select="[clusterSelect]"></ng-content>
</form>
