<div *ngIf="initialized" class="detail-container org-detail-header">
  <div class="pull-left">
    <div class="pull-left" style="margin-right:10px;">
      <rc-user-avatar></rc-user-avatar>
    </div>
    <div *ngIf="org" class="pull-left">
      <h3
        class="link-text"
        (click)="gotoUserDetail($event)"
        style="margin:5px 0;"
      >
        {{ accountInfo }}
      </h3>
      <p *ngIf="!editingOrgCompany" style="font-size:12px;">
        <span style="color:#777;">{{ org.company }}</span>
        <a
          *ngIf="!isSubAccount"
          href="javascript:void(0)"
          (click)="updateCompany()"
        >
          <aui-icon icon="basic:pencil_edit"></aui-icon>
        </a>
      </p>
    </div>
  </div>
  <div class="pull-right org-detail-header-right">
    <div>
      {{ 'created_at' | translate }}
      <span>{{ org?.created_at | rcFormatUtcStr }}</span>
    </div>
  </div>
</div>

<div class="tabs-container detail-container">
  <aui-tab-group>
    <aui-tab>
      <ng-container *auiTabLabel>{{ 'roles' | translate }}</ng-container>
      <ng-container *auiTabContent>
        <div class="detail-tab-container clearfix">
          <rc-role-list></rc-role-list>
        </div>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>{{ 'user' | translate }}</ng-container>
      <ng-container *auiTabContent>
        <div class="detail-tab-container clearfix">
          <rc-app-account-list></rc-app-account-list>
        </div>
      </ng-container>
    </aui-tab>
    <aui-tab *ngIf="!isSubAccount">
      <ng-container *auiTabLabel>{{ 'LDAP' | translate }}</ng-container>
      <ng-container *auiTabContent>
        <div class="detail-tab-container clearfix">
          <rc-app-org-ldap [orgName]="orgName"></rc-app-org-ldap>
        </div>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>{{ 'events' | translate }}</ng-container>
      <ng-container *auiTabContent>
        <div class="detail-tab-container clearfix">
          <rc-event-list
            type="organization,ldap_sync,ldap_config,project,project_template,role,permission"
          ></rc-event-list>
        </div>
      </ng-container>
    </aui-tab>
  </aui-tab-group>
</div>
