:host {
  .rc-pod-status {
    width: 244px;
    &__total {
      text-align: center;
      margin-bottom: 4px;
      > span {
        font-size: 25px;
        font-weight: 600;
      }
    }
    &__scaler {
      display: flex;
      justify-content: center;
      ::ng-deep aui-status-bar {
        display: flex;
        align-items: center;
        width: 200px;
      }
      &__decrease,
      &__increase {
        color: #999;
        cursor: pointer;
        &:hover {
          color: #24a7e3;
        }
        margin: 0 8px;
      }
    }
  }
}
