<div class="rc-pod-status">
  <div class="rc-pod-status__total">
    <span>{{ desired }}</span>
    Pods
  </div>
  <div class="rc-pod-status__scaler">
    <div
      *ngIf="canUpdate"
      class="rc-pod-status__scaler__decrease"
      (click)="decrease()"
    >
      <aui-icon icon="basic:minus"></aui-icon>
    </div>
    <aui-status-bar
      size="medium"
      [status]="status"
      [auiTooltip]="tooltip"
      [auiTooltipPosition]="'bottom start'"
    ></aui-status-bar>
    <div
      *ngIf="canUpdate"
      class="rc-pod-status__scaler__increase"
      (click)="increase()"
    >
      <aui-icon icon="basic:plus"></aui-icon>
    </div>
  </div>
</div>
