<ng-container *ngIf="getViewType() !== 'project'; else credentialList">
  <ng-container *rcPageHeaderContent>
    <aui-breadcrumb>
      <aui-breadcrumb-item>{{ 'devops' | translate }}</aui-breadcrumb-item>
      <aui-breadcrumb-item>{{ 'secret_list' | translate }}</aui-breadcrumb-item>
    </aui-breadcrumb>
  </ng-container>
  <aui-card [divider]="false">
    <ng-container [ngTemplateOutlet]="credentialList"></ng-container>
  </aui-card>
</ng-container>

<ng-template #credentialList>
  <rc-credential-list
    [info]="info$ | async"
    [params]="params$ | async"
    [itemRoute]="itemRoute"
    [viewType]="getViewType()"
    [permissions]="permissions"
    (paramsChange)="onParamsChange($event)"
  ></rc-credential-list>
</ng-template>
