@import 'mixins';
@import 'var';

$border-2px: 2px solid #ededed;

:host {
  ::ng-deep {
    .aui-checkbox {
      margin-right: 0;
    }

    .aui-tags-input {
      line-height: 10px;
      white-space: normal;
    }

    .aui-accordion-item__header {
      font-weight: 600;
    }
  }
}

table {
  flex: 1;
  width: 100%;
  border-spacing: 0;
  background: #ffffff;
  border: $border-2px;

  td {
    border-top: $border-2px;
  }

  thead {
    background: #f0f0f0;
    th,
    td {
      text-align: left;
      font-weight: 600;
    }
  }

  th,
  td {
    vertical-align: middle;
    padding: 12px;
  }

  td {
    @include text-overflow();
  }
}

.editable {
  transition: background-color 0.3s;
  color: $blue-6;
  cursor: pointer;
  &:hover {
    background-color: $table-rows-hover-color;
  }
}

.sub-table {
  table-layout: fixed;
  &__row {
    td {
      line-height: 40px;
    }
  }

  &__row-addon {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: -8px;
  }

  .permissions {
    display: flex;
    flex-flow: row;
    margin: -12px;

    &:not(:last-of-type),
    .constraint-item:not(:last-of-type) {
      border-bottom: 1px solid #ededed;
    }

    ::ng-deep {
      .constraint-item__text {
        @include text-overflow();
      }
      .resources span {
        @include text-overflow();
      }
    }

    .actions,
    .constraints,
    .resources {
      display: flex;
      flex-flow: column;
      justify-content: center;
      flex: 1;
      padding: 12px;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.platform-module,
.k8s-module {
  background: #fafafa;
}

.platform-module {
  ::ng-deep {
    .aui-accordion-item {
      border-top: 0;
    }
  }

  > thead {
    display: flex;
    > th {
      flex: 1;
      &:last-child {
        flex: 0 0 60px;
      }
    }
  }

  > tbody > tr > td {
    padding: 0;
  }

  .sub-table {
    border: 0;
  }
}

.k8s-module {
  margin-top: 8px;

  ::ng-deep {
    .aui-accordion-item {
      border: $border-2px;
    }

    .aui-accordion-item {
      .aui-accordion-item {
        padding-left: 20px;
        border: 0;
        border-top: $border-2px;
      }
    }
  }

  .sub-table {
    border: 0;
    border-top: $border-2px;
  }

  &__header {
    rc-status-icon {
      font-size: 14px;
      margin-left: 8px;
    }
  }

  &__header-hint {
    color: #aaa;
    margin-left: 4px;
    font-size: 12px;
  }
}
