<!-- platform groups  -->
<table
  class="platform-module"
  *ngIf="platformPermissionsMap && keys(platformPermissionsMap).length"
>
  <thead>
    <th *ngFor="let header of platformHeaders">{{ header | translate }}</th>
    <th width="60px"></th>
  </thead>
  <tbody class="platform-module__body">
    <ng-container *ngFor="let group of PLATFORM_GROUPS">
      <tr *ngIf="platformPermissionsMap[group]">
        <td [attr.colspan]="platformHeaders.length">
          <aui-accordion multi="true">
            <aui-accordion-item [expanded]="expanded">
              <div auiAccordionItemHeader>
                <span>{{ group | translate }}</span>
                <span>
                  (
                  <ng-container
                    *ngFor="
                      let type of keys(platformPermissionsMap[group]);
                      last as last
                    "
                  >
                    {{ type | translate }}{{ last ? '' : ',' }}
                  </ng-container>
                  )
                </span>
              </div>
              <table class="sub-table">
                <tbody>
                  <ng-container
                    *ngFor="let type of keys(platformPermissionsMap[group])"
                  >
                    <ng-container
                      *ngTemplateOutlet="
                        rowTemplate;
                        context: {
                          type: type,
                          schemas: platformPermissionsMap[group][type],
                          isPlatform: true
                        }
                      "
                    ></ng-container>
                  </ng-container>
                </tbody>
              </table>
            </aui-accordion-item>
          </aui-accordion>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<!-- api groups -->
<div class="k8s-module">
  <aui-accordion *ngIf="k8sPermissionsMap && keys(k8sPermissionsMap).length">
    <aui-accordion-item [expanded]="outsideAccordionExpanded">
      <div auiAccordionItemHeader class="k8s-module__header">
        <span style="white-space: nowrap">
          {{ 'advanced_roles' | translate }}
        </span>
        <rc-status-icon status="warning"></rc-status-icon>
        <span class="k8s-module__header-hint">
          {{ 'advanced_roles_hint' | translate }}
        </span>
      </div>
      <div class="k8s-module__body">
        <aui-accordion multi="true">
          <aui-accordion-item
            *ngFor="let apiGroup of keys(k8sPermissionsMap)"
            [expanded]="k8sAccordionsExpanded[apiGroup]"
          >
            <div auiAccordionItemHeader class="k8s-module-sub__header">
              {{ apiGroup }}
            </div>
            <div class="k8s-module-sub__body">
              <table class="sub-table">
                <thead>
                  <th *ngFor="let header of k8sHeaders">
                    {{ header | translate }}
                  </th>
                  <th width="60px"></th>
                </thead>
                <tbody>
                  <ng-container
                    *ngTemplateOutlet="
                      rowTemplate;
                      context: {
                        schemas: k8sPermissionsMap[apiGroup],
                        isPlatform: false
                      }
                    "
                  ></ng-container>
                </tbody>
              </table>
            </div>
          </aui-accordion-item>
        </aui-accordion>
      </div>
    </aui-accordion-item>
  </aui-accordion>
</div>

<!-- outlet templates -->

<!-- row template -->
<ng-template
  #rowTemplate
  let-type="type"
  let-schemas="schemas"
  let-isPlatform="isPlatform"
>
  <tr class="sub-table__row" *ngFor="let schema of schemas; let first = first">
    <td
      *ngIf="first && isPlatform"
      [attr.rowspan]="schemas.length"
      style="text-indent: 3em;"
    >
      <ng-container
        *ngTemplateOutlet="
          typeTemplate;
          context: {
            type: type
          }
        "
      ></ng-container>
    </td>
    <td>
      <ng-container
        *ngTemplateOutlet="
          resourceTypeTemplate;
          context: {
            schema: schema,
            isPlatform: isPlatform
          }
        "
      ></ng-container>
    </td>
    <td colspan="3">
      <div
        *ngFor="let permission of permissionsMap[toIdentifier(schema)]"
        class="permissions"
      >
        <div class="actions">
          <ng-container
            *ngTemplateOutlet="
              actionsTemplate;
              context: {
                schema: schema,
                permission: permission
              }
            "
          ></ng-container>
        </div>
        <div class="constraints">
          <ng-container
            *ngTemplateOutlet="
              constraintsTemplate;
              context: {
                schema: schema,
                permission: permission,
                identifier: toIdentifier(schema)
              }
            "
          ></ng-container>
        </div>
        <div class="resources">
          <ng-container
            *ngTemplateOutlet="
              resourceNamesTemplate;
              context: {
                schema: schema,
                permission: permission,
                identifier: toIdentifier(schema)
              }
            "
          ></ng-container>
        </div>
      </div>
    </td>
    <td width="60px">
      <ng-container *ngIf="checkedMap[toIdentifier(schema)]">
        <div class="sub-table__row-addon">
          <button
            aui-button="text"
            plain="true"
            *ngIf="tableType !== TableType.View"
            (click)="openEditor(schema)"
          >
            <aui-icon icon="basic:pencil_s"></aui-icon>
          </button>
          <button
            aui-button="text"
            plain="true"
            *ngIf="tableType === TableType.Edit"
            href="javscript:void(0);"
            (click)="remove(schema)"
          >
            <aui-icon icon="basic:trash_s"></aui-icon>
          </button>
        </div>
      </ng-container>
    </td>
  </tr>
</ng-template>

<!-- type cell -->
<ng-template #typeTemplate let-type="type">
  <span [title]="type">{{ type | translate }}</span>
</ng-template>

<!-- resourceType cell -->
<ng-template
  #resourceTypeTemplate
  let-schema="schema"
  let-isPlatform="isPlatform"
>
  <aui-checkbox
    *ngIf="tableType === TableType.Create || tableType === TableType.CreateTpl"
    [(ngModel)]="checkedMap[toIdentifier(schema)]"
    (click)="$event.preventDefault(); onCheck(schema)"
  ></aui-checkbox>
  <span [title]="getResourceTypeTranslation(isPlatform, schema.resource_type)">
    {{ getResourceTypeTranslation(isPlatform, schema.resource_type) }}
  </span>
</ng-template>

<!-- actions cell -->
<ng-template #actionsTemplate let-schema="schema" let-permission="permission">
  <ng-container *ngIf="checkedMap[toIdentifier(schema)]">
    <div>{{ getActionsTranslation(permission.actions, schema) }}</div>
  </ng-container>
</ng-template>

<!-- constraints cell -->
<ng-template
  #constraintsTemplate
  let-schema="schema"
  let-permission="permission"
  let-identifier="identifier"
>
  <ng-container *ngIf="checkedMap[identifier]">
    <ng-container *ngIf="permission.constraints?.length">
      <div
        *ngFor="let constraint of permission.constraints"
        class="constraint-item"
      >
        <div *ngFor="let key of keys(constraint)" class="constraint-item__text">
          <span [title]="getConstraintTranslation(key, constraint[key])">
            {{ getConstraintTranslation(key, constraint[key]) }}
          </span>
        </div>
        <span *ngIf="!keys(constraint).length">
          {{ 'rbac_not_set' | translate }}
        </span>
      </div>
    </ng-container>
    <span *ngIf="!permission.constraints?.length">
      {{ 'rbac_not_set' | translate }}
    </span>
  </ng-container>
</ng-template>

<!-- resourceNames cell -->
<ng-template
  #resourceNamesTemplate
  let-schema="schema"
  let-permission="permission"
  let-identifier="identifier"
>
  <ng-container *ngIf="checkedMap[identifier]">
    <span [title]="getResourceNames(permission.resource)">
      {{ getResourceNames(permission.resource) }}
    </span>
  </ng-container>
</ng-template>
