<aui-dialog-header>
  {{ 'create_alarm_from_template' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelPosition="right">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'region_template_name' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="template"
        required
        clearable
        filterable
        [loading]="loading"
        [(ngModel)]="viewModel.template"
        (ngModelChange)="onTemplateSelect($event)"
      >
        <ng-container *ngFor="let templates of templatesGroup">
          <aui-option-group *ngIf="templates.length">
            <div auiOptionGroupTitle>{{ templates[0].kind | translate }}</div>
            <aui-option
              *ngFor="let temp of templates"
              [label]="temp.name"
              [value]="temp"
              class="alarm-template-option"
            >
              {{ temp.name }}
              <span *ngIf="temp.description" class="description">
                ({{ temp.description }})
              </span>
            </aui-option>
          </aui-option-group>
        </ng-container>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>
    <ng-container *ngIf="viewModel.template">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'monitoring_type' | translate }}</label>
        <aui-radio-group
          size="medium"
          auiFormItemControl
          name="kind"
          [(ngModel)]="viewModel.template.kind"
        >
          <aui-radio-button [value]="viewModel.template.kind">
            {{ viewModel.template.kind | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'resource_name' | translate }}</label>
        <aui-select
          *ngIf="viewModel.template.kind === 'cluster'"
          auiFormItemControl
          name="cluster"
          required
          [(ngModel)]="viewModel.name"
        >
          <aui-option
            *ngFor="let cluster of clusters"
            [value]="cluster"
            [label]="cluster"
          >
            {{ cluster }}
          </aui-option>
        </aui-select>
        <aui-select
          *ngIf="viewModel.template.kind === 'node'"
          auiFormItemControl
          name="key"
          required
          [disabled]="!clusterNodePremission"
          [(ngModel)]="viewModel.name"
        >
          <aui-option value=".*" [label]="translate.get('all_nodes')">
            {{ 'all_nodes' | translate }}
          </aui-option>
          <aui-option *ngFor="let node of nodes" [value]="node" [label]="node">
            {{ node }}
          </aui-option>
        </aui-select>
      </aui-form-item>
      <aui-form-item *ngIf="metric_type">
        <label auiFormItemLabel>{{ 'alarm_rule' | translate }}</label>
        <table class="alarm-table-rules" cellspacing="0">
          <thead class="alarm-table-rules__header">
            <tr>
              <td>{{ 'alarm_rules_name' | translate }}</td>
              <td>{{ 'alarm_rule' | translate }}</td>
              <td>{{ 'level' | translate }}</td>
              <td>{{ 'alarm_rules_action' | translate }}</td>
            </tr>
          </thead>
          <tbody class="alarm-table-rules__body">
            <tr
              *ngFor="
                let rule of parseAlertList(
                  viewModel.template.template,
                  '',
                  metric_type,
                  clusters[0]
                )
              "
            >
              <td class="alarm-table-rules__body__host">
                <div>{{ rule.name }}</div>
              </td>
              <td>
                <div>{{ getRule(rule, metric_type) }}</div>
              </td>
              <td>
                <div>{{ rule.labels?.severity }}</div>
              </td>
              <td>
                <div>{{ getRulesAction(rule) }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" [loading]="submitting" (click)="confirm()">
    {{ 'create' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
