<rc-array-form-table
  [noRowSeparator]="true"
  resourceName="alarm_rule"
  (add)="add()"
  [rows]="templates"
>
  <ng-container *rcArrayFormTableHeader>
    <th width="20%">{{ 'alarm_rules_name' | translate }}</th>
    <th width="50%">{{ 'rule' | translate }}</th>
    <th>{{ 'level' | translate }}</th>
    <th>{{ 'alarm_rules_action' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container *rcArrayFormTableRow="let template">
    <td>
      <span>{{ template.name }}</span>
    </td>

    <td>
      <span *ngIf="metric_type">{{ getRule(template, metric_type) }}</span>
    </td>

    <td>
      <span>{{ template.severity || template.labels?.severity }}</span>
    </td>
  </ng-container>

  <ng-container *rcArrayFormTableRowControl="let item; let index = index">
    <button
      aui-button="text"
      size="small"
      (click)="edit(index)"
      [square]="true"
      [plain]="true"
    >
      <aui-icon icon="basic:pencil_edit"></aui-icon>
    </button>
    <button
      aui-button="text"
      size="small"
      (click)="remove(index)"
      [square]="true"
      [plain]="true"
    >
      <aui-icon icon="basic:minus_circle"></aui-icon>
    </button>
  </ng-container>

  <ng-container *rcArrayFormTableFooter>
    <button
      aui-button="primary"
      type="button"
      size="mini"
      [plain]="true"
      (click)="add()"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add_alarm_rule' | translate }}
    </button>
  </ng-container>
</rc-array-form-table>
