<rc-loading-mask [loading]="loading"></rc-loading-mask>
<div *ngIf="loadError" class="rb-loading-mask-placeholder">
  <div>{{ 'data_load_error' | translate }}</div>
  <button
    *ngIf="loadError"
    aui-button="primary"
    style="margin-top: 12px;"
    (click)="refetch()"
  >
    {{ 'refresh' | translate }}
  </button>
</div>

<!-- 暂时跳转到旧org页面 -->
<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/rbac']">{{ 'rbac' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'nav_rbac_role-template' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<section class="header" *ngIf="!loadError && !loading">
  <button aui-button="primary" [disabled]="!createEnabled" (click)="create()">
    {{ 'rbac_create_template' | translate }}
  </button>
</section>

<aui-table class="role-template-table" [dataSource]="list">
  <!-- 角色模板名称 -->
  <ng-container auiTableColumnDef="template_name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'rbac_role-template_name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      <div class="official-container" *ngIf="rowData.official">
        <img [src]="'/static/images/rbac/sys_' + lang + '.svg'" alt="sys" />
      </div>

      <a href="javascript:;" (click)="showDetail(rowData.uuid)">
        {{
          rowData.official && this.lang.match('en')
            ? rowData.display_name_en
            : rowData.display_name
        }}
      </a>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="description">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'rbac_role-template_description' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      <p class="ellipsis-lines" [title]="rowData.description">
        {{ rowData.description || '-' }}
      </p>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="creator">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'rbac_role-template_creator' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      {{ rowData.official ? ('rbac_preset' | translate) : rowData.created_by }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="created_at">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'rbac_role-template_created_at' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      {{ rowData.created_at | rcFormatUtcStr }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="action">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'action' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      <div [auiDropdown]="menu" class="action-button">
        <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
      </div>
      <aui-menu #menu size="small">
        <aui-menu-item *ngIf="createEnabled" (click)="showDetail(rowData.uuid)">
          {{ 'view' | translate }}
        </aui-menu-item>
        <aui-menu-item *ngIf="createEnabled" (click)="duplicate(rowData.uuid)">
          {{ 'duplicate' | translate }}
        </aui-menu-item>
        <aui-menu-item
          *ngIf="createRoleEnabled"
          (click)="createRole(rowData.uuid)"
        >
          {{ 'rbac_create_role_use_temp' | translate }}
        </aui-menu-item>
        <aui-menu-item
          *ngIf="updateEnabled"
          [disabled]="rowData.official"
          (click)="update(rowData.uuid)"
        >
          {{ 'update' | translate }}
        </aui-menu-item>
        <aui-menu-item
          *ngIf="deleteEnabled"
          [disabled]="rowData.official"
          (click)="
            delete(
              rowData.uuid,
              rowData.official && this.lang.match('en')
                ? rowData.display_name_en
                : rowData.display_name
            )
          "
        >
          {{ 'delete' | translate }}
        </aui-menu-item>
      </aui-menu>
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row
    *auiTableHeaderRowDef="[
      'template_name',
      'description',
      'creator',
      'created_at',
      'action'
    ]"
  ></aui-table-header-row>
  <aui-table-row
    *auiTableRowDef="
      let row;
      columns: [
        'template_name',
        'description',
        'creator',
        'created_at',
        'action'
      ]
    "
  ></aui-table-row>
</aui-table>
