@import 'var';
@import 'mixins';

:host {
  width: 100%;
}

.role-template-table {
  ::ng-deep {
    .aui-table {
      &__row,
      &__header-row {
        padding: 0 !important;
        justify-content: flex-start;
      }

      &__cell,
      &__header-cell {
        display: flex;
        align-items: center;
        padding: 0.9rem 1.2rem;
      }

      &__cell {
        height: 80px;
      }

      &__header-cell {
        height: 40px;
      }

      &__column {
        &-template_name {
          position: relative;
          flex: 1 100px;
          a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            z-index: 1;
          }
        }
        &-description {
          flex: 3 100px;
        }
        &-creator {
          flex: 0 0 150px;
        }
        &-created_at {
          flex: 0 0 170px;
        }
        &-action {
          flex: 0 0 170px;
        }
      }
    }
  }

  .ellipsis-lines {
    display: block;
    padding-right: 8px;
    white-space: normal;
    @include multiline-ellipsis(2);
  }
}

.official-container {
  position: absolute;
  left: 0;
  top: 0;
  > img {
    width: 48px;
    height: 48px;
    margin-top: -3px;
  }
  .official {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 50px 0 0;
    border-color: $button-primary-border-color transparent transparent
      transparent;
  }
  span {
    user-select: none;
    white-space: nowrap;
    transform: rotateZ(-35deg);
    color: $button-primary-text-color;
    line-height: 28px;
    text-indent: 4px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.header {
  margin-bottom: 14px;
}
