<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="back()">
        {{ 'nav_jenkins' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="back()">
        {{ 'nav_jenkins_pipelines' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ displayName }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div>
  <aui-inline-alert
    type="error"
    closable="true"
    *ngIf="(spaces && !spaces.length) || (integrations && !integrations.length)"
    [content]="'jenkins_no_resource_waring' | translate"
  ></aui-inline-alert>
  <div>
    <div style="font-size: 18px; display:inline-block">
      {{ displayName }}
      <span class="version">{{ version }}</span>
    </div>
    <a style="float: right;" (click)="showHelp()">
      {{ 'jenkins_template_detail' | translate }}
    </a>
  </div>
</div>
<form
  class="form container"
  novalidate
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
  (ngSubmit)="onSubmit(false)"
  [rcLoadingMask]="!initialValue"
>
  <rc-pipeline-create-by-template-steps
    [currentStep]="currentStep"
  ></rc-pipeline-create-by-template-steps>
  <div class="form-content template">
    <!-- 基本信息表单预览 -->
    <div class="form-group" [hidden]="!currentStep">
      <div class="form-group-header" style="border-bottom: none">
        {{ 'jenkins_pipeline_basic_info' | translate }}
        <i
          style="float: right;cursor: pointer;"
          class="icon fa-angle-{{ basic_info_show ? 'up' : 'down' }}"
          (click)="basic_info_show = !basic_info_show"
        ></i>
      </div>
      <div class="basic-info-preview" [ngClass]="{ active: basic_info_show }">
        <div class="rows">
          <div class="fields-name">{{ 'name' | translate }}</div>
          <div>{{ form.value.name }}</div>
        </div>
        <div class="rows">
          <div class="fields-name">
            {{ 'jenkins_pipeline_display_name' | translate }}
          </div>
          <div>{{ form.value.display_name }}</div>
        </div>
        <div class="rows" [hidden]="spaces && spaces.length === 1">
          <div class="fields-name">{{ 'space' | translate }}</div>
          <div>{{ form.value.space_name }}</div>
        </div>
        <div class="rows">
          <div class="fields-name">{{ 'jenkins_integration' | translate }}</div>
          <div>{{ form.value.jenkins_integration_id }}</div>
        </div>
        <div class="rows">
          <div class="fields-name">{{ 'description' | translate }}</div>
          <div>{{ form.value.description }}</div>
        </div>
        <ng-container *ngIf="!withoutSCM">
          <div class="form-group-header no-border">
            <b>
              {{ 'pipeline_from_repo' | translate }}
            </b>
          </div>
          <div class="rows">
            <div class="fields-name">
              {{ 'build_code_repo_client' | translate }}
            </div>
            <div>{{ form.value.source }}</div>
          </div>
          <div class="rows" *ngIf="form.value.code_org">
            <div class="fields-name">{{ 'account' | translate }}</div>
            <div>{{ form.value.code_org }}</div>
          </div>
          <div class="rows">
            <div class="fields-name">
              {{ 'jenkins_code_repository_address' | translate }}
            </div>
            <div>
              {{ form.value.code_repo || form.value.repository_path }}
            </div>
          </div>
          <div class="rows">
            <div class="fields-name">{{ 'code_branch' | translate }}</div>
            <div>{{ form.value.branch }}</div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-header" [hidden]="currentStep">
        {{ 'jenkins_pipeline_basic_info' | translate }}
      </div>
      <div class="form-group-header" *ngIf="currentStep">
        {{ 'jenkins_pipeline_template_params' | translate }}
        <a
          style="float: right"
          href="javascript:void(0)"
          (click)="showVarHelp()"
        >
          {{ 'jenkins_pipeline_use_vars' | translate }}
        </a>
      </div>

      <!-- 基本信息表单 -->
      <div class="form-group-content" *ngIf="!currentStep">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'name' | translate }}</label>
          <input
            auiFormItemControl
            formControlName="name"
            type="text"
            aui-input
            [required]="true"
            pattern="[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?"
            [maxLength]="36"
          />
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'jenkins_pipeline_display_name' | translate }}
          </label>
          <input
            auiFormItemControl
            formControlName="display_name"
            type="text"
            aui-input
            [maxLength]="100"
          />
        </aui-form-item>

        <aui-form-item [hidden]="spaces && spaces.length === 1">
          <label auiFormItemLabel>{{ 'space' | translate }}</label>
          <aui-select
            auiFormItemControl
            formControlName="space_name"
            filterable
            required
            [loading]="!spaces"
            [placeholder]="'space' | translate"
          >
            <aui-option
              *ngFor="let space of spaces"
              [value]="space.name"
              [label]="space.name"
            >
              {{ space.name }}
            </aui-option>
          </aui-select>
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'jenkins_integration' | translate }}
          </label>
          <aui-select
            auiFormItemControl
            formControlName="jenkins_integration_id"
            filterable
            required
            [loading]="!integrations"
            [placeholder]="'jenkins_integration' | translate"
            (ngModelChange)="onIntegrationChange$.next($event)"
          >
            <aui-option
              *ngFor="let integration of integrations"
              [value]="integration.id"
              [label]="integration.name"
            >
              {{ integration.name }}
            </aui-option>
          </aui-select>
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel>{{ 'description' | translate }}</label>
          <textarea
            auiFormItemControl
            formControlName="description"
            aui-input
            [maxLength]="512"
          ></textarea>
        </aui-form-item>
      </div>

      <div
        class="form-group-header  no-border"
        [hidden]="currentStep"
        *ngIf="!withoutSCM"
      >
        <b>
          {{ 'jenkins_pipeline_select_code_repo' | translate }}
        </b>
      </div>
      <div class="form-group-content" [hidden]="currentStep || withoutSCM">
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'jenkins_code_repository' | translate }}
          </label>
          <aui-radio-group
            auiFormItemControl
            formControlName="source"
            (ngModelChange)="onCodeClientChange$.next($event)"
          >
            <aui-radio-button
              *ngFor="let codeClient of codeClients"
              [value]="codeClient.name"
              [disabled]="!initialized"
            >
              {{ codeClient.displayName }}
            </aui-radio-button>
          </aui-radio-group>
        </aui-form-item>

        <aui-form-item
          [hidden]="['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
        >
          <label auiFormItemLabel>
            {{ 'jenkins_code_account' | translate }}
          </label>
          <aui-radio-group
            auiFormItemControl
            formControlName="code_org"
            (ngModelChange)="onCodeOrgChange$.next($event)"
            [hidden]="isSelectedCodeClientNotBind"
          >
            <aui-radio-button
              *ngFor="let codeOrg of codeOrgs"
              [value]="codeOrg.name"
            >
              {{ codeOrg.name }}
            </aui-radio-button>
          </aui-radio-group>
          <rc-repo-not-bind-hint
            *ngIf="isSelectedCodeClientNotBind"
          ></rc-repo-not-bind-hint>
        </aui-form-item>

        <aui-form-item
          [hidden]="['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
        >
          <label auiFormItemLabel>
            {{ 'jenkins_code_repository_address' | translate }}
          </label>
          <rc-code-repository-select
            formControlName="code_repo"
            auiFormItemControl
            [codeClient]="form.value.source"
            [codeOrg]="form.value.code_org"
            [required]="
              !['GIT', 'SVN', 'NOT_USE'].includes(form.value.source) &&
              !withoutSCM
            "
            rcErrorsTooltip
            [rcErrorsTooltipInline]="true"
          ></rc-code-repository-select>
        </aui-form-item>

        <aui-form-item [hidden]="!['GIT', 'SVN'].includes(form.value.source)">
          <label auiFormItemLabel>
            {{ 'jenkins_code_repository_address' | translate }}
          </label>
          <input
            auiFormItemControl
            formControlName="repository_path"
            type="text"
            aui-input
            [required]="
              ['GIT', 'SVN'].includes(form.value.source) && !withoutSCM
            "
            placeholder="{{
              (['GIT'].includes(form.value.source)
                ? 'jenkins_git_repo_address_example'
                : 'jenkins_svn_repo_address_example') | translate
            }}"
            pattern="^(http(s?):\/\/.+)|(git@.+:.+)|(ssh:\/\/.+@.+)|(git:\/\/.+)"
            [maxLength]="512"
          />
        </aui-form-item>

        <aui-form-item
          [hidden]="['NOT_USE', 'SVN'].includes(form.value.source)"
        >
          <label auiFormItemLabel>{{ 'code_branch' | translate }}</label>
          <input
            auiFormItemControl
            formControlName="branch"
            type="text"
            aui-input
            [placeholder]="'jenkins_code_repo_branch_tip' | translate"
            [required]="
              !['NOT_USE', 'SVN'].includes(form.value.source) && !withoutSCM
            "
            [maxLength]="512"
          />
          <aui-icon
            auiFormItemAddon
            icon="basic:question"
            [auiTooltip]="'jenkins_pipeline_code_branch_hint' | translate"
          ></aui-icon>
        </aui-form-item>

        <div class="credential-field">
          <!-- TODO: rc-form-field ignore tag classes -->
          <aui-form-item [hidden]="!['GIT', 'SVN'].includes(form.value.source)">
            <label auiFormItemLabel>
              {{ 'jenkins_code_credential' | translate }}
            </label>
            <aui-select
              auiFormItemControl
              formControlName="credential_name"
              filterable
              [loading]="!credentials"
              [placeholder]="'jenkins_code_credential' | translate"
            >
              <aui-option
                *ngFor="let credential of credentials"
                [value]="credential.name"
                [label]="credential.display_name"
              >
                {{ credential.display_name }}
              </aui-option>
            </aui-select>
            <a
              href="javascript:void(0)"
              (click)="addCredential()"
              class="add-credential"
              *ngIf="createCredentialEnabled"
              style="margin-left:8px;"
            >
              {{ 'jenkins_create_credential' | translate }}
            </a>
          </aui-form-item>
        </div>
      </div>
      <div class="form-group-header no-border" [hidden]="currentStep">
        <b>
          {{ 'jenkins_pipeline_triggers' | translate }}
        </b>
      </div>
      <div
        [hidden]="currentStep"
        class="form-group-content"
        formArrayName="triggers"
      >
        <div
          *ngFor="
            let trigger of getFormControls('triggers');
            trackBy: triggerIdentify
          "
        >
          <rc-pipeline-form-trigger
            [form]="trigger"
            [codeRepoSource]="form.value.source"
            (remove)="removeTrigger(trigger)"
            #triggerComponent
          ></rc-pipeline-form-trigger>
        </div>

        <div class="trigger-rows">
          <div class="fields-name">
            {{ 'jenkins_pipeline_triggers' | translate }}
          </div>
          <div>
            <button
              aui-button
              type="button"
              size="mini"
              [auiTooltip]="triggerTypeTemplate"
              auiTooltipPosition="top"
              auiTooltipType="plain"
              auiTooltipTrigger="click"
              #triggerSelect="auiTooltip"
            >
              <i class="fa fa-plus-circle"></i>
              {{ 'jenkins_add_trigger' | translate }}
            </button>
          </div>
        </div>
      </div>
      <!-- 参数表单 -->
      <div class="template-params-form" [hidden]="!currentStep">
        <rc-pipeline-template-params-form
          [fieldModels]="fieldModels"
          [relationship]="relationship"
          (valueChanged)="paramsChanged($event)"
          (statusChanged)="paramStatusChanged($event)"
        ></rc-pipeline-template-params-form>
      </div>
      <!-- 操作按钮 -->
      <div class="footer-step-buttons">
        <a
          *ngIf="currentStep"
          style="line-height: 30px;"
          (click)="previewJenkinsfile()"
          [auiTooltip]="'jenkinsfile_preview_tooltip' | translate"
          auiTooltipType="info"
          auiTooltipPosition="top"
          [ngClass]="{ disabled: paramErrorStatus }"
        >
          {{ 'jenkinsfile_preview' | translate }}
        </a>
        <div></div>
        <button
          aui-button="primary"
          type="button"
          *ngIf="!currentStep"
          (click)="toggleSteps()"
        >
          {{ 'next_step' | translate }}
        </button>
        <button
          aui-button
          *ngIf="currentStep"
          type="button"
          (click)="toggleSteps()"
        >
          {{ 'prev_step' | translate }}
        </button>
        <button
          aui-button="primary"
          *ngIf="currentStep"
          type="submit"
          [disabled]="saving || !initialized"
          [loading]="saving"
        >
          {{ 'create' | translate }}
        </button>
        <button
          aui-button="default"
          type="button"
          (click)="cancelCreate()"
          [disabled]="saving"
        >
          {{ 'jenkins_template_create_pipeline_cancel_title' | translate }}
        </button>
      </div>
    </div>
  </div>
</form>

<ng-template #triggerTypeTemplate>
  <div class="trigger-select">
    <div class="trigger-select-title">
      {{ 'jenkins_select_trigger_type' | translate }}
    </div>
    <div class="trigger-select-body">
      <a
        href="javascript:void(0)"
        (click)="addTrigger('cron')"
        [class.disabled]="cronTriggerDisabled()"
      >
        <i class="fa fa-clock-o"></i>
        <span>
          {{ 'jenkins_trigger_cron' | translate }}
        </span>
      </a>
      <a href="javascript:void(0)" (click)="addTrigger('image_change')">
        <i class="fa fa-building"></i>
        <span>
          {{ 'jenkins_trigger_image_change' | translate }}
        </span>
      </a>
      <a
        href="javascript:void(0)"
        (click)="addTrigger('code_change_hook')"
        [class.disabled]="codeChangeHookTriggerDisabled()"
      >
        <i class="fa fa-code-fork"></i>
        <span>
          {{ 'jenkins_trigger_code_change_hook' | translate }}
        </span>
      </a>
    </div>
  </div>
</ng-template>
