<aui-dialog-header>
  {{ 'create_account' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div>
    <div style="color: #9c9c9c; ">
      {{ 'created_subaccounts' | translate }}
    </div>
    <aui-table [dataSource]="users">
      <ng-container auiTableColumnDef="username">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'username' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.username }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="password">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'password' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.password }}
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="['username', 'password']"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: ['username', 'password']"
      ></aui-table-row>
    </aui-table>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="ok()">
    {{ 'ok' | translate }}
  </button>
</aui-dialog-footer>
