<aui-card>
  <div auiCardHeader>{{ 'create_account' | translate }}</div>
  <form auiForm #accountCreateForm="ngForm">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="username"
        [(ngModel)]="username"
        [pattern]="usernamePattern.pattern"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="{ pattern: usernamePattern.tip | translate }"
        [placeholder]="usernamePattern.tip | translate"
        required
      />
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'alias_name' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="realname"
        [(ngModel)]="realname"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'password_mode' | translate }}</label>
      <aui-radio-group
        name="password_mode"
        [(ngModel)]="password_mode"
        (ngModelChange)="passwordModeChange($event)"
      >
        <aui-radio-button [value]="PasswordMode.Custom">
          {{ 'type_custom' | translate }}
        </aui-radio-button>
        <aui-radio-button [value]="PasswordMode.Random">
          {{ 'random_generate' | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="password"
        type="password"
        [(ngModel)]="password"
        [placeholder]="
          (password_mode === PasswordMode.Custom
            ? 'rbac_password_placeholder'
            : 'automatic_generate_random_password') | translate
        "
        [pattern]="passwordPattern.pattern"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="{ pattern: passwordPattern.tip | translate }"
        [placeholder]="passwordPattern.tip | translate"
        [disabled]="password_mode === PasswordMode.Random"
        required
      />
      <div auiFormItemHint>
        <div [innerHTML]="'create_user_password_help' | translate"></div>
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'role' | translate }}</label>
      <aui-multi-select
        auiFormItemControl
        filterable
        [filterFn]="selectFilterFn"
        [(ngModel)]="selectedRoles"
        [placeholder]="'user_add_role_placeholder' | translate"
        name="roles"
      >
        <aui-option
          *ngFor="let role of allRoles"
          [label]="role.name"
          [value]="role"
        >
          {{ role.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-multi-select>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'department' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="department"
        maxlength="128"
        [(ngModel)]="department"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'position' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="position"
        maxlength="128"
        [(ngModel)]="position"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'mobile' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="mobile"
        [(ngModel)]="mobile"
        [pattern]="mobilePattern.pattern"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]
        [placeholder]="'rbac_mobile_placeholder' | translate"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'email' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="email"
        [(ngModel)]="email"
        [pattern]="emailPattern.pattern"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'landline_phone' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="landline_phone"
        [(ngModel)]="landline_phone"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'office_address' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="office_address"
        maxlength="128"
        [(ngModel)]="office_address"
      />
    </aui-form-item>
  </form>
</aui-card>

<div class="footer">
  <div>
    <aui-checkbox [(ngModel)]="passwordView"></aui-checkbox>
    <span>{{ 'view_user_password' | translate }}</span>
  </div>
  <div>
    <button aui-button="primary" [disabled]="form.invalid" (click)="confirm()">
      {{ 'create' | translate }}
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</div>
