@import '~@alauda/ui/theme/mixin';

:host {
  padding-bottom: 72px;

  ::ng-deep {
    .aui-form-item__container {
      margin-right: 44px;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 200px;
    right: 0;
    height: 56px;
    padding: 0 20px;
    @include popper-shadow;
    background: #fff;

    ::ng-deep {
      .aui-checkbox {
        margin-right: 8px;
      }
    }
  }
}
