<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'rbac' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'users_management' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div class="tabs-container detail-container">
  <aui-tab-group>
    <aui-tab>
      <ng-container *auiTabLabel>{{ 'user' | translate }}</ng-container>
      <ng-container *auiTabContent>
        <div class="detail-tab-container clearfix">
          <rc-app-account-list></rc-app-account-list>
        </div>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>{{ 'events' | translate }}</ng-container>
      <ng-container *auiTabContent>
        <div class="detail-tab-container clearfix">
          <rc-event-list
            type="organization,subaccount,update_password"
          ></rc-event-list>
        </div>
      </ng-container>
    </aui-tab>
  </aui-tab-group>
</div>
