<aui-inline-alert
  class="rc-pipeline-create--no_jenkins"
  type="error"
  [content]="'pipeline_no_instance' | translate"
  *ngIf="jenkinsInstances && !jenkinsInstances.length"
></aui-inline-alert>
<aui-card>
  <div auiCardHeader>
    <rc-steps
      [currentIndex]="method === 'jenkinsfile' ? stepIndex - 1 : stepIndex"
      [stepConfigs]="stepConfigs"
    ></rc-steps>
  </div>

  <div auiCardBody>
    <!-- select template form -->
    <form
      #templateForm="ngForm"
      [formGroup]="model.templateStep"
      auiForm
      auiFormLabelWidth="200px"
    >
      <!-- *ngIf="isSupport('templateSelect')" -->
      <rc-pipeline-template-select-form
        *ngIf="isSupport('templateSelect')"
        [hidden]="!isStepOn('templateSelect')"
        [form]="model.templateStep"
        [namespace]="namespace"
        [spaceName]="space?.name"
      ></rc-pipeline-template-select-form>
    </form>
    <div class="rc-pipeline-create__basic">
      <!-- basic from -->
      <form
        #basicForm="ngForm"
        [formGroup]="model.basicStep"
        auiForm
        auiFormLabelWidth="200px"
        [hidden]="!isStepOn('basic')"
      >
        <rc-pipeline-basic-form
          [form]="model.basicStep.controls.basic"
          [namespace]="namespace"
          [method]="method"
          [spaceName]="space?.name"
          type="create"
          (jenkinsChanged)="jenkinsChanged($event)"
        ></rc-pipeline-basic-form>
      </form>
      <!-- select repo form from -->
      <form
        #repoForm="ngForm"
        [formGroup]="model.repoStep"
        auiForm
        auiFormLabelWidth="200px"
      >
        <rc-pipeline-repository-form
          *ngIf="isSupport('repository')"
          [hidden]="!isStepOn('repository')"
          [form]="model.repoStep.controls.jenkinsfile"
          [namespace]="namespace"
          [project]="project"
          [spaceName]="space?.name"
          type="create"
        ></rc-pipeline-repository-form>
      </form>
      <rc-pipeline-dynamic-parameters-form
        *ngIf="isSupport('dynamicParameters')"
        [hidden]="!isStepOn('dynamicParameters')"
        [namespace]="namespace"
        [spaceName]="space?.name"
        [project]="project"
        [templateName]="model.templateStep.controls.template.value?.name"
        [templateFields]="model.templateStep.controls.template.value?.arguments"
      ></rc-pipeline-dynamic-parameters-form>
      <!-- write jenksinfile editor from -->
      <form
        [formGroup]="model.scriptStep"
        #scriptForm="ngForm"
        auiForm
        auiFormLabelWidth="200px"
      >
        <rc-pipeline-script-form
          [form]="model.scriptStep.controls.editor_script"
          *ngIf="isSupport('script') && isStepOn('script')"
        ></rc-pipeline-script-form>
      </form>
      <!-- trigger from -->
      <form
        [formGroup]="model.triggerStep"
        #triggerForm="ngForm"
        auiForm
        style="padding: 0 100px"
      >
        <div [hidden]="!isStepOn('trigger')">
          <div>
            <rc-pipeline-code-change-trigger-form
              [style.width]="'100%'"
              [form]="getCodeTriggerControls()"
            ></rc-pipeline-code-change-trigger-form>
          </div>
          <div>
            <rc-pipeline-cron-trigger-form
              [style.width]="'100%'"
              [form]="getCronTriggerControls()"
              [namespace]="namespace"
              [spaceName]="space?.name"
              [jenkinsBinding]="getJenkinsBinding()"
            ></rc-pipeline-cron-trigger-form>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div auiCardFooter class="rc-pipeline-create__footer__container">
    <div>
      <button
        aui-button="primary"
        plain="true"
        (click)="previewJenkinsfile()"
        *ngIf="isStepOn('end') && method === 'template'"
      >
        {{ 'pipeline_preview_jenkinsfile' | translate }}
      </button>
    </div>
    <div class="rc-pipeline-create__footer">
      <button
        aui-button
        (click)="step('prev')"
        *ngIf="
          (stepIndex > 0 && method === 'template') ||
          (stepIndex > 1 && method === 'jenkinsfile')
        "
      >
        {{ 'pipeline_step_preview' | translate }}
      </button>
      <button
        aui-button="primary"
        (click)="
          step(
            'next',
            method === 'jenkinsfile'
              ? stepIndex === 1
                ? basicForm
                : model.basicStep.value?.basic?.source === 'repo'
                ? repoForm
                : scriptForm
              : stepIndex === 0
              ? templateForm
              : stepIndex === 1
              ? basicForm
              : ''
          )
        "
        *ngIf="stepIndex < 3"
        [disabled]="jenkinsInstances && !jenkinsInstances.length"
      >
        {{ 'pipeline_step_next' | translate }}
      </button>
      <button
        aui-button="primary"
        (click)="submit(triggerForm)"
        [loading]="submitting"
        *ngIf="isStepOn('end')"
      >
        {{ 'pipeline_create' | translate }}
      </button>
      <button aui-button (click)="cancel()">
        {{ 'pipeline_cancel_create' | translate }}
      </button>
    </div>
  </div>
</aui-card>
