<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" [routerLink]="['/console/admin/subnet']">
        {{ 'subnet' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'subnet' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<aui-card [hidden]="!initialized" [divider]="false">
  <div fxLayout auiCardHeader>
    <div>
      <button
        aui-button="primary"
        *ngIf="subnetCanCreate"
        [disabled]="!regionSubnetEnabled"
        (click)="createSubnet()"
      >
        {{ 'create' | translate }}
      </button>
    </div>
    <span fxFlex></span>

    <aui-search
      [searchButton]="true"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
  </div>
  <div class="rc-list-container">
    <aui-table [dataSource]="list$ | async" [trackBy]="trackByFn">
      <ng-container auiTableColumnDef="subnet_name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'subnet_name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div class="rc-resource-name-cell">
            <img src="/static/images/resource/subnet.svg" />
            <div class="rc-lines">
              <div class="rc-line">
                <a
                  auiTooltipPosition="top start"
                  [auiTooltip]="item.kubernetes.metadata.name"
                  [routerLink]="[
                    '/console/admin/subnet/detail',
                    item.kubernetes.metadata.name
                  ]"
                >
                  {{ item.kubernetes.metadata.name }}
                </a>
              </div>
            </div>
          </div>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="subnet_segment">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'subnet_segment' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.kubernetes.spec.cidr_block }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="gateway">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'gateway' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.kubernetes.spec.gateway }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'action' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div [auiDropdown]="menu" class="action-button">
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </div>
          <aui-menu #menu size="small">
            <aui-menu-item (click)="viewK8sSubnet(item)">
              {{ 'view' | translate }}
            </aui-menu-item>
            <aui-menu-item
              *ngIf="buttonDisplay(item, 'update')"
              (click)="updateSubnet(item)"
            >
              {{ 'update' | translate }}
            </aui-menu-item>
            <aui-menu-item
              *ngIf="buttonDisplay(item, 'delete')"
              (click)="deleteSubnet(item)"
            >
              {{ 'delete' | translate }}
            </aui-menu-item>
          </aui-menu>
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>
    <rc-zero-state
      [zeroState]="showZeroState"
      [fetching]="!initialized && fetching"
      resourceName="subnet"
    ></rc-zero-state>
    <aui-paginator
      *ngIf="(listMeta$ | async)?.count"
      [length]="(listMeta$ | async)?.count"
      [pageSize]="(pageParams$ | async)?.pageSize"
      [pageIndex]="(pageParams$ | async)?.pageIndex - 1"
      (page)="pageChanged($event)"
      [pageSizeOptions]="[10, 20, 50, 100]"
    ></aui-paginator>
  </div>
</aui-card>
