<aui-dialog-header>
  {{ 'import' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    auiForm
    auiFormLabelWidth="140px"
    [auiFormEmptyAddon]="true"
    #importForm="ngForm"
    (ngSubmit)="submit()"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'subnet_name' | translate }}</label>
      <span>{{ modelData.subnet_name }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'subnet_segment' | translate }}</label>
      <aui-radio-group
        auiFormItemControl
        name="platform_version"
        [(ngModel)]="importMethod"
        size="medium"
      >
        <aui-radio-button
          *ngFor="let item of importMethodOptions"
          [value]="item.value"
        >
          {{ item.name }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>

    <div *ngIf="importMethod === 'range'">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'start_ip' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          name="start_ip"
          [(ngModel)]="range.address_start"
          [rcErrorsTooltip]
          required
        />
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel>{{ 'end_ip' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          name="end_ip"
          [(ngModel)]="range.address_end"
          [rcErrorsTooltip]
          required
        />
      </aui-form-item>
    </div>

    <div *ngIf="importMethod === 'list'">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'IP' }}</label>
        <aui-tags-input
          style="flex:1;"
          auiFormItemControl
          [allowRepeat]="false"
          placeholder="{{ 'add_by_enter_or_space' | translate }}"
          [(ngModel)]="ipList"
          name="ipList"
        ></aui-tags-input>
      </aui-form-item>
    </div>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="!form.valid || this.submitting"
    (click)="form.onSubmit(null)"
  >
    {{ 'confirm' | translate }}
  </button>
</aui-dialog-footer>
