@import 'var';
.rc-list-header {
  margin: 0 0 12px;
}
.search {
  position: relative;
  color: #ccc;
  line-height: 32px;

  .filter-input {
    border: 1px solid $form-input-border-color;
    border-radius: 3px;
    width: 345px;
    height: 32px;
    padding-left: 28px;
    color: #4d4d4d;

    &::placeholder {
      font-size: 14px;
      color: #ccc;
    }

    &:hover {
      border-color: #24a7e3;
    }
  }
  .icon.search {
    position: absolute;
    margin: 0 4px 0 8px;
    font-size: 14px;
  }
}
