<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" [routerLink]="['/console/admin/subnet']">
        {{ 'subnet' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'detail' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="!detail"></rc-loading-mask>

<ng-container *ngIf="detail">
  <aui-card>
    <div auiCardHeader>
      <h3>{{ detail.kubernetes.metadata.name }}</h3>
      <div fxFlex></div>
      <div class="detail-buttons">
        <button
          aui-button="primary"
          [disabled]="!detail"
          *ngIf="
            cniType != 'calico' &&
            buttonDisplay(detail, 'update') &&
            importEnabled
          "
          (click)="import$.next()"
        >
          {{ 'import' | translate }} IP
        </button>
        <button
          aui-button
          *ngIf="buttonDisplay(detail, 'update')"
          (click)="update$.next()"
        >
          {{ 'update' | translate }}
        </button>
        <button
          aui-button
          *ngIf="buttonDisplay(detail, 'delete')"
          (click)="deleteSubnet()"
        >
          {{ 'delete' | translate }}
        </button>
      </div>
    </div>
    <div class="rc-detail-container">
      <div class="detail-wrapper">
        <div class="detail-content">
          <div class="detail-item">
            <label>{{ 'created_by' | translate }}</label>
            <div>
              {{ detail?.kubernetes.spec.created_by | rcFieldNotAvailable }}
            </div>
          </div>
          <div class="detail-item">
            <label>{{ 'region' | translate }}</label>
            <div>
              {{
                detail?.kubernetes.metadata.clusterName | rcFieldNotAvailable
              }}
            </div>
          </div>
          <div class="detail-item">
            <label>{{ 'created_at' | translate }}</label>
            <div>
              {{ detail?.kubernetes.spec.created_at | rcFormatUtcStr }}
            </div>
          </div>
          <div class="detail-item">
            <label>{{ 'updated_at' | translate }}</label>
            <div>{{ detail?.kubernetes.spec.updated_at | rcFormatUtcStr }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'subnet_segment' | translate }}</label>
            <div>{{ detail?.kubernetes.spec.cidr_block }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'gateway' | translate }}</label>
            <div>{{ detail?.kubernetes.spec.gateway }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'available_ip' | translate }}</label>
            <div>{{ ips_unused?.length | rcFieldNotAvailable }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'sum_ip' | translate }}</label>
            <div>{{ ips?.length | rcFieldNotAvailable }}</div>
          </div>
        </div>
      </div>
    </div>
  </aui-card>
  <aui-card>
    <aui-tab-group type="line">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'IP' | translate }}
        </ng-container>
        <rc-loading-mask
          [loading]="!ips"
          style="height: 120px;"
        ></rc-loading-mask>
        <aui-table *ngIf="ips" [dataSource]="ips" [trackBy]="trackByFn">
          <ng-container auiTableColumnDef="address">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'address' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.kubernetes.metadata.name }}
            </aui-table-cell>
          </ng-container>

          <ng-container auiTableColumnDef="status">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'status' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <rc-status-badge
                [status]="
                  item.kubernetes.spec.used || item.kubernetes.spec.is_required
                    ? 'used'
                    : 'free'
                "
              ></rc-status-badge>
            </aui-table-cell>
          </ng-container>

          <ng-container auiTableColumnDef="service">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'compute_component' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.kubernetes.spec.service_name || '-' }}
            </aui-table-cell>
          </ng-container>

          <ng-container auiTableColumnDef="action">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'action' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <div
                [auiDropdown]="menu"
                *ngIf="visibleFn(item)"
                class="action-button"
              >
                <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
              </div>
              <aui-menu #menu size="small">
                <aui-menu-item
                  (click)="deleteIp$.next(item.kubernetes.metadata.name)"
                >
                  {{ 'delete' | translate }}
                </aui-menu-item>
              </aui-menu>
            </aui-table-cell>
          </ng-container>
          <aui-table-header-row
            *auiTableHeaderRowDef="columns"
          ></aui-table-header-row>
          <aui-table-row
            *auiTableRowDef="let row; columns: columns"
          ></aui-table-row>
        </aui-table>
      </aui-tab>
    </aui-tab-group>
  </aui-card>
</ng-container>
