<aui-dialog-header>
  {{ 'update_subnet' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    class="rb-from"
    auiForm
    auiFormLabelWidth="140px"
    [auiFormEmptyAddon]="true"
    #updateForm="ngForm"
    (ngSubmit)="submit()"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'subnet_name' | translate }}</label>
      <span>{{ modelData.subnet.kubernetes.metadata.name }}</span>
    </aui-form-item>
    <ng-container *ngIf="cniType == 'macvlan'">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'subnet_segment' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          name="cidr"
          [(ngModel)]="model.cidr"
          [rcErrorsTooltip]
          required
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'gateway' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          name="gateway"
          [(ngModel)]="model.gateway"
          [rcErrorsTooltip]
          required
        />
      </aui-form-item>
    </ng-container>
    <ng-container *ngIf="cniType == 'calico'">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'ipip_mode' | translate }}</label>
        <aui-radio-group
          required
          auiFormItemControl
          name="ipip_mode"
          [(ngModel)]="model.ipip_mode"
        >
          <aui-radio-button value="CrossSubnet">CrossSubnet</aui-radio-button>
          <aui-radio-button value="Never">Never</aui-radio-button>
          <aui-radio-button value="Always">Always</aui-radio-button>
        </aui-radio-group>
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel>{{ 'nat_outgoing' | translate }}</label>
        <aui-switch
          required
          auiFormItemControl
          [(ngModel)]="model.nat_outgoing"
          name="nat_outgoing"
        ></aui-switch>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="!form.valid || this.submitting"
    (click)="form.onSubmit(null)"
  >
    {{ 'confirm' | translate }}
  </button>
</aui-dialog-footer>
