<aui-multi-select
  (blur)="onBlur()"
  [filterable]="true"
  [filterFn]="filterFn"
  [trackFn]="getLabelDisplay"
  [loading]="!labels"
  [formControl]="form"
>
  <aui-option
    *ngFor="let label of labels; trackBy: trackByFn"
    [disabled]="shouldDisableOption(label)"
    [label]="getLabelDisplay(label)"
    [value]="label"
  >
    {{ getLabelDisplay(label) }}
  </aui-option>
  <aui-option-placeholder>{{ 'no_data' | translate }}</aui-option-placeholder>
</aui-multi-select>
<div
  *ngIf="selectedLabels && selectedLabels.length"
  class="node-selector-hint"
  [translate]="'node_selector_check_hint'"
  [translateParams]="{ count: matchedNodeCount }"
></div>
