<rc-loading-mask [loading]="loading"></rc-loading-mask>
<ng-container *ngIf="!loading">
  <div class="repo-import-progress-containter">
    <div *ngIf="permission">
      <div class="import-hint-message-containter" *ngIf="repository">
        <div class="message-container">
          {{ stepHintMessage }}
          <ng-container *ngIf="RepositoryStatus.Fail === repository.status">
            {{ 'app_catalog_you_can' | translate }}
            <a
              href="javascript:void(0)"
              (click)="retryClicked()"
              class="import-hyperlink"
            >
              {{ 'app_catalog_retry' | translate }}
            </a>
            {{ 'logic_or' | translate }}
            <a
              href="javascript:void(0)"
              (click)="cancelClicked()"
              class="import-hyperlink"
            >
              {{ 'cancel' | translate }}
            </a>
            {{ 'app_catalog_action' | translate }}
          </ng-container>
        </div>
      </div>

      <!-- 以下为进度条 -->
      <div class="progress-container">
        <ng-container
          *ngFor="let step of steps; trackBy: circleTrackBy; last as isLast"
        >
          <rc-app-catalog-template-repository-import-circle
            *ngIf="step"
            [size]="65"
            [label]="step.label"
            [status]="step.status"
          ></rc-app-catalog-template-repository-import-circle>

          <div *ngIf="!isLast" class="step-connector"></div>
        </ng-container>
      </div>
    </div>

    <div *ngIf="!permission" class="loading-catalog-template-page">
      <img
        class="empty-view-image"
        src="/static/images/app-catalog/app-catalog-empty.png"
        alt="empty-icon"
      />
      <div class="empty-view-title">
        {{ 'app_catalog_sync_template_waiting' | translate }}
      </div>
    </div>
  </div>
</ng-container>
