<div
  class="circle-wrapper"
  [style.fontSize]="size / 2 + 'px'"
  [style.width]="size + 'px'"
  [style.height]="size + 'px'"
>
  <div class="import-circle" [attr.status]="status">
    <div
      *ngIf="status !== StepStatus.Failed"
      [@scaleInOut]
      class="import-circle-icon"
    >
      <aui-icon icon="check_s"></aui-icon>
    </div>
    <div
      *ngIf="status === StepStatus.Failed"
      [@scaleInOut]
      class="import-circle-icon"
    >
      <aui-icon icon="close_12"></aui-icon>
    </div>
  </div>
  <div
    class="import-circle-spinner"
    [@opacityInOut]
    *ngIf="status === StepStatus.InProgress"
  ></div>
</div>

<div class="circle-step-label">{{ label }}</div>
