:host ::ng-deep {
  .ingress-list {
    .aui-table .aui-table__column-name {
      flex: 1 0 100px;
    }
    .aui-card {
      margin-top: 20px;
    }
    .aui-card__header {
      border-bottom: none;
    }
    .aui-card__content {
      padding: 0px 0px;
    }
    a {
      &:hover {
        color: #2a8baf !important;
      }
    }
  }
}
