<aui-inline-alert
  [content]="'kube_ingress_tips' | translate"
></aui-inline-alert>

<aui-card class="ingress-list" [divider]="false">
  <div fxLayout auiCardHeader>
    <button
      aui-button="primary"
      (click)="createIngress()"
      *ngIf="createEnabled"
    >
      {{ 'create_kube_ingress' | translate }}
    </button>

    <div fxFlex></div>

    <aui-search
      [searchButton]="true"
      [searching]="searching"
      [keyword]="search$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
  </div>

  <div auiCardContent>
    <aui-table [dataSource]="list$ | async">
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'kube_ingress_name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <a href="javascript:void(0)" (click)="openDetail(rowData)">
            {{ rowData.kubernetes.metadata.name }}
          </a>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="rule">
        <aui-table-header-cell *auiTableHeaderCellDef style="flex:2.5">
          {{ 'rule' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData" style="flex:2.5">
          <rc-ingress-list-rules
            [rules]="rowData.kubernetes.spec.rules"
          ></rc-ingress-list-rules>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'action' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <div
            [auiDropdown]="menu"
            (auiDropdownShow)="resourcePermissionService.sendRequest(rowData)"
            class="action-button"
          >
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </div>

          <aui-menu #menu size="small">
            <ng-container
              *ngTemplateOutlet="
                menuContent;
                context: {
                  permission:
                    resourcePermissionService.getByResource$(rowData) | async
                }
              "
            ></ng-container>
            <ng-template #menuContent let-permission="permission">
              <div *ngIf="!permission" class="aui-menu__loading-placehoder">
                <rc-loading-mask [loading]="true"></rc-loading-mask>
              </div>
              <ng-container *ngIf="permission">
                <aui-menu-item (click)="openDetail(rowData)">
                  {{ 'view' | translate }}
                </aui-menu-item>
                <aui-menu-item
                  *ngIf="
                    resourcePermissionService.checkByAction(
                      'update',
                      permission
                    )
                  "
                  (click)="update(rowData)"
                >
                  {{ 'update' | translate }}
                </aui-menu-item>
                <aui-menu-item
                  *ngIf="
                    resourcePermissionService.checkByAction(
                      'delete',
                      permission
                    )
                  "
                  (click)="delete(rowData)"
                >
                  {{ 'delete' | translate }}
                </aui-menu-item>
              </ng-container>
            </ng-template>
          </aui-menu>
        </aui-table-cell>
      </ng-container>

      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>

    <rc-zero-state
      [zeroState]="showZeroState"
      [fetching]="!initialized && fetching"
      resourceName="kube_ingress"
    ></rc-zero-state>

    <aui-paginator
      *ngIf="(listMeta$ | async)?.count"
      [total]="(listMeta$ | async)?.count"
      [pageSize]="(pageParams$ | async)?.pageSize"
      [currentPage]="(pageParams$ | async)?.pageIndex"
      (currentPageChange)="pageChanged('pageIndex', $event)"
      (pageSizeChange)="pageChanged('pageSize', $event)"
      [pageSizeOptions]="[10, 20, 50, 100]"
    ></aui-paginator>
  </div>
</aui-card>
