.secret-validating-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 132px;
  margin: auto;
  padding: 20px 0;
  .tips {
    font-size: 16px;
  }
  aui-icon {
    color: #999;
    margin: 0 0 12px 0;
  }
  .actions {
    padding-top: 16px;
  }
  .description {
    font-size: 12px;
    color: #999;
    ::ng-deep .aui-button {
      height: unset;
      &:focus {
        box-shadow: unset;
      }
      &--medium {
        .aui-button__content {
          padding: 0;
          font-size: 12px;
        }
      }
    }
  }
}
