:host {
  .header-icon {
    margin-right: 8px;
    font-size: 24px;
    color: #eb6262;
  }
  p {
    font-size: 14px;
  }
  .input-title {
    margin: 12px 0 4px;
  }

  aui-dialog-header {
    ::ng-deep .aui-dialog {
      &__header {
        padding-bottom: 0;
      }
    }
  }
}

:host::ng-deep {
  aui-dialog-content {
    .input-title {
      padding-top: 12px;
      padding-bottom: 4px;
    }
  }
}
