<aui-dialog-header>
  <aui-icon class="header-icon" icon="exclamation_triangle_s"></aui-icon>
  {{ dialogData.title }}
</aui-dialog-header>
<aui-dialog-content>
  <p>{{ dialogData.content }}</p>
  <p class="input-title">{{ inputTitle }}</p>
  <input aui-input [(ngModel)]="inputValue" />
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button="danger" (click)="delete()" [disabled]="disabled">
      {{ dialogData.confirmText || 'force_delete' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
