<rc-loading-mask [loading]="pageLoading$ | async"></rc-loading-mask>

<ng-container [ngSwitch]="mode$ | async">
  <rc-app-platform-template-empty-view
    *ngSwitchCase="ListPageViewMode.Empty"
    [repository]="repository$ | async"
    [type]="publicRepoType"
  ></rc-app-platform-template-empty-view>

  <!-- Templates / Apps view. Split into two views to enable animations. -->
  <ng-container *ngSwitchCase="ListPageViewMode.Templates">
    <rc-loading-mask [loading]="refreshLoading$ | async"></rc-loading-mask>
    <div
      class="template-card-list-container"
      [fxShow]="ListPageViewMode.Templates === (mode$ | async)"
      [attr.mode]="ListPageViewMode.Templates"
    >
      <div
        *ngFor="
          let template of (templates$ | async);
          trackBy: trackByFn;
          index as i
        "
        class="template-card-container"
      >
        <rc-app-platform-template-card
          [ngClass]="{ 'opacity-template-card': !template.is_active }"
          [template]="template"
          [applicationPermission]="applicationPermission"
          (createAppClick)="createAppClicked(template)"
        ></rc-app-platform-template-card>
      </div>
      <div class="template-card-container"></div>
      <div class="template-card-container"></div>
      <div class="template-card-container"></div>
      <div class="template-card-container"></div>
      <div class="template-card-container"></div>
      <div class="template-card-container"></div>
      <div class="template-card-container"></div>
      <div class="template-card-container"></div>
      <div class="template-card-container"></div>
      <div class="template-card-container"></div>
    </div>
  </ng-container>
</ng-container>
