@import 'var';

$form-margin-right: 120px;
$label-width: 250px;

rc-yaml-comment-form::ng-deep {
  .form-input-row,
  pre {
    margin-right: $form-margin-right;
  }
}

.form-section-header {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px dashed $border-color;
  padding: 4px 0;
  margin-bottom: 20px;

  &__title {
    font-weight: 500;
    font-size: 18px;
  }

  > *:last-child {
    margin-right: $form-margin-right;
  }
}

.button-link {
  cursor: pointer;
  color: $color-primary;
  margin-left: 20px;
}

.yaml-config-file-panel {
  height: 500px;
  margin-bottom: 20px;
}

.rc-detail-container.catalogBasicInfo {
  border-radius: 8px;
  margin-bottom: 30px;
}

:host {
  .detail-item.app-catalog-desc-item {
    display: -webkit-box;
    height: auto !important;
    width: 100%;
    -webkit-box-align: inherit;
    .app-catalog-desc-content {
      white-space: normal;
      width: 90%;
    }
  }
  form {
    margin-right: $form-margin-right;
  }
  ::ng-deep {
    .rc-form-panel {
      border: 0px !important;
      padding: 0px 16px !important;
    }
    .aui-card {
      border-radius: 8px;

      .aui-form-item__label-wrapper {
        width: $label-width !important;
      }
    }
    .aui-form-item__label {
      word-break: break-all;
    }
  }
  .detail-icon {
    width: 92px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    img {
      max-width: 92px;
      height: auto;
      border-radius: 0px;
    }
  }

  rc-loading-mask {
    position: absolute;
    top: 0;
    left: 0;

    height: calc(100vh - 112px);
  }
}
