:host {
  ::ng-deep {
    .aui-card__header {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .aui-table {
    &__column-status {
      flex: 0 0 160px;
    }
    &__column-component {
      flex: 0 0 240px;
    }
    .rc-line {
      line-height: 20px;
    }
  }
}
