<aui-card [divider]="false">
  <div auiCardHeader>
    <aui-dropdown-button
      *ngIf="createEnabled"
      [plain]="false"
      size="medium"
      (buttonClick)="create()"
      type="primary"
    >
      {{ 'create_app' | translate }}
      <aui-menu size="small">
        <aui-menu-item (click)="createFromYaml()">
          {{ 'create_from_yaml' | translate }}
        </aui-menu-item>
        <aui-menu-item (click)="createFromTemplate()">
          {{ 'create_from_template' | translate }}
        </aui-menu-item>
      </aui-menu>
    </aui-dropdown-button>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [searching]="searching"
      [keyword]="search$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
  </div>

  <aui-table [dataSource]="list$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="rc-resource-name-cell">
          <div class="rc-lines">
            <div class="rc-line">
              <a
                [routerLink]="[
                  '/console/user/workspace',
                  baseParams,
                  'app',
                  'detail',
                  getName(item)
                ]"
              >
                {{ getName(item) }}
              </a>
              <span style="color: #ccc" *ngIf="getDisplayName(item)">
                {{ getDisplayName(item) }}
              </span>
            </div>
          </div>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-app-status
          [application]="getApplication(item)?.kubernetes"
          [baseParams]="{ cluster: cluster, namespace: namespace }"
        ></rc-app-status>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="component">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'compute_component' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-pod-controller-cell
          [resources]="item"
          [baseParams]="baseParams"
        ></rc-pod-controller-cell>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div
          [auiDropdown]="menu"
          (auiDropdownShow)="
            resourcePermissionService.sendRequest(getApplication(item))
          "
          class="action-button"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <ng-container
            *ngTemplateOutlet="
              menuContent;
              context: {
                permission:
                  resourcePermissionService.getByResource$(
                    getApplication(item)
                  ) | async
              }
            "
          ></ng-container>
          <ng-template #menuContent let-permission="permission">
            <div *ngIf="!permission" class="aui-menu__loading-placehoder">
              <rc-loading-mask [loading]="true"></rc-loading-mask>
            </div>
            <ng-container *ngIf="permission">
              <aui-menu-item (click)="view(item)">
                {{ 'view' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="
                  resourcePermissionService.checkByAction('update', permission)
                "
                (click)="update(item)"
              >
                {{ 'update' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="
                  resourcePermissionService.checkByAction('delete', permission)
                "
                (click)="deleteApp(item)"
              >
                {{ 'delete' | translate }}
              </aui-menu-item>
            </ng-container>
          </ng-template>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>

  <rc-zero-state
    [zeroState]="showZeroState && !(list$ | async)?.length"
    [fetching]="!initialized && fetching"
    resourceName="application"
  ></rc-zero-state>

  <aui-paginator
    *ngIf="(listMeta$ | async)?.count"
    [total]="(listMeta$ | async)?.count"
    [pageSize]="(pageParams$ | async)?.pageSize"
    [currentPage]="(pageParams$ | async)?.pageIndex"
    (currentPageChange)="pageChanged('pageIndex', $event)"
    (pageSizeChange)="pageChanged('pageSize', $event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
</aui-card>
