:host {
  ::ng-deep .aui-card {
    margin-top: 16px;
  }
  .aui-table {
    &__column-type {
      flex: 1 0 100px;
    }
  }
  .resource {
    &__header {
      font-size: 16px;
      &:not(:first-child) {
        margin-top: 16px;
      }
      .resource-header {
        &__front {
          flex: 1;
        }
        &__last {
          flex: 1;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
        }
      }
      .status-badge {
        display: flex;
        font-size: 14px;
        rc-pod-controller-status {
          margin-left: 8px;
        }
      }
    }
    &__content {
      background: #fafafa;
      border: 1px solid #eee;
      margin-top: 12px;
      padding: 8px;
      &__header {
        &__name {
          align-self: center;
          > label {
            font-weight: normal;
            margin-bottom: 0;
            &:after {
              content: '\FF1A';
            }
          }
        }
        &__action {
          display: flex;
          align-items: center;
          color: #009ce3;
          margin-right: 24px;
          &__item {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 12px;
            border-radius: 3px;
            padding: 0 2px;
            > aui-icon {
              margin-right: 4px;
            }
            &:hover {
              background: #e5f5fc;
            }
          }
        }
      }
    }
  }
  .rc-detail-container {
    padding: 0;
    margin: 0;
    min-height: auto;
    background: inherit;
    .detail-wrapper {
      margin: 0;
    }
    .image-update {
      color: #009ce3;
      cursor: pointer;
    }
  }
}
