<aui-card>
  <div auiCardHeader fxLayout>
    <div fxFlexAlign="center">
      <ng-container *ngIf="kind !== 'Other'">
        <rc-k8s-resource-icon [kind]="resourceKind"></rc-k8s-resource-icon>
      </ng-container>
      {{ resourceKind }} ({{ resources.length + ('ge' | translate) }})
    </div>
    <div fxFlex></div>
    <aui-search
      [searchButton]="false"
      placeholder="{{ 'filter_by_name_placeholder' | translate }}"
      (search)="onSearch($event)"
      (keywordChange)="onSearchKeyChange($event)"
    ></aui-search>
  </div>

  <ng-container *ngIf="kind !== 'Other'">
    <div class="resource">
      <ng-container
        *ngFor="let resource of filteredResources; trackBy: trackByFn"
      >
        <div class="resource__header" fxLayout fxLayoutAlign="start end">
          <div class="resource-header__front">
            <a (click)="navigateToComponent(resource)">
              {{ resource.kubernetes.metadata.name }}
            </a>
          </div>
          <div class="resource-header__last">
            <div class="status-badge">
              {{ 'status' | translate }}:
              <rc-pod-controller-status
                [status]="podStatus[resource.kubernetes.metadata.name].status"
                [desiredInstances]="
                  podStatus[resource.kubernetes.metadata.name].desired
                "
                [currentInstances]="
                  podStatus[resource.kubernetes.metadata.name].current
                "
              ></rc-pod-controller-status>
            </div>
            <rc-pod-status
              [podStatus]="podStatus[resource.kubernetes.metadata.name]"
              (change)="updateReplicas($event, resource)"
              [canUpdate]="canUpdate(resource) && !isDaemonSet(resource)"
            ></rc-pod-status>
          </div>
        </div>
        <ng-container
          *ngFor="
            let container of containers[resource.kubernetes.metadata.name]
          "
        >
          <div class="resource__content">
            <div class="resource__content__header" fxLayout>
              <div class="resource__content__header__name">
                <label>{{ 'container' | translate }}</label>
                <span>{{ container.name }}</span>
              </div>
              <div fxFlex></div>
              <div
                class="resource__content__header__action"
                *ngIf="canUpdate(resource)"
              >
                <div
                  class="resource__content__header__action__item"
                  [auiDropdown]="exec"
                  (auiDropdownShow)="onMenuShow(resource)"
                  (auiDropdownHide)="onMenuHide()"
                >
                  <aui-icon icon="basic:window"></aui-icon>
                  EXEC
                </div>
                <aui-menu #exec size="small">
                  <aui-menu-group>
                    <aui-menu-item
                      (click)="openTerminal(pods, container, resource)"
                      [disabled]="canNotEXECAll(pods, container)"
                    >
                      {{ 'all_k8s_pod' | translate }}
                    </aui-menu-item>
                  </aui-menu-group>
                  <aui-menu-group>
                    <span auiMenuGroupTitle>{{ 'k8s_pod' | translate }}</span>
                    <rc-loading-mask
                      [ngStyle]="{ width: '150px', height: '30px' }"
                      [loading]="podsLoading"
                    ></rc-loading-mask>
                    <ng-container *ngIf="podsLoaded">
                      <aui-menu-item
                        *ngFor="let p of pods"
                        [disabled]="!canEXEC(p, container)"
                        (click)="openTerminal(pods, container, resource, p)"
                      >
                        {{ getPodShortName( p.kubernetes.metadata.name,
                        resource.kubernetes.metadata.name ) }}
                      </aui-menu-item>
                      <div *ngIf="!pods?.length">
                        {{ 'no_data' | translate }}
                      </div>
                    </ng-container>
                  </aui-menu-group>
                </aui-menu>
                <div
                  class="resource__content__header__action__item"
                  [auiDropdown]="log"
                  (auiDropdownShow)="onMenuShow(resource)"
                  (auiDropdownHide)="onMenuHide()"
                >
                  <aui-icon icon="basic:log"></aui-icon>
                  {{ 'log' | translate }}
                </div>
                <aui-menu #log size="small">
                  <aui-menu-group>
                    <span auiMenuGroupTitle>{{ 'k8s_pod' | translate }}</span>
                    <rc-loading-mask
                      [ngStyle]="{ width: '150px', height: '30px' }"
                      [loading]="podsLoading"
                    ></rc-loading-mask>
                    <ng-container *ngIf="podsLoaded">
                      <aui-menu-item
                        *ngFor="let p of pods"
                        (click)="viewLog(p, container)"
                      >
                        {{ getPodShortName( p.kubernetes.metadata.name,
                        resource.kubernetes.metadata.name ) }}
                      </aui-menu-item>
                      <div *ngIf="!pods?.length">
                        {{ 'no_data' | translate }}
                      </div>
                    </ng-container>
                  </aui-menu-group>
                </aui-menu>
              </div>
            </div>
            <div class="resource__content__detail">
              <div class="rc-detail-container">
                <div class="detail-wrapper">
                  <div class="detail-content">
                    <div class="detail-item">
                      <label>{{ 'image' | translate }}</label>
                      <div
                        [auiTooltip]="container.image"
                        [auiTooltipPosition]="'top start'"
                        style="display: block;"
                      >
                        {{ container.image }}
                      </div>
                      <div
                        class="image-update"
                        (click)="updateImageTag(container.name, resource)"
                      >
                        <aui-icon icon="basic:pencil_s"></aui-icon>
                      </div>
                    </div>
                    <div class="detail-item">
                      <label>{{ 'resource_size' | translate }}</label>
                      <div>
                        CPU {{ container.cpu }}&nbsp;&nbsp; {{ 'memory' |
                        translate }} {{ container.memory }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!filteredResources?.length">
        <div class="rb-loading-mask-placeholder">
          {{ 'no_data' | translate }}
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="kind === 'Other'">
    <aui-table [dataSource]="filteredResources">
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <a (click)="view(item.kubernetes, yamlViewDialog)">
            {{ item.kubernetes.metadata.name }}
          </a>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="type">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'type' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.kubernetes.kind }}
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="['name', 'type']"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: ['name', 'type']"
      ></aui-table-row>
    </aui-table>
    <ng-container *ngIf="!filteredResources?.length">
      <div class="rb-loading-mask-placeholder">{{ 'no_data' | translate }}</div>
    </ng-container>
  </ng-container>

  <ng-template #yamlViewDialog let-data>
    <aui-dialog-header>
      {{ data?.name }}{{ 'detail' | translate }}
    </aui-dialog-header>
    <aui-dialog-content>
      <aui-code-editor
        class="rc-sample-code-editor"
        [actionsConfig]="edtiorActions"
        [options]="editorOptions"
        [(ngModel)]="yamlInputValue"
      ></aui-code-editor>
    </aui-dialog-content>
  </ng-template>
</aui-card>
