<ng-container *rcPageHeaderContent>
  <aui-breadcrumb *ngIf="clusterName">
    <aui-breadcrumb-item>
      <a routerLink="/console/admin/cluster/list">
        {{ 'nav_region' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="'/console/admin/cluster/detail/' + clusterName">
        {{ 'region_detail' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'node_detail' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div class="rc-node-header">
  <div class="rc-node-header__group rc-node-header__group--width-fit">
    <ng-container *ngIf="nodeVm">
      <div class="rc-node-header__node-name">
        <a [routerLink]="'/console/admin/cluster/detail/' + clusterName">
          {{ clusterName }}
        </a>
        / {{ nodeVm.name }}
      </div>
      <rc-status-badge
        mode="rect"
        [status]="nodeVm.status.state"
      ></rc-status-badge>
      <rc-status-badge
        mode="rect"
        [status]="nodeVm.status.schedulable ? 'schedulable' : 'unschedulable'"
      ></rc-status-badge>
    </ng-container>
  </div>
  <div class="rc-node-header__group" *ngIf="showSSHMenu || nodeCanDelete">
    <button aui-button="default" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu size="small">
      <aui-menu-item *ngIf="nodeCanUpdate" (click)="updateNodeTag(nodeVm)">
        {{ 'update_node_tags' | translate }}
      </aui-menu-item>
      <aui-menu-item
        *ngIf="nodeCanUpdate"
        [hidden]="nodeVm.status.schedulable"
        (click)="doAction(nodeVm, 'uncordon')"
      >
        {{ 'start_scheduling' | translate }}
      </aui-menu-item>
      <aui-menu-item
        *ngIf="nodeCanUpdate"
        [hidden]="!nodeVm.status.schedulable"
        (click)="doAction(nodeVm, 'cordon')"
      >
        {{ 'stop_scheduling' | translate }}
      </aui-menu-item>
      <aui-menu-item *ngIf="showSSHMenu" (click)="webssh(nodeVm.privateIp)">
        {{ 'webssh' | translate }}
      </aui-menu-item>
      <aui-menu-item *ngIf="nodeCanDelete" (click)="deleteNode(nodeVm.name)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </aui-menu>
  </div>
</div>

<rc-loading-mask [loading]="!nodeVm"></rc-loading-mask>

<div *ngIf="nodeVm" class="node-info">
  <h4>{{ 'basic_info' | translate }}</h4>
  <div class="node-info__group">
    <div class="node-info__item">
      <label>{{ 'name' | translate }}</label>
      {{ nodeVm.name }}
    </div>
    <div class="node-info__item">
      <label>{{ 'region_node_type' | translate }}</label>
      {{ nodeVm.type }}
    </div>
  </div>
  <div class="node-info__group">
    <div class="node-info__item">
      <label>{{ 'node_tags' | translate }}</label>
      <div class="tag-container">
        <rc-tags-label [tags]="nodeVm.labels"></rc-tags-label>
      </div>
    </div>
    <div class="node-info__item">
      <label>{{ 'status' | translate }}</label>
      <span [ngClass]="'state-' + nodeVm.status.state.toLowerCase()">
        {{ nodeVm.status.state }}
      </span>
      <span
        class="schedule-badge"
        [class.schedulable]="nodeVm.status.schedulable"
      >
        {{ nodeVm.status.schedulable ? 'Schedulable' : 'Unschedule' }}
      </span>
      <span *ngIf="nodeVm.status.taint">Taint</span>
    </div>
  </div>
  <div class="node-info__group">
    <div class="node-info__item">
      <label>{{ 'private_ip' | translate }}</label>
      {{ nodeVm.privateIp }}
    </div>
    <div class="node-info__item">
      <label>{{ 'hostname' | translate }}</label>
      {{ nodeVm.hostname }}
    </div>
  </div>
  <div class="node-info__group">
    <div class="node-info__item">
      <label>{{ 'resource_cpu_count' | translate }}</label>
      {{ nodeVm.cpu | rcFieldNotAvailable }}
    </div>
    <div class="node-info__item">
      <label>{{ 'resource_mem_count' | translate }}(G)</label>
      {{ nodeVm.memory }}
    </div>
  </div>
  <div class="node-info__group">
    <div class="node-info__item">
      <label>{{ 'create_time' | translate }}</label>
      {{ nodeVm.create_time | rcFormatUtcStr }}
    </div>
  </div>
</div>
<aui-card *ngIf="nodeVm">
  <aui-tab-group type="line">
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'pod' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-node-pods
          *ngIf="nodeVm"
          [clusterName]="clusterName"
          [nodeName]="nodeVm.name"
        ></rc-node-pods>
      </ng-container>
    </aui-tab>
    <aui-tab *ngIf="customizedMetric || showMonitorTab">
      <ng-container *auiTabLabel>
        {{ 'monitoring' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-cluster-monitor
          [clusterName]="clusterName"
          [privateIp]="nodeVm.privateIp"
        ></rc-cluster-monitor>
      </ng-container>
    </aui-tab>
  </aui-tab-group>
</aui-card>
