@import 'var';

.rc-node-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__group {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;

    &--width-fit {
      max-width: 100%;
      flex-shrink: 1;
      padding-right: 24px;
    }

    [aui-button] {
      margin-right: 8px;
    }

    rc-status-badge {
      margin-right: 10px;
    }
  }

  &__cloud-icon {
    width: 32px;
    flex-shrink: 0;
  }

  &__node-name {
    padding: 0 12px;
    font-size: 24px;
    flex-shrink: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}

.node-info {
  padding: 18px 26px;
  background-color: #fff;
  margin-bottom: 16px;

  h4 {
    margin-top: 0;
    margin-bottom: 6px;

    &:not(:first-child) {
      margin-top: 18px;
    }
  }

  &__group {
    display: flex;
    padding: 6px 0;
  }

  &__item {
    display: flex;
    width: percentage(1/2);

    > span {
      display: inline-flex;
      align-items: center;
      font-size: 14px;

      &.state-ready {
        color: $color-success;
      }

      &.state-notready {
        color: $color-error;
      }

      &.state-warning {
        color: $color-warning;
      }

      + span:before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        margin: 0 4px;
        border-radius: 4px;
        background-color: #d8d8d8;
      }
    }

    .schedule-badge {
      color: $color-error;

      &.schedulable {
        color: $color-success;
      }
    }

    > label {
      display: inline-flex;
      align-items: center;
      padding-right: 6px;
      white-space: nowrap;

      &:after {
        content: '\00a0:';
      }
    }

    > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;
    }
  }
}
