<div *rcPageHeaderContent class="storage-custom-header">
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'nav_storage' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'nav_storageclass' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</div>
<aui-inline-alert
  [closable]="true"
  [content]="'storageclass_tips' | translate"
  (close)="notificationVisible = false"
></aui-inline-alert>

<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <button
      *ngIf="hasCreatePermission"
      aui-button="primary"
      (click)="createStorageClass()"
      [disabled]="!initialized"
    >
      {{ 'create_storageclass' | translate }}
    </button>
  </div>
  <aui-table
    *ngIf="initialized && !loadError"
    [dataSource]="list$ | async"
    [trackBy]="trackByFn"
  >
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let sc">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/pvc.svg" alt="" />
          <div class="rc-lines">
            <div class="rc-line">
              <a
                [routerLink]="[
                  '/console/admin/storage/storageclass/detail',
                  sc.kubernetes.metadata.name
                ]"
              >
                {{ sc.kubernetes.metadata.name }}
              </a>
              <span class="label-default" *ngIf="sc.isDefault">
                <span class="label-default-text">
                  {{ 'storageclass_default' | translate }}
                </span>
              </span>
            </div>
          </div>
        </div>
        <img
          src="/static/images/icon/system_cn.svg"
          class="label-system"
          *ngIf="sc.isSystem && lang === 'zh_cn'"
        />
        <img
          src="/static/images/icon/system_en.svg"
          class="label-system"
          *ngIf="sc.isSystem && lang === 'en'"
        />
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="storageclass_type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'storageclass_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let sc">
        <span>
          {{ extractStorageClassName(sc) }}
        </span>
        <ng-template #noDescription>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_at">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_at' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let sc">
        <span>
          {{ sc.kubernetes.metadata.creationTimestamp | rcFormatUtcStr }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let sc">
        <div [auiDropdown]="menu" class="action-button">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item [disabled]="sc.inAction" (click)="viewDetail(sc)">
            {{ 'view' | translate }}
          </aui-menu-item>
          <aui-menu-item (click)="setDefault(sc)">
            {{
              (sc.isDefault
                ? 'cancel_default_storageclass'
                : 'set_default_storageclass') | translate
            }}
          </aui-menu-item>
          <aui-menu-item
            *ngIf="!sc.isSystem && sc.canDelete"
            [disabled]="sc.inAction"
            (click)="delete(sc)"
          >
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <rc-zero-state
    [zeroState]="showZeroState"
    [fetching]="!initialized && fetching"
    resourceName="storageclass"
  ></rc-zero-state>
  <div class="table-no-data" *ngIf="initialized && loadError">
    <div>
      {{ 'storage_data_load_error' | translate }}
    </div>
    <div>
      <button aui-button="primary" (click)="load()">
        {{ 'refresh' | translate }}
      </button>
    </div>
  </div>
  <aui-paginator
    *ngIf="(listMeta$ | async)?.count"
    [length]="(listMeta$ | async)?.count"
    [pageSize]="(pageParams$ | async)?.pageSize"
    [pageIndex]="(pageParams$ | async)?.pageIndex - 1"
    (page)="pageChanged($event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
</aui-card>
