<table class="rc-array-form-table">
  <thead>
    <td style="width: 20%;">
      {{ 'type' | translate }}
    </td>
    <td style="width: 40%;">
      {{ 'name' | translate }}/{{ 'path' | translate }}
    </td>
    <td style="width: 40%;">
      {{ 'service_container_path' | translate }}
    </td>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of volumes">
      <tr
        *ngIf="
          !(item.type === 'configmap' && item.configMapKeyRef) &&
          !(item.type === 'pvc' && item.subPath)
        "
      >
        <td>{{ item.type | translate }}</td>
        <td>
          {{ getItemNameOrPathDisplay(item) }}
        </td>
        <td>{{ item.containerPath }}</td>
      </tr>
      <ng-container *ngIf="item.type === 'pvc' && item.subPath">
        <tr>
          <td rowspan="2">{{ item.type | translate }}</td>
          <td>{{ item.pvcName }}</td>
          <td rowspan="2">{{ item.containerPath }}</td>
        </tr>
        <tr>
          <td>{{ 'service_sub_path' | translate }}：{{ item.subPath }}</td>
          <td [hidden]="true"></td>
        </tr>
      </ng-container>
      <ng-container *ngIf="item.type === 'configmap' && item.configMapKeyRef">
        <tr>
          <td rowspan="2">{{ item.type | translate }}</td>
          <td>{{ item.configMapName }}</td>
          <td>{{ item.containerPath }}</td>
        </tr>
        <tr>
          <td colspan="2">
            <table class="rc-array-form-table" style="margin-bottom: 8px;">
              <thead>
                <tr>
                  <td>{{ 'key' | translate }}</td>
                  <td>{{ 'file_path' | translate }}</td>
                </tr>
              </thead>
              <tbody style="background: #fff;">
                <tr *ngFor="let keyMap of item.configMapKeyMap">
                  <td width="40%">{{ keyMap.key }}</td>
                  <td>{{ keyMap.path }}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
