:host {
  ::ng-deep {
    .aui-input-group__input-wrapper {
      display: flex;
      aui-select.apiserver {
        flex: 0 0 100px;
        input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      .aui-input.apiserver {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    .aui-form-item.hasError {
      .aui-input.apiserver {
        border-left: 1px solid;
      }
    }
    aui-input-group {
      width: 100%;
    }
  }
}
