<div class="resource-form__wrapper">
  <div class="resource-form__header">
    <span [ngClass]="{ active: !isNextStep }">
      {{ 'region_access_cluster' | translate }}
    </span>
    <span [ngClass]="{ active: isNextStep }">
      {{ 'region_region_info' | translate }}
    </span>
  </div>
  <div class="resource-form__content">
    <form #form="ngForm" auiForm auiFormLabelWidth="140px">
      <ng-container *ngIf="isNextStep">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'region_region_name' | translate }}</label>
          <input
            aui-input
            auiFormItemControl
            name="name"
            [pattern]="baseRSReg.pattern"
            [placeholder]="baseRSReg.tip | translate"
            [rcErrorsTooltipMapper]="{ pattern: baseRSReg.tip | translate }"
            [rcErrorsTooltip]
            maxlength="36"
            required
            [(ngModel)]="name"
          />
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
          <input
            aui-input
            auiFormItemControl
            name="display_name"
            maxlength="36"
            required
            [rcErrorsTooltip]
            [(ngModel)]="displayName"
          />
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'region_type' | translate }}</label>
          <aui-select
            auiFormItemControl
            name="cluster_type"
            required
            [rcErrorsTooltip]
            [(ngModel)]="clusterType"
          >
            <aui-option
              *ngFor="let item of CLUSTER_TYPES"
              [value]="item.value"
              [label]="item.display"
            >
              {{ item.display }}
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-select>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'region_cloud_host_type' | translate }}
          </label>
          <aui-select
            auiFormItemControl
            name="cloud_host_type"
            required
            [rcErrorsTooltip]
            [(ngModel)]="cloudHostType"
          >
            <aui-option
              *ngFor="let item of CLOUD_HOST_TYPES"
              [value]="item.value"
              [label]="item.display"
            >
              {{ item.display }}
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-select>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'region_docker_version' | translate }}
          </label>
          <aui-select
            auiFormItemControl
            name="docker_version"
            required
            [rcErrorsTooltip]
            [(ngModel)]="dockerVersion"
          >
            <aui-option *ngFor="let item of DOCKER_VERSIONS" [value]="item">
              {{ item }}
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-select>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'region_docker_path' | translate }}</label>
          <input
            aui-input
            auiFormItemControl
            name="docker_path"
            required
            [rcErrorsTooltip]
            [(ngModel)]="dockerPath"
          />
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'network_mode' | translate }}</label>
          <aui-select
            auiFormItemControl
            name="network_mode"
            required
            [rcErrorsTooltip]
            [(ngModel)]="networkMode"
          >
            <aui-option *ngFor="let item of NETWORK_MODES" [value]="item">
              {{ item }}
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-select>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'region_nic_name' | translate }}</label>
          <input
            aui-input
            auiFormItemControl
            name="nic_name"
            required
            [rcErrorsTooltip]
            [(ngModel)]="nicName"
          />
        </aui-form-item>
      </ng-container>
      <ng-container *ngIf="!isNextStep">
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'region_region_endpoint' | translate }}
          </label>
          <aui-input-group required auiFormItemControl>
            <aui-select
              class="apiserver"
              name="apiserver_protocol"
              [(ngModel)]="apiserver_protocol"
            >
              <aui-option value="https://">
                https://
              </aui-option>
              <aui-option value="http://">
                http://
              </aui-option>
            </aui-select>
            <input
              class="apiserver"
              aui-input
              required
              name="apiserver"
              [pattern]="apiServerReg.pattern"
              [rcErrorsTooltip]
              [rcErrorsTooltipMapper]="{
                pattern: apiServerReg.tip | translate
              }"
              (change)="onApiServerInput($event)"
              [(ngModel)]="apiserver_address"
            />
          </aui-input-group>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'token' | translate }}</label>
          <textarea
            aui-input
            [autosize]="{ minRows: 10, maxRows: 20 }"
            auiFormItemControl
            name="token"
            [(ngModel)]="token"
            required
            [rcErrorsTooltip]
            maxlength="65535"
          ></textarea>
        </aui-form-item>
      </ng-container>
    </form>
  </div>
</div>
<div class="resource-form__footer">
  <div style="flex: 1;"></div>
  <button
    *ngIf="isNextStep"
    aui-button
    type="button"
    [disabled]="loading"
    (click)="isNextStep = false"
  >
    {{ 'prev_step' | translate }}
  </button>
  <button
    *ngIf="!isNextStep"
    aui-button
    type="button"
    [disabled]="loading"
    (click)="cancel()"
  >
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    [disabled]="loading"
    [loading]="loading"
    type="button"
    (click)="confirm()"
  >
    {{ (isNextStep ? 'confirm' : 'next_step') | translate }}
  </button>
</div>
