<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ (isProjectView ? 'project' : 'devops') | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a
        [routerLink]="getNavItemLink().path"
        [queryParams]="getNavItemLink().params"
      >
        <span *ngIf="isProjectView">{{ project$ | async }}</span>
        <span *ngIf="!isProjectView">{{ 'secret_list' | translate }}</span>
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span *ngIf="isProjectView">{{ 'secret_list' | translate }}:</span>
      {{ (id$ | async)?.name }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<rc-credential-detail
  [identity]="id$ | async"
  [info]="info$ | async"
  [viewType]="getViewType()"
  [permissions]="permissions"
  (deleted)="onDeleted()"
></rc-credential-detail>
