<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <button aui-button="primary" (click)="create()" *ngIf="createEnabled">
      {{ 'create_cron_job' | translate }}
    </button>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [keyword]="search$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      style="margin-left:8px"
      aui-button
      square="true"
      (click)="onUpdate(null)"
    >
      <aui-icon icon="basic:sync"></aui-icon>
    </button>
  </div>

  <div auiCardContent>
    <aui-table [dataSource]="list$ | async">
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          <div>{{ 'name' | translate }}</div>
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <a href="javascript:void(0)" (click)="openDetail(rowData)">
            {{ rowData.kubernetes.metadata.name }}
          </a>
          <div style="color: #ccc" *ngIf="getDisplayName(rowData)">
            {{ getDisplayName(rowData) }}
          </div>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="execute_type">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'execute_type' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          {{ rowData.kubernetes.spec.suspend ? ('manual' | translate) : ('cron'
          | translate) + ': ' + rowData.kubernetes.spec.schedule }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="next_trig_time">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'next_trig_time' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          {{ rowData.kubernetes.spec.suspend ? '-' :
          (rowData.kubernetes.spec.schedule | rcCrontabNext) }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="last_schedule_time">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'last_schedule_time' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          {{ rowData.kubernetes.status.lastScheduleTime | rcUtcToConsumed: lang
          }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="create_time">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'create_time' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          {{ rowData.kubernetes.metadata.creationTimestamp | rcFormatUtcStr }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'action' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <rc-menu-trigger
            [menu]="menu"
            size="small"
            (menuTriggerShow)="resourcePermissionService.sendRequest(rowData)"
          ></rc-menu-trigger>
          <aui-menu #menu size="small">
            <ng-container
              *ngTemplateOutlet="
                menuContent;
                context: {
                  permission:
                    resourcePermissionService.getByResource$(rowData) | async
                }
              "
            ></ng-container>
            <ng-template #menuContent let-permission="permission">
              <div *ngIf="!permission" class="aui-menu__loading-placehoder">
                <rc-loading-mask [loading]="true"></rc-loading-mask>
              </div>
              <ng-container *ngIf="permission">
                <aui-menu-item (click)="openDetail(rowData)">
                  {{ 'view' | translate }}
                </aui-menu-item>
                <aui-menu-item
                  *ngIf="
                    resourcePermissionService.checkByAction(
                      'update',
                      permission
                    )
                  "
                  (click)="update(rowData)"
                >
                  {{ 'update' | translate }}
                </aui-menu-item>
                <aui-menu-item
                  *ngIf="
                    resourcePermissionService.checkByAction(
                      'update',
                      permission
                    )
                  "
                  (click)="executeNow(rowData)"
                >
                  {{ 'execute_now' | translate }}
                </aui-menu-item>
                <aui-menu-item
                  *ngIf="
                    resourcePermissionService.checkByAction(
                      'delete',
                      permission
                    )
                  "
                  (click)="delete(rowData)"
                >
                  {{ 'delete' | translate }}
                </aui-menu-item>
              </ng-container>
            </ng-template>
          </aui-menu>
        </aui-table-cell>
      </ng-container>

      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>

    <rc-zero-state
      [zeroState]="showZeroState"
      [fetching]="!initialized && fetching"
      resourceName="cron_job"
    ></rc-zero-state>

    <aui-paginator
      *ngIf="(listMeta$ | async)?.count"
      [total]="(listMeta$ | async)?.count"
      [pageSize]="(pageParams$ | async)?.pageSize"
      [currentPage]="(pageParams$ | async)?.pageIndex"
      (currentPageChange)="pageChanged('pageIndex', $event)"
      (pageSizeChange)="pageChanged('pageSize', $event)"
      [pageSizeOptions]="[10, 20, 50, 100]"
    ></aui-paginator>
  </div>
</aui-card>
