<form auiForm auiFormLabelWidth="150px" [formGroup]="form">
  <aui-form-item [hidden]="isUpdate">
    <label auiFormItemLabel>{{ 'affinity_method' | translate }}</label>
    <aui-radio-group
      auiFormItemControl
      name="method"
      size="medium"
      [(ngModel)]="method"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="methodChange($event)"
    >
      <aui-radio-button [value]="'basic'">
        {{ 'basic' | translate }}
      </aui-radio-button>
      <aui-radio-button [value]="'advanced'">
        {{ 'advanced' | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>

  <!-- basic -->
  <aui-form-item [hidden]="isUpdate || isAdvanced" class="affinity-component">
    <label auiFormItemLabel>{{ 'affinity_component' | translate }}</label>
    <aui-select
      auiFormItemControl
      name="workload"
      formControlName="workload"
      rcErrorsTooltip
      required
    >
      <ng-container *ngFor="let key of keys(workloads)">
        <aui-option-group>
          <div auiOptionGroupTitle>
            {{ key.toLowerCase() | translate }}
          </div>
          <aui-option
            *ngFor="let instance of workloads[key]"
            [value]="instance"
            [label]="instance.metadata.name"
          >
            {{ instance.metadata.name }}
          </aui-option>
        </aui-option-group>
      </ng-container>
      <aui-option-placeholder>
        {{ 'no_data' | translate }}
      </aui-option-placeholder>
    </aui-select>
    <div auiFormItemHint>
      {{ type + '_component_hint' | translate }}
    </div>
  </aui-form-item>

  <!-- advanced -->
  <div [hidden]="!isAdvanced">
    <div>
      <aui-form-item [hidden]="isUpdate">
        <label auiFormItemLabel>{{ 'type' | translate }}</label>
        <aui-select auiFormItemControl formControlName="type">
          <aui-option value="preferred" label="Preferred">
            Preferred
          </aui-option>
          <aui-option value="required" label="Required">
            Required
          </aui-option>
        </aui-select>
      </aui-form-item>

      <aui-form-item [hidden]="this.form.get('type').value === 'required'">
        <label auiFormItemLabel>{{ 'weight' | translate }}</label>
        <ng-container auiFormItemControl required>
          <aui-number-input
            type="number"
            controls="true"
            [min]="1"
            [precision]="1"
            [step]="1"
            formControlName="weight"
          ></aui-number-input>
        </ng-container>
      </aui-form-item>

      <aui-form-item class="topology">
        <label auiFormItemLabel>{{ 'topologyKey' | translate }}</label>
        <ng-container auiFormItemControl required>
          <input
            aui-input
            auiFormItemControl
            [readonly]="isUpdate"
            rcErrorsTooltip
            formControlName="topologyKey"
          />
        </ng-container>
      </aui-form-item>
    </div>

    <aui-form-item formGroupName="labelSelector">
      <label auiFormItemLabel>{{ 'match_labels' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        formControlName="matchLabels"
      ></rc-key-value-form-table>
    </aui-form-item>
  </div>
</form>
