<div
  *rcAsyncData="
    let items$;
    handler: fetchData;
    pullIn: 15 * 1000;
    notification: updated$
  "
>
  <div class="list-header">
    <aui-dropdown-button
      [disabled]="!subscribeCreatePermission"
      [plain]="false"
      size="medium"
      (buttonClick)="menuHandler('subscribe')"
      type="primary"
    >
      <aui-icon icon="basic:subscribe"></aui-icon>
      {{ 'tool_chain_subscribe' | translate }}
      <aui-menu size="small">
        <!--<aui-menu-item (click)="menuHandler('deploy')">-->
        <!--<aui-icon icon="basic:deploy"></aui-icon>-->
        <!--{{ 'tool_chain_deploy' | translate }}-->
        <!--</aui-menu-item>-->
        <aui-menu-item
          [disabled]="!integrationCreatePermission"
          (click)="menuHandler('integration')"
        >
          <aui-icon icon="basic:integrate"></aui-icon>
          {{ 'tool_chain_integrate' | translate }}
        </aui-menu-item>
      </aui-menu>
    </aui-dropdown-button>
  </div>
  <rc-service-list
    [services]="items$"
    [showTag]="selectedType === 'all'"
    [subscribeMode]="true"
    [canUpdateSubscription]="subscribeUpdatePermission"
    (cardClick)="navigateToDetail($event)"
    (afterAllocated)="afterAllocated($event)"
  ></rc-service-list>

  <div
    *ngIf="!items$?.length"
    class="empty-list-hint"
    [rcLoadingMask]="loading"
  >
    <span *ngIf="!loading">{{ 'no_devops_tools' | translate }}</span>
  </div>
</div>
