@import 'var';
:host {
  .empty-list-hint {
    padding: 140px 0;
    font-size: 14px;
    text-align: center;
    color: $color-text-help;
  }

  .list-header {
    display: flex;
    padding-bottom: 12px;
    justify-content: space-between;
  }
}
