.content-container {
  margin-top: 24px;
  margin-bottom: 24px;
}

.rc-dialog-footer {
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.12);
  display: flex;
  background-color: #f8f8f8;
  padding: 11px 16px;
  justify-content: flex-end;
  ::ng-deep > button {
    margin: 0 4px 0 0;
  }
}
