<aui-dialog-header>
  {{ 'create' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div>
    <form
      [formGroup]="form"
      auiForm
      auiFormLabelWidth="150px"
      [auiFormEmptyAddon]="true"
    >
      <div class="content-container">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'name' | translate }}</label>
          <input
            aui-input
            required
            type="text"
            formControlName="name"
            pattern="^[a-zA-Z0-9_.-]+$"
            maxLength="100"
          />
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'username' | translate }}</label>
          <input
            aui-input
            type="text"
            required
            formControlName="username"
            maxLength="100"
          />
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'password' | translate }}</label>
          <input
            aui-input
            type="password"
            required
            formControlName="password"
            maxLength="100"
          />
        </aui-form-item>
      </div>
    </form>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <span fxFlex></span>
  <button aui-button (click)="closeModal()">
    {{ 'cancel' | translate }}
  </button>
  <button aui-button="primary" (click)="onSubmit()">
    {{ 'create' | translate }}
  </button>
</aui-dialog-footer>
