:host {
  .aui-table {
    &__column-status {
      flex: 0 0 220px;
    }
    &__column-host_ip {
      flex: 0 0 100px;
    }
    &__column-pod_ip {
      flex: 0 0 100px;
    }
    &__column-creationTimestamp {
      flex: 0 0 150px;
    }
    &__column-action {
      flex: 0 0 60px;
      justify-content: flex-end;
    }
  }
}
