<rc-zero-state
  [fetching]="loading && !viewModel.length"
  [zeroState]="!viewModel.length"
  resourceName="k8s_pod"
  [plain]="true"
></rc-zero-state>
<aui-card *ngIf="viewModel.length">
  <aui-table [dataSource]="viewModel">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span [auiTooltip]="item.name">
          {{ item.name }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-status-icon [status]="getPodStatus(item.status)"></rc-status-icon>
        <span [style.margin-left]="'4px'" [title]="item.status">
          {{ item.status || ('status_unknown' | translate) }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="host_ip">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'pod_host_ip' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.host_ip }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="pod_ip">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'pod_ip' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.pod_ip }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="creationTimestamp">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_at' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.creationTimestamp | rcFormatUtcStr }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div [auiDropdown]="menu" class="action-button" *ngIf="canUpdate">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item (click)="deleteInstance(item)">
            {{ 'service_instance_restart' | translate }}
          </aui-menu-item>
          <aui-submenu>
            EXEC
            <aui-menu-item
              *ngFor="let co of item.containers"
              (click)="onContainerSelect(item, co)"
              [disabled]="!canEXEC(item, co)"
            >
              {{ co.name || '-' }}
            </aui-menu-item>
          </aui-submenu>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columnDef"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="let row; columns: columnDef"
    ></aui-table-row>
  </aui-table>
</aui-card>
