<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a
        href="javascript:void(0)"
        [routerLink]="['/console/user/workspace', baseParams, 'app']"
      >
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a
        href="javascript:void(0)"
        [routerLink]="[
          '/console/user/workspace',
          baseParams,
          'app',
          'detail',
          appName
        ]"
      >
        {{ appName }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'update_app' | translate }}({{ 'preview' | translate }})
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-app-create-preview-form
  [isUpdate]="true"
  [baseParams]="baseParams"
  [mirrorClusters]="mirrorClusters"
  (onAddComponent)="onAddComponent($event)"
  (onUpdateComponent)="onUpdateComponent($event)"
  (onSubmit)="onCreate()"
  (onCancel)="onCancel()"
></rc-app-create-preview-form>
