<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="jumpToListPage()">
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ app }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div class="rc-detail-page-tab-container">
  <aui-tab-group
    [selectedIndex]="seletedTabIndex$ | async"
    (selectedIndexChange)="onTabIndexChange($event)"
  >
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'detail_info' | translate }}
      </ng-container>
      <rc-app-detail-main
        [appData]="appData$ | async"
        [cluster]="cluster$ | async"
        [appStatus]="appStatus$ | async"
        [actions]="actions$ | async"
      ></rc-app-detail-main>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'k8s_pod' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-app-detail-pod-group
          [pods]="pods$ | async"
          [resourceActions]="actions$ | async"
          [appName]="app"
          [baseParams]="baseParams$ | async"
        ></rc-app-detail-pod-group>
      </ng-container>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        YAML
      </ng-container>
      <ng-container *auiTabContent>
        <aui-code-editor
          name="yaml"
          [ngModel]="yaml$ | async"
          [options]="codeEditorOptions"
          [actionsConfig]="actionsConfigView"
        ></aui-code-editor>
      </ng-container>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'app_topology' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-app-topology
          [cluster]="cluster$ | async"
          [namespace]="namespace"
          [name]="app"
          [app]="appData$ | async"
          [appStatus]="appStatus$ | async"
        ></rc-app-topology>
      </ng-container>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'application_history' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-application-history
          [appHistory]="appHistory$ | async"
          [cluster]="cluster$ | async"
          [namespace]="namespace"
          [project]="project$ | async"
          [appName]="app"
          [appActions]="actions$ | async"
        ></rc-application-history>
      </ng-container>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'logs' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-pod-controller-detail-log
          [baseParams]="baseParams$ | async"
          [pods]="pods$ | async"
          [initialState]="logInitialState$ | async"
        ></rc-pod-controller-detail-log>
      </ng-container>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'event' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-application-event
          [appData]="appData$ | async"
          [cluster]="cluster$ | async"
          [namespace]="namespace"
        ></rc-application-event>
      </ng-container>
    </aui-tab>

    <aui-tab *ngIf="(showMetricTab$ | async)">
      <ng-container *auiTabLabel>
        {{ 'monitoring' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-application-monitor
          [appData]="appData$ | async"
          [cluster]="cluster$ | async"
          [namespace]="namespace"
        ></rc-application-monitor>
      </ng-container>
    </aui-tab>

    <aui-tab *ngIf="(showMetricTab$ | async)">
      <ng-container *auiTabLabel>
        {{ 'alarm' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-app-core-alarm
          [appData]="appData$ | async"
          [clusterName]="cluster$ | async"
          [projectName]="project$ | async"
          [namespaceName]="namespace"
        ></rc-app-core-alarm>
      </ng-container>
    </aui-tab>
  </aui-tab-group>
</div>
