@mixin detail-page-style {
  display: flex !important;
  flex-direction: column;
  flex: 1;
}

@mixin detail-page-tab-container-style {
  @include vertical-full-screen-style();
  ::ng-deep aui-tab-group {
    @include vertical-full-screen-style();
    .aui-tab-group {
      @include vertical-full-screen-style();
      &__body-wrapper {
        @include vertical-full-screen-style();
        aui-tab-body {
          @include vertical-full-screen-style();
          .aui-tab-body {
            @include vertical-full-screen-style();
            &__content {
              @include vertical-full-screen-style();
              ::ng-deep aui-code-editor {
                @include vertical-full-screen-style();
                .aui-code-editor {
                  flex: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

@mixin vertical-full-screen-style {
  display: flex;
  flex-direction: column;
  flex: 1;
}

rc-loading-mask {
  height: 120px;
  background: transparent;
}

::ng-deep aui-code-editor {
  display: block;
}
