:host {
  ::ng-deep {
    .aui-input-group__input-wrapper {
      display: flex;
      aui-select {
        flex: 0 0 100px;
      }
    }
    .aui-input-group.hasAddonAfter .aui-input:nth-child(1) {
      border-right: 0;
    }
    .aui-input-group.hasAddonAfter .aui-input:nth-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    aui-input-group {
      width: 100%;
    }
    .aui-input-group--medium .aui-input-group__addon {
      padding: 0;
      border: 0;
      span {
        padding: 5px 7px;
        border: 1px solid #ccc;
      }
    }
    .aui-input-group__addon--before {
      span {
        border-right: none;
        border-radius: 2px 0 0 2px;
      }
    }
    .aui-input-group__addon--after {
      white-space: nowrap;
      span {
        border-left: none;
        border-radius: 0 2px 2px 0;
      }
    }
  }
}
