<form
  [formGroup]="form"
  auiForm
  auiFormLabelPosition="right"
  [auiFormEmptyAddon]="false"
>
  <!-- 告警名称 -->
  <aui-form-item>
    <label auiFormItemLabel>{{ 'alarm_name' | translate }}</label>
    <ng-container auiFormItemControl required>
      <input
        formControlName="name"
        aui-input
        maxlength="32"
        [pattern]="resourceNameReg.pattern"
        [placeholder]="resourceNameReg.tip | translate"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="{ pattern: resourceNameReg.tip | translate }"
      />
    </ng-container>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <!-- 告警等级 -->
  <aui-form-item>
    <label auiFormItemLabel>{{ 'alarm_level' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-select formControlName="level" rcErrorsTooltip>
        <aui-option
          *ngFor="let level of levels"
          [value]="level"
          [label]="level"
        >
          {{ level }}
        </aui-option>
      </aui-select>
    </ng-container>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <!-- 阈值 -->
  <aui-form-item>
    <label auiFormItemLabel>{{ 'alarm_threshold' | translate }}</label>
    <aui-input-group auiFormItemControl required>
      <span
        [hidden]="metric_name !== 'workload.log.keyword.count'"
        auiInputAddonBefore
      >
        {{ 'log_count' | translate }}
      </span>
      <aui-select formControlName="compare" rcErrorsTooltip>
        <aui-option
          *ngFor="let compareOption of compareOptions"
          [value]="compareOption"
        >
          {{ compareOption }}
        </aui-option>
      </aui-select>
      <input
        aui-input
        formControlName="threshold"
        maxlength="16"
        [placeholder]="thresholdPlaceholder"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="thresholdTooltipMapper"
      />
      <span [hidden]="!unit_name" auiInputAddonAfter>{{ unit_name }}</span>
    </aui-input-group>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <!-- 持续时间 -->
  <aui-form-item [hidden]="metric_name === 'workload.log.keyword.count'">
    <label auiFormItemLabel>{{ 'alarm_wait_time' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-select formControlName="wait" rcErrorsTooltip>
        <aui-option
          *ngFor="let timeStampOption of timeStampOptions"
          [value]="timeStampOption.offset"
          [label]="timeStampOption.name"
        >
          {{ timeStampOption.name }}
        </aui-option>
      </aui-select>
    </ng-container>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <rc-foldable-block hint="{{ 'advanced' | translate }}">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'label' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        formControlName="labels"
        [valiadator]="labelValidator"
        [errorMapper]="labelErrorMapper"
      ></rc-key-value-form-table>
      <span auiFormItemAddon></span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'annotation' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        formControlName="annotations"
        [valiadator]="labelValidator"
        [errorMapper]="labelErrorMapper"
      ></rc-key-value-form-table>
      <span auiFormItemAddon></span>
    </aui-form-item>
  </rc-foldable-block>
</form>
