<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<ng-container *ngIf="initialized">
  <ng-container [ngSwitch]="status">
    <rc-component-alarm
      *ngSwitchCase="'list'"
      [clusterName]="baseParams.cluster"
      [namespaceName]="baseParams.namespace"
      [listParam]="listParam"
      [appName]="appName"
      (alarmRoute)="onAlarmRoute($event)"
    ></rc-component-alarm>

    <rc-alarm-form
      *ngSwitchCase="'form'"
      [podController]="podController"
      [projectName]="baseParams.project"
      [alarmUpdateParam]="alarmUpdateParam"
      [appName]="appName"
      (alarmRoute)="onAlarmRoute($event)"
    ></rc-alarm-form>

    <rc-alarm-detail
      *ngSwitchCase="'detail'"
      [alarmUpdateParam]="alarmUpdateParam"
      (alarmRoute)="onAlarmRoute($event)"
    ></rc-alarm-detail>
  </ng-container>
</ng-container>
