.item {
  display: flex;
  margin-top: 10px;
  &__label {
    width: 80px;
    text-align: right;
    padding-right: 5px;
  }
  &__node {
    padding: 0px 5px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  &__script {
    flex: 1;
    height: 240px;
    padding: 8px;
    background-color: #f3f3f3;
    resize: unset;
    overflow: auto;
  }
}
.wapper {
  display: inline-flex;
  align-items: center;
}
.tags_wapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  //为了抵消aui-tag设置的margin bottom
  margin-bottom: -5px;
}
:host {
  aui-tag {
    margin-bottom: 5px;
  }
}
