<aui-dialog-header>
  {{ 'script_info' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-inline-alert
    type="warning"
    [content]="'script_info_tip' | translate"
  ></aui-inline-alert>
  <div class="item">
    <span class="item__label">{{ 'region_slave_node' | translate }}:</span>
    <div class="item__node">
      <span *ngFor="let node of nodeList">{{ node.ipaddress }};</span>
    </div>
  </div>
  <div class="item">
    <span class="item__label">{{ 'script' | translate }}:</span>
    <textarea readonly class="item__script">{{ script }}</textarea>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="copyScript()">
      {{ 'copy_script' | translate }}
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>
