:host {
  .detail-wrapper-line {
    border: dashed 1px #ededed;
    margin: 15px 0px;
  }
  .detail-wrapper {
    .detail-title {
      font-weight: 500;
    }
    margin: 0;
    .detail-item {
      align-items: flex-start;
      margin-top: 12px;
      &--question {
        padding-left: 8px;
        color: #999;
        &:hover {
          color: #009ce3;
        }
      }
    }
  }
}
