<div class="detail-wrapper-line"></div>
<div class="detail-wrapper">
  <div class="detail-title">
    {{'job_config' | translate}}
  </div>
  <div class="detail-content">
    <div class="detail-item" *ngIf="showJobType">
      <label>{{ 'job_type' | translate }}</label>
      {{getJobType() | translate}}
      <aui-icon
        [auiTooltip]="job_type_tip"
        class="detail-item--question"
        icon="basic:question"
      ></aui-icon>
    </div>
    <div class="detail-item" *ngIf="jobSpec.completions">
      <label>{{ 'planned_successful_jobs' | translate }}</label>
      {{jobSpec.completions}}
    </div>
    <div class="detail-item" *ngIf="jobSpec.parallelism">
      <label>{{ 'max_number_parallel_jobs' | translate }}</label>
      {{jobSpec.parallelism}}
    </div>
    <div class="detail-item">
      <label>{{ 'job_failure_retries' | translate }}</label>
      {{jobSpec.backoffLimit | rcFieldNotAvailable}}
    </div>
    <div class="detail-item">
      <label>{{ 'job_exec_timeout' | translate }}</label>
      {{jobSpec.activeDeadlineSeconds | rcFieldNotAvailable}} {{'second' |
      translate}}
    </div>
  </div>
</div>
<ng-template #job_type_tip>
  <div>{{ 'single_job' | translate }}: {{'single_job_tip' | translate}}</div>
  <div>
    {{ 'parallel_job' | translate }}: {{ 'parallel_job_tip' | translate }}
  </div>
  <div>
    {{ 'fixed_number_job' | translate }}: {{ 'fixed_number_job_tip' | translate
    }}
  </div>
</ng-template>
