<aui-breadcrumb>
  <aui-breadcrumb-item
    *ngFor="let partial of (partials$ | async); last as isLast"
  >
    <a
      *ngIf="
        partial.routerLink && !(contentItemTemplates?.length === 0 && isLast);
        else notHrefItem
      "
      [routerLink]="partial.routerLink"
    >
      {{ partial.label }}
    </a>
    <ng-template #notHrefItem>
      <span>{{ partial.label | translate }}</span>
    </ng-template>
  </aui-breadcrumb-item>
  <!-- We want to project only the breaditem contents here -->
  <aui-breadcrumb-item *ngFor="let templateRef of contentItemTemplates">
    <ng-container *ngTemplateOutlet="templateRef"></ng-container>
  </aui-breadcrumb-item>
</aui-breadcrumb>
