.logs-container {
  padding: 20px;
  .diagram {
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    aui-pipeline-status-diagram {
      margin: 0 auto;
    }
  }
  .action {
    display: flex;
    justify-content: space-between;
    margin: 16px 0 12px 0;
    button,
    span {
      font-size: 14px;
    }
  }
  .logs-content {
    display: flex;
    flex-direction: column;
  }
}
