<div class="logs-container">
  <div class="diagram" *ngIf="!fullLog && history?.jenkins?.stages?.length">
    <aui-pipeline-status-diagram
      *ngIf="history?.jenkins?.stages?.length"
      [stages]="history.jenkins.stages"
      [selected]="selectedStage"
      (selectedChange)="selectedChange($event)"
    ></aui-pipeline-status-diagram>
  </div>
  <div class="action">
    <span>
      <span *ngIf="!fullLog && selectedStage">
        {{ selectedStage?.name }} ({{
          selectedStage?.duration_millis | rcDurationToConsumed
        }})
      </span>
    </span>
    <button aui-button="text" (click)="fullLog = !fullLog">
      {{
        (fullLog ? 'pipeline_view_stage_log' : 'pipeline_view_full_log')
          | translate
      }}
    </button>
  </div>
  <div class="logs-content" *ngIf="!fullLog">
    <div class="step" *ngFor="let step of steps; trackBy: trackById">
      <rc-pipeline-history-step
        [namespace]="namespace"
        [historyName]="history?.name"
        [spaceName]="space?.name"
        [stageId]="selectedStage?.id"
        [step]="step"
      ></rc-pipeline-history-step>
    </div>
  </div>
  <div *ngIf="fullLog || !history?.jenkins?.stages?.length">
    <ng-container
      *rcAsyncData="let loading; handler: fetchLogs; pullIn: more ? 2000 : 0"
    >
      <rc-log-view
        [logs]="text"
        [paginated]="false"
        [pullEnabled]="true"
        [pullToggleEnabled]="false"
      ></rc-log-view>
    </ng-container>
  </div>
</div>
