<rc-loading-mask
  class="rc-form-loading-mask"
  [loading]="!initialized"
></rc-loading-mask>
<form #form="ngForm" auiForm>
  <div class="resource-form__wrapper" *ngIf="initialized">
    <div class="resource-form__header">
      <span>{{ 'create_storageclass' | translate }}</span>
    </div>
    <div class="resource-form__content">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
        <span>{{ region.name }}</span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'yaml_file' | translate }}</label>
        <aui-code-editor
          auiFormItemControl
          name="yaml"
          style="width: 100%;"
          required
          [rcErrorsTooltip]
          [rcErrorsTooltipInline]="true"
          [(ngModel)]="yamlContent"
          [options]="codeEditorOptions"
        ></aui-code-editor>
      </aui-form-item>
    </div>
  </div>
  <div class="resource-form__footer" [hidden]="!initialized">
    <div style="flex: 1;"></div>
    <button
      type="button"
      aui-button="primary"
      [loading]="submitting"
      [disabled]="submitting"
      (click)="submit()"
    >
      <span>{{ 'confirm' | translate }}</span>
    </button>
    <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</form>
