<aui-inline-alert
  [content]="'userview_pvc_tips' | translate"
></aui-inline-alert>

<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <button
      aui-button="primary"
      (click)="createPvc()"
      *ngIf="hasCreatePvcPermission"
    >
      {{ 'create_pvc' | translate }}
    </button>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [searching]="searching"
      [keyword]="search$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
  </div>

  <aui-table [dataSource]="list$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'pvc_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/pvc.svg" alt="" />
          <div class="rc-lines text-truncate">
            <div class="rc-line">
              <a href="javascript:void(0)" (click)="showDetail(item)">
                {{ item.kubernetes.metadata.name }}
              </a>
            </div>
          </div>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-status-badge
          [status]="statusMap[item.kubernetes.status.phase]"
        ></rc-status-badge>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="connect_pv">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'connect_pv' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.kubernetes.spec.volumeName | rcFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="size">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'size' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.kubernetes.spec.resources.requests.storage }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_date">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_date' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.kubernetes.metadata.creationTimestamp | rcFormatMs }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div
          [auiDropdown]="menu"
          (auiDropdownShow)="resourcePermissionService.sendRequest(rowData)"
          class="action-button"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <ng-container
            *ngTemplateOutlet="
              menuContent;
              context: {
                permission:
                  resourcePermissionService.getByResource$(rowData) | async
              }
            "
          ></ng-container>
          <ng-template #menuContent let-permission="permission">
            <div *ngIf="!permission" class="aui-menu__loading-placehoder">
              <rc-loading-mask [loading]="true"></rc-loading-mask>
            </div>
            <ng-container *ngIf="!!permission">
              <aui-menu-item (click)="showDetail(rowData)">
                {{ 'view' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="
                  resourcePermissionService.checkByAction('update', permission)
                "
                (click)="updatePvc(rowData)"
                [disabled]="mirrorClusters.length"
              >
                {{ 'update' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="
                  resourcePermissionService.checkByAction('delete', permission)
                "
                (click)="deletePvc(rowData)"
              >
                {{ 'delete' | translate }}
              </aui-menu-item>
            </ng-container>
          </ng-template>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <rc-zero-state
    [zeroState]="showZeroState"
    [fetching]="!initialized && fetching"
    resourceName="pvc"
  ></rc-zero-state>
</aui-card>
<aui-paginator
  *ngIf="(listMeta$ | async)?.count"
  [length]="(listMeta$ | async)?.count"
  [pageSize]="(pageParams$ | async)?.pageSize"
  [pageIndex]="(pageParams$ | async)?.pageIndex - 1"
  (currentPageChange)="pageChanged('pageIndex', $event)"
  (pageSizeChange)="pageChanged('pageSize', $event)"
  [pageSizeOptions]="[10, 20, 50, 100]"
></aui-paginator>
