@import 'var';

.storage-custom-header {
  flex: 1;
  display: flex;
  align-items: center;
}
.notification-switch {
  margin-left: auto;
  color: $color-info;
  transition: color ease 0.3s;
  &:hover {
    color: $color-primary;
  }
}
