:host::ng-deep {
  .aui-card {
    margin-bottom: 16px;
    &__header {
      align-items: center;
    }
  }
  a {
    color: #0ea2e5;
    &:hover {
      color: #0ea2e5 !important;
    }
  }
  .rc-detail-header-wrapper {
    padding: 4px 0;
  }
  .detail-item {
    cursor: default;
  }
}
