<aui-card *ngIf="data">
  <div auiCardHeader class="rc-detail-header-wrapper">
    {{resource.metadata.name}}
    <div fxFlex></div>
    <button aui-button="default" [plain]="true" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu size="small">
      <aui-menu-item
        [disabled]="!canShowDelete(data)"
        (click)="onDelete.next()"
      >
        {{ 'delete' | translate }}
      </aui-menu-item>
    </aui-menu>
  </div>
  <div class="rc-detail-container">
    <div class="detail-wrapper">
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'job_status' | translate }}</label>
          <ng-container
            *ngTemplateOutlet="
              job_status;
              context: {
                status: getJobStatus(rowData)
              }
            "
          ></ng-container>
        </div>
        <div class="detail-item">
          <label>{{ 'created_date' | translate }}</label>
          {{ resource.metadata.creationTimestamp | rcFormatMs }}
        </div>
        <div class="detail-item">
          <label>{{ 'job_assignment' | translate }}</label>
          <span>
            {{'executing' | translate}} {{resource.status.active |
            rcFieldNotAvailable}} /
          </span>
          <span>
            {{'success' | translate}} {{resource.status.succeeded |
            rcFieldNotAvailable}} /
          </span>
          <span>
            {{'failed' | translate}} {{resource.status.failed |
            rcFieldNotAvailable}}
          </span>
        </div>
        <div class="detail-item">
          <label>{{ 'references_cron_job' | translate }}</label>
          <ng-container
            *ngTemplateOutlet="
              references_cron_job;
              context: {
                data: getOwnerCronJob()
              }
            "
          ></ng-container>
        </div>
      </div>
    </div>
    <rc-job-config
      [showJobType]="false"
      [jobSpec]="data.kubernetes.spec"
    ></rc-job-config>
  </div>
</aui-card>
<rc-pod-controller-containers
  [baseParams]="baseParams"
  [podController]="data.kubernetes"
  [canUpdate]="true"
  [actions]="['log']"
  (onOpenLog)="onOpenLogHandler($event)"
></rc-pod-controller-containers>

<ng-template #job_status let-status="status">
  <rc-status-icon [status]="status.icon"></rc-status-icon>
  <span [style.margin-left]="'4px'">
    {{ status.job | translate }}
  </span>
</ng-template>

<ng-template #references_cron_job let-data="data">
  <span *ngIf="!data.link">{{data.name}}</span>
  <a
    *ngIf="data.link"
    href="javascript:void(0)"
    (click)="onOpenCronJobDetail.next(data.name)"
  >
    {{ data.name }}
  </a>
</ng-template>
