:host ::ng-deep {
  .type-form aui-form-item:last-child .aui-form-item {
    margin-bottom: 16px;
  }
  rc-pod-affinity-form .aui-form .affinity-component .aui-form-item {
    margin-bottom: 0;
  }
  rc-pod-affinity-form .aui-form .topology .aui-form-item {
    margin-bottom: 16px;
  }
}
