<aui-dialog-header>
  {{ data.mode + '_podAffinity' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form [hidden]="isUpdate" auiForm auiFormLabelWidth="150px" class="type-form">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'affinity_setting' | translate }}</label>
      <aui-radio-group
        auiFormItemControl
        name="type"
        size="medium"
        [(ngModel)]="type"
      >
        <aui-radio-button value="affinity">
          {{ 'podAffinity' | translate }}
        </aui-radio-button>
        <aui-radio-button value="antiAffinity">
          {{ 'podAntiAffinity' | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
  </form>

  <rc-pod-affinity-form
    [type]="type"
    [mode]="data.mode"
    [namespace]="data.namespace"
    [cluster]="data.cluster"
    [(ngModel)]="affinity"
  ></rc-pod-affinity-form>
</aui-dialog-content>
<!-- <pre>{{ affinity | json }}</pre> -->
<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()">
    {{ 'add' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
