<aui-dialog-header>{{ dialogData.title }}</aui-dialog-header>
<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelWidth="140px"
    [auiFormEmptyAddon]="true"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input
        auiFormItemControl
        name="name"
        aui-input
        required
        maxlength="120"
        [pattern]="resourceNameReg.pattern"
        [readOnly]="isEditModel"
        [(ngModel)]="viewModel.name"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="{ pattern: resourceNameReg.tip | translate }"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <input
        auiFormItemControl
        name="display_name"
        aui-input
        maxlength="120"
        [(ngModel)]="viewModel.display_name"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'build_code_repo_client' | translate }}</label>
      <aui-radio-group
        size="medium"
        auiFormItemControl
        required
        name="type"
        [(ngModel)]="viewModel.type"
      >
        <aui-radio-button [value]="VcsType.Git">
          {{ VcsType.Git }}
        </aui-radio-button>
        <aui-radio-button [value]="VcsType.SVN">
          {{ VcsType.SVN }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'build_code_repo_path' | translate }}</label>
      <input
        auiFormItemControl
        required
        name="url"
        aui-input
        maxlength="1024"
        pattern="(https?)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]
        [(ngModel)]="viewModel.url"
      />
    </aui-form-item>
    <aui-form-item *ngIf="viewModel.type === VcsType.Git">
      <label auiFormItemLabel>{{ 'build_code_repo_branch' | translate }}</label>
      <input
        auiFormItemControl
        required
        name="branch"
        aui-input
        maxlength="120"
        pattern="[-A-Za-z0-9/]+"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]
        [(ngModel)]="viewModel.branch"
      />
    </aui-form-item>
    <aui-form-item *ngIf="viewModel.type === VcsType.Git">
      <label auiFormItemLabel>{{ 'build_code_repo_dir' | translate }}</label>
      <input
        auiFormItemControl
        required
        name="path"
        aui-input
        maxlength="120"
        pattern="[-A-Za-z0-9/]+"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]
        [(ngModel)]="viewModel.path"
      />
      <span auiFormItemAddon>
        <aui-icon
          [auiTooltip]="'app_catalog_dir_hint' | translate"
          [auiTooltipPosition]="'end center'"
          icon="basic:question"
        ></aui-icon>
      </span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        auiFormItemControl
        name="username"
        aui-input
        maxlength="120"
        [(ngModel)]="viewModel.username"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <input
        auiFormItemControl
        name="password"
        type="password"
        aui-input
        maxlength="120"
        [(ngModel)]="viewModel.password"
      />
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button [disabled]="submitting" (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
    <button aui-button="primary" [loading]="submitting" (click)="submit()">
      {{ (isEditModel ? 'update' : 'add') | translate }}
    </button>
  </div>
</aui-dialog-footer>
