<rc-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
  [formGroup]="form"
>
  <ng-container *rcArrayFormTableHeader>
    <td width="33%">
      {{ 'service_port' | translate }}
      <aui-icon
        [auiTooltip]="'service_port_hint' | translate"
        icon="basic:question"
        color="#999"
      ></aui-icon>
    </td>
    <td width="33%">
      {{ 'target_port' | translate }}
      <aui-icon
        [auiTooltip]="'target_port_hint' | translate"
        icon="basic:question"
        color="#999"
      ></aui-icon>
    </td>
    <td width="30%">{{ 'port_name' | translate }}</td>
  </ng-container>

  <ng-container
    *rcArrayFormTableRow="let control; let index = index"
    [formGroupName]="index"
  >
    <td>
      <input
        aui-input
        type="number"
        formControlName="port"
        rcErrorsTooltip
        [placeholder]="'service_port' | translate"
      />
    </td>
    <td>
      <input
        aui-input
        type="number"
        formControlName="targetPort"
        rcErrorsTooltip
        [placeholder]="'service_port' | translate"
      />
    </td>
    <td>
      <span>{{ control.value.name }}</span>
    </td>
  </ng-container>
</rc-array-form-table>
