<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/user/project', { project: project?.name }]">
        {{ 'project_overview' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'create_namespace' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div class="namespace-create">
  <div class="namespace-create__header">
    <rc-steps-process
      *ngIf="canAccountDisplay"
      [steps]="steps"
      [currStep]="currStep"
    ></rc-steps-process>
  </div>
  <h3 *ngIf="!canAccountDisplay">{{ 'create_namespace' | translate }}</h3>
  <div class="namespace-create__divider"></div>
  <ng-container *ngIf="currStep === 1">
    <ng-container *ngIf="!createStatus && project">
      <div class="namespace-create__content">
        <form #form="ngForm" auiForm class="namespace-create__form">
          <rc-app-create-namespace-form
            name="namespace"
            [project]="project"
            [(ngModel)]="namespace"
          ></rc-app-create-namespace-form>
        </form>
      </div>
      <div class="namespace-create__divider"></div>
      <div class="namespace-create__footer">
        <button aui-button="primary" (click)="create()">
          {{ 'create' | translate }}
        </button>
        <button aui-button (click)="cancel()">
          {{ 'cancel' | translate }}
        </button>
      </div>
    </ng-container>
    <div class="namespace-create--ing" *ngIf="createStatus === 'ing'">
      <div class="namespace-create--ing__loading">
        <rc-loading-mask [loading]="true"></rc-loading-mask>
      </div>
      <div class="namespace-create--ing__text">
        {{ 'namespace_creating' | translate }}
      </div>
    </div>
    <div class="namespace-create--wrong" *ngIf="createStatus === 'wrong'">
      <div class="namespace-create--wrong__header">
        <div class="namespace-create--wrong__text">
          <aui-inline-alert [closable]="true">
            <span>{{ 'namespace_data_cleaning_tip' | translate }}</span>
          </aui-inline-alert>
        </div>
      </div>
      <button
        aui-button
        [loading]="deleteLoading"
        [disabled]="deleteLoading"
        (click)="delete()"
      >
        {{ 'namespace_data_cleaning' | translate }}
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="currStep === 2">
    <aui-inline-alert
      [content]="
        (canAccountDisplay
          ? 'create_namespace_tip2_space_enable'
          : 'create_namespace_tip2') | translate
      "
      type="success"
      closable="false"
    ></aui-inline-alert>
    <rc-accounts-list
      *ngIf="canAccountDisplay"
      [projectName]="project.name"
      [namespaceName]="projectNamePrefix + namespace.name"
      [clusterNames]="selectClusterNames"
      [isCreate]="true"
      [namespaceUuid]="namespaceUuid"
    ></rc-accounts-list>
    <div class="namespace-create__divider"></div>
    <div class="namespace-create__footer">
      <button aui-button="primary" (click)="complete()">
        {{ 'complete' | translate }}
      </button>
    </div>
  </ng-container>
</div>
