<div class="template-dyform-credential">
  <aui-select
    [(ngModel)]="credentialName"
    filterable
    [loading]="!credentials"
    [placeholder]="'jenkins_code_credential' | translate"
    fxFlex
  >
    <aui-option
      *ngFor="let credential of credentials"
      [value]="credential.name"
      [label]="credential.display_name"
    >
      {{ credential.display_name }}
    </aui-option>
  </aui-select>
  <a href="javascript:void(0)" (click)="addCredential()" class="add-credential">
    {{ 'jenkins_create_credential' | translate }}
  </a>
</div>
