<div style="margin: 16px auto 20px auto">
  <ng-container
    *rcAsyncData="
      let templates;
      let loading = loading;
      params: (params$ | async);
      handler: fetchData
    "
  >
    <aui-card>
      <div auiCardHeader class="header">
        <div>
          <span>{{ 'pipeline_templates' | translate }}</span>
        </div>
        <aui-search
          [placeholder]="'search_by_display_name_placeholder' | translate"
          [searchButton]="true"
          [searching]="loading"
          (search)="search($event)"
        ></aui-search>
      </div>
      <div class="header-action">
        <div>
          <button
            [ngClass]="{ isSelected: type === 'custom' }"
            (click)="typeChange('custom')"
          >
            {{ 'pipeline_custom' | translate }} ({{ templateCount }})
          </button>
          <button
            [ngClass]="{ isSelected: type === 'official' }"
            (click)="typeChange('official')"
          >
            {{ 'pipeline_official' | translate }} ({{ clusterTemplateCount }})
          </button>
        </div>
      </div>
      <rc-pipeline-template-list
        *ngIf="type === 'custom'"
        [templates]="templates?.private"
      ></rc-pipeline-template-list>
      <rc-pipeline-template-list
        *ngIf="type === 'official'"
        [templates]="templates?.official"
      ></rc-pipeline-template-list>
      <rc-zero-state
        [zeroState]="
          !loading &&
          ((type === 'custom' && !templates?.private?.length) ||
            (type === 'official' && !templates?.official?.length))
        "
        [resourceName]="
          (searchKey.trim() === '' ? 'pipeline_template' : 'pipeline_results')
            | translate
        "
        [fetching]="loading"
      ></rc-zero-state>
    </aui-card>
  </ng-container>
</div>
