<aui-dialog-header>
  {{ title }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'user' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        name="user"
        [(ngModel)]="user"
        [placeholder]="'exec_user_input_placeholder' | translate"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'exec_command' | translate }}
      </label>
      <input
        auiFormItemControl
        required
        rcErrorsTooltip
        aui-input
        name="command"
        [(ngModel)]="command"
      />
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()" [loading]="submitting">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
