<aui-dialog-header>
  {{ 'jenkins_pipeline_select_code_repo' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-tab-group (selectedIndexChange)="tabChange$.next({ index: $event })">
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'build_code_repo_name_input_manual' | translate }}
      </ng-container>
      <div class="tab-content">
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'build_config_code_repo' | translate }}
          </label>
          <aui-input-group>
            <span auiInputAddonBefore>{{ data.codeOrg }} /</span>
            <input
              type="text"
              class="repo-input"
              [ngModel]="input$ | async"
              (ngModelChange)="inputChange$.next($event)"
              aui-input
              placeholder="e.g., your-repo-name"
            />
          </aui-input-group>
        </aui-form-item>
      </div>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'select' | translate }}
      </ng-container>
      <div class="tab-content">
        <div [rcLoadingMask]="loading$ | async" class="repos-container">
          <ul class="repos" *ngIf="!(loading$ | async)">
            <li *ngFor="let item of (results$ | async)">
              <a
                href="javascript:void(0)"
                (click)="select$.next(item.code_repo_path)"
              >
                {{ data.codeOrg }}/{{ item.code_repo_path }}
                <aui-icon
                  *ngIf="(selected$ | async) === item.code_repo_path"
                  icon="check_s"
                ></aui-icon>
              </a>
            </li>
          </ul>
        </div>
        <aui-paginator
          [total]="total$ | async"
          [pageSize]="pageSize"
          [currentPage]="page$ | async"
          (currentPageChange)="pageChange$.next($event)"
        ></aui-paginator>
      </div>
    </aui-tab>
  </aui-tab-group>
</aui-dialog-content>

<aui-dialog-footer>
  <span fxFlex></span>
  <button aui-button (click)="closeModal()">
    {{ 'cancel' | translate }}
  </button>
  <button
    *ngFor="let selectedRepo of [selectedRepo$ | async]"
    aui-button="primary"
    [disabled]="!selectedRepo"
    (click)="closeModal(selectedRepo)"
  >
    {{ 'select' | translate }}
  </button>
</aui-dialog-footer>
