@import 'var';

:host {
  padding: 16px;
  .tab-content {
    overflow: auto;
    min-height: 318px;
    .repos-container {
      display: flex;
      flex-direction: column;
      height: 280px;
      &::after {
        content: '';
        flex-grow: 1;
      }
      .repos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 4px;
        align-items: flex-start;
        justify-content: flex-start;
        > li {
          display: flex;
          flex-direction: row;
          width: 50%;
          padding: 4px;
          > a {
            display: flex;
            padding: 8px;
            flex: 1;
            height: 60px;
            border: solid 1px $border-color;
            position: relative;
            color: #666;
            text-decoration: none;
            line-height: normal;
            &:hover {
              background-color: $color-primary-extra-light;
            }
            &:active {
              text-decoration: none;
            }
            aui-icon {
              position: absolute;
              bottom: 8px;
              right: 8px;
              font-size: 16px;
            }
          }
        }
      }
    }
    rc-loading-mask {
      width: 568px;
      height: 344px;
    }
  }

  .rc-dialog-footer {
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.12);
    display: flex;
    background-color: #f8f8f8;
    padding: 11px 16px;
    justify-content: flex-end;
    ::ng-deep > button {
      margin: 0 4px 0 0;
    }
  }
}
