:host {
  .domain_projects {
    display: inline-flex;
    align-items: center;
    &__name {
      margin-right: 8px;
    }
    &__more {
      font-size: 12px;
      color: #777;
    }
  }

  .aui-table__column-type {
    flex: 0 0 200px;
  }
}

::ng-deep .project-dropdown-wrapper {
  max-height: 400px;
  overflow: auto;
}
