@import 'var';

:host {
  display: block;
  flex: 1;
  .add-rule-indicator {
    color: $blue-6;

    span {
      cursor: pointer;
    }
  }
  .rule-indicators {
    $dash-border-color: #e5e1e1;
    $tip-color: #bdc8cf;
    $tip-bg-color: #f5f6f6;

    .rule-part-form {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      background: #fafafa;

      &__body {
        width: 100%;
        display: flex;
        align-items: center;

        .remove-indicator {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          aui-icon {
            padding: 5px;
            color: #999999;
            cursor: pointer;
            &:hover {
              color: #009ce3;
            }
          }
        }
      }

      &__errors {
        margin-top: 8px;
        color: $color-error;
        font-size: 12px;
      }
    }
  }
}
