<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="100px"
  [auiFormEmptyAddon]="true"
>
  <ng-container formGroupName="spec">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'rule_description' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        type="text"
        rcErrorsTooltip
        [placeholder]="'please_input_description' | translate"
        required
        formControlName="description"
      />
    </aui-form-item>
    <aui-form-item *ngIf="showCertificate">
      <label auiFormItemLabel>{{ 'certificate' | translate }}</label>
      <aui-switch
        [(ngModel)]="certificateEnabled"
        (ngModelChange)="certificateEnabledChange($event)"
        [ngModelOptions]="{ standalone: true }"
        name="certificateEnabled"
      ></aui-switch>
      <ng-container auiFormItemHint>
        <rc-load-balancer-certificate-form
          [hidden]="!certificateEnabled"
          rcErrorsTooltip
          formControlName="certificate_name"
          [secretList]="secretList"
        ></rc-load-balancer-certificate-form>
      </ng-container>
    </aui-form-item>
    <aui-form-item formGroupName="serviceGroup">
      <label auiFormItemLabel>{{ 'kube_service_group' | translate }}</label>
      <rc-load-balancer-service-group-form
        [clusterName]="clusterName"
        [namespaceList]="namespaceList"
        [serviceList]="serviceList"
        formControlName="services"
      ></rc-load-balancer-service-group-form>
    </aui-form-item>
    <aui-form-item *ngIf="loadBalancer.spec.type !== 'elb'">
      <label auiFormItemLabel>{{ 'rule' | translate }}</label>
      <div style="width: 100%">
        <ul class="rule-indicators list-unstyled">
          <li
            class="rule-part-form"
            *ngFor="
              let control of ruleIndicatorsForm?.controls;
              let index = index
            "
          >
            <div class="rule-part-form__body">
              <rc-load-balancer-rule-part-form
                style="width: 100%"
                [chosenControls]="ruleIndicatorsForm?.controls"
                [lbType]="loadBalancer.spec.type"
                [formControl]="control"
              ></rc-load-balancer-rule-part-form>
              <div class="remove-indicator">
                <aui-icon
                  icon="basic:trash"
                  (click)="removeRuleIndicator(index)"
                ></aui-icon>
              </div>
            </div>
            <div
              class="rule-part-form__errors"
              *ngIf="control.errors?.duplicateType"
            >
              {{ 'rule_type_duplicate' | translate }}: {{
              getRuleTypeDisplay(control.errors.duplicateType) }}
            </div>
          </li>
        </ul>
        <div
          class="add-rule-indicator"
          *ngIf="ruleIndicatorsForm.controls.length < this.ruleTypes.length"
        >
          <span (click)="addRuleIndicator()">
            <aui-icon icon="basic:add_circle"></aui-icon>
            {{ 'add_rule_indicator' | translate }}
          </span>
        </div>
      </div>
    </aui-form-item>
    <aui-form-item formGroupName="serviceGroup">
      <label auiFormItemLabel>{{ 'session_affinity' | translate }}</label>
      <aui-radio-group formControlName="session_affinity_policy">
        <aui-radio-button
          *ngFor="let type of sessionAffinityTypes"
          [value]="type"
        >
          {{ 'session_affinity_' + type | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item
      formGroupName="serviceGroup"
      [hidden]="
        form.get('spec.serviceGroup.session_affinity_policy').value !== 'cookie'
      "
    >
      <label auiFormItemLabel>
        {{ 'session_affinity_attribute' | translate }}
      </label>
      <input aui-input formControlName="session_affinity_attribute" />
    </aui-form-item>
  </ng-container>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'url_rewrite' | translate }}</label>
    <aui-switch
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="urlRewrite"
      (ngModelChange)="urlRewriteChange($event)"
    ></aui-switch>
  </aui-form-item>
  <aui-form-item formGroupName="spec" [hidden]="!urlRewrite">
    <label auiFormItemLabel>{{ 'rewrite_target' | translate }}</label>
    <input
      aui-input
      rcErrorsTooltip
      formControlName="rewrite_target"
      [placeholder]="'please_input_rewrite_target' | translate"
    />
  </aui-form-item>
</form>
