<aui-card>
  <div auiCardHeader style="display:flex">
    <span style="display:flex">
      <img
        *ngIf="pipeline?.strategy?.template"
        src="/static/images/pipeline_new/template.svg"
      />
      <img
        *ngIf="!pipeline?.strategy?.template"
        src="/static/images/pipeline_new/jenkinsfile.svg"
      />
      <span style="margin-left: 8px">{{ pipeline?.name }}</span>
    </span>
    <span
      *ngIf="pipeline?.status?.phase === 'Error'"
      style="color: #f8ac58;margin-left: 8px;"
    >
      <aui-icon
        icon="exclamation_circle_s"
        [auiTooltip]="pipeline?.status.message"
      ></aui-icon>
    </span>
  </div>
  <div auiCardBody class="basic-body">
    <div class="field">
      <label>{{ 'display_name' | translate }}</label>
      <span>{{ pipeline?.displayName || '-' }}</span>
    </div>
    <div class="field">
      <label>{{ 'created_at' | translate }}</label>
      <span>{{ pipeline?.createdAt | rcFormatUtcStr }}</span>
    </div>
    <div class="field">
      <label>{{ 'pipeline_create_mode' | translate }}</label>
      <span *ngIf="!pipeline?.strategy?.template">
        {{ ('pipeline_created_by_script' | translate) || '-' }}
      </span>
      <span *ngIf="pipeline?.strategy?.template">
        {{ ('pipeline_created_by_template' | translate) || '-' }}
      </span>
    </div>
    <div class="field">
      <label>{{ 'pipeline_jenkins_instance' | translate }}</label>
      <span>{{ pipeline?.jenkinsInstance || '-' }}</span>
    </div>
    <div class="field">
      <label>{{ 'pipeline_trigger' | translate }}</label>
      <span>
        <aui-icon
          *ngFor="let trigger of pipeline?.triggers"
          [icon]="mapTriggerIcon(trigger.type)"
          [class.isEnabled]="trigger.enabled"
          auiTooltip="{{
            (trigger.enabled
              ? 'pipeline_trigger_enabled'
              : 'pipeline_trigger_not_enabled') | translate
          }}
            {{ mapTriggerTranslateKey(trigger.type) | translate }}
            {{ 'pipeline_trigger_rules' | translate }}
            {{ trigger.rule | translate }}"
        ></aui-icon>
      </span>
    </div>
    <div class="field">
      <label>
        {{ 'pipeline_run_policy' | translate }}
      </label>
      {{
        (pipeline?.runPolicy === 'Serial'
          ? 'pipeline_serial'
          : 'pipeline_parallel') | translate
      }}
      <span *ngIf="!pipeline?.runPolicy">-</span>
    </div>
  </div>
</aui-card>
