<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="back()">
        {{ 'nav_jenkins' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'nav_jenkins_histories' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <div fxFlex></div>

    <div fxLayout="row" class="search-input">
      <aui-select
        [(ngModel)]="jenkinsIntegrationId"
        filterable
        (ngModelChange)="onJenkinsIntegrationIdChange($event)"
        [loading]="!integrations"
        [disabled]="!integrations?.length"
        [placeholder]="
          (integrations && !integrations.length
            ? 'no_instance'
            : 'jenkins_integration') | translate
        "
      >
        <aui-option
          *ngFor="let option of integrations"
          [label]="option.name"
          [value]="option.id"
        >
          {{ option.name }}
        </aui-option>
      </aui-select>

      <aui-search
        [searchButton]="true"
        [searching]="loading$ | async"
        [(keyword)]="inputValue"
        placeholder="{{ 'search_by_name_placeholder' | translate }}"
        (search)="search()"
      ></aui-search>
    </div>
    <button
      aui-button
      square="true"
      [auiTooltip]="autoRefreshIn$ | async"
      [disabled]="loading$ | async"
      [loading]="loading$ | async"
      (click)="refresh()"
    >
      <aui-icon icon="basic:sync"></aui-icon>
    </button>
  </div>
  <rc-jenkins-pipeline-history-table
    [items]="items$ | async"
    [page]="page$ | async"
    [pageSize]="pageSize"
    [total]="total$ | async"
    [loading]="loading$ | async"
    [hidePipeline]="false"
    [mutatingItems]="mutatingItems$ | async"
    (pageChange)="onPageChange($event)"
    (startHistory)="startHistory($event)"
    (cancelHistory)="cancelHistory($event)"
    (deleteHistory)="deleteHistory($event)"
  ></rc-jenkins-pipeline-history-table>
</aui-card>
