@import 'var';

:host ::ng-deep {
  .search-input {
    rc-single-selection-dropdown {
      & div.text {
        white-space: nowrap;
      }
    }
  }
}

.rc-list-header {
  margin: 8px 0 16px;
  .search-input {
    margin-right: 8px;
    input {
      border-radius: 0;
      min-width: 24rem;
    }
    button {
      border-radius: 0 3px 3px 0;
      margin-left: -1px;
    }
  }
}

.rc-list-container {
  margin-bottom: 16px;
}

.skeleton {
  span,
  i,
  a:link,
  a:hover,
  a:visited,
  a:focus {
    color: #ccc;
    background-color: #ccc;
  }
}

ul {
  list-style: none;
}
