:host {
  hr {
    border-bottom: 1px dashed #ededed;
    border-top: none;
    margin: 16px 0;
    &:first-child {
      display: none;
    }
  }
  .form-addon {
    color: #999;
    width: 20px;
    margin-left: 8px;
  }
  .advanced-fields-button {
    background: #fafafa;
    text-align: center;
    color: #009ce3;
    height: 20px;
    margin: 0 20px;
    font-size: 12px;
    line-height: 20px;
    &:hover {
      background-color: #f2fafe;
      cursor: pointer;
    }
  }

  .group-name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  aui-icon {
    &:hover {
      color: #009ce3;
    }
  }

  textarea {
    width: 100%;
    border: 1px solid #ccc;
  }
}

:host {
  ::ng-deep {
    aui-code-editor .aui-code-editor {
      min-height: 160px;
      height: 160px;
    }
  }
}
