<ng-container *ngIf="templateFields && templateFields.length">
  <aui-dynamic-form
    [template]="templateFields"
    [model]="model"
    [controlMapper]="controlTypes"
  >
    <ng-container *auiDynamicFormDef="let form; let state = state">
      <form
        *ngIf="state"
        [formGroup]="form"
        auiForm
        auiFormLabelWidth="200px"
        #ngForm="ngForm"
      >
        <ng-container
          *ngFor="let group of templateFields; trackBy: groupTracker"
        >
          <hr />
          <div
            *ngIf="!state.groups[group.displayName.en].hidden"
            class="dynamic-form-group"
          >
            <div class="group-name">
              {{ group.displayName[translateKey$ | async] }}
            </div>
            <div>
              <div
                *ngFor="
                  let item of group.partitionItems[1];
                  trackBy: fieldTracker
                "
              >
                <ng-container *ngIf="!state.controls[item.name].hidden">
                  <aui-form-item>
                    <label
                      auiFormItemLabel
                      title="{{ item.display.name[translateKey$ | async] }}"
                    >
                      {{ item.display.name[translateKey$ | async] }}
                    </label>
                    <textarea
                      *ngIf="item.display.type === 'stringMultiline'"
                      rows="10"
                      [style.width]="'100%'"
                      [required]="item.required"
                      auiFormItemControl
                      [formControlName]="item.name"
                    ></textarea>
                    <rc-repository-selector
                      *ngIf="
                        item.display.type === 'alauda.io/coderepositorymix'
                      "
                      [formControlName]="item.name"
                      [style.width]="'100%'"
                      auiFormItemControl
                      [valueConverter]="valueConverter"
                      [spaceName]="spaceName"
                      [namespace]="namespace"
                      [required]="item.required"
                    ></rc-repository-selector>
                    <acl-image-pull-selector
                      *ngIf="
                        item.display.type ===
                        'alauda.io/dockerimagerepositorypullmix'
                      "
                      [formControlName]="item.name"
                      [style.width]="'100%'"
                      [required]="item.required"
                      auiFormItemControl
                      [spaceName]="spaceName"
                      [templateName]="templateName"
                      [secretCreatePermission]="secretCreatePermission"
                    ></acl-image-pull-selector>
                    <acl-image-push-selector
                      *ngIf="
                        item.display.type ===
                        'alauda.io/dockerimagerepositorymix'
                      "
                      [formControlName]="item.name"
                      [style.width]="'100%'"
                      [required]="item.required"
                      auiFormItemControl
                      [spaceName]="spaceName"
                      [templateName]="templateName"
                      [secretCreatePermission]="secretCreatePermission"
                    ></acl-image-push-selector>
                    <aui-select
                      *ngIf="dropdown_types.includes(item.display?.type)"
                      [formControlName]="item.name"
                      auiFormItemControl
                      [filterable]="true"
                      [clearable]="true"
                      [allowCreate]="
                        input_dropdown_types.includes(item.display?.type)
                      "
                      [required]="item.required"
                      [trackFn]="trackFn"
                    >
                      <aui-option
                        *ngFor="let option of state.controls[item.name].options"
                        [label]="option.opt_key"
                        [value]="option.opt_value"
                      >
                        {{ option.opt_key }}
                      </aui-option>
                    </aui-select>
                    <ng-container [ngSwitch]="item.display?.type">
                      <aui-switch
                        *ngSwitchCase="'boolean'"
                        [formControlName]="item.name"
                        auiFormItemControl
                        [required]="item.required"
                      ></aui-switch>
                      <aui-code-editor
                        *ngSwitchCase="'code'"
                        auiFormItemControl
                        [required]="item.required"
                        [formControlName]="item.name"
                        style="flex: 1"
                        [plain]="true"
                        [options]="item.display?.args || { language: 'shell' }"
                      ></aui-code-editor>
                      <input
                        *ngSwitchCase="'string'"
                        [formControlName]="item.name"
                        aui-input
                        auiFormItemControl
                        [required]="item.required"
                      />
                      <input
                        *ngSwitchCase="'int'"
                        [formControlName]="item.name"
                        aui-input
                        auiFormItemControl
                        [required]="item.required"
                      />
                    </ng-container>
                    <div auiFormAddOn class="form-addon">
                      <aui-icon
                        *ngIf="
                          (item.display?.description)[translateKey$ | async]
                        "
                        auiTooltipPosition="top end"
                        icon="basic:question"
                        [auiTooltip]="
                          (item.display?.description)[translateKey$ | async]
                        "
                      ></aui-icon>
                    </div>
                    <div
                      auiFormItemError
                      *ngIf="form.controls[item.name]?.errors?.required"
                    >
                      {{ 'required' | translate }}
                    </div>
                  </aui-form-item>
                </ng-container>
              </div>
              <div
                *ngFor="
                  let item of group.partitionItems[0];
                  trackBy: fieldTracker
                "
              >
                <div [hidden]="!group?.show_advanced">
                  <ng-container *ngIf="!state.controls[item.name].hidden">
                    <aui-form-item>
                      <label
                        auiFormItemLabel
                        title="{{ item.display.name[translateKey$ | async] }}"
                      >
                        {{ item.display.name[translateKey$ | async] }}
                      </label>
                      <textarea
                        *ngIf="item.display.type === 'stringMultiline'"
                        rows="10"
                        [style.width]="'100%'"
                        [required]="item.required"
                        auiFormItemControl
                        [formControlName]="item.name"
                      ></textarea>
                      <rc-repository-selector
                        *ngIf="
                          item.display.type === 'alauda.io/coderepositorymix'
                        "
                        [formControlName]="item.name"
                        [style.width]="'100%'"
                        auiFormItemControl
                        [valueConverter]="valueConverter"
                        [spaceName]="spaceName"
                        [namespace]="namespace"
                        [required]="item.required"
                      ></rc-repository-selector>
                      <acl-image-pull-selector
                        *ngIf="
                          item.display.type ===
                          'alauda.io/dockerimagerepositorypullmix'
                        "
                        [formControlName]="item.name"
                        [style.width]="'100%'"
                        [required]="item.required"
                        auiFormItemControl
                        [spaceName]="spaceName"
                        [templateName]="templateName"
                        [secretCreatePermission]="secretCreatePermission"
                      ></acl-image-pull-selector>
                      <acl-image-push-selector
                        *ngIf="
                          item.display.type ===
                          'alauda.io/dockerimagerepositorymix'
                        "
                        [formControlName]="item.name"
                        [style.width]="'100%'"
                        [required]="item.required"
                        auiFormItemControl
                        [spaceName]="spaceName"
                        [templateName]="templateName"
                        [secretCreatePermission]="secretCreatePermission"
                      ></acl-image-push-selector>
                      <aui-select
                        *ngIf="dropdown_types.includes(item.display?.type)"
                        [formControlName]="item.name"
                        auiFormItemControl
                        [filterable]="true"
                        [clearable]="true"
                        [allowCreate]="
                          input_dropdown_types.includes(item.display?.type)
                        "
                        [required]="item.required"
                        [trackFn]="trackFn"
                      >
                        <aui-option
                          *ngFor="
                            let option of state.controls[item.name].options
                          "
                          [label]="option.opt_key"
                          [value]="option.opt_value"
                        >
                          {{ option.opt_key }}
                        </aui-option>
                      </aui-select>
                      <ng-container [ngSwitch]="item.display?.type">
                        <aui-switch
                          *ngSwitchCase="'boolean'"
                          [formControlName]="item.name"
                          auiFormItemControl
                          [required]="item.required"
                        ></aui-switch>
                        <input
                          *ngSwitchCase="'string'"
                          [formControlName]="item.name"
                          aui-input
                          auiFormItemControl
                          [required]="item.required"
                        />
                        <input
                          *ngSwitchCase="'int'"
                          [formControlName]="item.name"
                          aui-input
                          auiFormItemControl
                          [required]="item.required"
                        />
                      </ng-container>
                      <div auiFormAddOn class="form-addon">
                        <aui-icon
                          *ngIf="
                            (item.display?.description)[translateKey$ | async]
                          "
                          icon="basic:question"
                          auiTooltipPosition="top end"
                          [auiTooltip]="
                            (item.display?.description)[translateKey$ | async]
                          "
                        ></aui-icon>
                      </div>
                    </aui-form-item>
                  </ng-container>
                </div>
              </div>
              <div
                class="advanced-fields-button"
                (click)="group.show_advanced = !group.show_advanced"
                *ngIf="(group?.partitionItems)[0]?.length"
              >
                {{
                  (group?.show_advanced
                    ? 'pipeline_hide_advanced'
                    : 'pipeline_show_advanced') | translate
                }}
                <aui-icon
                  [icon]="
                    group?.show_advanced
                      ? 'basic:angle_double_up'
                      : 'basic:angle_double_down'
                  "
                ></aui-icon>
              </div>
            </div>
          </div>
        </ng-container>
      </form>
    </ng-container>
  </aui-dynamic-form>
</ng-container>
