<rc-pipeline-design-source
  *ngIf="!fields?.length"
  [type]="pipelineConfig?.type"
  [source]="pipelineConfig?.source"
></rc-pipeline-design-source>
<aui-card *ngIf="fields?.length">
  <div auiCardHeader>
    {{ 'pipeline_jenkinsfile' | translate }}
    <span
      class="pipeline-syncing"
      *ngIf="pipelineConfig?.status?.phase === 'Creating'"
    >
      ({{ 'pipeline_template_pipeline_hint' | translate }})
    </span>
  </div>
  <aui-code-editor
    [options]="editorOptions"
    [(ngModel)]="templateJenkinsfile"
  ></aui-code-editor>
</aui-card>
<aui-card *ngIf="fields?.length">
  <div auiCardHeader>
    {{ 'pipeline_template_parameter' | translate }}
  </div>
  <rc-pipeline-design-parameters
    *ngFor="let field of fields; trackBy: trackField"
    [field]="field"
  ></rc-pipeline-design-parameters>
</aui-card>
