<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <input
    aui-input
    type="number"
    formControlName="number"
    rcErrorsTooltip
    [rcErrorsTooltipMapper]="{ pattern: pattern.tip | translate }"
  />
  <aui-select formControlName="type">
    <aui-option
      *ngFor="let type of timeType"
      [value]="type"
      [label]="type | translate"
    >
      {{ type | translate }}
    </aui-option>
  </aui-select>
</form>
