:host {
  min-width: 120px;
  rc-loading-mask {
    height: 36px;
  }
}

.resource-item {
  height: 32px;
  display: flex;
  align-items: center;
  font-size: 14px;
  &__name {
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__status {
    margin-left: 8px;
  }
}

.resource-count {
  display: flex;
  align-content: center;
  height: 16px;
  > span {
    cursor: pointer;
    color: #009ce3;
    &:hover {
      background-color: #e5f5fc;
    }
  }
}

.resource-list {
  li {
    list-style: none;
    border-top: 1px dashed #ededed;
    &:first-child {
      border-top: none;
    }
  }
}
