<ng-container *ngIf="!resourcesItems?.length">
  0
</ng-container>

<ng-container *ngIf="resourcesItems?.length">
  <div class="resource-item">
    <div class="resource-item__name">
      <a
        [routerLink]="[
          '/console/user/workspace',
          baseParams,
          'app',
          'detail',
          appName,
          getResourceKind(resourcesItems[0]),
          getResourceName(resourcesItems[0])
        ]"
      >
        {{ getResourceName(resourcesItems[0]) }}
      </a>
    </div>
  </div>

  <div *ngIf="resourcesItems?.length" class="resource-count">
    {{ 'total' | translate }}
    <span
      style="padding: 0 4px;"
      auiTooltipType="info"
      [auiTooltip]="componentStatus"
      auiTooltipPosition="bottom start"
      auiTooltipTrigger="click"
    >
      {{ resourcesItems?.length }}
    </span>
    {{ 'ge' | translate }}
  </div>
</ng-container>

<ng-template #componentStatus>
  <rc-pod-controller-list
    [resources]="resources"
    [baseParams]="baseParams"
  ></rc-pod-controller-list>
</ng-template>
