@import 'var';

.rc-separator {
  border-top: 1px dashed $border-color;
  padding: 0 16px;
  margin-bottom: 20px;
}

.rc-third-title {
  font-weight: 500;
  font-size: 14px;
  color: #333;
  margin-bottom: 16px;
}

.prefix-separator {
  margin: 0 4px;
}
