<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-card>
    <div auiCardHeader>{{ 'compute_component' | translate }}</div>

    <aui-form-item *ngIf="hasPrefix">
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input
        aui-input
        [ngModel]="appName"
        [ngModelOptions]="{ standalone: true }"
        disabled
      />
      <span class="prefix-separator">-</span>
      <input
        auiFormItemControl
        aui-input
        required
        rcErrorsTooltip
        [rcErrorsTooltipMapper]="{
          pattern: resourceNamePattern.tip | translate
        }"
        (blur)="onBlur()"
        formControlName="suffixName"
      />
    </aui-form-item>

    <aui-form-item formGroupName="metadata" *ngIf="!hasPrefix">
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input
        *ngIf="!isUpdate"
        auiFormItemControl
        aui-input
        required
        rcErrorsTooltip
        [rcErrorsTooltipMapper]="{
          pattern: resourceNamePattern.tip | translate
        }"
        (blur)="onBlur()"
        formControlName="name"
      />
      <span *ngIf="isUpdate">{{ form.get('metadata.name')?.value }}</span>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'service_create_deploy_model' | translate }}
      </label>

      <aui-radio-group
        [hidden]="isUpdate"
        size="medium"
        auiFormItemControl
        formControlName="kind"
      >
        <aui-radio-button *ngFor="let kind of kindOptions" [value]="kind">
          {{ kind }}
        </aui-radio-button>
      </aui-radio-group>

      <span *ngIf="isUpdate">{{ form.get('kind')?.value }}</span>
    </aui-form-item>

    <aui-form-item formGroupName="spec" [hidden]="shouldDisableReplicas">
      <label auiFormItemLabel>{{ 'service_replicas' | translate }}</label>

      <input
        auiFormItemControl
        (blur)="onBlur()"
        aui-input
        min="0"
        type="number"
        required
        formControlName="replicas"
      />
    </aui-form-item>

    <rc-foldable-block
      hint="{{ 'component' | translate }} - {{ 'advanced' | translate }}"
    >
      <h4 class="rc-third-title">
        {{ 'component' | translate }} - {{ 'advanced' | translate }}
      </h4>
      <aui-form-item formGroupName="spec">
        <label auiFormItemLabel>{{ 'component_labels' | translate }}</label>
        <ng-container formGroupName="template">
          <ng-container formGroupName="metadata">
            <rc-key-value-form-table
              auiFormItemControl
              (blur)="onBlur()"
              formControlName="labels"
            ></rc-key-value-form-table>
          </ng-container>
        </ng-container>
      </aui-form-item>

      <ng-container formGroupName="spec">
        <rc-update-strategy-form
          [hidden]="shouldHideStrategy"
          (blur)="onBlur()"
          [podControllerKind]="form.get('kind').value"
          formControlName="strategy"
        ></rc-update-strategy-form>
      </ng-container>

      <ng-content select="rc-autoscaler-form"></ng-content>

      <rc-pod-network-form
        formControlName="network"
        (blur)="onBlur()"
        [cluster]="cluster"
      ></rc-pod-network-form>
    </rc-foldable-block>

    <div class="rc-separator" style="margin-top: 16px;"></div>
    <h3 class="rc-secondary-title">{{ 'pod' | translate }}</h3>
    <ng-container formGroupName="spec">
      <ng-container formGroupName="template">
        <rc-pod-spec-form
          formControlName="spec"
          auiFormItemControl
          [project]="project"
          [cluster]="cluster"
          [namespace]="namespace"
          (blur)="onBlur()"
        ></rc-pod-spec-form>
      </ng-container>
    </ng-container>
  </aui-card>

  <!-- <pre>pod controller form: {{form.status}}</pre> -->
</form>
