$block: rc-password;
$toggle-size: 20px;
$toggle-color: #999;
$toggle-color-active: #009ce3;
$toggle-margin: 8px;
$mask-content: '******';

.#{$block} {
  display: flex;
  flex-direction: row;
  align-items: center;
  &--mask::before {
    content: $mask-content;
  }
  a.#{$block}__toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $toggle-color;
    margin-left: $toggle-margin;
    &:hover {
      color: $toggle-color-active;
    }
    .aui-icon {
      width: $toggle-size;
      height: $toggle-size;
    }
  }
  &--mask {
    a.#{$block}__toggle {
      color: $toggle-color;
      &:hover {
        color: $toggle-color-active;
      }
    }
  }
}
