<span class="rc-password" [class.rc-password--mask]="!show">
  <span *ngIf="show">{{ value }}</span>
  <a
    class="rc-password__toggle"
    href="javascript:void(0)"
    (click)="toggleShow()"
  >
    <aui-icon [icon]="show ? 'basic:eye_s' : 'basic:eye_slash_s'"></aui-icon>
  </a>
</span>
