@import 'var';
:host {
  width: 100%;
  .info-header {
    display: flex;
    font-size: 16px;
    line-height: 22px;
    padding: 12px 0;
    .icon-stack {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      position: relative;
      .enterprise-mark {
        position: absolute;
        right: 0;
        width: 12px;
        height: 12px;
        bottom: 4px;
      }
    }
  }

  ::ng-deep {
    .aui-card {
      padding: 0 20px;
    }
    .aui-card__content {
      padding: 0 0 20px;
      margin: 0 !important;
    }
    aui-card.allocated-to-all {
      .aui-card {
        &__header {
          border-bottom: none;
        }
        &__content {
          padding: 0;
        }
      }
    }
  }
}

.space-group {
  &__display-name {
    color: $color-text-help;
  }
}
