<aui-card [ngClass]="{ 'allocated-to-all': allocatedToAll }">
  <div auiCardHeader class="info-header">
    <div class="icon-stack">
      <img
        class="type-icon"
        [src]="
          '/static/images/tool-chain/list/' +
          toolItemType?.toLowerCase() +
          '.svg'
        "
      />
      <img
        *ngIf="model?.enterprise"
        class="enterprise-mark"
        [src]="enterpriseIcon$ | async"
      />
    </div>
    <div>
      {{ model.name }}
    </div>
  </div>
  <div auiCardContent [hidden]="allocatedToAll">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'please_select_space' | translate }}</label>
      <aui-multi-select
        name="selectedSpace"
        [filterable]="true"
        [disabled]="!spaces?.length"
        [placeholder]="
          (spaces?.length
            ? 'please_select_space'
            : 'tool_chain_no_avaliable_spaces') | translate
        "
        [(ngModel)]="model.allocatedSpaces"
        [trackFn]="trackFn"
        class="space-group"
        (ngModelChange)="selectedChange($event)"
      >
        <aui-option
          *ngIf="spaces?.length"
          [value]="{
            name: 'tool_chain_all_spaces' | translate,
            displayName: 'tool_chain_all_spaces' | translate,
            devopsNamespace: 'tool_chain_all_spaces' | translate
          }"
        >
          {{ 'tool_chain_all_spaces' | translate }}
          <span class="space-group__display-name">
            ({{ 'tool_chain_auto_sync_all_spaces' | translate }})
          </span>
        </aui-option>
        <aui-option-group>
          <aui-option
            *ngFor="let space of spaces"
            [value]="space"
            [label]="space.displayName"
            [disabled]="model.allocatedToAll"
          >
            <span>
              {{ space.name }}
              <span *ngIf="space.displayName" class="space-group__display-name">
                ({{ space.displayName }})
              </span>
            </span>
          </aui-option>
        </aui-option-group>
      </aui-multi-select>
    </aui-form-item>
  </div>
</aui-card>
