<rc-array-form-table
  [noRowSeparator]="true"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
  [formGroup]="form"
>
  <ng-container *rcArrayFormTableHeader>
    <th width="33%">{{ 'key' | translate }}</th>
    <th width="66%">{{ 'value' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container
    *rcArrayFormTableRow="let index = index"
    [formGroupName]="index"
  >
    <td>
      <input
        (blur)="onBlur()"
        aui-input
        [readonly]="isLabelReadonly(index)"
        formControlName="0"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="errorMapper?.key"
      />
    </td>

    <td>
      <input
        (blur)="onBlur()"
        aui-input
        [readonly]="isLabelReadonly(index)"
        formControlName="1"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="errorMapper?.value"
      />
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td *ngIf="control.invalid" colspan="3" class="rc-table-form-error-hint">
      <ng-container *ngIf="control.errors?.keyIsMissing">
        {{ 'key_is_missing_error_message' | translate }}
      </ng-container>

      <ng-container *ngIf="control.errors?.duplicateKey">
        {{ 'duplicate_key_error_message' | translate: { key:
        control?.errors?.duplicateKey } }}
      </ng-container>
    </td>
  </ng-container>

  <ng-container *rcArrayFormTableRowControl="let item; let index = index">
    <aui-icon
      [hidden]="isLabelReadonly(index)"
      icon="basic:minus_circle"
      (click)="remove(index)"
    ></aui-icon>
  </ng-container>
</rc-array-form-table>
