@import 'var';

:host {
  position: relative;
}

.form-fragment-container {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 24px;
  margin-top: 4px;
  margin-bottom: 7px;

  &.has-footer {
    margin-bottom: 16px;
  }

  &::after {
    content: '.';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    text-indent: -9999px;
    background: #dedede;
  }

  input {
    position: relative;
    width: 100%;
    height: 26px;
    line-height: 20px;
    padding-bottom: 6px;
    font-size: 14px;
    border: none;
    background: rgba(255, 255, 255, 1);

    &.has-addon {
      padding-right: 100px;
    }

    & + label {
      position: absolute;
      top: 24px;
      height: 16px;
      transition: transform 0.5s, color 0.5s;
      transform-origin: left top;
      font-size: 14px;
      color: #999;

      &.floating {
        transform: translateY(-20px) scale(0.86);
      }
    }

    &[disabled] {
      color: #ccc;
      -webkit-text-fill-color: #ccc;
      & + label {
        color: #ccc;
      }
    }

    &:-webkit-autofill {
      transition: background-color 5000s ease-in-out 0s;
      & + label {
        transform: translateY(-20px) scale(0.86);
      }
    }
  }

  ::-webkit-input-placeholder {
    font-size: 14px;
    color: #999;
  }

  &.focused {
    .placeholder-text {
      z-index: 20;
    }

    &::after {
      height: 3px;
      transform: scaleY(0.5);
      transform-origin: 50% 100%;
      background-color: #009ce3;
    }
  }

  .footer {
    position: absolute;
    right: 0;
    bottom: -24px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
  }

  .inline-elements-container {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 4px;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
  }

  rld-captcha-img {
    position: absolute;
    bottom: 3px;
    height: 34px;
  }
}
