<div
  [formGroup]="formControlFragment.control.parent"
  [class.focused]="focused"
  [ngClass]="{ 'has-footer': hasFooter }"
  [class.loading]="formControlFragment.verifying"
  class="ui large form-fragment-container icon"
>
  <!-- input -->
  <input
    [ngClass]="{ 'has-addon': formControlFragment.addon }"
    spellcheck="false"
    (focus)="onFocus()"
    (blur)="onBlur($event)"
    [placeholder]="
      formControlFragment.addon === 'captcha'
        ? (formControlFragment.placeholder | translate)
        : ''
    "
    [autocomplete]="formControlFragment.name"
    [name]="formControlFragment.name"
    [formControlName]="formControlFragment.name"
    [type]="formControlFragment.type"
  />
  <label
    *ngIf="formControlFragment.addon !== 'captcha'"
    class="placeholder-text"
    [class.floating]="floatingPlaceholder"
    (click)="onPlaceholderClicked()"
  >
    {{ formControlFragment.placeholder | translate }}
  </label>

  <div class="footer"><ng-content></ng-content></div>

  <!-- Addons -->
  <div class="inline-elements-container">
    <rld-captcha-img
      *ngIf="formControlFragment.addon === 'captcha'"
    ></rld-captcha-img>
    <rld-verification-code-button
      *ngIf="formControlFragment.addon === 'verification-code'"
    ></rld-verification-code-button>
  </div>
</div>
