<div class="account-label">
  <div class="account-label__content" [auiDropdown]="menu">
    <span>{{ account.username || account.namespace }}</span>
    <aui-icon icon="caret_down_s" class="account-menu__icon"></aui-icon>
    <img
      class="rc-user-logo"
      [src]="(accountService.avatarPath$$ | rcUrlProxy | async) || ''"
    />
  </div>
</div>

<aui-menu #menu>
  <ng-container *ngIf="showViewSwitch">
    <aui-menu-item
      *ngIf="isUserView && operationViewEnabled"
      (click)="switchToConsole()"
    >
      <aui-icon icon="basic:setting"></aui-icon>
      <span>{{ 'operation_view' | translate }}</span>
    </aui-menu-item>

    <aui-menu-item *ngIf="!isUserView" (click)="switchToUserView()">
      <aui-icon icon="basic:setting"></aui-icon>
      <span>{{ 'users_view' | translate }}</span>
    </aui-menu-item>
  </ng-container>

  <aui-menu-item (click)="gotoUserCenter()">
    <aui-icon icon="basic:user_s"></aui-icon>
    <span
      [innerHTML]="
        (isSubAccount ? 'user_center' : 'account_center') | translate
      "
    ></span>
  </aui-menu-item>

  <aui-menu-item (click)="changeLanguage()">
    <aui-icon [icon]="icon"></aui-icon>
    <span>{{ language | translate }}</span>
  </aui-menu-item>

  <aui-menu-item [divide]="true" (click)="logout()">
    <aui-icon icon="basic:sign_out_s"></aui-icon>
    <span>{{ 'logout' | translate }}</span>
  </aui-menu-item>
</aui-menu>
