<ng-container *ngIf="isExist('cpu')">
  <aui-icon
    color="#6359B4"
    size="16px,16px"
    [title]="'cpu' | translate"
    icon="basic:cpu"
  ></aui-icon>
  <span class="unit-content" [title]="values?.cpu">{{ values?.cpu }}</span>
</ng-container>
<ng-container *ngIf="isExist('memory')">
  <aui-icon
    color="#007CB5"
    size="16px,16px"
    [title]="'memory' | translate"
    icon="basic:memory"
  ></aui-icon>
  <span class="unit-content" [title]="values?.memory">
    {{ values?.memory }}
  </span>
</ng-container>
<ng-container *ngIf="isExist('storage')">
  <aui-icon
    color="#7DA41B"
    size="16px,16px"
    [title]="'storage' | translate"
    icon="basic:storage_s"
  ></aui-icon>
  <span class="unit-content" [title]="values?.storage">
    {{ values?.storage }}
  </span>
</ng-container>
