<aui-card [divider]="false">
  <div auiCardHeader fxLayout>
    <button *ngIf="secretCreateEnabled" aui-button="primary" (click)="create()">
      {{ 'create_secret' | translate }}
    </button>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [searching]="searching"
      [keyword]="search$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
  </div>

  <aui-table [dataSource]="list$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div class="rc-resource-name-cell">
          <div class="rc-lines">
            <div class="rc-line">
              <a
                href="javascript: void(0)"
                (click)="showDetail(rowData.kubernetes.metadata.name)"
              >
                {{ rowData.kubernetes.metadata.name }}
              </a>
            </div>
          </div>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div [title]="rowData.kubernetes.type">
          {{ rowData.kubernetes.type.replace('kubernetes.io/', '') }}
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="description">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'description' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div
          [title]="rowData.kubernetes.metadata.annotations[descriptionKey]"
          *ngIf="
            rowData.kubernetes.metadata.annotations &&
              rowData.kubernetes.metadata.annotations[descriptionKey];
            else noDescription
          "
        >
          {{ rowData.kubernetes.metadata.annotations[descriptionKey] }}
        </div>
        <ng-template #noDescription>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div
          [auiDropdown]="menu"
          (auiDropdownShow)="resourcePermissionService.sendRequest(rowData)"
          class="action-button"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <ng-container
            *ngTemplateOutlet="
              menuContent;
              context: {
                permission:
                  resourcePermissionService.getByResource$(rowData) | async
              }
            "
          ></ng-container>
          <ng-template #menuContent let-permission="permission">
            <div *ngIf="!permission" class="aui-menu__loading-placehoder">
              <rc-loading-mask [loading]="true"></rc-loading-mask>
            </div>
            <ng-container *ngIf="!!permission">
              <aui-menu-item
                (click)="showDetail(rowData.kubernetes.metadata.name)"
              >
                {{ 'view' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="
                  resourcePermissionService.checkByAction('update', permission)
                "
                (click)="update(rowData.kubernetes.metadata.name)"
              >
                {{ 'update' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="
                  resourcePermissionService.checkByAction('delete', permission)
                "
                (click)="delete(rowData)"
              >
                {{ 'delete' | translate }}
              </aui-menu-item>
            </ng-container>
          </ng-template>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <rc-zero-state
    [zeroState]="showZeroState && !(list$ | async)?.length"
    [fetching]="!initialized && fetching"
    resourceName="secret"
  ></rc-zero-state>
  <aui-paginator
    *ngIf="(listMeta$ | async)?.count"
    [total]="(listMeta$ | async)?.count"
    [pageSize]="(pageParams$ | async)?.pageSize"
    [currentPage]="(pageParams$ | async)?.pageIndex"
    (currentPageChange)="pageChanged('pageIndex', $event)"
    (pageSizeChange)="pageChanged('pageSize', $event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
</aui-card>
