<aui-inline-alert
  [content]="'network_policy_list_description' | translate"
></aui-inline-alert>
<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <button
      aui-button="primary"
      *ngIf="networkPolicyCreateEnabled"
      (click)="create()"
    >
      {{ 'network_policy_create' | translate }}
    </button>
    <div fxFlex></div>
    <aui-search
      [(keyword)]="keyword"
      placeholder="{{ 'filter_by_name_placeholder' | translate }}"
      (search)="filterByName($event)"
    ></aui-search>
    <button
      style="margin-left:8px"
      aui-button
      square="true"
      [disabled]="loading"
      [loading]="loading"
      (click)="refetch()"
    >
      <aui-icon icon="basic:sync"></aui-icon>
    </button>
  </div>

  <aui-table [dataSource]="getNetworkPolicyList()">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="rc-resource-name-cell">
          <img src="/static/images/network/network-policy.svg" />
          <div class="rc-lines text-truncate">
            <div class="rc-line">
              <a
                href="javascript:void(0)"
                title="{{ item.kubernetes.metadata.name }}"
                [routerLink]="
                  this.targetBase.concat([
                    'detail',
                    item.kubernetes.metadata.name
                  ])
                "
              >
                {{ item.kubernetes.metadata.name }}
              </a>
            </div>
          </div>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.kubernetes.metadata.creationTimestamp | rcFormatUtcStr }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div
          [auiDropdown]="menu"
          (auiDropdownShow)="resourcePermissionService.sendRequest(item)"
          class="action-button"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <ng-container
            *ngTemplateOutlet="
              menuContent;
              context: {
                permission:
                  resourcePermissionService.getByResource$(item) | async
              }
            "
          ></ng-container>
          <ng-template #menuContent let-permission="permission">
            <div *ngIf="!permission" class="aui-menu__loading-placehoder">
              <rc-loading-mask [loading]="true"></rc-loading-mask>
            </div>
            <ng-container *ngIf="!!permission">
              <aui-menu-item (click)="viewNetworkPolicy(item)">
                {{ 'view' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="
                  resourcePermissionService.checkByAction('update', permission)
                "
                (click)="updateNetworkPolicy(item)"
              >
                {{ 'update' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="
                  resourcePermissionService.checkByAction('delete', permission)
                "
                (click)="deleteNetworkPolicy(item)"
              >
                {{ 'delete' | translate }}
              </aui-menu-item>
            </ng-container>
          </ng-template>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <rc-zero-state
    [zeroState]="showZeroState"
    [fetching]="showZeroState && loading"
    resourceName="network_policy"
  ></rc-zero-state>
</aui-card>
