@import 'var';

:host {
  .cluster_support_info {
    display: flex;
    font-size: 12px;
    color: #999999;
    align-items: center;
  }
  aui-icon.cluster_support_info {
    margin: 0px 4px 0px 8px;
  }

  .rc-lines {
    overflow: hidden;
  }
}
