<div class="page-wrapper">
  <div class="page-heading" flex layout="row">
    <button
      aui-button="primary"
      *ngIf="createRoleEnabled"
      (click)="createRole()"
    >
      {{ 'create_role' | translate }}
    </button>
    <button
      aui-button
      *ngIf="hasTemplatePermission"
      (click)="roleTemplateList()"
    >
      {{ 'manage_role_template' | translate }}
    </button>
    <div *ngIf="totalAbnormal.length" class="role-abnormal">
      <aui-icon class="aui-icon__failed" icon="exclamation_circle_s"></aui-icon>
      <span class="role-abnormal__text">{{ 'abnormal' | translate }}:</span>
      <button
        aui-button="text"
        [auiTooltip]="roleList"
        auiTooltipTrigger="click"
        auiTooltipPosition="bottom start"
        auiTooltipClass="aui-tooltip--role__list"
      >
        {{ totalAbnormal.length }}
      </button>
      <ng-template #roleList>
        <ul>
          <li *ngFor="let event of totalAbnormal">
            <a
              href="javascript:void(0)"
              [routerLink]="['/console/admin/rbac/roles/detail', event.name]"
            >
              {{ event.name }}
            </a>
          </li>
        </ul>
      </ng-template>
    </div>
    <div fxFlex></div>
    <aui-search
      [(keyword)]="keyword"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
  </div>
  <aui-table [dataSource]="list$ | async">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a (click)="showRoleDetail(item)">
          {{ item.name }}
        </a>
        <div class="role-abnormal" *ngIf="item.sync_status">
          <aui-icon
            auiTooltipTrigger="hover"
            auiTooltipPosition="top"
            [auiTooltip]="roleListSyncEventTip"
            [auiTooltipContext]="{ status: item.sync_status }"
            auiTooltipClass="aui-tooltip--role-sync__list"
            [class]="
              item.sync_status === 'failed'
                ? 'aui-icon__failed'
                : 'aui-icon__pending'
            "
            [icon]="
              item.sync_status === 'failed'
                ? 'exclamation_circle_s'
                : 'basic:sync_circle_s'
            "
          ></aui-icon>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="user">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'user' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <aui-icon icon="basic:member_s"></aui-icon>
        <a
          *ngIf="roleUsersCache[item.name]?.length"
          href="javascript:void(0);"
          (click)="showUsersPopover(item)"
          [auiTooltip]="popoverTemplate"
          auiTooltipPosition="start top"
          auiTooltipType="info"
          auiTooltipTrigger="click"
          auiTooltipClass="users-popover"
        >
          {{ roleUsersCache[item.name]?.length }}
        </a>
        <span *ngIf="!roleUsersCache[item.name]?.length">
          0
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="project">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'project' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.project_name || '-' }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_at">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_at' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.created_at | rcFormatUtcStr }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div
          [auiDropdown]="menu"
          class="action-button"
          (auiDropdownShow)="checkDeletePermission(item)"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item
            [disabled]="!item.canDelete"
            (click)="deleteRole(item, $index)"
          >
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="[
        'name',
        'user',
        'project',
        'created_at',
        'action'
      ]"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="
        let row;
        columns: ['name', 'user', 'project', 'created_at', 'action']
      "
    ></aui-table-row>
  </aui-table>
  <rc-zero-state
    [zeroState]="showZeroState"
    [fetching]="!initialized && fetching"
    resourceName="role"
  ></rc-zero-state>
  <aui-paginator
    *ngIf="(listMeta$ | async)?.count"
    [length]="(listMeta$ | async)?.count"
    [currentPage]="(pageParams$ | async)?.pageIndex"
    (currentPageChange)="pageChanged($event)"
    [pageSize]="(pageParams$ | async)?.pageSize"
    (pageSizeChange)="pageSizeChanged($event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
</div>

<ng-template #popoverTemplate>
  <div
    class="rb-popover-label-list-wrap"
    [rcLoadingMask]="popoverConfig.loading"
  >
    <div *ngIf="!popoverConfig.loading && !popoverConfig.list.length">
      <span>{{ popoverConfig.noDataText }}</span>
    </div>
    <div *ngIf="popoverConfig.list.length > 0" class="rb-popover-label-list">
      <aui-tag
        *ngFor="let item of popoverConfig.list"
        type="info"
        size="small"
        closeable="true"
        round="true"
        (close)="deleteUserOfRole(item.user)"
      >
        {{ item.user }}
      </aui-tag>
    </div>
  </div>
</ng-template>

<ng-template #roleListSyncEventTip let-status="status">
  <ng-container *ngIf="status === 'failed'">
    <p>{{ 'role_abnormal' | translate }}</p>
    <p>{{ 'role_list_sync_abnomarl_tip' | translate }}</p>
  </ng-container>
  <ng-container *ngIf="status === 'pending'">
    <p>{{ 'status_pending' | translate }}</p>
  </ng-container>
</ng-template>
