:host {
  .page-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    min-height: 32px;
  }

  .page-wrapper {
    padding: 20px;
    background-color: #fff;
  }

  .role-abnormal {
    margin-left: 8px;
    display: flex;
    align-items: center;

    aui-icon.aui-icon__failed {
      color: #f8ac58;
    }
    aui-icon.aui-icon__pending {
      color: #009ce3;
    }
    &__text {
      margin-left: 5px;
    }
  }

  aui-paginator {
    margin-top: 16px;
  }

  ::ng-deep {
    .aui-table__column-name {
      display: flex;
      align-items: center;
      a {
        width: unset;
        max-width: 80%;
      }
    }
  }
}

// 全局的样式，因为cdr 没有 [_nghost] selector 如果放在 :host 样式无法被选到
// 多加个 .aui-tooltip 是为了提高样式的特殊性。从而覆盖原有样式
::ng-deep {
  .aui-tooltip {
    &.aui-tooltip--role__list {
      border: unset;
      padding: 8px;
      max-width: 600px;
      max-height: 400px;
      border-radius: 2px;
      background-color: #fff;
      overflow: scroll;

      a:hover {
        text-decoration: underline;
      }

      ul {
        margin-left: 15px;
        li {
          color: #2a8baf;
        }
      }
    }

    &.aui-tooltip--role-sync__list {
      .aui-tag {
        margin: 2px 8px 2px 0;
      }
    }
  }
}
