.rc-detail-container {
  margin-bottom: 0;
  padding: 10px;
  .detail-wrapper {
    margin-left: 0;
    .detail-header {
      margin-bottom: 12px;
      padding-bottom: 6px;
      border-bottom: 1px solid #ededed;
      font-size: 16px;
      line-height: 32px;
    }
    .detail-sub-header {
      margin-bottom: 16px;
      label {
        font-size: 14px;
      }
    }
    .time-select-toolbar {
      margin-bottom: 12px;
      display: flex;
      .time-select-label {
        line-height: 32px;
        padding-right: 8px;
      }
      aui-select {
        width: 200px;
      }
    }
    .chart {
      height: 188px;
      highcharts-chart {
        display: block;
        width: 100%;
        height: 188px;
      }
      ::ng-deep {
        .zero-state-hint {
          height: 100%;
          background-color: #fafafa;
          border-bottom: none;
        }
      }
    }
  }
  .aui-table {
    .aui-table__column-name {
      span {
        margin-right: 5px;
      }
    }
  }
}

.detail-title {
  padding-bottom: 16px;
  font-size: 18px;
}
