<div [rcLoadingMask]="loading">
  <aui-card *ngIf="alarm">
    <div class="detail-title">
      <a (click)="cancel()">
        <aui-icon icon="angle_left"></aui-icon>
      </a>
      {{ 'alarm' | translate }}
    </div>
    <aui-tab-group type="line">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'basic_info' | translate }}
        </ng-container>
        <div class="rc-detail-container">
          <div class="detail-wrapper">
            <div class="detail-header">
              <div>{{ 'basic_info' | translate }}</div>
              <div class="detail-buttons" fxLayout>
                <button
                  aui-button="default"
                  [plain]="true"
                  [auiDropdown]="menu"
                >
                  {{ 'action' | translate }}
                  <aui-icon icon="angle_down" margin="left"></aui-icon>
                </button>
                <aui-menu #menu size="small">
                  <aui-menu-item
                    [disabled]="!canUpdate || isDeleting"
                    (click)="update()"
                  >
                    {{ 'update' | translate }}
                  </aui-menu-item>
                  <aui-menu-item
                    [disabled]="!canDelete || isDeleting"
                    (click)="delete()"
                  >
                    {{ 'delete' | translate }}
                  </aui-menu-item>
                </aui-menu>
              </div>
            </div>
            <rc-alarm-basic-info
              [alarm]="alarm"
              [metric_type]="metric_type"
            ></rc-alarm-basic-info>
          </div>
        </div>
        <div class="rc-detail-container">
          <div class="detail-wrapper">
            <div class="detail-header">
              <div>{{ 'monitoring_info' | translate }}</div>
            </div>
            <div class="time-select-toolbar">
              <label class="time-select-label">
                {{ 'monitor_period' | translate }}：
              </label>
              <aui-select
                auiFormItemControl
                [(ngModel)]="selectedTimeStampOption"
                (ngModelChange)="onTimeStampOptionSelect($event)"
              >
                <aui-option
                  *ngFor="let timeStampOption of timeStampOptions"
                  [value]="timeStampOption.type"
                  [label]="timeStampOption.name | translate"
                >
                  {{ timeStampOption.name | translate }}
                </aui-option>
              </aui-select>
              <div
                class="rc-time-select"
                *ngIf="selectedTimeStampOption === 'custom_time_range'"
              >
                <label>{{ 'from' | translate }}</label>
                <div
                  (valueChange)="onStartTimeSelect($event)"
                  [rcCalendar]="dateTimeOptions"
                  [(value)]="queryDatesShown.start_time"
                >
                  <input aui-input [value]="queryDatesShown.start_time" />
                </div>
                <label>{{ 'to' | translate }}</label>
                <div
                  (valueChange)="onEndTimeSelect($event)"
                  [rcCalendar]="dateTimeOptions"
                  [(value)]="queryDatesShown.end_time"
                >
                  <input aui-input [value]="queryDatesShown.end_time" />
                </div>
                <button aui-button="primary" (click)="onSearch()">
                  {{ 'confirm' | translate }}
                </button>
              </div>
            </div>
            <div
              class="chart"
              [rcLoadingMask]="chartLoading"
              [class.scrolling]="scrolling"
            >
              <highcharts-chart
                *ngIf="chartPercentOptions.series?.length"
                [Highcharts]="Highcharts"
                [options]="chartPercentOptions"
              ></highcharts-chart>
              <highcharts-chart
                *ngIf="chartNumericOptions.series?.length"
                [Highcharts]="Highcharts"
                [options]="chartNumericOptions"
              ></highcharts-chart>
              <rc-zero-state
                [zeroState]="
                  !chartPercentOptions.series?.length &&
                  !chartNumericOptions.series?.length &&
                  !chartLoading
                "
                resourceName="data"
              ></rc-zero-state>
            </div>
          </div>
        </div>
        <div class="rc-detail-container">
          <div class="detail-wrapper">
            <div class="detail-header">
              <div>{{ 'alarm_info' | translate }}</div>
            </div>
            <div class="detail-sub-header">
              <label>{{ 'label' | translate }}</label>
            </div>
            <aui-table [dataSource]="alarm.labelsParsed" [trackBy]="trackByFn">
              <ng-container auiTableColumnDef="key">
                <aui-table-header-cell *auiTableHeaderCellDef>
                  {{ 'key' | translate }}
                </aui-table-header-cell>
                <aui-table-cell *auiTableCellDef="let item">
                  {{ item.key }}
                </aui-table-cell>
              </ng-container>
              <ng-container auiTableColumnDef="value">
                <aui-table-header-cell *auiTableHeaderCellDef>
                  {{ 'value' | translate }}
                </aui-table-header-cell>
                <aui-table-cell
                  *auiTableCellDef="let item"
                  [auiTooltip]="item.value"
                  auiTooltipPosition="top start"
                >
                  {{ item.value }}
                </aui-table-cell>
              </ng-container>
              <aui-table-header-row
                *auiTableHeaderRowDef="advanced_columns"
              ></aui-table-header-row>
              <aui-table-row
                *auiTableRowDef="let row; columns: advanced_columns"
              ></aui-table-row>
            </aui-table>
            <rc-zero-state
              *ngIf="!alarm.labelsParsed || alarm.labelsParsed.length === 0"
              [zeroState]="true"
              [resourceName]="'label'"
            ></rc-zero-state>
            <div class="detail-sub-header" style="margin-top: 16px">
              <label>{{ 'annotation' | translate }}</label>
            </div>
            <aui-table
              [dataSource]="alarm.annotationsParsed"
              [trackBy]="trackByFn"
            >
              <ng-container auiTableColumnDef="key">
                <aui-table-header-cell *auiTableHeaderCellDef>
                  {{ 'key' | translate }}
                </aui-table-header-cell>
                <aui-table-cell *auiTableCellDef="let item">
                  {{ item.key }}
                </aui-table-cell>
              </ng-container>
              <ng-container auiTableColumnDef="value">
                <aui-table-header-cell *auiTableHeaderCellDef>
                  {{ 'value' | translate }}
                </aui-table-header-cell>
                <aui-table-cell
                  *auiTableCellDef="let item"
                  [auiTooltip]="item.value"
                  auiTooltipPosition="top start"
                >
                  {{ item.value }}
                </aui-table-cell>
              </ng-container>
              <aui-table-header-row
                *auiTableHeaderRowDef="advanced_columns"
              ></aui-table-header-row>
              <aui-table-row
                *auiTableRowDef="let row; columns: advanced_columns"
              ></aui-table-row>
            </aui-table>
            <rc-zero-state
              *ngIf="
                !alarm.annotationsParsed || alarm.annotationsParsed.length === 0
              "
              [zeroState]="true"
              [resourceName]="'annotation'"
            ></rc-zero-state>
          </div>
        </div>
        <div class="rc-detail-container">
          <div class="detail-wrapper">
            <div class="detail-header">
              <div>{{ 'alarm_action' | translate }}</div>
            </div>
            <aui-table [dataSource]="alarm_actions" [trackBy]="trackByFn">
              <ng-container auiTableColumnDef="action_type">
                <aui-table-header-cell *auiTableHeaderCellDef>
                  {{ 'action_type' | translate }}
                </aui-table-header-cell>
                <aui-table-cell *auiTableCellDef="let item">
                  <span *ngIf="item.action_type === 'scaling'">
                    {{ item.name | translate }}
                  </span>
                  <span *ngIf="item.action_type === 'notification'">
                    {{ 'notification' | translate }}
                  </span>
                </aui-table-cell>
              </ng-container>
              <ng-container auiTableColumnDef="name">
                <aui-table-header-cell *auiTableHeaderCellDef>
                  {{ 'name' | translate }}
                </aui-table-header-cell>
                <aui-table-cell *auiTableCellDef="let item">
                  <span *ngIf="item.action_type === 'scaling'">
                    {{ alarm.metric_tooltip }}
                  </span>
                  <span *ngIf="item.action_type === 'notification'">
                    <span *ngFor="let noti of item.notifications">
                      {{ noti.name }}
                    </span>
                  </span>
                </aui-table-cell>
              </ng-container>
              <aui-table-header-row
                *auiTableHeaderRowDef="columns"
              ></aui-table-header-row>
              <aui-table-row
                *auiTableRowDef="let row; columns: columns"
              ></aui-table-row>
            </aui-table>
            <rc-zero-state
              *ngIf="alarm_actions.length === 0"
              [zeroState]="true"
              [resourceName]="'alarm_action'"
            ></rc-zero-state>
          </div>
        </div>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'event' | translate }}
        </ng-container>
        <rc-event-list type="alarm" [primaryKey]="alarm.uuid"></rc-event-list>
      </aui-tab>
    </aui-tab-group>
  </aui-card>
</div>
