<div class="rc-text-item" *ngIf="urlList.length; else zero">
  <a [attr.href]="urlList[0]" target="_blank">{{ urlList[0] }}</a>
</div>
<div class="rc-text-item" *ngIf="urlList.length === 2">
  <a [attr.href]="urlList[1]" target="_blank">{{ urlList[1] }}</a>
</div>
<ng-container *ngIf="urlList.length > 2">
  <div
    class="rc-text-list"
    [auiTooltip]="all"
    auiTooltipType="primary"
    auiTooltipPosition="bottom start"
    auiTooltipTrigger="click"
    auiTooltipType="plain"
    [title]="'click_to_show_all_urls' | translate"
  >
    {{ 'service_total' | translate }}
    <span class="rc-text-list__trigger">{{ urlList.length }}</span>
    {{ 'service_item' | translate }}
  </div>
  <ng-template #all>
    <div class="rc-text-list__tooltip">
      <div class="rc-text-list__item" *ngFor="let url of urlList">
        <a [attr.href]="url" target="_blank">
          {{ url }}
        </a>
      </div>
    </div>
  </ng-template>
</ng-container>
<ng-template #zero>
  <div>-</div>
</ng-template>
