<form
  #secretItemForm="ngForm"
  auiForm
  auiFormLabelWidth="120px"
  [formGroup]="form"
>
  <div class="config-wrapper">
    <div *ngIf="!form.controls.length" class="no-config">
      {{ 'no_data' | translate }}
    </div>
    <ng-container *ngFor="let control of form.controls; index as index">
      <div *ngIf="index" class="dashed-line"></div>
      <div class="config-item" [formGroupName]="index">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'key' | translate }}</label>
          <input
            aui-input
            auiFormItemControl
            required
            formControlName="0"
            maxlength="253"
            rcErrorsTooltip
            [rcErrorsTooltipMapper]="{
              pattern: keyReg.tip | translate,
              duplicateKey:
                'duplicate_key_error_message'
                | translate: { key: control.controls[0].errors?.duplicateKey }
            }"
          />
          <div auiFormItemAddon></div>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'value' | translate }}</label>
          <textarea
            aui-input
            [autosize]="{ minRows: 3 }"
            auiFormItemControl
            size="large"
            formControlName="1"
          ></textarea>
          <div
            class="config-action"
            auiFormItemAddon
            role="button"
            (click)="remove(index)"
          >
            <aui-icon icon="basic:minus_circle_s" margin="right"></aui-icon>
          </div>
        </aui-form-item>
      </div>
    </ng-container>
    <div class="action-group">
      <div
        class="add-container-button add-container-button__primary"
        (click)="add()"
      >
        <aui-icon icon="basic:plus"></aui-icon>
        {{ 'add' | translate }}
      </div>
      <label
        for="config_key_value"
        class="add-container-button add-container-button__default"
      >
        <aui-icon icon="import"></aui-icon>
        {{ 'import' | translate }}
      </label>
      <input
        id="config_key_value"
        type="file"
        multiple="multiple"
        (change)="addRowFromFile($event)"
        hidden
      />
    </div>
  </div>
</form>
