<aui-dialog-header>
  {{ 'tool_chain_subscribe' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <rc-tool-type-bar
    [(selectedType)]="selectedType"
    (selectedTypeChange)="selectedType$$.next($event)"
    [types]="toolTypes$ | async"
    [resources]="allServices$ | async"
  ></rc-tool-type-bar>
  <rc-subscribe-tool-list
    *ngIf="(hasServices$ | async)"
    [services]="filteredServices$ | async"
    (cardClick)="selectTool($event)"
    [ngClass]="{ isChecked: true }"
    [projectName]="data.projectName"
    (repoUpdated)="itemUpdated$.next($event)"
  ></rc-subscribe-tool-list>
  <div *ngIf="!loading && !(hasServices$ | async)" class="empty-list-hint">
    {{ 'no_devops_tools_to_subscribe' | translate }}
  </div>
  <div class="wrapper" *ngIf="selectedTool">
    <rc-tool-chain-subscribe-edit
      [mode]="'create'"
      [data]="model"
      [tool]="selectedTool"
      [supportedSecretTypes]="supportTypesMap[selectedTool.type]"
      #editor="rc-tool-chain-subscribe-edit"
      (saved)="afterSaved($event)"
    ></rc-tool-chain-subscribe-edit>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="editor.submit()">
    {{ 'tool_chain_subscribe' | translate }}
  </button>
  <button aui-button type="button" auiDialogClose>
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
