@import 'var';
:host {
  .wrapper {
    border-top: 1px dashed #eee;
    margin: 15px 0 0;
    padding: 15px 0 0;
  }
  .empty-list-hint {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 208px;
    font-size: 14px;
    color: $color-text-help;
    border: 1px dashed;
  }
}
