<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/tool_chain']">
        {{ 'nav_tool_chain' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ (routeParams$ | async)?.name }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card>
  <div auiCardHeader class="info-header">
    <div class="header-title">
      <div *ngIf="(toolDetailUpdated$ | async)" class="icon-stack">
        <img
          class="type-icon"
          [src]="
            '/static/images/tool-chain/' +
            (toolDetailUpdated$ | async)?.type.toLowerCase() +
            '.svg'
          "
        />
        <img
          *ngIf="(toolDetailUpdated$ | async)?.enterprise"
          class="enterprise-mark"
          [src]="enterpriseIcon$ | async"
        />
      </div>
      <span>{{ (routeParams$ | async)?.name }}</span>
      <aui-icon
        *ngIf="(toolDetailUpdated$ | async)?.status.phase === 'Error'"
        class="alert"
        [auiTooltipType]="needAuthorization ? 'info' : ''"
        [auiTooltip]="
          needAuthorization
            ? toolStatusTips
            : (toolDetailUpdated$ | async)?.status.message
        "
        [auiTooltipDisabled]="!(toolDetailUpdated$ | async)?.status.message"
        auiTooltipPosition="top start"
        icon="exclamation_circle_s"
      ></aui-icon>
    </div>
    <rc-menu-trigger [menu]="actionsMenu"></rc-menu-trigger>
  </div>
  <aui-menu #actionsMenu>
    <aui-menu-item [disabled]="!toolPermissions.canUpdate" (click)="update()">
      {{ 'update' | translate }}
    </aui-menu-item>
    <aui-menu-item
      [disabled]="!toolPermissions.canDelete"
      type="danger"
      [divide]="true"
      (click)="delete()"
    >
      {{ 'delete' | translate }}
    </aui-menu-item>
  </aui-menu>
  <ul class="basic-info">
    <li class="info-item">
      <span class="label">{{ 'type' | translate }}：</span>
      <span class="value">
        <span>
          {{
            'tool_chain_' + snakeCaseKind((toolDetailUpdated$ | async)?.kind)
              | translate
          }}
          /
        </span>
        <span>{{ (toolDetailUpdated$ | async)?.type }}</span>
        <span *ngIf="(toolDetailUpdated$ | async)?.enterprise">
          {{ 'enterprise' | translate }}
        </span>
      </span>
    </li>
    <li class="info-item">
      <span class="label">{{ 'created_at' | translate }}：</span>
      <span class="value">
        {{ (toolDetailUpdated$ | async)?.creationTimestamp | rcFormatMs }}
      </span>
    </li>
    <li class="info-item">
      <span class="label">{{ 'tool_chain_visit_address' | translate }}：</span>
      <span class="value">{{ (toolDetailUpdated$ | async)?.visitHost }}</span>
    </li>
    <li class="info-item">
      <span class="label">
        {{ 'tool_chain_allow_subscribe' | translate }}：
      </span>
      <span class="value">
        <aui-tag
          *ngIf="
            (toolDetailUpdated$ | async)?.subscription;
            else notAllowSubscribe
          "
          type="success"
          [solid]="true"
          [round]="true"
          size="mini"
        >
          {{ 'yes' | translate }}
        </aui-tag>
        <ng-template #notAllowSubscribe>
          <aui-tag type="info" [solid]="true" [round]="true" size="mini">
            {{ 'no' | translate }}
          </aui-tag>
        </ng-template>
      </span>
    </li>
    <li class="info-item">
      <span class="label">{{ 'tool_chain_api_address' | translate }}：</span>
      <span class="value">{{ (toolDetailUpdated$ | async)?.host }}</span>
    </li>
    <li class="info-item" *ngIf="roleSyncEnabled">
      <span class="label">
        {{ 'tool_chain_role_sync_enabled' | translate }}：
      </span>
      <span class="value">
        <aui-tag
          *ngIf="(toolDetailUpdated$ | async)?.roleSyncEnabled; else isRoleSync"
          type="success"
          [solid]="true"
          [round]="true"
          size="mini"
        >
          {{ 'yes' | translate }}
        </aui-tag>
        <ng-template #isRoleSync>
          <aui-tag type="info" [solid]="true" [round]="true" size="mini">
            {{ 'no' | translate }}
          </aui-tag>
        </ng-template>
      </span>
    </li>
    <li class="info-item">
      <span class="label">{{ 'tool_chain_auth_type' | translate }}：</span>
      <span class="value">
        {{ getAuthType((toolDetailUpdated$ | async)?.auth_type) }}
      </span>
    </li>
    <li class="info-item">
      <span class="label">{{ 'tool_chain_secrets' | translate }}：</span>
      <span>
        <a
          *ngIf="(toolDetailUpdated$ | async)?.secret?.name"
          [routerLink]="secretRoute((toolDetailUpdated$ | async)?.secret)"
        >
          {{ secretName((toolDetailUpdated$ | async)?.secret) }}
        </a>
        <ng-container *ngIf="!(toolDetailUpdated$ | async)?.secret?.name">
          -
        </ng-container>
      </span>
    </li>
  </ul>
</aui-card>

<aui-card>
  <div auiCardHeader class="list-card-header">
    <div>Nexus</div>
    <div class="pos-flex">
      <button
        auiTooltipPosition="top center"
        auiTooltipType="info"
        [auiTooltipDisabled]="!!(toolDetailUpdated$ | async)?.secret.name"
        [auiTooltip]="addSecretTemp"
        [ngClass]="{ disabled: !(toolDetailUpdated$ | async)?.secret.name }"
        aui-button
        (click)="addRepo()"
      >
        {{ 'tool_chain_add_repository' | translate }}
      </button>
    </div>
  </div>
  <rc-artifact-manager-binding
    [artifactList]="artifactList$ | async"
    (cardClick)="navigateToDetail($event)"
  ></rc-artifact-manager-binding>
</aui-card>

<ng-template #addSecretTemp>
  <span>
    {{ 'tool_chain_please_first' | translate }}
    <a (click)="addSecret()">
      {{ 'tool_chain_add_secret' | translate }}
    </a>
  </span>
</ng-template>

<ng-template #toolStatusTips>
  <div>
    <span>{{ 'tool_chain_currently_disabled_hint' | translate }}</span>
    <a (click)="validateStatus()">
      {{ 'tool_chain_click_verification_secret' | translate }}
    </a>
  </div>
</ng-template>
