@import 'mixins';

.title {
  font-size: 18px;
  line-height: 32px;
}

.text-overflow {
  @include text-overflow();
}

:host ::ng-deep {
  .aui-card {
    padding: 20px;
    margin-bottom: 20px;
    .aui-card__header {
      padding-left: 0;
      display: flex;
    }
    .aui-card__content {
      padding: 12px 0 0 0;
    }
  }
  .basic-info {
    .aui-card__header {
      justify-content: space-between;
    }
    .aui-card__content {
      padding: 0;
    }
  }

  .quota-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -8px;
    aui-card {
      flex: 1 1;
      margin: 0 8px;
    }
    .quota-content {
      display: flex;
      .quota-content__part {
        flex: 1 1 150px;
        max-width: 256px;
        min-width: 150px;
      }
    }
    .aui-card {
      margin-top: 0;
    }
    .aui-card-empty {
      .aui-card {
        border: 0;
        height: 0;
        padding: 0 20px;
        margin-bottom: 0;
      }
    }
  }

  aui-tab-group {
    aui-tab-header {
      padding: 0 20px;
      background-color: #fff;
    }
    .aui-tab-group__body-wrapper {
      margin-top: 0;
      .aui-tab-body__content {
        padding: 16px 20px 20px;
        background-color: #fff;
      }
    }
  }

  .radios-group {
    margin-bottom: 20px;
    .aui-radio-group {
      display: block;
      line-height: 32px;
      .aui-radio-button {
        border-radius: 16px;
        margin-right: 8px;
        margin-bottom: 8px;
        border: 0;
        &.isChecked {
          background-color: #009ce3;
          color: #fff;
        }
        &:hover:not(.isChecked) {
          color: #009ce3;
        }
        .aui-radio-button__pointer {
          display: none;
        }
        .aui-radio-button__label {
          height: auto;
          white-space: nowrap;
        }
      }
    }
  }
}
