<aui-card class="basic-info">
  <div auiCardHeader>
    <span class="title">
      {{ initialized && (data.display_name || data.name) }}
    </span>
    <ng-container *ngIf="!data.is_system">
      <aui-dropdown-button
        *ngIf="!isUserView"
        [disabled]="!updatePermission"
        (buttonClick)="showUpdateBasicInfoDialog()"
        type="primary"
        plain="true"
      >
        {{ 'update_basic_info' | translate }}
        <aui-menu [size]="size">
          <aui-menu-item
            *ngIf="!isUserView && updatePermission"
            [disabled]="regionLoading"
            (click)="showAddClusterDialog()"
          >
            {{ 'add_cluster' | translate }}
          </aui-menu-item>
          <aui-menu-item
            *ngIf="!isUserView && updatePermission"
            [disabled]="regionLoading"
            (click)="showUpdateQuotaDialog()"
          >
            {{ 'update_quota' | translate }}
          </aui-menu-item>
          <aui-menu-item
            *ngIf="!isUserView && updatePermission"
            [disabled]="regionLoading"
            (click)="showRemoveClusterDialog()"
          >
            {{ 'remove_cluster' | translate }}
          </aui-menu-item>
          <aui-menu-item
            type="danger"
            *ngIf="deletePermission"
            (click)="showDeleteDialog()"
          >
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-dropdown-button>
      <button
        aui-button
        [plain]="true"
        [size]="size"
        [auiDropdown]="menu"
        *ngIf="
          isUserView && (namespaceCreatePermission || spaceCreatePermission)
        "
        [disabled]="!updatePermission"
      >
        {{ 'action' | translate }}
        <aui-icon icon="angle_down"></aui-icon>
      </button>
      <aui-menu #menu [size]="size">
        <aui-menu-item
          *ngIf="namespaceCreatePermission"
          [routerLink]="['../create_namespace']"
        >
          {{ 'create_namespace' | translate }}
        </aui-menu-item>
        <aui-menu-item
          *ngIf="spaceEnabled && spaceCreatePermission"
          [routerLink]="['../create_space']"
        >
          {{ 'create_space' | translate }}
        </aui-menu-item>
      </aui-menu>
    </ng-container>
  </div>
  <section>
    <div class="rc-detail-container">
      <div class="detail-wrapper" style="margin-left: 0">
        <div class="detail-content">
          <div class="detail-item">
            <label>{{ 'name' | translate }}</label>
            <div>{{ data.name }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'created_by' | translate }}</label>
            <div>{{ data?.created_by | rcFieldNotAvailable }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'created_at' | translate }}</label>
            <div>
              {{ data.created_at | rcFormatUtcStr | rcFieldNotAvailable }}
            </div>
          </div>
          <div class="detail-item">
            <label>{{ 'updated_at' | translate }}</label>
            <div>
              {{ data.updated_at | rcFormatUtcStr | rcFieldNotAvailable }}
            </div>
          </div>
          <div class="detail-item">
            <label>{{ 'services' | translate }}</label>
            <div>{{ data.service_type }}</div>
            <span *ngIf="data.service_type && !data.service_type.length">
              -
            </span>
          </div>
          <div class="detail-item">
            <label style="align-self: flex-start;">
              {{ 'region_belonged' | translate }}
            </label>
            <span *ngIf="data.clusters?.length" class="text-overflow">
              <ng-container *ngFor="let item of data.clusters; let i = index">
                {{ i === 0 ? '' : ',' }}
                <a
                  *ngIf="!isUserView"
                  [routerLink]="['/console/admin/cluster/detail/' + item.name]"
                >
                  {{ item?.display_name || item.name }}
                </a>
                <ng-container *ngIf="isUserView">
                  {{ item?.display_name || item.name }}
                </ng-container>
              </ng-container>
            </span>
            <button
              aui-button
              [round]="true"
              [plain]="true"
              size="mini"
              [auiDropdown]="tokenMenu"
            >
              <aui-icon icon="ellipsis_h_s"></aui-icon>
            </button>
            <aui-menu #tokenMenu>
              <ng-template auiMenuContent>
                <ng-container *ngFor="let cluster of data.clusters">
                  <aui-menu-item>
                    <a
                      *ngIf="!isUserView"
                      [routerLink]="[
                        '/console/admin/cluster/detail/' + cluster.name
                      ]"
                    >
                      · {{ cluster?.display_name || cluster.name }}
                    </a>
                    <span *ngIf="isUserView">
                      · {{ cluster?.display_name || cluster.name }}
                    </span>
                  </aui-menu-item>
                </ng-container>
              </ng-template>
            </aui-menu>
            <span *ngIf="!data.clusters?.length">-</span>
          </div>
          <div class="detail-item">
            <label style="align-self: flex-start;">
              {{ 'admin' | translate }}
            </label>
            <span
              class="text-overflow"
              [title]="getAdminRolesDisplay(data.admin_list)"
            >
              {{ getAdminRolesDisplay(data.admin_list, '-') }}
            </span>
          </div>
          <div class="detail-item">
            <label style="align-self: flex-start;">
              {{ 'description' | translate }}
            </label>
            <span class="text-overflow" [title]="data.description">
              {{ data.description | rcFieldNotAvailable }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</aui-card>

<aui-tab-group
  *ngIf="initialized"
  type="line"
  (selectedIndexChange)="onTabIndexChange($event)"
  [selectedIndex]="seletedTabIndex"
>
  <!-- 配额 -->
  <aui-tab *ngIf="data.clusters?.length && !data.is_system">
    <div *auiTabLabel>{{ 'quota_quota_value' | translate }}</div>
    <div class="radios-group" *ngIf="clustersMap.PCF.length > 0">
      <aui-radio-group
        [(ngModel)]="serviceType"
        [ngModelOptions]="{ standalone: true }"
      >
        <aui-radio-button value="kubernetes">Kubernetes</aui-radio-button>
        <aui-radio-button value="PCF">PCF</aui-radio-button>
      </aui-radio-group>
    </div>
    <div class="quota-content-wrapper">
      <aui-card *ngFor="let item of clustersMap[serviceType]">
        <div auiCardHeader>
          <aui-icon
            *ngIf="item?.mirror?.regions"
            style="margin-right:3px;"
            icon="basic:sitemap_s"
            [style.color]="item?.mirror.flag"
          ></aui-icon>
          <a
            *ngIf="!isUserView"
            [title]="item?.display_name"
            [routerLink]="['/console/admin/cluster/detail/' + item.name]"
          >
            {{ item?.display_name || item.name }}
          </a>
          <span *ngIf="isUserView" [title]="item?.display_name">
            {{ item?.display_name || item.name }}
          </span>
        </div>
        <div class="quota-content" [rcLoadingMask]="regionLoading">
          <ng-container *ngFor="let key of quotaSortQuery">
            <rc-project-pie-chart
              [data]="curPieDataMap[item.name][key]"
              [title]="key"
              [unit]="unitMap[key]"
              class="quota-content__part"
            ></rc-project-pie-chart>
          </ng-container>
        </div>
      </aui-card>
      <aui-card *ngFor="let key of emptyArr" class="aui-card-empty">
        <div class="quota-content">
          <div
            *ngFor="let key of quotaSortQuery"
            class="quota-content__part "
          ></div>
        </div>
      </aui-card>
    </div>
  </aui-tab>
  <!-- 成员 -->
  <aui-tab *ngIf="!data.is_system">
    <div *auiTabLabel>{{ 'members' | translate }}</div>
    <div *auiTabContent>
      <rc-accounts-list
        [projectName]="data.name"
        (onUserAdd)="refetch(true)"
      ></rc-accounts-list>
    </div>
  </aui-tab>
  <!-- 角色 -->
  <aui-tab *ngIf="!data.is_system">
    <div *auiTabLabel>{{ 'roles' | translate }}</div>
    <div *auiTabContent>
      <rc-project-role-list [projectName]="data.name"></rc-project-role-list>
    </div>
  </aui-tab>
  <!-- 审计 -->
  <aui-tab *ngIf="canListAudit">
    <div *auiTabLabel>{{ 'audit' | translate }}</div>
    <div *auiTabContent>
      <rc-audit-list [projectName]="data.name"></rc-audit-list>
    </div>
  </aui-tab>
  <!-- 命名空间 -->
  <aui-tab label="namespace" *ngIf="spaceEnabled && isUserView">
    <div *auiTabLabel>{{ 'namespace' | translate }}</div>
    <div *auiTabContent>
      <rc-project-namespace-list [project]="data"></rc-project-namespace-list>
    </div>
  </aui-tab>
  <!-- 组 -->
  <aui-tab label="space" *ngIf="spaceEnabled && isUserView">
    <div *auiTabLabel>{{ 'space_under_namespace' | translate }}</div>
    <div *auiTabContent>
      <rc-project-space-list [project]="data"></rc-project-space-list>
    </div>
  </aui-tab>

  <!-- DevOps 工具链 -->
  <aui-tab *ngIf="canViewToolChain && isUserView">
    <div *auiTabLabel>
      {{ 'devops_tool_chain' | translate }}
    </div>
    <div *auiTabContent>
      <rc-user-tool-chain-list></rc-user-tool-chain-list>
    </div>
  </aui-tab>

  <!-- DevOps 租户凭据 -->
  <aui-tab *ngIf="canViewCredential && isUserView">
    <div *auiTabLabel>
      {{ 'tool_chain_secrets' | translate }}
    </div>
    <div *auiTabContent>
      <rc-credential-list-page></rc-credential-list-page>
    </div>
  </aui-tab>
</aui-tab-group>
