<div class="rc-history-preview">
  <div>
    <aui-icon
      [class]="
        'rc-history-preview__status--' +
        histories[0]?.status.phase.toLowerCase()
      "
      [icon]="getHistoryStatusIcon(histories[0]?.status.phase)"
      [ngClass]="{
        'icon-spin':
          getHistoryStatusIcon(histories[0]?.status.phase) ===
          'basic:sync_circle_s'
      }"
    ></aui-icon>
  </div>
  <div class="rc-history-preview__content">
    <a
      [routerLink]="[pipelineName, histories[0].name]"
      *ngIf="histories[0]?.jenkins?.build"
      class="history_id"
    >
      #{{ histories[0]?.jenkins?.build }}
    </a>
    <span class="history_id" *ngIf="!histories[0]?.jenkins?.build">
      -
    </span>
    {{ histories[0]?.createdAt | rcRelativeTime }}
    <aui-icon
      margin="left"
      icon="basic:overview"
      class="rc-history-preview__overview"
      (click)="openLogs(histories[0])"
      auiTooltipActive="rc-history-preview__overview--actived"
      [auiTooltip]="'pipeline_click_to_view_history_overview' | translate"
    ></aui-icon>
    <div *ngIf="histories.length > 1" class="rc-history-preview__num">
      {{ 'pipeline_recent_records_prefix' | translate }}
      <button
        aui-button="text"
        [auiTooltip]="records"
        auiTooltipPosition="bottom center"
        auiTooltipType="info"
        auiTooltipTrigger="click"
      >
        {{ histories.length > 5 ? 5 : histories.length }}
      </button>
      {{ 'pipeline_recent_records_suffix' | translate }}
    </div>
  </div>
</div>

<ng-template #records>
  <div class="rc-history-preview__list">
    <div
      class="rc-history-preview__list-item"
      *ngFor="let history of histories.slice(0, 5)"
    >
      <aui-icon
        [icon]="getHistoryStatusIcon(history.status.phase)"
        [class]="
          'rc-history-preview__status--' + history.status.phase.toLowerCase()
        "
        [ngClass]="{
          'icon-spin':
            getHistoryStatusIcon(history.status.phase) === 'basic:sync_circle_s'
        }"
      ></aui-icon>
      <a
        [routerLink]="[pipelineName, history.name]"
        *ngIf="history?.jenkins?.build"
        class="history_id"
      >
        #{{ history?.jenkins?.build }}
      </a>
      <span class="history_id" *ngIf="!history?.jenkins?.build">
        -
      </span>
      {{ history.createdAt | rcRelativeTime }}
      <aui-icon
        (click)="openLogs(history)"
        margin="left"
        class="rc-history-preview__overview"
        icon="basic:overview"
      ></aui-icon>
    </div>
  </div>
</ng-template>
