<aui-dialog-header>
  {{ 'binding_space' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="80px" (ngSubmit)="binding()">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'namespace' | translate }}</label>
      <span>{{ namepsaceName }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'binding' | translate }}</label>
      <aui-multi-select name="spaces" [(ngModel)]="value" required>
        <aui-option
          *ngFor="let space of spaces"
          [value]="space"
          [label]="space.display_name || space.name"
        >
          {{ space.display_name || space.name }}
        </aui-option>
      </aui-multi-select>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="binding()">
      {{ 'confirm' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
