@import 'mixins';
:host {
  .group-list {
    .group-list-header {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 12px;
    }

    .aui-button {
      margin-right: 8px;
    }

    aui-search {
      width: 300px;
    }

    .link,
    .name,
    .display-name {
      display: block;
    }

    .name {
      font-size: 16px;
    }
    .display-name {
      height: 16px;
      line-height: 1;
      font-size: 12px;
      color: #999;
    }
  }

  .light-blue {
    color: #009ce3;
    cursor: pointer;
  }

  .icon-more {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    transition: 0.3s;
    color: #999;
    &:hover {
      color: #009ce3;
    }
  }

  .cluster-info {
    display: flex;
    color: #333;
    font-size: 12px;
    line-height: 16px;
    margin-top: 3px;
    &-link {
      display: block;
      font-size: 14px;
      line-height: 16px;
      width: 20%;
      max-width: 135px;
      text-align: right;
      @include text-overflow();
    }
    aui-icon {
      margin: 0 3px 0 5px;
    }
    &__footer {
      display: flex;
      color: #999;
      cursor: pointer;
      &-left {
        width: 20%;
        max-width: 135px;
      }
    }
  }
  .aui-table__column-name {
    flex: 2;
  }
  .aui-table__column-quota {
    flex: 4;
    &.aui-table__header-cell {
      margin-left: 10%;
      margin-right: -10%;
    }
  }
  .aui-table__column-spaces {
    flex: 2;
  }
  .aui-table__column-created_at {
    flex: 1;
  }
  .aui-table__column-action {
    flex: 0 0 50px;
  }
}
::ng-deep {
  .aui-dialog__content {
    padding-top: 0 !important;
  }
}

.zero-state {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 42px;
  color: #ccc;
}

.cluster-info__tooltip {
  margin: 3px;
  color: #333;
  a {
    font-size: 14px;
    line-height: 20px;
  }
  ::ng-deep {
    aui-icon {
      margin: 0 3px 0 5px;
    }
  }
}
.namespace-list-space__list {
  padding: 13px 5px;
  line-height: 26px;
  li {
    list-style-type: none;
    position: relative;
    &::before {
      content: ' ';
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background: #33afe8;
      position: absolute;
      top: 10px;
    }
    a {
      margin-left: 10px;
    }
  }
}
