<div class="group-list">
  <div class="group-list-header">
    <button
      aui-button="primary"
      [routerLink]="['../create_namespace']"
      *ngIf="createPermission"
    >
      {{ 'create_namespace' | translate }}
    </button>
    <aui-search
      [searchButton]="true"
      (search)="onSearch($event)"
      (keywordChange)="onSearch($event)"
    ></aui-search>
  </div>

  <aui-table [dataSource]="namespaces">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'namespace_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span class="light-blue" (click)="namespaceDetail(item, $event)">
          {{ item?.name }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="quota">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'quota' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="cluster-info">
          <a
            *ngIf="!isUserView"
            class="cluster-info-link"
            [title]="item?.cluster_display_name || item?.cluster_name"
            [routerLink]="[
              '/console/admin/cluster/detail/' + item.cluster_name
            ]"
          >
            {{ item?.cluster_display_name || item?.cluster_name }}：
          </a>
          <span
            *ngIf="isUserView"
            class="cluster-info-link"
            [title]="item?.cluster_display_name || item?.cluster_name"
          >
            {{ item?.cluster_display_name || item?.cluster_name }}：
          </span>
          <ng-container *ngIf="showQuotaSetting('cpu')">
            <aui-icon
              color="#6359B4"
              [title]="'cpu' | translate"
              icon="basic:cpu"
            ></aui-icon>
            {{ item?.quota?.cpu }}{{ 'unit_core' | translate }}
          </ng-container>
          <ng-container *ngIf="showQuotaSetting('memory')">
            <aui-icon
              color="#007CB5"
              [title]="'memory' | translate"
              icon="basic:memory"
            ></aui-icon>
            {{ item?.quota?.memory }}{{ 'unit_gb' | translate }}
          </ng-container>
          <ng-container *ngIf="showQuotaSetting('storage')">
            <aui-icon
              color="#7DA41B"
              [title]="'storage' | translate"
              icon="basic:storage_s"
            ></aui-icon>
            {{ item?.quota?.storage }}{{ 'unit_gb' | translate }}
          </ng-container>
        </div>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="spaces">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'binding_space' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a
          *ngIf="item.spaces?.length"
          [routerLink]="['../space', item.spaces[0].name]"
        >
          {{ item.spaces[0].name }}
        </a>
        <span *ngIf="!item.spaces?.length">-</span>
        <aui-icon
          *ngIf="item.spaces?.length > 1"
          icon="ellipsis_h_s"
          class="icon-more"
          [auiTooltip]="content"
          auiTooltipType="info"
        ></aui-icon>
        <ng-template #content>
          <ul class="namespace-list-space__list">
            <li *ngFor="let space of item.spaces">
              <a class="link" [routerLink]="['../space', space.name]">
                {{ space.name }}
              </a>
            </li>
          </ul>
        </ng-template>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="created_at">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_at' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.created_at | rcFormatUtcStr }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div [auiDropdown]="menu" class="action-button">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item (click)="bindingSpaceDialog(item)">
            {{ 'binding_space' | translate }}
          </aui-menu-item>
          <aui-menu-item
            *ngIf="item?.spaces"
            (click)="unbindingSpaceDialog(item)"
          >
            {{ 'unbinding_space' | translate }}
          </aui-menu-item>
          <aui-menu-item (click)="updateNsQuota(item)">
            {{ 'update_namespace_quota' | translate }}
          </aui-menu-item>
          <aui-menu-item (click)="openDeleteDialog(item)">
            <span style="color:#eb6262;">
              {{ 'delete_namespace' | translate }}
            </span>
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <div class="zero-state" *ngIf="!namespaces?.length">
    {{ 'no_data' | translate }}
  </div>
  <aui-paginator
    layout="total,pager"
    [(currentPage)]="pagination.current"
    [(pageSize)]="pagination.size"
    [total]="pagination.count"
    (currentPageChange)="pageChanged($event)"
  ></aui-paginator>
</div>
