<aui-dialog-header>
  {{ 'unbinding_space' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelWidth="100px"
    style="padding-top: 20px"
    (ngSubmit)="unbinding()"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'namespace' | translate }}</label>
      <span>{{ namepsaceName }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'bounded_group' | translate }}</label>
      <aui-checkbox-group
        class="bingding-spaces"
        [(ngModel)]="spaceSelected"
        name="spaces"
      >
        <aui-checkbox *ngFor="let space of spaces" [label]="space">
          {{ space.name }}（{{ space.display_name || '-' }}）
        </aui-checkbox>
      </aui-checkbox-group>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button
      aui-button="danger"
      (click)="unbinding()"
      [disabled]="!spaceSelected.length"
    >
      {{ 'confirm' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
