<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'nav_region' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div style="margin-bottom: 12px;">
  <div class="rc-list-header__group rc-list-header__group--position-left">
    <button
      *ngIf="hasCreatePermission"
      aui-button="primary"
      routerLink="/console/admin/cluster/create"
    >
      {{ 'region_create_region' | translate }}
    </button>
    <button
      *ngIf="weblabs.FEDERATION_ENABLED && hasCreatePermission"
      aui-button="primary"
      routerLink="/console/admin/cluster/mirror"
    >
      {{ 'region_mirror_cluster' | translate }}
    </button>
    <button
      *ngIf="hasCreatePermission"
      aui-button="primary"
      routerLink="/console/admin/cluster/access"
    >
      {{ 'region_access_cluster' | translate }}
    </button>
  </div>
  <div fxFlex></div>
  <div class="rc-list-header__group rc-list-header__group--position-right">
    <aui-search
      [searchButton]="false"
      placeholder="{{ 'filter_by_name_placeholder' | translate }}"
      (search)="filter$.next($event)"
      class="rc-list-header__filter-input"
    ></aui-search>
    <button aui-button [square]="true" (click)="refreshRegions()">
      <aui-icon icon="basic:sync"></aui-icon>
    </button>
  </div>
</div>

<rc-cluster-list [clusters$]="clusters$"></rc-cluster-list>
