.rc-list-header {
  overflow: hidden;
  margin-bottom: 20px;

  &__group {
    display: flex;
    align-items: center;

    &--position {
      &-left {
        float: left;

        button + button,
        aui-dropdown-button + button {
          margin-left: 8px;
        }
      }

      &-right {
        float: right;
      }
    }
  }

  &__filter-input {
    width: 350px;
    margin-right: 8px;
  }
}
