<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item formGroupName="metadata">
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      aui-input
      auiFormItemControl
      formControlName="name"
      maxlength="63"
      [placeholder]="resourceNameReg.tip | translate"
      [rcErrorsTooltipMapper]="{ pattern: resourceNameReg.tip | translate }"
      [rcErrorsTooltip]
      required
    />
  </aui-form-item>
  <aui-form-item [formGroup]="form.get('spec.resources.requests')">
    <label auiFormItemLabel>{{ 'size' | translate }}</label>
    <aui-input-group style="flex:1">
      <span auiInputAddonAfter>{{ unit }}</span>
      <input
        aui-input
        type="text"
        [pattern]="POSITIVE_INT_PATTERN.pattern"
        auiFormItemControl
        formControlName="storage"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="{
          pattern: POSITIVE_INT_PATTERN.tip | translate
        }"
        required
      />
    </aui-input-group>
  </aui-form-item>
  <aui-form-item formGroupName="spec">
    <label auiFormItemLabel>{{ 'access_mode' | translate }}</label>
    <aui-radio-group auiFormItemControl formControlName="accessModes">
      <aui-radio-button *ngFor="let mode of accessModes" [value]="mode">
        {{ accessModesMap[mode] | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <aui-form-item formGroupName="spec">
    <label auiFormItemLabel>{{ 'k8s_storageclasses' | translate }}</label>
    <aui-select
      auiFormItemControl
      [filterable]="true"
      formControlName="storageClassName"
    >
      <aui-option
        *ngFor="let item of storageClassNameList"
        [label]="item.key"
        [value]="item.value"
      >
        {{ item.key }}
      </aui-option>
      <aui-option-placeholder>
        {{ 'no_data' | translate }}
      </aui-option-placeholder>
    </aui-select>
  </aui-form-item>
  <rc-foldable-block hint="{{ 'advanced' | translate }}">
    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>{{ 'label' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="labels"
      ></rc-key-value-form-table>
    </aui-form-item>
    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>{{ 'k8s_annotation' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="annotations"
      ></rc-key-value-form-table>
    </aui-form-item>
    <aui-form-item formGroupName="spec">
      <label auiFormItemLabel>{{ 'selector' | translate }}</label>
      <ng-container formGroupName="selector">
        <rc-key-value-form-table
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="matchLabels"
        ></rc-key-value-form-table>
      </ng-container>
    </aui-form-item>
  </rc-foldable-block>
</form>
