:host {
  flex: 1;
  .form-container {
    text-align: center;
    margin: 0 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    button {
      margin-bottom: 20px;
    }
    a {
      margin-top: 20px;
    }
  }

  ::ng-deep {
    .aui-button--large + .aui-button--large {
      margin-left: 0;
    }
  }
}

.third-party-login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  color: #000;
  button {
    width: 100%;
    margin: 0 0 16px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  }

  button:first-child {
    color: #fff;
  }
}

.other-login {
  .other-login-title {
    margin: 4px 0 12px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: #999;
  }

  .other-login-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30px;
  }

  .other-login-item {
    cursor: pointer;
    flex: 0 0 50px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    border: 1px solid #dedede;
    border-radius: 15px;

    img {
      width: 18px;
      height: 18px;
      opacity: 0.66;
    }

    &:hover {
      border-color: #009ce3;
      img {
        opacity: 1;
      }
    }
  }
}

.role-switcher {
  position: absolute;
  bottom: -32px;
  width: 296px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
}
