<div class="form-container">
  <div class="form-header">{{ 'user_login' | translate }}</div>
  <div class="third-party-login">
    <button
      *ngFor="let item of firstClassThirdParties; index as idx"
      aui-button="{{ idx === 0 ? 'primary' : 'default' }}"
      size="large"
      (click)="tpLogin(item)"
      type="text"
    >
      {{ item['display_name'] | translate }}
    </button>
  </div>

  <div *ngIf="secondClassThirdParties.length" class="other-login">
    <div class="other-login-title">
      <span>{{ 'other_login_methods' | translate }}</span>
    </div>
    <ul class="other-login-list">
      <li
        *ngFor="let item of secondClassThirdParties"
        class="other-login-item"
        (click)="tpLogin(item)"
      >
        <span>{{ item['display_name'] }}</span>
      </li>
    </ul>
  </div>
</div>

<div class="role-switcher">
  <a routerLink="/landing/login/sub" [queryParams]="{ next: _next }">
    Alauda {{ 'user_login' | translate }}
  </a>
</div>
