<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'devops' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'tool_chain_artifact_repository' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card>
  <div class="list-card-header">
    <div></div>
    <aui-search
      [placeholder]="'devops_filter_by_repo_address' | translate"
      (keywordChange)="repositoriesFilter$$.next($event)"
    ></aui-search>
  </div>
  <rc-repository-list
    [repositories]="filteredRepositories$ | async"
  ></rc-repository-list>
  <rc-zero-state
    [zeroState]="showZeroState"
    [fetching]="loading"
    [resourceName]="'devops_image_repo_list' | translate"
  ></rc-zero-state>
  <aui-paginator
    *ngIf="pagination.count"
    layout="total,pager"
    [(currentPage)]="pagination.current"
    [(pageSize)]="pagination.size"
    [total]="pagination.count"
    (pageSizeChange)="pageSizeChange($event)"
    (currentPageChange)="pageChanged($event)"
  ></aui-paginator>
</aui-card>
