:host {
  display: block;
  color: #333;
  padding: 0 16px 16px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    height: 38px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed;
  }
  .status-content {
    font-size: 12px;
    line-height: 20px;
    &__row {
      height: 20px;
      margin-top: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      rc-pod-controller-status {
        display: inline-block;
      }
      label {
        font-weight: 400;
        margin-right: 4px;
      }
    }
    &__separator {
      height: 0;
      margin-top: 8px;
      border-top: 1px dashed #ededed;
    }
  }
}
