<h3>
  {{ node?.name }}
</h3>
<div class="status-content">
  <div class="status-content__row">
    <label>{{ 'type' | translate }}:</label>
    <span>{{ node?.kind | titlecase }}</span>
  </div>
  <div class="status-content__row">
    <label>{{ 'status' | translate }}:</label>
    <rc-pod-controller-status
      [status]="node.status"
      [desiredInstances]="node.desired"
      [currentInstances]="node.current"
    ></rc-pod-controller-status>
  </div>
  <ng-container *ngFor="let container of node.containers; last as isLast">
    <div class="status-content__row">
      <label>{{ 'image' | translate }}:</label>
      <span>{{ container?.image | rcFieldNotAvailable }}</span>
    </div>
    <div class="status-content__row">
      <label>{{ 'resource_size' | translate }}:</label>
      <span>
        CPU {{ container?.cpu | rcFieldNotAvailable }} {{ 'memory' | translate
        }} {{ container?.memory | rcFieldNotAvailable }}
      </span>
    </div>
    <div *ngIf="!isLast" class="status-content__separator"></div>
  </ng-container>
</div>
