:host {
  display: inline-flex;
  .resoure-icon {
    min-width: 20px;
    height: 20px;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007cb5;
    border-radius: 24px;
    padding: 0 5px;
  }
}
