<aui-dialog-header>
  {{ (oldName ? 'update_api_group' : 'add_api_group') | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form auiForm #Form="ngForm">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'api_group' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        required
        autocomplete="off"
        name="name"
        [(ngModel)]="name"
        [rcErrorsTooltip]
        [pattern]="K8S_RESOURCE_NAME_BASE.pattern"
        [rcErrorsTooltipMapper]="{
          pattern: K8S_RESOURCE_NAME_BASE.tip | translate
        }"
      />
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="Form.invalid || confirming"
    [loading]="confirming"
    (click)="confirm()"
  >
    {{ (oldName ? 'update' : 'add') | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
