@import 'var';
// TODO: refactor releated usage
.rc-detail-container {
  min-height: 120px;
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  .detail-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    > img {
      width: 80px;
      height: 80px;
      border-radius: 3px;
    }
  }
  .detail-wrapper {
    .detail-header {
      margin-bottom: 4px;
      position: relative;
      > h3 {
        line-height: 32px;
        font-size: 18px;
        margin: 0;
        padding-right: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .detail-buttons {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        > button,
        > rc-button-menu {
          margin-left: 8px;
        }
      }
    }

    .detail-content {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      @include clearfix;
      .detail-item {
        float: left;
        width: 50%;
        display: flex;
        line-height: 20px;
        align-items: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #4d4d4d;
        font-size: 14px;
        margin-top: 12px;
        &:nth-child(2n + 1) {
          padding-right: 20px;
        }
        > label {
          margin-bottom: 0;
          font-weight: normal;
          &:after {
            content: '\FF1A';
          }
        }
        > div:first-of-type {
          overflow: hidden;
          text-overflow: ellipsis;
          display: flex;
          padding-right: 12px;
        }
      }
    }
  }
  .detail-collapse-switch {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #fff;
    bottom: -10px;
    left: 50%;
    margin-left: -15px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.1);
    .icon {
      margin: 0;
      line-height: 1;
      width: 8px;
    }
  }
}
