@import 'var';
@import 'mixins';

.resource-form {
  // TODO: header and content should be replaced with aui-card
  &__wrapper {
    min-height: calc(
      100vh - 182px
    ); // 44(breadcrumb)+48(header)+20+20(padding)+50(margin)
    margin-bottom: 50px;
    padding: 0 20px;
    border-radius: 3px;
    background-color: #fff;
  }
  &__header {
    padding: 12px 0;
    display: flex;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
    > span {
      display: flex;
      align-items: center;
      font-size: 18px;
    }
  }
  &__content {
    padding: 0;
    height: 100%;
  }
  &__footer {
    position: fixed;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    padding: 0 20px 0 220px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
}
