.rb-loading-mask-placeholder {
  min-height: 80px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #a1a1a1;
  flex-direction: column;
  .rb-loading-mask {
    background: transparent;
  }
}
