@import 'var';
.rc-table-vertical {
  flex-grow: 1;
  color: #4d4d4d;
  min-height: 32px;
  border-top: $default-border;
  border-left: $default-border;
  &.detail-content-right {
    margin-left: 100px;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  &__row {
    float: left;
    display: flex;
    width: 100%;
    border-bottom: $default-border;
    &.half-width {
      width: 50%;
    }
    > div {
      padding: 4px 6px;
    }
    > div:nth-child(odd) {
      text-align: right;
      background-color: #f4f4f4;
      flex: 0 0 100px;
    }
    > div:nth-child(even) {
      padding-left: 8px;
      background-color: #fff;
      word-break: break-all;
      width: 100%;
      border-right: $default-border;
    }
  }
}
