@import 'var';
// TODO: deprecated, refactor to horizonal form
.rc-time-select {
  div {
    display: inline-block;
    input[readonly] {
      background-color: #fff;
    }
  }
  label {
    padding-left: 8px;
    &:after {
      content: '：';
    }
  }
  button {
    margin-left: 8px;
    vertical-align: bottom;
  }
}

.rc-time-select-out-of-range {
  color: $color-error;
  line-height: 26px;
  padding-left: 8px;
}
