.alo-integrate-tool {
  .integrate-form {
    margin-top: 16px;
    padding-top: 16px;
    border-top: dashed 1px #eeeeee;
  }
}

aui-dialog-header {
  ::ng-deep .aui-dialog {
    &__header {
      background-color: white;
      padding-bottom: 0;
      height: 52px;
    }
    &__header-title {
      font-size: 20px;
      color: #4d4d4d;
    }
    &__header-close {
      color: #999 !important;
    }
  }
}

.helper {
  font-size: 16px;
  color: #999999;
  &:hover {
    color: #009ce3;
  }
}

.secret-group {
  margin-right: 10px;
  &__display-name {
    color: #999;
    margin-left: 4px;
  }
}
