<aui-dialog-header>{{ 'tool_chain_integrate' | translate }}</aui-dialog-header>
<aui-dialog-content>
  <div class="alo-integrate-tool">
    <rc-tool-type-bar
      [(selectedType)]="selectedType"
      (selectedTypeChange)="toolList.clearSelection()"
      [types]="toolTypes"
      [resources]="allTools"
    ></rc-tool-type-bar>
    <rc-tool-list
      #toolList
      [tools]="getCurrentTools()"
      [showType]="selectedType === 'all'"
      (selectedChange)="handleSelectedToolChange($event)"
    ></rc-tool-list>
    <form
      *ngIf="selectedTool"
      #form="ngForm"
      auiForm
      [auiFormEmptyAddon]="true"
      auiFormLabelWidth="150px"
      class="integrate-form"
    >
      <aui-form-item>
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <input
          name="name"
          #name="ngModel"
          aui-input
          auiFormItemControl
          required
          [maxLength]="30"
          [pattern]="resourceNamePattern.pattern"
          [placeholder]="'tool_chain_pattern' | translate"
          [(ngModel)]="formData.name"
        />
        <div auiFormItemError *ngIf="name.errors?.required">
          {{ 'required' | translate }}
        </div>
        <div auiFormItemError *ngIf="name.errors?.pattern">
          {{ 'tool_chain_pattern' | translate }}
        </div>
        <div auiFormItemError *ngIf="name.errors?.maxLength">
          {{ 'tool_chain_max_length' | translate }}: 30
        </div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tool_chain_visit_address' | translate }}
        </label>
        <input
          name="visitHost"
          #host="ngModel"
          aui-input
          auiFormItemControl
          required
          pattern="^(https?)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]$"
          [disabled]="selectedTool.public"
          [(ngModel)]="formData.visitHost"
          [placeholder]="'tool_chain_address_input_placeholder' | translate"
        />
        <div auiFormItemError *ngIf="host.errors?.required">
          {{ 'required' | translate }}
        </div>
        <div auiFormItemError *ngIf="host.errors?.pattern">
          {{ 'tool_chain_pattern' | translate }}
        </div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tool_chain_api_address' | translate }}
        </label>
        <input
          name="apiHost"
          #host="ngModel"
          aui-input
          auiFormItemControl
          required
          pattern="^(https?)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]$"
          [disabled]="selectedTool.public"
          [(ngModel)]="formData.apiHost"
          [placeholder]="'tool_chain_address_input_placeholder' | translate"
        />
        <div auiFormItemHint *ngIf="selectedTool.kind === 'imageregistry'">
          {{ 'tool_chain_integrate_registry_protocol' | translate }}
        </div>
        <div auiFormItemError *ngIf="host.errors?.required">
          {{ 'required' | translate }}
        </div>
        <div auiFormItemError *ngIf="host.errors?.pattern">
          {{ 'tool_chain_pattern' | translate }}
        </div>
      </aui-form-item>
      <aui-form-item *ngIf="selectedTool.roleSyncEnabled">
        <label auiFormItemLabel>
          {{ 'tool_chain_role_sync_enabled' | translate }}
        </label>
        <aui-checkbox
          [(ngModel)]="formData.roleSyncEnabled"
          name="roleSyncEnabled"
        >
          <aui-icon
            class="helper"
            icon="basic:question"
            [auiTooltip]="'tool_chain_role_sync_enabled_tips' | translate"
          ></aui-icon>
        </aui-checkbox>
      </aui-form-item>
      <aui-form-item *ngIf="!toolTypes?.subscribeMode">
        <label auiFormItemLabel>
          {{ 'tool_chain_allow_subscribe' | translate }}
        </label>
        <aui-checkbox
          [(ngModel)]="formData.allowSubscribe"
          name="allowSubscribe"
        >
          <aui-icon
            class="helper"
            icon="basic:question"
            [auiTooltip]="'tool_chain_allow_subscribe_tips' | translate"
          ></aui-icon>
        </aui-checkbox>
      </aui-form-item>
      <aui-form-item *ngIf="!toolTypes?.subscribeMode">
        <label auiFormItemLabel>
          {{ 'tool_chain_use_secrets' | translate }}
        </label>
        <aui-checkbox [(ngModel)]="formData.useSecret" name="useSecret">
          <aui-icon
            class="helper"
            icon="basic:question"
            [auiTooltip]="'tool_chain_use_secrets_tips' | translate"
          ></aui-icon>
        </aui-checkbox>
      </aui-form-item>
      <aui-form-item *ngIf="formData.useSecret">
        <label auiFormItemLabel>{{ 'tool_chain_auth_type' | translate }}</label>
        <aui-radio-group
          auiFormItemControl
          name="secretType"
          [(ngModel)]="formData.secretType"
          (ngModelChange)="resetSecret()"
        >
          <aui-radio-button
            *ngIf="supportedSecretType(secretTypes.BasicAuth)"
            [value]="secretTypes.BasicAuth"
          >
            {{ 'secret_username_password' | translate }}
          </aui-radio-button>
          <aui-radio-button
            *ngIf="supportedSecretType(secretTypes.OAuth2)"
            [value]="secretTypes.OAuth2"
          >
            {{ 'tool_chain_oauth2' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item *ngIf="formData.useSecret || toolTypes?.subscribeMode">
        <label auiFormItemLabel>{{ 'tool_chain_secrets' | translate }}</label>
        <aui-select
          auiFormItemControl
          name="secret"
          #secret="ngModel"
          [(ngModel)]="formData.secret.name"
          filterable
          required
          class="secret-group"
          [placeholder]="'tool_chain_please_select_secret' | translate"
        >
          <aui-option-group>
            <aui-option
              *ngFor="let item of (secrets$ | async)"
              [value]="item.name"
              [label]="item.name"
              (click)="secretToValue(item)"
            >
              <span>{{ item.name }}</span>
              <span
                class="secret-group__display-name"
                *ngIf="!!item.displayName"
              >
                ({{ item.displayName }})
              </span>
            </aui-option>
          </aui-option-group>
          <aui-option-placeholder>
            {{ 'tool_chain_no_available_secrets' | translate }}
          </aui-option-placeholder>
        </aui-select>
        <button
          aui-button
          type="button"
          class="add-secret"
          [disabled]="!secretCreatePermission"
          (click)="addSecret()"
        >
          {{ 'tool_chain_add_secret' | translate }}
        </button>
        <div
          auiFormItemError
          *ngIf="
            (formData.useSecret || toolTypes?.subscribeMode) &&
            secret.errors?.required
          "
        >
          {{ 'required' | translate }}
        </div>
      </aui-form-item>
    </form>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      (click)="integrate()"
      [loading]="loading"
      [disabled]="loading || !selectedTool"
    >
      {{ 'tool_chain_integrate' | translate }}
    </button>
    <button aui-button [auiDialogClose]="null" [disabled]="loading">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>
