<div
  class="space-label"
  *ngIf="(spaces$ | async)?.length"
  #spaceTooltip
  style="cursor: pointer;"
  [auiTooltip]="spaceListTemplate"
  auiTooltipType="plain"
  auiTooltipPosition="bottom start"
  auiTooltipTrigger="click"
  [auiTooltipDisabled]="!(spaces$ | async)?.length"
>
  <div
    class="space-label__text"
    [auiTooltip]="('space' | translate) + ': ' + currentSpace?.display_name"
    auiTooltipPosition="bottom start"
    auiTooltipClass="rc-font-small"
  >
    {{ currentSpace?.display_name || currentSpace?.name }}
  </div>
  <aui-icon icon="angle_down" class="space-label__icon"></aui-icon>
</div>

<ng-template #spaceListTemplate>
  <div class="space-list">
    <div class="space-list__header">
      <input
        aui-input
        name="filter_name"
        [(ngModel)]="filterName"
        (ngModelChange)="filterName$.next($event)"
        [placeholder]="'filter_by_name_placeholder' | translate"
      />
    </div>
    <div class="space-list__items">
      <div
        *ngFor="let space of (filteredSpaces$ | async); trackBy: trackBySpaceId"
        class="space-list__item"
        (click)="selectSpace(space)"
        [title]="space.display_name || space.name"
        [class.active-space]="space.name === currentSpace?.name"
      >
        {{ space.display_name || space.name }}
      </div>
      <div
        class="space-list__empty"
        *ngIf="(filteredSpaces$ | async)?.length === 0"
      >
        {{ 'no_data' | translate }}
      </div>
    </div>
  </div>
</ng-template>
