@import 'var';
:host {
  display: flex;
  color: #333;
  font-size: 14px;
  background-color: #fff;
  height: 32px;
  border-radius: 20px;
}

.space-label {
  padding: 6px 8px 6px 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
  &:hover {
    color: #009ce3;
  }
  &__text {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__icon {
    margin-left: 4px;
  }
}

.space-list {
  width: 196px;
  padding-bottom: 8px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  display: flex;
  flex-flow: column;
  align-items: stretch;
  &__header {
    padding: 8px;
  }
  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #999;
  }
  &__items {
    max-height: 284px;
    overflow-y: auto;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }
  &__item {
    font-size: 14px;
    font-weight: normal;
    background: #fff;
    white-space: nowrap;
    padding: 8px 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: #53bce5;
      background: #d6eef8;
    }
    &.active-space {
      color: rgba(65, 76, 94, 0.7);
      background: #f4f4f4;
      font-weight: 700;
      cursor: default;
    }
  }
}
