.namespace-basic-info,
.namespace-details {
  margin-top: 16px;
  border-radius: 2px;
  background-color: #fff;
  &__header {
    height: 30px;
    display: flex;
    align-items: center;
    h3 {
      font-weight: 400;
      font-size: 18px;
      color: #333;
    }
  }
  &__tab {
    width: 72px;
  }
  &__divider {
    width: 100%;
    height: 1px;
    margin: 16px 0;
    background-color: #ededed;
  }
}

rc-loading-mask {
  height: 120px;
}

.namespace-basic-info {
  padding: 20px;
  margin-top: 0;
  &__header {
    h3 {
      flex: 1;
    }
  }
  &__divider {
    margin: 16px 0 0 0;
  }
  .rc-detail-container {
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;
    min-height: 0;
    .detail-wrapper {
      margin-left: 0;
      .detail-item {
        div {
          padding-right: 0;
        }
      }
    }
  }
}
.namespace-details {
  &__quota {
    display: flex;
  }
  &-quota__spece {
    margin: 20px 0;
    font-size: 14px;
    color: #333;
    &:first-child {
      margin-top: 10px;
    }
  }
}
.asm-enable-card {
  display: flex;
  align-items: center;
  min-height: 50px;
  aui-switch {
    margin-left: 5px;
  }
  .hint {
    font-size: 12px;
    line-height: 16px;
    color: #999;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .not-intsalled {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    color: #999;
    img {
      margin-bottom: 20px;
    }
  }
}
.confirm {
  &-content {
    display: flex;
    aui-icon {
      color: #eb6262;
      flex: 24px;
      margin-right: 8px;
    }
  }
  &-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  &-body {
    color: #666;
  }
}
:host::ng-deep {
  .aui-tab-group__body-wrapper {
    margin-top: 20px;
    padding: 0 20px 20px;
  }
}
