<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/user']">
        {{ 'project_overview' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ namespaceName }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<ng-container *ngIf="initialized">
  <div class="namespace-basic-info">
    <div class="namespace-basic-info__header">
      <h3>{{ namespaceName }}</h3>
      <button
        *ngIf="displayEnterBtn"
        aui-button="primary"
        [plain]="true"
        (click)="enterNamespace()"
      >
        {{ 'enter_namespace' | translate }}
      </button>
      <button aui-button="default" [plain]="true" [auiDropdown]="menu">
        {{ 'action' | translate }}
        <aui-icon icon="angle_down" margin="left"></aui-icon>
      </button>
      <aui-menu #menu>
        <aui-menu-item
          *ngIf="!stagedNamespaceCreate"
          [disabled]="!namespaceUpdatePremission"
          (click)="updateQuota()"
        >
          {{ 'update_quota' | translate }}
        </aui-menu-item>
        <aui-menu-item
          [disabled]="!namespaceUpdatePremission"
          (click)="deleteNamespace()"
        >
          {{ 'delete' | translate }}
        </aui-menu-item>
      </aui-menu>
    </div>
    <div class="namespace-basic-info__divider"></div>
    <div class="rc-detail-container">
      <div class="detail-wrapper">
        <div class="detail-content">
          <div class="detail-item">
            <label>{{ 'region_belonged' | translate }}</label>
            <div>
              {{ cluster?.display_name | rcFieldNotAvailable }}
            </div>
          </div>
          <div class="detail-item">
            <label>{{ 'master' | translate }}</label>
            <div>{{ adminRolesDisplay }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'label' | translate }}</label>
            <div>
              <rc-tags-label [tags]="labels"></rc-tags-label>
            </div>
          </div>
          <div class="detail-item">
            <label>{{ 'k8s_annotation' | translate }}</label>
            <div>
              <rc-tags-label [tags]="annotations"></rc-tags-label>
            </div>
          </div>
          <div class="detail-item">
            <label>{{ 'create_time' | translate }}</label>
            <div>
              {{ namespace?.kubernetes.metadata.creationTimestamp |
              rcFormatUtcStr }}
            </div>
          </div>
          <!-- <div class="detail-item">
            <label>{{ 'service' | translate }}</label>
            <div>{{ namespace?.kubernetes.spec.finalizers }}</div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="namespace-details">
    <aui-tab-group>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'resourcequota' | translate }}
        </ng-container>
        <div *auiTabContent>
          <div class="namespace-details__quota">
            <ng-container *ngFor="let item of keys(quotaItem)">
              <rc-project-pie-chart
                [data]="quotaItem[item]"
                [title]="item"
                [unit]="unitMap[item]"
              ></rc-project-pie-chart>
            </ng-container>
          </div>
        </div>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'pod_quota' | translate }}
        </ng-container>

        <aui-table [dataSource]="limitRangeItems" [trackBy]="trackByFn">
          <ng-container auiTableColumnDef="target">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'limitrange_index' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.target | translate }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="limit">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'limits_value' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.limit | translate }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="request">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'requests_value' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.request | translate }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="max">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'Maximum' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.max | translate }}
            </aui-table-cell>
          </ng-container>
          <aui-table-header-row
            *auiTableHeaderRowDef="columns"
          ></aui-table-header-row>
          <aui-table-row
            *auiTableRowDef="let row; columns: columns"
          ></aui-table-row>
        </aui-table>
      </aui-tab>

      <aui-tab *ngIf="!groupEnabled">
        <ng-container *auiTabLabel>{{ 'member' | translate }}</ng-container>
        <div *auiTabContent>
          <rc-accounts-list
            [projectName]="projectName"
            [namespaceName]="namespace?.kubernetes.metadata.name"
            [clusterNames]="accountListClusterNames"
            [isCreate]="true"
            [namespaceUuid]="namespaceUuid"
          ></rc-accounts-list>
        </div>
      </aui-tab>

      <aui-tab *ngIf="canViewAudit">
        <ng-container *auiTabLabel>{{ 'audit' | translate }}</ng-container>
        <div *auiTabContent>
          <rc-audit-list
            [k8sNamespaceName]="namespace?.kubernetes.metadata.name"
            [clusterName]="cluster?.name"
          ></rc-audit-list>
        </div>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'nav_service_mesh' | translate }}
        </ng-container>
        <div *auiTabContent>
          <div class="asm-enable-card">
            <ng-container
              *ngIf="installedServiceMesh; else notIntalledServiceMesh"
            >
              <label>{{ 'nav_service_mesh' | translate }}:</label>
              <aui-switch
                (valueChange)="asmEnableConfirm()"
                [loading]="loading"
                [value]="asmEnabled"
              ></aui-switch>
              <div class="hint">
                <ng-container *ngIf="!asmEnabled; else enabledHint">
                  {{ 'service_mesh_disabled' | translate }}
                </ng-container>
                <ng-template #enabledHint>
                  {{ 'service_mesh_enabled' | translate }}
                </ng-template>
              </div>
            </ng-container>
            <ng-template #notIntalledServiceMesh>
              <div class="not-intsalled">
                <img
                  class="view-image"
                  src="/static/images/micro-service/unerected.svg"
                />
                <div>{{ 'service_mesh_not_installed' | translate }}</div>
              </div>
            </ng-template>
          </div>
        </div>
      </aui-tab>
    </aui-tab-group>
  </div>
</ng-container>

<ng-template #asmEnableConfirmDialog>
  <aui-dialog-content>
    <div class="confirm-content">
      <aui-icon
        icon="exclamation_triangle_s"
        class="error"
        size="24px"
      ></aui-icon>
      <div>
        <div class="confirm-title">
          {{ asmDialogText.title | translate }}
        </div>
        <div class="confirm-body">
          {{ asmDialogText.content | translate: { namespace: namespaceName } }}
        </div>
      </div>
    </div>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button
      aui-button="error"
      (click)="enableOrDisableServiceMesh(asmDialogText.value)"
    >
      {{ asmDialogText.button | translate }}
    </button>
    <button aui-button auiDialogClose="false">
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</ng-template>
