<div class="status">
  <a [class.disabled]="!stages || !stages.length" (click)="toggleFullLogs()">
    {{
      (showFullLogs || !stages || !stages.length
        ? 'jenkins_logs_to_stages'
        : 'jenkins_logs_to_full_logs') | translate
    }}
  </a>
</div>
<div *ngIf="stages && stages.length && !showFullLogs">
  <rc-jenkins-pipeline-history-diagram
    [stages]="stages"
    [start]="startId"
    [selected]="selectedStageId"
    (selectedChange)="onSelectedStageChange($event)"
  ></rc-jenkins-pipeline-history-diagram>
  <div class="stage" *ngIf="selectedStageId">
    <div class="stage-header">
      {{ selectedStage.name }}
      ({{ 'jenkins_history_consumed' | translate
      }}{{ selectedStage.duration_millis | rcDurationToConsumed }})
    </div>
    <div class="step" *ngIf="!steps?.length">
      <div class="step-content">
        <div class="step-header">{{ 'jenkins_steps_empty' | translate }}</div>
      </div>
    </div>
    <div
      class="step"
      *ngFor="let step of steps; let i = index; trackBy: stepTracker"
      [class.paused]="!['FINISHED', 'NOT_BUILT'].includes(step.status)"
      [class.success]="step.status === 'FINISHED' && step.result === 'SUCCESS'"
      [class.failure]="
        (step.status === 'FINISHED' && step.result === 'FAILURE') ||
        step.result === 'ABORTED'
      "
      [class.active]="step.active"
    >
      <div class="step-content">
        <div class="step-header" (click)="onSelectedStepChange(step)">
          <span>
            <i
              class="fa"
              [class.fa-angle-right]="!step.active"
              [class.fa-angle-down]="step.active"
            ></i>
            Step{{ i + 1 }}: {{ step.display_name }}
          </span>
          <span>{{ step.duration_millis | rcDurationToConsumed }}</span>
        </div>
        <div
          class="step-logs"
          [rcLoadingMask]="approvaling"
          [@slide]="step.active ? 'active' : ''"
        >
          <ul *ngIf="step.status === 'PAUSED'" class="approval">
            <li>{{ step.input.message }}</li>
            <li>
              <a
                href="javascript:void(0)"
                class="process"
                (click)="approval(step.input.id, false, step.id)"
              >
                {{ 'jenkins_step_proceed' | translate }}
              </a>
              <span>or</span>
              <a
                href="javascript:void(0)"
                class="abort"
                (click)="approval(step.input.id, true, step.id)"
              >
                {{ 'jenkins_step_abort' | translate }}
              </a>
            </li>
          </ul>
          <ul *ngIf="step.status !== 'PAUSED'">
            <li
              *ngFor="
                let line of (logs[step.id]?.text || '').split('\n');
                let i = index
              "
            >
              <span>{{ line }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="stagesInited && (showFullLogs || !stages || !stages.length)">
  <aui-code-editor
    [options]="codeEditorOptions"
    [actionsConfig]="actionsConfigView"
    [value]="fullLogs && fullLogs.text"
  ></aui-code-editor>
</div>
