@import 'var';

$input-width: 150px;

.constraint {
  &:not(:first-of-type) {
    position: relative;
    margin-top: 11px;
    // 分割线
    &::after {
      content: '.';
      position: absolute;
      top: -6px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      text-indent: -9999px;
      background: #ccc;
    }
  }

  &-inputs {
    display: flex;
    position: relative;

    aui-select,
    input {
      flex: 1;
      margin-right: 5px;
    }
  }

  &-list {
    width: 100%;
    margin: 4px 0;
    list-style: none;

    li {
      display: flex;
      height: 32px;
      line-height: 32px;
      margin: 2px;

      span {
        flex: 1;
        margin-right: 5px;
      }
    }
  }
}

.constraint-insert-addon {
  display: block;
  margin-top: 10px;
}
