<section *ngFor="let item of list; let index = index" class="constraint">
  <div class="constraint-inputs">
    <aui-select [(ngModel)]="item.key" [disabled]="!innerOptions.length">
      <div (click)="$event.stopPropagation()">
        <aui-option
          *ngFor="let option of innerOptions"
          [value]="option"
          [label]="option | translate"
        >
          {{ option | translate }}
        </aui-option>
      </div>
    </aui-select>
    <input aui-input [(ngModel)]="item.value" />
    <button aui-button (click)="add(index, item)">
      {{ 'add' | translate }}
    </button>
  </div>
  <ul class="constraint-list">
    <li *ngFor="let key of keys(innerConstraints[index])">
      <span [title]="key | translate">{{ key | translate }}</span>
      <span [title]="innerConstraints[index][key]">
        {{ innerConstraints[index][key] }}
      </span>
      <a href="javascript:void(0)" (click)="remove(index, key)">
        <aui-icon icon="basic:minus_circle_s"></aui-icon>
      </a>
    </li>
  </ul>
</section>

<a class="constraint-insert-addon" href="javascript:;" (click)="insert()">
  <aui-icon icon="basic:add_circle"></aui-icon>
  {{ 'rbac_add_group_of_constraints' | translate }}
</a>
