<aui-dialog-header>
  {{
    (isUpdate ? 'network_policy_update' : 'network_policy_create') | translate
  }}
</aui-dialog-header>
<aui-dialog-content>
  <!--命名空间 名称-->
  <div class="detail-content">
    <div>
      <span>{{ 'namespace' | translate }}</span>
    </div>
    <div>
      <span>{{ model.namespace }}</span>
    </div>
    <div>
      <span>{{ 'name' | translate }}</span>
    </div>
    <div>
      <span>{{ model.name }}</span>
    </div>
  </div>
  <!--yaml预览-->
  <form auiForm auiFormLabelWidth="140px" #form="ngForm">
    <!--YAML-->
    <aui-code-editor
      auiFormItemControl
      name="yaml"
      style="width: 100%;"
      required
      [rcErrorsTooltip]
      [rcErrorsTooltipInline]="true"
      [originalValue]="networkPolicyYaml"
      [(ngModel)]="model.networkPolicyYaml"
      [actionsConfig]="editorActionsConfig"
      [options]="codeEditorOptions"
    ></aui-code-editor>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
    <button
      aui-button="primary"
      [disabled]="form.invalid || submitting"
      [loading]="submitting"
      (click)="confirm()"
    >
      {{ (isUpdate ? 'network_policy_update' : 'confirm') | translate }}
    </button>
  </div>
</aui-dialog-footer>
