<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="back()">
        {{ 'network_policy' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <ng-container>{{ 'create' | translate }}</ng-container>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-inline-alert
  [closable]="true"
  [content]="'network_policy_create_tips' | translate"
></aui-inline-alert>
<form auiForm auiFormLabelWidth="140px" #createForm="ngForm">
  <aui-card>
    <!-- YAML -->
    <aui-code-editor
      auiFormItemControl
      name="yaml"
      style="width: 100%;"
      required
      [rcErrorsTooltip]
      [rcErrorsTooltipInline]="true"
      [(ngModel)]="model.networkPolicyYaml"
      [options]="codeEditorOptions"
      [actionsConfig]="actionsConfigCreate"
    ></aui-code-editor>
  </aui-card>
</form>

<div class="form-footer">
  <span fxFlex></span>
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="!(form.valid && model.namespace) || submitting"
    (click)="confirm()"
  >
    {{ 'preview' | translate }}
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
