:host {
  .form-footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    padding: 12px 20px;
    box-shadow: 0 -1px 2px 0 #eee;
    button {
      margin-left: 8px;
    }
  }
}
