@import 'var';

:host {
  aui-dialog-content ::ng-deep .aui-dialog__content {
    overflow-x: hidden;
    overflow-y: auto;
  }
  ::ng-deep ng-monaco-editor {
    flex: 1;
    display: flex;
    flex-flow: column;
    height: 400px;
  }
  .detail-content {
    display: flex;
    min-height: 40px;
    border: 1px solid #ccc;
    margin: 10px 0;
    word-break: break-all;
    > div {
      display: flex;
      align-items: stretch;
      span {
        display: flex;
        align-items: center;
        flex: 1;
      }
    }
    > div:nth-of-type(odd) {
      flex: 0 0 100px;
      background-color: #fafafa;
      text-align: center;
      line-height: 40px;
      span {
        justify-content: center;
      }
    }
    > div:nth-of-type(even) {
      border-left: 1px solid #ccc;
      flex: 1;
      text-align: left;
      padding: 12px 5px;
    }
    > div:not(:first-of-type) {
      border-left: 1px solid #ccc;
    }
  }
}
