<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/user/project', { project: project?.name }]">
        {{ 'project_overview' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'create_space' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<div class="space-create">
  <h3>{{ 'create_space' | translate }}</h3>
  <div class="space-create__divider"></div>
  <div class="space-create__content">
    <form #form="ngForm" auiForm class="space-create__form">
      <rc-space-create-form
        name="space"
        [project]="project"
        [(ngModel)]="space"
      ></rc-space-create-form>
    </form>
  </div>
  <div class="space-create__divider"></div>
  <div class="space-create__footer">
    <button aui-button="primary" (click)="create()" [loading]="loading">
      {{ 'create' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</div>
