@import 'var';
h3 {
  font-weight: 400;
  font-size: 18px;
  color: #333;
}
.space-create {
  color: #333;
  margin-top: 12px;
  padding: 20px;
  border-radius: 2px;
  background-color: #fff;
  ::ng-deep {
    .aui-form-item__error-wrapper,
    .aui-form-item__hint {
      margin-top: 4px;
    }
  }

  &__form {
    padding: 0 10%;
  }

  &__divider {
    width: 100%;
    height: 1px;
    margin: 16px 0;
    background-color: #ededed;
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__basic {
    ::ng-deep {
      aui-select {
        width: 100%;
      }
      aui-input-group {
        width: 100%;
      }
      .aui-select {
        width: 100% !important;
      }
      .aui-input-group__addon--before {
        white-space: nowrap;
      }

      .aui-form-item__label-wrapper {
        width: 10% !important;
      }
    }
  }
}
