@import 'var';

@mixin row-button-style {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  i {
    margin-right: 4px;
  }
}
.ingress-rule-table {
  .add-container-button {
    @include row-button-style();
    flex: 1;
    margin-top: 10px;
    background-color: #fff;
    border: dashed 1px $button-default-hover-border-color;
    color: #24a7e3;
  }
}
