<rc-loading-mask
  class="rc-form-loading-mask"
  [loading]="!initialized"
></rc-loading-mask>
<form>
  <div class="resource-form__wrapper" [hidden]="!initialized">
    <div class="resource-form__header">
      <span *ngIf="!data">{{ 'create_kube_ingress' | translate }}</span>
      <span *ngIf="data">{{ 'update_kube_ingress' | translate }}</span>
      <div style="flex: 1;"></div>
      <aui-radio-group
        name="formModel"
        [isPlain]="false"
        (ngModelChange)="formModelChange($event)"
        [(ngModel)]="formModel"
      >
        <aui-radio-button value="UI">{{ 'form' | translate }}</aui-radio-button>
        <aui-radio-button value="YAML">YAML</aui-radio-button>
      </aui-radio-group>
    </div>

    <div class="resource-form__content" *ngIf="formModel === 'UI'">
      <rc-ingress-form
        auiFormItemControl
        name="ingressForm"
        [(ngModel)]="ingressModel"
        (ngModelChange)="formChange($event)"
        [isUpdate]="!!data"
        [domains]="domains"
      ></rc-ingress-form>
    </div>

    <div *ngIf="formModel === 'YAML'">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'yaml_file' | translate }}</label>
        <aui-code-editor
          name="yaml"
          style="width: 100%;"
          [(ngModel)]="ingressYaml"
          [originalValue]="originalYaml"
          [options]="codeEditorOptions"
        ></aui-code-editor>
      </aui-form-item>
    </div>
  </div>

  <div class="resource-form__footer" [hidden]="!initialized">
    <div style="flex: 1;"></div>
    <button
      type="button"
      aui-button="primary"
      [loading]="submitting"
      [disabled]="submitting"
      (click)="confirm()"
    >
      <span *ngIf="data">{{ 'update' | translate }}</span>
      <span *ngIf="!data">{{ 'create' | translate }}</span>
    </button>
    <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</form>
