<div class="page-heading" flex layout="row">
  <aui-search
    [searching]="searching"
    (keywordChange)="onSearchChanged($event)"
  ></aui-search>
  <div class="placeholder-space"></div>
</div>
<rc-loading-mask
  [loading]="!initialized"
  *ngIf="!initialized"
></rc-loading-mask>
<div class="rb-loading-mask-placeholder" *ngIf="initialized && !roles.length">
  {{ 'no_data' | translate }}
</div>
<aui-table [dataSource]="roles">
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.name }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="project">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'project' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.project_name || '-' }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="created_at">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'created_at' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.created_at | rcFormatUtcStr }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="action">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'action' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <ng-container *ngIf="!isUserView">
        <button
          type="button"
          aui-button="primary"
          [square]="true"
          size="mini"
          (click)="deleteRole(item, $index)"
          *ngIf="buttonDisplayExpr(item, 'delete')"
          [auiTooltip]="'delete' | translate"
          auiTooltipPosition="top start"
        >
          <aui-icon icon="basic:trash"></aui-icon>
        </button>
      </ng-container>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row
    *auiTableHeaderRowDef="['name', 'project', 'created_at', 'action']"
  ></aui-table-header-row>
  <aui-table-row
    *auiTableRowDef="
      let row;
      columns: ['name', 'project', 'created_at', 'action']
    "
  ></aui-table-row>
</aui-table>
<aui-paginator
  [(currentPage)]="pagination.page"
  [(pageSize)]="pagination.page_size"
  [total]="pagination.count"
  (currentPageChange)="pageNoChange($event)"
></aui-paginator>
<ng-template #popoverTemplate>
  <div
    class="rb-popover-label-list-wrap"
    [rcLoadingMask]="popoverConfig.loading"
  >
    <div *ngIf="!popoverConfig.loading && !popoverConfig.list.length">
      <span>{{ popoverConfig.noDataText }}</span>
    </div>
    <div *ngIf="popoverConfig.list.length > 0" class="rb-popover-label-list">
      <div
        class="rb-popover-label-item"
        *ngFor="let item of popoverConfig.list"
      >
        <span>{{ item.user }}</span>
        <aui-icon
          *ngIf="buttonDisplayExpr(popoverConfig.role, 'revoke')"
          class="rb-popover-close"
          (click)="deleteUserOfRole(item.user)"
          icon="close_8"
        ></aui-icon>
      </div>
    </div>
  </div>
</ng-template>
