@import 'var';
::ng-deep {
  .aui-dialog__header {
    height: auto;
  }

  .aui-dialog__content {
    padding: 0 24px !important;
  }
}
.alo-service-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 16px;
}

.alo-service-card {
  padding: 9px 16px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 0 1px $color-primary, 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  }

  &.selected {
    box-shadow: 0 0 0 1px #009ce3, 0 0 2px 0 rgba(0, 0, 0, 0.24);
  }

  &.no-hover {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24);
  }

  .icon-stack {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    position: relative;
    display: flex;
    align-items: center;

    .type-icon {
      width: 100%;
    }

    .enterprise-mark {
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      right: 2px;
      top: 50%;
      transform: translateY(4px);
    }

    .shallow-mark {
      font-size: 12px;
      color: $color-primary;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 16px;
      height: 16px;
      right: 2px;
      top: 50%;
      transform: translateY(4px);
      background-color: white;
    }
  }

  .title {
    max-width: 140px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .description {
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tool-type {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 8px;
    height: 20px;
    border-radius: 2px;
    background-color: #fafafa;
    text-align: center;
    font-size: 12px;
    color: #666666;
  }

  .selected-mark {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0;
    color: $color-primary;

    ::ng-deep.aui-icon {
      width: 24px;
      height: 24px;
    }
  }
}

.manager-card {
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24);
  padding: 16px 20px;
  margin-top: 16px;
  .card-header {
    display: flex;
    border-bottom: 1px solid #ededed;
    margin-bottom: 19px;
    padding-bottom: 13.6px;
    .type-icon {
      width: 40px;
      height: 34px;
    }
    .title {
      font-size: 16px;
      color: #666666;
      line-height: 34px;
    }
    .tool-type {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 8px;
      height: 20px;
      border-radius: 2px;
      background-color: #fafafa;
      text-align: center;
      font-size: 12px;
      color: #666666;
    }
  }
  .add-repo-card {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px dashed #ededed;
    color: #009ce3;
    height: 66px;
    &:hover {
      border-color: #009ce3;
      background-color: #f2fafe;
    }
    span {
      margin-left: 5px;
    }
  }
}
