<div class="alo-service-list">
  <div
    *ngFor="let service of normalServices; trackBy: trackByName"
    class="alo-service-card"
    (click)="cardClickHandler(service)"
    [ngClass]="{ selected: selectedTool?.name === service?.name }"
  >
    <ng-container
      *ngTemplateOutlet="toolCardTemp; context: { service: service }"
    ></ng-container>
  </div>
</div>

<ng-container *ngFor="let artifactService of (artifactServices | keyvalue)">
  <div class="manager-card">
    <div class="card-header">
      <img class="type-icon" [src]="'/static/images/tool-chain/nexus.svg'" />
      <div class="title">{{ artifactService.key }}</div>
      <div class="tool-type">
        <span>{{ 'tool_chain_artifact_registry_manager' | translate }}</span>
      </div>
    </div>
    <div class="alo-service-list">
      <div
        *ngFor="let service of artifactService.value"
        class="alo-service-card"
        (click)="cardClickHandler(service)"
        [ngClass]="{ selected: selectedTool?.name === service?.name }"
      >
        <ng-container
          *ngTemplateOutlet="toolCardTemp; context: { service: service }"
        ></ng-container>
      </div>
      <div
        class="add-repo-card"
        (click)="addRepo(artifactService.key, 'ArtifactRegistryManager')"
        *ngIf="showAddRepo(artifactService.key, 'ArtifactRegistryManager')"
      >
        <aui-icon icon="basic:add_circle"></aui-icon>
        <span>{{ 'tool_chain_add_repository' | translate }}</span>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #toolCardTemp let-service="service">
  <div class="tool-type">
    <span>{{ 'tool_chain_' + snakeCase(service.toolType) | translate }}</span>
  </div>
  <div class="icon-stack">
    <img
      class="type-icon"
      [src]="'/static/images/tool-chain/' + service.type.toLowerCase() + '.svg'"
    />
    <img
      *ngIf="service.enterprise"
      class="enterprise-mark"
      [src]="enterpriseIcon$ | async"
    />
  </div>
  <div>
    <div class="title" [title]="service.name">{{ service.name }}</div>
    <div class="description">{{ service.visitHost }}</div>
  </div>
  <aui-icon
    *ngIf="selectedTool?.name === service?.name"
    class="selected-mark"
    icon="check_triangle_s"
  ></aui-icon>
</ng-template>
