/* You can add global styles to this file, and also import other style files */
a {
  color: #009ce3;
  cursor: pointer;
  text-decoration: none;
}

a {
  &:hover {
    text-decoration: none;
  }
}

[role='button'] {
  cursor: pointer;
}

// FIXME: temporarily add this for compatibility
.rb-loading-mask-placeholder {
  min-height: 80px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #a1a1a1;
  flex-direction: column;
  .rb-loading-mask {
    background: transparent;
  }
}

// custom style

.aui-tooltip.rc-font-small {
  font-size: 12px;
}

.rc-secondary-title {
  font-weight: 400;
  font-size: 16px;
  color: #333;
  margin-bottom: 16px;
  border-left: 4px solid #009ce3;
  padding-left: 8px;
}
