<rc-loading-mask
  *ngIf="!initialized"
  [loading]="!initialized"
></rc-loading-mask>

<ng-container *ngIf="initialized">
  <rc-pod-controller-monitor-chart
    *ngIf="podController"
    [podController]="podController"
    [baseParams]="baseParams"
  ></rc-pod-controller-monitor-chart>

  <div class="rb-loading-mask-placeholder" *ngIf="!podController">
    {{ 'no_data' | translate }}
  </div>
</ng-container>
