<aui-dialog-header>{{ 'tool_chain_add_secret' | translate }}</aui-dialog-header>
<aui-dialog-content>
  <div>
    <form
      #form="ngForm"
      auiForm
      [auiFormEmptyAddon]="true"
      [auiFormLabelWidth]="'80px'"
    >
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tool_chain_auth_type' | translate }}</label>
        <aui-radio-group
          auiFormItemControl
          name="secretType"
          [(ngModel)]="formData.secretType"
          (ngModelChange)="resetSecret()"
        >
          <aui-radio-button
            *ngIf="supportedSecretType(secretTypes.BasicAuth)"
            [value]="secretTypes.BasicAuth"
          >
            {{ 'secret_username_password' | translate }}
          </aui-radio-button>
          <aui-radio-button
            *ngIf="supportedSecretType(secretTypes.OAuth2)"
            [value]="secretTypes.OAuth2"
          >
            {{ 'tool_chain_oauth2' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel>{{ 'tool_chain_secrets' | translate }}</label>
        <aui-select
          auiFormItemControl
          name="secret"
          #secret="ngModel"
          [(ngModel)]="formData.secret.name"
          filterable
          required
          class="secret-group"
          [placeholder]="'tool_chain_please_select_secret' | translate"
        >
          <aui-option-group>
            <aui-option
              *ngFor="let item of (secrets$ | async)"
              [value]="item.name"
              [label]="item.name"
              (click)="secretToValue(item)"
            >
              <span>{{ item.name }}</span>
              <span
                class="secret-group__display-name"
                *ngIf="!!item.displayName"
              >
                ({{ item.displayName }})
              </span>
            </aui-option>
          </aui-option-group>
          <aui-option-placeholder>
            {{ 'tool_chain_no_available_secrets' | translate }}
          </aui-option-placeholder>
        </aui-select>
        <button
          aui-button
          type="button"
          class="add-secret"
          (click)="addSecret()"
        >
          {{ 'tool_chain_add_secret' | translate }}
        </button>
        <div
          auiFormItemError
          *ngIf="formData.useSecret && secret.errors?.required"
        >
          {{ 'required' | translate }}
        </div>
      </aui-form-item>
    </form>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      (click)="addCredential()"
      [loading]="loading"
      [disabled]="loading"
    >
      {{ 'tool_chain_add' | translate }}
    </button>
    <button aui-button [auiDialogClose]="null" [disabled]="loading">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>
