<div class="detail-content">
  <div class="detail-item">
    <label>{{ 'name' | translate }}</label>
    <div>{{ alarm.name }}</div>
  </div>
  <div class="detail-item">
    <label>{{ 'alarm_level' | translate }}</label>
    <div>{{ alarm.labels?.severity }}</div>
  </div>
</div>
<div class="detail-content">
  <div class="detail-item">
    <label>{{ 'resource' | translate }}</label>
    <div>
      {{ alarm.type | translate }}:
      <span *ngIf="alarm.metric_tooltip === '.*'">
        {{ 'all_nodes' | translate }}
      </span>
      <span *ngIf="alarm.metric_tooltip !== '.*'">
        {{ alarm.metric_tooltip }}
      </span>
    </div>
  </div>
  <div
    class="detail-item"
    *ngIf="alarm.metric_name !== 'workload.log.keyword.count'"
  >
    <label>{{ 'alarm_wait_time' | translate }}</label>
    <div>{{ alarm.wait / 60 }}{{ 'minutes' | translate }}</div>
  </div>
  <div
    class="detail-item"
    *ngIf="alarm.metric_name === 'workload.log.keyword.count'"
  >
    <label>{{ 'monitor_period' | translate }}</label>
    <div>
      {{ alarm.metric.queries[0].range / 60 }}{{ 'minutes' | translate }}
    </div>
  </div>
</div>
<div class="detail-content">
  <div class="detail-item">
    <label>{{ 'alarm_type' | translate }}</label>
    <div [ngSwitch]="alarm.metric_name">
      <ng-template ngSwitchCase="custom">
        {{ 'metric_custom' | translate }}
      </ng-template>
      <ng-template ngSwitchCase="workload.log.keyword.count">
        {{ 'log_alarm' | translate }}
      </ng-template>
      <ng-template ngSwitchDefault>
        {{ 'metric_alarm' | translate }}
      </ng-template>
    </div>
  </div>
  <div class="detail-item">
    <label>{{ 'status' | translate }}</label>
    <rc-status-badge [status]="alarm.state"></rc-status-badge>
  </div>
</div>
<div class="detail-content">
  <div
    class="detail-item"
    *ngIf="alarm.metric_name !== 'workload.log.keyword.count'"
  >
    <label>{{ 'metric' | translate }}</label>
    <div *ngIf="alarm.metric_name !== 'custom'">
      {{ alarm.metric_name }}
    </div>
    <div *ngIf="alarm.metric_name === 'custom'" [auiTooltip]="alarm.expr">
      {{ alarm.expr }}
    </div>
  </div>
  <div
    class="detail-item"
    *ngIf="alarm.metric_name === 'workload.log.keyword.count'"
  >
    <label>{{ 'log_content' | translate }}</label>
    <div>{{ alarm.query | rcFieldNotAvailable }}</div>
  </div>
  <div class="detail-item">
    <label>{{ 'created_at' | translate }}</label>
    <div>{{ alarm.created_at | rcFormatUtcStr }}</div>
  </div>
</div>
<div class="detail-content">
  <div class="detail-item">
    <label>{{ 'alarm_threshold' | translate }}</label>
    <div>
      <span *ngIf="alarm.metric_name === 'workload.log.keyword.count'">
        {{ 'log_count' | translate }}
      </span>
      {{ alarm.compare }} {{ getThreshold(alarm) | number: '1.0-4' }} {{
      getUnit(alarm) | translate }}
      <span *ngIf="alarm.metric_name === 'workload.log.keyword.count'">
        {{ 'items' | translate }}
      </span>
    </div>
  </div>
  <div class="detail-item">
    <label>{{ 'updated_at' | translate }}</label>
    <div>{{ alarm.updated_at | rcFormatUtcStr }}</div>
  </div>
</div>
<div
  class="detail-content"
  *ngIf="alarm.metric_name !== 'workload.log.keyword.count' && alarm.metric_name !== 'custom'"
>
  <div class="detail-item" *ngIf="alarm.metric.queries[0] as query">
    <label>{{ 'data_type' | translate }}</label>
    <span *ngIf="!query.aggregator">
      {{ 'origin_value' | translate }}
    </span>
    <span *ngIf="query.aggregator">
      {{ 'metric_value' | translate }} （ {{ 'alarm_time' | translate }}：{{
      query.range / 60 }} {{ 'minutes' | translate }}；{{ 'monitor_aggregator' |
      translate }}： {{ 'aggregator_' + query.aggregator | translate }} ）
    </span>
  </div>
</div>
