:host {
  aui-input-group {
    width: 100%;
  }
  .more-config {
    &--title {
      display: flex;
      cursor: pointer;
      div {
        margin-left: 4px;
      }
    }
  }
}

::ng-deep .cluster-select-option {
  .aui-option--medium {
    height: auto;
  }
  &__desc {
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    color: #999;
  }
}
