<form #form="ngForm" auiForm auiFormLabelWidth="150px">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <aui-input-group>
      <span auiInputAddonBefore>{{ namePrefix }}</span>
      <input
        aui-input
        auiFormItemControl
        name="name"
        [(ngModel)]="formModel.name"
        required
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]
      />
    </aui-input-group>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'region_belonged' | translate }}</label>
    <aui-select
      auiFormItemControl
      name="cluster"
      [(ngModel)]="formModel.cluster"
      (valueChange)="setConfig()"
      required
      [rcErrorsTooltip]
      [rcErrorsTooltipMapper]
    >
      <aui-option
        *ngFor="let cluster of filteredClusters"
        class="cluster-select-option"
        [label]="cluster.display_name"
        [value]="cluster"
      >
        <div>
          <aui-icon
            *ngIf="cluster?.regions"
            style="margin-right:3px"
            icon="basic:sitemap_s"
            [style.color]="cluster?.flag"
          ></aui-icon>
          {{ cluster.display_name }}
        </div>
        <div class="cluster-select-option__desc">
          {{ cluster.quotaDisplay }}
        </div>
      </aui-option>
    </aui-select>
    <div auiFormItemHint *ngIf="formModel.cluster?.regions">
      {{ 'create_namespace_tip1' | translate }}
    </div>
  </aui-form-item>

  <ng-container *ngIf="formModel.cluster?.regions">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'quota_setting_way' | translate }}</label>
      <aui-checkbox
        auiFormItemControl
        name="useSameConfig"
        (valueChange)="setConfig()"
        [(ngModel)]="formModel.useSameConfig"
      >
        {{ 'create_namespace_tip3' | translate }}
      </aui-checkbox>
    </aui-form-item>
  </ng-container>

  <ng-container *ngIf="formModel.cluster">
    <ng-container *ngFor="let item of formModel.config; index as i">
      <div (click)="folding[i] = !folding[i]" class="more-config--title">
        <aui-icon *ngIf="folding[i]" icon="angle_right"></aui-icon>
        <aui-icon *ngIf="!folding[i]" icon="angle_down"></aui-icon>
        <div>{{ item.clusterDisplayName | translate }}</div>
      </div>
      <ng-container *ngIf="!folding[i]">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'labels' | translate }}</label>
          <rc-key-value-form-table
            auiFormItemControl
            name="labels"
            [(ngModel)]="item.labels"
          ></rc-key-value-form-table>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'k8s_annotation' | translate }}</label>
          <rc-key-value-form-table
            auiFormItemControl
            name="annotations"
            [(ngModel)]="item.annotations"
          ></rc-key-value-form-table>
        </aui-form-item>
      </ng-container>
    </ng-container>
  </ng-container>
</form>
