<rc-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
>
  <ng-container
    *rcArrayFormTableRow="let control; let index = index"
    [formGroup]="control"
  >
    <td class="service_group__item">
      <aui-select formControlName="name" rcErrorsTooltip>
        <aui-option *ngFor="let name of serviceNameList" [value]="name">
          {{ name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>
    <td>
      <aui-input-group style="flex:1">
        <span auiInputAddonAfter>
          {{ getWeightsPercent(control.get('weight').value) }}
        </span>
        <input
          aui-input
          type="number"
          rcErrorsTooltip
          formControlName="weight"
        />
      </aui-input-group>
    </td>
  </ng-container>
  <ng-container *rcArrayFormTableFooter>
    <button
      aui-button="primary"
      type="button"
      [disabled]="disableAddBtn()"
      class="add-button"
      size="mini"
      [plain]="true"
      (click)="add()"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add' | translate }}
    </button>
  </ng-container>
</rc-array-form-table>
