<aui-dialog-header>
  {{ 'update' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <rc-tool-chain-subscribe-edit
    *ngIf="tool"
    [mode]="'update'"
    [data]="model"
    [tool]="tool"
    [supportedSecretTypes]="supportTypesMap[tool.toolItemType]"
    #editor="rc-tool-chain-subscribe-edit"
    (saved)="afterSaved($event)"
  ></rc-tool-chain-subscribe-edit>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="editor.submit()">
    {{ 'update' | translate }}
  </button>
  <button aui-button type="button" auiDialogClose>
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
