<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <rc-pod-controller-form
    auiFormItemControl
    (blur)="onBlur()"
    [project]="project"
    [cluster]="cluster"
    [namespace]="namespace"
    [appName]="appName"
    [hasPrefix]="hasPrefix"
    [isUpdate]="isUpdate"
    formControlName="controller"
  >
    <rc-autoscaler-form
      [hidden]="shouldHideHPA"
      auiFormItemControl
      (blur)="onBlur()"
      formControlName="autoscaler"
    ></rc-autoscaler-form>
  </rc-pod-controller-form>

  <!-- <pre>component form: {{form.status}}</pre> -->
</form>
