<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'image' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'image_repository' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div *ngIf="!registries" style="height:80px" [rcLoadingMask]="true"></div>

<aui-tab-group
  *ngIf="registries"
  [selectedIndex]="selectedIndex"
  (selectedIndexChange)="onSelectedIndexChange($event)"
>
  <aui-tab *ngFor="let registry of registries; trackBy: uuid">
    <ng-container *auiTabLabel>
      <span
        class="fa fa-lock"
        style="margin-right:4px;"
        [hidden]="registry.is_public"
      ></span>
      <span [title]="registry.display_name || registry.name">
        {{ registry.display_name || registry.name }}
      </span>
    </ng-container>
    <ng-container *auiTabContent>
      <rc-image-repository-projects
        [registry]="registry"
      ></rc-image-repository-projects>
    </ng-container>
  </aui-tab>
</aui-tab-group>
