<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'config' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="back()">
        {{ 'secret' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ name }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<div *ngIf="empty && !loading" class="rb-loading-mask-placeholder">
  <div *ngIf="!loadError">
    {{ 'have_no_secret' | translate }}
  </div>
  <div *ngIf="loadError">
    {{ 'network_issue' | translate }}
  </div>
  <button
    *ngIf="loadError"
    aui-button="primary"
    style="margin-top: 12px;"
    (click)="refetch()"
  >
    {{ 'refresh' | translate }}
  </button>
</div>
<aui-card *ngIf="secretData">
  <div auiCardHeader>
    <h3>{{ secretData.kubernetes.metadata.name }}</h3>
    <div fxFlex></div>
    <div class="detail-buttons">
      <button
        aui-button
        *ngIf="secretUtilities.showUpdate(secretData)"
        (click)="updateSecret()"
      >
        {{ 'update_secret' | translate }}
      </button>
      <button
        aui-button
        *ngIf="secretUtilities.showDelete(secretData)"
        (click)="deleteSecret()"
      >
        {{ 'delete_secret' | translate }}
      </button>
    </div>
  </div>
  <div class="rc-detail-container">
    <div class="detail-wrapper">
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'cluster' | translate }}</label>
          <div>
            <div class="tags-container">
              <span class="tags-container__item">{{ clusterDisplayName }}</span>
              <ng-container *ngFor="let item of mirrorSecrets">
                <span class="tags-container__divider">;</span>
                <a
                  class="tags-container__item"
                  (click)="redirectToMirrorSecret(item)"
                  href="javascript:void(0)"
                >
                  {{ item.cluster_display_name }}
                </a>
              </ng-container>
            </div>
            <div
              class="tags-toggle"
              *ngIf="mirrorSecrets && mirrorSecrets.length > 1"
              [auiDropdown]="clustersMenu"
            >
              <div class="tags-toggle__label">...</div>
            </div>
            <aui-menu #clustersMenu size="small">
              <aui-menu-item
                *ngFor="let item of mirrorSecrets"
                (click)="redirectToMirrorSecret(item)"
              >
                {{ item.cluster_display_name }}
              </aui-menu-item>
            </aui-menu>
          </div>
        </div>
        <div class="detail-item">
          <label>{{ 'created_at' | translate }}</label>
          <div>
            {{ secretData.kubernetes.metadata.creationTimestamp | rcFormatUtcStr
            }}
          </div>
        </div>
        <div class="detail-item">
          <label>{{ 'type' | translate }}</label>
          <div
            *ngIf="secretData.kubernetes.type"
            [title]="secretData.kubernetes.type"
          >
            {{ secretData.kubernetes.type.replace('kubernetes.io/', '') }}
          </div>
        </div>
        <div class="detail-item">
          <label>{{ 'description' | translate }}</label>
          <div
            *ngIf="secretData.kubernetes.metadata.annotations"
            [title]="description"
          >
            {{ description || '-' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</aui-card>

<aui-card class="data" *ngIf="secretData">
  <div auiCardHeader>{{ 'data' | translate }}</div>
  <rc-secret-data-viewer
    [data]="secretData.kubernetes.data"
  ></rc-secret-data-viewer>
</aui-card>
