<aui-card *ngIf="data">
  <div auiCardHeader>
    {{ 'rule' | translate }}
  </div>
  <div class="rc-detail-container">
    <div class="detail-wrapper">
      <div class="detail-content">
        <div auiCardContent style="flex:1;">
          <aui-table style="flex:1" [dataSource]="transformData">
            <aui-table-header-row
              *auiTableHeaderRowDef="columns"
            ></aui-table-header-row>
            <aui-table-row
              *auiTableRowDef="let row; columns: columns"
            ></aui-table-row>

            <ng-container auiTableColumnDef="host">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'address' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let rowData">
                <div class="rc-resource-name-cell">
                  <a
                    href="javascript:void(0)"
                    target="view_window"
                    [href]="'http://' + rowData.host"
                  >
                    {{ rowData.host | rcFieldNotAvailable }}
                  </a>
                </div>
              </aui-table-cell>
            </ng-container>

            <ng-container auiTableColumnDef="service">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'kube_service' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let rowData">
                <div class="rc-lines">
                  <div class="rc-line">
                    {{ rowData.service | rcFieldNotAvailable }}
                  </div>
                </div>
              </aui-table-cell>
            </ng-container>

            <ng-container auiTableColumnDef="port">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'port' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let rowData">
                <div class="rc-resource-name-cell">
                  {{ rowData.port | rcFieldNotAvailable }}
                </div>
              </aui-table-cell>
            </ng-container>
          </aui-table>
          <rc-zero-state
            *ngIf="!(data && data?.length > 0)"
            [zeroState]="true"
            resourceName="rule"
          ></rc-zero-state>
        </div>
      </div>
    </div>
  </div>
</aui-card>
