<ng-container *ngIf="ampUrl">
  <a
    [title]="'api_market' | translate"
    class="amp-entry-link"
    aui-button
    (click)="toAmp()"
  >
    <aui-icon icon="basic:api_market" color="#fff"></aui-icon>
  </a>
</ng-container>
