@import 'var';
@import 'mixins';

$label-width: 142px;
$keys-container-width: 150px;

:host {
  display: flex;
  position: relative;
  max-height: calc(100vh - 210px);
}

.secret-data-keys {
  overflow: auto;
  padding-top: 20px;

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    cursor: pointer;

    &-dot {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 4px;
      margin-right: 4px;
      background-color: $color-primary;
      flex-shrink: 0;
    }

    &-key {
      @include text-overflow();
      width: $label-width;
      color: #666;
    }

    &:hover {
      color: $color-primary;
    }

    &.isActive &-key {
      font-weight: bold;
      color: #333;
    }
  }
}

.secret-data-values {
  overflow: auto;
  position: relative;
  margin-left: 30px;
  flex: 1;
}

.secret-data-section {
  padding-right: 20px;
  &:not(:last-child) {
    border-bottom: $default-border;
  }
  &:last-child {
    // Make sure scrolling works properly.
    min-height: calc(100vh - 210px);
  }
  &__header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;

    svg {
      fill: $color-primary;
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }

    &:hover {
      color: $color-primary;
    }
  }
  &__content {
    word-break: break-all;
    white-space: pre-wrap;
    color: #333;
    padding-bottom: 20px;
    padding-left: 24px;
  }
}

.secret-data-no-data {
  padding-top: 12px;
  font-size: 16px;
  font-weight: 500;
  color: $color-info;
}
