<div
  class="pipeline-info"
  *rcAsyncData="
    let syncData;
    let loading = loading;
    handler: fetchData;
    pullIn: syncing ? 2000 : 0
  "
>
  <aui-card>
    <div auiCardHeader class="header">
      <span>
        {{ 'pipeline_custom_template' | translate }}
      </span>
      <div>
        <rc-menu-trigger [menu]="actionsMenu"></rc-menu-trigger>
        <aui-menu #actionsMenu>
          <aui-menu-item
            *ngIf="!syncing"
            [disabled]="!templateSync"
            (click)="sync()"
          >
            {{ 'pipeline_template_repository_sync' | translate }}
          </aui-menu-item>
          <aui-menu-item *ngIf="syncing" [disabled]="true">
            {{ 'pipeline_template_repository_syncing' | translate }}
          </aui-menu-item>
          <aui-menu-item (click)="setting()">
            {{ 'pipeline_template_repository_setting' | translate }}
          </aui-menu-item>
        </aui-menu>
      </div>
    </div>
    <div class="import-hint" *ngIf="!loading && !syncData">
      <aui-icon icon="diablo:template_file_line" size="40,40"></aui-icon>
      <div>
        {{ 'pipeline_template_empty_hint_prefix' | translate }}
        <button aui-button="text" size="small" (click)="setting()">
          {{ 'pipeline_template_repository_setting' | translate }}
        </button>
        {{ 'pipeline_template_empty_hint_suffix' | translate }}
      </div>
    </div>
    <div>
      <div class="basic-info" *ngIf="syncData">
        <div class="basic-body">
          <div class="field">
            <label>
              {{ 'pipeline_template_address' | translate }}
            </label>
            <span>
              {{ syncData?.codeRepository?.name || syncData?.git?.uri || '-' }}
            </span>
          </div>
          <div class="field">
            <label>
              {{ 'pipeline_template_sync_start_at' | translate }}
            </label>
            <span>
              {{ syncData?.status?.startTime | rcFormatUtcStr }}
            </span>
          </div>
          <div class="field">
            <label>{{ 'pipeline_branch' | translate }}</label>
            <span>
              {{ syncData?.codeRepository?.ref || syncData?.git?.ref || '-' }}
            </span>
          </div>
          <div class="field">
            <label>{{ 'pipeline_consumed' | translate }}</label>
            <span *ngIf="templateSync?.status?.phase === 'Pending'">
              {{
                (currentDate | async) -
                  getDateTimes(syncData?.status?.startTime)
                  | rcDurationToConsumed
              }}
            </span>
            <span *ngIf="templateSync?.status?.phase !== 'Pending'">
              {{
                getDateTimes(syncData?.status?.endTime) -
                  getDateTimes(syncData?.status?.startTime)
                  | rcDurationToConsumed
              }}
            </span>
          </div>
          <div class="field">
            <label>
              {{ 'pipeline_template_repository_sync_result' | translate }}
            </label>
            <span>
              <span *ngIf="syncing">
                <aui-icon
                  class="color--pending icon-spin"
                  icon="basic:sync_circle_s"
                ></aui-icon>
                {{ 'pipeline_template_repository_syncing' | translate }}
              </span>
              <span
                *ngIf="!syncing"
                class="sync-result"
                [auiTooltip]="countDetail"
                auiTooltipTrigger="hover"
                (click)="syncReport()"
              >
                <span class="color--success">
                  <aui-icon icon="check_circle_s"></aui-icon>
                  {{ syncResultCount.success }}
                </span>
                <span class="color--failure">
                  <aui-icon icon="basic:close_circle_s"></aui-icon>
                  {{ syncResultCount.failure }}
                </span>
                <span class="color--skip">
                  <aui-icon icon="basic:minus_circle_s"></aui-icon>
                  {{ syncResultCount.skip }}
                </span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </aui-card>
</div>
<ng-template #countDetail>
  <div>
    <span class="field color--success">
      {{ syncResultCount.success }}
      {{ 'pipeline_template_sync_unit' | translate
      }}{{ 'pipeline_template_sync_result_succ' | translate }},
    </span>
    <span class="field color--failure">
      {{ syncResultCount.failure }}
      {{ 'pipeline_template_sync_unit' | translate
      }}{{ 'pipeline_template_sync_result_fail' | translate }},
    </span>
    <span class="field color--skip">
      {{ syncResultCount.skip }}
      {{ 'pipeline_template_sync_unit' | translate
      }}{{ 'pipeline_template_sync_result_skip' | translate }},
    </span>
    <span>
      {{ 'pipeline_click_to_view_detail' | translate }}
    </span>
  </div>
</ng-template>
