@import 'var';
:host {
  display: block;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
  margin: 4px;
}
h5,
ul {
  padding: 0;
  margin: 0;
}
::ng-deep .aui-search__clear {
  right: 5px;
}

.namespace-label {
  padding: 0px 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;

  &--active {
    .namespace-label__title {
      background-color: #333;
      border-radius: 2px;
    }
  }
  &__text {
    flex: 1;
    min-width: 0;
  }
  &__title {
    line-height: 36px;
    display: flex;
    .namespace-title {
      flex: 1;
      padding: 4px;
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 26px;
    }
    &__icon {
      margin: 0px 7px;
    }
    &:hover {
      background-color: #333;
      border-radius: 2px;
    }
  }
  &__icon {
    width: 24px;
    float: left;
    line-height: 36px;
    color: #009ce3;
    margin-left: 8px;
    padding: 0px 4px;
    &:hover {
      background-color: #333;
      border-radius: 2px;
    }
  }
}

.namespace-list {
  margin-top: -4px;
  margin-left: 37px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  width: 280px;
  color: #333;
  &--active {
    .namespace-visible {
      display: block;
    }
  }
  &__header {
    height: 32px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    margin-bottom: 8px;
    font-size: 12px;
  }
  &__filter {
    padding: 8px 8px 0 8px;
    input {
      flex: 1;
    }
  }
  &__content {
    padding: 0 8px;
    max-height: 360px;
    overflow-y: auto;
    &__empty {
      color: #999;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--border {
      border-bottom: 1px solid #eee;
    }
  }
  &__border-bottom {
    border-bottom: 1px solid #eee;
  }
  &__footer {
    border-top: 1px solid #eee;
    padding: 4px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa {
      margin-right: 4px;
    }
    a {
      padding: 0px 12px;
      color: #009ce3;
      line-height: 28px;
      display: flex;
      div {
        margin-left: 6px;
      }
      &:hover {
        border-radius: 2px;
        background-color: #f2fafe;
      }
    }
  }
  &__group {
    padding: 8px 0;
    h5 {
      height: 24px;
      line-height: 24px;
      color: #999;
      font-size: 12px;
      font-weight: 500;
    }
    ul {
      list-style: none;
    }
  }

  &__item {
    white-space: nowrap;
    display: flex;
    position: relative;
    &.active {
      .namespace-list__item__icon {
        visibility: visible;
      }
      .namespace-visible {
        display: block;
      }
      .namespace-list__item__text {
        background-color: #e5f5fc;
        color: #009ce3;
        border-radius: 2px;
      }
    }
    &:hover:not(.active) {
      .namespace-list__item__text {
        background-color: #f2fafe;
        border-radius: 2px;
      }
      .namespace-visible {
        display: block;
      }
      .namespace-list__item__icon {
        visibility: visible;
      }
    }
    &__text {
      cursor: pointer;
      min-width: 0;
      height: 28px;
      line-height: 28px;
      padding-left: 12px;
      display: flex;
      div {
        width: 200px;
        overflow: hidden;
        padding-right: 6px;
        text-overflow: ellipsis;
      }
      &__textdetial {
        display: none;
        color: #009ce3;
        padding: 0px 12px 0px 6px;
        font-size: 12px;
        &:hover {
          text-decoration: underline;
          color: #009ce3;
        }
      }
    }

    &__icon {
      visibility: hidden;
      margin-left: 4px;
      height: 28px;
      width: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #999;
      font-size: 16px;
      &:hover {
        color: #079fe3;
      }
    }
  }
}
