<div
  class="namespace-label"
  #namespaceTooltip
  *ngIf="(namespaces$ | async)"
  [ngClass]="{
    'namespace-label--active': active,
    'namespace-label--loading': !!(namespacesLength$ | async)
  }"
  [auiTooltip]="namespaceListTemplate"
  auiTooltipType="plain"
  auiTooltipPosition="bottom start"
  auiTooltipTrigger="click"
  (auiTooltipShow)="active = true"
  (auiTooltipHide)="active = false"
>
  <div class="namespace-label__text">
    <div
      class="namespace-label__icon"
      [title]="'namespace_detail' | translate"
      (click)="showNamespaceDetail(selectedNamespace, $event)"
    >
      <aui-icon icon="basic:namespace_s"></aui-icon>
    </div>
    <div
      class="namespace-label__title"
      [title]="
        ('namespace' | translate) +
        ': ' +
        selectedNamespace?.name +
        ' (' +
        selectedNamespace?.cluster_display_name +
        ')'
      "
    >
      <div class="namespace-title">{{ selectedNamespace?.name }}</div>
      <aui-icon
        icon="caret_down_s"
        class="namespace-label__title__icon"
      ></aui-icon>
    </div>
  </div>
</div>

<ng-template #namespaceListTemplate>
  <div class="namespace-list">
    <div class="namespace-list__filter">
      <aui-search
        [searchButton]="false"
        size="small"
        placeholder="{{ 'namespace' | translate }}/{{ 'cluster' | translate }}"
        (keywordChange)="search$.next($event)"
      ></aui-search>
    </div>
    <div class="namespace-list__content">
      <div
        *ngIf="!(namespaces$ | async)?.length"
        class="namespace-list__content__empty"
      >
        {{ 'no_data' | translate }}
      </div>
      <div
        *ngFor="
          let group of (namespaces$ | async);
          let i = index;
          trackBy: trackByIndex
        "
        [ngClass]="{
          'namespace-list__content--border':
            i + 1 !== (namespaces$ | async)?.length
        }"
        class="namespace-list__group"
      >
        <h5>{{ group.cluster_display_name }}</h5>
        <ul>
          <li
            *ngFor="let namespace of group.namespaces; trackBy: trackByIndex"
            class="namespace-list__item"
            (click)="onNamespaceSelected(namespace)"
            [class.active]="namespace.uuid === selectedNamespace?.uuid"
          >
            <span
              class="namespace-list__item__text"
              [title]="namespace.name"
              style="flex:3"
            >
              <div>{{ namespace.name }}</div>
              <a
                class="namespace-list__item__text__textdetial namespace-visible"
                (click)="showNamespaceDetail(namespace, $event)"
              >
                {{ 'detail' | translate }}
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="namespace-list__footer">
      <a
        [routerLink]="[
          '/console/user/project',
          { project: currentProject?.name }
        ]"
      >
        <aui-icon icon="basic:arrow_left_s"></aui-icon>
        <div>{{ 'project_overview' | translate }}</div>
      </a>
    </div>
  </div>
</ng-template>
