<div class="form-container">
  <div class="form-header">{{ 'container_platform' | translate }}</div>
  <aui-inline-alert
    class="login-error-msg"
    type="error"
    *ngIf="errorMsg"
    [content]="errorMsg"
  ></aui-inline-alert>
  <form (ngSubmit)="login()">
    <rld-form-control-fragment
      *ngFor="let fragment of formControlFragments"
      [class.hidden]="fragment.hidden"
      [formControlFragment]="fragment"
    >
      <div *ngIf="fragment.type === 'password'" #content>
        <a class="forget-password" target="_blank" routerLink="forget-password">
          {{ 'forget_password' | translate }}?
        </a>
      </div>
    </rld-form-control-fragment>
    <button
      aui-button="primary"
      size="large"
      [loading]="submitting"
      [disabled]="loginDisabled"
    >
      {{ 'login' | translate }}
    </button>
  </form>
</div>

<ng-template #template>
  <div class="pure-password-login-dialog">
    <aui-dialog-header [closeable]="false">
      {{ 'first_login_modify_password' | translate }}
    </aui-dialog-header>
    <div class="pure-password-login-dialog__alert">
      <aui-inline-alert
        [content]="'password_login_reset_password_tip' | translate"
        type="warning"
      ></aui-inline-alert>
    </div>
    <aui-dialog-content>
      <form
        #pwdform="ngForm"
        (ngSubmit)="
          saveNewPassword(formModel.oldPassword, formModel.newPassword)
        "
        auiFormLabelPosition="top"
        auiForm
      >
        <aui-form-item>
          <label auiFormItemLabel>{{ 'old_password' | translate }}</label>
          <input
            auiFormItemControl
            autocomplete="off"
            [type]="pwdVisible ? 'text' : 'password'"
            aui-input
            size="large"
            name="old_password"
            #oldPassword="ngModel"
            [(ngModel)]="formModel.oldPassword"
            required
          />
          <div
            auiFormItemAddon
            style="cursor: pointer;"
            (click)="pwdVisible = !pwdVisible"
          >
            <aui-icon *ngIf="pwdVisible" icon="basic:eye_s"></aui-icon>
            <aui-icon *ngIf="!pwdVisible" icon="basic:eye_slash_s"></aui-icon>
          </div>
          <div auiFormItemError *ngIf="oldPassword.errors?.required">
            {{ 'required' | translate }}
          </div>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'new_password' | translate }}</label>
          <input
            auiFormItemControl
            autocomplete="off"
            [type]="pwdVisible ? 'text' : 'password'"
            aui-input
            size="large"
            name="password"
            [pattern]="cPwdPattern"
            #password="ngModel"
            minlength="8"
            maxlength="64"
            [(ngModel)]="formModel.newPassword"
            required
          />
          <div auiFormItemAddon></div>
          <div auiFormItemError *ngIf="password.errors?.required">
            {{ 'required' | translate }}
          </div>
          <div auiFormItemError *ngIf="password.errors?.pattern">
            {{ 'passowrd_pattern_type_a_error' | translate }}
          </div>
          <div auiFormItemError *ngIf="password.errors?.maxlength">
            {{ 'warning_max_length' | translate: { length: 64 } }}
          </div>
          <div auiFormItemError *ngIf="password.errors?.minlength">
            {{ 'warning_min_length' | translate: { length: 8 } }}
          </div>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'new_password_confirm' | translate }}
          </label>
          <input
            auiFormItemControl
            autocomplete="off"
            [type]="pwdVisible ? 'text' : 'password'"
            aui-input
            size="large"
            name="confirm_password"
            [pattern]="cPwdPattern"
            #confirmPassword="ngModel"
            [(ngModel)]="formModel.confirmPassword"
            required
          />
          <div auiFormItemAddon></div>
          <div auiFormItemError *ngIf="confirmPassword.errors?.required">
            {{ 'required' | translate }}
          </div>
          <div auiFormItemError *ngIf="confirmPassword.errors?.pattern">
            {{ 'password_not_same' | translate }}
          </div>
        </aui-form-item>
        <aui-dialog-footer>
          <div class="aui-dialog__footer">
            <button
              aui-button="primary"
              [disabled]="pwdform.invalid"
              [loading]="pwdLoading"
            >
              {{ 'save' | translate }}
            </button>
            <button aui-button [auiDialogClose]="true">
              {{ 'logout' | translate }}
            </button>
          </div>
        </aui-dialog-footer>
      </form>
    </aui-dialog-content>
  </div>
</ng-template>
