.pure-password-login-dialog {
  ::ng-deep {
    .aui-inline-alert {
      margin: 8px 0;
    }
    .aui-dialog__footer {
      padding: 20px 0;
    }
    .aui-dialog__content {
      padding: 0 24px;
      padding-top: 0 !important;
    }
    .aui-form-item {
      margin-bottom: 10px;
    }
    .aui-form-item__label {
      font-weight: normal;
    }
    .aui-form-item__error-wrapper {
      margin-top: 4px;
    }
    .pure-password-login-dialog__alert {
      padding: 0 20px;
    }
  }
}

:host {
  .form-container {
    margin: 0;
    padding-top: 40px;
    margin-bottom: 40px;
  }

  .form-header {
    margin: 0 0 20px 0;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 26px;
    color: #333;
  }
}

.login-error-msg ::ng-deep {
  .aui-inline-alert {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 0;
    padding-left: 8px;
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 32px;
    background-color: rgba(235, 98, 98, 0.2);
    color: #eb6262;
    border: none;
    .aui-inline-alert__content {
      font-size: 12px;
      white-space: initial;
      word-break: break-all;
      max-width: 260px;
    }
    aui-icon {
      font-size: 12px;
    }
  }
}

.third-party-login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  button {
    width: 100%;
    margin: 0 0 16px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  }

  button:last-child {
    color: #000;
  }
}

.other-login {
  .other-login-title {
    margin: 4px 0 12px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: #999;
  }

  .other-login-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30px;
  }

  .other-login-item {
    cursor: pointer;
    flex: 0 0 50px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    border: 1px solid #dedede;
    border-radius: 15px;

    img {
      width: 18px;
      height: 18px;
      opacity: 0.66;
    }

    &:hover {
      border-color: #009ce3;
      img {
        opacity: 1;
      }
    }
  }
}

.role-switcher {
  position: absolute;
  bottom: -32px;
  width: 296px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;

  a {
    cursor: pointer;
    text-decoration: none;
    color: #999;
    &:hover {
      color: #428bca;
    }
  }
}

button {
  width: 100%;
  margin-top: 20px;
}

a {
  cursor: pointer;
  color: #999;
  &:hover {
    color: #009ce3;
    text-decoration: underline;
  }
}
