@import 'var';
@import 'mixins';

:host {
  width: 100%;
}

.basic-info {
  position: relative;
  overflow: hidden;
  padding: 20px 30px;
  background-color: $card-background-color;
  border-radius: 5px;
  box-shadow: $gray-light-shadow;
  margin-bottom: 20px;
  > .official-container {
    position: absolute;
    left: 0;
    top: 0;
    .official {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 35px 50px 0 0;
      border-color: $button-primary-border-color transparent transparent
        transparent;
    }
    span {
      user-select: none;
      white-space: nowrap;
      transform: rotateZ(-35deg);
      color: $button-primary-text-color;
      line-height: 28px;
      text-indent: 4px;
      font-size: 12px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .fileds {
    .column {
      @extend %clearfix;
      li {
        float: left;
        list-style: none;
        color: $card-text-color;
        margin-bottom: 8px;
        .fileds-label {
          color: $card-label-color;
          margin-right: 3px;
        }
        &:first-child {
          width: 40%;
        }
      }
    }
  }
  .buttons {
    display: flex;
    position: absolute;
    right: 30px;
    top: 20px;
    > ::ng-deep button {
      margin-right: 8px;
    }
  }
  ::ng-deep {
    .rc-form-panel {
      border: none;
      border-radius: 8px 8px 0 0;
      box-shadow: $gray-light-shadow;
    }
  }
}

.constraints {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 8px;
  margin-bottom: 2px;
  background-color: $card-background-color;
  box-shadow: $gray-light-shadow;
  aui-form-item {
    min-width: 50%;
    aui-tags-input {
      width: 100%;
    }
  }
}

.fa-question-circle {
  color: $blue-6;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.content {
  border-radius: 0 0 8px 8px;
  box-shadow: $gray-light-shadow;
  background-color: $card-background-color;
  padding: 20px 40px;
  .rb-header-alt {
    margin: 0;
    padding-bottom: 20px;
  }
}
