<!-- 暂时跳转到旧org页面 -->
<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/rbac']">{{ 'rbac' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/role-template']">
        {{ 'nav_rbac_role-template' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'detail' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<ng-container *ngIf="data">
  <!-- basic-info -->
  <section class="basic-info">
    <!-- if official -->
    <div class="official-container" *ngIf="data.official">
      <img [src]="'/static/images/rbac/sys_' + lang + '.svg'" alt="sys" />
    </div>

    <h2 class="title">
      {{
        data.official && this.lang.match('en')
          ? data.display_name_en
          : data.display_name
      }}
    </h2>

    <ul class="fileds">
      <div class="column">
        <li class="type">
          <span class="fileds-label">
            {{ 'rbac_role_template_type' | translate }}:
          </span>
          {{ getRoleTypeLevel(data.level) | translate }}
        </li>
        <li class="creator">
          <span class="fileds-label">{{ 'created_by' | translate }}:</span>
          {{ data.official ? ('rbac_preset' | translate) : data.created_by }}
        </li>
      </div>
      <div class="column">
        <li class="created-at">
          <span class="fileds-label">{{ 'created_at' | translate }}:</span>
          {{ data.created_at | rcFormatUtcStr }}
        </li>
        <li class="description">
          <span class="fileds-label">{{ 'description' | translate }}:</span>
          {{ data.description }}
        </li>
      </div>
      <div class="column">
        <li class="updated-at">
          <span class="fileds-label">{{ 'updated_at' | translate }}:</span>
          {{ data.updated_at | rcFormatUtcStr }}
        </li>
        <li>
          <span class="fileds-label">
            {{ 'rbac_constraints' | translate }}:
          </span>
          <ng-container *ngFor="let constraint of constraints; last as last">
            {{ last ? constraint : constraint + '、' }}
          </ng-container>
          <ng-container *ngIf="!constraints.length">-</ng-container>
        </li>
      </div>
    </ul>

    <!-- 操作 -->
    <div class="buttons">
      <button
        [disabled]="!updateEnabled"
        aui-button="primary"
        (click)="update()"
      >
        {{ 'update' | translate }}
      </button>
      <aui-dropdown-button
        [disabled]="!createRoleEnabled"
        (buttonClick)="createRole()"
        type="primary"
        plain="true"
      >
        {{ 'rbac_create_role_use_temp' | translate }}
        <aui-menu>
          <aui-menu-item [disabled]="!createEnabled" (click)="duplicate()">
            {{ 'duplicate' | translate }}
          </aui-menu-item>
          <aui-menu-item
            [disabled]="!deleteEnabled"
            (click)="
              delete(
                data.official && this.lang.match('en')
                  ? data.display_name_en
                  : data.display_name
              )
            "
          >
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-dropdown-button>
    </div>
  </section>

  <!-- 权限内容 -->
  <section class="content">
    <div class="rb-header-alt">
      {{ 'rbac_content' | translate }}
      <a
        href="javascript:void(0);"
        [auiTooltip]="permissionTooltipTemplate"
        auiTooltipType="primary"
        auiTooltipPosition="top end"
      >
        <aui-icon icon="basic:question"></aui-icon>
        <ng-template #permissionTooltipTemplate>
          <p [innerHtml]="contentTip[lang]"></p>
        </ng-template>
      </a>
    </div>
    <!-- table -->
    <rc-permissions-table
      [ngModel]="data.permissions"
      [keepAll]="false"
      [type]="TableType.View"
      [expanded]="true"
    ></rc-permissions-table>
  </section>
</ng-container>
