<div
  [class.wrapper]="isHa"
  [class.master_node_length_error]="isHa && !(form.controls.length % 2)"
>
  <div class="wrapper__master" [formGroup]="form">
    <div
      class="content rc-array-form-table__action-col"
      *ngFor="let control of form.controls; let index = index"
      [formGroupName]="index"
    >
      <aui-input-group>
        <span auiInputAddonBefore>
          {{ 'public_network_private_ip' | translate }}
        </span>
        <input
          aui-input
          rcErrorsTooltip
          [rcErrorsTooltipMapper]="{ pattern: ipReg.tip | translate }"
          formControlName="ipaddress"
        />
      </aui-input-group>
      <div class="content__switch">
        <aui-switch formControlName="compute"></aui-switch>
        <span>{{ 'region_slave_node' | translate }}</span>
      </div>
      <aui-icon
        *ngIf="isHa"
        (click)="remove(index)"
        icon="basic:minus_circle"
        margin="right"
      ></aui-icon>
    </div>
    <span [hidden]="!isHa || form.controls.length % 2">
      {{ 'master_node_length_require_msg' | translate }}
    </span>
  </div>
  <button
    *ngIf="isHa"
    aui-button="primary"
    type="button"
    class="add-container-button"
    size="mini"
    [plain]="true"
    (click)="add()"
  >
    <aui-icon icon="basic:add_circle"></aui-icon>
    {{ 'add' | translate }}
  </button>
</div>
