:host {
  width: 100%;
  .add-container-button {
    width: 100%;
    margin-top: 10px;
    flex: 1;
    border-style: dashed;
  }

  .wrapper {
    padding: 10px;
    background-color: #f1f1f1;
  }
  .content {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 5px 0px;
    aui-input-group {
      flex: 1;
    }
    &__switch {
      margin-left: 10px;
    }
  }
  .master_node_length_error.wrapper {
    padding: 5px;
    & > .wrapper__master {
      padding: 5px;
      background-color: #fdefef;
      & > span {
        color: #eb6262;
        margin-top: 5px;
      }
    }
  }
}
