<rc-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [formGroup]="form"
  [rows]="form.controls"
>
  <!-- Input row -->
  <ng-container
    *rcArrayFormTableRow="let index = index"
    [formGroupName]="index"
  >
    <td>
      <aui-input-group>
        <span auiInputAddonBefore>
          {{ 'public_network_private_ip' | translate }}
        </span>
        <input
          aui-input
          rcErrorsTooltip
          [rcErrorsTooltipMapper]="{ pattern: ipReg.tip | translate }"
          formControlName="ipaddress"
        />
      </aui-input-group>
    </td>
  </ng-container>
</rc-array-form-table>
