<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'job' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a
        href="javascript:void(0)"
        [routerLink]="['/console/user/workspace', baseParams, 'cron_job']"
      >
        {{ 'cron_job' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ result?.kubernetes.metadata.name }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<rc-loading-mask
  class="rc-form-loading-mask"
  [loading]="!initialized"
></rc-loading-mask>
<div class="rc-detail-page-tab-container" *ngIf="initialized">
  <aui-tab-group type="line">
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'detail_info' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-cron-job-detail-info
          [data]="result"
          [cluster]="clusterName"
          [baseParams]="baseParams"
          [canUpdate]="canUpdate()"
          [canDelete]="canDelete()"
          (onUpdateSuccess)="getDetail()"
          (onUpdate)="update()"
          (onDelete)="delete()"
          (onExecuteNow)="executeNow()"
        ></rc-cron-job-detail-info>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'job_record' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-job-record-list
          [hasRerfencesJobRecord]="false"
          [labelSelector]="labelSelector"
        ></rc-job-record-list>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>
        YAML
      </ng-container>
      <ng-container *auiTabContent>
        <aui-code-editor
          name="yaml"
          [ngModel]="yaml"
          [options]="codeEditorOptions"
          [actionsConfig]="actionsConfigView"
        ></aui-code-editor>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'env' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-pod-controller-detail-env
          [podController]="result.kubernetes?.spec.jobTemplate"
          [baseParams]="baseParams"
          [canUpdate]="canUpdate()"
          (onUpdateEnv)="updateEnv($event)"
        ></rc-pod-controller-detail-env>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'event' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-cron-job-detail-event
          [data]="result"
          [cluster]="clusterName"
          [namespace]="namespaceName"
        ></rc-cron-job-detail-event>
      </ng-container>
    </aui-tab>
  </aui-tab-group>
</div>
