<svg
  style="margin-top: 12px"
  height="24"
  width="40"
  xmlns="http://www.w3.org/2000/svg"
>
  <svg:defs>
    <svg:marker
      id="trianglebackwards"
      viewBox="0 0 12 12"
      refX="2"
      refY="4"
      markerUnits="strokeWidth"
      markerWidth="8"
      markerHeight="8"
      orient="auto"
    >
      <svg:path d="M6,0 L0,4 L6,8 L4,4 L6,0" style="fill:#cccccc;"></svg:path>
    </svg:marker>
  </svg:defs>
  <svg:path
    d="M 4 12 L 40 12"
    fill="none"
    stroke="#cccccc"
    stroke-width="2"
    marker-start="url(#trianglebackwards)"
  />
</svg>
