:host {
  display: block;
  ::ng-deep {
    .aui-form-item {
      margin-bottom: 12px;
      margin-right: 24px;
    }
  }
}

.log-sources-toolbar {
  display: flex;
  flex-wrap: wrap;
  aui-select {
    width: 200px;
  }
}
