<div class="log-sources-toolbar">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'monitor_aggregator' | translate }}
    </label>

    <aui-select
      auiFormItemControl
      [(ngModel)]="selectedAggregator"
      (ngModelChange)="onSearch()"
    >
      <aui-option
        *ngFor="let aggregator of aggregators"
        [value]="aggregator.key"
        [label]="aggregator.name | translate"
      >
        {{ aggregator.name | translate }}
      </aui-option>
    </aui-select>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'monitor_period' | translate }}
    </label>

    <aui-select
      auiFormItemControl
      [(ngModel)]="selectedTimeStampOption"
      (ngModelChange)="onTimeStampOptionSelect()"
    >
      <aui-option
        *ngFor="let timeStampOption of timeStampOptions"
        [value]="timeStampOption.type"
        [label]="timeStampOption.name | translate"
      >
        {{ timeStampOption.name | translate }}
      </aui-option>
    </aui-select>

    <div
      class="rc-time-select"
      *ngIf="selectedTimeStampOption === 'custom_time_range'"
    >
      <label>{{ 'from' | translate }}</label>
      <div
        (valueChange)="onStartTimeSelect($event)"
        [rcCalendar]="dateTimeOptions"
        [(value)]="queryDatesShown.start_time"
      >
        <input aui-input [value]="queryDatesShown.start_time" />
      </div>
      <label>{{ 'to' | translate }}</label>
      <div
        (valueChange)="onEndTimeSelect($event)"
        [rcCalendar]="dateTimeOptions"
        [(value)]="queryDatesShown.end_time"
      >
        <input aui-input [value]="queryDatesShown.end_time" />
      </div>
      <button aui-button="primary" (click)="onSearch()">
        {{ 'confirm' | translate }}
      </button>
    </div>
  </aui-form-item>
</div>

<rc-cluster-chart
  [series]="cpuChartSeries"
  [metricOptions]="metricPercentOptions"
  chartTitle="cpu_utilization"
  [chartLoading]="chartLoading"
></rc-cluster-chart>

<rc-cluster-chart
  [series]="memChartSeries"
  [metricOptions]="metricPercentOptions"
  chartTitle="memory_utilization"
  [chartLoading]="chartLoading"
></rc-cluster-chart>

<rc-cluster-chart
  *ngIf="privateIp"
  [series]="loadChartSeries"
  [metricOptions]="systemLoadOptions"
  chartTitle="system_load"
  [chartLoading]="chartLoading"
></rc-cluster-chart>

<rc-cluster-chart
  *ngIf="privateIp"
  [series]="diskChartSeries"
  [metricOptions]="metricPercentOptions"
  chartTitle="disk_utilization"
  [chartLoading]="chartLoading"
></rc-cluster-chart>

<rc-cluster-chart
  *ngIf="privateIp"
  [series]="diskRWChartSeries"
  [metricOptions]="metricNumericOptions"
  chartTitle="disk_read_write"
  [chartLoading]="chartLoading"
></rc-cluster-chart>

<rc-cluster-chart
  *ngIf="privateIp"
  [series]="networkChartSeries"
  [metricOptions]="metricNumericOptions"
  chartTitle="network_utilization"
  [chartLoading]="chartLoading"
></rc-cluster-chart>
