<rc-loading-mask
  class="rc-form-loading-mask"
  [loading]="!initialized"
></rc-loading-mask>
<div class="resource-form__wrapper" [hidden]="!initialized">
  <div class="resource-form__header">
    <span *ngIf="!data">{{ 'create_secret' | translate }}</span>
    <span *ngIf="data">{{ 'update_secret' | translate }}</span>
    <div style="flex: 1;"></div>
    <aui-radio-group
      name="formModel"
      [isPlain]="false"
      (ngModelChange)="formModelChange($event)"
      [(ngModel)]="formModel"
    >
      <aui-radio-button value="UI">{{ 'form' | translate }}</aui-radio-button>
      <aui-radio-button value="YAML">YAML</aui-radio-button>
    </aui-radio-group>
  </div>
  <div class="resource-form__content" *ngIf="formModel == 'UI'">
    <form
      #secretForm="ngForm"
      auiForm
      [auiFormEmptyAddon]="true"
      auiFormLabelWidth="150px"
    >
      <!-- 联邦集群 -->
      <aui-form-item *ngIf="mirrorClusters.length">
        <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
        <rc-mirror-cluster-select
          name="clusters"
          [clusters]="mirrorClusters"
          [currentCluster]="currentCluster"
          [(ngModel)]="clusters"
        ></rc-mirror-cluster-select>
      </aui-form-item>
      <!-- 名称 -->
      <aui-form-item *ngIf="data">
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <span>{{ secret.kubernetes.metadata.name }}</span>
      </aui-form-item>
      <aui-form-item *ngIf="!data">
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          required
          name="name"
          [(ngModel)]="secret.kubernetes.metadata.name"
          maxlength="63"
          [pattern]="resourceNameReg.pattern"
          [placeholder]="resourceNameReg.tip | translate"
          [rcErrorsTooltip]
          [rcErrorsTooltipMapper]="{ pattern: resourceNameReg.tip | translate }"
        />
      </aui-form-item>
      <!-- 描述 -->
      <aui-form-item>
        <label auiFormItemLabel>{{ 'description' | translate }}</label>
        <input
          aui-input
          name="description"
          [(ngModel)]="secret.kubernetes.metadata.annotations[descriptionKey]"
        />
      </aui-form-item>
      <!-- 类型 -->
      <aui-form-item>
        <label auiFormItemLabel>{{ 'type' | translate }}</label>
        <aui-radio-group
          name="type"
          [(ngModel)]="secret.kubernetes.type"
          (ngModelChange)="typeChange($event)"
        >
          <aui-radio-button
            [disabled]="isUpdate && type !== 'Opaque'"
            value="Opaque"
          >
            Opaque
          </aui-radio-button>
          <aui-radio-button
            [disabled]="isUpdate && type !== 'kubernetes.io/tls'"
            value="kubernetes.io/tls"
          >
            TLS
          </aui-radio-button>
          <aui-radio-button
            [disabled]="isUpdate && type !== 'kubernetes.io/ssh-auth'"
            value="kubernetes.io/ssh-auth"
          >
            {{ 'secret_ssh_auth' | translate }}
          </aui-radio-button>
          <aui-radio-button
            [disabled]="isUpdate && type !== 'kubernetes.io/basic-auth'"
            value="kubernetes.io/basic-auth"
          >
            {{ 'secret_basic_auth' | translate }}
          </aui-radio-button>
          <aui-radio-button
            [disabled]="isUpdate && type !== 'kubernetes.io/dockerconfigjson'"
            value="kubernetes.io/dockerconfigjson"
          >
            {{ 'secret_dockerconfigjson' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <!-- 数据 -->
      <ng-container [ngSwitch]="type">
        <!-- 默认key/value形式 -->
        <ng-container *ngSwitchDefault>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'data' | translate }}</label>
            <rc-secret-items-fieldset
              name="secretItems"
              [(ngModel)]="secretItems"
            ></rc-secret-items-fieldset>
          </aui-form-item>
        </ng-container>
        <!-- tls -->
        <ng-container *ngSwitchCase="'kubernetes.io/tls'">
          <aui-form-item class="crt">
            <button
              aui-button
              class="import"
              size="mini"
              [plain]="true"
              (click)="fileUploadInput.click()"
            >
              <aui-icon icon="import"></aui-icon>
              {{ 'import' | translate }}
            </button>
            <label auiFormItemLabel>{{ 'certificate' | translate }}</label>
            <textarea
              aui-input
              auiFormItemControl
              required
              size="small"
              [autosize]="{ minRows: 3 }"
              name="tls.crt"
              [(ngModel)]="secretItems['tls.crt']"
              [rcErrorsTooltip]
            ></textarea>
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'private_key' | translate }}</label>
            <textarea
              aui-input
              auiFormItemControl
              required
              size="small"
              [autosize]="{ minRows: 3 }"
              name="tls.key"
              [(ngModel)]="secretItems['tls.key']"
              [rcErrorsTooltip]
            ></textarea>
          </aui-form-item>
        </ng-container>
        <!-- ssh -->
        <ng-container *ngSwitchCase="'kubernetes.io/ssh-auth'">
          <aui-form-item>
            <label auiFormItemLabel>{{ 'ssh_private_key' | translate }}</label>
            <textarea
              aui-input
              auiFormItemControl
              required
              size="small"
              [autosize]="{ minRows: 3 }"
              name="ssh-privatekey"
              [(ngModel)]="secretItems['ssh-privatekey']"
              [rcErrorsTooltip]
            ></textarea>
          </aui-form-item>
        </ng-container>
        <!-- basic-auth -->
        <ng-container *ngSwitchCase="'kubernetes.io/basic-auth'">
          <aui-form-item>
            <label auiFormItemLabel>{{ 'username' | translate }}</label>
            <input
              aui-input
              required
              auiFormItemControl
              name="username"
              [(ngModel)]="secretItems['username']"
              [rcErrorsTooltip]
            />
          </aui-form-item>
          <aui-form-item class="aui-form-item__label-wrapper--required">
            <label auiFormItemLabel>{{ 'password' | translate }}</label>
            <rc-password-input
              required
              [(ngModel)]="secretItems['password']"
              name="password"
            ></rc-password-input>
          </aui-form-item>
        </ng-container>
        <!-- dockerconfigjson -->
        <ng-container *ngSwitchCase="'kubernetes.io/dockerconfigjson'">
          <aui-form-item>
            <label auiFormItemLabel>
              {{ 'docker_service_address' | translate }}
            </label>
            <input
              aui-input
              required
              auiFormItemControl
              name="docker_service_address"
              [(ngModel)]="secretItems['docker_service_address']"
              [rcErrorsTooltip]
            />
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'username' | translate }}</label>
            <input
              aui-input
              required
              auiFormItemControl
              name="username"
              [(ngModel)]="secretItems['username']"
              [rcErrorsTooltip]
            />
          </aui-form-item>
          <aui-form-item class="aui-form-item__label-wrapper--required">
            <label auiFormItemLabel>
              {{ 'password' | translate }}
            </label>
            <rc-password-input
              required
              [(ngModel)]="secretItems['password']"
              name="password"
            ></rc-password-input>
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'email' | translate }}</label>
            <input
              aui-input
              required
              auiFormItemControl
              name="email"
              [(ngModel)]="secretItems['email']"
              [rcErrorsTooltip]
            />
          </aui-form-item>
        </ng-container>
      </ng-container>
    </form>
  </div>
  <div *ngIf="formModel == 'YAML'">
    <form auiForm auiFormLabelWidth="140px" #secretForm="ngForm">
      <aui-form-item *ngIf="mirrorClusters.length">
        <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
        <rc-mirror-cluster-select
          name="clusters"
          [clusters]="mirrorClusters"
          [currentCluster]="currentCluster"
          [(ngModel)]="clusters"
        ></rc-mirror-cluster-select>
      </aui-form-item>
      <!-- YAML -->
      <aui-form-item>
        <label auiFormItemLabel>{{ 'yaml_file' | translate }}</label>
        <aui-code-editor
          auiFormItemControl
          name="yaml"
          style="width: 100%;"
          required
          [rcErrorsTooltip]
          [rcErrorsTooltipInline]="true"
          [originalValue]="secretYamlOrigin"
          [(ngModel)]="secretYaml"
          [actionsConfig]="editorActionsConfig"
          [options]="codeEditorOptions"
        ></aui-code-editor>
      </aui-form-item>
    </form>
  </div>
</div>
<div class="resource-form__footer" [hidden]="!initialized">
  <div style="flex: 1;"></div>
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    <span *ngIf="data">{{ 'update' | translate }}</span>
    <span *ngIf="!data">{{ 'create' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>

<input
  #fileUploadInput
  hidden
  (change)="onImport($event)"
  type="file"
  multiple
  name="files[]"
/>
