<aui-dialog-header>
  {{ 'jenkins_template_sync_repo_settings' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    auiForm
    auiFormLabelWidth="140px"
    #createForm="ngForm"
    style="padding-top: 20px"
    (ngSubmit)="submit()"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'build_code_repo_client' | translate }}</label>
      <aui-radio-group auiFormItemControl name="type" [(ngModel)]="model.type">
        <aui-radio-button
          *ngFor="let source of sourceList"
          [value]="source.value"
        >
          {{ source.name }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'jenkins_code_repository_address' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        name="url"
        pattern="^(http(s?):\/\/.+)|(git@.+:.+)|(ssh:\/\/.+@.+)|(git:\/\/.+)"
        placeholder="{{
          (['GIT'].includes(model.type)
            ? 'jenkins_git_repo_address_example'
            : 'jenkins_svn_repo_address_example') | translate
        }}"
        [(ngModel)]="model.url"
        required
        type="text"
      />
    </aui-form-item>

    <aui-form-item *ngIf="model.type === 'GIT'">
      <label auiFormItemLabel>
        {{ 'build_config_code_branch' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        name="branch"
        [(ngModel)]="model.branch"
        required
        type="text"
      />
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="username"
        [(ngModel)]="model.username"
        type="text"
      />
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        type="password"
        name="password"
        [(ngModel)]="model.password"
      />
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <span fxFlex></span>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    [class.loading]="submitting"
    [disabled]="!form.valid || this.submitting"
    (click)="form.onSubmit(null)"
  >
    {{ 'jenkins_template_save_and_sync' | translate }}
  </button>
</aui-dialog-footer>
