<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'devops' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="['../']">
        {{ 'tool_chain_artifact_repository' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ repoName$ | async }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-tag-list-section
  [loading]="loading"
  [error]="error"
  [repository]="repo$ | async"
  [tags]="tags$ | async"
  (filterChange)="keyword$$.next($event)"
  (scanTrigger)="updated$$.next(null)"
  (refetch)="updated$$.next(null)"
></rc-tag-list-section>
