<aui-dialog-header>
  {{ 'update_password' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div class="form-container" style="padding-top: 16px;">
    <form auiForm #updatePasswordForm="ngForm" auiFormLabelWidth="155px">
      <aui-form-item *ngIf="!showOldPasswordField()">
        <label auiFormItemLabel>{{ 'username' | translate }}</label>
        <label>{{ username }}</label>
      </aui-form-item>
      <aui-form-item *ngIf="showOldPasswordField()">
        <label auiFormItemLabel>{{ 'current_password' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          [type]="pwdVisible ? 'text' : 'password'"
          name="old_password"
          [(ngModel)]="old_password"
          rcErrorsTooltip
          [rcErrorsTooltipMapper]="changePasswordErrorMapper"
          required
        />
        <div
          auiFormItemAddon
          style="cursor: pointer;"
          (click)="pwdVisible = !pwdVisible"
        >
          <aui-icon *ngIf="pwdVisible" icon="basic:eye_s"></aui-icon>
          <aui-icon *ngIf="!pwdVisible" icon="basic:eye_slash_s"></aui-icon>
        </div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'new_password' | translate }}</label>

        <div class="rc-account-password-field">
          <input
            aui-input
            auiFormItemControl
            [type]="pwdVisible ? 'text' : 'password'"
            name="new_password"
            [(ngModel)]="new_password"
            [pattern]="passwordPattern.pattern"
            [rcErrorsTooltip]
            [rcErrorsTooltipMapper]
            required
          />
          <div
            *ngIf="new_password && passwordPatternObj.strength"
            class="rc-account-password-strength"
          >
            <rc-app-password-strength
              [password]="new_password"
            ></rc-app-password-strength>
          </div>
        </div>
        <div auiFormItemAddon (click)="pwdVisible = !pwdVisible">
          <aui-icon
            *ngIf="pwdVisible && !showOldPasswordField()"
            icon="basic:eye_s"
          ></aui-icon>
          <aui-icon
            *ngIf="!pwdVisible && !showOldPasswordField()"
            icon="basic:eye_slash_s"
          ></aui-icon>
        </div>
        <div auiFormItemHint>
          {{ 'rbac_password_placeholder' | translate }}
        </div>
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel>{{ 'confirm_new_password' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          [type]="pwdVisible ? 'text' : 'password'"
          name="confirm_new_password"
          [(ngModel)]="confirm_new_password"
          [ngModelOptions]="{ allowInvalid: true }"
          rcErrorsTooltip
          [rcErrorsTooltipMapper]="{ pattern: 'password_not_same' | translate }"
          [pattern]="cPwdPattern"
          required
        />
        <div auiFormItemAddon></div>
      </aui-form-item>
    </form>
  </div>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button (click)="cancel()" [disabled]="submitting">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    (click)="confirm()"
    [disabled]="updatePasswordForm.invalid || submitting"
  >
    {{ 'save' | translate }}
  </button>
</aui-dialog-footer>
