@import 'var';

:host {
  ::ng-deep .aui-table__column-action {
    flex: 0 0 120px;
    display: flex;
    justify-content: center;
    .aui-button__content {
      img {
        margin: 5px;
      }
    }
  }
}
.rc-repository-tag-manage-tips {
  margin-bottom: 16px;
  padding: 8px;
  font-size: 12px;
  background: #f6fdff;
  border: 1px solid #60d3ff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  color: #228eb3;

  .fa {
    color: #41aed3;
    margin-right: 5px;
  }
}

.rc-detail-tag-name {
  $enabled-color: #72c63d;
  $enabled-bg-color: #f7fff3;

  .tooltip.protected-tooltip {
    .tooltip-arrow {
      border-right-color: $enabled-color;

      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 1px;
        top: -5px;
        border: 5px solid transparent;
        border-right-color: $enabled-bg-color;
        border-left-width: 0;
      }
    }

    .tooltip-inner {
      color: $enabled-color;
      background: $enabled-bg-color;
      border: 1px solid #72c63d;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.22);
      border-radius: 3px;
    }
  }
}

.rc-repository-tag-summary {
  display: flex;
  flex-direction: column;
  rc-image-repository-tag-level-label {
    margin-left: 0;
  }
  rb-repository-tag-level-label {
    margin-right: 12px;
    position: relative;
    &:not(:last-child):after {
      content: '';
      display: block;
      position: absolute;
      right: -8px;
      top: 8px;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: #d8d8d8;
    }
  }
}

.rc-repository-scan-status-waiting {
  background-color: $color-warning;
}

.rc-repository-scan-status-analyzing {
  background-color: $color-primary;
  i {
    color: #fff;
  }
}

.rc-repository-scan-status-finished {
  background-color: $color-success;
}

.rc-repository-scan-status-failed {
  background-color: $color-error;
}

.rc-repository-scan-status-high {
  background-color: $repository-tag-level-high-color;
}

.rc-repository-scan-status-medium {
  background-color: $repository-tag-level-medium-color;
}

.rc-repository-scan-status-low {
  background-color: $repository-tag-level-low-color;
}

.rc-repository-scan-status-negligible {
  background-color: $repository-tag-level-negligible-color;
}

.rc-repository-scan-status-unknown {
  background-color: $repository-tag-level-unknown-color;
}

.rc-repository-scan-status-security {
  background-color: $repository-tag-level-security-color;
}
