<div *ngIf="!initialized" [rcLoadingMask]="true" style="height:80px"></div>
<div *ngIf="initialized && !tags.length" class="rb-loading-mask-placeholder">
  {{ 'repo_tags_empty' | translate }}
</div>
<div *ngIf="initialized && tags.length" class="clearfix">
  <aui-table [dataSource]="tags" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="image_tag">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'image_tag' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let tag">
        <span [auiTooltipCopy]="tag.tag_name">{{ tag.tag_name }}</span>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="created_at">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_at' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let tag">
        {{ tag.created_at || tag.created | rcFormatUtcStr }}
      </aui-table-cell>
    </ng-container>

    <ng-container *ngIf="isThird">
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'action' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let tag">
          <div [auiDropdown]="menu" class="action-button">
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </div>
          <aui-menu #menu size="small">
            <aui-menu-item (click)="deleteTag(tag)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </aui-menu>
        </aui-table-cell>
      </ng-container>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <aui-paginator
    *ngIf="initialized && tags.length && !isThird"
    [length]="count"
    [pageSize]="pageSize"
    [pageIndex]="page"
    (page)="getTags($event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
</div>
