<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['../../']">{{ 'pipeline_list' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'pipeline_update' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-card
  *rcAsyncData="
    let pipelineConfig;
    let loading = loading;
    handler: getPipelineConfig;
    params: (param$ | async)
  "
>
  <rc-pipeline-update-container
    [name]="(param$ | async)?.name"
    [namespace]="(param$ | async)?.namespace"
    [pipelineConfig]="pipelineConfig"
    [loading]="loading"
    [space]="space$ | async"
    [project]="project"
  ></rc-pipeline-update-container>
</aui-card>
