<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item formGroupName="metadata">
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      aui-input
      auiFormItemControl
      formControlName="name"
      maxlength="63"
      [placeholder]="resourceNameReg.tip | translate"
      [rcErrorsTooltipMapper]="{ pattern: resourceNameReg.tip | translate }"
      [rcErrorsTooltip]
      required
    />
  </aui-form-item>
  <aui-form-item [formGroup]="form.get('spec.capacity')">
    <label auiFormItemLabel>{{ 'size' | translate }}</label>
    <aui-input-group style="flex:1">
      <span auiInputAddonAfter>{{ unit }}</span>
      <input
        aui-input
        type="text"
        [pattern]="POSITIVE_INT_PATTERN.pattern"
        auiFormItemControl
        formControlName="storage"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="{
          pattern: POSITIVE_INT_PATTERN.tip | translate
        }"
        required
      />
    </aui-input-group>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'type' | translate }}</label>
    <aui-radio-group
      auiFormItemControl
      name="pvVolumeType"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="pvVolumeTypeChange($event)"
      [(ngModel)]="pvVolumeType"
    >
      <aui-radio-button *ngFor="let type of pvVolumeTypes" [value]="type">
        {{ type }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <div [hidden]="pvVolumeType !== 'nfs'">
    <ng-container [formGroup]="form.get('spec.nfs')">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'server_address' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          formControlName="server"
          [rcErrorsTooltip]
          required
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'path' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          formControlName="path"
          [rcErrorsTooltip]
          required
        />
      </aui-form-item>
    </ng-container>
  </div>
  <div [hidden]="pvVolumeType !== 'hostPath'">
    <aui-form-item [formGroup]="form.get('spec.hostPath')">
      <label auiFormItemLabel>{{ 'path' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        formControlName="path"
        [rcErrorsTooltip]
        required
      />
    </aui-form-item>
  </div>
  <aui-form-item formGroupName="spec">
    <label auiFormItemLabel>{{ 'access_mode' | translate }}</label>
    <aui-radio-group auiFormItemControl formControlName="accessModes">
      <aui-radio-button *ngFor="let mode of accessModes" [value]="mode">
        {{ accessModesMap[mode] | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <aui-form-item formGroupName="spec">
    <label auiFormItemLabel>{{ 'recycle_strategy' | translate }}</label>
    <aui-radio-group
      auiFormItemControl
      formControlName="persistentVolumeReclaimPolicy"
    >
      <aui-radio-button *ngFor="let mode of recycleModes" [value]="mode">
        {{ recycleModesMap[mode] | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <rc-foldable-block hint="{{ 'advanced' | translate }}">
    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>{{ 'label' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="labels"
      ></rc-key-value-form-table>
    </aui-form-item>
    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>{{ 'k8s_annotation' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="annotations"
      ></rc-key-value-form-table>
    </aui-form-item>
  </rc-foldable-block>
</form>
