<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a
        href="javascript:void(0)"
        [routerLink]="['/console/user/workspace', baseParams, 'app']"
      >
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <ng-container *ngIf="!isUpdatingApp">
      <aui-breadcrumb-item>
        {{ 'create_app' | translate }}({{ 'preview' | translate }})
      </aui-breadcrumb-item>
    </ng-container>
    <ng-container *ngIf="!!isUpdatingApp">
      <aui-breadcrumb-item>
        <a
          href="javascript:void(0)"
          [routerLink]="[
            '/console/user/workspace',
            baseParams,
            'app',
            'detail',
            appName
          ]"
        >
          {{ appName }}
        </a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>
        {{ 'update_app' | translate }}({{ 'preview' | translate }})
      </aui-breadcrumb-item>
    </ng-container>
    <aui-breadcrumb-item>
      {{ 'add_compute_component' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<form #form="ngForm" *ngIf="formModel" auiForm [auiFormEmptyAddon]="true">
  <rc-component-form
    name="formModel"
    [appName]="appName"
    [hasPrefix]="true"
    [cluster]="baseParams.cluster"
    [namespace]="baseParams.namespace"
    [(ngModel)]="formModel"
  ></rc-component-form>

  <rc-services-form
    name="services"
    [cluster]="baseParams.cluster"
    [namespace]="baseParams.namespace"
    [(ngModel)]="services"
  ></rc-services-form>

  <!-- <pre>{{form.value | json}}</pre> -->
  <!-- <pre>{{this.appDataService.applicationModel | json}}</pre> -->
</form>

<div class="form-footer">
  <span fxFlex></span>
  <button aui-button="primary" (click)="save()">
    {{ 'save' | translate }}
  </button>
  <button aui-button (click)="back()">{{ 'cancel' | translate }}</button>
</div>
