.graph-legend {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    height: 24px;
    display: flex;
    align-items: center;
    div:first-child {
      margin-right: 8px;
    }
    .legend-icon-internal {
      height: 16px;
      width: 16px;
      border: 1px solid #999;
      background-color: #ededed;
      border-radius: 50%;
    }
    .legend-icon-external {
      height: 16px;
      width: 16px;
      border: 1px dashed #999;
      background-color: #ededed;
      border-radius: 50%;
    }
    .legend-icon-link {
      width: 16px;
      height: 0;
      border-bottom: 3px solid #ccc;
    }
    .legend-icon-ref {
      width: 16px;
      height: 0;
      border-bottom: 3px dashed #ccc;
    }
  }
}
