<ul class="graph-legend">
  <li>
    <div class="legend-icon-internal"></div>
    <div>应用组件</div>
  </li>
  <li>
    <div class="legend-icon-external"></div>
    <div>非应用组件</div>
  </li>
  <li>
    <div class="legend-icon-ref"></div>
    <div>引用关系</div>
  </li>
  <li>
    <div class="legend-icon-link"></div>
    <div>关联关系</div>
  </li>
</ul>
