<ng-container
  *rcAsyncData="
    let pipeline;
    let loading = loading;
    handler: fetchData;
    params: (params$ | async);
    pullIn: continue ? 1000 : 0
  "
>
  <div *rcPageHeaderContent class="page-header">
    <aui-breadcrumb>
      <aui-breadcrumb-item>
        <a [routerLink]="['../']">{{ 'pipeline_list' | translate }}</a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>{{ name }}</aui-breadcrumb-item>
    </aui-breadcrumb>

    <button
      aui-button
      [plain]="true"
      [size]="size"
      [auiDropdown]="actions"
      [disabled]="!pipeline?.name"
    >
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
  </div>
  <aui-menu #actions>
    <aui-menu-item
      [disabled]="
        pipeline?.status.phase === 'Error' ||
        pipeline?.status.phase === 'Creating' ||
        !permissions.canTrigger
      "
      (click)="triggerPipeline(pipeline)"
    >
      {{ 'pipeline_start' | translate }}
    </aui-menu-item>
    <aui-menu-item
      [disabled]="!permissions.canUpdate"
      (click)="updatePipeline()"
    >
      {{ 'update' | translate }}
    </aui-menu-item>
    <aui-menu-item
      [disabled]="!permissions.canCreate"
      (click)="copyPipeline(pipeline)"
    >
      {{ 'copy' | translate }}
    </aui-menu-item>
    <aui-menu-item
      *ngIf="
        pipeline?.latestTemplateVersion &&
        pipeline?.latestTemplateVersion !== pipeline?.templateVersion
      "
      [disabled]="!permissions.canUpdate"
      (click)="updatePipeline('upgrade')"
    >
      {{ 'upgrade' | translate }}
    </aui-menu-item>
    <aui-menu-item
      [disabled]="!permissions.canDelete"
      (click)="deletePipeline()"
      type="danger"
      [divide]="true"
    >
      {{ 'delete' | translate }}
    </aui-menu-item>
  </aui-menu>
  <ul class="tabs">
    <li class="tab-label" [class.active]="activeTab === 'base'">
      <a href="javascript:void(0)" (click)="changeTab('base')">
        {{ 'detail_info' | translate }}
      </a>
    </li>
    <li class="tab-label" [class.active]="activeTab === 'jenkinsfile'">
      <a href="javascript:void(0)" (click)="changeTab('jenkinsfile')">
        {{ 'pipeline_pipeline_design' | translate }}
      </a>
    </li>
  </ul>
  <div [hidden]="activeTab !== 'base'">
    <rc-basic-info [pipeline]="pipeline"></rc-basic-info>
    <div class="histories">
      <rc-pipeline-histories
        [name]="name"
        [space]="space$ | async"
        [permissions]="permissions"
      ></rc-pipeline-histories>
    </div>
  </div>
  <div *ngIf="activeTab === 'jenkinsfile'">
    <rc-pipeline-design-container
      [pipelineConfig]="pipeline"
    ></rc-pipeline-design-container>
  </div>
</ng-container>
