.rc-card {
  & + .rc-card {
    margin-top: 20px;
  }
}

.jenkinsfile-actions {
  margin-top: 12px;
}

$history-block: aui-table;

.#{$history-block} {
  min-width: 0px;
  &__column-name {
    flex: 1;
  }
  &__column-status {
    flex: 1;
  }
  &__column-time {
    flex: 1;
  }
  &__column-cause {
    flex: 1;
  }
  &__column-actions {
    max-width: 40px;
  }
}

$queued: #009ce3;
$pending: #009ce3;
$running: #009ce3;
$failed: #eb6262;
$complete: #1bb393;
$cancelled: #cccccc;
$aborted: #f8ac58;
$unknown: #cccccc;

$status-color-map: (
  pending: $pending,
  queued: $queued,
  running: $running,
  failed: $failed,
  complete: $complete,
  cancelled: $cancelled,
  aborted: $aborted,
  unknown: $unknown,
);

.history-status {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  .aui-icon {
    color: #ccc;
    border-radius: 50%;
    margin-right: 8px;
  }

  @each $status, $color in $status-color-map {
    &.#{$status} {
      .aui-icon {
        color: $color;
      }
    }
  }
}

.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.histories {
  margin-top: 16px;
}

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0 1px 0 0 rgba(204, 204, 204, 0.5);
  > .tab-label {
    border-bottom: solid 2px #fff;
    > a {
      display: block;
      padding: 8px 24px;
      white-space: nowrap;
      &:link {
        color: #666;
      }
      &:hover {
        color: #0079c2;
      }
    }
    &.active {
      border-color: #009ce3;
      > a:link {
        color: #333;
      }
    }
  }
}

.tabs {
  margin-bottom: 12px;
}
