@import '../../../../app/styles/mixins';

.aui-table__cell {
  display: flex;
  align-items: center;
}

.repo-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

.alert-icon {
  color: #f8ac58;
}

.aui-table__column-all_tags {
  max-width: 88px;
}

.recent-tags-count {
  font-size: 12px;
  color: #999999;
}

.copy-icon {
  color: #999999;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}

.tag-list {
  margin: 8px 0;
  font-size: 14px;
  color: #333333;

  .tag-list-item {
    margin-bottom: 8px;
    white-space: nowrap;
  }
}

.aui-table__cell.aui-table__column-image {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #cccccc;

  .repo-path {
    display: inline-flex;
    flex-shrink: 1;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
  }

  .prefix {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.repo-pos {
  display: flex;
  flex-direction: column;
}

.jump-icon {
  color: #999;
  margin-left: 9px;
  cursor: pointer;
  :hover {
    color: $color-primary;
  }
}

:host::ng-deep {
  .aui-tooltip.jump-tooltip {
    border: solid 1px #d6d6d6;
    padding: 0 8px;
  }
}
