<aui-table
  [dataSource]="repositories"
  [trackBy]="trackByPath"
  auiSort
  active="image"
  direction="asc"
>
  <ng-container auiTableColumnDef="image">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'devops_repository_address' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let repo">
      <img
        class="repo-icon"
        [src]="
          '/static/images/tool-chain/list/' + repo.type.toLowerCase() + '.svg'
        "
      />
      <div class="repo-pos">
        <div style="display:flex;">
          <div
            *ngIf="
              repo.status.phase !== 'Error' &&
              repo.status.phase !== 'WaitingToDelete'
            "
          >
            <a class="repo-path" [routerLink]="[repo.name]">
              <span class="prefix">{{ repo.endpoint + '/' + repo.image }}</span>
            </a>
          </div>
          <div
            *ngIf="
              repo.status.phase === 'Error' ||
              repo.status.phase === 'WaitingToDelete'
            "
          >
            <span class="repo-path">
              <span class="prefix">{{ repo.endpoint + '/' + repo.image }}</span>
            </span>
          </div>
          <aui-icon
            *ngIf="repo.status.phase === 'Error'"
            class="alert-icon"
            icon="exclamation_circle_s"
            [auiTooltip]="repo.status.message"
            [auiTooltipDisabled]="!repo.status.message"
          ></aui-icon>
          <aui-icon
            *ngIf="repo.status.phase === 'WaitingToDelete'"
            class="alert-icon"
            icon="basic:trash_s"
            [auiTooltip]="repo.status.message"
            [auiTooltipDisabled]="!repo.status.message"
          ></aui-icon>
          <a
            *ngIf="repo.type.toLowerCase() === 'harbor'"
            class="jump-icon"
            [auiTooltip]="'devops_jump_to' | translate: { name: repo.type }"
            auiTooltipType="info"
            auiTooltipPosition="bottom start"
            auiTooltipClass="jump-tooltip"
            [href]="repo.link"
            target="_blank"
          >
            <aui-icon icon="basic:jump"></aui-icon>
          </a>
        </div>
        <span class="suffix">{{ repo.endpoint }}</span>
      </div>
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row
    *auiTableHeaderRowDef="['image']"
  ></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: ['image']"></aui-table-row>
</aui-table>
