<h4 class="title">{{ 'project_create' | translate }}</h4>
<aui-card>
  <div auiCardHeader>
    <rc-steps-process [steps]="steps" [currStep]="curStep"></rc-steps-process>
  </div>
  <!-- step 1 -->
  <section class="basic-info" [hidden]="curStep !== stepsEnum['BASIC']">
    <form #basicForm="ngForm" auiForm auiFormLabelWidth="140px">
      <ng-container>
        <!-- name -->
        <aui-form-item>
          <label auiFormItemLabel>{{ 'name' | translate }}</label>
          <input
            auiFormItemControl
            aui-input
            type="text"
            [placeholder]="projectPatternObj.tip | translate"
            name="name"
            required
            [(ngModel)]="data.name"
            [pattern]="projectPatternObj.pattern"
            maxlength="32"
            rcErrorsTooltip
            [rcErrorsTooltipMapper]="{
              pattern: projectPatternObj.tip | translate,
              required: 'required' | translate
            }"
          />
        </aui-form-item>
        <!-- display name -->
        <aui-form-item>
          <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
          <input
            auiFormItemControl
            aui-input
            type="text"
            name="display_name"
            [(ngModel)]="data.display_name"
            maxlength="36"
          />
        </aui-form-item>
      </ng-container>
      <!-- description -->
      <aui-form-item>
        <label auiFormItemLabel>{{ 'description' | translate }}</label>
        <textarea
          auiFormItemControl
          aui-input
          name="description"
          [(ngModel)]="data.description"
        ></textarea>
      </aui-form-item>
      <!-- clusters -->
      <aui-form-item>
        <label auiFormItemLabel>{{ 'region_belonged' | translate }}</label>
        <aui-multi-select
          auiFormItemControl
          name="regions"
          required
          [filterable]="true"
          [(ngModel)]="selectedRegions"
          removeValue="regionRemove($event)"
          addValue="regionAdd($event)"
          rcErrorsTooltip
          [rcErrorsTooltipMapper]="{ required: 'required' | translate }"
        >
          <aui-option
            class="cluster-select-option"
            *ngFor="let region of regions"
            [label]="region.display_name"
            [value]="region"
          >
            <aui-icon
              *ngIf="region?.mirror.regions"
              style="margin-right:3px;"
              icon="basic:sitemap_s"
              [style.color]="region?.mirror.flag"
            ></aui-icon>
            {{ region.display_name }}
            <div class="ns-select-option__desc">
              {{ clusterQuotaDisplay(region) }}
            </div>
          </aui-option>
        </aui-multi-select>
      </aui-form-item>
    </form>
  </section>

  <!-- step 2 -->
  <form
    class="regions"
    #quotaForm="ngForm"
    novalidate
    [hidden]="curStep !== stepsEnum['QUOTA']"
  >
    <div class="links">
      <span class="title">Kubernetes</span>
      <ul class="toc-links">
        <!-- mirrors -->
        <li *ngFor="let mirror of mirrorRegions">
          <a
            href="javascript:void(0)"
            [auiTocLink]="mirror.name"
            [for]="toc"
            [auiTooltip]="
              mirror.display_name
                ? mirror.display_name + ' (' + mirror.name + ')'
                : mirror.name
            "
            auiTooltipType="primary"
            auiTooltipPosition="top"
          >
            <span class="link-label">
              {{ mirror.display_name || mirror.name }}
            </span>
          </a>
        </li>
        <!-- normal regions -->
        <li *ngFor="let region of normalRegions">
          <a
            href="javascript:void(0)"
            class="active"
            [auiTocLink]="region.name"
            [for]="toc"
            [auiTooltip]="
              region.display_name
                ? region.display_name + ' (' + region.name + ')'
                : region.name
            "
            auiTooltipType="primary"
            auiTooltipPosition="top"
          >
            <span class="link-label">{{ region.display_name }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="toc-container" auiTocContainer #toc="auiTocContainer">
      <span class="title">Kubernetes</span>
      <!-- mirrors content -->
      <ng-container *ngFor="let mirror of mirrorRegions; let i = index">
        <div class="toc-form-group" [auiTocContent]="mirror.name">
          <div class="form-group-header mirror-header">
            <span
              [auiTooltip]="
                mirror.display_name
                  ? mirror.display_name + ' (' + mirror.name + ')'
                  : mirror.name
              "
              auiTooltipType="primary"
              auiTooltipPosition="top"
            >
              {{ mirror.display_name || mirror.name }}
            </span>
          </div>
          <div class="set-same-quota">
            <aui-checkbox
              [(ngModel)]="sameQuotaMirrorFlags[i]"
              [name]="'mirrorFlag' + i"
            >
              {{ 'set_same_quota' | translate }}
            </aui-checkbox>
          </div>
          <div
            class="form-group-content"
            *ngFor="let region of mirror.regions; let j = index"
            [hidden]="j > 0 && sameQuotaMirrorFlags[i]"
          >
            <div class="region-header" [hidden]="sameQuotaMirrorFlags[i]">
              <span
                [auiTooltip]="
                  region.display_name
                    ? region.display_name + ' (' + region.name + ')'
                    : region.name
                "
                auiTooltipType="primary"
                auiTooltipPosition="top"
              >
                {{ region.name }}
              </span>
              <i
                class="fa toggle"
                (click)="setHiddenFlag(mirror.name, region.name)"
                [class.fa-angle-left]="getHiddenFlag(mirror.name, region.name)"
                [class.fa-angle-down]="!getHiddenFlag(mirror.name, region.name)"
              ></i>
            </div>
            <div
              [hidden]="
                !sameQuotaMirrorFlags[i] &&
                getHiddenFlag(mirror.name, region.name)
              "
            >
              <aui-form-item *ngFor="let key of usedQuotaKeys">
                <label auiFormItemLabel>{{ key | translate }}</label>
                <aui-input-group auiFormItemControl>
                  <input
                    aui-input
                    type="number"
                    pattern="^[0-9]\d*$"
                    [name]="key + 'm' + i + '-' + j"
                    #curr="ngModel"
                    [min]="minQuota"
                    [placeholder]="quotaPlaceholder"
                    [(ngModel)]="region.quota[key]"
                  />
                  <span auiInputAddonAfter>
                    {{ getQuotaUnit(key) | translate }}
                  </span>
                </aui-input-group>
                <span auiFormItemHint>
                  {{
                    sameQuotaMirrorFlags[i]
                      ? getMirrorQuotaLimitDesc(key, mirror.regions)
                      : getQuotaLimitDesc(key, region)
                  }}
                </span>
                <div auiFormItemError *ngIf="curr.errors?.pattern">
                  {{ 'integer_pattern' | translate }}
                </div>
              </aui-form-item>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- normal regions content -->
      <ng-container *ngFor="let region of normalRegions; let i = index">
        <div class="toc-form-group" [auiTocContent]="region.name">
          <div class="form-group-header">
            <span
              [auiTooltip]="
                region.display_name
                  ? region.display_name + '(' + region.name + ')'
                  : region.name
              "
              auiTooltipType="primary"
              auiTooltipPosition="top"
            >
              {{ region.display_name }}
            </span>
            <i
              class="fa toggle"
              (click)="normalHiddenFlags[i] = !normalHiddenFlags[i]"
              [class.fa-angle-right]="normalHiddenFlags[i]"
              [class.fa-angle-down]="!normalHiddenFlags[i]"
            ></i>
          </div>
          <div class="form-group-content" [hidden]="normalHiddenFlags[i]">
            <aui-form-item *ngFor="let key of usedQuotaKeys">
              <label auiFormItemLabel>{{ key | translate }}</label>
              <aui-input-group auiFormItemControl>
                <input
                  aui-input
                  type="number"
                  pattern="^[0-9]\d*$"
                  [name]="key + 'n' + i"
                  #curr="ngModel"
                  [min]="minQuota"
                  [placeholder]="quotaPlaceholder"
                  [(ngModel)]="region.quota[key]"
                />
                <span auiInputAddonAfter>
                  {{ getQuotaUnit(key) | translate }}
                </span>
              </aui-input-group>
              <span auiFormItemHint>{{ getQuotaLimitDesc(key, region) }}</span>
              <div auiFormItemError *ngIf="curr.errors?.pattern">
                {{ 'integer_pattern' | translate }}
              </div>
            </aui-form-item>
          </div>
        </div>
      </ng-container>
    </div>
  </form>

  <!-- step 3 -->
  <section class="members" *ngIf="curStep === stepsEnum['MEMBER']">
    <div class="success-banner">
      <aui-icon icon="check_circle_s"></aui-icon>
      {{ 'project_create_success_hint' | translate }}
    </div>
    <rc-accounts-list
      [projectName]="data.name"
      [isCreate]="true"
    ></rc-accounts-list>
  </section>

  <div class="form-footer">
    <button
      aui-button
      *ngIf="curStep === stepsEnum['QUOTA']"
      (click)="curStep = stepsEnum['BASIC']"
    >
      {{ 'prev_step' | translate }}
    </button>
    <button
      aui-button="primary"
      *ngIf="curStep === stepsEnum['BASIC']"
      (click)="stepQuota()"
    >
      {{ 'next_step' | translate }}
    </button>
    <button
      aui-button="primary"
      *ngIf="curStep === stepsEnum['QUOTA']"
      [disabled]="submitting"
      [loading]="submitting"
      (click)="create()"
    >
      {{ 'project_create' | translate }}
    </button>
    <button
      aui-button
      *ngIf="curStep === stepsEnum['BASIC'] || curStep === stepsEnum['QUOTA']"
      (click)="cancel()"
    >
      {{ 'cancel' | translate }}
    </button>
    <button
      aui-button="primary"
      *ngIf="curStep === stepsEnum['MEMBER']"
      (click)="goToDetail()"
    >
      {{ 'complete' | translate }}
    </button>
  </div>
</aui-card>
