@import 'var';

:host {
  ::ng-deep .form-main-container {
    width: 100%;
    .form-input-row {
      width: 100%;
      flex-wrap: wrap;
    }

    textarea {
      min-height: 72px;
    }
  }

  .links {
    .toc-links {
      a.active {
        color: #009ce3;
      }
    }
  }

  h4.title {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .basic-info {
    .registry-split-line {
      padding: 0 10px;
    }
    .registry-path-list {
      flex: 2;
    }
  }
  .zero-state {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 42px;
    color: #ccc;
  }

  .form-footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    padding: 12px 20px;
    box-shadow: 0 -1px 2px 0 #eee;
    button {
      margin-left: 8px;
    }
  }

  .regions {
    .links {
      height: 720px;
      .toc-links {
        li {
          list-style: none;
          line-height: 32px;
        }
      }
      .title {
        color: #999;
        line-height: 32px;
      }
    }
    .toc-container {
      padding-bottom: 20px;
      .title {
        color: #999;
        line-height: 32px;
        padding-left: 20px;
      }
    }
  }

  ::ng-deep .aui-card__content {
    position: relative;
  }

  .toc-container {
    position: absolute;
    border-left: 1px solid #e5e5e5;
    top: 16px;
    bottom: 61px;
    left: 218px;
    right: 18px;
    margin: 0;
    overflow: auto;
    ::ng-deep {
      .aui-input-group__addon--after {
        width: 30px;
      }
    }
  }
  .toc-form-group-toggle {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #fafafa;
    i {
      margin-right: 4px;
    }
    &:hover {
      color: $color-primary;
    }
  }
  .toc-form-group {
    position: relative;
    background-color: #fff;
    padding: 0 20px;
    // min-height: 240px;
    .set-same-quota {
      margin-top: 17px;
      margin-bottom: 3px;
    }
    .form-group-header {
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #333;
      height: 32px;
      line-height: 32px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      &.mirror-header::before {
        width: 3px;
        height: 17px;
        background-color: #009ce3;
        content: '';
        display: block;
        margin-right: 10px;
      }
    }
    .form-group-content {
      padding: 16px 0 0 0;
      min-height: 200px;
      ::ng-deep {
        aui-form-item {
          .aui-input-group__addon--after {
            width: 40px;
            justify-content: center;
          }
          .aui-form-item__label-wrapper {
            flex: 2;
          }
          .aui-form-item__container {
            flex: 12;
            padding-right: 5%;
            aui-input-group {
              width: 100%;
            }
          }
        }
      }
      .region-header {
        line-height: 32px;
        font-weight: 400;
      }
      .form-field {
        display: flex;
        align-items: flex-start;
        color: #333;
        label {
          width: 140px;
          padding-right: 16px;
          height: 32px;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          overflow-wrap: break-word;
        }
        .field-container {
          line-height: 32px;
          padding: 0 48px 18px 0;
          flex: 1;
          .field-content-row {
            width: 100%;
            background-color: #fafafa;
            padding: 8px;
            display: flex;
            .content-row-cell {
              flex: 1;
              display: flex;
              .rc-input-prefix,
              .rc-input-suffix {
                height: 32px;
                border: 1px solid $border-color;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 8px;
              }
              .rc-input-prefix {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-right: none;
              }
              .rc-input-suffix {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border-left: none;
              }
              input {
                flex: 1;
                border-radius: 0;
              }
              &:not(:last-child) {
                margin-right: 24px;
              }
            }
          }
        }
      }
    }
  }

  .toc-footer {
    position: absolute;
    z-index: 20;
    bottom: 0;
    width: 100%;
    padding: 14px 26px;
    border-top: solid 1px $border-color;
    box-shadow: 0 0 8px 0 $color-info;
    background-color: darken($color-white, 95%);
    display: flex;
    justify-content: space-between;
    button:not(:last-of-type) {
      margin: 0 16px 0 0;
    }
    > button:first-child {
      margin-left: 190px;
    }
  }

  .success-banner {
    line-height: 42px;
    border: solid 1px #1bb393;
    border-radius: 3px;
    margin-bottom: 16px;
    padding-left: 16px;
    aui-icon {
      color: #1bb393;
    }
  }

  .toggle {
    margin-left: 8px;
    cursor: pointer;
  }
}

::ng-deep {
  .cluster-select-option {
    .aui-option--medium {
      height: auto;
    }
    &__desc {
      font-size: 12px;
      height: 16px;
      line-height: 16px;
      color: #999;
    }
  }
}
