@import 'var';

:host {
  .initialization_settings {
    color: #333;
    margin-top: 12px;
    padding: 20px;
    border-radius: 2px;
    background-color: #fff;
    h3 {
      font-weight: 400;
      font-size: 18px;
      color: #333;
    }
    ::ng-deep {
      .aui-form-item__error-wrapper,
      .aui-form-item__hint {
        margin-top: 4px;
      }
    }

    &__form {
      padding: 0 10%;
    }

    &__divider {
      width: 100%;
      height: 1px;
      margin: 16px 0;
      background-color: #ededed;
    }
    &__footer {
      display: flex;
      padding: 0 10%;
      justify-content: flex-start;
      margin-left: 110px;
    }

    &__content {
      .namespace-create {
        &--ing {
          display: flex;
          justify-content: center;
          text-align: center;
          margin-bottom: 24px;
          &__loading {
            margin-right: 16px;
          }
          div {
            text-align: center;
            margin-top: 24px;
          }
        }
        &--wrong {
          text-align: center;
          margin-bottom: 24px;
          &__header {
            display: flex;
            justify-content: center;
            text-align: center;
          }
          &__loading {
            margin-right: 16px;
            ::ng-deep {
              .ui.loader:after {
                animation: none;
              }
            }
          }
          div {
            text-align: center;
            margin-top: 24px;
          }
          button {
            margin-top: 10px;
          }
        }
      }
    }

    &__navigation {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      &-stage {
        width: 201px;
        height: 28px;
        border: solid 1px #cccccc;
        background-color: #f2f2f2;
        text-align: center;
        line-height: 28px;
        position: relative;

        &:nth-child(1) {
          border-right: 0;
        }
        &:nth-child(2),
        &:nth-child(3) {
          border-left: 0;
          border-right: 0;
        }
        &:nth-child(4) {
          border-left: 0;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          &::after {
            content: ' ';
            width: 20px;
            height: 20px;
            position: absolute;
            top: 3px;
            right: -10px;
            transform: rotate(45deg);
            z-index: 1;
          }
        }
        &::after {
          border-top: solid 1px #cccccc;
          border-right: solid 1px #cccccc;
          background-color: #f2f2f2;
        }
        &--on {
          border-color: #009ce3;
          background-color: #f2fafe;
          color: #009ce3;
          cursor: pointer;
          &::after {
            border-color: #009ce3;
            background-color: #f2fafe;
          }
        }
        &--ing {
          border-color: #009ce3;
          color: #009ce3;
          background-color: #d9f0fb;
          &::after {
            border-color: #009ce3;
            background-color: #d9f0fb;
          }
        }
      }
    }

    &__basic {
      ::ng-deep {
        aui-select {
          width: 100%;
        }
        aui-input-group {
          width: 100%;
        }
        .aui-select {
          width: 100% !important;
        }
        .aui-input-group__addon--before {
          white-space: nowrap;
        }

        .aui-form-item__label-wrapper {
          width: 10% !important;
        }
      }
    }
    .icon {
      color: #009ce3;
    }
  }
}
