<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'project_overview' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/user/project', { project: project?.name }]">
        {{ project?.name }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'initialization_settings' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<div class="initialization_settings">
  <h3>{{ 'initialization_settings' | translate }}</h3>
  <div class="initialization_settings__divider"></div>
  <div class="initialization_settings__navigation">
    <div [ngClass]="assignStageClass(0)" (click)="redirectStage(0)">
      {{ 'create_namespace' | translate
      }}{{ successNsNum > 0 ? '（' + successNsNum + '）' : '' }}
    </div>
    <div [ngClass]="assignStageClass(1)" (click)="redirectStage(1)">
      {{ 'create_group' | translate
      }}{{ successGroupNum > 0 ? '（' + successGroupNum + '）' : '' }}
    </div>
    <div [ngClass]="assignStageClass(2)" (click)="redirectStage(2)">
      {{ 'binding_group' | translate }}
    </div>
    <div [ngClass]="assignStageClass(3)" (click)="redirectStage(3)">
      {{ 'init_devops_tools' | translate }}
    </div>
  </div>
  <div class="initialization_settings__content">
    <form #form="ngForm" auiForm class="initialization_settings__form">
      <ng-container *ngIf="stage === 0">
        <rc-app-create-namespace-form
          *ngIf="!nsCreateStatus"
          name="namespace"
          [project]="project"
          [(ngModel)]="namespace"
        ></rc-app-create-namespace-form>
        <div class="namespace-create--ing" *ngIf="nsCreateStatus === 'ing'">
          <div class="namespace-create--ing__loading">
            <rc-loading-mask [loading]="true"></rc-loading-mask>
          </div>
          <div class="namespace-create--ing__text">
            {{ 'namespace_creating' | translate }}
          </div>
        </div>
        <div class="namespace-create--wrong" *ngIf="nsCreateStatus === 'wrong'">
          <div class="namespace-create--wrong__header">
            <div class="namespace-create--wrong__text">
              <aui-inline-alert [closable]="true">
                <span>{{ 'namespace_data_cleaning_tip' | translate }}</span>
              </aui-inline-alert>
            </div>
          </div>
          <button
            aui-button
            [loading]="nsDeleteLoading"
            [disabled]="nsDeleteLoading"
            (click)="deleteNs()"
          >
            {{ 'namespace_data_cleaning' | translate }}
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="stage === 1">
        <rc-space-create-form
          name="space"
          [project]="project"
          [(ngModel)]="space"
        ></rc-space-create-form>
      </ng-container>
      <ng-container *ngIf="stage === 2">
        <rc-app-binding-namespace-group
          [succBindingShip]="succBindingShip"
          name="bindingShip"
          [project]="project"
          [(ngModel)]="bindingShip"
        ></rc-app-binding-namespace-group>
      </ng-container>
      <ng-container>
        <rc-init-devops-tools *ngIf="stage === 3"></rc-init-devops-tools>
      </ng-container>
    </form>
  </div>
  <div class="initialization_settings__divider"></div>
  <div class="initialization_settings__footer">
    <ng-container *ngIf="stage === 0 || stage === 1">
      <button
        aui-button="primary"
        (click)="create()"
        [disabled]="!!nsCreateStatus"
      >
        <aui-icon icon="copy"></aui-icon>
        &nbsp;{{ 'create' | translate }}
      </button>
      <button
        aui-button="primary"
        [plain]="true"
        (click)="create(true)"
        [disabled]="!!nsCreateStatus"
      >
        <aui-icon
          icon="basic:over_next"
          [ngClass]="{ icon: !nsCreateStatus }"
        ></aui-icon>
        &nbsp;
        <span *ngIf="stage === 0">
          {{ 'complete_and_create_group' | translate }}
        </span>
        <span *ngIf="stage === 1">
          {{ 'complete_and_bind_group' | translate }}
        </span>
      </button>
    </ng-container>
    <ng-container *ngIf="stage === 2">
      <button
        aui-button="primary"
        (click)="bindingGroups()"
        [loading]="bindingLoading"
        [disabled]="bindingNum === 0"
      >
        <aui-icon icon="copy"></aui-icon>
        {{ 'binding' | translate }}
      </button>
      <button
        aui-button="primary"
        [plain]="true"
        (click)="initDevopsTools()"
        [disabled]="bindingNum === 0"
      >
        <aui-icon
          icon="basic:over_next"
          [ngClass]="{ icon: bindingNum > 0 }"
        ></aui-icon>
        {{ 'complete_and_init_devops_tools' | translate }}
      </button>
    </ng-container>
    <ng-container *ngIf="stage === 3">
      <button aui-button="primary" (click)="finish()">
        {{ 'complete_initialization' | translate }}
      </button>
    </ng-container>
    <button
      aui-button
      (click)="navigateToProjectOverview()"
      [disabled]="!!nsCreateStatus"
    >
      {{ 'cancel' | translate }}
    </button>
  </div>
  <ng-template #createNsLoading></ng-template>
</div>
