<aui-dialog-header>
  {{titlePrefix}}{{ 'k8s_service' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm>
    <rc-k8s-service-form
      name="service"
      [podControllers]="podControllers"
      [relatedAlbs]="relatedAlbs"
      [(ngModel)]="service"
    ></rc-k8s-service-form>
  </form>
  <!-- <pre>{{service | json}}</pre> -->
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
    <button aui-button="primary" (click)="confirm()">
      {{ 'confirm' | translate }}
    </button>
  </div>
</aui-dialog-footer>
