<aui-card>
  <div auiCardHeader>
    <span>{{ 'k8s_service' | translate }}</span>
    <span fxFlex></span>
    <button aui-button (click)="add()">
      {{ 'add_service' | translate }}
    </button>
  </div>

  <rc-array-form-table
    [noRowSeparator]="true"
    resourceName="k8s_service"
    (remove)="remove($event)"
    (add)="add()"
    [rows]="services"
  >
    <ng-container *rcArrayFormTableRow="let item">
      <td>
        <rc-service-display [service]="item"></rc-service-display>
      </td>
    </ng-container>
    <ng-container *rcArrayFormTableRowControl="let item; let index = index">
      <div class="action-col__vertical">
        <aui-icon icon="basic:pencil_edit" (click)="update(index)"></aui-icon>
        <aui-icon icon="basic:minus_circle" (click)="remove(index)"></aui-icon>
      </div>
    </ng-container>
    <ng-container *rcArrayFormTableFooter></ng-container>
  </rc-array-form-table>
</aui-card>
