<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="back()">
        {{ 'nav_jenkins' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="back()">
        {{ 'nav_jenkins_pipelines' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'jenkins_pipeline_create' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<form
  class="form"
  novalidate
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
  (ngSubmit)="onSubmit()"
  [rcLoadingMask]="!initialValue"
>
  <div class="form-content" auiTocContainer #toc="auiTocContainer">
    <div class="tips" #tips>
      <aui-inline-alert
        closable="true"
        *ngIf="
          !spaces ||
            !integrations ||
            (spaces && spaces.length && integrations && integrations.length);
          else no_resource
        "
      >
        <div [innerHTML]="'jenkins_pipeline_create_tips' | translate"></div>
      </aui-inline-alert>
      <ng-template #no_resource>
        <aui-inline-alert
          closable="true"
          type="error"
          [content]="'jenkins_no_resource_waring' | translate"
        ></aui-inline-alert>
      </ng-template>
    </div>
    <div class="form-group" auiTocContent="basic">
      <div class="form-group-header">
        {{ 'jenkins_pipeline_basic_info' | translate }}
      </div>
      <div class="form-group-content">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'name' | translate }}</label>
          <input
            auiFormItemControl
            formControlName="name"
            type="text"
            aui-input
            [required]="true"
            pattern="[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?"
            [maxLength]="36"
          />
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'jenkins_pipeline_display_name' | translate }}
          </label>
          <input
            auiFormItemControl
            formControlName="display_name"
            type="text"
            aui-input
            [maxLength]="100"
          />
        </aui-form-item>

        <aui-form-item [hidden]="spaces && spaces.length === 1">
          <label auiFormItemLabel>{{ 'space' | translate }}</label>
          <aui-select
            auiFormItemControl
            formControlName="space_name"
            filterable
            required
            [loading]="!spaces"
            [placeholder]="'space' | translate"
          >
            <aui-option
              *ngFor="let space of spaces"
              [value]="space.name"
              [label]="space.name"
            >
              {{ space.name }}
            </aui-option>
          </aui-select>
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'jenkins_integration' | translate }}
          </label>
          <aui-select
            auiFormItemControl
            formControlName="jenkins_integration_id"
            filterable
            required
            [loading]="!integrations"
            [placeholder]="'jenkins_integration' | translate"
            (ngModelChange)="onIntegrationChange$.next($event)"
          >
            <aui-option
              *ngFor="let integration of integrations"
              [value]="integration.id"
              [label]="integration.name"
            >
              {{ integration.name }}
            </aui-option>
          </aui-select>
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel>{{ 'description' | translate }}</label>
          <textarea
            auiFormItemControl
            formControlName="description"
            aui-input
            [maxLength]="512"
          ></textarea>
        </aui-form-item>
      </div>
    </div>
    <div class="form-group" auiTocContent="code_repo">
      <div class="form-group-header">
        {{ 'jenkins_pipeline_select_code_repo' | translate }}
      </div>
      <div class="form-group-content">
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'jenkins_code_repository' | translate }}
          </label>
          <aui-radio-group
            auiFormItemControl
            formControlName="source"
            (ngModelChange)="onCodeClientChange$.next($event)"
            [rcLoadingMask]="!codeClients"
          >
            <aui-radio-button
              *ngFor="let codeClient of codeClients"
              [value]="codeClient.name"
              [disabled]="!initialized"
            >
              {{ codeClient.displayName }}
            </aui-radio-button>
          </aui-radio-group>
        </aui-form-item>

        <aui-form-item
          [hidden]="['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
        >
          <label auiFormItemLabel>
            {{ 'jenkins_code_account' | translate }}
          </label>
          <aui-radio-group
            auiFormItemControl
            formControlName="code_org"
            (ngModelChange)="onCodeOrgChange$.next($event)"
            [hidden]="isSelectedCodeClientNotBind"
            [rcLoadingMask]="!codeOrgs"
          >
            <aui-radio-button
              *ngFor="let codeOrg of codeOrgs"
              [value]="codeOrg.name"
            >
              {{ codeOrg.name }}
            </aui-radio-button>
          </aui-radio-group>
          <rc-repo-not-bind-hint
            *ngIf="isSelectedCodeClientNotBind"
          ></rc-repo-not-bind-hint>
        </aui-form-item>

        <aui-form-item
          [hidden]="['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
        >
          <label auiFormItemLabel>
            {{ 'jenkins_code_repository_address' | translate }}
          </label>
          <rc-code-repository-select
            formControlName="code_repo"
            auiFormItemControl
            [codeClient]="form.value.source"
            [codeOrg]="form.value.code_org"
            [required]="!['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
            rcErrorsTooltip
            [rcErrorsTooltipInline]="true"
          ></rc-code-repository-select>
        </aui-form-item>

        <aui-form-item [hidden]="!['GIT', 'SVN'].includes(form.value.source)">
          <label auiFormItemLabel>
            {{ 'jenkins_code_repository_address' | translate }}
          </label>
          <input
            auiFormItemControl
            formControlName="repository_path"
            type="text"
            aui-input
            [required]="['GIT', 'SVN'].includes(form.value.source)"
            placeholder="{{
              (['GIT'].includes(form.value.source)
                ? 'jenkins_git_repo_address_example'
                : 'jenkins_svn_repo_address_example') | translate
            }}"
            pattern="^(http(s?):\/\/.+)|(git@.+:.+)|(ssh:\/\/.+@.+)|(git:\/\/.+)"
            [maxLength]="512"
          />
        </aui-form-item>

        <aui-form-item
          [hidden]="['NOT_USE', 'SVN'].includes(form.value.source)"
        >
          <label auiFormItemLabel>{{ 'code_branch' | translate }}</label>
          <input
            auiFormItemControl
            formControlName="branch"
            type="text"
            aui-input
            [placeholder]="'jenkins_code_repo_branch_tip' | translate"
            [required]="!['NOT_USE', 'SVN'].includes(form.value.source)"
            [maxLength]="512"
          />
          <aui-icon
            auiFormItemAddon
            icon="basic:question"
            [auiTooltip]="'jenkins_pipeline_code_branch_hint' | translate"
          ></aui-icon>
        </aui-form-item>

        <div class="credential-field">
          <!-- TODO: rc-form-field ignore tag classes -->
          <aui-form-item [hidden]="!['GIT', 'SVN'].includes(form.value.source)">
            <label auiFormItemLabel>
              {{ 'jenkins_code_credential' | translate }}
            </label>
            <aui-select
              auiFormItemControl
              formControlName="credential_name"
              filterable
              required
              [loading]="!credentials"
              [placeholder]="'jenkins_code_credential' | translate"
            >
              <aui-option
                *ngFor="let credential of credentials"
                [value]="credential.name"
                [label]="credential.display_name"
              >
                {{ credential.display_name }}
              </aui-option>
            </aui-select>
            <a
              href="javascript:void(0)"
              (click)="addCredential()"
              class="add-credential"
              *ngIf="createCredentialEnabled"
              style="margin-left:8px;"
            >
              {{ 'jenkins_create_credential' | translate }}
            </a>
          </aui-form-item>
        </div>
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'jenkins_pipeline_script_type' | translate }}
          </label>
          <aui-radio-group auiFormItemControl formControlName="type">
            <aui-radio-button
              *ngFor="let scriptType of scriptTypes"
              [value]="scriptType.type"
              [disabled]="form.value.source === 'NOT_USE'"
            >
              {{ scriptType.name }}
            </aui-radio-button>
          </aui-radio-group>
        </aui-form-item>

        <aui-form-item [hidden]="form.value.type !== 'INLINE'">
          <label auiFormItemLabel>
            {{ 'jenkin_script_content' | translate }}
          </label>
          <aui-code-editor
            *ngIf="form.value.type === 'INLINE'"
            auiFormItemControl
            formControlName="script"
            style="width: 100%;"
            [required]="form.value.type === 'INLINE'"
            [actionsConfig]="actionsConfigCreate"
            [options]="codeEditorOptions"
          ></aui-code-editor>
        </aui-form-item>

        <div
          class="jenkinsfile_content_example"
          [hidden]="form.value.type !== 'INLINE'"
        >
          <a (click)="jenkinsfileExample()">
            {{ 'jenkinsfile_content_example' | translate }}
          </a>
        </div>
        <aui-form-item [hidden]="form.value.type !== 'FROM_SCM'">
          <label auiFormItemLabel>
            {{ 'jenkins_script_path' | translate }}
          </label>
          <input
            auiFormItemControl
            formControlName="script_path"
            type="text"
            aui-input
            [required]="form.value.type === 'FROM_SCM'"
            [maxLength]="512"
          />
        </aui-form-item>
      </div>
    </div>
    <div class="form-group triggers" auiTocContent="triggers">
      <div class="form-group-header">
        {{ 'jenkins_pipeline_triggers' | translate }}
      </div>
      <div class="form-group-content" formArrayName="triggers">
        <div
          *ngFor="
            let trigger of getFormControls('triggers');
            trackBy: triggerIdentify
          "
        >
          <rc-pipeline-form-trigger
            [form]="trigger"
            [codeRepoSource]="form.value.source"
            (remove)="removeTrigger(trigger)"
            #triggerComponent
          ></rc-pipeline-form-trigger>
        </div>
        <div class="trigger-rows">
          <div class="fields-name">
            {{ 'jenkins_pipeline_triggers' | translate }}
          </div>
          <div>
            <button
              aui-button
              type="button"
              size="mini"
              [auiTooltip]="triggerTypeTemplate"
              auiTooltipPosition="top"
              auiTooltipType="plain"
              auiTooltipTrigger="click"
              #triggerSelect="auiTooltip"
            >
              <i class="fa fa-plus-circle"></i>
              {{ 'jenkins_add_trigger' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="scroll-spy" [style.top]="getMenuTop(toc.scrollTop)">
    <li>
      <a href="javascript:void(0)" auiTocLink="basic" [for]="toc">
        {{ 'jenkins_pipeline_basic_info' | translate }}
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" auiTocLink="code_repo" [for]="toc">
        {{ 'jenkins_pipeline_select_code_repo' | translate }}
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" auiTocLink="triggers" [for]="toc">
        {{ 'jenkins_pipeline_triggers' | translate }}
      </a>
    </li>
  </ul>
  <div class="form-footer">
    <button
      aui-button="default"
      type="button"
      (click)="cancelCreate()"
      [disabled]="saving"
    >
      {{ 'cancel' | translate }}
    </button>
    <button
      aui-button="primary"
      type="submit"
      [disabled]="
        saving || !initialized || !spaces.length || !integrations.length
      "
      [loading]="saving"
    >
      {{ 'save' | translate }}
    </button>
  </div>
</form>

<ng-template #triggerTypeTemplate>
  <div class="trigger-select">
    <div class="trigger-select-title">
      {{ 'jenkins_select_trigger_type' | translate }}
    </div>
    <div class="trigger-select-body">
      <a
        href="javascript:void(0)"
        (click)="addTrigger('cron')"
        [class.disabled]="cronTriggerDisabled()"
      >
        <i class="fa fa-clock-o"></i>
        <span>
          {{ 'jenkins_trigger_cron' | translate }}
        </span>
      </a>
      <a href="javascript:void(0)" (click)="addTrigger('image_change')">
        <i class="fa fa-building"></i>
        <span>
          {{ 'jenkins_trigger_image_change' | translate }}
        </span>
      </a>
      <a
        href="javascript:void(0)"
        (click)="addTrigger('code_change_hook')"
        [class.disabled]="codeChangeHookTriggerDisabled()"
      >
        <i class="fa fa-code-fork"></i>
        <span>
          {{ 'jenkins_trigger_code_change_hook' | translate }}
        </span>
      </a>
    </div>
  </div>
</ng-template>
