<aui-dialog-header>
  {{ (data.type === 'env' ? 'envs_update' : 'update_env_from') | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <h3 *ngIf="shouldShowContainer" class="rc-secondary-title">
    {{ data.containerName }}
  </h3>
  <form #form="ngForm" auiForm>
    <!-- env -->
    <ng-container *ngIf="data.type === 'env'">
      <rc-env-form
        name="envs"
        [cluster]="data.baseParams.cluster"
        [namespace]="data.baseParams.namespace"
        [(ngModel)]="filteredEnvs"
      ></rc-env-form>
    </ng-container>
    <!-- envFrom -->
    <ng-container *ngIf="data.type === 'envFrom'">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'env_from' | translate }}</label>
        <rc-env-from-form
          name="env-from"
          [cluster]="data.baseParams.cluster"
          [namespace]="data.baseParams.namespace"
          [(ngModel)]="envFrom"
        ></rc-env-from-form>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()" [loading]="submitting">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
