.vertical-tab {
  position: absolute;
  width: 100%;
}

.vertical-tabs {
  display: flex;

  .vertical-tabs-content {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .vertical-nav-tabs {
    display: flex;
    flex-direction: column;
  }
}
