<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <ng-container
      *ngIf="initialized && (!isSubaccount || !operationViewEnabled)"
    >
      <aui-breadcrumb-item>
        <span>
          {{ title }}
        </span>
        <a href="javascript:void(0);" (click)="goback()">
          &nbsp;&nbsp;{{ 'go_back' | translate }} >>
        </a>
      </aui-breadcrumb-item>
    </ng-container>
    <ng-container *ngIf="initialized && isSubaccount && operationViewEnabled">
      <aui-breadcrumb-item>
        {{ 'rbac' | translate }}
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>
        <a
          href="javascript:void(0);"
          [routerLink]="['/console/admin/rbac/users']"
        >
          {{ 'users_management' | translate }}
        </a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>
        {{ username + '@' + account.namespace }}
      </aui-breadcrumb-item>
    </ng-container>
  </aui-breadcrumb>
</ng-container>

<aui-card>
  <div auiCardHeader>
    <span>
      {{ title }}
    </span>
    <button
      aui-button="primary"
      plain="true"
      [auiDropdown]="actionMenu"
      [disabled]="!canUpdateInfo && !canDeleteUser"
    >
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #actionMenu>
      <aui-menu-item
        *ngIf="canUpdateInfo"
        [routerLink]="['/console/user-center/update']"
        [queryParams]="{ username: username }"
      >
        {{ (!username ? 'update_account_info' : 'update_user_info') | translate
        }}
      </aui-menu-item>
      <aui-menu-item *ngIf="canDeleteUser" (click)="deleteAccount()">
        {{ 'delete_users' | translate }}
      </aui-menu-item>
    </aui-menu>
  </div>
  <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
  <rc-user-infos
    *ngIf="initialized"
    [models]="models"
    [username]="username"
    [codeClients]="codeClients"
  ></rc-user-infos>
</aui-card>
<div style="height: 20px;"></div>
<rc-roles-card
  *ngIf="initialized && isSubaccount"
  [user]="user"
></rc-roles-card>
