@import 'var';

:host {
  display: flex;
  flex-flow: column-reverse;
}
.foldable-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.foldable-bar {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 100%;
  background-color: #fafafa;
  color: $color-primary;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &.foldable-bar--button {
    border: $default-border;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 20px;
    width: 40px;
    background-color: #fafafa;
    opacity: 1;
    margin-bottom: -1px;
    &:hover {
      background-color: #e6f5fc;
    }
  }
}
