<div class="foldable-wrapper">
  <div
    class="foldable-bar"
    [ngClass]="{ 'foldable-bar--button': mode === 'button' }"
    (click)="folded = !folded"
  >
    <div>{{ hint }}</div>
    <aui-icon
      [icon]="folded ? 'basic:angle_double_down' : 'basic:angle_double_up'"
    ></aui-icon>
  </div>
</div>

<div [hidden]="folded" class="foldable-content">
  <ng-content></ng-content>
</div>
