<div class="card" [class.card--checked]="formValue('enabled')">
  <div class="checkbox">
    <aui-checkbox
      [formControl]="form.controls.enabled"
      (click)="(triggerEnabledChanged)"
    ></aui-checkbox>
  </div>
  <div class="v-line"></div>
  <div class="input">
    <div class="title">
      <aui-icon
        [icon]="'basic:code'"
        [ngClass]="{ enabled: formValue('enabled') }"
      ></aui-icon>
      {{ 'pipeline_timing_scan' | translate }}
    </div>
    <hr />
    <div>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'pipeline_trigger_cron' | translate }}
        </label>
        <aui-select
          auiFormItemControl
          placeholder="{{
            'pipeline_trigger_select_input_placeholder' | translate
          }}"
          [formControl]="form.controls.cron_string"
          [clearable]="true"
          [placeholder]="select_or_input | translate"
          [required]="formValue('enabled')"
        >
          <aui-option
            *ngFor="let rule of codeCheckOptions"
            [value]="rule.value"
            [label]="rule.name | translate"
          >
            {{ rule.name | translate }}
          </aui-option>
        </aui-select>
        <div auiFormItemHint>{{ 'pipeline_trigger_tips' | translate }}</div>
      </aui-form-item>
    </div>
  </div>
</div>
