<div class="days" [ngClass]="{ error: errors?.leastOneDay }">
  <div class="day-items">
    <aui-checkbox [(ngModel)]="model.days.mon" (ngModelChange)="dayChange()">
      {{ 'pipeline_monday' | translate }}
    </aui-checkbox>
    <aui-checkbox [(ngModel)]="model.days.tue" (ngModelChange)="dayChange()">
      {{ 'pipeline_tuesday' | translate }}
    </aui-checkbox>
    <aui-checkbox [(ngModel)]="model.days.wed" (ngModelChange)="dayChange()">
      {{ 'pipeline_wednesday' | translate }}
    </aui-checkbox>
    <aui-checkbox [(ngModel)]="model.days.thu" (ngModelChange)="dayChange()">
      {{ 'pipeline_thursday' | translate }}
    </aui-checkbox>
    <aui-checkbox [(ngModel)]="model.days.fri" (ngModelChange)="dayChange()">
      {{ 'pipeline_friday' | translate }}
    </aui-checkbox>
    <aui-checkbox [(ngModel)]="model.days.sat" (ngModelChange)="dayChange()">
      {{ 'pipeline_saturday' | translate }}
    </aui-checkbox>
    <aui-checkbox [(ngModel)]="model.days.sun" (ngModelChange)="dayChange()">
      {{ 'pipeline_sunday' | translate }}
    </aui-checkbox>
  </div>
</div>
<div class="errors" *ngIf="errors?.leastOneDay">
  {{ 'pipeline_leastOneDay' | translate }}
</div>
<div class="time-container">
  <div
    class="time"
    *ngFor="let time of model.times; let i = index; trackBy: trackFn"
  >
    <aui-icon icon="basic:time"></aui-icon>
    <span>{{ time }}</span>
    <aui-icon
      icon="close_8"
      style="cursor: pointer;"
      (click)="deleteTime(i)"
    ></aui-icon>
  </div>
  <div style="display: flex">
    <rc-trigger-time-selector
      (timeSelected)="timeSelected($event)"
    ></rc-trigger-time-selector>
    <p class="errors least_time" *ngIf="errors?.leastOneTime">
      {{ 'pipeline_leastOneTime' | translate }}
    </p>
  </div>
</div>
