.time {
  display: inline-block;
  background-color: #fafafa;
  border-radius: 14px;
  width: 100px;
  line-height: 28px;
  height: 28px;
  margin: 4px;
  border: 1px solid #ededed;
  aui-icon {
    margin: 0 6px;
  }
}
.time-container {
  display: flex;
  flex-flow: wrap;
  margin-top: 18px;
  align-items: center;
  div:not(:first-of-type) {
    margin: 0 4px;
  }
}
.errors {
  color: #eb6262;
  font-size: 12px;
  &.least_time {
    line-height: 40px;
  }
}
