<div class="card" [class.card--checked]="formValue('enabled')">
  <div class="checkbox">
    <aui-checkbox
      [formControl]="form.controls.enabled"
      (click)="triggerEnabledChanged()"
    ></aui-checkbox>
  </div>
  <div class="v-line"></div>
  <div class="input">
    <div class="title">
      <aui-icon
        [icon]="'basic:time'"
        [ngClass]="{ enabled: formValue('enabled') }"
      ></aui-icon>
      {{ 'pipeline_cron_trigger' | translate }}
    </div>
    <hr />
    <div>
      <aui-form-item>
        <label auiFormItemLabel>
          <span>{{ 'pipeline_trigger_cron' | translate }}:</span>
        </label>
        <button
          aui-button="text"
          type="button"
          class="change_type"
          (click)="inputTypeChange()"
        >
          {{
            (form.controls.sourceType.value === 'select'
              ? 'pipeline_custom'
              : 'pipeline_select_rule') | translate
          }}
        </button>
        <input
          *ngIf="form.controls.sourceType.value === 'input'"
          auiFormItemControl
          [formControl]="form.controls.cron_string"
          aui-input
          placeholder="{{ 'pipeline_cron_example' | translate }}"
          [required]="formValue('enabled')"
        />
        <rc-cron-trigger-selector
          style="min-width:0"
          *ngIf="form.controls.sourceType.value === 'select'"
          auiFormItemControl
          [formControl]="form.controls.cron_object"
          [required]="formValue('enabled')"
          [errors]="form.controls.cron_object.errors"
        ></rc-cron-trigger-selector>
        <div auiFormItemHint>
          <span
            class="next_time_err"
            *ngIf="
              nextTime == 'invalid' &&
              form.controls.sourceType.value === 'input'
            "
          >
            {{ 'pipeline_format_invalid' | translate }}
          </span>
          <span
            *ngIf="
              (nextTime > 0 || loading) &&
              form.controls.sourceType.value === 'input'
            "
            class="cron-check"
          >
            {{ 'pipeline_next_trigger_time' | translate }}
            <span *ngIf="nextTime">{{ nextTime | rcFormatUtcStr }}</span>
            <span *ngIf="loading">
              <aui-icon icon="spinner"></aui-icon>
            </span>
          </span>
          <span *ngIf="form.controls.sourceType.value === 'input'">
            {{ 'pipeline_cron_detail' | translate }}
          </span>
        </div>
      </aui-form-item>
    </div>
  </div>
</div>
