@import 'var';
:host {
  .load-balancer-port-add-service {
    width: 100%;
    display: flex;
    flex-direction: column;

    .rule-select-table {
      width: 100%;
      border: 1px solid $silver-6;
      margin-bottom: 20px;
      .rule-select-title {
        height: 34px;
        text-align: center;
        background-color: $silver-6;
      }
      .rule-select-table-row {
        text-align: center;
        height: 35px;
        border-bottom: 1px solid $silver-6;
      }
    }

    .table_have_no_data {
      display: flex;
      align-items: center;
      flex-flow: column;
      margin: -20px 0 20px 0;
      color: #999;
      padding-top: 20px;
    }
  }
  .aui-form-item__rule {
    ::ng-deep {
      .aui-form-item__content {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  .more-detail {
    background-color: $blue-3;
    color: #fff;
    width: 16px;
    height: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $blue-7;
    }
  }

  .indicator-item {
    display: flex;
    word-break: break-all;

    > :first-child {
      margin-right: 5px;
      white-space: nowrap;

      &:after {
        content: ':';
      }
    }
  }
  .rule-container {
    margin-top: 6px;
  }
}
