<aui-dialog-header>
  {{ modalData.title }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    class="load-balancer-port-add-service"
    #formRef="ngForm"
    auiForm
    auiFormLabelWidth="100px"
    [rcLoadingMask]="confirming || !serviceList.length"
  >
    <aui-inline-alert
      closable="true"
      [content]="'load_balancer_port_add_description' | translate"
    ></aui-inline-alert>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'load_balancer' | translate }}</label>
      {{ modalData.lbName }}
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'port' | translate }}</label>
      {{ modalData.port }}
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'protocol' | translate }}</label>
      {{ modalData.protocol | uppercase }}
    </aui-form-item>
    <aui-form-item class="aui-form-item__rule">
      <label auiFormItemLabel>{{ 'rule' | translate }}</label>
      <ng-container *ngIf="type === 'create'">
        <table class="rule-select-table">
          <thead>
            <tr class="rule-select-title">
              <td style="width: 150px">{{ 'select' | translate }}</td>
              <td class="rule-select-column">{{ 'rule' | translate }}</td>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="modalData.ruleList.length">
              <tr
                *ngFor="
                  let rule of modalData.ruleList;
                  let idx = index;
                  trackBy: idx
                "
                class="rule-select-table-row"
              >
                <td>
                  <aui-checkbox
                    [disabled]="rule.type === 'system'"
                    [value]="selectedRuleIndex === idx"
                    (valueChange)="ruleSelectedChanged($event, idx)"
                  ></aui-checkbox>
                </td>
                <td style="text-align: left">
                  <div *ngIf="rule.domain && !rule.dsl">
                    {{ 'domain' | translate }}: {{ rule.domain }}
                  </div>
                  <div
                    *ngFor="
                      let indicator of getPartiaIndicators(rule.spec.dsl)
                        .indicators
                    "
                  >
                    <div>
                      <span>
                        {{ 'rule_' + indicator.type | lowercase | translate }}
                      </span>
                      <span>
                        <ng-container *ngIf="indicator.key; else noKey">
                          <span *ngFor="let value of indicator.values">
                            {{ indicator.key }}: {{ value.slice(1).join('-') }}:
                          </span>
                        </ng-container>
                        <ng-template #noKey>
                          <ng-container *ngFor="let value of indicator.values">
                            <span *ngFor="let v of value.slice(1)">
                              {{ v }}
                            </span>
                          </ng-container>
                        </ng-template>
                      </span>
                    </div>
                  </div>
                  <div>
                    <span
                      class="more-detail"
                      *ngIf="getPartiaIndicators(rule.spec.dsl).more"
                      [auiTooltip]="indicatorDetail"
                      auiTooltipPosition="bottom start"
                    >
                      <aui-icon icon="ellipsis_h_s"></aui-icon>
                    </span>
                    <ng-template #indicatorDetail>
                      <div
                        class="indicator-item"
                        *ngFor="let indicator of parseDSL(rule.spec.dsl)"
                      >
                        <div>
                          {{ 'rule_' + indicator.type | lowercase | translate
                          }}:
                        </div>
                        <div style="margin-left:10px">
                          <ng-container *ngFor="let value of indicator.values">
                            <div>
                              {{ indicator.key && indicator.key + ':' }}{{
                              value.slice(1).join('-') }}
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div *ngIf="!modalData.parsedRules.length" class="table_have_no_data">
          {{ 'have_no_data' | translate }}
        </div>
      </ng-container>
      <ng-container *ngIf="type === 'add'">
        <div class="rule-container">
          <div class="indicator-item" *ngFor="let indicator of ruleIndicators">
            <div>{{ 'rule_' + indicator.type | lowercase | translate }}</div>
            <div>
              <ng-container *ngIf="indicator.key; else noKey">
                <div *ngFor="let value of indicator.values">
                  {{ indicator.key }}: {{ value.slice(1).join('-') }}
                </div>
              </ng-container>
              <ng-template #noKey>
                <ng-container *ngFor="let value of indicator.values">
                  <div *ngFor="let v of value.slice(1)">{{ v }}</div>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-container>
    </aui-form-item>
    <aui-form-item *ngIf="showServiceGroup()">
      <label auiFormItemLabel>{{ 'kube_service_group' | translate }}</label>
      <rc-load-balancer-service-group-form
        name="kube_service_group"
        *ngIf="serviceList.length"
        [clusterName]="cluster"
        [namespaceList]="namespaceList"
        [serviceList]="serviceList"
        [(ngModel)]="ruleServices"
      ></rc-load-balancer-service-group-form>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button
    type="button"
    style="margin-right:8px"
    (click)="confirmed.next()"
  >
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    [disabled]="!showServiceGroup() || confirming"
    [loading]="confirming"
    (click)="submitForm(formRef)"
    type="button"
  >
    {{ 'confirm' | translate }}
  </button>
</aui-dialog-footer>
