<ng-container>
  <ng-container *rcPageHeaderContent>
    <aui-breadcrumb>
      <aui-breadcrumb-item>{{ 'container' | translate }}</aui-breadcrumb-item>
      <aui-breadcrumb-item>
        <a routerLink="../list">{{ 'resource_management' | translate }}</a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>
        {{ (isUpdate ? 'update' : 'create') | translate }}
      </aui-breadcrumb-item>
    </aui-breadcrumb>
  </ng-container>
</ng-container>

<rc-resource-create></rc-resource-create>
