<ng-container>
  <ng-container *rcPageHeaderContent>
    <aui-breadcrumb>
      <aui-breadcrumb-item>{{ 'cluster' | translate }}</aui-breadcrumb-item>
      <aui-breadcrumb-item>
        <a routerLink=".">{{ 'resource_management' | translate }}</a>
      </aui-breadcrumb-item>
    </aui-breadcrumb>
  </ng-container>
</ng-container>

<rc-resource-management-list></rc-resource-management-list>
