.header-action {
  display: flex;
  justify-content: space-between;

  button {
    padding: 0 12px;
    height: 28px;
    border-radius: 14px;
    border: none;
    outline: none;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    &.isSelected {
      color: #fff;
      background-color: #009ce3;
    }
    &[disabled] {
      color: #999;
      cursor: no-drop;
    }
  }
}
.cards-container {
  max-height: 420px;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 12px;
}

.card {
  margin-top: 12px;
  border: 1px solid transparent;
  position: relative;
  &:hover {
    cursor: pointer;
    border: 1px solid #009ce3;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  }
  &.selected {
    border: 1px solid #009ce3;
    .check-icon {
      display: inline-block;
    }
    &:hover {
      cursor: default;
      box-shadow: 0 0 0 0;
    }
  }
  .check-icon {
    color: #009ce3;
    position: absolute;
    bottom: -3px;
    right: 0;
    display: none;
  }
}

.no-template-hint {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

::ng-deep {
  .rc-console .no-data {
    border: none;
  }
}
