:host {
  display: block;
  ::ng-deep {
    .aui-form-item {
      margin-right: 24px;
      margin-bottom: 12px;
    }
  }

  .monitor-toolbar {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    label:not(:first-of-type) {
      margin-left: 20px;
    }
    aui-select {
      width: 200px;
      margin: 0 0 12px 8px;
    }
  }

  .chart-container {
    height: 240px;
    margin-bottom: 16px;
    background-color: #fff;
    .chart-title {
      padding: 10px 8px;
      border-top: 1px solid #ededed;
      border-bottom: 1px solid #ededed;
      background: #fafafa;
    }
    .chart {
      highcharts-chart {
        width: 100%;
        height: 188px;
        display: block;
      }
    }
  }
}
