<div class="monitor-toolbar">
  <label auiFormItemLabel>
    {{ 'alarm_group_type' | translate }}:
  </label>
  <aui-select
    auiFormItemControl
    [(ngModel)]="selectedGroupMode"
    (ngModelChange)="onSearch()"
  >
    <aui-option
      *ngFor="let mode of modes"
      [value]="mode.key"
      [label]="mode.name | translate"
    >
      {{ mode.name | translate }}
    </aui-option>
  </aui-select>

  <label auiFormItemLabel>
    {{ 'monitor_aggregator' | translate }}:
  </label>
  <aui-select
    auiFormItemControl
    [(ngModel)]="selectedAggregator"
    (ngModelChange)="onSearch()"
  >
    <aui-option
      *ngFor="let aggregator of aggregators"
      [value]="aggregator.key"
      [label]="aggregator.name | translate"
    >
      {{ aggregator.name | translate }}
    </aui-option>
  </aui-select>

  <label auiFormItemLabel>
    {{ 'monitor_period' | translate }}:
  </label>
  <aui-select
    auiFormItemControl
    [(ngModel)]="selectedTimeStampOption"
    (ngModelChange)="onTimeStampOptionSelect()"
  >
    <aui-option
      *ngFor="let timeStampOption of timeStampOptions"
      [value]="timeStampOption.type"
      [label]="timeStampOption.name | translate"
    >
      {{ timeStampOption.name | translate }}
    </aui-option>
  </aui-select>
  <div
    class="rc-time-select"
    *ngIf="selectedTimeStampOption === 'custom_time_range'"
  >
    <label>{{ 'from' | translate }}</label>
    <div
      (valueChange)="onStartTimeSelect($event)"
      [rcCalendar]="dateTimeOptions"
      [(value)]="queryDatesShown.start_time"
    >
      <input aui-input [value]="queryDatesShown.start_time" />
    </div>
    <label>{{ 'to' | translate }}</label>
    <div
      (valueChange)="onEndTimeSelect($event)"
      [rcCalendar]="dateTimeOptions"
      [(value)]="queryDatesShown.end_time"
    >
      <input aui-input [value]="queryDatesShown.end_time" />
    </div>
    <button aui-button="primary" (click)="onSearch()">
      {{ 'confirm' | translate }}
    </button>
  </div>
</div>

<div class="chart-container">
  <div class="chart-title">{{ 'cpu_utilization' | translate }}</div>
  <div class="chart" [rcLoadingMask]="chartLoading">
    <highcharts-chart
      *ngIf="!chartLoading"
      [Highcharts]="Highcharts"
      [options]="cpuChartOptions"
    ></highcharts-chart>
  </div>
</div>

<div class="chart-container">
  <div class="chart-title">{{ 'memory_utilization' | translate }}</div>
  <div class="chart" [rcLoadingMask]="chartLoading">
    <highcharts-chart
      *ngIf="!chartLoading"
      [Highcharts]="Highcharts"
      [options]="memChartOptions"
    ></highcharts-chart>
  </div>
</div>

<div class="chart-container">
  <div class="chart-title">{{ 'sent_bytes' | translate }}</div>
  <div class="chart" [rcLoadingMask]="chartLoading">
    <highcharts-chart
      *ngIf="!chartLoading"
      [Highcharts]="Highcharts"
      [options]="sentBytesChartOptions"
    ></highcharts-chart>
  </div>
</div>

<div class="chart-container">
  <div class="chart-title">{{ 'received_bytes' | translate }}</div>
  <div class="chart" [rcLoadingMask]="chartLoading">
    <highcharts-chart
      *ngIf="!chartLoading"
      [Highcharts]="Highcharts"
      [options]="receivedBytesChartOptions"
    ></highcharts-chart>
  </div>
</div>
