$tool-chain-resource-icons: jira, taiga, gitlab, gitee, bitbucket, github,
  harbor, confluence, maven2;

@mixin allocate-resource-icon() {
  ::ng-deep {
    .allocate-resource-icon {
      @each $type in $tool-chain-resource-icons {
        &-#{$type} {
          aui-tag .aui-tag__content:before {
            background: url('/images/tool-chain/list/#{$type}.svg') no-repeat;
            background-size: 12px 12px;
            width: 12px;
            height: 12px;
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 2px;
          }
        }
      }
    }
    aui-multi-select {
      aui-tag .aui-tag--info {
        background-color: #fafafa;
        border: 1px solid #ccc;
        color: #666;
      }
    }
  }
}
