.select {
  width: 100%;
  cursor: pointer;
  background-color: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 38px;

  .select-button {
    margin: 5px 8px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 28px;
    border: 1px dotted #ccc;
    padding: 4px;
    border-radius: 2px;
    aui-icon {
      margin-right: 8px;
    }
    &:hover {
      background-color: #e5f5fc;
    }
  }
}
.modify {
  display: flex;
  height: 32px;
  width: 100%;
  border-radius: 2px;
  justify-content: space-between;
  padding: 6px;
}

form {
  width: 100%;
  aui-select {
    width: 100%;
  }
}

.repository-type {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-right: 8px;
}

.repository-type {
  display: flex;
  align-items: center;
  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

.secret_addon {
  margin-left: 8px;
}

:host {
  aui-option {
    ::ng-deep {
      .aui-option {
        max-width: 700px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
.repo-icon {
  display: flex;
  align-items: center;
  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

.secret-option {
  width: 730px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
