<div class="select">
  <div
    class="select-button"
    (click)="open()"
    *ngIf="!repositoryDisplay; else modify"
  >
    <aui-icon icon="basic:plus"></aui-icon>
    {{ 'pipeline_select' | translate }}
  </div>
  <ng-template #modify>
    <div class="modify">
      {{ repositoryDisplay }}
      <aui-icon
        title="{{ 'change' | translate }}"
        (click)="open()"
        title="{{ 'change' | translate }}"
        icon="basic:pencil_edit"
        style="color: #0092df"
      ></aui-icon>
    </div>
  </ng-template>
</div>

<ng-template #repo>
  <form [formGroup]="modelGroup" (ngSubmit)="onSubmit()">
    <aui-dialog-header>
      <div>{{ 'pipeline_from_repo' | translate }}</div>
    </aui-dialog-header>
    <aui-dialog-content>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'pipeline_method' | translate }}</label>
        <aui-radio-group [(value)]="sourceType">
          <aui-radio-button value="select">
            {{ 'pipeline_select' | translate }}
          </aui-radio-button>
          <aui-radio-button value="input">
            {{ 'pipeline_input' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <div class="rc-card-group">
        <div *ngIf="sourceType === 'input'">
          <aui-form-item>
            <label auiFormItemLabel>
              {{ 'pipeline_repo_url_type' | translate }}
            </label>
            <aui-radio-group auiFormItemControl formControlName="sourceType">
              <aui-radio-button value="GIT">
                <div class="repo-icon">
                  <img [src]="'/static/images/tool-chain/list/git.svg'" />
                  Git
                </div>
              </aui-radio-button>
              <aui-radio-button value="SVN">
                <div class="repo-icon">
                  <img [src]="'/static/images/tool-chain/list/svn.svg'" />
                  SVN
                </div>
              </aui-radio-button>
            </aui-radio-group>
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>
              {{ 'pipeline_repo_path' | translate }}
            </label>
            <input
              aui-input
              auiFormItemControl
              name="repo"
              formControlName="repo"
              required
            />
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'pipeline_secret' | translate }}</label>
            <aui-select
              formControlName="secret"
              [loading]="!(secrets$ | async)"
              name="secret"
              auiFormItemControl
              [clearable]="true"
              [trackFn]="trackFn"
            >
              <aui-option
                *ngFor="let secret of (secrets$ | async)"
                [label]="secret.name || ''"
                [value]="secret"
              >
                <div class="secret-option">
                  <span>{{ secret.name }}</span>
                  <span
                    class="secret-group__display-name"
                    *ngIf="!!secret.displayName"
                  >
                    ({{ secret.displayName }})
                  </span>
                </div>
              </aui-option>
              <aui-option-placeholder>
                {{ 'no_data' | translate }}
              </aui-option-placeholder>
            </aui-select>
            <div class="secret_addon">
              <button
                (click)="addSecret()"
                [disabled]="!secretCreatePermission"
                aui-button
                type="button"
              >
                {{ 'pipeline_secret_add' | translate }}
              </button>
            </div>
          </aui-form-item>
        </div>
        <div *ngIf="sourceType === 'select'">
          <aui-form-item>
            <label auiFormItemLabel>
              {{ 'pipeline_from_repo' | translate }}
            </label>
            <aui-select
              formControlName="bindingRepository"
              [loading]="!(codes$ | async)"
              name="bindingRepository"
              filterable
              auiFormItemControl
              required
            >
              <aui-option
                *ngFor="let code of (codes$ | async)"
                [value]="code.name"
              >
                <div class="repository-type">
                  <img
                    src="/static/images/tool-chain/list/{{
                      code.type?.toLowerCase()
                    }}.svg"
                  />
                  <span>{{ code.name }}</span>
                </div>
              </aui-option>
              <aui-option-placeholder>
                {{ 'no_data' | translate }}
              </aui-option-placeholder>
            </aui-select>
          </aui-form-item>
        </div>
      </div>
    </aui-dialog-content>
    <aui-dialog-footer>
      <button aui-button="primary" [disabled]="getSubmitDisabled()">
        {{ 'pipeline_confirm' | translate }}
      </button>
      <button aui-button type="button" (click)="hideDialog()">
        {{ 'cancel' | translate }}
      </button>
    </aui-dialog-footer>
  </form>
</ng-template>
