<aui-form-item>
  <label auiFormItemLabel>
    {{ 'pipeline_jenkinsfile_from_script' | translate }}
  </label>
  <div class="rc-pipeline-create-script__editor">
    <aui-code-editor
      auiFormItemControl
      [actionsConfig]="options"
      [options]="{ language: 'Jenkinsfile' }"
      [formControl]="form.controls.script"
      required
    ></aui-code-editor>
    <div class="rc-pipeline-create-script__actions">
      <a href="javascript:void(0)" (click)="viewExample()">
        {{ 'pipeline_view_jenkinsfile_example' | translate }}
      </a>
      <a href="https://jenkins.io/doc/book/pipeline/syntax/" target="_blank">
        {{ 'pipeline_pipeline_language' | translate }}
      </a>
    </div>
  </div>
</aui-form-item>
<ng-template #example>
  <aui-dialog-header>
    {{ 'pipeline_jenkinsfile_example' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <div class="rc-card-group">
      <aui-code-editor
        [style.width]="'100%'"
        [options]="exampleConfigs"
        [(ngModel)]="originalYaml"
      ></aui-code-editor>
    </div>
  </aui-dialog-content>
</ng-template>
