<ng-container *ngIf="dialogData; else templateListRef">
  <aui-dialog-header>
    {{ 'jenkins_template_create_pipeline' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <ng-container *ngTemplateOutlet="templateListRef"></ng-container>
  </aui-dialog-content>
</ng-container>

<ng-template #templateListRef>
  <div class="template-list-container">
    <div class="card-list-header">
      <aui-radio-group [(ngModel)]="type">
        <aui-radio-button
          *ngFor="let templateType of templateTypeList"
          [value]="templateType.value"
        >
          {{ templateType.name }}
        </aui-radio-button>
      </aui-radio-group>
      <div fxFlex></div>
      <aui-search
        [searchButton]="true"
        [keyword]="keyword"
        placeholder="{{ 'search_by_name_placeholder' | translate }}"
        (change)="search($event.target.value)"
        (clear)="clear()"
      ></aui-search>
    </div>
    <div [rcLoadingMask]="loading" style="height: 100%">
      <div class="cards">
        <div
          class="template-none-tips"
          *ngIf="!templates?.length && type === 'custom' && !loading"
        >
          {{ 'jenkins_template_custom_template_none' | translate }}
        </div>
        <div
          class="template-none-tips"
          *ngIf="!templates?.length && type !== 'custom' && !loading"
        >
          {{ 'no_results' | translate }}
        </div>
        <div class="template-card-container" *ngFor="let template of templates">
          <rc-pipeline-template-card
            [template]="template"
            [type]="listType"
            [routeParams]="routeParams"
            [canCreatePipeline]="canCreatePipeline"
          ></rc-pipeline-template-card>
        </div>
        <div class="template-card-container"></div>
        <div class="template-card-container"></div>
        <div class="template-card-container"></div>
        <div class="template-card-container"></div>
        <div class="template-card-container"></div>
      </div>
    </div>
  </div>
</ng-template>
