<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'jenkins_pipeline_template' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
  <div fxFlex></div>
  <aui-dropdown-button
    *ngIf="canViewRepo"
    size="medium"
    [disabled]="syncStatus === 'INPROGRESS'"
    (buttonClick)="actions.main.fn()"
  >
    <i class="fa fa-refresh" *ngIf="syncStatus === 'INPROGRESS'"></i>
    {{
      (syncStatus === 'INPROGRESS' && actions.main.type === 'sync'
        ? actions.main.processing_text
        : actions.main.text) | translate
    }}
    <span *ngIf="syncStatus === 'INPROGRESS' && actions.main.type === 'sync'">
      ...
    </span>
    <aui-menu size="small">
      <aui-menu-item
        *ngFor="let action of actions.others"
        [disabled]="action.disabled"
        (click)="action.fn()"
      >
        {{ action.text | translate }}
      </aui-menu-item>
    </aui-menu>
  </aui-dropdown-button>
</ng-container>
<rc-pipeline-template-list [listType]="0"></rc-pipeline-template-list>
<ng-template #syncDetailTemplate>
  <button aui-button (click)="syncReport()" size="small" style="float: right;">
    {{ 'jenkins_sync_report' | translate }}
  </button>
</ng-template>
