$queued: #009ce3;
$pending: #009ce3;
$running: #009ce3;
$failed: #eb6262;
$complete: #1bb393;
$cancelled: #cccccc;
$aborted: #f8ac58;
$unknown: #cccccc;

$status-color-map: (
  pending: $pending,
  queued: $queued,
  running: $running,
  failed: $failed,
  complete: $complete,
  cancelled: $cancelled,
  aborted: $aborted,
  unknown: $unknown,
);

.history-name__overview {
  cursor: pointer;
  color: #999;
  &:hover {
    color: #009ce3;
  }
  &--actived {
    color: #009ce3;
  }
}

.history-status {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  aui-icon {
    border-radius: 50%;
    margin-right: 4px;
  }

  @each $status, $color in $status-color-map {
    &.#{$status} {
      aui-icon {
        color: $color;
      }
    }
    &.bg.#{$status} {
      background-color: $color;
    }
    &.bg.#{$status} {
      aui-icon {
        color: #fff;
      }
    }
  }
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
  > div {
    font-size: 18px;
  }
}

.aui-table {
  &__column-actions {
    max-width: 40px;
  }
}
.triggers {
  display: flex;
  .trigger {
    min-width: 24px;
  }
}

.badges {
  margin-left: 8px;
  display: flex;
  border-radius: 10px;
  width: auto;
  img {
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color: rgba(181, 187, 191, 0.1);
  }
}

.no-data {
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
  text-align: center;
  font-size: 14px;
  color: #999;
}
