<aui-card>
  <ng-container>
    <div>
      <div class="list-header">
        <div>
          {{ 'pipeline_history' | translate }}
          <span>({{ historyList?.total || 0 }})</span>
        </div>
        <aui-search
          [placeholder]="'pipeline_search_by_id_placeholder' | translate"
          [searchButton]="true"
          [searching]="loading"
          (search)="search($event)"
        ></aui-search>
      </div>
      <div>
        <aui-table
          auiSort
          (sortChange)="sortChange($event)"
          [dataSource]="historyList?.histories"
          [trackBy]="trackFn"
        >
          <ng-container auiTableColumnDef="name">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'pipeline_history_id' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <div style="display: flex;align-items: center;">
                <div style="min-width: 40px; display: inline-block;">
                  <a
                    *ngIf="item?.jenkins?.build"
                    [routerLink]="['./', item.name]"
                  >
                    #{{ item?.jenkins?.build }}
                  </a>
                  <span *ngIf="!item?.jenkins?.build">-</span>
                </div>
                <aui-icon
                  (click)="openLogs(item)"
                  margin="left"
                  class="history-name__overview"
                  [auiTooltip]="
                    'pipeline_click_to_view_history_overview' | translate
                  "
                  icon="basic:overview"
                ></aui-icon>
                <ng-container *ngFor="let badge of item.badges">
                  <a
                    class="badges"
                    *ngIf="badge.id === 'QualityGate'"
                    href="{{ badge.link }}"
                    [auiTooltip]="
                      'pipeline_pipeline_history_sonarqube_hint' | translate
                    "
                    target="_blank"
                  >
                    <img
                      src="/static/images/pipeline_new/badges/sonarqube-{{
                        badge.text.toLowerCase()
                      }}.svg"
                    />
                  </a>
                </ng-container>
              </div>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="status">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'pipeline_history_status' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <span [ngClass]="['history-status ', item?.phase?.toLowerCase()]">
                <aui-icon
                  [ngClass]="{
                    'icon-spin':
                      getHistoryStatusIcon(item.phase).icon ===
                      'basic:sync_circle_s'
                  }"
                  [icon]="getHistoryStatusIcon(item.phase).icon"
                ></aui-icon>
                <span style="margin-left: 4px">
                  {{
                    getHistoryStatusIcon(item.phase).translateKey | translate
                  }}
                </span>
              </span>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="startedAt">
            <aui-table-header-cell
              aui-sort-header
              start="desc"
              *auiTableHeaderCellDef
            >
              {{ 'pipeline_start_at' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <div>{{ item.startedAt | rcRelativeTime }}</div>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="time">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'pipeline_history_time' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <span
                *ngIf="
                  !item.finishedAt && item?.phase?.toLowerCase() === 'running';
                  else durationTime
                "
              >
                {{
                  (currentDate | async) - getDateTimes(item.startedAt)
                    | rcDurationToConsumed
                }}
              </span>
              <ng-template #durationTime>
                <span>
                  {{ item.duration | rcDurationToConsumed }}
                </span>
              </ng-template>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="cause">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'pipeline_history_cause' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <div class="triggers" [ngSwitch]="item.cause.type">
                <aui-icon
                  *ngSwitchCase="'cron'"
                  [auiTooltip]="'pipeline_cron' | translate"
                  icon="basic:time"
                ></aui-icon>
                <aui-icon
                  *ngSwitchCase="'codeChange'"
                  [auiTooltip]="'pipeline_code_change' | translate"
                  icon="basic:code"
                ></aui-icon>
                <aui-icon
                  *ngSwitchCase="'manual'"
                  [auiTooltip]="'pipeline_manual' | translate"
                  icon="basic:wrench_s"
                ></aui-icon>
                <ng-container *ngSwitchDefault>{{ '-' }}</ng-container>
              </div>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="actions">
            <aui-table-header-cell
              *auiTableHeaderCellDef
            ></aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <rc-menu-trigger
                [menu]="actionsMenu"
                [context]="{ item: item }"
              ></rc-menu-trigger>
              <aui-menu #actionsMenu>
                <aui-menu-item
                  *ngIf="item.phase.toLowerCase() === 'running'"
                  [disabled]="!permissions.canAbort"
                  (click)="cancel(item)"
                >
                  {{ 'pipeline_cancel' | translate }}
                </aui-menu-item>
                <aui-menu-item
                  [disabled]="!permissions.canDelete"
                  (click)="delete(item)"
                >
                  {{ 'delete' | translate }}
                </aui-menu-item>
              </aui-menu>
            </aui-table-cell>
          </ng-container>
          <aui-table-header-row
            *auiTableHeaderRowDef="columns"
          ></aui-table-header-row>
          <aui-table-row
            *auiTableRowDef="let row; columns: columns"
          ></aui-table-row>
        </aui-table>
        <div *ngIf="!historyList?.total" class="no-data">
          <span>
            {{ 'pipeline_history_no_data' | translate }}
          </span>
        </div>
      </div>
      <div aloCardSectionFooter class="footer">
        <aui-paginator
          *ngIf="historyList?.total"
          [(pageIndex)]="pageIndex"
          [(pageSize)]="pageSize"
          [pageSizeOptions]="[10, 20, 50]"
          [total]="historyList?.total"
          (page)="pageChange($event)"
        ></aui-paginator>
      </div>
    </div>
  </ng-container>
</aui-card>
