:host {
  .rc-detail-header {
    align-items: center;
  }
  .rc-detail-container {
    margin-top: -16px;
    min-height: unset;
    .domains {
      white-space: unset;
    }
    ::ng-deep .plain-container {
      white-space: unset;
    }
  }
}
