<aui-card *ngIf="data">
  <div auiCardHeader class="rc-detail-header">
    {{'basic_info' | translate}}
    <div fxFlex></div>
    <button aui-button="default" [plain]="true" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu size="small">
      <aui-menu-item
        [disabled]="!canUpdate"
        (click)="onUpdateDomainSuffix.next()"
      >
        {{ 'update_domain_suffix' | translate }}
      </aui-menu-item>
      <aui-menu-item [disabled]="!canDelete" (click)="onDelete.next()">
        {{ 'delete_load_balancer' | translate }}
      </aui-menu-item>
    </aui-menu>
  </div>
  <div class="rc-detail-container">
    <div class="detail-wrapper">
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'name' | translate }}</label>
          {{data.metadata.name}}
        </div>
        <div class="detail-item">
          <label>{{ 'region_belonged' | translate }}</label>
          {{ cluster }}
        </div>
        <div class="detail-item">
          <label>{{ 'created_date' | translate }}</label>
          {{ data.metadata.creationTimestamp | rcFormatMs }}
        </div>
        <div class="detail-item">
          <label>{{ 'type' | translate }}</label>
          {{ data.spec.type }}
        </div>
        <div class="detail-item">
          <label>{{ 'address' | translate }}</label>
          {{ data.spec.address }}
        </div>
        <div class="detail-item domains">
          <label>{{ 'custom_domain_suffix' | translate }}</label>
          <div style="flex:1">
            <rc-tags-label [tagList]="data.spec.domains"></rc-tags-label>
          </div>
        </div>
      </div>
    </div>
  </div>
</aui-card>
