<aui-dialog-header>
  {{
    'tool_chain_add_resources'
      | translate: { resource: getToolResourceDisplayName(data.type) }
  }}
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm [auiFormLabelWidth]="'70px'">
    <aui-form-item *ngIf="!hideOptions">
      <label auiFormItemLabel>
        {{ 'tool_chain_add_resource_mode' | translate }}
      </label>
      <aui-radio-group
        [(ngModel)]="addMode"
        [ngModelOptions]="{ standalone: true }"
      >
        <aui-radio-button
          value="select"
          [disabled]="!resourceOptionEnabled('select')"
        >
          {{ 'tool_chain_select' | translate }}
        </aui-radio-button>
        <aui-radio-button
          value="input"
          [disabled]="
            !resourceOptionEnabled('input') || !resourceCreatePermission
          "
        >
          {{ 'tool_chain_input' | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <!-- select mode -->
    <aui-form-item *ngIf="addMode === 'select' && !hideOptions">
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <aui-multi-select
        auiFormItemControl
        [required]="addMode === 'select'"
        name="resources"
        [(ngModel)]="selectedResources"
        [filterable]="true"
        [trackFn]="trackFn"
      >
        <aui-option
          *ngFor="let item of (resources$ | async)"
          [label]="item.name"
          [value]="{ name: item.name, type: item.type }"
        >
          {{ item.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-multi-select>
    </aui-form-item>

    <!-- input mode -->
    <aui-form-item *ngIf="addMode === 'input'">
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <aui-input-group style="flex: 1">
        <span auiInputAddonBefore>{{ data.tenantName }}</span>
        <input
          auiFormItemControl
          name="name"
          aui-input
          type="text"
          [(ngModel)]="resourceName"
          [required]="addMode === 'input'"
          #cc="ngModel"
          [placeholder]="'tool_chain_pattern' | translate"
          rcProjectNameValidate
          [tenantName]="data.tenantName"
          [resourceNameList]="data.resourceNameList"
          [resourceType]="data.type"
          [disabled]="!resourceCreatePermission"
        />
      </aui-input-group>
      <div
        auiFormItemHint
        *ngIf="resourceName !== '' && !(cc.dirty && cc.errors?.projectName)"
      >
        {{ getHintTips(resourceName) }}
      </div>
      <div auiFormItemError *ngIf="cc.dirty && cc.errors?.projectName">
        {{ cc.errors.projectName }}
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" type="button" (click)="confirm()">
    {{ 'add' | translate }}
  </button>

  <button aui-button type="button" [auiDialogClose]="null">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
