@mixin inner-class {
  .rule-service-group {
    display: flex;
    align-items: center;

    .rule-service {
      margin-right: 8px;
    }

    .rule-service—group__more {
      margin-left: 8px;
    }
  }
}

:host {
  @include inner-class;
}

::ng-deep {
  .rule-service-group-menu .aui-menu {
    max-width: fit-content;
  }

  .rule-service—group-wrapper {
    max-height: 400px;
    overflow: auto;
    @include inner-class;
  }
}
