<div class="rule-service-group" *ngIf="services?.length">
  <div class="rule-service">
    <div>{{ services[0].name }}: {{ services[0].port }}</div>
  </div>
  <div>
    {{ 'weights' | translate }} : {{ services[0].weight }} ({{
    getWeightsPercent( services, services[0].weight) }})
  </div>
  <div class="rule-service—group__more" *ngIf="services?.length > 1">
    <span>{{ 'service_total' | translate }}</span>
    <button
      size="mini"
      [auiDropdown]="menu"
      auiDropdownClass="rule-service-group-menu"
      aui-button="text"
      class="action-button"
    >
      {{ services.length }}
    </button>
    <span>{{ 'ge' | translate }}</span>
  </div>
</div>
<aui-menu #menu>
  <div class="rule-service—group-wrapper">
    <aui-menu-item *ngFor="let service of services">
      <div class="rule-service-group">
        <div class="rule-service">
          <div>{{ service.name }}: {{ service.port }}</div>
        </div>
        <div>
          {{ 'weights' | translate }} : {{ service.weight }} ({{
          getWeightsPercent( services, service.weight) }})
        </div>
      </div>
    </aui-menu-item>
  </div>
</aui-menu>
