<aui-dialog-header>
  {{ 'create_account' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div [rcLoadingMask]="!initialized || submitting">
    <form
      auiForm
      *ngIf="!createSuccess"
      #accountCreateForm="ngForm"
      auiFormLabelWidth="155px"
    >
      <div *ngIf="!privateDeploy" class="rc-input-container-help">
        {{ helpText }}
      </div>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'username' | translate }}</label>
        <aui-tags-input
          auiFormItemControl
          name="usernames"
          [(ngModel)]="accountNames"
          (ngModelChange)="namesChange($event)"
          [placeholder]="'add_by_enter_or_space' | translate"
          style="flex: 1;"
          required
        ></aui-tags-input>
        <div auiFormItemAddon>
          <aui-icon
            [auiTooltip]="'accounts_name_placeholder' | translate"
            auiTooltipPosition="end center"
            auiTooltipType="primary"
            icon="basic:question"
          ></aui-icon>
        </div>
      </aui-form-item>
      <aui-form-item>
        <aui-checkbox
          auiFormItemControl
          [(ngModel)]="randomPassword"
          name="randomPassword"
        >
          {{ 'create_random_password' | translate }}
        </aui-checkbox>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'password' | translate }}</label>
        <div class="rc-account-password-field">
          <input
            auiFormItemControl
            aui-input
            name="password"
            type="password"
            [disabled]="randomPassword"
            [(ngModel)]="password"
            [minlength]="!randomPassword && passwordPatternObj?.min"
            [maxlength]="!randomPassword && passwordPatternObj?.max"
            rcErrorsTooltip
            [rcErrorsTooltipMapper]="changePasswordErrorMapper"
            [required]="!randomPassword"
          />
          <div *ngIf="!randomPassword" class="rc-account-password-strength">
            <rc-app-password-strength-label
              [password]="password"
            ></rc-app-password-strength-label>
          </div>
        </div>
        <div auiFormItemAddon>
          <aui-icon
            [auiTooltip]="'create_user_password_help' | translate"
            auiTooltipPosition="end center"
            auiTooltipType="primary"
            icon="basic:question"
          ></aui-icon>
        </div>
      </aui-form-item>
      <aui-form-item class="password-help">
        <div [innerHTML]="'create_user_password_help' | translate"></div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'role' | translate }}</label>
        <aui-multi-select
          auiFormItemControl
          filterable
          [filterFn]="selectFilterFn"
          [(ngModel)]="selectedRoles"
          [placeholder]="'user_add_role_placeholder' | translate"
          name="roles"
        >
          <aui-option
            *ngFor="let role of allRoles"
            [label]="role.name"
            [value]="role"
          >
            {{ role.name }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-multi-select>
        <div auiFormItemAddon>
          <aui-icon
            [auiTooltip]="'create_user_role_help' | translate"
            auiTooltipPosition="end center"
            auiTooltipType="primary"
            icon="basic:question"
          ></aui-icon>
        </div>
      </aui-form-item>
      <aui-form-item class=" show-more-info">
        <hr />
        <span class="more-info" (click)="showMoreInfo = true">
          {{ 'more_info' | translate }}
          <aui-icon icon="basic:angle_double_down"></aui-icon>
        </span>
      </aui-form-item>
      <div *ngIf="showMoreInfo">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'department' | translate }}</label>
          <input
            auiFormItemControl
            aui-input
            name="department"
            maxlength="128"
            [(ngModel)]="department"
          />
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'position' | translate }}</label>
          <input
            auiFormItemControl
            aui-input
            name="position"
            maxlength="128"
            [(ngModel)]="position"
          />
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'office_address' | translate }}</label>
          <input
            auiFormItemControl
            aui-input
            name="office_address"
            maxlength="128"
            [(ngModel)]="office_address"
          />
        </aui-form-item>
      </div>
      <aui-form-item>
        <aui-checkbox
          auiFormItemControl
          [(ngModel)]="passwordView"
          name="passwordView"
        >
          {{ 'view_user_password' | translate }}
        </aui-checkbox>
      </aui-form-item>
    </form>
    <div *ngIf="createSuccess">
      <div style="color: #9c9c9c; ">
        {{ 'created_subaccounts' | translate }}
      </div>
      <aui-table [dataSource]="users">
        <ng-container auiTableColumnDef="username">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'username' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.username }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="password">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'password' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.password }}
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row
          *auiTableHeaderRowDef="['username', 'password']"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: ['username', 'password']"
        ></aui-table-row>
      </aui-table>
    </div>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <div *ngIf="!createSuccess">
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
    <button
      aui-button="primary"
      [disabled]="confirmButtonDisabled()"
      (click)="confirm()"
    >
      {{ 'create' | translate }}
    </button>
  </div>
  <div *ngIf="createSuccess">
    <button aui-button="primary" (click)="ok()">
      {{ 'ok' | translate }}
    </button>
  </div>
</aui-dialog-footer>
