<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      auiFormItemControl
      aui-input
      required
      rcErrorsTooltip
      [rcErrorsTooltipInline]="true"
      [rcErrorsTooltipMapper]="{
        pattern: resourceNamePattern.tip | translate,
        name_existed: 'name_existed' | translate
      }"
      formControlName="name"
    />
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'image_address' | translate }}</label>
    <input
      readonly
      auiFormItemControl
      aui-input
      required
      formControlName="image"
    />
    <button
      aui-button
      (click)="selectImage()"
      type="button"
      style="margin-left: 8px;"
    >
      {{ 'select_image' | translate }}
    </button>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'resource_size' | translate }}</label>
    <rc-resources-form
      required
      auiFormItemControl
      [cluster]="cluster"
      [namespace]="namespace"
      formControlName="resources"
    ></rc-resources-form>
    <aui-icon
      auiFormItemAddon
      icon="basic:question"
      [auiTooltip]="'resource_size_hint' | translate"
    ></aui-icon>
  </aui-form-item>

  <rc-foldable-block mode="button">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'cmd' | translate }}</label>
      <rc-string-array-form-table
        [validators]="getRequiredValidator()"
        resourceName="cmd"
        formControlName="command"
      ></rc-string-array-form-table>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'args' | translate }}</label>
      <rc-string-array-form-table
        [validators]="getRequiredValidator()"
        resourceName="args"
        formControlName="args"
      ></rc-string-array-form-table>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'environment_variable' | translate }}</label>
      <rc-env-form
        [cluster]="cluster"
        [namespace]="namespace"
        auiFormItemControl
        formControlName="env"
      ></rc-env-form>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'env_from' | translate }}</label>
      <rc-env-from-form
        [cluster]="cluster"
        [namespace]="namespace"
        formControlName="envFrom"
      ></rc-env-from-form>
    </aui-form-item>

    <aui-form-item rcContainerFormHiddenField="health_check">
      <label auiFormItemLabel>{{ 'health_check' | translate }}</label>
      <rc-healthcheck-form formControlName="probes"></rc-healthcheck-form>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'storage' | translate }}</label>
      <rc-container-volumes-form
        [cluster]="cluster"
        [namespace]="namespace"
        formControlName="volumes"
      ></rc-container-volumes-form>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{'log_path' | translate}}</label>
      <rc-string-array-form-table
        [validators]="getRequiredValidator()"
        resourceName="log_path"
        formControlName="logPaths"
      ></rc-string-array-form-table>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'exclude_log_path' | translate }}</label>
      <rc-string-array-form-table
        [validators]="getRequiredValidator()"
        resourceName="exclude_log_path"
        formControlName="excludeLogPaths"
      ></rc-string-array-form-table>
    </aui-form-item>
  </rc-foldable-block>
  <!-- <pre>container form: {{form.status}}</pre> -->
</form>
