<aui-card>
  <div class="list-card-header">
    <div class="repo-info">
      <ng-container *ngIf="repository">
        <img
          class="header-icon"
          [src]="
            '/static/images/tool-chain/list/' +
            repository.type.toLowerCase() +
            '.svg'
          "
        />
        <div
          class="header-text repo-path"
          [auiTooltipCopy]="getFullImagePath(repository)"
          [auiTooltipCopyTip]="
            ('devops_copy_full_path' | translate) + getFullImagePath(repository)
          "
        >
          <span>
            <span class="prefix">{{ getImagePathPrefix(repository) }}</span>
            <span class="prefix">{{ getImagePathSuffix(repository) }}</span>
          </span>
        </div>
        <a
          *ngIf="repository.type.toLowerCase() === 'harbor'"
          class="jump-icon"
          [auiTooltip]="'devops_jump_to' | translate: { name: repository.type }"
          auiTooltipType="info"
          auiTooltipPosition="bottom start"
          auiTooltipClass="jump-tooltip"
          [href]="repository.link"
          target="_blank"
        >
          <aui-icon icon="basic:jump"></aui-icon>
        </a>
      </ng-container>
    </div>
    <aui-search
      [placeholder]="'devops_filter_by_repo_version' | translate"
      (keywordChange)="filterChange.emit($event)"
    ></aui-search>
  </div>
  <rc-iamge-tag-list
    [type]="repository?.type"
    [repository]="repository?.name"
    [imagePath]="getFullImagePath(repository || {})"
    [tags]="tags"
    (scanTrigger)="scanTrigger.emit($event)"
  ></rc-iamge-tag-list>
  <rc-zero-state
    [zeroState]="tags?.length === 0"
    [fetching]="loading"
    [resourceName]="'devops_image_repo_list' | translate"
  ></rc-zero-state>
</aui-card>
