<aui-table [dataSource]="allocatedSpaces">
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      <!--资源类型-->
      {{ getToolResourceDisplayName(resourceType) }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <div class="tool-type-icon">
        <img
          class="type-icon"
          [src]="
            '/static/images/tool-chain/list/' +
            resourceType?.toLowerCase() +
            '.svg'
          "
        />
        <span>{{ item.name }}</span>
      </div>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="allocated_spaces">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'tool_chain_allocated_spaces' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <!--在用组-->
      <ng-container *ngIf="!item.allocatedToAll; else allSpaceBlock">
        <ng-container
          *ngFor="
            let space of (item.allocatedSpaces | slice: 0:2);
            let i = index
          "
        >
          <aui-tag type="info" size="mini">
            {{ getSpaceName(space.devopsNamespace) }}
          </aui-tag>
        </ng-container>
        <span *ngIf="item.allocatedSpaces && item.allocatedSpaces.length === 0">
          {{ 'tool_chain_not_allocated' | translate }}
        </span>
        <aui-tag
          *ngIf="item.allocatedSpaces && item.allocatedSpaces.length > 2"
          type="info"
          size="mini"
          class="full-content-toggle"
          [auiTooltip]="spacesMenu"
          auiTooltipType="info"
          auiTooltipPosition="bottom"
        >
          ···
        </aui-tag>
        <ng-template #spacesMenu>
          <div class="more-spaces">
            <aui-tag
              *ngFor="let space of item.allocatedSpaces"
              type="info"
              size="mini"
            >
              {{ getSpaceName(space.devopsNamespace) }}
            </aui-tag>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #allSpaceBlock>
        <aui-tag type="info" [solid]="false" size="mini">
          {{ 'tool_chain_all_spaces' | translate }}
        </aui-tag>
      </ng-template>
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
<div
  class="zero-state-hint"
  *ngIf="!(allocatedSpaces && allocatedSpaces.length)"
>
  {{
    'tool_chain_currently_not_allocated_hint'
      | translate: { resource: getToolResourceDisplayName(resourceType) }
  }}
  <a (click)="openAllocatedDialog()">
    {{
      'tool_chain_click_to_allocate_resource'
        | translate: { resource: getToolResourceDisplayName(resourceType) }
    }}
  </a>
</div>
