:host {
  .aui-table .aui-table__column-name {
    flex: 1;
  }
  .zero-state-hint {
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #fff;
    color: #999;
  }

  .tool-type-icon {
    display: flex;
    align-items: center;
    img {
      margin: 0 8px 0 0;
    }
  }

  .full-content-toggle {
    ::ng-deep .aui-tag:hover {
      color: #33afe8;
      background: #e5f5fc;
      border-color: #33afe8;
    }
  }
}

::ng-deep {
  .more-spaces {
    padding: 12px 4px 4px;
    .aui-tag {
      margin-bottom: 8px;
    }
  }
}
