<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/console/admin/cluster/list">
        {{ 'nav_region' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/console/admin/cluster/mirror">
        {{ 'region_mirror_cluster' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ mirror?.display_name || name }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="!mirror"></rc-loading-mask>

<ng-container *ngIf="mirror">
  <aui-card>
    <div class="rc-detail-container">
      <div class="detail-icon" [ngStyle]="{ backgroundColor: mirror.flag }">
        <img
          src="/static/images/cluster/mirror-cluster.svg"
          alt="mirror cluster icon"
        />
      </div>
      <div class="detail-wrapper">
        <div class="detail-header">
          <h3 [attr.title]="name">{{ mirror.display_name }}</h3>
          <div class="detail-buttons">
            <button aui-button="default" [auiDropdown]="menu">
              {{ 'action' | translate }}
              <aui-icon icon="angle_down" margin="left"></aui-icon>
            </button>
            <aui-menu #menu size="small">
              <aui-menu-item
                *ngIf="showButton('update')"
                [disabled]="loading"
                [routerLink]="[
                  '/console/admin/cluster/mirror/update',
                  mirror.name
                ]"
              >
                {{ 'update' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="showButton('delete')"
                [disabled]="loading"
                (click)="deleteMirror()"
              >
                {{ 'delete' | translate }}
              </aui-menu-item>
            </aui-menu>
          </div>
        </div>
        <div class="detail-content">
          <div class="detail-item">
            <label>{{ 'name' | translate }}</label>
            <div>{{ mirror.name }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'created_at' | translate }}</label>
            <div>{{ mirror.created_at | rcFormatUtcStr }}</div>
          </div>
        </div>
      </div>
    </div>
  </aui-card>

  <aui-card>
    <aui-tab-group type="line">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'region_mirror_member' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <aui-table [dataSource]="mirror.regions" [trackBy]="trackByFn">
            <ng-container auiTableColumnDef="region_name">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'region_name' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                <a [routerLink]="['/console/admin/cluster/detail', item.name]">
                  {{ item.display_name }}
                </a>
              </aui-table-cell>
            </ng-container>
            <ng-container auiTableColumnDef="create_time">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'created_at' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                {{ item.created_at | rcFormatUtcStr }}
              </aui-table-cell>
            </ng-container>
            <aui-table-header-row
              *auiTableHeaderRowDef="columns"
            ></aui-table-header-row>
            <aui-table-row
              *auiTableRowDef="let row; columns: columns"
            ></aui-table-row>
          </aui-table>
          <div *ngIf="!mirror.regions?.length" class="no-data">
            {{ 'no_data' | translate }}
          </div>
        </ng-container>
      </aui-tab>
    </aui-tab-group>
  </aui-card>
</ng-container>
