<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/console/admin/cluster/list">
        {{ 'nav_region' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/console/admin/cluster/mirror">
        {{ 'region_mirror_cluster' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ (isUpdating ? 'change' : 'create') | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div class="rc-edit" [rcLoadingMask]="!mirror || loading">
  <h4>
    {{ (isUpdating ? 'change' : 'create') | translate
    }}{{ 'word_delimiter' | translate
    }}{{ 'region_mirror_cluster' | translate }}
  </h4>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelWidth="150px"
    (ngSubmit)="confirm(form)"
  >
    <div class="rc-edit__content">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'name' | translate }}
        </label>
        <ng-container *ngIf="isUpdating">
          <span>{{ name || mirror.name }}</span>
        </ng-container>
        <input
          *ngIf="!isUpdating"
          aui-input
          auiFormItemControl
          required
          name="name"
          [pattern]="namePattern.pattern"
          [rcErrorsTooltip]
          [rcErrorsTooltipMapper]="{ pattern: namePattern.tip | translate }"
          maxlength="36"
          [(ngModel)]="mirror.name"
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'display_name' | translate }}
        </label>
        <input
          aui-input
          auiFormItemControl
          required
          [rcErrorsTooltip]
          name="display_name"
          maxlength="36"
          [(ngModel)]="mirror.display_name"
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'region_mirror_color_flag' | translate }}
        </label>
        <input type="hidden" />
        <div class="rc-edit__color-selector">
          <div
            class="rc-edit__color-selector__content"
            [ngStyle]="{ backgroundColor: mirror.flag }"
          ></div>
          <button
            type="button"
            [auiTooltip]="colors"
            auiTooltipPosition="bottom"
            auiTooltipType="plain"
          >
            <aui-icon icon="angle_down"></aui-icon>
          </button>
        </div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'region_mirror_cluster' | translate }}
        </label>
        <aui-multi-select
          auiFormItemControl
          required
          name="regions"
          [(ngModel)]="mirror.regions"
          [filterable]="true"
          [disabled]="isUpdating"
          [trackFn]="trackFn"
          [rcErrorsTooltip]
        >
          <aui-option
            *ngFor="let region of (regions$ | async)"
            label="{{ region.display_name }}({{ region.name }})"
            [value]="{ name: region.name, id: region.id }"
          >
            {{ region.display_name }}({{ region.name }})
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-multi-select>
      </aui-form-item>
    </div>
    <div class="rc-edit__footer">
      <button aui-button type="button" (click)="cancel()">
        {{ 'cancel' | translate }}
      </button>
      <button aui-button="primary">
        {{ (isUpdating ? 'save' : 'create') | translate }}
      </button>
    </div>
  </form>
</div>

<ng-template #colors>
  <ul class="rc-edit__color-selector__colors">
    <li
      *ngFor="let color of allColors"
      [ngStyle]="{ backgroundColor: color }"
      [class.disabled]="disabledColors.includes(color)"
      (click)="disabledColors.includes(color) || (mirror.flag = color)"
    ></li>
  </ul>
</ng-template>
