.rc-edit {
  padding: 20px;
  background-color: #fff;

  &__content {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 16px;
  }

  &__color-selector {
    display: inline-flex;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #ccc;

    &__content {
      width: 80px;
    }

    > button {
      width: 32px;
      background-color: #fff;
      border: 0;
      border-left: 1px solid #ccc;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &__colors {
      display: flex;
      width: 132px;
      padding: 8px 4px 4px 8px;
      border-radius: 2px;
      background-color: #fff;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 0;

      > li {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 4px;
        margin-bottom: 4px;
        cursor: pointer;

        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 20px;

    > button {
      margin-left: 8px;
    }
  }
}
