<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/console/admin/cluster/list">
        {{ 'nav_region' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'region_mirror_cluster' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div
  class="rc-list__container"
  [rcLoadingMask]="!(mirrors$ | async) || loading"
>
  <div class="rc-list__header clearfix">
    <button
      *ngIf="hasCreatePermission"
      aui-button="primary"
      routerLink="/console/admin/cluster/mirror/create"
    >
      {{ 'create' | translate }}{{ 'word_delimiter' | translate
      }}{{ 'region_mirror_cluster' | translate }}
    </button>
    <aui-search
      [placeholder]="'filter_by_name_placeholder' | translate"
      (keywordChange)="keyword$.next($event)"
    ></aui-search>
  </div>

  <aui-table [dataSource]="mirrors$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'region_mirror_cluster_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="rc-list__icon" [ngStyle]="{ backgroundColor: item.flag }">
          <img
            src="/static/images/cluster/mirror-cluster.svg"
            alt="mirror cluster icon"
          />
        </div>
        <div class="rc-list__name">
          <a [routerLink]="['/console/admin/cluster/mirror/detail', item.name]">
            {{ item.display_name }}
          </a>
          <div>{{ item.name }}</div>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="member">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'region_member' | translate }}
      </aui-table-header-cell>
      <aui-table-cell class="rc-list__regions" *auiTableCellDef="let item">
        <ul>
          <li *ngFor="let region of item.displayedRegions">
            <a [routerLink]="['/console/admin/cluster/detail', region.name]">
              {{ region.display_name || region.name }}
            </a>
          </li>
        </ul>
        <div
          *ngIf="item.regions.length > 3"
          class="rc-list__regions__more"
          [auiTooltip]="allRegions"
          auiTooltipType="plain"
          [auiTooltipContext]="item"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_at' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.created_at | rcFormatUtcStr }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button aui-button="text" class="toggle-button" [auiDropdown]="menu">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <aui-menu-item
            [routerLink]="['/console/admin/cluster/mirror/update', item.name]"
            [disabled]="isButtonDisabled(item, 'update')"
          >
            {{ 'update' | translate }}
          </aui-menu-item>
          <aui-menu-item
            [disabled]="isButtonDisabled(item, 'delete')"
            (click)="deleteMirror(item)"
          >
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <div *ngIf="!(mirrors$ | async)?.length" class="no-data">
    {{ 'no_data' | translate }}
  </div>
</div>

<ng-template #allRegions let-regions="regions">
  <div class="rc-list__regions__all">
    <ul>
      <li *ngFor="let region of regions">
        <a [routerLink]="['/console/admin/cluster/detail', region.name]">
          {{ region.display_name || region.name }}
        </a>
      </li>
    </ul>
  </div>
</ng-template>
