:host {
  .rm-create {
    .rm-create__code-editor {
      margin-top: 20px;
      aui-code-editor {
        width: 100%;
      }
    }
    .rm-create__footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 56px;
      z-index: 10;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #fff;
      box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
      opacity: 0.9;
      button {
        &:last-child {
          margin: 0 20px 0 8px;
        }
      }
    }
  }
}
