<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'nav_region' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a
        [routerLink]="[
          '/console/admin/cluster/node_detail',
          clusterName,
          privateIp
        ]"
      >
        {{ 'node_detail' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'update' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div class="rm-create">
  <div class="rm-create__code-editor">
    <form #form="ngForm" auiForm [auiFormInline]="false">
      <aui-form-item>
        <aui-code-editor
          name="yaml"
          required
          [rcErrorsTooltip]
          [rcErrorsTooltipInline]="true"
          [originalValue]="originalYaml"
          [actionsConfig]="edtiorActions"
          [options]="editorOptions"
          [(ngModel)]="yamlInputValue"
        ></aui-code-editor>
      </aui-form-item>
    </form>
  </div>

  <div class="rm-create__footer">
    <div fxFlex></div>
    <button aui-button="primary" (click)="confirm()">
      {{ 'update' | translate }}
    </button>
    <button aui-button="default" (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</div>
