<ul class="template-steps-container">
  <li class="step-one active">
    <div *ngIf="currentStep === 0; else check" class="order">
      1
    </div>
    <ng-template #check>
      <div class="order">
        <i class="fa fa-check"></i>
      </div>
    </ng-template>
    <div class="{{ currentStep === 1 ? 'unfocus' : '' }}">
      {{ 'jenkins_pipeline_basic_info' | translate }}
    </div>
  </li>
  <li class="step-two {{ currentStep === 0 ? 'in' : '' }}active">
    <div class="order">2</div>
    <div>
      {{ 'jenkins_pipeline_template_params' | translate }}
    </div>
  </li>
</ul>
