<svg
  style="margin-top: 12px;"
  height="24"
  width="40"
  xmlns="http://www.w3.org/2000/svg"
>
  <svg:defs>
    <svg:marker
      id="triangle"
      viewBox="0 0 12 12"
      refX="2"
      refY="4"
      markerUnits="strokeWidth"
      markerWidth="8"
      markerHeight="8"
      orient="auto"
    >
      <svg:path d="M0,0 L6,4 L0,8 L2,4 L0,0" style="fill:#cccccc;"></svg:path>
    </svg:marker>
  </svg:defs>
  <svg:path
    d="M 0 12 L 32 12"
    fill="none"
    stroke="#cccccc"
    stroke-width="2"
    marker-end="url(#triangle)"
  />
</svg>
