<aui-dialog-header>
  {{ 'labels_update' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm">
    <rc-key-value-form-table
      name="resourceLabel"
      [(ngModel)]="labels"
      [valiadator]="labelValidator"
      [errorMapper]="labelErrorMapper"
    ></rc-key-value-form-table>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    {{ 'update' | translate }}
  </button>
  <button aui-button [disabled]="submitting" [auiDialogClose]="false">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
