<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<ng-container *ngIf="initialized && status === 'list'">
  <rc-component-alarm
    [clusterName]="clusterName"
    [namespaceName]="namespaceName"
    [listParam]="listParam"
    (alarmRoute)="onAlarmRoute($event)"
  ></rc-component-alarm>
</ng-container>

<ng-container *ngIf="initialized && status === 'form'">
  <rc-alarm-form
    [projectName]="projectName"
    [alarmUpdateParam]="alarmUpdateParam"
    [appName]="app"
    (alarmRoute)="onAlarmRoute($event)"
  ></rc-alarm-form>
</ng-container>

<ng-container *ngIf="initialized && status === 'detail'">
  <rc-alarm-detail
    [alarmUpdateParam]="alarmUpdateParam"
    (alarmRoute)="onAlarmRoute($event)"
  ></rc-alarm-detail>
</ng-container>
