.alo-tool-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 16px;
}

.alo-tool-card {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &.isSelected {
    box-shadow: 0 0 0 1px #009ce3, 0 0 2px 0 rgba(0, 0, 0, 0.24);
  }

  &:hover {
    box-shadow: 0 0 0 1px #009ce3, 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  }

  .icon-stack {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .type-icon {
    width: 100%;
  }

  .enterprise-mark {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 2px;
    top: 50%;
    transform: translateY(4px);
  }

  .shallow-mark {
    font-size: 12px;
    color: #009ce3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 2px;
    top: 50%;
    transform: translateY(4px);
    background-color: white;
  }

  .name {
    max-width: 158px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tool-type {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 8px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 2px;
    background-color: #fafafa;
  }

  .selected-mark {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0;
    color: #009ce3;

    ::ng-deep.aui-icon {
      width: 24px;
      height: 24px;
    }
  }
}
