<div class="alo-tool-list">
  <ng-container *ngFor="let tool of tools; trackBy: trackByName">
    <div
      *ngIf="tool.enabled"
      class="alo-tool-card"
      [class.isSelected]="selectedTool === tool.name"
      (click)="handleCardClicked(tool)"
      [auiTooltip]="'tool_chain_shallow_integrate_tips' | translate"
      [auiTooltipDisabled]="!!tool?.supportedSecretTypes?.length"
    >
      <div class="icon-stack">
        <img
          class="type-icon"
          [src]="
            '/static/images/tool-chain/' + tool.type.toLowerCase() + '.svg'
          "
        />
        <img
          *ngIf="tool.enterprise"
          class="enterprise-mark"
          [src]="enterpriseIcon$ | async"
        />
        <div *ngIf="!tool?.supportedSecretTypes?.length" class="shallow-mark">
          <aui-icon icon="info_circle_s"></aui-icon>
        </div>
      </div>
      <div class="name">
        {{
          (translate.currentLang$ | async) === 'zh_cn'
            ? tool.displayName.zh
            : tool.displayName.en
        }}
      </div>
      <div *ngIf="showType" class="tool-type">
        {{ 'tool_chain_' + snakeCase(tool.toolType) | translate }}
      </div>
      <aui-icon
        *ngIf="selectedTool === tool.name"
        class="selected-mark"
        icon="check_triangle_s"
      ></aui-icon>
    </div>
  </ng-container>
</div>
