@import 'var';
$table-border-color: #eee;
.var-help-container {
  color: #4d4d4d;
  margin: 20px;
  max-height: 450px;
  overflow: auto;

  .description {
    padding-bottom: 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    thead {
      tr {
        height: 40px;
        background: #fafafa;
        border-top: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
        & > td:first-child {
          width: 150px;
          padding-left: 8px;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $table-border-color;
        height: 44px;
        & > td:first-child {
          padding-left: 8px;
        }
        td {
          white-space: pre-line;
          line-height: 1.5;
          padding: 10px 0;
        }
      }
    }
  }
}

:host ::ng-deep {
  ol {
    padding-left: 20px;

    li {
      line-height: 20px;
      p {
        margin: 0 0 10px;
      }
    }
  }
}
