<aui-dialog-header>
  {{ 'jenkins_pipeline_use_vars' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div class="var-help-container">
    <div
      class="description"
      [innerHTML]="HELP_CONTENT | rcMarkdownToHtml"
    ></div>
    <div class="vars">
      <div class="header"></div>
      <div class="table-container">
        <table class="table app-table rb-preview-table">
          <thead>
            <tr>
              <td style="width:25%;">
                {{ 'jenkins_template_var_name' | translate }}
              </td>
              <td>{{ 'description' | translate }}</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let env_var of env_vars">
              <td>{{ env_var.name }}</td>
              <td>
                {{ targetLanguageString(env_var.description) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</aui-dialog-content>
