:host {
  &.error-state {
    box-shadow: none;
  }
}

.application-container {
  display: flex;
  flex-direction: column;

  .dropdown {
    display: flex;
    height: 32px;
    flex-direction: row;
    margin: 6px 0;

    .filed-label {
      flex-shrink: 0;
      width: 150px;
      text-align: right;
      padding-right: 8px;
      line-height: 32px;

      &::before {
        content: '*';
        color: #fc5d68;
        margin-right: 8px;
      }
      &::after {
        content: ':';
        margin-left: 4px;
      }
    }

    aui-select {
      flex: 1;
    }
  }
}
