<div class="application-container">
  <div class="dropdown">
    <div class="filed-label">{{ 'service_region_name' | translate }}</div>
    <input
      type="text"
      [(ngModel)]="clusterName"
      [required]="true"
      [disabled]="true"
      aui-input
    />
  </div>
  <div class="dropdown">
    <div class="filed-label">{{ 'namespace' | translate }}</div>
    <input
      type="text"
      [(ngModel)]="namespace"
      [required]="true"
      [disabled]="true"
      aui-input
    />
  </div>
  <div class="dropdown">
    <div class="filed-label">{{ 'application_name' | translate }}</div>
    <aui-select
      [(ngModel)]="applicationName"
      [filterable]="true"
      [loading]="applicationLoading"
      (ngModelChange)="onApplicationChange($event)"
      [placeholder]="
        (applicationOptions.length
          ? 'jenkins_template_service_container_select_application_tips'
          : 'jenkins_template_service_container_no_application') | translate
      "
      style="width:100%"
      [required]="true"
    >
      <aui-option
        *ngFor="let option of applicationOptions"
        [label]="option.name"
        [value]="option.name"
      >
        {{ option.name }}
      </aui-option>
    </aui-select>
  </div>
  <div class="dropdown">
    <div class="filed-label">{{ 'component_name' | translate }}</div>
    <aui-select
      [(ngModel)]="componentName"
      [filterable]="true"
      [loading]="componentLoading"
      (ngModelChange)="onComponentChange($event)"
      [placeholder]="
        (componentOptions.length
          ? 'jenkins_template_service_container_select_component_tips'
          : 'jenkins_template_service_container_no_component') | translate
      "
      style="width:100%"
      [required]="true"
    >
      <aui-option
        *ngFor="let option of componentOptions"
        [label]="option.name"
        [value]="option.name"
      >
        {{ option.name }}
      </aui-option>
    </aui-select>
  </div>
  <div class="dropdown">
    <div class="filed-label">{{ 'component_type' | translate }}</div>
    <input
      type="text"
      [(ngModel)]="componentType"
      [required]="true"
      [disabled]="true"
      aui-input
    />
  </div>
  <div class="dropdown">
    <div class="filed-label">{{ 'container_name' | translate }}</div>
    <aui-select
      [(ngModel)]="containerName"
      [filterable]="true"
      [loading]="containerLoading"
      [placeholder]="
        (containerOptions.length
          ? 'jenkins_template_service_container_select_container_tips'
          : 'jenkins_template_service_container_no_container') | translate
      "
      style="width:100%"
      [required]="true"
    >
      <aui-option
        *ngFor="let option of containerOptions"
        [label]="option.name"
        [value]="option.name"
      >
        {{ option.name }}
      </aui-option>
    </aui-select>
  </div>
</div>
