<div class="page-wrapper">
  <div class="page-heading">
    <div class="control-buttons">
      <button
        aui-button="primary"
        *ngIf="createAccountEnabled"
        (click)="createAccounts()"
      >
        {{ 'create_account' | translate }}
      </button>

      <ng-container *ngIf="ldapSyncEnabled && ldapConfigTrue">
        <button
          aui-button="primary"
          *ngIf="isSubAccount"
          (click)="triggerLdapSync()"
          [disabled]="triggerLdapSyncIng"
        >
          {{ 'org_ldap_sync' | translate }}
        </button>

        <aui-dropdown-button
          *ngIf="!isSubAccount"
          type="primary"
          [disabled]="triggerLdapSyncIng"
        >
          <span aui-button (click)="triggerLdapSync()">
            {{ 'org_ldap_sync' | translate }}
          </span>
          <aui-menu>
            <aui-menu-item
              (click)="deleteInvalidAccounts()"
              [auiTooltip]="'no_invalid_ldap_user' | translate"
              auiTooltipType="info"
              auiTooltipPosition="start center"
              [auiTooltipDisabled]="invalid_accounts"
            >
              {{ 'clean_invalid_ldap_users' | translate }}
            </aui-menu-item>
          </aui-menu>
        </aui-dropdown-button>
      </ng-container>
    </div>
    <aui-search
      [searching]="searching"
      (keywordChange)="onSearchChanged($event)"
      flex="30"
    ></aui-search>
  </div>
  <aui-table [dataSource]="accounts">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'username' | translate }}/{{ 'alias_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div>
          <a
            class="username"
            [routerLink]="['/console/user-center/detail']"
            [queryParams]="{ username: item.username }"
          >
            {{ item.username }}
          </a>
        </div>
        <span class="alias-name" *ngIf="item.realname">
          {{ item.realname }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="roles">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'user_roles' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <aui-icon icon="basic:role"></aui-icon>
        <a
          *ngIf="userRolesCache[item.username]?.length"
          [auiTooltip]="popoverTemplate"
          auiTooltipPosition="end top"
          auiTooltipType="info"
          auiTooltipTrigger="click"
          auiTooltipClass="roles-popover"
          (click)="showPopover(item.username)"
        >
          {{ userRolesCache[item.username]?.length }}
        </a>
        <span
          *ngIf="!userRolesCache[item.username]?.length"
          [title]="'no_assigned_roles' | translate"
        >
          0
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="user_type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'user_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{
          (item.type === 'organizations.LDAPAccount'
            ? 'synced_by_ldap'
            : item.type === 'organizations.TPAccount'
            ? 'create_by_thrid_party'
            : 'created_on_platform') | translate
        }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="user_source">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'user_source' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.sub_type || '-' }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <aui-icon
          [icon]="
            isInvalidAccount(item) ? 'basic:minus_circle_s' : 'check_circle_s'
          "
          [color]="isInvalidAccount(item) ? '#ccc' : '#1bb393'"
        ></aui-icon>
        <span
          [auiTooltip]="'invalid_ldap_user_tip' | translate"
          auiTooltipPosition="top"
          [auiTooltipDisabled]="!isInvalidAccount(item)"
        >
          {{ (isInvalidAccount(item) ? 'invalid' : 'valid') | translate }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_at">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_at' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.created_at | rcFormatUtcStr }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          [auiDropdown]="menu"
          [disabled]="shouldDisableMenu(item)"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <aui-menu-item
            *ngIf="
              roleAssignEnabled &&
              (item.type !== 'organizations.LDAPAccount' || item.is_valid)
            "
            (click)="addRole(item)"
          >
            {{ 'add_role' | translate }}
          </aui-menu-item>
          <aui-menu-item
            *ngIf="shouldShowPwdUpBtn(item)"
            (click)="updatePassword(item)"
          >
            {{ 'update_password' | translate }}
          </aui-menu-item>
          <aui-menu-item
            *ngIf="shouldShowDelBtn(item)"
            (click)="deleteAccount(item)"
          >
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <rc-zero-state
    [zeroState]="!accounts?.length"
    [fetching]="!initialized"
    resourceName="user"
  ></rc-zero-state>
  <aui-paginator
    [currentPage]="pagination?.page"
    [pageSize]="pagination?.page_size"
    [total]="pagination?.count"
    (pageSizeChange)="sizeChanged($event)"
    (currentPageChange)="pageNoChange($event)"
  ></aui-paginator>
</div>

<ng-template #popoverTemplate>
  <div
    class="rb-popover-label-list-wrap"
    [rcLoadingMask]="popoverConfig.loading"
  >
    <div *ngIf="!popoverConfig.loading && !popoverConfig.list.length">
      <span>{{ popoverConfig.noDataText }}</span>
    </div>
    <div *ngIf="popoverConfig.list.length > 0" class="rb-popover-label-list">
      <aui-tag
        *ngFor="let item of popoverConfig.list"
        type="info"
        size="small"
        [closeable]="checkRoleResourceAction(item, 'revoke')"
        round="true"
        (close)="revokeRole(item.role_name)"
      >
        <a
          *ngIf="shouldShowRoleLink(item)"
          href="#"
          [title]="getAccountRoleNameDisplay(item)"
          (click)="viewAccountRoleDetail(item, $event)"
        >
          {{ getAccountRoleNameDisplay(item) }}
        </a>
        <span
          *ngIf="!shouldShowRoleLink(item)"
          [title]="getAccountRoleNameDisplay(item)"
        >
          {{ getAccountRoleNameDisplay(item) }}
        </span>
      </aui-tag>
    </div>
  </div>
</ng-template>
