@import 'var';

:host {
  aui-paginator {
    margin-top: 16px;
  }

  .page-wrapper {
    padding: 20px;
    background-color: #fff;
  }

  .page-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    min-height: 32px;
  }

  ::ng-deep {
    .aui-table__column {
      &-roles,
      &-status {
        aui-icon {
          margin-right: 4px;
        }
      }

      &-name {
        a {
          display: inline;
        }
      }

      &-created_at {
        flex: 1 0 110px;
      }

      &-roles a:hover {
        cursor: pointer;
      }
    }
  }
}

::ng-deep {
  .aui-tooltip {
    &.roles-popover {
      .aui-tag {
        margin: 2px 8px 2px 0;
      }
    }
  }
}
