@import 'var';
:host {
  &.plain .zero-state-hint {
    background: transparent;
  }
}
.zero-state-hint {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 8px;
  background: #fff;
  color: $color-text-help;
}
rc-loading-mask {
  height: 60px;
}
