<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item [hidden]="!!clusterCniType">
    <label auiFormItemLabel>{{ 'host_mode' | translate }}</label>
    <aui-switch auiFormItemControl formControlName="hostNetwork"></aui-switch>
  </aui-form-item>

  <aui-form-item [hidden]="!clusterCniType">
    <label auiFormItemLabel>{{ 'network_mode' | translate }}</label>
    <aui-radio-group size="medium" auiFormItemControl formControlName="type">
      <aui-radio-button *ngFor="let type of typeOptions" [value]="type.value">
        {{ type.name }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>

  <ng-container *ngIf="isSubnetSupported()">
    <aui-form-item
      *ngIf="clusterCniType === 'macvlan'"
      [hidden]="shouldHideSubnetOptions"
    >
      <label auiFormItemLabel>{{ 'subnet' | translate }}</label>
      <aui-select
        auiFormItemControl
        [filterable]="true"
        [loading]="!subnetOptions"
        formControlName="subnetName"
      >
        <aui-option
          *ngFor="let item of subnetOptions"
          [value]="item.name"
          [label]="item.label"
        >
          {{ item.label }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>

    <aui-form-item
      *ngIf="clusterCniType === 'calico'"
      [hidden]="shouldHideSubnetOptions"
    >
      <label auiFormItemLabel>{{ 'subnet' | translate }}</label>
      <aui-multi-select
        auiFormItemControl
        [filterable]="true"
        [loading]="!subnetOptions"
        formControlName="cidrBlocks"
      >
        <aui-option
          *ngFor="let item of subnetOptions"
          [label]="item.label"
          [value]="item.cidr_block"
        >
          {{ item.label }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-multi-select>
    </aui-form-item>
  </ng-container>
  <!-- <pre>{{form.value | json}}</pre> -->
</form>
