@import 'var';

:host {
  .resource-form {
    &__wrapper {
      padding-bottom: 20px;
    }
    &__header {
      font-size: 16px;
    }
    &__divider {
      margin: 20px;
      font-weight: bold;
    }
  }

  .chart {
    height: 188px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 40px;
    highcharts-chart {
      width: 100%;
      height: 188px;
      display: block;
    }
  }
}
