<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/console/admin/alarm">{{ 'alarm' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ (data ? 'update' : 'create') | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<div *ngIf="initialized" class="resource-form__wrapper">
  <div class="resource-form__header">
    {{ formSubmitText | translate }}{{ 'alarm' | translate }}
  </div>
  <form
    #alarmForm="ngForm"
    [formGroup]="form"
    auiForm
    auiFormLabelPosition="right"
    [auiFormEmptyAddon]="false"
  >
    <!-- 监控配置 -->
    <div class="resource-form__divider">
      {{ 'monitoring_setting' | translate }}
    </div>
    <div
      class="chart"
      [rcLoadingMask]="chartLoading"
      [class.scrolling]="scrolling"
    >
      <highcharts-chart
        *ngIf="
          chartPercentOptions.series && chartPercentOptions.series.length
        "
        [Highcharts]="Highcharts"
        [options]="chartPercentOptions"
      ></highcharts-chart>
      <highcharts-chart
        *ngIf="
          chartNumericOptions.series && chartNumericOptions.series.length
        "
        [Highcharts]="Highcharts"
        [options]="chartNumericOptions"
      ></highcharts-chart>
      <rc-zero-state
        [zeroState]="
          !chartPercentOptions.series?.length &&
          !chartNumericOptions.series?.length &&
          !chartLoading
        "
        resourceName="data"
        [plain]="true"
      ></rc-zero-state>
    </div>
    <rc-alarm-metric-form
      formType="admin"
      [alarm_name]="name"
      [cluster_name]="cluster_name"
      [metric_type]="metric_type"
      [node_view_premission]="clusterNodePremission"
      [nodes]="nodes"
      formControlName="alarm_metric"
    ></rc-alarm-metric-form>
    <!-- 告警信息 -->
    <div class="resource-form__divider">
      {{ 'alarm_info' | translate }}
    </div>
    <rc-alarm-info-form
      [alarm_name]="name"
      [unit_name]="unit_name"
      formControlName="info"
    ></rc-alarm-info-form>
    <div class="resource-form__divider">
      {{ 'alarm_action' | translate }}
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'alarm_action' | translate }}</label>
      <div auiFormItemControl>
        <rc-alarm-action
          (alarmActionAdd)="onAlarmActionAdd($event)"
          [actions]="actions"
        ></rc-alarm-action>
      </div>
      <span auiFormItemAddon></span>
    </aui-form-item>
  </form>
</div>
<div class="resource-form__footer">
  <span fxFlex></span>
  <button
    aui-button="primary"
    (click)="onSubmit()"
    [loading]="submitting"
    [disabled]="submitting"
  >
    {{ formSubmitText | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
