<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'rbac' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/rbac/roles']">
        {{ 'roles_management' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'role_create' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<!-- 模板基本信息 -->
<section class="basic-info">
  <form
    class="basic-info-form"
    #form="ngForm"
    auiForm
    [auiFormLabelPosition]="'right'"
    [auiFormInline]="false"
    [auiFormEmptyAddon]="false"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'rbac_role_name' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        rcErrorsTooltip
        [rcErrorsTooltipInline]="true"
        [placeholder]="'rbac_role_name_hint' | translate"
        type="text"
        name="name"
        [(ngModel)]="data.name"
        pattern="^[A-Za-z0-9][A-Za-z0-9-_.]+[A-Za-z0-9]$"
        maxlength="100"
        required
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'role_type' | translate }}</label>
      <aui-radio-group
        auiFormItemControl
        name="roleType"
        [(ngModel)]="data.role_type"
        (ngModelChange)="onRoleTypeChange()"
      >
        <aui-radio-button [value]="RoleTypes.Platform">
          {{ getRoleTypeLevel(RoleTypes.Platform, false) | translate }}
        </aui-radio-button>
        <aui-radio-button [value]="RoleTypes.Project">
          {{ getRoleTypeLevel(RoleTypes.Project, false) | translate }}
        </aui-radio-button>
        <aui-radio-button *ngIf="!spaceEnabled" [value]="RoleTypes.Namespace">
          {{ getRoleTypeLevel(RoleTypes.Namespace, false) | translate }}
        </aui-radio-button>
        <aui-radio-button *ngIf="spaceEnabled" [value]="RoleTypes.Space">
          {{ getRoleTypeLevel(RoleTypes.Space, false) | translate }}
        </aui-radio-button>
      </aui-radio-group>
      <div auiFormItemAddon>
        <a
          href="javascript:void(0);"
          [auiTooltip]="roleTemplate"
          auiTooltipType="primary"
          auiTooltipPosition="end top"
        >
          <aui-icon icon="basic:question"></aui-icon>
        </a>
        <ng-template #roleTemplate>
          <p [innerHtml]="templateTooltip"></p>
        </ng-template>
      </div>
    </aui-form-item>
    <aui-form-item *ngIf="data.role_type !== RoleTypes.Platform">
      <label auiFormItemLabel>{{ 'project' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="project_name"
        rcErrorsTooltip
        [rcErrorsTooltipInline]="true"
        [placeholder]="'rbac_please_select_project' | translate"
        [(ngModel)]="data.project_name"
        (ngModelChange)="onProjectChange($event)"
        [loading]="projectsLoading"
        filterable
        [filterFn]="selectFilterFn"
        required
      >
        <aui-option
          *ngFor="let project of projects"
          [label]="project.display_name || project.name"
          [value]="project.name"
        >
          {{ project.display_name || project.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>
    <aui-form-item *ngIf="data.role_type === RoleTypes.Namespace">
      <label auiFormItemLabel>{{ 'namespace' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="namespace"
        [(ngModel)]="currentNamespace"
        (ngModelChange)="namespaceChange()"
        [disabled]="!data.project_name"
        [loading]="namespacesLoading"
        [placeholder]="
          (data.project_name
            ? 'rbac_please_select_namespace'
            : 'rbac_project_then_namespace') | translate
        "
        filterable
        [filterFn]="selectFilterFn"
        required
      >
        <aui-option
          *ngFor="let namespace of namespaces"
          [label]="namespace.name"
          [value]="namespace"
        >
          {{ namespace.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>
    <aui-form-item *ngIf="data.role_type === RoleTypes.Space">
      <label auiFormItemLabel>{{ 'group' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="namespace"
        [(ngModel)]="data.space_uuid"
        [disabled]="!data.project_name"
        [loading]="spacesLoading"
        [placeholder]="
          (data.project_name
            ? 'rbac_please_select_space'
            : 'rbac_project_then_space') | translate
        "
        filterable
        [filterFn]="selectFilterFn"
        required
      >
        <aui-option
          *ngFor="let space of spaces"
          [label]="space.name"
          [value]="space.uuid"
        >
          {{ space.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'import_permissions' | translate }}</label>
      <button aui-button (click)="import(null)">
        {{ 'select_role_template' | translate }}
      </button>
    </aui-form-item>
  </form>
</section>

<!-- 权限内容 -->
<section class="content">
  <div class="header-alt">
    {{ 'rbac_content' | translate }}
    <a
      href="javascript:void(0);"
      [auiTooltip]="permissionTooltipTemplate"
      auiTooltipType="primary"
      auiTooltipPosition="end top"
    >
      <aui-icon icon="basic:question"></aui-icon>
      <ng-template #permissionTooltipTemplate>
        <p [innerHtml]="contentTip[lang]"></p>
      </ng-template>
    </a>
  </div>
  <ng-container>
    <rc-permissions-table
      [(ngModel)]="data.permissions"
      [type]="tableType"
      [keepAll]="true"
    ></rc-permissions-table>

    <section class="bottom">
      <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
      <button aui-button="primary" (click)="submit()">
        {{ 'submit' | translate }}
      </button>
    </section>
  </ng-container>
</section>
