<aui-dialog-header>
  {{ 'select_role_template' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" class="form">
    <rc-vertical-tabs
      (tabChanged)="tabChanged($event)"
      *ngIf="tabList"
      style="height: 100%"
    >
      <h2 class="title">{{ title }}</h2>
      <div class="description">{{ description }}</div>
      <!-- scope -->
      <section class="scope" *ngIf="scope && scope.length">
        <div class="rb-header-alt">
          {{ 'rbac_constraints' | translate }}
          <aui-icon
            icon="question"
            [auiTooltip]="'rbac_template_constraints_hint' | translate"
            auiTooltipType="info"
            auiTooltipPosition="top"
          ></aui-icon>
        </div>
        <table>
          <thead>
            <tr>
              <td class="field">{{ 'field' | translate }}</td>
              <td class="value">
                {{ 'value' | translate }}
                <font color="red">*</font>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of scope">
              <td>{{ item.key | translate }}</td>
              <td>
                <input
                  [name]="item.key"
                  aui-input
                  type="text"
                  required
                  [(ngModel)]="item.val"
                  [pattern]="RBAC_CONSTRAINT_PATTERN.pattern"
                  [rcErrorsTooltip]
                  [rcErrorsTooltipMapper]="{
                    pattern: RBAC_CONSTRAINT_PATTERN.tip | translate
                  }"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <div class="not-select" *ngIf="tabIndex === undefined">
        <div class="line">
          <img src="/static/images/rbac/template_not_chosen.svg" alt="none" />
          <div>{{ 'rbac_select_template' | translate }}</div>
        </div>
      </div>
      <!-- tab -->
      <ng-container *ngFor="let tab of tabList; index as i">
        <rc-vertical-tab>
          <div *rcTabNav class="nav-tab" [ngClass]="{ active: tabIndex == i }">
            {{
              lang.includes('en') && tab.display_name_en
                ? tab.display_name_en
                : tab.display_name || tab.name
            }}
            <div class="official-container" *ngIf="tab.official">
              <img
                [src]="'/static/images/rbac/sys_' + lang + '.svg'"
                alt="sys"
              />
            </div>
            <div class="triangle"></div>
          </div>
        </rc-vertical-tab>
      </ng-container>
      <!-- 权限内容 -->
      <section class="content" *ngIf="permissions.length">
        <!-- table -->
        <rc-permissions-table
          [(ngModel)]="permissions"
          [ngModelOptions]="{ standalone: true }"
          [type]="TableType.View"
          [keepAll]="false"
          [expanded]="true"
        ></rc-permissions-table>
      </section>
    </rc-vertical-tabs>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button (click)="cancel()" style="margin-right: 8px">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    [disabled]="tabIndex === undefined"
    (click)="confirm()"
  >
    {{ 'import_current_role_template' | translate }}
  </button>
</aui-dialog-footer>
