@import 'var';

:host {
  width: 100%;
}

::ng-deep .rc-tooltip__content {
  padding: 8px;
}

.basic-info {
  background-color: #fff;
  padding: 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  .basic-info-form {
    padding-right: 15%;
    ::ng-deep .aui-form-item {
      .aui-form-item__label-wrapper {
        flex: 2;
      }
      .aui-form-item__container {
        flex: 8;
      }

      .parent-roles {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
      }

      .parent-role-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 8px;
        &__show,
        &__delete {
          font-size: 16px;
          line-height: 32px;
          padding-left: 8px;
          &:hover {
            color: $blue-6;
          }
        }
      }

      .add {
        border-radius: 2px;
        width: 100%;
        height: 32px;
        line-height: 32px;
        text-align: center;
        cursor: pointer;
        background-color: #d8eef9;
        color: #2fa7df;
        i.fa {
          margin-right: 4px;
        }
      }
    }
    .import {
      width: 80%;
      margin: 0 auto;
      display: flex;
      box-sizing: border-box;
      padding-right: 48px;
      > span {
        flex: 2;
        text-align: right;
        line-height: 32px;
        padding-right: 24px;
      }
      .rc-button {
        flex: 7;
      }
    }
  }
}

.bottom {
  margin: 16px 0 120px 0;
  display: flex;
  justify-content: flex-end;
}

.content {
  border-radius: 0 0 8px 8px;
  box-shadow: $gray-light-shadow;
  background-color: $card-background-color;
  padding: 20px 40px;
  .header-alt {
    display: flex;
    align-items: center;
    margin: 16px 0;
    font-size: 16px;
    &:before {
      width: 3px;
      height: 17px;
      background-color: #59889b;
      content: '';
      display: block;
      margin-right: 10px;
    }
    aui-icon {
      margin-left: 8px;
    }
  }
}
