<aui-dialog-header>
  {{ data.title }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    class="form"
    [formGroup]="form"
    auiForm
    auiFormLabelWidth="150px"
    [auiFormEmptyAddon]="true"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-content">
      <div class="tip-container">
        <aui-inline-alert closable="true">
          <div [innerHTML]="'jenkins_pipeline_create_tips' | translate"></div>
        </aui-inline-alert>
      </div>
      <div class="form-group">
        <div class="form-group-header">
          {{ 'jenkins_pipeline_basic_info' | translate }}
        </div>
        <div class="form-group-content">
          <aui-form-item>
            <label auiFormItemLabel>
              {{ 'jenkins_pipeline_display_name' | translate }}
            </label>
            <input
              auiFormItemControl
              formControlName="display_name"
              type="text"
              aui-input
              [maxLength]="100"
            />
          </aui-form-item>

          <aui-form-item>
            <label auiFormItemLabel>{{ 'description' | translate }}</label>
            <textarea
              auiFormItemControl
              formControlName="description"
              aui-input
              [maxLength]="512"
            ></textarea>
          </aui-form-item>
        </div>
      </div>
      <div class="form-group">
        <div class="form-group-header">
          {{ 'jenkins_pipeline_select_code_repo' | translate }}
        </div>
        <div class="form-group-content">
          <aui-form-item>
            <label auiFormItemLabel>
              {{ 'jenkins_code_repository' | translate }}
            </label>
            <aui-radio-group
              auiFormItemControl
              formControlName="source"
              (ngModelChange)="onCodeClientChange$.next($event)"
              [rcLoadingMask]="!codeClients"
            >
              <aui-radio-button
                *ngFor="let codeClient of codeClients"
                [value]="codeClient.name"
              >
                {{ codeClient.displayName }}
              </aui-radio-button>
            </aui-radio-group>
          </aui-form-item>

          <aui-form-item
            [hidden]="['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
          >
            <label auiFormItemLabel>
              {{ 'jenkins_code_account' | translate }}
            </label>
            <aui-radio-group
              auiFormItemControl
              formControlName="code_org"
              (ngModelChange)="onCodeOrgChange$.next($event)"
              [hidden]="isSelectedCodeClientNotBind"
              [rcLoadingMask]="!codeOrgs"
            >
              <aui-radio-button
                *ngFor="let codeOrg of codeOrgs"
                [value]="codeOrg.name"
              >
                {{ codeOrg.name }}
              </aui-radio-button>
            </aui-radio-group>
            <rc-repo-not-bind-hint
              *ngIf="isSelectedCodeClientNotBind"
            ></rc-repo-not-bind-hint>
          </aui-form-item>

          <aui-form-item
            [hidden]="['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
          >
            <label auiFormItemLabel>
              {{ 'jenkins_code_repository_address' | translate }}
            </label>
            <rc-code-repository-select
              formControlName="code_repo"
              auiFormItemControl
              [codeClient]="form.value.source"
              [codeOrg]="form.value.code_org"
              [required]="
                !['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)
              "
              rcErrorsTooltip
              [rcErrorsTooltipInline]="true"
            ></rc-code-repository-select>
          </aui-form-item>

          <aui-form-item [hidden]="!['GIT', 'SVN'].includes(form.value.source)">
            <label auiFormItemLabel>
              {{ 'jenkins_code_repository_address' | translate }}
            </label>
            <input
              auiFormItemControl
              formControlName="repository_path"
              type="text"
              aui-input
              [required]="['GIT', 'SVN'].includes(form.value.source)"
              placeholder="{{
                (['GIT'].includes(form.value.source)
                  ? 'jenkins_git_repo_address_example'
                  : 'jenkins_svn_repo_address_example') | translate
              }}"
              pattern="^(http(s?):\/\/.+)|(git@.+:.+)|(ssh:\/\/.+@.+)|(git:\/\/.+)"
              [maxLength]="512"
            />
          </aui-form-item>

          <aui-form-item
            [hidden]="['NOT_USE', 'SVN'].includes(form.value.source)"
          >
            <label auiFormItemLabel>{{ 'code_branch' | translate }}</label>
            <input
              auiFormItemControl
              formControlName="branch"
              type="text"
              aui-input
              [placeholder]="'jenkins_code_repo_branch_tip' | translate"
              [required]="!['NOT_USE', 'SVN'].includes(form.value.source)"
              [maxLength]="512"
            />
            <aui-icon
              auiFormItemAddon
              icon="basic:question"
              [auiTooltip]="'jenkins_pipeline_code_branch_hint' | translate"
            ></aui-icon>
          </aui-form-item>

          <div class="credential-field">
            <!-- TODO: rc-form-field ignore tag classes -->
            <aui-form-item
              [hidden]="!['GIT', 'SVN'].includes(form.value.source)"
            >
              <label auiFormItemLabel>
                {{ 'jenkins_code_credential' | translate }}
              </label>
              <aui-select
                auiFormItemControl
                formControlName="credential_name"
                filterable
                required
                [loading]="!credentials"
                [placeholder]="'jenkins_code_credential' | translate"
              >
                <aui-option
                  *ngFor="let credential of credentials"
                  [value]="credential.name"
                  [label]="credential.display_name"
                >
                  {{ credential.display_name }}
                </aui-option>
              </aui-select>
              <a
                href="javascript:void(0)"
                (click)="addCredential()"
                class="add-credential"
                *ngIf="createCredentialEnabled"
                style="margin-left:8px;"
              >
                {{ 'jenkins_create_credential' | translate }}
              </a>
            </aui-form-item>
          </div>
          <aui-form-item>
            <label auiFormItemLabel>
              {{ 'jenkins_pipeline_script_type' | translate }}
            </label>
            <aui-radio-group auiFormItemControl formControlName="type">
              <aui-radio-button
                *ngFor="let scriptType of scriptTypes"
                [value]="scriptType.type"
                [disabled]="form.value.source === 'NOT_USE'"
              >
                {{ scriptType.name }}
              </aui-radio-button>
            </aui-radio-group>
          </aui-form-item>

          <aui-form-item [hidden]="form.value.type !== 'INLINE'">
            <label auiFormItemLabel>
              {{ 'jenkin_script_content' | translate }}
            </label>
            <aui-code-editor
              *ngIf="form.value.type === 'INLINE'"
              auiFormItemControl
              formControlName="script"
              style="width: 100%;"
              [required]="form.value.type === 'INLINE'"
              [originalValue]="originalJenkinsfile"
              [actionsConfig]="actionsConfigUpdate"
              [options]="codeEditorOptions"
            ></aui-code-editor>
          </aui-form-item>

          <div
            class="jenkinsfile_content_example"
            [hidden]="form.value.type !== 'INLINE'"
          >
            <a (click)="jenkinsfileExample()">
              {{ 'jenkinsfile_content_example' | translate }}
            </a>
          </div>
          <aui-form-item [hidden]="form.value.type !== 'FROM_SCM'">
            <label auiFormItemLabel>
              {{ 'jenkins_script_path' | translate }}
            </label>
            <input
              auiFormItemControl
              formControlName="script_path"
              type="text"
              aui-input
              [required]="form.value.type === 'FROM_SCM'"
              [maxLength]="512"
            />
          </aui-form-item>
        </div>
      </div>
      <div class="form-group" formArrayName="triggers">
        <div class="form-group-header">
          {{ 'jenkins_pipeline_trigger' | translate }}
        </div>
        <div class="form-group-content">
          <div
            *ngFor="
              let trigger of getFormControls('triggers');
              trackBy: triggerIdentify
            "
          >
            <rc-pipeline-form-trigger
              [form]="trigger"
              [codeRepoSource]="form.value.source"
              (remove)="removeTrigger(trigger)"
              #triggerComponent
            ></rc-pipeline-form-trigger>
          </div>
          <div class="trigger-rows">
            <div class="fields-name">
              {{ 'jenkins_pipeline_triggers' | translate }}
            </div>
            <button
              aui-button
              type="button"
              size="mini"
              [auiTooltip]="triggerTypeTemplate"
              auiTooltipPosition="top"
              auiTooltipTrigger="click"
              auiTooltipType="plain"
              #triggerSelect="auiTooltip"
            >
              <i class="fa fa-plus-circle"></i>
              {{ 'jenkins_add_trigger' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template #triggerTypeTemplate>
    <div class="trigger-select">
      <div class="trigger-select-title">
        {{ 'jenkins_select_trigger_type' | translate }}
      </div>
      <div class="trigger-select-body">
        <a
          href="javascript:void(0)"
          (click)="addTrigger('cron')"
          [class.disabled]="cronTriggerDisabled()"
        >
          <i class="fa fa-clock-o"></i>
          <span>
            {{ 'jenkins_trigger_cron' | translate }}
          </span>
        </a>
        <a href="javascript:void(0)" (click)="addTrigger('image_change')">
          <i class="fa fa-building"></i>
          <span>
            {{ 'jenkins_trigger_image_change' | translate }}
          </span>
        </a>
        <a
          href="javascript:void(0)"
          (click)="addTrigger('code_change_hook')"
          [class.disabled]="codeChangeHookTriggerDisabled()"
        >
          <i class="fa fa-code-fork"></i>
          <span>
            {{ 'jenkins_trigger_code_change_hook' | translate }}
          </span>
        </a>
      </div>
    </div>
  </ng-template>
</aui-dialog-content>
<aui-dialog-footer>
  <span fxFlex></span>
  <button aui-button="default" (click)="dialogRef.close()" [disabled]="saving">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    [disabled]="saving || !initialized"
    [loading]="saving"
    (click)="onSubmit()"
  >
    {{ 'save' | translate }}
  </button>
</aui-dialog-footer>
