:host {
  ::ng-deep .aui-card {
    &__header {
      align-items: center;
    }
    .rc-detail-container {
      padding: 0;
      margin: 0;
      min-height: auto;
      .detail-wrapper {
        margin: 0;
        .detail-item {
          align-items: flex-start;
          margin-top: 12px;
        }
      }
    }

    .tags-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .tags-toggle {
      cursor: pointer;
      flex-shrink: 0;
      flex-basis: 20px;
    }
    ::ng-deep .owner-menu_item {
      padding: 5px;
      list-style: none;
      cursor: default;
      .owner-info__item {
        max-width: 120px !important;
        &__name {
          max-width: 54px !important;
        }
      }
    }

    .cluster-container {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: flex-start;
      margin-right: 4px;
      &__divider {
        margin: 0 4px;
      }
    }
    .cluster-toggle {
      cursor: pointer;
      flex-shrink: 0;
      flex-basis: 20px;
      &__label {
        border: 1px solid #eee;
        border-radius: 2px;
        font-size: 12px;
        background: #fafafa;
        color: #666;
        display: inline-block;
        padding: 2px 4px;
      }
    }
  }
}
