<aui-card *ngIf="meta">
  <div auiCardHeader>
    {{ meta.name }}
    <div fxFlex></div>
    <rc-app-detail-header
      [app]="meta.name"
      [actions]="actions"
      [cluster]="cluster"
      [appData]="appData"
    ></rc-app-detail-header>
  </div>
  <div class="rc-detail-container">
    <div class="detail-wrapper">
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'status' | translate }}</label>
          <div fxLayoutAlign="center center">
            <rc-app-status
              [appName]="meta.name"
              [appStatus]="appStatus"
              [baseParams]="baseParams"
            ></rc-app-status>
          </div>
        </div>
        <div class="detail-item">
          <label>{{ 'display_name' | translate }}</label>
          <div>{{ displayName || meta.name }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'region_badge_current_region' | translate }}</label>
          <div>{{ clusterDisplayName }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'created_at' | translate }}</label>
          <div>{{ meta.creationTimestamp | rcFormatUtcStr }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'app_address' | translate }}</label>
          <rc-app-address [urlList]="meta.addresses"></rc-app-address>
        </div>
        <div class="detail-item" *ngIf="mirrorAppClusters?.length">
          <label>{{ 'mirror_cluster' | translate }}</label>
          <div fxLayoutAlign="center center">
            <div>
              <div class="cluster-container">
                <ng-container
                  *ngFor="
                    let item of mirrorAppClusters;
                    index as i;
                    trackBy: trackByFn
                  "
                >
                  <span *ngIf="i !== 0" class="cluster-container__divider">
                    ;
                  </span>
                  <a
                    class="cluster-container__item"
                    (click)="redirectToMirrorApp(item)"
                    href="javascript:void(0)"
                  >
                    {{ item.display_name }}
                  </a>
                  <rc-app-status
                    [appName]="meta.name"
                    [baseParams]="item.baseParams"
                    [style.margin-left]="'2px'"
                  ></rc-app-status>
                </ng-container>
              </div>
              <div
                class="cluster-toggle"
                *ngIf="mirrorClusters?.length > 2"
                [auiDropdown]="clustersMenu"
              >
                <div class="cluster-toggle__label">...</div>
              </div>
              <aui-menu #clustersMenu size="small">
                <aui-menu-item
                  *ngFor="let item of mirrorClusters"
                  (click)="redirectToMirrorApp(item)"
                >
                  {{ item.display_name }}
                </aui-menu-item>
              </aui-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aui-card>
