<aui-card>
  <div auiCardHeader *ngIf="!params">
    {{ 'configuration_items' | translate }}
  </div>

  <div class="config-map-container" *ngIf="keyValueList.length">
    <div class="config-map-keys">
      <aui-search
        [searchButton]="false"
        [placeholder]="'filter_by_name_placeholder' | translate"
        (keywordChange)="onKeywordChange($event)"
      ></aui-search>

      <div class="config-map-keys__container">
        <div
          *ngFor="let config of keyValueList"
          [auiTocLink]="config['key'].replace('.', '')"
          [for]="toc"
          class="config-map-keys__label"
        >
          <div class="config-map-keys__label-key">{{ config['key'] }}</div>
        </div>
      </div>
    </div>

    <div class="config-map-values" auiTocContainer #toc="auiTocContainer">
      <div
        *ngFor="let config of keyValueListOrigin"
        [auiTocContent]="config['key'].replace('.', '')"
        class="config-map-section"
      >
        <div class="config-map-section__header">
          {{ config['key'] }}

          <div fxFlex></div>

          <button
            [plain]="true"
            aui-button="text"
            [disabled]="!canUpdate"
            (click)="updateConfig(config, updateConfigDialog)"
          >
            <aui-icon icon="basic:pencil_s"></aui-icon>
          </button>
          <button
            [plain]="true"
            aui-button="text"
            [disabled]="!canUpdate"
            (click)="deleteConfigmapKey(config)"
          >
            <aui-icon icon="basic:trash"></aui-icon>
          </button>
        </div>

        <pre class="config-map-section__content">{{ config['value'] }}</pre>
      </div>
    </div>
  </div>

  <rc-zero-state
    [zeroState]="keyValueListOrigin.length === 0"
    [fetching]="loading"
    resourceName="configuration_items"
  ></rc-zero-state>
</aui-card>

<ng-template #updateConfigDialog let-data>
  <aui-dialog-header>{{ 'key' | translate }}: {{ data.key }}</aui-dialog-header>
  <aui-dialog-content>
    <form #form="ngForm" auiForm auiFormLabelWidth="70px">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'value' | translate }}</label>
        <textarea
          auiFormItemControl
          aui-input
          size="large"
          name="value"
          [(ngModel)]="data.value"
        ></textarea>
      </aui-form-item>
    </form>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button
      aui-button="primary"
      (click)="confirm(data.key, data.value)"
      [loading]="submitting"
    >
      {{ 'confirm' | translate }}
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</ng-template>
