@import 'var';
@import 'mixins';

$left-panel-width: 228px;

:host {
  ::ng-deep {
    .aui-card__header {
      border-bottom: none;
      padding-bottom: 0;

      + .aui-card__content {
        margin-top: unset !important;
      }
    }
  }

  .config-map-container {
    display: flex;
    position: relative;

    max-height: calc(100vh - 360px);

    ::ng-deep {
      aui-search {
        width: $left-panel-width;
      }
    }

    .config-map-keys {
      position: relative;
      display: flex;
      flex-flow: column;

      width: $left-panel-width;
      padding-top: 12px;
      margin-right: 12px;

      &__container {
        @include scroll-bar;

        width: 236px;
        height: 100%;
        margin-top: 12px;

        overflow-y: auto;
      }

      &__label {
        display: flex;
        align-items: center;

        margin-bottom: 8px;

        cursor: pointer;

        &:last-child {
          margin-bottom: unset;
        }

        &-key {
          @include text-overflow();

          position: relative;

          width: $left-panel-width;
          line-height: 20px;
          padding-left: 10px;

          color: #666;

          &:hover {
            color: $color-primary;
          }

          &::after {
            content: '';

            position: absolute;
            left: 0;
            top: calc(50% - 2px);

            width: 4px;
            height: 4px;

            border-radius: 50%;
            background-color: #666;
          }
        }

        &.isActive {
          .config-map-keys__label-key {
            font-weight: 600;
            color: $color-primary;

            &::after {
              background-color: $color-primary;
            }
          }
        }
      }
    }

    .config-map-values {
      @include scroll-bar;

      flex: 1;
      position: relative;

      margin-top: 12px;
      margin-left: 12px;
      margin-right: -16px;
      padding-right: 16px;

      overflow: auto;
    }

    .config-map-section {
      &:not(:last-child) {
        border-bottom: $default-border;
        padding-bottom: 20px;
      }

      &:not(:first-child) {
        margin-top: 20px;
      }

      &:last-child {
        min-height: calc(100vh - 372px);
      }

      &__header {
        padding-bottom: 10px;

        font-weight: 600;
        font-size: 14px;
        color: #666;
      }

      &__content {
        padding: 0 8px;
        line-height: 28px;
        min-height: 28px;
        overflow-x: auto;
        border-radius: 2px;
        color: #666;
        font-size: 12px;
        background-color: #ededed;
        border: none;
      }
    }
  }
}
