<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'network' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="jumpToListPage()">
        {{ 'kube_ingress' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ data?.kubernetes?.metadata.name }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<rc-ingress-form-container
  *ngIf="data"
  [data]="data"
></rc-ingress-form-container>
