:host {
  .form-container {
    margin: 0;
    padding: 40px 0;
    form {
      margin-bottom: 0;
    }
  }

  .form-header {
    height: 26px;
    line-height: 26px;
    margin: 0 0 20px;
    font-size: 26px;
    color: #333;
  }
}

.form-container {
  &.suport-third-party {
    padding-bottom: 34px;
  }
}

aui-inline-alert {
  margin-bottom: 12px;
}

.login-error-msg ::ng-deep {
  .aui-inline-alert {
    padding: 8px;
    margin-bottom: 12px;
    font-size: 12px;
    background-color: rgba(235, 98, 98, 0.2);
    color: #eb6262;
    border: none;
    .aui-inline-alert__icon {
      height: 16px;
    }

    aui-icon {
      height: 16px;
      line-height: 16px;
      font-size: 12px;
    }

    .aui-inline-alert__content {
      max-width: 260px;
      margin-top: 0;
      line-height: 16px;
      font-size: 12px;
      white-space: initial;
      word-break: break-all;
    }
  }
}

.third-party-login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  button {
    width: 100%;
    margin: 0 0 16px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  }

  button:last-child {
    color: #000;
  }
}

.other-login {
  margin-top: 20px;
  .other-login-title {
    margin: 4px 0 12px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: #999;
  }

  .other-login-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30px;
  }

  .other-login-item {
    cursor: pointer;
    flex: 0 0 50px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    border: 1px solid #dedede;
    border-radius: 15px;

    img {
      width: 18px;
      height: 18px;
      opacity: 0.66;
    }

    span {
      margin: 0 15px;
    }

    &:hover {
      border-color: #009ce3;
      img {
        opacity: 1;
      }
    }
  }
}

.role-switcher {
  position: absolute;
  bottom: -32px;
  width: 296px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
}

a {
  cursor: pointer;
  color: #999;
  &:hover {
    color: #009ce3;
    text-decoration: underline;
  }
}

button {
  margin-top: 28px;
}
