<div class="form-container" [class.suport-third-party]="thirdParties.length">
  <div class="form-header">{{ this.headerInfo | translate }}</div>
  <aui-inline-alert
    class="login-error-msg"
    type="error"
    *ngIf="errorMsg"
    [content]="errorMsg"
  ></aui-inline-alert>
  <form (ngSubmit)="login()">
    <rld-form-control-fragment
      *ngFor="let fragment of formControlFragments"
      [class.hidden]="fragment.hidden"
      [formControlFragment]="fragment"
    >
      <div
        *ngIf="fragment.type === 'password' && loginMode === LoginMode.root"
        #content
      >
        <a class="forget-password" routerLink="/landing/forget-password">
          {{ 'forget_password' | translate }}?
        </a>
      </div>
    </rld-form-control-fragment>
    <button
      aui-button="primary"
      size="large"
      [loading]="submitting"
      [disabled]="loginDisabled"
    >
      {{ 'login' | translate }}
    </button>
  </form>

  <div
    *ngIf="loginMode !== LoginMode.root && thirdParties.length"
    class="other-login"
  >
    <div class="other-login-title">
      <span>{{ 'other_login_methods' | translate }}</span>
    </div>
    <ul class="other-login-list">
      <li
        *ngFor="let item of thirdParties"
        class="other-login-item"
        (click)="tpLogin(item)"
      >
        <span>{{ item.display_name }}</span>
      </li>
    </ul>
  </div>
</div>

<div class="role-switcher">
  <a [routerLink]="loginSwitchLink" [queryParams]="{ next: _next }">
    {{ loginSwitchLinkText | translate }}
  </a>
</div>
