:host {
  ::ng-deep {
    .aui-form-item__label {
      font-weight: normal;
    }
    .aui-form-item__error-wrapper {
      margin-top: 4px;
    }
    .pure-password-login-dialog__alert {
      padding: 0 20px;
    }
  }
}
