<div class="pure-password-login-dialog">
  <form #form="ngForm" auiForm auiFormLabelPosition="top">
    <aui-dialog-header>{{ 'update_password' | translate }}</aui-dialog-header>
    <aui-dialog-content>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'old_password' | translate }}</label>
        <input
          auiFormItemControl
          [type]="pwdVisible ? 'text' : 'password'"
          aui-input
          name="old_password"
          #oldPassword="ngModel"
          [(ngModel)]="formModel.oldPassword"
          required
        />
        <div
          auiFormItemAddon
          style="cursor: pointer;"
          (click)="pwdVisible = !pwdVisible"
        >
          <aui-icon *ngIf="pwdVisible" icon="basic:eye_s"></aui-icon>
          <aui-icon *ngIf="!pwdVisible" icon="basic:eye_slash_s"></aui-icon>
        </div>
        <div auiFormItemError *ngIf="oldPassword.errors?.required">
          {{ 'field_required' | translate }}
        </div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'new_password' | translate }}</label>
        <input
          auiFormItemControl
          [type]="pwdVisible ? 'text' : 'password'"
          aui-input
          [pattern]="pwdPattern.pattern"
          name="password"
          #password="ngModel"
          [minlength]="pwdPattern.min"
          [maxlength]="pwdPattern.max"
          [(ngModel)]="formModel.password"
          required
        />
        <div auiFormItemAddon></div>
        <div auiFormItemError *ngIf="password.errors?.required">
          {{ 'field_required' | translate }}
        </div>
        <div auiFormItemError *ngIf="password.errors?.pattern">
          {{ pwdPattern.errorPattern }}
        </div>
        <div auiFormItemError *ngIf="password.errors?.maxlength">
          {{ 'warning_max_length' | translate: { length: pwdPattern.max } }}
        </div>
        <div auiFormItemError *ngIf="password.errors?.minlength">
          {{ 'warning_min_length' | translate: { length: pwdPattern.min } }}
        </div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'confirm_new_password' | translate }}</label>
        <input
          auiFormItemControl
          [type]="pwdVisible ? 'text' : 'password'"
          aui-input
          name="confirm_password"
          [pattern]="cPwdPattern"
          [(ngModel)]="formModel.confirmPassword"
          #confirmPassword="ngModel"
          required
        />
        <div auiFormItemAddon></div>
        <div auiFormItemError *ngIf="confirmPassword.errors?.required">
          {{ 'field_required' | translate }}
        </div>
        <div auiFormItemError *ngIf="confirmPassword.errors?.pattern">
          {{ 'password_not_same' | translate }}
        </div>
      </aui-form-item>
    </aui-dialog-content>
    <aui-dialog-footer>
      <div>
        <button
          aui-button="primary"
          (click)="saveNewPassword()"
          [disabled]="form.invalid || submitting"
          [loading]="submitting"
        >
          {{ 'update' | translate }}
        </button>
        <button aui-button [auiDialogClose]="true">
          {{ 'cancel' | translate }}
        </button>
      </div>
    </aui-dialog-footer>
  </form>
</div>
