:host {
  .kube_resource {
    &__resource-list {
      padding-left: 30px;
      max-height: 500px;
      overflow: scroll;
      &__action {
        padding-right: 8px;
      }
    }
    &__resource-header {
      width: 100%;
    }
    &__api-group {
      &__action {
        padding-right: 18px;
      }
    }
  }
  .aui-table__column-action {
    flex: 0 0 60px;
  }
  ::ng-deep {
    .aui-accordion-item__header-content {
      width: 100%;
    }
  }
  aui-icon {
    cursor: pointer;
    &:hover {
      color: #009ce3;
    }
  }
}
