<aui-card>
  <div fxLayout auiCardHeader>
    <span>{{ 'kube_resource' | translate }}</span>
    <div fxFlex></div>
    <button aui-button (click)="operateApiGroup(null)">
      {{ 'add_api_group' | translate }}
    </button>
    <button aui-button (click)="operateResourceType()">
      {{ 'add_resource_type' | translate }}
    </button>
  </div>

  <rc-loading-mask
    [loading]="!initialized"
    *ngIf="!initialized"
  ></rc-loading-mask>
  <aui-accordion *ngIf="initialized">
    <aui-accordion-item
      *ngFor="let apiGroup of apiGroupList; let i = index"
      (expandedChange)="expandedChange($event, i)"
    >
      <div auiAccordionItemHeader class="kube_resource__resource-header">
        <span>{{ apiGroup.name }}</span>
        <div fxFlex></div>
        <div
          class="kube_resource__api-group__action"
          *ngIf="apiGroup.source !== 'system'"
        >
          <aui-icon
            icon="basic:pencil_s"
            (click)="operateApiGroup(apiGroup.name); $event.stopPropagation()"
          ></aui-icon>
          <aui-icon
            icon="basic:trash"
            (click)="deleteApiGroup(apiGroup.name); $event.stopPropagation()"
          ></aui-icon>
        </div>
      </div>
      <div *ngIf="expandFlag[i]" class="kube_resource__resource-list">
        <aui-table
          [dataSource]="k8sPermissionsMap[apiGroup.name]"
          [trackBy]="trackByFn"
        >
          <ng-container auiTableColumnDef="resource_type">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'resource_type' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let rowData">
              <span>{{ rowData.resource_type }}</span>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="permission_action">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'rbac_actions' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let rowData">
              <div>{{ getActionsTranslation(rowData.actions) }}</div>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="source">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'source' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let rowData">
              <span>
                {{ (rowData.resource_source == 'system' ? 'type_system' :
                'type_custom') | translate }}
              </span>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="action">
            <aui-table-header-cell
              *auiTableHeaderCellDef
            ></aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let rowData">
              <div
                class="kube_resource__resource-list__action"
                *ngIf="rowData.resource_source !== 'system'"
              >
                <aui-icon
                  icon="basic:pencil_s"
                  (click)="operateResourceType(rowData)"
                ></aui-icon>
                <aui-icon
                  icon="basic:trash"
                  (click)="deleteResourceType(rowData)"
                ></aui-icon>
              </div>
            </aui-table-cell>
          </ng-container>
          <aui-table-header-row
            *auiTableHeaderRowDef="columns"
          ></aui-table-header-row>
          <aui-table-row
            *auiTableRowDef="let row; columns: columns"
          ></aui-table-row>
        </aui-table>
        <rc-zero-state
          [zeroState]="!k8sPermissionsMap[apiGroup.name]?.length"
          resourceName="resource_type"
        ></rc-zero-state>
      </div>
    </aui-accordion-item>
  </aui-accordion>
</aui-card>
