<aui-form-item>
  <label auiFormItemLabel>{{ 'pipeline_repository' | translate }}</label>
  <rc-repository-selector
    [style.width]="'100%'"
    auiFormItemControl
    [formControl]="form.controls.repo"
    [namespace]="namespace"
    [spaceName]="spaceName"
    required
  ></rc-repository-selector>
</aui-form-item>
<aui-form-item [hidden]="form.value['repo'].sourceType === 'SVN'">
  <label auiFormItemLabel>{{ 'pipeline_branch' | translate }}</label>
  <aui-select
    auiFormItemControl
    [formControl]="form.controls.branch"
    [filterable]="true"
    [clearable]="true"
    [allowCreate]="true"
    required
  >
    <aui-option
      *ngFor="let option of branches"
      [label]="option.opt_key"
      [value]="option.opt_value"
    >
      {{ option.opt_key }}
    </aui-option>
  </aui-select>
</aui-form-item>
<aui-form-item>
  <label auiFormItemLabel>{{ 'pipeline_jenkinsfile_path' | translate }}</label>
  <input
    auiFormItemControl
    aui-input
    [formControl]="form.controls.path"
    required
  />
</aui-form-item>
