<svg
  [attr.height]="height + 12"
  width="24"
  xmlns="http://www.w3.org/2000/svg"
  class="triangle-pos"
>
  <svg:defs>
    <svg:marker
      id="trianglevertical"
      viewBox="0 0 12 12"
      refX="2"
      refY="4"
      markerUnits="strokeWidth"
      markerWidth="8"
      markerHeight="8"
      orient="auto"
    >
      <svg:path d="M0,0 L6,4 L0,8 L2,4 L0,0" style="fill:#cccccc;"></svg:path>
    </svg:marker>
  </svg:defs>
  <svg:path
    [attr.d]="'M 12 1 L 12 ' + height"
    fill="none"
    stroke="#cccccc"
    stroke-width="2"
    marker-end="url(#trianglevertical)"
  />
</svg>
