<a
  class="cluster-card"
  [routerLink]="['/console/admin/cluster/detail', cluster.name]"
>
  <div class="cluster-card__header">
    <div
      class="cluster-card__status"
      [ngClass]="'cluster-card__status--' + (clusterStatus$ | async).status"
    >
      <aui-icon
        [icon]="(clusterStatus$ | async).icon"
        [color]="(clusterStatus$ | async).color"
        size="24"
      ></aui-icon>
    </div>
    <div class="cluster-card__info__wrapper">
      <div class="cluster-card__info">
        <div class="cluster-card__info__title">{{ cluster.display_name }}</div>
        <img
          class="cluster-card__info__icon"
          [src]="
            '/static/images/cloud/' +
            cluster.attr.cloud.name.toLowerCase() +
            '.svg'
          "
        />
        <aui-icon
          *ngIf="(masterNodes$ | async)?.length > 1"
          class="cluster-card__info__icon"
          icon="basic:high_availability"
        ></aui-icon>
        <div
          *ngIf="cluster.mirror?.name"
          class="cluster-card__info__icon cluster-card__info__icon__wrapper"
          [ngStyle]="{ backgroundColor: cluster.mirror?.flag }"
        >
          <img src="/static/images/cluster/mirror-cluster.svg" />
        </div>
      </div>
      <div class="cluster-card__count">
        {{ 'region-nodes-count' | translate }} :
        {{ (clusterNodes$ | async)?.length }}
      </div>
    </div>
  </div>
  <div class="cluster-card__unnormal-nodes">
    <div
      class="cluster-card__unnormal-nodes__count"
      [ngClass]="{
        'cluster-card__unnormal-nodes__count--error': (unnormalNodes$ | async)
          ?.length
      }"
    >
      {{ (unnormalNodes$ | async)?.length || 0 }}
    </div>
    {{ 'region_unnormal_nodes_count' | translate }}
  </div>
  <div class="cluster-card__footer" *ngIf="cpu_utilization || mem_utilization">
    <div class="cluster-card__footer__usage">
      <span>CPU :</span>
      <span *ngIf="cpu_utilization > 0 && cpu_utilization < 80">
        {{ cpu_utilization }}%
      </span>
      <span
        *ngIf="cpu_utilization > 80"
        class="cluster-card__footer__usage--warning"
      >
        {{ cpu_utilization }}%
      </span>
      <span *ngIf="!cpu_utilization">-</span>
    </div>
    <div class="splitting"></div>
    <div class="cluster-card__footer__usage">
      <span>{{ 'memory' | translate }} :</span>
      <span *ngIf="mem_utilization > 0 && mem_utilization < 80">
        {{ mem_utilization }}%
      </span>
      <span
        *ngIf="mem_utilization > 80"
        class="cluster-card__footer__usage--warning"
      >
        {{ mem_utilization }}%
      </span>
      <span *ngIf="!mem_utilization">-</span>
    </div>
  </div>
  <div
    class="cluster-card__footer"
    *ngIf="!cpu_utilization && !mem_utilization"
  >
    <div class="cluster-card__footer__usage--none">
      {{ 'no_monitoring_data' | translate }}
    </div>
  </div>
</a>
