<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a (click)="cancelCreateAppCatalog()">{{ 'nav_catalog' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'create' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ basic_info.name }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<!-- catalog Basic Info -->
<aui-card *ngIf="!(showLoadingMask$ | async)">
  <div style="display: flex">
    <div class="detail-icon">
      <img
        [src]="platformService.getLocalPicture(basic_info)"
        alt="app-icon"
        onerror="javascript:this.src='/static/images/app-catalog/template.svg';"
      />
    </div>
    <div class="rc-detail-container catalogBasicInfo">
      <div class="detail-wrapper">
        <div class="detail-header">
          <h3>{{ basic_info.display_name }}</h3>
          <div fxFlex></div>
        </div>
        <div class="detail-content">
          <div class="detail-item">
            <label>{{ 'app_catalog_template_name' | translate }}</label>
            <div>{{ basic_info.name }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'app_catalog_version' | translate }}</label>
            <div>{{ basic_info.version }}</div>
          </div>
          <div class="detail-item app-catalog-desc-item">
            <label>{{ 'description' | translate }}</label>
            <div class="app-catalog-desc-content">
              {{ basic_info.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aui-card>

<aui-card>
  <rc-loading-mask [loading]="showLoadingMask$ | async"></rc-loading-mask>
  <!-- Basic Settings -->
  <div class="form-section-header">
    <div class="form-section-header__title">
      {{ 'basic_config' | translate }}
    </div>
  </div>
  <div>
    <form auiForm #appCatalogForm="ngForm" auiFormLabelWidth="250px">
      <!-- 名称 -->
      <aui-form-item>
        <label auiFormItemLabel>{{ 'app_name' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          [(ngModel)]="catalogPayload.name"
          name="name"
          minlength="4"
          maxlength="63"
          pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          [rcErrorsTooltip]
          [rcErrorsTooltipMapper]
          required
        />
      </aui-form-item>
      <!-- 显示名称 -->
      <aui-form-item>
        <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          name="display_name"
          [(ngModel)]="catalogPayload.display_name"
        />
      </aui-form-item>
    </form>
  </div>

  <!-- YAML Config -->
  <div class="form-section-header">
    <div class="form-section-header__title">
      {{ 'app_catalog_yaml_config' | translate }}
    </div>
    <div fxFlex></div>
    <div (click)="showComment = !showComment" class="button-link">
      #
      {{
        (showComment
          ? 'app_catalog_hide_comments'
          : 'app_catalog_show_comments') | translate
      }}
    </div>

    <div class="button-link" (click)="viewYamlConfigFile()">
      <aui-icon icon="basic:file"></aui-icon>
      {{ 'app_catalog_show_yaml_config_window' | translate }}
    </div>
  </div>
  <rc-yaml-comment-form
    (ngSubmit)="onYamlFormSubmit($event)"
    *ngIf="(yaml$ | async)"
    [yaml]="yaml$ | async"
    [showComment]="showComment"
  ></rc-yaml-comment-form>

  <div auiCardFooter *ngIf="!(showLoadingMask$ | async)">
    <button
      fxFlexOffset="250px"
      aui-button="primary"
      [loading]="submitting"
      [disabled]="!form.valid || submitting"
      (click)="yamlCommentForm.onSubmit($event)"
    >
      {{ 'create' | translate }}
    </button>
    <button fxFlexOffset="12px" aui-button (click)="cancelCreateAppCatalog()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-card>

<ng-template #yamlModalTemplate>
  <aui-dialog-header>
    {{ 'app_catalog_yaml_config' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <div class="yaml-config-file-panel">
      <aui-code-editor
        [options]="codeEditorOptions"
        [value]="yaml$ | async"
      ></aui-code-editor>
    </div>
  </aui-dialog-content>
</ng-template>
