<aui-card>
  <div fxLayout auiCardHeader>
    <button
      aui-button="primary"
      (click)="createService()"
      *ngIf="createEnabled"
    >
      {{ 'create_route' | translate }}
    </button>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [searching]="searching"
      [keyword]="search$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
  </div>
  <aui-table [dataSource]="list$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a href="javascript:void(0)" (click)="openDetail(rowData)">
          {{ rowData.kubernetes.metadata.name }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="domain">
      <aui-table-header-cell *auiTableHeaderCellDef>URL</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>{{ rowData.kubernetes.spec.host }}</span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="kube_service_name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'kube_service' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div
          class="service-and-weight"
          *ngFor="let service of rowData.services"
        >
          {{ service.name }}
        </div>
        <ng-template #noDescription>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="weight">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'weight' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div
          class="service-and-weight"
          *ngFor="let service of rowData.services"
        >
          {{ service.weight }} ({{
            getWeightsPercent(rowData, service.weight)
          }})
        </div>
        <ng-template #noDescription>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="port">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'kube_service_port' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>
          {{ rowData.kubernetes.spec.port?.targetPort | rcFieldNotAvailable }}
        </span>
        <ng-template #noDescription>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div
          [auiDropdown]="menu"
          (auiDropdownShow)="resourcePermissionService.sendRequest(rowData)"
          class="action-button"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <ng-container
            *ngTemplateOutlet="
              menuContent;
              context: {
                permission:
                  resourcePermissionService.getByResource$(rowData) | async
              }
            "
          ></ng-container>
          <ng-template #menuContent let-permission="permission">
            <div *ngIf="!permission" class="aui-menu__loading-placehoder">
              <rc-loading-mask [loading]="true"></rc-loading-mask>
            </div>
            <ng-container *ngIf="!!permission">
              <aui-menu-item (click)="viewYaml(rowData)">
                {{ 'view_yaml' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="
                  resourcePermissionService.checkByAction('update', permission)
                "
                (click)="update(rowData)"
              >
                {{ 'update' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="
                  resourcePermissionService.checkByAction('delete', permission)
                "
                (click)="delete(rowData)"
              >
                {{ 'delete' | translate }}
              </aui-menu-item>
            </ng-container>
          </ng-template>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <rc-zero-state
    [zeroState]="showZeroState"
    [fetching]="!initialized && fetching"
    resourceName="route"
  ></rc-zero-state>
  <aui-paginator
    *ngIf="(listMeta$ | async)?.count"
    [length]="(listMeta$ | async)?.count"
    [pageSize]="(pageParams$ | async)?.pageSize"
    [pageIndex]="(pageParams$ | async)?.pageIndex - 1"
    (page)="pageChanged($event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
</aui-card>
