:host {
  .service-and-weight:not(:first-of-type) {
    border-top: 1px dashed #ededed;
    margin-top: 5px;
    padding-top: 5px;
  }
  .aui-table__column-kube_service_name,
  .aui-table__column-weight {
    padding: 0px;
  }
}
