$inactive-color: #ccc;
$normal-active-color: #333;
$intermediate-active-color: #eb6262;

:host {
  display: flex;

  .normal {
    color: $inactive-color;
    &.active {
      color: $normal-active-color;
    }
  }

  aui-icon {
    color: $inactive-color;
    &.intermediate {
      margin-left: 8px;
      &.active {
        color: $intermediate-active-color;
      }
    }
  }
}
