<ng-container *ngFor="let item of nav">
  <ng-container *ngIf="item.type === 'normal'">
    <aui-icon
      *ngIf="item.actions[0] !== 'namespace'"
      icon="angle_right"
    ></aui-icon>
    <div class="normal" [class.active]="item.active">
      {{ item.name | translate }}
    </div>
  </ng-container>

  <ng-container *ngIf="item.type === 'intermediate'">
    <aui-icon
      class="intermediate"
      icon="ellipsis_h_s"
      [class.active]="item.active"
    ></aui-icon>
  </ng-container>
</ng-container>

<aui-icon icon="angle_right"></aui-icon>
<aui-icon icon="check_circle_s"></aui-icon>
