<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/console/admin/alarm/templates">
        {{ 'alarm_template' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'detail' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
  <div fxFlex></div>
  <div class="detail-buttons" fxLayout *ngIf="initialized && data">
    <button
      aui-button="default"
      [plain]="true"
      [auiDropdown]="menu"
      [auiDropdownDisabled]="
        !this.canUpdateAlarmTemplate && !this.canDeleteAlarmTemplate
      "
    >
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu size="small">
      <aui-menu-item
        (click)="updateAlarmTemplate(data)"
        [disabled]="!canUpdateAlarmTemplate"
      >
        {{ 'update' | translate }}
      </aui-menu-item>
      <aui-menu-item
        (click)="deleteAlarmTemplate(data)"
        [disabled]="!canDeleteAlarmTemplate"
      >
        {{ 'delete' | translate }}
      </aui-menu-item>
    </aui-menu>
  </div>
</ng-container>
<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<div class="template-info" *ngIf="initialized && data">
  <aui-card>
    <div class="template-info__title">
      {{ 'basic_info' | translate }}
    </div>
    <div>
      <div class="template-info__group">
        <div class="template-info__item">
          <label>{{ 'name' | translate }}</label>
          {{ data.name }}
        </div>
        <div class="template-info__item">
          <label>{{ 'monitoring_type' | translate }}</label>
          {{ data.kind }}
        </div>
      </div>
      <div class="template-info__group">
        <div class="template-info__item">
          <label>{{ 'created_at' | translate }}</label>
          {{ data.created_at | rcFormatUtcStr }}
        </div>
        <div class="template-info__item">
          <label>{{ 'description' | translate }}</label>
          {{ data.description | rcFieldNotAvailable }}
        </div>
      </div>
      <div class="template-info__group">
        <div class="template-info__item">
          <label>{{ 'updated_at' | translate }}</label>
          {{ data.updated_at | rcFormatUtcStr }}
        </div>
      </div>
    </div>
  </aui-card>
  <aui-card *ngIf="metric_type">
    <div class="template-info__title">
      {{ 'alarm_rule' | translate }}
    </div>
    <aui-table
      [dataSource]="parseAlertList(data.template, '', metric_type, cluster)"
      [trackBy]="trackByFn"
    >
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'alarm_rules_name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rule">
          <div>{{ rule.name }}</div>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="rule">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'alarm_rule' | translate }}
        </aui-table-header-cell>
        <aui-table-cell
          *auiTableCellDef="let rule"
          [auiTooltip]="getRule(rule, metric_type)"
          auiTooltipPosition="top start"
        >
          <div>{{ getRule(rule, metric_type) }}</div>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="level">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'level' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rule">
          <div>{{ rule.labels?.severity }}</div>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'alarm_rules_action' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rule">
          <div>{{ getRulesAction(rule) }}</div>
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>
  </aui-card>
</div>
