<aui-dialog-header>
  {{ 'pipeline_preview_jenkinsfile' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-code-editor
    [(ngModel)]="jenkinsfilePreview"
    [options]="editorOptions"
  ></aui-code-editor>
</aui-dialog-content>
