<rc-loading-mask
  class="rc-form-loading-mask"
  [loading]="!initialized"
></rc-loading-mask>
<aui-card *ngIf="initialized && podGroup?.length; else nodata">
  <aui-table [dataSource]="podGroup">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.name }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-status-icon
          [status]="getPodStatus(rowData.status)"
        ></rc-status-icon>
        <span [style.margin-left]="'4px'">
          {{ rowData.status || 'Unknown' }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.creationTimestamp | rcFormatUtcStr}}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-menu-trigger [menu]="menu" size="small"></rc-menu-trigger>
        <aui-menu #menu size="small">
          <aui-menu-item (click)="viewPodLog(rowData)">
            {{ 'view_logs' | translate }}
          </aui-menu-item>
          <aui-menu-item (click)="delete(rowData)">
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
</aui-card>
<ng-template #nodata>
  <div
    *ngIf="initialized && !podGroup?.length"
    class="rb-loading-mask-placeholder"
  >
    {{ 'no_data' | translate }}
  </div>
</ng-template>
