.header {
  font-size: 18px;
}
.field-row {
  display: flex;
  & + .field-row {
    margin-top: 12px;
  }
  .field {
    width: 50%;
    padding-right: 24px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    label::after {
      content: ':';
      margin-right: 8px;
    }
  }
}

.jenkinsfile-content {
  margin: 12px 0;
}
