<aui-card *ngIf="type === 'repo'">
  <div auiCardHeader class="header">
    {{ 'pipeline_from_repo' | translate }}
  </div>
  <div class="basic-body">
    <div class="field-row">
      <div class="field">
        <label>{{ 'pipeline_from_repo' | translate }}</label>
        <span title="{{ source?.repo }}">{{ source?.repo || '-' }}</span>
      </div>
      <div class="field">
        <label>
          {{ 'pipeline_jenkinsfile_path' | translate }}
        </label>
        <span>{{ source?.path || '-' }}</span>
      </div>
    </div>
    <div class="field-row" *ngIf="source?.branch">
      <div class="field">
        <label>{{ 'pipeline_branch' | translate }}</label>
        <span>{{ source?.branch || '-' }}</span>
      </div>
    </div>
  </div>
</aui-card>
<aui-card *ngIf="type === 'script'">
  <div auiCardHeader class="header">
    {{ 'pipeline_jenkinsfile' | translate }}
  </div>
  <div class="jenkinsfile-content">
    <aui-code-editor
      [options]="editorOptions"
      [(ngModel)]="source"
    ></aui-code-editor>
  </div>
</aui-card>
