<div class="image-repository-projects-header">
  <aui-search
    [searchButton]="true"
    placeholder="{{ 'support_search_by_name' | translate }}"
    (search)="search = $event; getRepositories()"
  ></aui-search>

  <div class="flex"></div>
  <button
    *ngIf="repositoryCreateEnabled"
    [routerLink]="['/console/admin/image/repository/create']"
    [queryParams]="{
      registryName: registry.name,
      integrationId: registry.integration_id,
      projectName: currentProject?.is_default
        ? null
        : currentProject?.project_name
    }"
    aui-button="primary"
    style="margin-left:4px"
  >
    {{ 'repo_create' | translate }}
  </button>
</div>
<div class="image-repository-projects-content" [rcLoadingMask]="!projects">
  <div *ngIf="!registry.is_public" class="rc-project-nav">
    <div
      class="rc-project-nav-item-wrapper"
      *ngFor="let project of projects"
      [ngClass]="{
        active: currentProject?.project_name === project?.project_name
      }"
    >
      <div
        class="rc-project-nav-item"
        (click)="selectProject(project)"
        [attr.title]="project?.project_name"
      >
        <span>{{ project?.project_name }}</span>
      </div>
      <div
        *ngIf="
          isThird ||
          (!project?.is_default && projectButtonDisplayExpr(project, 'delete'))
        "
        class="rc-project-nav-item-buttons"
      >
        <button
          class="rc-fieldset-action-btn"
          [auiTooltip]="'delete' | translate"
          (click)="deleteProject(project)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
    <button
      class="rc-project-add-btn"
      *ngIf="projectCreateDisplay"
      (click)="addProject()"
    >
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div
    class="rc-repo-list-wrap"
    [rcLoadingMask]="projects && repositoryLoading"
  >
    <div
      *ngIf="projects && !repositories.length && !repositoryLoading"
      class="rb-loading-mask-placeholder"
    >
      {{ 'repo_empty' | translate }}
    </div>
    <div *ngIf="repositories.length" class="rc-repo-list">
      <rc-image-repository-card
        *ngFor="let repository of repositories; trackBy: trackByUuid"
        [routerLink]="['/console/admin/image/repository/detail']"
        [queryParams]="{
          repositoryName: repository.name,
          registryName: repository.registry.name,
          projectName: repository.project && repository.project?.project_name,
          isThird: repository?.registry?.is_third
        }"
        [repository]="repository"
        (deleteRepository)="deleteRepository(repository, $event)"
      ></rc-image-repository-card>
      <div class="rc-repository-card-placeholder"></div>
      <div class="rc-repository-card-placeholder"></div>
      <div class="rc-repository-card-placeholder"></div>
      <div class="rc-repository-card-placeholder"></div>
    </div>
    <aui-paginator
      *ngIf="count > 0"
      [length]="count"
      [pageSize]="pageSize"
      [pageIndex]="page"
      (page)="getRepositories($event)"
      [pageSizeOptions]="[10, 20, 50, 100]"
    ></aui-paginator>
  </div>
</div>
