<aui-dialog-header>
  {{ 'repository_project_create' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelWidth="120px"
    style="padding-top: 20px"
    (ngSubmit)="addProject()"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        [(ngModel)]="name"
        name="name"
        minlength="4"
        maxlength="64"
        rcErrorsTooltip
        pattern="^[a-z0-9][a-z0-9-_]*[a-z0-9]$"
        [placeholder]="'repo_name_placeholder' | translate"
        required
      />
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <span fxFlex></span>
  <button aui-button (click)="confirmed.next()" [disabled]="loading">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    type="submit"
    (click)="addProject()"
    [disabled]="loading"
    [loading]="loading"
  >
    {{ 'confirm' | translate }}
  </button>
</aui-dialog-footer>
