<aui-dialog-header>
  {{ 'webssh' | translate }}{{ 'node' | translate }}（{{ node }}）
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="60px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'node_address' | translate }}</label>
      <input
        aui-input
        required
        [pattern]="IP_ADDRESS_PATTERN.pattern"
        name="node_address"
        [(ngModel)]="model.node_address"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="{
          pattern: IP_ADDRESS_PATTERN.tip | translate
        }"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'port' | translate }}</label>
      <input
        aui-input
        required
        name="port"
        type="number"
        [(ngModel)]="model.port"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        aui-input
        required
        name="username"
        autocomplete="off"
        [(ngModel)]="model.username"
      />
    </aui-form-item>
    <aui-form-item style="margin-bottom: 0;">
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <input
        aui-input
        required
        name="password"
        type="password"
        autocomplete="new-password"
        [(ngModel)]="model.password"
      />
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    type="submit"
    [disabled]="this.confirming"
    (click)="submitForm(form)"
  >
    {{ 'audit_login' | translate }}
  </button>
  <button aui-button type="button" (click)="close.next()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
