.status-badge {
  display: inline-flex;
  align-items: center;
  height: 20px;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 10px;
  color: #fff;

  &.not_added {
    background-color: #ccc;
  }

  &.deploying,
  &.pending {
    background-color: #009ce3;
  }

  &.running,
  &.docked {
    background-color: #1bb393;
  }

  &.error {
    background-color: #eb6262;
  }

  &.unknown {
    background-color: #999;
  }
}
