:host {
  display: block;
  flex: 1;
  .job-config-form {
    &__title {
      font-weight: 500;
      color: #333;
      margin-bottom: 16px;
    }
  }
  .form_item {
    &--question {
      padding-left: 8px;
      color: #999;
      &:hover {
        color: #009ce3;
      }
    }
  }
}
