<div class="header">
  <span>{{ 'pipeline_update' | translate }} {{ name }}</span>
  <a class="template-info" (click)="templateDetail(pipelineConfig?.template)">
    {{ (pipelineConfig?.template?.displayName)[key$ | async] }}
    {{ pipelineConfig?.template?.version }}
  </a>
</div>
<hr />
<form
  [formGroup]="form"
  #updateForm="ngForm"
  auiForm
  class="body"
  auiFormLabelWidth="200px"
>
  <div class="body-form">
    <!-- basic form -->
    <div class="form-section-title">
      {{ 'pipeline_basic_info' | translate }}
    </div>
    <rc-pipeline-basic-form
      [form]="form.controls.basic"
      [namespace]="namespace"
      [method]="method"
      type="update"
      [spaceName]="space?.name"
    ></rc-pipeline-basic-form>
    <hr />
    <!-- code repository selector form -->
    <div
      class="form-section-title"
      *ngIf="sourceType === 'repo' && method === 'jenkinsfile'"
    >
      {{ 'Jenkinsfile' | translate }}
    </div>
    <rc-pipeline-repository-form
      *ngIf="sourceType === 'repo' && method === 'jenkinsfile'"
      [form]="form.controls.jenkinsfile"
      [namespace]="namespace"
      [project]="project"
      [spaceName]="space?.name"
      type="update"
    ></rc-pipeline-repository-form>
    <!-- dynamic parameters form -->
    <div class="form-section-title" *ngIf="method === 'template'">
      {{ 'pipeline_dynamic_form' | translate }}
    </div>
    <rc-pipeline-dynamic-parameters-form
      *ngIf="method === 'template'"
      [templateFields]="pipelineConfig?.template?.arguments"
      [templateName]="pipelineConfig?.template?.name"
      [namespace]="namespace"
      [spaceName]="space?.name"
      [project]="project"
    ></rc-pipeline-dynamic-parameters-form>
    <!-- jenkinsfile editor form -->
    <rc-pipeline-script-form
      *ngIf="sourceType === 'script' && method === 'jenkinsfile'"
      [form]="form.controls.editor_script"
    ></rc-pipeline-script-form>
    <hr />
    <div class="form-section-title">{{ 'pipeline_trigger' | translate }}</div>
    <!-- trigger form -->
    <div>
      <rc-pipeline-code-change-trigger-form
        [style.width]="'80%'"
        [form]="getCodeTriggerControls()"
      ></rc-pipeline-code-change-trigger-form>
    </div>
    <div>
      <rc-pipeline-cron-trigger-form
        [style.width]="'80%'"
        [form]="getCronTriggerControls()"
        [namespace]="namespace"
        [spaceName]="space?.name"
        [jenkinsBinding]="getJenkinsBinding()"
      ></rc-pipeline-cron-trigger-form>
    </div>
  </div>
</form>
<hr />
<div class="footer">
  <div>
    <button
      aui-button="primary"
      (click)="preview()"
      plain="true"
      [disabled]="!updateForm.valid"
      *ngIf="method === 'template'"
    >
      {{ 'pipeline_preview_jenkinsfile' | translate }}
    </button>
  </div>
  <span>
    <button
      aui-button="primary"
      (click)="submit()"
      [disabled]="!updateForm.valid"
    >
      {{ 'pipeline_update' | translate }}
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </span>
</div>
