.header {
  font-size: 18px;
  line-height: 24px;
  color: #333;
  height: 24px;
  display: flex;
  justify-content: space-between;
  .template-info {
    font-size: 14px;
    color: #009ce3;
    cursor: pointer;
  }
}

.body {
  display: flex;
  flex-direction: row;
  &-nav {
    width: 20%;
    border-right: 1px solid #eee;
    margin-right: 23px;
    padding-left: 20px;
  }
  &-form {
    padding: 0 20px 0 0;
    padding-bottom: 10px;
    width: 100%;
    .trigger-item {
      padding: 0 30px 0 200px;
    }
  }
  .form-section-title {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 16px;
  }
}

hr {
  background-color: #eee;
  height: 1px;
  border: 0;
  margin: 16px 0;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 20px;
}

::ng-deep {
  rc-pipeline-update-container {
    rc-pipeline-code-change-trigger-form,
    rc-pipeline-cron-trigger-form {
      .card {
        margin-left: 100px;
      }
    }
  }
}
