@import 'var';

:host {
  .load-balancer-update-domain-suffix {
    .modal-footer {
      background: $silver-6;
    }
  }

  ::ng-deep .domain-suffix-footer-container .aui-dialog__footer {
    padding-bottom: 20px;
  }

  .domain-suffix-group {
    display: flex;
    align-items: center;
    width: 100%;

    .domain-suffix-group-label {
      min-width: fit-content;
      margin-right: 5px;
    }

    label::after {
      content: '：';
    }

    .domain-suffix-group-select {
      width: 100%;
    }
  }

  .aui-dialog-content {
    padding: 0 24px;
    min-height: unset;
  }
}
