<aui-dialog-header>
  {{ 'custom_domain_suffix' | translate }}
</aui-dialog-header>
<div class="aui-dialog-content">
  <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
  <form
    class="load-balancer-update-domain-suffix"
    auiForm
    #domainSuffixForm="ngForm"
    *ngIf="initialized"
  >
    <div class="domain-suffix-group">
      <label auiFormItemLabel class="domain-suffix-group-label">
        {{ 'custom_domain_suffix' | translate }}
      </label>
      <aui-multi-select
        name="domains"
        class="domain-suffix-group-select"
        rcErrorsTooltip
        [(ngModel)]="loadbalancer.spec.domains"
        filterable
        [placeholder]="'select_domain_suffix_placeholder' | translate"
      >
        <aui-option *ngFor="let domain of domainList" [value]="domain.domain">
          {{ domain.domain }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-multi-select>
    </div>
  </form>
</div>

<aui-dialog-footer class="domain-suffix-footer-container">
  <button aui-button type="button" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    type="button"
    [disabled]="this.submitting"
    (click)="submit()"
  >
    {{ 'confirm' | translate }}
  </button>
</aui-dialog-footer>
