:host {
  ::ng-deep {
    .aui-checkbox {
      margin-right: 0 !important;
    }

    .aui-table {
      min-width: 0px;

      &__column-username {
        flex: 3;
      }

      &__column-user_type {
        flex: 2;
      }

      &__column-status {
        flex: 1;
      }
    }

    .aui-dialog__footer {
      position: relative;
    }
  }

  aui-paginator {
    position: absolute;
    left: 26px;
    bottom: 26px;
  }
}
