<aui-dialog-header>
  {{ 'add_user' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-search [searchButton]="true" (search)="searched($event)"></aui-search>
  <section style="padding-top: 20px;" *ngIf="initialized">
    <aui-table [dataSource]="users">
      <ng-container auiTableColumnDef="username">
        <aui-table-header-cell *auiTableHeaderCellDef>
          <aui-checkbox
            [ngModel]="allChecked"
            (valueChange)="onCheckAll($event)"
          ></aui-checkbox>
          {{ 'name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <aui-checkbox
            [ngModel]="item.checked"
            [disabled]="item.disabled"
            (valueChange)="onCheck($event, item)"
          ></aui-checkbox>
          {{ item.username }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="user_type">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'user_type' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{
            (item.type === 'organizations.LDAPAccount'
              ? 'synced_by_ldap'
              : item.type === 'organizations.TPAccount'
              ? 'create_by_thrid_party'
              : 'created_on_platform') | translate
          }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="status">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'status' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <span
            class="validation-status"
            [ngClass]="{ invalid: isInvalidAccount(item) }"
            [auiTooltip]="
              (isInvalidAccount(item) ? 'invalid_ldap_user_tip' : '')
                | translate
            "
            auiTooltipPosition="top"
            auiTooltipTrigger="hover"
          >
            {{ (isInvalidAccount(item) ? 'invalid' : 'valid') | translate }}
          </span>
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="['username', 'user_type', 'status']"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: ['username', 'user_type', 'status']"
      ></aui-table-row>
    </aui-table>
  </section>
</aui-dialog-content>
<aui-dialog-footer>
  <aui-paginator
    layout="total,pager"
    [(currentPage)]="pagination.current"
    [(pageSize)]="pagination.size"
    [total]="pagination.count"
    (currentPageChange)="pageChanged($event)"
  ></aui-paginator>
  <button aui-button (click)="cancel()" style="margin-right: 8px">
    {{ 'cancel' | translate }}
  </button>
  <button aui-button="primary" [disabled]="confirmDisabled" (click)="confirm()">
    {{ 'confirm' | translate }}
  </button>
</aui-dialog-footer>
