@import 'var';
.repo-notification {
  font-size: 16px;
  cursor: pointer;
  color: #2fa7df;
}

:host {
  .rc-list-pagination {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }

  .row-image {
    position: relative;
    > span {
      position: absolute;
      top: 26px;
      left: 30px;
      z-index: 1;
    }
  }

  .app-catalog-sync-circle {
    padding: 2px;
    font-size: 10px;
    border-radius: 10px;
    color: white;
    background-color: $color-primary;
    margin-right: 5px;
  }

  .app-catalog-fail-circle {
    font-size: 16px;
    color: red;
  }

  .app-catalog-error-image {
    opacity: 0.3;
  }
}
