<button
  aui-button="primary"
  type="button"
  class="operation"
  (click)="showSubscribeDialog()"
>
  {{ 'tool_chain_subscribe' | translate }}
</button>

<div class="cards-container">
  <rc-service-list
    [services]="items$ | async"
    [showTag]="selectedType === 'all'"
    [subscribeMode]="true"
    [canUpdateSubscription]="subscribeUpdatePermission"
    [initTool]="true"
    (afterAllocated)="afterAllocated($event)"
  ></rc-service-list>

  <div
    *ngIf="!(items$ | async)?.length"
    class="empty-list-hint"
    [ngClass]="{ loading: loading }"
    [rcLoadingMask]="loading"
  >
    <span *ngIf="!loading">{{ 'no_devops_tools' | translate }}</span>
  </div>
</div>
