@import 'var';

:host {
  .operation {
    margin: 0 0 0 110px;
  }
  .cards-container {
    min-height: 200px;
    margin: 20px 110px;
  }

  .empty-list-hint {
    display: flex;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ededed;
    font-size: 14px;
    text-align: center;
    color: $color-text-help;
    &.loading {
      border: 1px solid transparent;
    }
  }
}
