<aui-layout [showDrawer]="false">
  <div *auiToolbarContent class="layout-toolbar">
    <div class="layout-toolbar__logo">
      <img [src]="uiState.logoMainSrc" />
    </div>
    <rc-project-badge
      [hidden]="!userViewProjectBadgeDisplayState"
    ></rc-project-badge>
    <div fxFlex></div>

    <rc-amp-entry></rc-amp-entry>
    <a
      *ngIf="userDocsUrl"
      [title]="'nav_docs' | translate"
      class="user-docs-url-link"
      aui-button
      target="_blank"
      [href]="userDocsUrl"
    >
      <aui-icon icon="basic:question"></aui-icon>
    </a>
    <rc-account-menu></rc-account-menu>
  </div>
  <div *auiPageHeader class="layout-page-header">
    <ng-container
      *cdkPortalOutlet="(pageHeaderContentTemplate$ | async)"
    ></ng-container>
    <rc-default-breadcrumb
      *ngIf="!(pageHeaderContentTemplate$ | async)"
    ></rc-default-breadcrumb>
  </div>
  <div *auiPageContent class="layout-page-content">
    <router-outlet></router-outlet>
  </div>
</aui-layout>
