<ng-container *ngIf="templates?.length">
  <div style="margin-top: 12px;" *ngFor="let template of templates">
    <rc-pipeline-template-list-card
      [template]="template"
    ></rc-pipeline-template-list-card>
  </div>
</ng-container>
