<ng-container
  *rcAsyncData="
    let loading = loading;
    params: (params$ | async);
    handler: fetchData;
    pullIn: more ? 4000 : 0
  "
>
  <div
    class="step_header"
    [ngClass]="{ folded: !canUnfoldLog(step) }"
    (click)="stepLogs(step)"
  >
    <div
      class="step_status {{
        step.result !== 'UNKNOWN' ? step.result : step.state
      }}"
    >
      <aui-icon
        [ngClass]="{ 'icon-spin': getStatusIcon() === 'basic:sync_circle_s' }"
        [icon]="getStatusIcon()"
      ></aui-icon>
    </div>
    <div class="step_title">
      <div class="title">
        <aui-icon icon="angle_{{ active ? 'down' : 'right' }}"></aui-icon>
        <span class="name">{{ step.displayName }}</span>
        <div *ngIf="step.displayDescription" class="description">
          {{ step.displayDescription }}
        </div>
      </div>
      <div class="duration">
        {{ step.durationInMillis | rcDurationToConsumed }}
      </div>
    </div>
  </div>
  <pre *ngIf="text && active" class="step_content">    
    
    <div
      class="line"
      *ngFor="let tx of text; let id = index; trackBy: trackLogs"
    >
      <div class="id">{{id + 1}}</div>
      <div class="log_content">{{tx}}</div>
    </div>
  </pre>
</ng-container>
