.aui-table {
  .aui-table__column-name {
    flex: 1 0 240px;
  }
  .aui-table__column-type {
    flex: 0 0 100px;
  }
  .aui-table__column-config {
    flex: 1 0 240px;
  }
  .aui-table__column-action {
    flex: 0 0 44px;
  }
}

.container-size {
  display: flex;
  justify-content: center;
  div {
    min-width: 100px;
    white-space: nowrap;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #777;
    font-size: 12px;
    height: 20px;
    line-height: 12px;
    margin-left: 4px;
    padding: 3px 8px;
  }
}

.aui-button--text + .aui-button--text {
  margin-left: 0;
}
