<rc-loading-mask
  style="height: 100px;"
  *ngIf="!initialized"
  [loading]="!initialized"
></rc-loading-mask>

<ng-container *ngIf="initialized">
  <form #form="ngForm" auiForm [auiFormEmptyAddon]="true">
    <aui-card>
      <div auiCardHeader>{{ 'application' | translate }}</div>
      <rc-application-metadata-form
        name="metadata"
        [isUpdate]="isUpdate"
        [namespace]="baseParams.namespace"
        [(ngModel)]="application.metadata"
      >
        <aui-form-item clusterSelect *ngIf="mirrorClusters.length">
          <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
          <rc-mirror-cluster-select
            name="clusters"
            [clusters]="mirrorClusters"
            [currentCluster]="baseParams.cluster"
            [(ngModel)]="application.clusters"
          ></rc-mirror-cluster-select>
        </aui-form-item>
      </rc-application-metadata-form>
    </aui-card>

    <aui-card>
      <div auiCardHeader>
        <aui-dropdown-button
          [hidden]="mode==='yaml'"
          [plain]="true"
          size="small"
          (buttonClick)="addComponent()"
          type="primary"
        >
          <aui-icon icon="basic:plus" style="margin-right: 4px;"></aui-icon>
          {{ 'add_compute_component' | translate }}
          <aui-menu size="small">
            <aui-menu-item (click)="addService()">
              {{ 'add_k8s_service' | translate }}
            </aui-menu-item>
            <aui-menu-item (click)="addResourceFromYaml()">
              {{ 'add_resource_from_yaml' | translate }}
            </aui-menu-item>
          </aui-menu>
        </aui-dropdown-button>
        <span fxFlex></span>
        <aui-radio-group
          [isPlain]="false"
          name="mode"
          (ngModelChange)="modeChange($event)"
          [(ngModel)]="mode"
        >
          <aui-radio-button value="list">
            {{ 'resource_list' | translate }}
          </aui-radio-button>
          <aui-radio-button value="yaml">YAML</aui-radio-button>
        </aui-radio-group>
      </div>

      <ng-container *ngIf="mode === 'list'">
        <rc-array-form-table [noRowSeparator]="true" [rows]="resources">
          <ng-container *rcArrayFormTableRow="let item">
            <td>
              <ng-container [ngSwitch]="getResourceKindGroup(item.kind)">
                <ng-container *ngSwitchCase="'PodController'">
                  <div class="rc-table-vertical">
                    <div class="rc-table-vertical__row">
                      <div>{{ 'resource_type' | translate }}</div>
                      <div>
                        <rc-k8s-resource-icon
                          [kind]="item.kind"
                          style="margin-right: 4px;"
                        ></rc-k8s-resource-icon>
                        {{ item.kind }}
                      </div>
                    </div>
                    <div class="rc-table-vertical__row">
                      <div>{{ 'name' | translate }}</div>
                      <div>{{ item.metadata.name }}</div>
                    </div>
                    <div class="rc-table-vertical__row">
                      <div>{{ 'service_replicas' | translate }}</div>
                      <div>{{ item.spec.replicas | rcFieldNotAvailable }}</div>
                    </div>
                    <div class="rc-table-vertical__row">
                      <div>{{ 'container' | translate }}</div>
                      <div>
                        <table class="rc-array-form-table">
                          <thead>
                            <tr>
                              <td style="width: 240px">
                                {{ 'name' | translate }}
                              </td>
                              <td>{{ 'image' | translate }}</td>
                              <td style="width: 180px;">
                                {{ 'resource_size' | translate }}
                              </td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let container of item.spec.template.spec
                                  .containers;
                                let i = index
                              "
                            >
                              <td>{{ container.name }}</td>
                              <td>{{ container.image }}</td>
                              <td>
                                <div class="container-size">
                                  <div>
                                    <span>{{ 'cpu' | translate }}:</span>
                                    <span>
                                      {{ getContainerSize(container).cpu }}
                                    </span>
                                    <span>;</span>
                                    <span>{{ 'memory' | translate }}:</span>
                                    <span>
                                      {{ getContainerSize(container).memory }}
                                    </span>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngSwitchCase="'Service'">
                  <rc-service-display [service]="item">
                    <div class="rc-table-vertical__row">
                      <div>{{ 'resource_type' | translate }}</div>
                      <div>
                        {{ item.kind }}
                      </div>
                    </div>
                  </rc-service-display>
                </ng-container>

                <ng-container *ngSwitchCase="'Resource'">
                  <div class="rc-table-vertical">
                    <!-- TODO: 支持使用YAML编辑器修改其他资源定义 -->
                    <div class="rc-table-vertical__row">
                      <div>{{ 'resource_type' | translate }}</div>
                      <div>
                        {{ item.kind }}
                      </div>
                    </div>
                    <div class="rc-table-vertical__row">
                      <div>{{ 'name' | translate }}</div>
                      <div>{{ item.metadata.name }}</div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
          <ng-container
            *rcArrayFormTableRowControl="let item; let index = index"
          >
            <div class="action-col__vertical">
              <aui-icon
                icon="basic:pencil_edit"
                (click)="updateResource(index, item)"
              ></aui-icon>
              <aui-icon
                icon="basic:minus_circle"
                (click)="removeResource(index, item)"
              ></aui-icon>
            </div>
          </ng-container>
          <ng-container *rcArrayFormTableFooter></ng-container>
        </rc-array-form-table>
      </ng-container>

      <ng-container *ngIf="mode === 'yaml'">
        <aui-code-editor
          name="yaml"
          [actionsConfig]="editorActions"
          [options]="editorOptions"
          [(ngModel)]="yaml"
          [originalValue]="latestYaml"
        ></aui-code-editor>
      </ng-container>
    </aui-card>

    <!-- <pre>{{application | json}}</pre> -->
  </form>

  <div class="form-footer">
    <span fxFlex></span>
    <button aui-button="primary" (click)="submit()">
      <span *ngIf="!isUpdate">{{ 'create' | translate }}</span>
      <span *ngIf="isUpdate">{{ 'update' | translate }}</span>
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</ng-container>
