.card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
  height: 82px;
  padding: 16px;
  .info {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    flex-shrink: 0;
    .name {
      display: flex;
      align-items: center;
      .name-text {
        color: #009ce3;
        font-size: 18px;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: none;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .style-icons {
        margin-left: 6px;
        display: flex;
        .style-icon {
          height: 20px;
          width: 20px;
          margin: 0 3px;
        }
      }
      .version {
        font-size: 12px;
        color: #333;
        margin-left: 8px;
      }
    }
  }
  .stage {
    width: 60%;
    display: flex;
    overflow: hidden;
    height: 80px;
    align-items: center;
  }
}

.label-common {
  color: #666;
  border: 1px solid #eee;
  border-radius: 2px;
  background-color: #fafafa;
  margin-right: 4px;
  padding: 0 4px;
  font-size: 12px;
}
.labels-container {
  display: flex;
  flex-direction: row;
  .labels {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .label {
      @extend .label-common;
    }
    .no-label {
      color: #999;
      font-size: 14px;
    }
  }
  .label-more {
    @extend .label-common;
    width: 25px;
    margin-left: 8px;
    &:hover {
      background: #e5f5fc;
      color: #009ce3;
      border: 1px solid #009ce3;
    }
  }
}

::ng-deep {
  .aui-tooltip.label-tooltip {
    background-color: #fff;
    color: #333;
    border-color: #eee;
    .tooltip-label {
      @extend .label-common;
      margin-bottom: 2px;
      display: inline-block;
    }
  }
}
