<form [formGroup]="form" class="rule-form-container">
  <div class="rule-form-header">
    <aui-select
      formControlName="type"
      [placeholder]="'select_category' | translate"
      rcErrorsTooltip
      class="rule-type"
    >
      <aui-option
        *ngFor="let ruleType of ruleTypes"
        [label]="ruleType.display"
        [value]="ruleType.value"
        [disabled]="isOccurInGroup(ruleType.value)"
      >
        {{ ruleType.display }}
      </aui-option>
      <aui-option-placeholder>
        {{ 'no_data' | translate }}
      </aui-option-placeholder>
    </aui-select>

    <input
      class="indicator-key header-input"
      [hidden]="!showIndicatorKey()"
      type="text"
      rcErrorsTooltip
      aui-input
      formControlName="key"
    />
  </div>
  <rc-load-balancer-rule-values-form
    class="rule-indicator"
    style="width: 100%;"
    [lbType]="lbType"
    [ruleIndicatorType]="form.get('type').value"
    formControlName="values"
  ></rc-load-balancer-rule-values-form>
</form>
