@import 'mixins';
@import '../style.common.scss';

:host {
  display: flex !important;
  flex-direction: column;
  flex: 1;

  ::ng-deep aui-card {
    @include vertical-full-screen-style();
    .aui-card {
      @include vertical-full-screen-style();
      &__content {
        @include vertical-full-screen-style();
        .detail-yaml {
          margin-top: 16px;
          @include vertical-full-screen-style();
          ::ng-deep aui-code-editor {
            @include vertical-full-screen-style();
            .aui-code-editor {
              flex: 1;
            }
          }
        }
      }
    }
  }

  .card-header {
    @include table-card-header;
  }

  .detail-content {
    white-space: pre-line;
    padding: 8px;
    border: solid 1px #ededed;
    background-color: #fafafa;
    &__title {
      font-weight: 500;
      margin-bottom: 4px;
    }
  }
}
