<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="jumpToListPage()">
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="backToHistoryListPage()">
        {{ appName }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <ng-container *ngIf="!isCurrentVersion; else currentVersion">
        v.{{ revision }}
      </ng-container>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<ng-container *ngIf="initialized && !history">
  <div class="rb-loading-mask-placeholder">
    {{ 'no_data' | translate }}
  </div>
</ng-container>

<ng-container *ngIf="initialized && history">
  <aui-card>
    <div class="card-header">
      <ng-container *ngIf="!isCurrentVersion; else currentVersion">
        v.{{ revision }}
      </ng-container>
      <div fxFlex></div>
      <ng-container *ngIf="!isCurrentVersion && canUpdate">
        <button aui-button="primary" (click)="rollback()">
          {{ 'application_rollback_to_version' | translate }}
        </button>
      </ng-container>
    </div>

    <div *ngIf="!isCurrentVersion" class="detail-content">
      <p class="detail-content__title">
        v.{{ revision }} {{ 'application_compare_to_current_version' | translate
        }}
      </p>
      <p *ngFor="let i of diffsWithLatest">
        {{ i }}
      </p>
      <div *ngIf="!diffsWithLatest?.length">
        {{ 'application_no_diff' | translate }}
      </div>
    </div>

    <div class="detail-yaml">
      <aui-code-editor
        [(ngModel)]="yaml"
        [options]="codeEditorOptions"
        [actionsConfig]="codeEditorUpdateActions"
        [originalValue]="latestYaml"
      ></aui-code-editor>
    </div>
  </aui-card>
</ng-container>

<ng-template #currentVersion>
  {{ 'current' | translate }} (v.{{ revision }})
</ng-template>
