@import 'var';
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
  Helvetica, 'Ubuntu', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei',
  'WenQuanYi Micro Hei', sans-serif;

html.console {
  font-size: 10px;

  // 字体规范: http://confluence.alaudatech.com/pages/viewpage.action?pageId=23383113
  body {
    height: auto !important;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }

  body,
  button,
  input,
  select,
  textarea,
  p,
  a {
    font-family: $font-family;
  }

  h1,
  h2,
  h3,
  h4,
  .h1,
  .h2,
  .h3,
  .h4,
  .lead {
    font-family: $font-family;
  }

  a {
    text-decoration: none;
  }

  .layout-row {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .flex {
    flex: 1;
  }

  .flex-20 {
    max-width: 20%;
  }
}

rc-root {
  flex: 1;
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
