<!DOCTYPE html>
<html class="console" lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="expires" content="0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="shortcut icon" type="image/x-icon" href="<%-favicon_path%>" />
    <!-- Enable HTML5 mode -->
    <base href="/" />
    <style>
      /* Following is inlined since we don't want to let the user see layout reflow issues */

      html {
        font-size: 14px;
        height: 100%;
      }

      * {
        margin: 0;
        padding: 0;
      }

      *,
      :after,
      :before {
        box-sizing: border-box;
      }

      body.rc-body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        color: #494949;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
          'Helvetica Neue', Helvetica, 'Ubuntu', 'PingFang SC',
          'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei',
          sans-serif;
        font-weight: 400;
        background: #f1f1f1 no-repeat fixed top center;
        background-size: cover;
      }

      input:-webkit-autofill {
        background-color: #fff;
        background-image: none;
        box-shadow: 0 0 0 1000px white inset;
      }

      .alauda-settings {
        display: none;
      }

      /* bg-loading style */

      .rc-index-loading-spinner.sk-folding-cube {
        position: fixed;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
      }

      .sk-folding-cube {
        width: 40px;
        height: 40px;
        position: relative;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
      }

      .sk-folding-cube .sk-cube {
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }

      .sk-folding-cube .sk-cube:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #32b6f3;
        -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
        animation: sk-foldCubeAngle 2.4s infinite linear both;
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }

      .sk-folding-cube .sk-cube2 {
        -webkit-transform: scale(1.1) rotateZ(90deg);
        transform: scale(1.1) rotateZ(90deg);
      }

      .sk-folding-cube .sk-cube3 {
        -webkit-transform: scale(1.1) rotateZ(180deg);
        transform: scale(1.1) rotateZ(180deg);
      }

      .sk-folding-cube .sk-cube4 {
        -webkit-transform: scale(1.1) rotateZ(270deg);
        transform: scale(1.1) rotateZ(270deg);
      }

      .sk-folding-cube .sk-cube2:before {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
      }

      .sk-folding-cube .sk-cube3:before {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }

      .sk-folding-cube .sk-cube4:before {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
      }

      @-webkit-keyframes sk-foldCubeAngle {
        0%,
        10% {
          -webkit-transform: perspective(140px) rotateX(-180deg);
          transform: perspective(140px) rotateX(-180deg);
          opacity: 0;
        }

        25%,
        75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
        }

        90%,
        100% {
          -webkit-transform: perspective(140px) rotateY(180deg);
          transform: perspective(140px) rotateY(180deg);
          opacity: 0;
        }
      }

      @keyframes sk-foldCubeAngle {
        0%,
        10% {
          -webkit-transform: perspective(140px) rotateX(-180deg);
          transform: perspective(140px) rotateX(-180deg);
          opacity: 0;
        }

        25%,
        75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
        }

        90%,
        100% {
          -webkit-transform: perspective(140px) rotateY(180deg);
          transform: perspective(140px) rotateY(180deg);
          opacity: 0;
        }
      }

      /* caution */

      .bs-caution {
        text-align: center;
        align-self: flex-start;
        margin-top: 80px;
      }

      .bs-caution-img {
        width: 240px;
        height: 240px;
        margin: 0 auto;
      }

      .bs-caution-title {
        font-size: 18px;
        line-height: 24px;
        margin: 16px 0 12px;
      }

      .bs-caution-content {
        font-size: 14px;
        line-height: 20px;
        color: #999;
        margin-bottom: 24px;
      }

      .bs-caution-buttons {
        text-align: center;
      }

      .bs-caution-buttons a {
        display: inline-block;
        height: 30px;
        line-height: 28px;
        padding: 0 15px;
        border: 1px solid #ccc;
        border-radius: 2px;
      }

      .bs-caution-buttons a:link,
      .bs-caution-buttons a:visited,
      .bs-caution-buttons a:hover {
        text-decoration: none;
      }

      .bs-caution-download:link,
      .bs-caution-download:visited {
        color: #fff;
        background-color: #009ce3;
        border-color: #009ce3;
      }

      .bs-caution-download:hover {
        color: #fff;
        background-color: #008ccc;
        border-color: #008ccc;
      }

      .bs-caution-continue:link,
      .bs-caution-continue:visited {
        color: #4d4d4d;
      }

      .bs-caution-continue:hover {
        color: #009ce3;
        background-color: #f2fafe;
        border-color: #009ce3;
      }
    </style>
  </head>

  <body class="rc-body">
    <rc-root style="display: none;" class="layout">
      <!-- Switch to a nice looking one if needed -->
      <div class="sk-folding-cube alk-index-loading-spinner">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
    </rc-root>

    <div class="alauda-settings">
      <span id="console-username">
        <%-username%>
      </span>
      <span id="cp-namespace">
        <%-namespace%>
      </span>
    </div>
    <div class="bs-caution" id="browserCaution" style="display: none;">
      <div class="bs-caution-img">
        <img src="/static/images/browser_caution.png" alt="" />
      </div>
      <div class="bs-caution-title JS-text" text="title"></div>
      <div class="bs-caution-content JS-text" text="content"></div>
      <div class="bs-caution-buttons">
        <a
          href="<%- browser_download_url %>"
          target="_blank"
          class="bs-caution-download JS-text"
          text="download"
        ></a>
        <a
          id="linkContinue"
          href="javascript:void(0);"
          class="bs-caution-continue JS-text"
          text="continues"
        ></a>
      </div>
    </div>
    <script>
      (function() {
        if (!document.getElementsByClassName) {
          document.getElementsByClassName = function(className, element) {
            var children = (element || document).getElementsByTagName('*');
            var elements = new Array();
            for (var i = 0; i < children.length; i++) {
              var child = children[i];
              var classNames = child.className.split(' ');
              for (var j = 0; j < classNames.length; j++) {
                if (classNames[j] == className) {
                  elements.push(child);
                  break;
                }
              }
            }
            return elements;
          };
        }
        var chromeMinVersion = '<%- chrome_minimum_version %>';
        var firefoxMinVersion = '<%- firefox_minimum_version %>';
        var vendorBrowserKeys = [
          'opr',
          'yabrowser',
          'yowser',
          'qqbrowser',
          'maxthon',
          '360se',
          'xmetaxr',
        ];
        var dialog = document.getElementById('browserCaution');
        var layout = document.getElementsByClassName('layout')[0];
        function bind(el, eventType, listener, useCapture) {
          if (window.addEventListener) {
            el.addEventListener(eventType, listener, useCapture || false);
          } else if (window.attachEvent) {
            el.attachEvent(eventType, listener);
          }
        }
        function show(elem) {
          elem.style.display = 'block';
        }
        function hide(elem) {
          elem.style.display = 'none';
        }
        function initText() {
          var text = {
            title: {
              zh_cn: '浏览器版本不支持',
              en: 'Borwser Version Not Supported',
            },
            content: {
              zh_cn:
                '平台完美支持 Chrome V' +
                chromeMinVersion +
                ' & Firefox V' +
                firefoxMinVersion +
                ' 及以上版本，<br/>如使用其他浏览器继续访问可能会导致平台部分功能无法正常显示。',
              en:
                'The platform supports Chrome V' +
                chromeMinVersion +
                ' & Firefox V' +
                firefoxMinVersion +
                ' and above. <br/>Continued access with other browsers may cause some features of the platform to not display properly',
            },
            continues: {
              zh_cn: '继续访问',
              en: 'Continue',
            },
            download: {
              zh_cn: '下载浏览器',
              en: 'Download',
            },
          };
          var locale =
            localStorage['alauda_locale'] || navigator.language || 'en';
          var textElems = document.getElementsByClassName('JS-text');
          for (var i = 0, len = textElems.length; i < len; i++) {
            var elem = textElems[i];
            var textName = elem.getAttribute('text');
            elem.innerHTML =
              text[textName][locale.toLowerCase().replace('-', '_')];
          }
        }
        function isVendor() {
          var ua = navigator.userAgent.toLowerCase();
          for (var i = 0, len = vendorBrowserKeys.length; i < len; i++) {
            if (ua.indexOf(vendorBrowserKeys[i]) > -1) {
              return true;
            }
          }
          return false;
        }
        function support() {
          var userAgent = navigator.userAgent;
          var matches = userAgent.match(/.*(Chrome|Firefox)\/(\d+)\..*/);
          var excludedKeys = [''];
          if (matches && matches[1] && matches[2]) {
            if (
              (matches[1] === 'Chrome' && matches[2] < chromeMinVersion) ||
              (matches[1] === 'Firefox' && matches[2] < firefoxMinVersion) ||
              isVendor()
            ) {
              return false;
            } else {
              return true;
            }
          }
          return false;
        }
        if (support()) {
          show(layout);
        } else {
          show(dialog);
          initText();
          bind(document.getElementById('linkContinue'), 'click', function() {
            hide(dialog);
            show(layout);
          });
        }
      })();
    </script>
  </body>
</html>
