<rc-array-form-table
  [noRowSeparator]="true"
  [resourceName]="resourceName"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
>
  <!-- Input row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td>
      <input
        (blur)="onBlur()"
        aui-input
        [formControl]="control"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="errorMapper"
      />
    </td>
  </ng-container>
</rc-array-form-table>
