$table-flex-common: 1 1 160px;
$table-flex-wide: 2 1 160px;

:host {
  .aui-table {
    &__column-name {
      flex: $table-flex-common;
    }
    &__column-metric {
      flex: $table-flex-wide;
    }
    &__column-alarm_type {
      flex: 0 1 120px;
    }
    &__column-level {
      flex: 0 1 120px;
    }
    &__column-status {
      flex: 0 1 100px;
    }
    &__column-threshold {
      flex: $table-flex-wide;
      white-space: normal;
      word-break: break-all;
    }
    &__column-action {
      flex: 0 1 80px;
      .action-button {
        &.disabled {
          cursor: not-allowed;
          color: #ccc;
          background-color: #fff;
        }
      }
    }
  }
}
