<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'alarm' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <aui-dropdown-button
      [plain]="false"
      type="primary"
      *ngIf="canCreateAlarm"
      (buttonClick)="createAlarm()"
    >
      {{ 'alarm_create' | translate }}
      <aui-menu>
        <aui-menu-item (click)="createAlarmTemplate()">
          {{ 'create_alarm_from_template' | translate }}
        </aui-menu-item>
      </aui-menu>
    </aui-dropdown-button>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="onSearchChanged($event)"
    ></aui-search>
  </div>

  <aui-table [dataSource]="filteredList$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'alarm_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div>
          <a
            [routerLink]="[
              '/console/admin/alarm/detail',
              clusterName,
              item.namespace,
              item.resource_name,
              item.group_name,
              item.name
            ]"
          >
            {{ item.name }}
          </a>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="metric">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'resource' | translate }}
      </aui-table-header-cell>
      <aui-table-cell
        *auiTableCellDef="let item"
        [auiTooltip]="item.metric_tooltip"
        auiTooltipPosition="top start"
      >
        {{ item.type | translate }} ：
        <span *ngIf="item.metric_tooltip === '.*'">
          {{ 'all_nodes' | translate }}
        </span>
        <span *ngIf="item.metric_tooltip !== '.*'">
          {{ item.metric_tooltip }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="alarm_type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'alarm_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div [ngSwitch]="item.metric_name">
          <ng-template ngSwitchCase="custom">
            {{ 'metric_custom' | translate }}
          </ng-template>
          <ng-template ngSwitchCase="workload.log.keyword.count">
            {{ 'log_alarm' | translate }}
          </ng-template>
          <ng-template ngSwitchDefault>
            {{ 'metric_alarm' | translate }}
          </ng-template>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="threshold">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'alarm_rule' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span
          [auiTooltip]="item.expr || item.metric_name"
          [auiTooltipDisabled]="item.metric_name === 'workload.log.keyword.count'"
          auiTooltipPosition="top start"
        >
          {{ getRule(item, metric_type) }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="level">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'level' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div>{{ item.labels?.severity }}</div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-status-badge [status]="item.state"></rc-status-badge>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div
          [auiDropdown]="menu"
          [auiDropdownDisabled]="
            (!this.canUpdateAlarm && !this.canDeleteAlarm) ||
            item.type === 'workload'
          "
          class="action-button"
          [class.disabled]="item.type === 'workload'"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item
            (click)="updateAlarm(item)"
            [disabled]="!canUpdateAlarm"
          >
            {{ 'update' | translate }}
          </aui-menu-item>
          <aui-menu-item
            (click)="deleteAlarm(item)"
            [disabled]="!canDeleteAlarm"
          >
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>

  <rc-zero-state
    [zeroState]="showZeroState"
    [fetching]="!initialized && fetching"
    resourceName="alarm"
  ></rc-zero-state>
  <aui-paginator
    *ngIf="(list$ | async)?.count"
    [length]="(list$ | async)?.count"
    [pageSize]="(pagination$ | async)?.pageSize"
    [pageIndex]="(pagination$ | async)?.pageIndex"
    (page)="pageChanged($event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
</aui-card>
