<aui-dialog-header>
  {{ 'clean_invalid_ldap_users' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div class="clean-users-tip">
    <div>
      <div>
        {{
          'clean_invalid_ldap_users_tip1'
            | translate
              : { invalid_accounts: count == null ? invalidAccounts : count }
        }}
      </div>
      <div>{{ 'clean_invalid_ldap_users_tip2' | translate }}</div>
    </div>
  </div>
  <aui-search
    searchButton="true"
    [placeholder]="'support_search_by_name' | translate"
    (keywordChange)="searchAccounts($event)"
  ></aui-search>
  <div
    [rcLoadingMask]="accountsLoading"
    *ngIf="accountsLoading || accounts?.length"
    class="accounts-wrapper"
  >
    <ul class="list-unstyled accounts">
      <li *ngFor="let account of accounts">
        <div>
          {{ account.username }}
          <aui-icon
            icon="basic:trash"
            (click)="openConfirmDialog(account.username)"
          ></aui-icon>
        </div>
      </li>
    </ul>
  </div>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button (click)="cancel()">{{ 'close' | translate }}</button>
  <button (click)="openConfirmDialog()" aui-button="primary">
    {{ 'clean_all' | translate }}
  </button>
</aui-dialog-footer>

<ng-template #ConfirmTemplate>
  <aui-dialog-header>
    <aui-icon icon="exclamation_circle_s" color="#f8ac58"></aui-icon>
    {{ 'delete_invalid_accounts' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <h4>{{ confirmDialogTitle }}</h4>
    <div style="color:#a1a1a1">
      {{ 'confirm_delete_invalid_users_tip' | translate }}
    </div>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button aui-button="primary" (click)="confirm()">
      {{ 'confirm' | translate }}
    </button>
    <button aui-button (click)="confirmDialogCancel()">
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</ng-template>
