<div *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'nav_storage' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'nav_pv' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</div>

<aui-inline-alert
  [closable]="true"
  (close)="notificationVisible = false"
  [content]="'pv_tips' | translate"
></aui-inline-alert>

<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <button
      aui-button="primary"
      routerLink="/console/admin/storage/pv/create"
      *ngIf="hasCreatePvPermission"
    >
      {{ 'create_pv' | translate }}
    </button>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [searching]="searching"
      [keyword]="search$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
  </div>

  <aui-table [dataSource]="list$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'pv_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/pv.svg" alt="" />
          <div class="rc-lines">
            <div class="rc-line">
              <a
                [routerLink]="[
                  '/console/admin/storage/pv/detail',
                  item.kubernetes.metadata.name
                ]"
              >
                {{ item.kubernetes.metadata.name }}
              </a>
            </div>
          </div>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-status-badge
          [status]="statusMap[item.kubernetes.status.phase]"
        ></rc-status-badge>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="referenced_pvc">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'referenced_pvc' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div>
          {{ item.kubernetes.spec.claimRef?.name | rcFieldNotAvailable }}
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="size">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'size' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.kubernetes.spec.capacity.storage }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_date">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_date' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.kubernetes.metadata.creationTimestamp | rcFormatMs }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div
          [auiDropdown]="menu"
          [auiDropdownDisabled]="
            !(hasPermission(item, 'delete') || hasPermission(item, 'update'))
          "
          class="action-button"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item
            *ngIf="hasPermission(item, 'update')"
            [routerLink]="[
              '/console/admin/storage/pv/update',
              item.kubernetes.metadata.name
            ]"
          >
            {{ 'update' | translate }}
          </aui-menu-item>
          <aui-menu-item
            *ngIf="hasPermission(item, 'delete')"
            [hidden]="item.kubernetes.status.phase === 'Bound'"
            (click)="deletePv(item)"
          >
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <rc-zero-state
    [zeroState]="showZeroState"
    [fetching]="!initialized && fetching"
    resourceName="pv"
  ></rc-zero-state>
  <aui-paginator
    *ngIf="(listMeta$ | async)?.count"
    [length]="(listMeta$ | async)?.count"
    [pageSize]="(pageParams$ | async)?.pageSize"
    [pageIndex]="(pageParams$ | async)?.pageIndex - 1"
    (currentPageChange)="pageChanged('pageIndex', $event)"
    (page)="pageChanged($event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
</aui-card>
