@import 'var';

:host {
  ::ng-deep {
    .form-sub-fields {
      .aui-form-item {
        margin-bottom: 16px !important;
      }
    }
  }
  .form-field-text {
    display: flex;
    line-height: 32px;
    margin-bottom: 8px;
  }
  .form-field-label {
    width: 140px;
    text-align: right;
    padding-right: 16px;
    font-weight: normal;
    line-height: 32px;
  }
  .form-field-required {
    color: $form-text-error-color;
  }
  .loading-mask-overlay {
    min-height: 80px;
  }

  .form-subs {
    color: #888;
    flex: 1;
  }
  .form-sub-row {
    margin-bottom: 8px;
  }
  .form-sub-col {
    flex: 1;
    margin-right: 8px;
    &:first-child {
      min-width: 14em;
    }
  }
  .required-mark {
    color: $text-warnings-color;
  }

  .form-sub {
    border: 1px dashed #ccc;
    min-height: 130px;
    position: relative;
    margin-top: 32px;
    margin-right: 48px;
    padding: 0 16px;
    &:first-child {
      margin-top: 16px;
    }
    display: flex;
    &-method {
      position: absolute;
      left: 140px;
      top: -16px;
    }
    &-placeholder {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-fields {
      padding: 32px 0 16px;
      flex: 1;
    }
    &-button {
      text-align: right;
      margin-top: 8px;
      padding-right: 48px;
    }
    &-remove {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 48px;
      right: -48px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #24a7e3;
        aui-icon {
          cursor: pointer;
        }
      }
    }
  }
}
