<aui-dialog-header>
  <ng-container *ngIf="updating">
    {{ 'notification_update' | translate }}
  </ng-container>
  <ng-container *ngIf="!updating">
    {{ 'notification_create' | translate }}
  </ng-container>
</aui-dialog-header>
<aui-dialog-content>
  <div [rcLoadingMask]="!initialized || submitting">
    <form
      auiForm
      #formRef="ngForm"
      auiFormLabelPosition="right"
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <aui-form-item *ngIf="!updating">
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          formControlName="name"
          maxlength="36"
          [pattern]="patternMap.name.reg"
          placeholder="{{ patternMap.name.hint | translate }}"
          [rcErrorsTooltip]
          [rcErrorsTooltipMapper]="errorMappers.name"
          required
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'notification_subscription_info' | translate }}
        </label>
        <div class="form-subs" formArrayName="subs">
          <div
            class="form-sub"
            *ngFor="let sub of subFormArray.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="form-sub-method">
              <aui-select
                auiFormItemControl
                name="method"
                formControlName="method"
                #method
                placeholder="{{
                  'please_select_notification_method' | translate
                }}"
                (valueChange)="onMethodChange($event, i)"
              >
                <aui-option
                  *ngFor="let subMethod of subMethods"
                  [value]="subMethod.value"
                  [label]="subMethod.name"
                >
                  {{ subMethod.name }}
                </aui-option>
              </aui-select>
            </div>
            <div
              class="form-sub-placeholder"
              *ngIf="!sub.controls.method.value.length"
            >
              {{ 'notification_subscription_placeholder' | translate }}
            </div>
            <div
              class="form-sub-fields"
              *ngIf="sub.controls.method.value.length"
            >
              <aui-form-item>
                <label auiFormItemLabel>
                  {{ 'notification_subscription_info' | translate }}
                </label>
                <input
                  auiFormItemControl
                  aui-input
                  formControlName="recipient"
                  [rcErrorsTooltip]
                  [rcErrorsTooltipMapper]="
                    errorMappers[sub.controls.method.value]
                  "
                  [placeholder]="
                    errorMappers[sub.controls.method.value].pattern
                  "
                  required
                />
              </aui-form-item>
              <aui-form-item *ngIf="sub.controls.method.value === 'webhook'">
                <label auiFormItemLabel>
                  {{ 'notification_webhook_secret' | translate }}
                </label>
                <input
                  auiFormItemControl
                  aui-input
                  formControlName="secret"
                  [rcErrorsTooltip]
                />
              </aui-form-item>
              <aui-form-item>
                <label auiFormItemLabel>
                  {{ 'notification_subscription_remark' | translate }}
                </label>
                <input auiFormItemControl aui-input formControlName="remark" />
              </aui-form-item>
            </div>
            <span
              class="form-sub-remove"
              *ngIf="subFormArray.controls.length > 1"
            >
              <aui-icon
                icon="basic:minus_circle"
                (click)="removeSub(i)"
              ></aui-icon>
            </span>
          </div>
          <div class="form-sub-button">
            <button aui-button="default" type="button" (click)="addSub()">
              {{ 'add' | translate }}
            </button>
          </div>
        </div>
      </aui-form-item>
    </form>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      [loading]="submitting"
      [disabled]="submitting"
      (click)="formRef.onSubmit($event)"
    >
      <ng-container *ngIf="updating">{{ 'save' | translate }}</ng-container>
      <ng-container *ngIf="!updating">{{ 'create' | translate }}</ng-container>
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>
