:host {
  .title-icon {
    color: #f8ac58;
    margin-right: 8px;
  }
  .content {
    h3 {
      margin-bottom: 10px;
    }
    &__list {
      max-height: 500px;
      overflow: scroll;
      padding: 12px 20px;
      border: 1px solid #ededed;
    }
  }
}
