<aui-dialog-header>
  <aui-icon class="title-icon" icon="exclamation_circle_s"></aui-icon>
  {{ modalData.title }}
</aui-dialog-header>
<aui-dialog-content class="content">
  <h3>{{ modalData.content }}</h3>
  <div class="content__list">
    <li *ngFor="let item of modalData.list">
      {{ item }}
    </li>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="cancel()">
    {{ 'got_it' | translate }}
  </button>
</aui-dialog-footer>
