@import 'var';

.template-card {
  min-width: 380px;
  height: 220px;
  padding: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 3px;
  align-items: center;
  justify-content: stretch;
  background: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.14);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.7);
  }

  .pipeline-diagram-container {
    margin: auto;
    max-height: 128px;
    overflow: hidden;
    max-width: 350px;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    .names {
      display: flex;
      flex-direction: column;
      max-width: 210px;
      word-break: break-all;
      & > span:first-child {
        color: #24a7e3;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: baseline;
        cursor: pointer;
        b {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        & > span {
          color: #5b5b5b;
          font-size: 12px;
          display: inline-block;
          width: 50px;
          margin-left: 8px;
        }
      }
      & > span:last-child {
        padding-top: 4px;
        font-size: 12px;
        color: #999;
      }
      & span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .tags-container {
    height: 20px;
    width: 100%;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    .tags {
      height: 20px;
      display: inline-block;
      overflow: hidden;
      border-radius: 2px;
      background-color: #f2fafe;
      border: solid 1px #e5f5fc;
      margin-right: 4px;
      font-size: 12px;
      text-align: left;
      padding: 0 4px;
      max-width: 320px;
      color: #666;
      text-overflow: ellipsis;
      line-height: 20px;
    }
    .tags-popover {
      @extend .tags;
      margin-right: 0;
      border-left: 4px solid #fff;
    }
  }

  .sys-mark {
    display: inline-block;
    border-top-left-radius: 3px;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border-top: 6px solid #2fa8e1;
    border-left: 6px solid #2fa8e1;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: absolute;
  }
}
.label-popover {
  max-width: 500px;
  box-shadow: 0 0 4px 1px #c1c4c6;
  & > span {
    border-radius: 3px;
    margin: 2px;
    display: inline-block;
    padding: 0 4px;
    background: #e8e8e8;
  }
}
