<div class="template-card">
  <div *ngIf="template.source?.provider === 'official'" class="sys-mark"></div>
  <div class="header">
    <div class="names">
      <span
        (click)="showHelp()"
        [ngStyle]="{
          cursor: !type && shouldShowDetail() ? 'pointer' : 'initial'
        }"
      >
        <b>{{ displayName }}</b>
        <span>{{ version }}</span>
      </span>
      <span>{{ 'name' | translate }}: {{ template.name }}</span>
    </div>
    <div fxFlex></div>
    <div *ngIf="!type && shouldShowDetail()">
      <button aui-button="primary" size="small" (click)="showHelp()">
        {{ 'jenkins_template_detail_view' | translate }}
      </button>
    </div>
    <div *ngIf="type && canCreatePipeline">
      <button aui-button="primary" size="small" (click)="createPipeline()">
        {{ 'jenkins_pipeline_create' | translate }}
      </button>
    </div>
  </div>
  <div class="pipeline-diagram-container">
    <rc-jenkins-pipeline-history-diagram
      [stages]="template.stages"
      [diagramConfig]="diagramConfig"
    ></rc-jenkins-pipeline-history-diagram>
  </div>
  <div class="tags-container">
    <div style="max-width: 300px; white-space: nowrap">
      <span
        class="tags"
        *ngFor="let tag of tags"
        title="{{ tag.key }} : {{ tag.value }}"
      >
        {{ tag.key }} : {{ tag.value }}
      </span>
    </div>
    <div fxFlex></div>
    <div
      *ngIf="tags.length > 2"
      class="tags-popover"
      style="cursor: pointer;"
      auiTooltipMode="info"
      auiTooltipTrigger="click"
      auiTooltipPosition="top"
      auiTooltipType="plain"
      [auiTooltip]="popoverTemplate"
    >
      ···
    </div>
  </div>
</div>
<ng-template #popoverTemplate>
  <div class="label-popover">
    <span *ngFor="let tag of tags">
      <span>{{ tag.key }} : {{ tag.value }}</span>
    </span>
  </div>
</ng-template>
