<aui-dialog-header>
  {{ 'binding_namespace' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelWidth="110px"
    style="padding-top: 20px"
    (ngSubmit)="binding()"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'space_under_namespace' | translate }}</label>
      <span>{{ spaceName }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'binding_namespace' | translate }}</label>
      <aui-multi-select
        name="envs"
        [(ngModel)]="value"
        required
        auiFormItemControl
      >
        <aui-option
          *ngFor="let namespace of namespaces"
          [value]="namespace"
          [label]="namespace.name"
        >
          {{ namespace.name }}
        </aui-option>
      </aui-multi-select>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="binding()" [disabled]="form.invalid">
      {{ 'confirm' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
