<aui-dialog-header>
  <aui-icon
    class="icon"
    size="22"
    icon="exclamation_triangle_s"
    color="#eb6262"
  ></aui-icon>
  {{ 'delete_space' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <p>{{ sentences.space_delete_confirm }}</p>
  <div>
    <p>{{ sentences.input_space }}</p>
    <input aui-input [(ngModel)]="inputValue" />
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button="danger" (click)="delete()" [disabled]="disabled">
      {{ 'delete' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
