<aui-dialog-header></aui-dialog-header>
<aui-dialog-content>
  <aui-icon size="16" icon="exclamation_triangle_s" color="#eb6262"></aui-icon>
  <span>&nbsp;&nbsp;{{ msg }}</span>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="confirm()">
      {{ 'got_it' | translate }}
    </button>
  </div>
</aui-dialog-footer>
