.group-list {
  .group-list-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
  }

  .aui-button {
    margin-right: 8px;
  }

  aui-search {
    width: 300px;
  }

  .link,
  .name,
  .display-name {
    display: block;
  }

  .name {
    font-size: 16px;
  }
  .display-name {
    height: 16px;
    line-height: 1;
    font-size: 12px;
    color: #999;
    margin-top: 2px;
  }
}
.light-blue {
  color: #009ce3;
  cursor: pointer;
}

.icon-more {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  text-align: center;
  transition: 0.3s;
  color: #999;
  &:hover {
    color: #009ce3;
  }
}

.aui-table__header-cell:nth-child(4),
.aui-table__cell:nth-child(4) {
  flex: 0 0 50px;
}

.zero-state {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 44px;
  font-size: 14px;
  color: #999;
}

::ng-deep {
  .aui-dialog__content {
    padding-top: 0 !important;
  }
}

.space-list-namespace__list {
  padding: 13px 5px;
  line-height: 26px;
  li {
    list-style-type: none;
    position: relative;
    &::before {
      content: ' ';
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background: #33afe8;
      position: absolute;
      top: 10px;
    }
    a {
      margin-left: 10px;
    }
  }
}
