<div class="group-list">
  <div class="group-list-header">
    <button
      *ngIf="createPermission"
      aui-button="primary"
      [routerLink]="['../create_space']"
    >
      {{ 'create_space' | translate }}
    </button>
    <aui-search
      [searchButton]="true"
      (search)="onSearch($event)"
      [searching]="searching"
      (keywordChange)="onSearch($event)"
    ></aui-search>
  </div>

  <aui-table [dataSource]="spaces$ | async">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'space_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a class="link" [routerLink]="['../space', item.name]">
          <span class="name light-blue">{{ item.name }}</span>
          <span *ngIf="item?.display_name" class="display-name">
            {{ item?.display_name }}
          </span>
        </a>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="namespaces">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'binding_namespace' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span
          *ngIf="item.namespaces?.length"
          (click)="namespaceDetail(item.namespaces[0], $event)"
          class="light-blue"
        >
          {{ item.namespaces[0].name }}
        </span>
        <span *ngIf="!item.namespaces?.length">-</span>
        <aui-icon
          *ngIf="item.namespaces?.length > 1"
          icon="ellipsis_h_s"
          color="#009ce3"
          class="icon-more"
          [auiTooltip]="content"
          auiTooltipType="info"
        ></aui-icon>
        <ng-template #content>
          <ul class="space-list-namespace__list">
            <li *ngFor="let namespace of item.namespaces">
              <a class="link" (click)="namespaceDetail(namespace, $event)">
                {{ namespace.name }}
              </a>
            </li>
          </ul>
        </ng-template>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="created_at">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_at' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.created_at | rcFormatUtcStr }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          [square]="true"
          [auiDropdown]="menu"
          class="action-button"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <aui-menu-item
            (click)="openBindingSpaceDialog(item)"
            *ngIf="bindNamespacePermission"
          >
            {{ 'binding_namespace' | translate }}
          </aui-menu-item>
          <aui-menu-item
            (click)="openUnbindingSpaceDialog(item)"
            *ngIf="unbindNamespacePermission && item.namespaces?.length"
          >
            {{ 'unbinding_namespace' | translate }}
          </aui-menu-item>
          <aui-menu-item
            (click)="openUpdateSpaceDialog(item)"
            *ngIf="updatePermission"
          >
            {{ 'update_space' | translate }}
          </aui-menu-item>
          <aui-menu-item
            (click)="openDeleteSpaceDialog(item)"
            *ngIf="deletePermission"
          >
            <span style="color:#eb6262;">{{ 'delete_space' | translate }}</span>
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <div class="zero-state" *ngIf="!(spaces$ | async)?.length">
    {{ 'no_data' | translate }}
  </div>
  <aui-paginator
    *ngIf="(spaces$ | async)?.length"
    layout="total,pager"
    [(currentPage)]="pagination.current"
    [(pageSize)]="pagination.size"
    [total]="pagination.count"
    (currentPageChange)="pageChanged($event)"
  ></aui-paginator>
</div>
