<aui-dialog-header>
  {{ 'unbinding_namespace' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelWidth="110px"
    style="padding-top: 20px"
    (ngSubmit)="unbinding()"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'space_under_namespace' | translate }}</label>
      <span>{{ spaceName }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'namespace' | translate }}</label>
      <aui-checkbox-group
        auiFormItemControl
        class="bingding-envs"
        [(ngModel)]="namespaceSelected"
        required
        name="envs"
      >
        <aui-checkbox *ngFor="let namespace of namespaces" [label]="namespace">
          {{ namespace.name }}
        </aui-checkbox>
      </aui-checkbox-group>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button
      aui-button="danger"
      (click)="unbinding()"
      [disabled]="namespaceSelected.length === 0"
    >
      {{ 'unbinding' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
