<aui-dialog-header>{{ 'update_space' | translate }}</aui-dialog-header>
<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelWidth="80px"
    style="padding-top: 20px"
    (ngSubmit)="update()"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'space_name' | translate }}</label>
      <span>{{ spaceName }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <input aui-input [(ngModel)]="displayName" name="displayName" />
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      (click)="update()"
      [loading]="loading"
      [disabled]="loading"
    >
      {{ 'update' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
