<aui-card *ngIf="data">
  <div auiCardHeader>
    {{resource.metadata.name}}
    <div fxFlex></div>
    <button aui-button="default" [plain]="true" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu size="small">
      <aui-menu-item [disabled]="!canUpdate" (click)="update()">
        {{ 'update' | translate }}
      </aui-menu-item>
      <aui-menu-item [disabled]="!canUpdate" (click)="executeNow()">
        {{ 'execute_now' | translate }}
      </aui-menu-item>
      <aui-menu-item [disabled]="!canDelete" (click)="delete()">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </aui-menu>
  </div>
  <div class="rc-detail-container">
    <div class="detail-wrapper">
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'display_name' | translate }}</label>
          {{resource.metadata.annotations ?
          resource.metadata.annotations['resource.alauda.io/display-name'] : ''
          | rcFieldNotAvailable}}
        </div>
        <div class="detail-item">
          <label>{{ 'created_date' | translate }}</label>
          {{ resource.metadata.creationTimestamp | rcFormatUtcStr }}
        </div>
        <div class="detail-item">
          <label>{{ 'execute_type' | translate }}</label>
          {{resource.spec.suspend ? ('manual' | translate) : ('cron' |
          translate)}}
        </div>
        <div class="detail-item">
          <label>{{ 'next_trig_time' | translate }}</label>
          {{resource.spec.schedule | rcCrontabNext}}
        </div>
        <div class="detail-item">
          <label>{{ 'trigger_rule' | translate }}</label>
          {{resource.spec.suspend? '-' : resource.spec.schedule}}
        </div>
        <div class="detail-item">
          <label>{{ 'last_schedule_time' | translate }}</label>
          {{resource.status.lastScheduleTime | rcUtcToConsumed:lang}}
        </div>
        <div class="detail-item">
          <label>{{ 'number_of_history_jobs_keep_up' | translate }}</label>
          <span>
            {{'success' | translate}}
            {{resource.spec.successfulJobsHistoryLimit}}
          </span>
          <span style="margin-left: 8px">
            {{'failed' | translate}} {{resource.spec.failedJobsHistoryLimit}}
          </span>
        </div>
        <div class="detail-item">
          <label>{{ 'cron_concurrency_policy' | translate }}</label>
          <ng-container [ngSwitch]="resource.spec.concurrencyPolicy">
            <ng-container *ngSwitchCase="'Allow'">
              {{'cron_concurrency_policy_allow' | translate}}
            </ng-container>
            <ng-container *ngSwitchCase="'Forbid'">
              {{'cron_concurrency_policy_forbid' | translate}}
            </ng-container>
            <ng-container *ngSwitchCase="'Replace'">
              {{'cron_concurrency_policy_replace' | translate}}
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <rc-job-config [jobSpec]="jobSpec"></rc-job-config>
  </div>
</aui-card>
<rc-pod-controller-containers
  [podController]="data.kubernetes.spec.jobTemplate"
  [canUpdate]="canUpdate"
  [actions]="['image', 'resource']"
  (onUpdateImageTag)="updateImageTag($event)"
  (onUpdateResourceSize)="updateResourceSize($event)"
></rc-pod-controller-containers>
