<aui-dialog-header>
  {{ 'oschina_link' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    auiForm
    [rcLoadingMask]="submitting"
    #form="ngForm"
    style="padding:30px 40px;"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'oschina_user_name' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        name="infoName"
        [(ngModel)]="infoName"
        [placeholder]="'oschina_user_name' | translate"
        required
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'oschina_password' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        type="password"
        name="infoPass"
        autocomplete="new-password"
        [(ngModel)]="infoPass"
        required
      />
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button type="button" aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    [ngClass]="{ loading: submitting }"
    (click)="confirm()"
    [disabled]="submitting"
  >
    {{ 'submit' | translate }}
  </button>
</aui-dialog-footer>
