<aui-dialog-header>
  {{ 'update_node_tags' | translate }}({{ modalData.node.privateIp }})
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm">
    <rc-key-value-form-table
      name="labels"
      [(ngModel)]="labels"
      [valiadator]="labelValidator"
      [errorMapper]="labelErrorMapper"
    ></rc-key-value-form-table>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    {{ 'confirm' | translate }}
  </button>
  <button aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
