<rc-loading-mask
  class="rc-form-loading-mask"
  [loading]="!initialized"
></rc-loading-mask>
<div class="resource-form__wrapper" [hidden]="!initialized">
  <div class="resource-form__header">
    <span *ngIf="!data">{{ 'create_kube_service' | translate }}</span>
    <span *ngIf="data">{{ 'update_kube_service' | translate }}</span>
    <div style="flex: 1;"></div>
    <aui-radio-group
      [isPlain]="false"
      (ngModelChange)="formModelChange($event)"
      [(ngModel)]="formModel"
    >
      <aui-radio-button value="UI">{{ 'form' | translate }}</aui-radio-button>
      <aui-radio-button value="YAML">YAML</aui-radio-button>
    </aui-radio-group>
  </div>
  <div class="resource-form__content" *ngIf="formModel == 'UI'">
    <form
      auiForm
      auiFormLabelWidth="150px"
      [auiFormEmptyAddon]="true"
      #serviceForm="ngForm"
    >
      <!-- 集群选择 -->
      <aui-form-item *ngIf="mirrorClusters.length">
        <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
        <rc-mirror-cluster-select
          required
          auiFormItemControl
          name="clusters"
          [clusters]="mirrorClusters"
          [currentCluster]="currentCluster"
          [(ngModel)]="clusters"
        ></rc-mirror-cluster-select>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'type' | translate }}</label>
        <aui-select
          name="type"
          [(ngModel)]="k8sService.spec.type"
          [disabled]="data"
        >
          <aui-option
            *ngFor="let type of typeList"
            [label]="type.key"
            [value]="type.value"
          >
            {{ type.key }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
      </aui-form-item>
      <aui-form-item *ngIf="!data">
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          required
          name="name"
          maxlength="63"
          [(ngModel)]="k8sService.metadata.name"
          [pattern]="resourceNameReg.pattern"
          [placeholder]="resourceNameReg.tip | translate"
          [rcErrorsTooltipMapper]="{ pattern: resourceNameReg.tip | translate }"
          [rcErrorsTooltip]
        />
      </aui-form-item>
      <aui-form-item *ngIf="data">
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <span>{{ k8sService.metadata.name }}</span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'component' | translate }}</label>
        <aui-select
          name="targetComponent"
          [(ngModel)]="selectedComponent"
          clearable
          filterable
          [placeholder]="'please_select_component' | translate"
        >
          <aui-option-group *ngFor="let item of keys(workLoads)">
            <div auiOptionGroupTitle>{{ item.toLowerCase() | translate }}</div>
            <aui-option
              *ngFor="let component of workLoads[item]"
              [label]="component.metadata.name"
              [value]="component"
            >
              {{ component.metadata.name }}
            </aui-option>
          </aui-option-group>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'port' | translate }}</label>
        <rc-service-ports-fieldset
          auiFormItemControl
          required
          rcErrorsTooltip
          name="port"
          [(ngModel)]="k8sService.spec.ports"
        ></rc-service-ports-fieldset>
      </aui-form-item>
    </form>
  </div>
  <div *ngIf="formModel == 'YAML'">
    <form auiForm #serviceForm="ngForm" auiFormLabelWidth="140px">
      <!-- 集群选择 -->
      <aui-form-item *ngIf="mirrorClusters.length">
        <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
        <rc-mirror-cluster-select
          required
          auiFormItemControl
          name="clusters"
          [clusters]="mirrorClusters"
          [currentCluster]="currentCluster"
          [(ngModel)]="clusters"
        ></rc-mirror-cluster-select>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'yaml_file' | translate }}</label>
        <!-- YAML -->
        <aui-code-editor
          name="yaml"
          style="width: 100%;"
          required
          [rcErrorsTooltip]
          [rcErrorsTooltipInline]="true"
          [(ngModel)]="serviceYaml"
          [options]="codeEditorOptions"
        ></aui-code-editor>
      </aui-form-item>
    </form>
  </div>
</div>
<div class="resource-form__footer" [hidden]="!initialized">
  <div style="flex: 1;"></div>
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    <span *ngIf="data">{{ 'update' | translate }}</span>
    <span *ngIf="!data">{{ 'create' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
