<rc-loading-mask [loading]="loading"></rc-loading-mask>
<ng-container *ngIf="!loading">
  <aui-card>
    <div class="rc-detail-container">
      <div class="detail-icon">
        <img
          [src]="getImg(type.name)"
          [attr.data-standby]="type.logo"
          onerror="this.src=this.dataset.standby"
        />
      </div>
      <div class="detail-wrapper">
        <div class="detail-content">
          <!--场景-->
          <div class="detail-item long-item">
            <label>{{ 'type' | translate }}</label>
            <div>{{ type.display_text || type.name }}</div>
          </div>
          <!--描述-->
          <div class="detail-item long-item">
            <label>{{ 'description' | translate }}</label>
            <div>{{ type.description || '-' }}</div>
          </div>
        </div>
      </div>
    </div>
  </aui-card>
  <aui-card>
    <!-- 集成信息 -->
    <div auiCardHeader>
      {{ 'integration_info' | translate }}
    </div>
    <div>
      <form #integrationForm="ngForm" auiForm [auiFormEmptyAddon]="true">
        <!-- 名称 -->
        <aui-form-item>
          <label auiFormItemLabel>{{ 'name' | translate }}</label>
          <input
            auiFormItemControl
            aui-input
            required
            name="name"
            [pattern]="resourceNamePattern.pattern"
            maxlength="128"
            [readOnly]="updateMode"
            [rcErrorsTooltip]
            [rcErrorsTooltipMapper]="{
              pattern: resourceNamePattern.tip | translate
            }"
            [(ngModel)]="basicFields.name"
          />
        </aui-form-item>

        <aui-form-item *ngFor="let field of configFields">
          <label auiFormItemLabel>{{ field.display_text || field.name }}</label>
          <input
            auiFormItemControl
            *ngIf="field.type !== 'boolean' && field.type !== 'enum'"
            aui-input
            [name]="field.name"
            [type]="field.type"
            [min]="field.minimum"
            [max]="field.maximum"
            [minlength]="field.min_length || 0"
            [maxlength]="field.max_length || 256"
            [pattern]="field.pattern"
            [required]="field.required"
            [rcErrorsTooltip]
            [rcErrorsTooltipMapper]
            [(ngModel)]="field.value"
          />
          <aui-select
            auiFormItemControl
            *ngIf="field.type === 'enum'"
            [name]="field.name"
            [required]="field.required"
            [placeholder]="
              (field.enum.length === 0 ? 'no_data' : 'please_select')
                | translate
            "
            [rcErrorsTooltip]
            [rcErrorsTooltipMapper]
            [(ngModel)]="field.value"
          >
            <aui-option *ngFor="let option of field.enum" [value]="option">
              {{ option }}
            </aui-option>
          </aui-select>
          <aui-switch
            auiFormItemControl
            *ngIf="field.type === 'boolean'"
            [name]="field.name"
            [required]="field.required"
            [(ngModel)]="field.value"
          ></aui-switch>
          <div auiFormItemAddon *ngIf="field.description">
            <aui-icon
              icon="basic:question"
              auiTooltipPosition="top center"
              [auiTooltip]="field.description"
            ></aui-icon>
          </div>
        </aui-form-item>

        <!-- 描述 -->
        <aui-form-item>
          <label auiFormItemLabel>{{ 'description' | translate }}</label>
          <input
            auiFormItemControl
            aui-input
            name="description"
            [(ngModel)]="basicFields.description"
          />
        </aui-form-item>

        <!-- 创建后立即启用 -->
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'integration_immediately_enabled' | translate }}
          </label>
          <aui-switch
            auiFormItemControl
            name="immediately_enabled"
            [(ngModel)]="basicFields.enabled"
          ></aui-switch>
        </aui-form-item>
      </form>
    </div>
    <div
      auiCardFooter
      class="form-footer"
      fxLayout="row"
      fxLayoutAlign="end center"
    >
      <button aui-button="primary" [loading]="submitting" (click)="submit()">
        {{ (updateMode ? 'save' : 'create') | translate }}
      </button>
      <button fxFlexOffset="12px" aui-button (click)="cancel()">
        {{ 'cancel' | translate }}
      </button>
    </div>
  </aui-card>
</ng-container>
