@import 'var';

:host {
  .form-section-header {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px dashed $border-color;
    padding: 4px 0;
    margin-bottom: 20px;

    &__title {
      font-weight: 500;
      font-size: 18px;
    }

    > *:last-child {
      margin-right: 120px;
    }
  }

  form,
  .form-footer {
    margin: 0 15%;
  }

  .description-question-circle:hover {
    color: $blue-5;
  }

  ::ng-deep .rc-form-panel {
    border: 0px !important;
    padding: 0px 16px !important;
  }
  .detail-wrapper {
    margin-left: 120px;
    padding-top: 20px;
  }
  .detail-item.long-item {
    display: -webkit-box;
    height: auto !important;
    width: 100%;
    .long-content {
      white-space: normal;
      width: 90%;
    }
  }
}
