@import 'var';

.form-container {
  margin: 0;
  form {
    margin-bottom: 16px;
    display: flex;
    flex-flow: column;
  }
}

.form-header {
  font-size: 22px;
  text-align: center;
  margin: 24px 0;
}

.predefined-org-row {
  text-align: center;
  margin-bottom: 24px;
  color: #888888;
}

.ui.input input {
  font-size: inherit;
}

.ui.input input,
.ui.button,
.ui.selection.dropdown {
  border-radius: 0;
}

.ui.selection.dropdown {
  flex: 1;
}

.ui.button {
  margin: 0;
  font-weight: 400;

  &.primary {
    border: 1px solid $button-primary-border-color;
    background-color: $button-primary-background-color;
    &:hover,
    &:focus {
      border-color: $button-primary-hover-border-color;
      background-color: $button-primary-hover-background-color;
    }
  }
}
