<aui-card>
  <div class="header">
    <button
      *ngIf="!readOnly && createPermission"
      aui-button="primary"
      routerLink="/console/admin/projects/create"
    >
      {{ 'project_create' | translate }}
    </button>
    <div fxFlex></div>
    <aui-search
      searchButton="true"
      [searching]="searching"
      [keyword]="keyword"
      placeholder="{{ 'keyword' | translate }}"
      (search)="searchByKeyword($event)"
    ></aui-search>
  </div>
  <rc-loading-mask [loading]="loading"></rc-loading-mask>
  <div [ngClass]="{ 'read-only': this.readOnly }" *ngIf="!loading">
    <aui-table [dataSource]="list" *ngIf="listPermission">
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <a
            class="display-name"
            [routerLink]="[
              '/console/admin/projects/detail/' + item.name,
              { uuid: item.uuid }
            ]"
          >
            {{ item.display_name || item.name }}
          </a>
          <div class="tabel-cell__label-container">
            {{ ('name' | translate) + ': ' + item.name }}
          </div>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="clusters">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ (readOnly ? 'quota' : 'cluster') | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <ng-template #clusterFullDetail>
            <div class="cluster-info__tooltip-wrapper">
              <div
                class="cluster-info__tooltip"
                *ngFor="let cluster of item?.clusters; index as i"
              >
                <a
                  [routerLink]="[
                    '/console/admin/cluster/detail/' + cluster?.name
                  ]"
                  [title]="cluster?.display_name"
                >
                  ·{{ cluster?.display_name }}
                </a>
                <div>
                  <rc-project-quota-display-list
                    [values]="getQuotaDisplayValues(cluster)"
                  ></rc-project-quota-display-list>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-container
            *ngFor="let cluster of filterClusters(item?.clusters); index as i"
          >
            <div
              class="cluster-info"
              *ngIf="i < 2 || item?.clusters?.length === 3"
            >
              <a
                *ngIf="!this.readOnly"
                [title]="cluster?.display_name"
                [routerLink]="['/console/admin/cluster/detail/' + cluster.name]"
              >
                {{ cluster?.display_name }}
              </a>
              <span *ngIf="!this.readOnly">：</span>
              <rc-project-quota-display-list
                [values]="getQuotaDisplayValues(cluster)"
              ></rc-project-quota-display-list>
            </div>
          </ng-container>
          <div
            class="cluster-info__footer"
            *ngIf="item?.clusters?.length > 3 && !this.readOnly"
          >
            <div class="cluster-info__footer-left"></div>
            <span
              class="cluster-info__footer-right"
              [auiTooltip]="clusterFullDetail"
              auiTooltipTrigger="hover"
              auiTooltipType="info"
            >
              {{ 'total' | translate }}
              <a href="javascript:void(0);">{{ item?.clusters?.length }}</a>
              {{ 'unit_ge' | translate }}{{ 'cluster' | translate }}
            </span>
          </div>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="service_type">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'services' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ getServiceType(item) }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="admin_list">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'admin' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <span [title]="getAdminList(item)">{{ getAdminList(item) }}</span>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="created_at">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'created_at' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.created_at | rcFormatUtcStr }}
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>

    <div class="zero-state" *ngIf="!list?.length">
      {{ 'no_data' | translate }}
    </div>

    <aui-paginator
      [total]="pagination.count"
      [pageSize]="pagination.size"
      [currentPage]="pagination.current"
      (currentPageChange)="pageChanged($event)"
      (pageSizeChange)="sizeChanged($event)"
      [pageSizeOptions]="[10, 20, 50, 100]"
    ></aui-paginator>
  </div>
</aui-card>
