@import 'mixins';
:host ::ng-deep {
  .aui-card__header {
    [auiCardHeader] {
      display: flex;
      justify-content: space-between;
    }
  }
  margin-bottom: 20px;

  .aui-table__column-name {
    flex: 2;
  }

  .aui-table__cell {
    .display-name {
      font-size: 16px;
      line-height: 22px;
      width: auto;
    }
    .tabel-cell__label-container {
      color: #999;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .aui-table__column-clusters {
    flex: 4;
    &.aui-table__header-cell {
      margin-left: 10%;
      margin-right: -10%;
    }
  }
  .read-only {
    .aui-table__column-clusters {
      &.aui-table__header-cell {
        margin: 0 0 0 10px;
      }
    }
  }

  .cluster-info {
    display: flex;
    color: #333;
    font-size: 12px;
    line-height: 16px;
    margin-top: 3px;
    a {
      display: block;
      font-size: 14px;
      line-height: 16px;
      width: 30%;
      max-width: 135px;
      text-align: right;
      @include text-overflow();
    }
    &__uint {
      min-width: 58px;
    }
    aui-icon {
      margin: 0 4px 0 8px;
    }
    &__footer {
      display: flex;
      color: #999;
      margin-top: 3px;
      &-left {
        width: calc(30% + 20px);
      }
      &-right {
        cursor: pointer;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.zero-state {
  line-height: 40px;
  text-align: center;
  color: #ccc;
}

.cluster-info__tooltip-wrapper {
  //:yintest
  max-height: 200px;
  overflow-y: scroll;
  @include scroll-bar;
  .cluster-info__tooltip {
    margin: 3px;
    color: #333;
    max-height: 200px;
    a {
      font-size: 14px;
      line-height: 20px;
      margin: 12px 0 4px 0;
    }
    &:first-child {
      a {
        margin: 0 0 4px 0;
      }
    }
    ::ng-deep {
      aui-icon {
        margin: 0 3px 0 5px;
      }
    }
  }
}
