@import '~@alauda/ui/theme/pattern';

:host {
  @include with-detail(detail);
  ::ng-deep .aui-table {
    &__column-action {
      flex: 1 0 100px;
      justify-content: flex-end;
    }
    &__column-detail {
      &.aui-table__cell {
        padding: 10px;
        border-top-color: #eee;
        border-top-style: solid;
        border-top-width: 1px;
        background: rgba(0, 156, 227, 0.05);
      }
    }
  }

  aui-icon {
    cursor: pointer;
    margin-right: 10px;
  }

  .table-placeholder {
    @include table-placeholder;
  }
}
