<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<aui-card *ngIf="initialized">
  <aui-table [dataSource]="historyItemsReversed">
    <ng-container auiTableColumnDef="version">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'application_version' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item; index as i">
        <aui-icon
          [icon]="this.rowExpanded[i] ? 'angle_down' : 'angle_right'"
          (click)="toggleRow(i)"
        ></aui-icon>

        <a (click)="view(item)">
          <ng-container *ngIf="i !== 0; else currentVersion">
            v.{{ item.kubernetes.spec.revision }}
          </ng-container>
          <ng-template #currentVersion>
            {{ 'current' | translate }} (v.{{ item.kubernetes.spec.revision }})
          </ng-template>
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'application_modification_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.kubernetes.spec.creationTimestamp | rcFormatUtcStr }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="modifier">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'application_modified_by' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.kubernetes.spec.user }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="annotation">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'annotation' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.kubernetes.spec.changeCause }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item; index as i">
        <ng-container *ngIf="i !== 0 && canUpdate(item)">
          <button
            aui-button="primary"
            size="small"
            [plain]="true"
            (click)="rollback(item.kubernetes.spec.revision)"
          >
            {{ 'application_rollback_to_version' | translate }}
          </button>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="detail">
      <aui-table-header-cell *auiTableHeaderCellDef>
        You can't see this header
      </aui-table-header-cell>
      <aui-table-cell
        *auiTableCellDef="let item; index as i"
        [@display]="rowExpanded[i] ? 'show' : 'hide'"
      >
        <ng-container [ngSwitch]="getDiffType(item)">
          <ng-container *ngSwitchCase="DiffType.ROLLBACKFROM">
            {{ 'application_rollback_from' | translate: { revision:
            getRollbackFrom(item) } }}
          </ng-container>
          <ng-container *ngSwitchCase="DiffType.HASDIFF">
            <p *ngIf="item.kubernetes.spec.revision !== 1">
              {{ 'application_version_compare' | translate : { current:
              item.kubernetes.spec.revision, last: item.kubernetes.spec.revision
              - 1 } }}:
            </p>
            <p
              *ngFor="
                let item of getDiffs(item.kubernetes.spec.resourceDiffs || {})
              "
            >
              {{ item }}
            </p>
          </ng-container>
          <ng-container *ngSwitchCase="DiffType.NODIFF">
            {{ 'application_no_diff' | translate }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ 'application_no_diff' | translate }}
          </ng-container>
        </ng-container>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="[
        'version',
        'time',
        'modifier',
        'annotation',
        'action',
        'detail'
      ]"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="
        let row;
        columns: [
          'version',
          'time',
          'modifier',
          'annotation',
          'action',
          'detail'
        ]
      "
    ></aui-table-row>
  </aui-table>

  <div class="table-placeholder" *ngIf="!historyItemsReversed?.length">
    {{ 'no_data' | translate }}
  </div>
</aui-card>
