@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:host {
  display: inline-flex;
  align-self: center;
  ::ng-deep aui-tag {
    display: flex;
  }
  rc-status-icon {
    align-self: center;
  }
  div {
    display: flex;
    align-items: center;
    color: white;
    font-weight: normal;
    .separator {
      background-color: #d8d8d8;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      margin: 0 4px;
    }
  }
  .status-icon-pending {
    color: #fff;
    transform-origin: center;
    animation: spin 4s infinite linear;
  }
}

div.error-message {
  &:not(:first-child) {
    margin-top: 12px;
  }
}
