<aui-tag
  *ngIf="initialized"
  [type]="tagType"
  size="mini"
  [solid]="true"
  [closeable]="false"
  [round]="true"
  [auiTooltip]="template"
  [auiTooltipDisabled]="!messages?.length"
>
  <div>
    <aui-icon
      *ngIf="rawStatus === 'Pending'"
      class="status-icon-pending"
      icon="basic:sync_circle_s"
      [style.margin-right]="'4px'"
    ></aui-icon>
    <span>{{ statusText }}</span>
    <ng-container *ngIf="!application">
      <span class="separator"></span>
      <span>{{ runningWorkloads }}/{{ totalWorkloads }}</span>
    </ng-container>
  </div>
</aui-tag>

<ng-template #template>
  <ng-container *ngFor="let item of messages">
    <div class="error-message">{{ item.reason }}: {{ item.message }}</div>
  </ng-container>
</ng-template>
