<aui-dialog-header>
  {{ 'nav_select_image' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
  <ng-container *ngIf="initialized">
    <ul class="rc-category">
      <li
        *ngFor="let category of categories"
        [ngClass]="{ active: currentCategory.value === category.value }"
        (click)="categoryChange(category)"
      >
        {{ category.name }}
      </li>
    </ul>

    <ul class="rc-registries">
      <ng-container *ngIf="currentCategory.value === 'private'">
        <li
          *ngFor="let registry of visibleRegistries"
          [ngClass]="{ active: currentRegistry?.name === registry.name }"
          (click)="registryChange(registry)"
        >
          <span [attr.title]="registry.name">{{ registry.name }}</span>
        </li>
        <li *ngIf="additionalRegistry" class="active">
          <span>{{ additionalRegistry?.name }}</span>
        </li>
        <li
          *ngIf="moreRegistries?.length"
          class="rc-more-items"
          #registryTooltip
          [auiTooltip]="moreRegistriesTemplate"
          [auiTooltipTrigger]="'click'"
          [auiTooltipPosition]="'bottom end'"
        >
          <span>
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </span>
        </li>
      </ng-container>
      <ng-container *ngIf="currentCategory.value === 'public'">
        <li
          *ngFor="let option of publicOptions"
          [class.active]="currentPublicOption.type === option.type"
          (click)="publicOptionChange(option)"
        >
          <span>{{ option.display_name }}</span>
        </li>
      </ng-container>
    </ul>

    <div
      class="rc-tabs"
      [ngClass]="{
        'rc-no-border': currentPublicOption?.type === 'third_party'
      }"
    >
      <div class="rc-tabs__header" *ngIf="visibleProjects.length">
        <div class="rc-tabs__nav-wrap">
          <ul>
            <li
              *ngFor="let project of visibleProjects"
              [ngClass]="{
                active: currentProject?.project_name === project.project_name
              }"
              (click)="projectChange(project)"
            >
              <span [attr.title]="project.project_name">
                {{ project.project_name }}
              </span>
            </li>
            <li *ngIf="additionalProject" class="active">
              <span>{{ additionalProject?.project_name }}</span>
            </li>
            <li
              *ngIf="moreProjects?.length"
              class="rc-tabs__nav__more-items"
              #projectTooltip
              [auiTooltip]="moreProjectsTemplate"
              [auiTooltipTrigger]="'click'"
              [auiTooltipPosition]="'bottom end'"
            >
              <span>
                <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="rc-tabs__content"
        [rcLoadingMask]="loading"
        [ngClass]="{ 'rc-full-height': !visibleProjects.length }"
      >
        <ng-container *ngIf="currentPublicOption?.type !== 'third_party'">
          <div
            class="rc-no-data"
            *ngIf="!loading && !(repositories$ | async).length"
          >
            {{ 'no_data' | translate }}
          </div>
          <ng-container *ngIf="(repositories$ | async).length">
            <div class="rc-header">
              <input
                aui-input
                placeholder="{{ 'filter_by_name_placeholder' | translate }}"
                [(ngModel)]="filterKey"
                (ngModelChange)="filterKeyChange()"
              />
            </div>
            <div class="rc-content">
              <div
                class="rc-repo-card"
                *ngFor="let repo of (filteredRepositories$ | async)"
                (click)="repositorySelected(repo)"
                [ngClass]="{ active: currentRepository?.name === repo.name }"
              >
                <div class="repo-header" [auiTooltip]="repo.name">
                  {{ repo.name }}
                </div>
                <div class="repo-desc">
                  {{ repo.description }}
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <div
          class="rc-input-row"
          *ngIf="currentPublicOption?.type === 'third_party'"
        >
          <div class="row-label">
            {{ 'image_repository_address' | translate }}
          </div>
          <div class="row-content-wrap">
            <div class="row-content">
              <input
                aui-input
                type="text"
                pattern=".+\/.+"
                [rcErrorsTooltip]
                [(ngModel)]="thirdPartyRepositoryPath"
              />
            </div>
            <div class="row-hint">
              <span>
                {{ 'for_example' | translate }}: {{ exampleRepositoryAddress }}
              </span>
              <a href="javascript:void(0)" (click)="applyExampleRepository()">
                <aui-icon icon="basic:angle_double_up"></aui-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #moreRegistriesTemplate>
    <div class="rc-more-item-list">
      <div
        *ngFor="let registry of moreRegistries"
        class="rc-item"
        (click)="registryChange(registry, true)"
        [title]="registry.name"
        [class.active]="registry.name === currentRegistry.name"
      >
        {{ registry.name }}
      </div>
    </div>
  </ng-template>

  <ng-template #moreProjectsTemplate>
    <div class="rc-more-item-list">
      <div
        *ngFor="let project of moreProjects"
        class="rc-item"
        (click)="projectChange(project, true)"
        [title]="project.project_name"
        [class.active]="project.project_name === currentProject.project_name"
      >
        {{ project.project_name }}
      </div>
    </div>
  </ng-template>
</aui-dialog-content>
<aui-dialog-footer>
  <span fxFlex></span>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    [disabled]="!shouldEnableConfirmButton()"
    (click)="confirm()"
  >
    {{ 'confirm' | translate }}
  </button>
</aui-dialog-footer>
