@import 'var';
@mixin list-item {
  height: 32px;
  max-width: 144px;
  min-width: 60px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    white-space: nowrap;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@mixin check-mark {
  &:after {
    content: '';
    background-image: url('/static/images/icon/check.svg');
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@mixin more-items {
  min-width: 30px;
  padding: 0;
  &:hover {
    color: $button-primary-border-color;
    border-color: $button-primary-border-color;
  }
}
:host {
  display: block;
  ::ng-deep .rc-form-panel {
    border: none !important;
    padding: 0 !important;
    .rc-form-container {
      padding: 0 !important;
    }
  }
  rc-loading-mask {
    height: 461px;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 32px;
    justify-content: flex-start;
  }
  li {
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $button-default-text-color;
  }
  .rc-category {
    margin-bottom: 12px;
    li {
      margin-right: 8px;
      width: 60px;
      height: 32px;
      border: solid 1px #ccc;
      border-radius: 3px;
      background-color: #fff;
      &:hover {
        border-color: $button-default-hover-border-color;
      }
      &.active {
        color: #fff;
        background-color: $button-primary-background-color;
        border-color: $button-primary-border-color;
      }
    }
  }
  .rc-registries {
    margin-bottom: 12px;
    li {
      @include list-item;
      transition: all 0.2s ease;
      border: solid 1px #ccc;
      &:first-of-type {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:last-of-type {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &:not(first-child) {
        margin-left: -1px;
      }
      &.active {
        position: relative;
        z-index: 1;
        color: $button-primary-border-color;
        border-color: $button-default-hover-border-color;
        @include check-mark;
      }
      &.rc-more-items {
        @include more-items;
      }
    }
  }
  .rc-tabs {
    height: 275px;
    border: 1px solid #ccc;
    &.rc-no-border {
      border: none;
      .rc-tabs__content {
        background-color: #fff;
        padding: 0;
        border: none;
      }
    }
  }
  .rc-tabs__header {
    width: 100%;
    border-bottom: 1px solid #ccc;
    .rc-tabs__nav-wrap {
      margin-top: -1px;
    }
    ul {
      margin-bottom: -1px;
      li {
        @include list-item;
        border-right: 1px solid #ccc;
        padding-top: 1px;
        transition: background-color 0.2s ease;
        //padding-top: 2px;
        //padding-bottom: 1px;
        &.active {
          //padding-top: 0;
          //padding-bottom: 0;
          background-color: #f4f4f4;
          border-top: 2px solid #24a7e3;
          border-bottom: 1px solid #f4f4f4;
        }
        &.rc-tabs__nav__more-items {
          @include more-items;
        }
      }
    }
  }
  .rc-tabs__content {
    height: 242px;
    overflow-y: auto;
    padding: 12px 16px;
    background-color: #f4f4f4;
    &.rc-full-height {
      height: 273px;
    }
    .rc-no-data {
      color: #ccc;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .rc-header {
      display: flex;
      justify-content: flex-end;
      input {
        flex: 0 0 312px;
      }
    }
    .rc-content {
      padding: 8px 0;
      display: flex;
      flex-wrap: wrap;
      .rc-repo-card {
        position: relative;
        max-width: 228px;
        flex: 0 0 228px;
        height: 78px;
        margin-bottom: 8px;
        background-color: #fff;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 3px;
        transition: all 0.2s ease;
        &:nth-child(3n + 2) {
          margin-left: 8px;
          margin-right: 8px;
        }
        .repo-header {
          max-width: 100%;
          font-size: 16px;
          height: 24px;
          line-height: 24px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .repo-desc {
          margin-top: 4px;
          font-size: 12px;
          line-height: 1.5;
          overflow: hidden;
          color: #ccc;
          width: 100%;
          text-overflow: ellipsis;
          text-align: center;
          white-space: nowrap;
        }
        &:not(.active):hover {
          box-shadow: 0 0 8px 0 #c4c4c4;
        }
        &.active {
          border-color: $button-default-hover-border-color;
          @include check-mark;
        }
      }
    }
    .rc-input-row {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 8px 0;
      .row-label {
        align-self: flex-start;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        line-height: 16px;
        width: 100px;
        padding: 8px 4px 8px 0;
      }
      .row-content-wrap {
        flex: 1;
        .row-content {
        }
        .row-hint {
          display: flex;
          align-items: center;
          padding-top: 4px;
          line-height: 20px;
          font-size: 14px;
          color: #999;
          a {
            margin-left: 4px;
            color: $button-primary-background-color;
            &:focus {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .rc-more-item-list {
    padding: 12px;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
      0 2px 10px 0 rgba(34, 36, 38, 0.15);
    display: flex;
    flex-flow: column;
    align-items: stretch;
    border-radius: 3px;
    background: #fff;
    .rc-item {
      font-size: 14px;
      font-weight: normal;
      background: #fff;
      white-space: nowrap;
      padding: 2px 8px;
      cursor: pointer;
      height: 24px;
      line-height: 20px;
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all 0.2s ease;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
      &:not(.active):hover {
        color: $button-default-hover-border-color;
      }
      &.active {
        background: #e5f4fd;
        cursor: default;
      }
    }
  }
}
