<rc-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
>
  <ng-container *rcArrayFormTableHeader>
    <td width="40%">{{ 'path' | translate }}</td>
    <td width="30%">{{ 'kube_service' | translate }}</td>
    <td width="30%">{{ 'service_port' | translate }}</td>
  </ng-container>

  <ng-container *rcArrayFormTableRow="let control" [formGroup]="control">
    <td>
      <input
        formControlName="path"
        aui-input
        [placeholder]="pathReg.tip | translate"
        [pattern]="pathReg.pattern"
        [rcErrorsTooltip]
      />
    </td>

    <td>
      <aui-select
        clearable
        [formControl]="control.get('backend.serviceName')"
        [rcErrorsTooltip]
        (valueChange)="serviceChanged(control)"
        required
      >
        <aui-option
          *ngFor="let service of services"
          [value]="service.kubernetes.metadata.name"
        >
          {{ service.kubernetes.metadata.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>

    <td>
      <aui-select
        [formControl]="control.get('backend.servicePort')"
        [rcErrorsTooltip]
        required
      >
        <aui-option
          *ngFor="
            let port of getPorts(control.get('backend.serviceName').value)
          "
          [value]="port.port"
        >
          {{ port.port }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>
  </ng-container>

  <ng-container *rcArrayFormTableRow="let control"></ng-container>
</rc-array-form-table>
