$queued: #feba2c;
$running: #21aee8;
$paused: #21aee8;
$success: #41c969;
$failure: #fa5f6b;
$aborted: #a8a8a8;
$unknown: #a8a8a8;

$pipeline-status-color-map: (
  queued: $queued,
  running: $running,
  paused: $paused,
  success: $success,
  failure: $failure,
  aborted: $aborted,
  unknown: $unknown,
);
