@import 'var';
:host {
  .tab-group-container {
    padding: 0 10px;
    background-color: white;
  }

  .template-card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .template-card-container {
    flex: 1 1 240px;
    padding: 8px;
  }

  .template-list-empty-message {
    width: 100%;
    height: calc(100vh - 238px);

    text-align: center;
    color: $color-info;
  }

  rc-loading-mask {
    height: calc(100vh - 112px);
  }
}
