<rc-loading-mask [loading]="repo_loading"></rc-loading-mask>
<rc-app-catalog-template-empty-view
  *ngIf="!repo_loading && empty"
  [permission]="permission"
></rc-app-catalog-template-empty-view>
<ng-container *ngIf="!repo_loading && !empty">
  <div fxLayout="row" style="margin-bottom: 12px;">
    <span fxFlex></span>
    <aui-search
      mode="filter"
      (search)="searchChanged($event)"
      [placeholder]="'filter_by_name_placeholder' | translate"
    ></aui-search>
    <button aui-button [square]="true" [disabled]="loading" (click)="refetch()">
      <aui-icon icon="basic:sync"></aui-icon>
    </button>
  </div>

  <div class="tab-group-container">
    <aui-tab-group (selectedIndexChange)="tabSelected($event)">
      <aui-tab>
        <rc-loading-mask [loading]="template_loading"></rc-loading-mask>
        <div *ngIf="!template_loading" class="template-card-list-container">
          <div
            *ngFor="
              let template of display_templates;
              trackBy: trackByFn;
              index as i
            "
            class="template-card-container"
          >
            <rc-app-catalog-template-card
              [showRepoName]="true"
              [template]="template"
              [applicationPermission]="applicationPermission"
              (createAppClick)="createAppClicked(template)"
            ></rc-app-catalog-template-card>
          </div>
          <div class="template-card-container"></div>
          <div class="template-card-container"></div>
          <div class="template-card-container"></div>
          <div class="template-card-container"></div>
          <div class="template-card-container"></div>
          <div class="template-card-container"></div>
        </div>
        <ng-container *ngIf="display_empty && !template_loading">
          <div *ngIf="!keyWord" class="template-list-empty-message">
            {{ 'app_catalog_empty_template_view_title' | translate }}
            <br />
          </div>
          <div *ngIf="keyWord" class="template-list-empty-message">
            {{ 'app_catalog_template_serach_empty' | translate }}
          </div>
        </ng-container>
        <ng-container *auiTabLabel>
          {{ ('all' | translate) + '  (' + totalTemplate + ')' }}
        </ng-container>
      </aui-tab>
      <ng-container *ngFor="let item of repositoryItems">
        <aui-tab>
          <rc-loading-mask [loading]="template_loading"></rc-loading-mask>
          <div *ngIf="!template_loading" class="template-card-list-container">
            <div
              *ngFor="
                let template of display_templates;
                trackBy: trackByFn;
                index as i
              "
              class="template-card-container"
            >
              <rc-app-catalog-template-card
                [template]="template"
                [applicationPermission]="applicationPermission"
                (createAppClick)="createAppClicked(template)"
              ></rc-app-catalog-template-card>
            </div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
          </div>
          <ng-container *ngIf="display_empty && !template_loading">
            <div
              *ngIf="!keyWord && permission"
              class="template-list-empty-message"
            >
              {{ 'app_catalog_empty_template_view_title' | translate }}
              <br />
              {{ 'app_catalog_you_can' | translate }}
              <a (click)="importDialogOpen(item)">
                {{ 'app_catalog_update_template_repo' | translate }}
              </a>
              ,
              {{ 'app_catalog_get_enterprise_template' | translate }}
            </div>
            <div
              *ngIf="!keyWord && !permission"
              class="template-list-empty-message"
            >
              {{ 'app_catalog_empty_template_view_title' | translate }}
              <br />
              {{ 'app_catalog_apply_permissions' | translate }}
            </div>
            <div *ngIf="keyWord" class="template-list-empty-message">
              {{ 'app_catalog_template_serach_empty' | translate }}
            </div>
          </ng-container>
          <ng-container *auiTabLabel>
            <span [title]="getDisplayTitle(item)">
              {{ getDisplayTitle(item) }}
            </span>
          </ng-container>
        </aui-tab>
      </ng-container>
    </aui-tab-group>
  </div>
</ng-container>
