<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'storage' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" routerLink="/console/admin/storage/pv">
        {{ 'pv' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ name }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<rc-pv-form-container *ngIf="data" [data]="data"></rc-pv-form-container>
