@import 'var';
:host {
  .rc-detail-container {
    flex: 1;
    padding: 0;
    margin: 0;
    min-height: auto;
    .detail-wrapper {
      margin: 0;
      .detail-item {
        align-items: flex-start;
        margin-top: 12px;
      }
    }
  }

  .header-title {
    display: flex;
    align-items: center;
  }

  .alert {
    font-size: 16px;
    color: #f8ac58;
    margin-left: 8px;
  }

  .info-header {
    display: flex;
    justify-content: space-between;
  }
  .basic-info {
    margin-top: -16px;
  }

  .icon-stack {
    margin-right: 8px;
    position: relative;
    display: flex;
    align-items: center;
    img {
      width: 42px;
      height: 32px;
    }
    &.not-ready {
      opacity: 0.4;
    }
  }

  .type-icon {
    width: 100%;
  }

  .enterprise-mark {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 2px;
    top: 50%;
    transform: translateY(4px);
  }

  .shallow-mark {
    font-size: 12px;
    color: #009ce3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 2px;
    top: 50%;
    transform: translateY(4px);
    background-color: white;
  }

  .list-card-header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;

    .aui-button {
      &.disabled {
        cursor: default;
        color: #ccc;
        background-color: #f2f2f2;
        border-color: #ccc;
      }
    }
  }

  .pos-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .search-pos {
    margin-left: 8px;
  }

  .assigned-by {
    color: $color-text-help;
    margin-left: 8px;
    &:hover {
      color: $color-primary;
    }
  }

  ::ng-deep {
    aui-tab-header {
      margin-left: -20px;
      margin-right: -20px;
      margin-top: -20px;
    }
  }
}
