<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['../../../']">{{ 'project' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a
        [routerLink]="['../../', 'detail']"
        [queryParams]="{ tabIndex: tabIndex }"
      >
        {{ (currentProject$ | async)?.name }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'devops_tool_chain' | translate }}: {{ name$ | async }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<ng-container
  *rcAsyncData="
    let data;
    params: (name$ | async);
    handler: fetchData;
    notification: update$;
    pullIn: 15 * 1000
  "
>
  <aui-card>
    <div auiCardHeader class="info-header">
      <div class="header-title">
        <div
          *ngIf="data"
          class="icon-stack"
          [ngClass]="{ 'not-ready': data?.status.phase !== 'Ready' }"
        >
          <img
            class="type-icon"
            [src]="
              '/static/images/tool-chain/' +
              data?.toolItemType.toLowerCase() +
              '.svg'
            "
          />
          <img
            *ngIf="data?.enterprise"
            class="enterprise-mark"
            [src]="enterpriseIcon$ | async"
          />
          <div
            *ngIf="data?.shallow"
            class="shallow-mark"
            [auiTooltip]="'tool_chain_shallow_integrate_tips' | translate"
          >
            <aui-icon icon="info_circle_s"></aui-icon>
          </div>
        </div>
        <span>{{ name$ | async }}</span>
        <aui-icon
          *ngIf="data?.status.phase === 'Error'"
          class="alert"
          [auiTooltipType]="needAuthorization ? 'info' : ''"
          [auiTooltip]="
            needAuthorization ? oauthStatusTips : data?.status.message
          "
          [auiTooltipDisabled]="!data?.status.message"
          auiTooltipPosition="top start"
          icon="exclamation_circle_s"
        ></aui-icon>
        <aui-icon
          *ngIf="data?.createdMode === 'assignment'"
          class="assigned-by"
          icon="basic:secret_public"
          [auiTooltip]="'tool_chain_assigned_by_platform' | translate"
          auiTooltipPosition="top"
        ></aui-icon>
      </div>
      <rc-menu-trigger [menu]="actionsMenu"></rc-menu-trigger>
    </div>
    <aui-menu #actionsMenu>
      <aui-menu-item
        *ngIf="data?.createdMode === 'subscription'"
        [disabled]="!updatePermission"
        (click)="update(data)"
      >
        {{ 'update' | translate }}
      </aui-menu-item>
      <aui-menu-item
        [disabled]="!deletePermission"
        type="danger"
        [divide]="true"
        (click)="delete(data)"
      >
        {{ 'delete' | translate }}
      </aui-menu-item>
    </aui-menu>

    <section class="basic-info">
      <div class="rc-detail-container">
        <div class="detail-wrapper" style="margin-left: 0">
          <div class="detail-content">
            <div class="detail-item">
              <label>{{ 'type' | translate }}</label>
              <div>
                <span>
                  {{ snakeCaseKind(data?.selector?.kind) | translate }} /
                </span>
                <span>{{ data?.toolItemType }}</span>
              </div>
            </div>
            <div class="detail-item">
              <label>
                {{
                  (data?.createdMode === 'assignment'
                    ? 'tool_chain_assigned_at'
                    : 'tool_chain_subscribed_at') | translate
                }}
              </label>
              <div>{{ data?.creationTimestamp | rcFormatMs }}</div>
            </div>
            <div class="detail-item">
              <label>{{ 'tool_chain_visit_address' | translate }}</label>
              <div>
                {{ data?.visitHost }}
              </div>
            </div>
            <div class="detail-item">
              <label>{{ 'tool_chain_status' | translate }}</label>
              <div>
                <span class="value">
                  <aui-tag
                    *ngIf="data?.status?.phase === 'Ready'; else noReady"
                    type="success"
                    [solid]="true"
                    [round]="true"
                    size="mini"
                  >
                    {{ 'tool_chain_subscribe_avaliable' | translate }}
                  </aui-tag>
                  <ng-template #noReady>
                    <aui-tag
                      type="info"
                      [round]="true"
                      [solid]="true"
                      size="mini"
                    >
                      {{ 'tool_chain_subscribe_unavaliable' | translate }}
                    </aui-tag>
                  </ng-template>
                </span>
              </div>
            </div>
            <div class="detail-item">
              <label>{{ 'tool_chain_api_address' | translate }}</label>
              <div>
                {{ data?.host }}
              </div>
            </div>
            <div class="detail-item">
              <label>{{ 'tool_chain_secret_source' | translate }}</label>
              <div>
                {{ getSecretType(data?.secret) }}
              </div>
            </div>
            <ng-container *ngIf="!isGlobalSecret(data?.secret)">
              <div class="detail-item">
                <label>{{ 'tool_chain_auth_type' | translate }}</label>
                <div>
                  {{ getAuthType(data?.auth_type) }}
                </div>
              </div>
              <div class="detail-item">
                <label>{{ 'tool_chain_secrets' | translate }}</label>
                <div>
                  <a
                    *ngIf="
                      !isGlobalSecret(data?.secret);
                      else secretNameDisplay
                    "
                    (click)="navigateToSecretDetail(data?.secret)"
                  >
                    <ng-container
                      *ngTemplateOutlet="secretNameDisplay"
                    ></ng-container>
                  </a>
                  <ng-template #secretNameDisplay>
                    {{ data?.secret.name || '-' }}
                  </ng-template>
                </div>
              </div>
            </ng-container>
            <div class="detail-item">
              <label>{{ 'description' | translate }}</label>
              <div>
                {{ data?.description || '-' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </aui-card>

  <aui-card *ngIf="canViewallocatedSpaces">
    <div [ngSwitch]="data?.toolItemType">
      <div *ngSwitchCase="'Harbor'">
        <aui-tab-group
          type="card"
          size="medium"
          (selectedIndexChange)="onSelectedIndexChange($event)"
        >
          <aui-tab *ngIf="spaceEnabled">
            <ng-container *auiTabLabel>
              <span [title]="'tool_chain_allocated_spaces' | translate">
                {{ 'tool_chain_allocated_spaces' | translate }}
              </span>
            </ng-container>
            <div class="list-card-header pos-flex">
              <ng-container [ngTemplateOutlet]="allocateBtnTemp"></ng-container>
            </div>
            <ng-container [ngTemplateOutlet]="spacesListTemp"></ng-container>
          </aui-tab>
          <aui-tab>
            <ng-container *auiTabLabel>
              <span [title]="'tool_chain_harbor_project_overview' | translate">
                {{ 'tool_chain_harbor_project_overview' | translate }}
              </span>
            </ng-container>
            <div class="list-card-header pos-flex" *ngIf="!spaceEnabled">
              <ng-container [ngTemplateOutlet]="allocateBtnTemp"></ng-container>
            </div>
            <ng-container [ngTemplateOutlet]="harborProjectTemp"></ng-container>
          </aui-tab>
        </aui-tab-group>
      </div>
      <div *ngSwitchDefault>
        <div class="list-card-header">
          <div>
            {{
              (spaceEnabled
                ? 'tool_chain_allocated_spaces'
                : getToolResourceDisplayName(data?.toolItemType)) | translate
            }}
          </div>
          <div class="pos-flex">
            <ng-container [ngTemplateOutlet]="allocateBtnTemp"></ng-container>
          </div>
        </div>
        <ng-container [ngTemplateOutlet]="spacesListTemp"></ng-container>
      </div>
    </div>
  </aui-card>

  <ng-template #allocateBtnTemp>
    <button
      aui-button="default"
      *ngIf="canViewAllocateDialog"
      [disabled]="!updatePermission"
      (click)="openAllocateResourceDialog(data)"
    >
      {{
        'tool_chain_allocate_resource'
          | translate
            : { resource: getToolResourceDisplayName(data?.toolItemType) }
      }}
    </button>
  </ng-template>
  <ng-template #spacesListTemp>
    <rc-allocated-spaces-list
      [allocatedSpaces]="data?.bindings"
      [resourceType]="data?.toolItemType"
      [info]="data"
      (updated)="afterAllocatedSpaceUpdate($event)"
    ></rc-allocated-spaces-list>
  </ng-template>
  <ng-template #harborProjectTemp>
    <rc-harbor-project
      [update$]="harborProjectsUpdated$"
      [global]="false"
      [projectName]="(currentProject$ | async)?.name"
      [bindingName]="name$ | async"
    ></rc-harbor-project>
  </ng-template>
  <ng-template #oauthStatusTips>
    <div>
      <span>{{ 'tool_chain_currently_disabled_hint' | translate }}</span>
      <a (click)="validateStatus(data)">
        {{ 'tool_chain_click_verification_secret' | translate }}
      </a>
    </div>
  </ng-template>
</ng-container>
