<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="120px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'space_name' | translate }}</label>
    <aui-input-group>
      <span auiInputAddonBefore>
        {{ namePrefix }}
        <rc-loading-mask [loading]="!namePrefix"></rc-loading-mask>
      </span>
      <input
        auiFormItemControl
        aui-input
        required
        rcErrorsTooltip
        [rcErrorsTooltipMapper]="{ pattern: spacePattern.tip | translate }"
        formControlName="name"
      />
    </aui-input-group>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
    <input aui-input formControlName="display_name" />
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'member' | translate }}</label>
    <rc-array-form-table
      style="flex: 1;"
      formArrayName="accounts"
      [noRowSeparator]="true"
      (remove)="remove($event)"
      [rows]="accountsControls"
    >
      <ng-container *rcArrayFormTableHeader>
        <td width="40%;">{{ 'username' | translate }}</td>
        <td width="60%;">{{ 'role' | translate }}</td>
      </ng-container>

      <ng-container
        *rcArrayFormTableRow="let control; let i = index"
        [formGroup]="control"
      >
        <td>
          <input
            (blur)="onBlur()"
            required
            aui-input
            rcErrorsTooltip
            [readonly]="control.get('readonly')?.value"
            formControlName="username"
          />
        </td>
        <td>
          <aui-select formControlName="role" required rcErrorsTooltip>
            <aui-option
              *ngFor="let item of roleTypes"
              [label]="item.display_name"
              [value]="item"
            >
              {{ item.display_name }}
            </aui-option>
          </aui-select>
        </td>
      </ng-container>

      <ng-container *rcArrayFormTableFooter>
        <button
          aui-button="primary"
          type="button"
          size="mini"
          [plain]="true"
          (click)="add()"
        >
          <aui-icon icon="basic:add_circle"></aui-icon>
          {{ 'add' | translate }}
        </button>
        <button
          aui-button
          type="button"
          size="mini"
          [plain]="true"
          (click)="batchAdd()"
        >
          <aui-icon icon="basic:add_circle"></aui-icon>
          {{ 'batch_import' | translate }}
        </button>
      </ng-container>
    </rc-array-form-table>
  </aui-form-item>
</form>
