.template-params-form {
  padding: 20px;
}

.repository-info {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.icon.fa-info-circle {
  color: #999;
  cursor: pointer;
}

.trigger-rows {
  display: flex;
  line-height: 32px;

  .fields-name {
    width: 120px;
    text-align: right;
    margin-right: 20px;
    line-height: 32px;
  }
}

:host ::ng-deep {
  .invalid_style {
    color: #b04141;
    border-color: #e0b4b4;
    background-color: #fff6f6;
    caret-color: #b04141;
  }

  form.ng-submitted {
    rc-single-selection-dropdown.ng-invalid {
      & > div {
        @extend .invalid_style;
      }
    }

    rc-pipeline-dyform-repository.ng-invalid {
      & > div > input {
        @extend .invalid_style;
      }
    }
  }
}

.rows {
  display: flex;
  min-height: 32px;
  .fields-name {
    width: 120px;
    text-align: right;
    flex-shrink: 0;
    margin-right: 20px;
  }
}

.tips {
  margin-left: 18px;
  margin-right: 18px;
}

.trigger-select {
  box-shadow: 0 0 4px 1px #c1c4c6;
}
