<aui-dialog-header>
  {{ data.title }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    class="form"
    [formGroup]="form"
    auiForm
    auiFormLabelWidth="150px"
    [auiFormEmptyAddon]="true"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-content">
      <div class="tips" *ngIf="data.upgradeTo">
        <aui-inline-alert [closable]="true">
          {{
            'jenkins_pipeline_upgrade_tips'
              | translate
                : { fromVersion: fromVersion, toVersion: currentVersion }
          }}
        </aui-inline-alert>
      </div>
      <!-- 基本信息 -->
      <div class="form-group">
        <div class="form-group-header no-border">
          <b>
            {{ 'jenkins_pipeline_basic_info' | translate }}
          </b>
        </div>
        <div class="form-group-content">
          <aui-form-item>
            <label auiFormItemLabel>
              {{ 'jenkins_pipeline_display_name' | translate }}
            </label>
            <input
              auiFormItemControl
              formControlName="display_name"
              type="text"
              aui-input
              [maxLength]="100"
            />
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'description' | translate }}</label>
            <textarea
              auiFormItemControl
              formControlName="description"
              aui-input
              [maxLength]="512"
            ></textarea>
          </aui-form-item>
          <div class="rows">
            <div class="fields-name">
              {{ 'template' | translate }}
            </div>
            <div>
              <a href="javascript:;" (click)="toggleTemplate()">
                {{ currentVersion }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="form-group"
        *ngIf="pipeline_data?.template?.template?.definition?.spec?.withSCM"
      >
        <div class="form-group-header no-border">
          <b>
            {{ 'jenkins_pipeline_select_code_repo' | translate }}
          </b>
        </div>
        <div class="repository-info">
          <ng-container>
            <div class="rows">
              <div class="fields-name">
                {{ 'jenkins_code_repository' | translate }}
              </div>
              <div>
                {{ pipeline_data?.pipeline_scm?.source }}
              </div>
            </div>
            <div class="rows">
              <div class="fields-name">
                {{ 'jenkins_code_repository_address' | translate }}
              </div>
              <div>
                {{ pipeline_data?.pipeline_scm?.repository_path }}
              </div>
            </div>
            <aui-form-item
              [hidden]="['NOT_USE', 'SVN'].includes(form.value.source)"
            >
              <label auiFormItemLabel>{{ 'code_branch' | translate }}</label>
              <input
                auiFormItemControl
                formControlName="branch"
                type="text"
                aui-input
                [placeholder]="'jenkins_code_repo_branch_tip' | translate"
                [required]="!['NOT_USE', 'SVN'].includes(form.value.source)"
                [maxLength]="512"
              />
              <aui-icon
                auiFormItemAddon
                icon="basic:question"
                [auiTooltip]="'jenkins_pipeline_code_branch_hint' | translate"
              ></aui-icon>
            </aui-form-item>
            <!-- TODO: rc-form-field ignore tag classes -->
            <aui-form-item
              [hidden]="!['GIT', 'SVN'].includes(form.value.source)"
            >
              <label auiFormItemLabel>
                {{ 'jenkins_code_credential' | translate }}
              </label>
              <aui-select
                auiFormItemControl
                formControlName="credential_name"
                filterable
                [loading]="!credentials"
                [placeholder]="'jenkins_code_credential' | translate"
              >
                <aui-option
                  *ngFor="let credential of credentials"
                  [value]="credential.name"
                  [label]="credential.display_name"
                >
                  {{ credential.display_name }}
                </aui-option>
              </aui-select>
              <a
                href="javascript:void(0)"
                (click)="addCredential()"
                class="add-credential"
                *ngIf="createCredentialEnabled"
                style="margin-left:8px;"
              >
                {{ 'jenkins_create_credential' | translate }}
              </a>
            </aui-form-item>
          </ng-container>
        </div>
      </div>
      <div class="form-group" formArrayName="triggers">
        <div class="form-group-header no-border">
          <b>
            {{ 'jenkins_pipeline_trigger' | translate }}
          </b>
        </div>
        <div class="form-group-content">
          <div
            *ngFor="
              let trigger of getFormControls('triggers');
              trackBy: triggerIdentify
            "
          >
            <rc-pipeline-form-trigger
              [form]="trigger"
              [codeRepoSource]="form.value.source"
              (remove)="removeTrigger(trigger)"
              #triggerComponent
            ></rc-pipeline-form-trigger>
          </div>
          <div class="trigger-rows">
            <div class="fields-name">
              {{ 'jenkins_pipeline_triggers' | translate }}
            </div>
            <button
              aui-button
              type="button"
              size="mini"
              [auiTooltip]="triggerTypeTemplate"
              auiTooltipPosition="top"
              auiTooltipTrigger="click"
              auiTooltipType="plain"
              #triggerSelect="auiTooltip"
            >
              <i class="fa fa-plus-circle"></i>
              {{ 'jenkins_add_trigger' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-group-header no-border">
          {{ 'args' | translate }}
          <i class="icon fa-info-circle" (click)="showParamsHelp()"></i>
          <a
            style="float: right"
            href="javascript:void(0)"
            (click)="showVarHelp()"
          >
            {{ 'jenkins_pipeline_use_vars' | translate }}
          </a>
        </div>
        <div>
          <div class="template-params-form">
            <rc-pipeline-template-params-form
              [fieldModels]="fieldModels"
              [relationship]="relationship"
              (valueChanged)="paramsChanged($event)"
              (statusChanged)="paramStatusChanged($event)"
            ></rc-pipeline-template-params-form>
          </div>
        </div>
      </div>
    </div>
  </form>

  <ng-template #triggerTypeTemplate>
    <div class="trigger-select">
      <div class="trigger-select-title">
        {{ 'jenkins_select_trigger_type' | translate }}
      </div>
      <div class="trigger-select-body">
        <a
          href="javascript:void(0)"
          (click)="addTrigger('cron')"
          [class.disabled]="cronTriggerDisabled()"
        >
          <i class="fa fa-clock-o"></i>
          <span>
            {{ 'jenkins_trigger_cron' | translate }}
          </span>
        </a>
        <a href="javascript:void(0)" (click)="addTrigger('image_change')">
          <i class="fa fa-building"></i>
          <span>
            {{ 'jenkins_trigger_image_change' | translate }}
          </span>
        </a>
        <a
          href="javascript:void(0)"
          (click)="addTrigger('code_change_hook')"
          [class.disabled]="codeChangeHookTriggerDisabled()"
        >
          <i class="fa fa-code-fork"></i>
          <span>
            {{ 'jenkins_trigger_code_change_hook' | translate }}
          </span>
        </a>
      </div>
    </div>
  </ng-template>
</aui-dialog-content>
<aui-dialog-footer>
  <!-- 提交 -->
  <span fxFlex></span>
  <button aui-button="default" (click)="dialogRef.close()" [disabled]="saving">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    (click)="onSubmit()"
    [disabled]="saving || !initialized"
    [loading]="saving"
  >
    {{ 'save' | translate }}
  </button>
</aui-dialog-footer>
