<ng-container *ngIf="showStart">
  <button aui-button="primary" [disabled]="!canStart" (click)="start()">
    <aui-icon icon="basic:play_12_s"></aui-icon>
    {{ 'start' | translate }}
  </button>
</ng-container>
<ng-container *ngIf="showStop">
  <button
    aui-button="default"
    [plain]="true"
    [disabled]="!canStop"
    (click)="stop()"
  >
    <aui-icon icon="basic:stop_12_s"></aui-icon>
    {{ 'stop' | translate }}
  </button>
</ng-container>
<button aui-button="default" [plain]="true" [auiDropdown]="menu">
  {{ 'action' | translate }}
  <aui-icon icon="angle_down" margin="left"></aui-icon>
</button>
<aui-menu #menu size="small">
  <aui-menu-item [disabled]="!canUpdate" (click)="update()">
    {{ 'update' | translate }}
  </aui-menu-item>
  <aui-menu-item [disabled]="!canDelete" (click)="delete()">
    {{ 'delete' | translate }}
  </aui-menu-item>
</aui-menu>
