<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'nav_storage' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/console/admin/storage/storageclass">
        {{ 'nav_storageclass' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ name }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<aui-card *ngIf="initialized && !loadError">
  <div auiCardHeader>
    <h3>{{ storageClass.kubernetes.metadata.name }}</h3>
    <div fxFlex></div>
    <div class="detail-buttons">
      <button
        aui-button="primary"
        size="small"
        (click)="setDefault()"
        *ngIf="canUpdate"
        [disabled]="inAction"
      >
        {{
          (isDefault
            ? 'cancel_default_storageclass'
            : 'set_default_storageclass') | translate
        }}
      </button>
      <button
        aui-button
        size="small"
        *ngIf="canDelete && !isSystem"
        (click)="delete()"
        [disabled]="inAction"
      >
        {{ 'delete' | translate }}
      </button>
    </div>
  </div>
  <div class="rc-detail-container">
    <div class="detail-wrapper">
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'storageclass_type' | translate }}</label>
          <div>{{ storageClassType }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'created_at' | translate }}</label>
          <div>
            {{
              storageClass.kubernetes.metadata.creationTimestamp
                | rcFormatUtcStr
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</aui-card>
<aui-tab-group type="line" *ngIf="initialized && !loadError">
  <aui-tab>
    <ng-container *auiTabLabel>
      YAML
    </ng-container>
    <aui-code-editor
      name="yaml"
      style="width: 100%;"
      [(ngModel)]="storageClassYaml"
      [options]="{ language: 'yaml', readOnly: true }"
    ></aui-code-editor>
  </aui-tab>
  <aui-tab>
    <ng-container *auiTabLabel>
      {{ 'events' | translate }}
    </ng-container>
    <rc-event-list
      type="storageclass"
      [primaryKey]="storageClass.kubernetes.metadata.uid"
    ></rc-event-list>
  </aui-tab>
</aui-tab-group>
