$background-color: #fafafa;
:host {
  flex: 1;
  form {
    display: flex;
  }
  aui-input-group {
    flex: 1;
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  aui-select {
    flex: 0 0 60px;
    ::ng-deep .aui-input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -1px;
    }
  }
  .addon-label {
    white-space: nowrap;
  }
  .input-group-label {
    padding: 0 7px;
    border-radius: 2px 0 0 2px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    height: 100%;
    & + aui-select {
      flex: 1;
    }
  }
  .input-groups-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    &:first-child {
      margin-right: 8px;
    }
  }
  // ::ng-deep .input-groups-wrapper.ng-invalid {
  //   .aui-input, aui-select {
  //     border-color: #eb6262;
  //   }
  // }
}
