<form [formGroup]="form">
  <!-- <ng-container *ngFor="let type of AVAILABLE_RESOURCE_TYPES"> -->
  <ng-container formGroupName="limits">
    <ng-container>
      <div
        class="input-groups-wrapper"
        [formGroupName]="'cpu'"
        [rcErrorsTooltip]="getResourceByType('cpu')"
        [rcErrorsTooltipMapper]="errorMapper"
      >
        <aui-input-group>
          <div auiInputAddonBefore class="addon-label">
            {{ 'cpu' | translate }}
          </div>
          <input
            aui-input
            auiFormItemControl
            required
            rcErrorsTooltip
            formControlName="value"
          />
        </aui-input-group>
        <aui-select
          auiFormItemControl
          [allowCreate]="true"
          [filterable]="true"
          formControlName="unit"
        >
          <aui-option *ngFor="let unit of resourceUnits['cpu']" [value]="unit">
            {{ unit }}
          </aui-option>
        </aui-select>
      </div>
    </ng-container>
  </ng-container>
  <ng-container formGroupName="limits">
    <div
      class="input-groups-wrapper"
      [formGroupName]="'memory'"
      [rcErrorsTooltip]="getResourceByType('memory')"
      [rcErrorsTooltipMapper]="errorMapper"
    >
      <aui-input-group>
        <div auiInputAddonBefore class="addon-label">
          {{ 'memory' | translate }}
        </div>
        <input
          aui-input
          auiFormItemControl
          required
          rcErrorsTooltip
          formControlName="value"
        />
      </aui-input-group>
      <aui-select
        auiFormItemControl
        [allowCreate]="true"
        [filterable]="true"
        formControlName="unit"
      >
        <aui-option *ngFor="let unit of resourceUnits['memory']" [value]="unit">
          {{ unit }}
        </aui-option>
      </aui-select>
    </div>
  </ng-container>
  <!-- </ng-container> -->
</form>
