.toggle-bar {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  &:hover {
    color: #009ce3;
    cursor: pointer;
    .toggle-bar__dashed > hr {
      border-color: #009ce3;
    }
  }
  &__dashed {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    > hr {
      border: none;
      border-top: 1px dashed #ccc;
      height: 1px;
      margin: 0;
      width: 100%;
    }
  }
  &__text {
    margin: 0 8px;
    font-size: 12px;
  }
}
