<div class="toggle-bar" (click)="toggle()">
  <div class="toggle-bar__dashed">
    <hr />
  </div>
  <div class="toggle-bar__text">
    {{ text }}
    <aui-icon *ngIf="folded" icon="basic:angle_double_up"></aui-icon>
    <aui-icon *ngIf="!folded" icon="basic:angle_double_down"></aui-icon>
  </div>
  <div class="toggle-bar__dashed">
    <hr />
  </div>
</div>
