@import './mixin.scss';

:host {
  width: $avatar-size;
  height: $avatar-size;

  .avatar {
    @include avatar;
  }

  .avatar-uploader {
    flex: 0 0 $avatar-size;
    position: relative;

    &-mask {
      position: absolute;
      top: 52px;
      right: 0;
      border-bottom-right-radius: 3px;
      // triangle
      border: 16px solid rgba($color: #fff, $alpha: 0.65);
      border-top-color: transparent;
      border-left-color: transparent;
    }

    aui-icon {
      position: absolute;
      top: 64px;
      right: 3px;
      color: #009ce3;
    }
  }
}
