<div class="avatar-uploader">
  <img
    class="avatar"
    [src]="(accountService.avatarPath$$ | rcUrlProxy | async) || ''"
    alt="avatar"
  />

  <ng-container *ngIf="canUpdate">
    <div class="avatar-uploader-mask"></div>
    <a href="javascript:void(0);" (click)="openDialog()">
      <aui-icon icon="basic:pencil_s"></aui-icon>
    </a>
  </ng-container>
</div>
