@import './mixin.scss';
@import '~@alauda/ui/theme/base-var';
:host ::ng-deep {
  .aui-dialog__content {
    display: flex;
    justify-content: center;
    padding: 0 165px;

    .avatar {
      @include avatar;
      flex: 0 0 $avatar-size;
    }

    .errors {
      color: $color-error;
    }

    .picker {
      display: inline-block;
      margin: 11px 0 8px 0;
      height: 20px;
      font-size: 14px;
      color: #009ce3;
      &:hover {
        cursor: pointer;
      }
    }

    .notice {
      font-size: 12px;
      color: #999;
    }
  }
}
