<aui-dialog-header>
  {{ 'user_enterprise_logo_update' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <img
    class="avatar"
    [src]="
      previewing
        ? src
        : (accountService.avatarPath$$ | rcUrlProxy | async) || ''
    "
    alt="avatar"
  />
  <div style="padding-left: 8px;">
    <div *ngIf="sizeExceeded" class="errors">
      {{ 'image_size_exceeds_notice' | translate }}
    </div>
    <div class="picker" (click)="filesPicker.click()">
      <aui-icon icon="basic:upload"></aui-icon>
      <span>{{ 'upload_image' | translate }}</span>
      <input
        name="picker"
        type="file"
        accept="image/*"
        hidden
        #filesPicker
        (change)="onFilesChange(filesPicker)"
      />
    </div>
    <div class="notice">
      {{ 'image_loader_notice' | translate }}
    </div>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="update(filesPicker)">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
