<rc-loading-mask
  class="rc-form-loading-mask"
  [loading]="!initialized"
></rc-loading-mask>
<div class="resource-form__wrapper" *ngIf="initialized">
  <div class="resource-form__header">
    <span *ngIf="data">{{ 'update_route' | translate }}</span>
    <span *ngIf="!data">{{ 'create_route' | translate }}</span>
    <div style="flex: 1;"></div>
    <aui-radio-group
      [isPlain]="false"
      (ngModelChange)="formModelChange($event)"
      [(ngModel)]="formModel"
    >
      <aui-radio-button value="UI">{{ 'form' | translate }}</aui-radio-button>
      <aui-radio-button value="YAML">YAML</aui-radio-button>
    </aui-radio-group>
  </div>
  <div class="resource-form__content" *ngIf="formModel == 'UI'">
    <form auiForm auiFormLabelWidth="110px" #routeForm="ngForm">
      <!-- 集群选择 -->
      <aui-form-item *ngIf="mirrorClusters.length">
        <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
        <rc-mirror-cluster-select
          required
          auiFormItemControl
          name="clusters"
          [clusters]="mirrorClusters"
          [currentCluster]="currentCluster"
          [(ngModel)]="clusters"
        ></rc-mirror-cluster-select>
      </aui-form-item>
      <aui-form-item [hidden]="this.data">
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          required
          name="name"
          [(ngModel)]="route.metadata.name"
          maxlength="63"
          [pattern]="baseRSReg.pattern"
          [placeholder]="baseRSReg.tip | translate"
          [rcErrorsTooltip]
          [rcErrorsTooltipMapper]="{ pattern: baseRSReg.tip | translate }"
        />
      </aui-form-item>
      <aui-form-item [hidden]="!this.data">
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        {{ route.metadata.name }}
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'domain_type' | translate }}</label>
        <aui-radio-group
          auiFormItemControl
          name="domainType"
          (ngModelChange)="domainTypeChange($event)"
          [(ngModel)]="domainType"
        >
          <aui-radio-button value="domain">
            {{ 'domain' | translate }}
          </aui-radio-button>
          <aui-radio-button value="extensive_domain">
            {{ 'extensive_domain' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'domain' | translate }}</label>
        <div class="route-form-domain">
          <ng-container *ngIf="domainType == 'extensive_domain'">
            <input
              aui-input
              auiFormItemControl
              name="domain"
              [pattern]="baseRSReg.pattern"
              [placeholder]="baseRSReg.tip | translate"
              [rcErrorsTooltipMapper]="{ pattern: baseRSReg.tip | translate }"
              [(ngModel)]="routeMeta.domain"
              required
              [rcErrorsTooltip]
            />
            <span>.</span>
          </ng-container>
          <aui-select
            auiFormItemControl
            required
            name="host"
            [(ngModel)]="routeMeta.host"
            filterable
            [rcErrorsTooltip]
          >
            <aui-option
              *ngFor="
                let host of domainType === 'extensive_domain'
                  ? extensiveDomainList
                  : domainList
              "
              [value]="host"
            >
              {{ host }}
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-select>
          <span>/</span>
          <input
            aui-input
            auiFormItemControl
            name="path"
            [(ngModel)]="routeMeta.path"
            [placeholder]="'k8s_service_path' | translate"
          />
        </div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'kube_service' | translate }}</label>
        <aui-select
          auiFormItemControl
          required
          name="kube_service"
          [(ngModel)]="route.spec.to.name"
          (valueChange)="setPort($event)"
          filterable
          [rcErrorsTooltip]
        >
          <aui-option *ngFor="let service of kubeServiceList" [value]="service">
            {{ service }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
        <aui-input-group class="route-form-weight">
          <span auiInputAddonAfter>
            {{ getWeightsPercent(route.spec.to.weight) }}
          </span>
          <input
            aui-input
            type="number"
            rcErrorsTooltip
            name="weight"
            [(ngModel)]="route.spec.to.weight"
          />
        </aui-input-group>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'kube_service_port' | translate }}</label>
        <aui-select
          auiFormItemControl
          required
          name="port"
          [(ngModel)]="route.spec.port.targetPort"
          filterable
          [rcErrorsTooltip]
        >
          <aui-option
            *ngFor="let port of portMap[route.spec.to.name]"
            [value]="port"
          >
            {{ port }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'traffic_distribution' | translate }}
        </label>
        <aui-switch
          [(ngModel)]="trafficDistribution"
          (ngModelChange)="trafficDistributionChange($event)"
          name="trafficDistribution"
        ></aui-switch>
      </aui-form-item>
      <aui-form-item *ngIf="trafficDistribution">
        <label auiFormItemLabel>{{ 'kube_service' | translate }}</label>
        <rc-route-service-group-form
          [(ngModel)]="route.spec.alternateBackends"
          name="serviceGroup"
          [serviceNameList]="kubeServiceList"
          [weight]="route.spec.to.weight"
        ></rc-route-service-group-form>
      </aui-form-item>
    </form>
  </div>
  <div *ngIf="formModel == 'YAML'">
    <form auiForm auiFormLabelWidth="140px" #routeForm="ngForm">
      <!-- 集群选择 -->
      <aui-form-item *ngIf="mirrorClusters.length">
        <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
        <rc-mirror-cluster-select
          required
          auiFormItemControl
          name="clusters"
          [clusters]="mirrorClusters"
          [currentCluster]="currentCluster"
          [(ngModel)]="clusters"
        ></rc-mirror-cluster-select>
      </aui-form-item>
      <!-- YAML -->
      <aui-form-item>
        <label auiFormItemLabel>{{ 'yaml_file' | translate }}</label>
        <aui-code-editor
          name="yaml"
          style="width: 100%;"
          required
          [rcErrorsTooltip]
          [rcErrorsTooltipInline]="true"
          [(ngModel)]="routeYaml"
          [options]="codeEditorOptions"
        ></aui-code-editor>
      </aui-form-item>
    </form>
  </div>
</div>
<div class="resource-form__footer" [hidden]="!initialized">
  <div style="flex: 1;"></div>
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    <span *ngIf="data">{{ 'update' | translate }}</span>
    <span *ngIf="!data">{{ 'create' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
