:host {
  .route-form-domain {
    display: flex;
    align-items: center;
    flex: 1;
    .aui-input,
    aui-select {
      flex: 1;
    }
    span {
      padding: 0px 2px;
    }
  }
  .route-form-weight {
    margin-left: 8px;
  }
}
