<div class="template-repo-container">
  <input aui-input type="text" disabled [(ngModel)]="repo_addr" />
  <button aui-button type="button" (click)="selectImageRepo()">
    {{ 'select' | translate }}
  </button>
</div>
