<aui-card>
  <div auiCardHeader>
    {{ 'kube_ingress_tls' | translate }}
  </div>
  <div class="rc-detail-container">
    <div class="detail-wrapper">
      <div class="detail-content">
        <div auiCardContent style="flex:1;">
          <aui-table [dataSource]="data">
            <aui-table-header-row
              *auiTableHeaderRowDef="columns"
            ></aui-table-header-row>
            <aui-table-row
              *auiTableRowDef="let row; columns: columns"
            ></aui-table-row>

            <ng-container auiTableColumnDef="secretName">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'secret' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let rowData">
                <div class="rc-resource-name-cell">
                  {{ rowData.secretName }}
                </div>
              </aui-table-cell>
            </ng-container>

            <ng-container auiTableColumnDef="hosts">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'rule_host' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let rowData">
                <div class="rc-lines">
                  <div class="rc-line">
                    {{ rowData.hosts?.join('；') }}
                  </div>
                </div>
              </aui-table-cell>
            </ng-container>
          </aui-table>
          <rc-zero-state
            *ngIf="!(data && data?.length > 0)"
            [zeroState]="true"
            resourceName="kube_ingress_tls"
          ></rc-zero-state>
        </div>
      </div>
    </div>
  </div>
</aui-card>
