<div>
  <aui-dialog-header>
    <aui-icon
      size="22"
      icon="exclamation_triangle_s"
      color="#eb6262"
    ></aui-icon>
    {{ 'remove_cluster' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <div class="content">
      {{
        'project_cluster_remove_confirm'
          | translate
            : {
                project: displayName
                  ? displayName + '(' + projectName + ')'
                  : projectName
              }
      }}
    </div>
    <div class="content__tip">
      {{ 'project_cluster_remove_tip' | translate }}
    </div>
    <div>
      <input
        #name="ngModel"
        auiFormItemControl
        name="inputName"
        [(ngModel)]="inputName"
        aui-input
        required
      />
    </div>
    <div class="content__tip-content">
      {{
        'project_cluster_remove_tip2' | translate: { clusters: clustersDisplay }
      }}
    </div>
  </aui-dialog-content>
  <aui-dialog-footer>
    <div>
      <button
        aui-button="error"
        [loading]="removeLoading"
        [disabled]="!canRemove || removeLoading"
        (click)="confirm()"
      >
        {{ 'remove_cluster' | translate }}
      </button>
      <button aui-button (click)="cancel()">
        {{ 'cancel' | translate }}
      </button>
    </div>
  </aui-dialog-footer>
</div>

<ng-template #removeConfirmDialog>
  <div>
    <aui-dialog-header>
      {{ 'remove_cluster_success' | translate }}
    </aui-dialog-header>
    <aui-dialog-content>
      <div class="remove-cluster-confirm__content">
        <aui-icon
          size="16"
          icon="exclamation_circle_s"
          color="#f8ac58"
        ></aui-icon>
        {{
          'project_cluster_remove_confirm2'
            | translate
              : {
                  project: displayName
                    ? displayName + '(' + projectName + ')'
                    : projectName,
                  cluster: inputName
                }
        }}
      </div>
      <ul class="remove-cluster-confirm__script">
        <li *ngFor="let ns of namespaceOpts">
          {{ getKubectlDeleteScript(ns.name) }}
        </li>
      </ul>
    </aui-dialog-content>
    <aui-dialog-footer>
      <div>
        <button aui-button="primary" (click)="copyScript()">
          {{ 'copy_text' | translate }}
        </button>
        <button aui-button (click)="cancelScript()">
          {{ 'close' | translate }}
        </button>
      </div>
    </aui-dialog-footer>
  </div>
</ng-template>
