:host {
  color: #333;
  font-size: 14px;
  .content {
    margin-bottom: 16px;
    line-height: 20px;
    word-break: break-all;
  }
  input {
    margin-top: 4px;
  }
  .content__tip {
    &-content {
      font-size: 12px;
      color: #999;
      margin-top: 4px;
    }
  }
}

.remove-cluster-confirm {
  ::ng-deep {
    aui-icon {
      margin-right: 8px;
    }
  }
  &__content {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }
  &__script {
    width: 750px;
    max-height: 283px;
    overflow-y: scroll;
    margin-top: 13px;
    border: 1px solid #ededed;
    border-radius: 2px;
    list-style-type: none;
    padding: 0 20px 12px;
    li {
      font-size: 12px;
      color: #666;
      line-height: 1.5;
      margin-top: 12px;
    }
  }
}
