<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'nav_network' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a
        href="javascript:void(0)"
        [routerLink]="['/console/admin/load_balancer']"
      >
        {{ 'load_balancer' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a
        href="javascript:void(0)"
        [routerLink]="[
          '/console/admin/load_balancer/detail',
          namespace,
          albName
        ]"
      >
        {{ albName }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'load_balancer_add_ports' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<rc-loading-mask
  style="height: 330px"
  [loading]="!initialized"
></rc-loading-mask>
<aui-card *ngIf="initialized">
  <div auiCardHeader>
    {{'load_balancer_add_ports' | translate}}
  </div>
  <form auiForm #resourceForm="ngForm">
    <rc-load-balancer-front-end-form
      name="frontend"
      [clusterName]="cluster"
      [namespaceList]="namespaceList"
      [serviceList]="serviceList"
      [secretList]="secretList"
      [loadBalancerName]="loadBalancer.metadata.name"
      (protocolChange)="protocolChangeHandler()"
      [(ngModel)]="frontendModel"
    ></rc-load-balancer-front-end-form>

    <aui-form-item
      class="aui-form-item__rule"
      *ngIf="frontendModel.spec.protocol && frontendModel.spec.protocol !='tcp'"
    >
      <label auiFormItemLabel>{{ 'rule' | translate }}</label>
      <div class="rule-container">
        <div class="description-container" *ngIf="ruleList.length">
          {{'load_balancer_port_add_description' | translate}}
        </div>
        <div
          class="rule rule-item-container"
          *ngFor="let rule of ruleList; index as i; last as isLast"
        >
          <div class="priority">
            <span>{{ 'priority' | translate }} {{ i + 1 }}</span>
          </div>
          <aui-card class="aui-card-container">
            <div auiCardHeader>
              <div fxFlex></div>
              <ng-container>
                <button
                  aui-button="text"
                  [disabled]="!i"
                  (click)="i && moveRule(i, i - 1)"
                >
                  <aui-icon icon="basic:move_up"></aui-icon>
                </button>
                <button
                  aui-button="text"
                  [disabled]="isLast"
                  (click)="!isLast && moveRule(i, i + 1)"
                >
                  <aui-icon icon="basic:move_down"></aui-icon>
                </button>
                <button aui-button="text" (click)="ruleList.splice(i, 1)">
                  <aui-icon icon="basic:trash"></aui-icon>
                </button>
              </ng-container>
            </div>
            <rc-load-balancer-rule-form
              class="rule-container__shrink"
              [name]="'rule_' + i"
              [clusterName]="cluster"
              [namespaceList]="namespaceList"
              [serviceList]="serviceList"
              [secretList]="secretList"
              [loadBalancer]="loadBalancer"
              [frontendName]="frontendModel.metadata.name"
              [showCertificate]="frontendModel.spec.protocol === 'https'"
              [(ngModel)]="rule.value"
            ></rc-load-balancer-rule-form>
          </aui-card>
        </div>
        <ng-container *ngIf="canAddRule()">
          <div class="add-rule-description" *ngIf="!ruleList.length">
            <div>{{'load_balancer_port_add_description' | translate}}</div>
            <div class="add-rule--none">
              <span>{{'no_rule_and_please' | translate}}</span>
              <a href="javascript:void(0)" (click)="addRule()">
                {{ 'add_rule' | translate }}
              </a>
            </div>
          </div>
          <div *ngIf="ruleList.length" class="add-rule">
            <button aui-button="primary" [plain]="true" (click)="addRule()">
              {{ 'add_rule' | translate }}
            </button>
          </div>
        </ng-container>
      </div>
    </aui-form-item>
  </form>
</aui-card>
<div class="resource-form__footer" [hidden]="!initialized">
  <div style="flex: 1;"></div>
  <button
    type="button"
    aui-button="primary"
    [loading]="confirming"
    [disabled]="confirming"
    (click)="submitForm()"
  >
    <span>{{ 'add' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="confirming" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
