<form #form="ngForm">
  <table class="rc-array-form-table">
    <thead>
      <tr>
        <td style="display: flex;">{{ 'key' | translate }}</td>
        <td style="width: 45%;">{{ 'value' | translate }}</td>
        <td style="width: 40px;"></td>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of envVars; trackBy: trackByIndex"
        class="rc-form-input"
      >
        <td>
          <input
            aui-input
            type="text"
            name="name-{{ item.index }}"
            [pattern]="envVarReg.pattern"
            [rcErrorsTooltip]
            [rcErrorsTooltipMapper]="errorMappers.name"
            [(ngModel)]="item.name"
          />
        </td>
        <td>
          <input
            aui-input
            type="text"
            name="value-{{ item.index }}"
            [(ngModel)]="item.value"
          />
        </td>
        <td>
          <a
            class="form-action-button"
            href="javascript:void(0)"
            (click)="deleteEnvVar(item.index)"
          >
            <aui-icon icon="basic:add_circle"></aui-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <rc-zero-state
    [zeroState]="!envVars?.length"
    resourceName="env"
  ></rc-zero-state>
  <div class="rc-array-form-table-add-row" (click)="addEnvVar()">
    <aui-icon icon="basic:plus_circle"></aui-icon>
    {{ 'add' | translate }}
  </div>
</form>
