.rc-array-form-table-add-row {
  height: 24px;
  color: #4d4d4d;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  aui-icon,
  i.fa {
    margin-right: 4px;
  }
  &:hover {
    color: #009ce3;
    background-color: #e5f5fc;
  }
  &.hovered {
    color: #009ce3;
    background-color: #e5f5fc;
  }
}
