<ng-container *rcPageHeaderContent>
  <aui-breadcrumb-item>{{ 'storage' | translate }}</aui-breadcrumb-item>
  <aui-breadcrumb-item>
    <a href="javascript:void(0)" (click)="jumpToListPage()">
      {{ 'pv' | translate }}
    </a>
  </aui-breadcrumb-item>
  <aui-breadcrumb-item>{{ name }}</aui-breadcrumb-item>
  <div fxFlex></div>
  <button
    aui-button="default"
    [plain]="true"
    [loading]="loading"
    [disabled]="loading || !initialized"
    [auiDropdown]="menu"
  >
    {{ 'action' | translate }}
    <aui-icon icon="angle_down" margin="left"></aui-icon>
  </button>
  <aui-menu #menu size="small">
    <aui-menu-item [disabled]="!canShowUpdate(pv)" (click)="update()">
      {{ 'update' | translate }}
    </aui-menu-item>
    <aui-menu-item [disabled]="!canShowDelete(pv)" (click)="delete()">
      {{ 'delete' | translate }}
    </aui-menu-item>
  </aui-menu>
</ng-container>

<rc-loading-mask
  class="rc-form-loading-mask"
  [loading]="!initialized"
></rc-loading-mask>
<div class="rc-detail-page-tab-container" *ngIf="initialized">
  <aui-tab-group type="line">
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'detail_info' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-pv-detail-info [data]="pv.kubernetes"></rc-pv-detail-info>
      </ng-container>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        YAML
      </ng-container>
      <ng-container *auiTabContent>
        <aui-code-editor
          name="yaml"
          [ngModel]="pvYaml"
          [options]="codeEditorOptions"
          [actionsConfig]="actionsConfigView"
        ></aui-code-editor>
      </ng-container>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'event' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-pv-detail-event
          [appData]="pv"
          [cluster]="region.name"
        ></rc-pv-detail-event>
      </ng-container>
    </aui-tab>
  </aui-tab-group>
</div>
