:host {
  ::ng-deep {
    aui-form-item[id='application-container'] {
      .aui-form-item__label-wrapper {
        display: none !important;
      }
    }

    .form-main-container {
      width: 100%;
    }

    .form-input-row {
      width: 100%;
    }

    rc-pipeline-template-application-container {
      width: 100%;
    }

    rc-pipeline-dyform-credential {
      width: 100%;
    }

    rc-pipeline-dyform-repository {
      width: 100%;
    }

    rc-pipeline-dyform-env {
      width: 100%;
      tbody {
        tr div rc-single-selection-dropdown:last-child {
          width: 100px !important;
        }
      }
    }

    rc-pipeline-dyform-configmap {
      width: 100%;
      rc-multi-selection-dropdown {
        width: 100%;
      }
    }

    rc-code-editor {
      width: 100%;
    }

    rc-single-selection-dropdown {
      width: 100%;
    }
  }
}
