<aui-inline-alert
  [content]="'kube_service_tips' | translate"
></aui-inline-alert>

<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <button
      aui-button="primary"
      (click)="createService()"
      *ngIf="serviceCreateEnabled"
    >
      {{ 'create_kube_service' | translate }}
    </button>
    <aui-icon icon="basic:info" class="create_kube_service_info"></aui-icon>
    <span class="create_kube_service_info">
      {{ 'create_kube_service_info' | translate }}
    </span>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [searching]="searching"
      [keyword]="search$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
  </div>
  <div auiCardContent>
    <aui-table [dataSource]="list$ | async" [trackBy]="trackByFn">
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'kube_service_name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <span>
            {{ rowData.kubernetes.metadata.name }}.{{
              namespaceName
            }}.svc.cluster.local
          </span>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="type">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'type' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <span>
            {{
              K8sServiceSpecTypeMap[rowData.kubernetes.spec.type] ||
                rowData.kubernetes.spec.type
            }}
          </span>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="ip_address">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'ip_address' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <span>
            {{ rowData.kubernetes.spec.clusterIP }}
          </span>
          <ng-template #noDescription>-</ng-template>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="target_app">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'target_app' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <div>
            {{ 'application' | translate }}:
            {{ getTargetAppName(rowData) | rcFieldNotAvailable }}
          </div>
          <div>
            {{ 'component' | translate }}:
            {{ getComponentName(rowData) | rcFieldNotAvailable }}
          </div>
          <ng-template #noDescription>-</ng-template>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="port">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'port' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <div class="service-table-ports">
            <div class="service-table-ports__name">
              {{ getPortsName(rowData) | rcFieldNotAvailable }}
            </div>
            <div
              class="service-table-ports__more"
              *ngIf="rowData.kubernetes.spec.ports?.length > 1"
            >
              <span>{{ 'service_total' | translate }}</span>
              <button
                size="mini"
                [auiDropdown]="portMenu"
                aui-button="text"
                class="action-button"
              >
                {{ rowData.kubernetes.spec.ports?.length }}
              </button>
              <span>{{ 'ge' | translate }}</span>
            </div>
          </div>
          <aui-menu #portMenu size="small">
            <div class="aui-menu__scrollable-warpper">
              <aui-menu-item *ngFor="let port of rowData.kubernetes.spec.ports">
                {{ port.name }}
              </aui-menu-item>
            </div>
          </aui-menu>
          <ng-template #noDescription>-</ng-template>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'action' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <div
            [auiDropdown]="menu"
            (auiDropdownShow)="resourcePermissionService.sendRequest(rowData)"
            class="action-button"
          >
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </div>
          <aui-menu #menu size="small">
            <ng-container
              *ngTemplateOutlet="
                menuContent;
                context: {
                  permission:
                    resourcePermissionService.getByResource$(rowData) | async
                }
              "
            ></ng-container>
            <ng-template #menuContent let-permission="permission">
              <div *ngIf="!permission" class="aui-menu__loading-placehoder">
                <rc-loading-mask [loading]="true"></rc-loading-mask>
              </div>
              <ng-container *ngIf="permission">
                <aui-menu-item (click)="viewYaml(rowData)">
                  {{ 'view' | translate }}
                </aui-menu-item>
                <aui-menu-item
                  *ngIf="
                    resourcePermissionService.checkByAction(
                      'update',
                      permission
                    )
                  "
                  (click)="update(rowData)"
                >
                  {{ 'update' | translate }}
                </aui-menu-item>
                <aui-menu-item
                  *ngIf="
                    resourcePermissionService.checkByAction(
                      'delete',
                      permission
                    )
                  "
                  (click)="delete(rowData)"
                >
                  {{ 'delete' | translate }}
                </aui-menu-item>
              </ng-container>
            </ng-template>
          </aui-menu>
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>
    <rc-zero-state
      [zeroState]="showZeroState"
      [fetching]="!initialized && fetching"
      resourceName="kube_service"
    ></rc-zero-state>
    <aui-paginator
      *ngIf="(listMeta$ | async)?.count"
      [length]="(listMeta$ | async)?.count"
      [pageSize]="(pageParams$ | async)?.pageSize"
      [pageIndex]="(pageParams$ | async)?.pageIndex - 1"
      (page)="pageChanged($event)"
      [pageSizeOptions]="[10, 20, 50, 100]"
    ></aui-paginator>
  </div>
</aui-card>
