@import 'var';

:host {
  .service-table-ports {
    display: inline-flex;
    align-items: center;
    &__name {
      margin-right: 8px;
    }
    &__more {
      font-size: 12px;
      color: #777;
    }
  }

  .create_kube_service_info {
    display: flex;
    font-size: 12px;
    color: #999999;
    align-items: center;
  }
  aui-icon.create_kube_service_info {
    margin: 0px 4px 0px 8px;
  }
}

.storage-custom-header {
  flex: 1;
  display: flex;
  align-items: center;
}
.notification-switch {
  margin-left: auto;
  color: $color-info;
  transition: color ease 0.3s;
  &:hover {
    color: $color-primary;
  }
}
