<ng-container *ngIf="showingYaml">
  <div class="yaml-header">
    <h3>{{ 'build_preview_yaml_example' | translate }}</h3>
    <aui-icon
      icon="close"
      color="#999"
      (click)="showingYaml = false"
    ></aui-icon>
  </div>
  <aui-dialog-content>
    <aui-code-editor
      [(ngModel)]="yamlConfigShow"
      [options]="codeEditorOptions"
      [actionsConfig]="codeEditorActions"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-container>
<div [hidden]="showingYaml">
  <div class="dialog-header">
    <h3>{{ 'app_catalog_yaml_config' | translate }}</h3>
    <a href="javascript:;" (click)="showComments = !showComments">
      #{{
        (showComments
          ? 'app_catalog_hide_comments'
          : 'app_catalog_show_comments') | translate
      }}
    </a>
    <a href="javascript:;" (click)="showYamlConfig()">
      <aui-icon icon="basic:file"></aui-icon>
      {{ 'app_catalog_show_yaml_config_window' | translate }}
    </a>
  </div>

  <aui-dialog-content>
    <div [rcLoadingMask]="loading">
      <rc-yaml-comment-form
        #yamlForm
        *ngIf="yamlConfig"
        [yaml]="yamlConfig"
        [showComment]="showComments"
      ></rc-yaml-comment-form>
    </div>
  </aui-dialog-content>

  <aui-dialog-footer>
    <div>
      <button aui-button="primary" [disabled]="loading" (click)="confirm()">
        {{ (feature.config?.type ? 'upgrade' : 'install') | translate }}
      </button>
      <button
        aui-button
        [disabled]="loading"
        type="button"
        [auiDialogClose]="true"
      >
        {{ 'cancel' | translate }}
      </button>
    </div>
  </aui-dialog-footer>
</div>
