.dialog-header,
.yaml-header {
  display: flex;
  align-items: center;
  padding: 24px;

  > h3 {
    flex: 1;
    margin: 0;
  }
}

.dialog-header {
  border-bottom: 1px solid #e0e0e0;

  > a {
    margin-left: 8px;
  }
}

.yaml-header {
  padding-bottom: 0;
}

aui-dialog-content ::ng-deep .aui-dialog__content {
  height: 564px;
  overflow-x: hidden;
  overflow-y: auto;
}

aui-dialog-footer ::ng-deep .aui-dialog__footer {
  padding-top: 18px;
  border-top: 1px solid #e0e0e0;
}
