<aui-dialog-header>
  {{ 'add_role' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div class="content-header">
    <div class="username">
      {{ 'username' | translate }}:
      <span [title]="username">{{ username }}</span>
    </div>
    <aui-select
      [(ngModel)]="currentProjectName"
      (ngModelChange)="onProjectChange($event)"
    >
      <aui-option [value]="ALL_PROJECTS" [label]="ALL_PROJECTS | translate">
        {{ ALL_PROJECTS | translate }}
      </aui-option>
      <aui-option
        *ngFor="let project of (projects$ | async)"
        [value]="project.name"
        [label]="project.name"
      >
        {{ project.name | translate }}
      </aui-option>
      <aui-option-placeholder>
        {{ 'no_data' | translate }}
      </aui-option-placeholder>
    </aui-select>
    <aui-search [searchButton]="true" (search)="search($event)"></aui-search>
  </div>

  <aui-table [dataSource]="roles$ | async">
    <ng-container auiTableColumnDef="role_name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'role_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <aui-checkbox
          [(ngModel)]="checkedMap[item.name]"
          [disabled]="disabledMap[item.name]"
          (ngModelChange)="onCheckedChange($event, item)"
        ></aui-checkbox>
        <span [title]="item.name">
          {{ item.name }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="project_name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'belongs_project' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span [title]="item.project_name || '-'">
          {{ item.project_name || '-' }}
        </span>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="['role_name', 'project_name']"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="let row; columns: ['role_name', 'project_name']"
    ></aui-table-row>
  </aui-table>
</aui-dialog-content>

<aui-dialog-footer>
  <aui-paginator
    *ngIf="(list$ | async)?.count"
    layout="total,pager"
    [length]="(list$ | async)?.count"
    [currentPage]="(pagination$ | async)?.pageIndex + 1"
    [pageSize]="(pagination$ | async)?.pageSize"
    (page)="pageChange($event)"
  ></aui-paginator>

  <div class="btns">
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
    <button aui-button="primary" (click)="confirm()" [disabled]="disabled">
      {{ 'confirm' | translate }}
    </button>
  </div>
</aui-dialog-footer>
