@import 'mixins';

:host {
  .form-container {
    padding: 16px;
  }
  ::ng-deep {
    .aui-dialog__content {
      overflow-y: scroll;
      overflow: scroll;
      max-height: calc(90vh - 148px);

      .content-header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        .username {
          padding-right: 20px;
          @include text-overflow();
        }

        .username,
        aui-select,
        aui-search {
          flex: 1;
        }
      }
    }

    .aui-dialog__footer {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      align-items: center;

      aui-paginator {
        flex: 1;
        flex-flow: row;
      }
    }

    .aui-table__cell {
      @include text-overflow();
    }

    aui-paginator {
      margin-top: 0;
    }

    .aui-checkbox {
      margin-right: 0;
    }
  }
}
