.main-container {
  padding: 40px;

  .row-item {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 24px;
    }

    > span {
      display: inline-flex;
      flex-basis: 120px;
      justify-content: flex-end;
      padding-right: 20px;
    }

    rc-single-selection-dropdown {
      flex: 1;
    }

    ::ng-deep {
      rc-tags-input {
        flex: 1;

        .rc-tags-input-container .rc-tags-input-wrapper {
          &.rc-state-focus {
            border-radius: 5px;
          }

          .rc-tag-item {
            margin: 3px 4px 3px 0;

            + .rc-tag-input-item {
              display: none;
            }
          }
        }
      }
    }
  }
}
