<aui-dialog-header>
  {{ 'update_default_kube_service' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="80px">
    <div [rcLoadingMask]="confirming || !serviceList.length">
      <rc-load-balancer-service-group-with-affinity
        *ngIf="serviceList.length"
        [clusterName]="cluster"
        [namespaceList]="namespaceList"
        [serviceList]="serviceList"
        [protocol]="protocol"
        name="services"
        [(ngModel)]="serviceGroup"
      ></rc-load-balancer-service-group-with-affinity>
    </div>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button type="button" (click)="confirmed.next()">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    type="submit"
    [disabled]="!form.valid || confirming"
    [loading]="confirming"
    (click)="submitForm(form)"
  >
    {{ 'confirm' | translate }}
  </button>
</aui-dialog-footer>
