<div>
  <aui-dialog-header>
    <aui-icon
      size="22"
      icon="exclamation_triangle_s"
      color="#eb6262"
    ></aui-icon>
    {{ 'delete_project' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <div class="content">
      {{
        'project_delete_confirm'
          | translate
            : {
                name: displayName
                  ? displayName + '(' + projectName + ')'
                  : projectName
              }
      }}
    </div>
    <form #form="ngForm">
      <div>{{ projectName }}</div>
      <input
        #name="ngModel"
        auiFormItemControl
        name="inputName"
        [(ngModel)]="inputName"
        aui-input
        required
      />
    </form>
  </aui-dialog-content>
  <aui-dialog-footer>
    <div>
      <button
        aui-button="error"
        [loading]="deleteLoading"
        [disabled]="!inputCorrect || deleteLoading"
        (click)="delete()"
      >
        {{ 'delete_project' | translate }}
      </button>
      <button aui-button (click)="cancel()">
        {{ 'cancel' | translate }}
      </button>
    </div>
  </aui-dialog-footer>
</div>
