@import 'var';

:host {
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  border: none;
  border-radius: 8px 8px 0 0;
  box-shadow: $gray-light-shadow;
  background-color: #fff;

  ::ng-deep {
    .aui-form {
      width: 80%;

      .aui-form {
        padding: 16px 32px 16px 16px;
      }

      .aui-form-item__label-wrapper {
        flex: 2 !important;
      }

      .aui-form-item__container {
        flex: 7 !important;
      }
    }
  }
}

.bottom {
  margin: 16px 0 120px 0;
  display: flex;
  justify-content: flex-end;
  .ui.button {
    margin-right: 5px;
  }
}

.content {
  border-radius: 0 0 8px 8px;
  box-shadow: $gray-light-shadow;
  background-color: $card-background-color;
  padding: 20px 40px;
  .header-alt {
    display: flex;
    align-items: center;
    margin: 16px 0;
    font-size: 16px;
    &:before {
      width: 3px;
      height: 17px;
      background-color: #59889b;
      content: '';
      display: block;
      margin-right: 10px;
    }
    aui-icon {
      margin-left: 8px;
    }
  }
}
