<!-- 暂时跳转到旧org页面 -->
<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/rbac']">{{ 'rbac' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/role-template']">
        {{ 'nav_rbac_role-template' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'create' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<!-- 模板基本信息 -->
<section class="basic-info">
  <div class="form-container">
    <form class="rb-form" #form="ngForm" auiForm>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'rbac_role-template_name' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          name="name"
          required
          pattern="^[A-Za-z0-9-_.]+$"
          [placeholder]="'rbac_role_name_hint' | translate"
          [(ngModel)]="data.name"
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'rbac_role_template_type' | translate }}
        </label>
        <aui-radio-group name="roleType" [(ngModel)]="data.level">
          <aui-radio-button [value]="RoleTypes.Platform">
            {{ getRoleTypeLevel(RoleTypes.Platform) | translate }}
          </aui-radio-button>
          <aui-radio-button [value]="RoleTypes.Project">
            {{ getRoleTypeLevel(RoleTypes.Project) | translate }}
          </aui-radio-button>
          <aui-radio-button *ngIf="!spaceEnabled" [value]="RoleTypes.Namespace">
            {{ getRoleTypeLevel(RoleTypes.Namespace) | translate }}
          </aui-radio-button>
          <aui-radio-button *ngIf="spaceEnabled" [value]="RoleTypes.Space">
            {{ getRoleTypeLevel(RoleTypes.Space) | translate }}
          </aui-radio-button>
        </aui-radio-group>
        <div auiFormItemAddon>
          <a
            href="javascript:void(0);"
            [auiTooltip]="roleTemplate"
            auiTooltipType="primary"
            auiTooltipPosition="end top"
          >
            <aui-icon icon="basic:question"></aui-icon>
          </a>
          <ng-template #roleTemplate>
            <p [innerHtml]="templateTooltip"></p>
          </ng-template>
        </div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'rbac_role-template_display_name' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          name="displayName"
          [(ngModel)]="data.display_name"
        />
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel>{{ 'description' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          name="description"
          [(ngModel)]="data.description"
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'rbac_constraints' | translate }}</label>
        <aui-multi-select
          auiFormItemControl
          name="fields"
          [filterable]="true"
          [(ngModel)]="selectedScopes"
          (ngModelChange)="updatePermissions(data.permissions, $event)"
        >
          <aui-option
            *ngFor="let scope of scopes"
            [value]="scope"
            [label]="scope | translate"
          >
            {{ scope | translate }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-multi-select>
        <div auiFormItemHint>
          {{ 'rbac_template_constraints_hint' | translate }}
        </div>
      </aui-form-item>
    </form>
  </div>
</section>

<!-- 权限内容 -->
<section class="content">
  <div class="header-alt">
    {{ 'rbac_content' | translate }}
    <a
      href="javascript:void(0);"
      [auiTooltip]="permissionTooltipTemplate"
      auiTooltipType="primary"
      auiTooltipPosition="end top"
    >
      <aui-icon icon="basic:question"></aui-icon>
      <ng-template #permissionTooltipTemplate>
        <p [innerHtml]="contentTip[lang]"></p>
      </ng-template>
    </a>
  </div>
  <rc-permissions-table
    [(ngModel)]="data.permissions"
    (ngModelChange)="updatePermissions($event, selectedScopes)"
    [keepAll]="true"
    [type]="TableType.CreateTpl"
    [expanded]="false"
  ></rc-permissions-table>
</section>

<section class="bottom">
  <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  <button aui-button="primary" (click)="submit()">
    {{ 'submit' | translate }}
  </button>
</section>
