<aui-dialog-header>
  {{ 'jenkins_pipeline_custom_template_help' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div class="container">
    <div class="content" [innerHtml]="help | rcMarkdownToHtml"></div>
  </div>
</aui-dialog-content>
