:host ::ng-deep {
  .container {
    .content {
      padding: 0 20px 20px 20px;
      & > p {
        font-size: 18px;
        font-weight: 600;
        margin: 18px 0;
      }

      blockquote p {
        font-size: 14px;
      }

      code {
        border: none;
      }

      ol {
        margin-left: 20px;
        li {
          p {
            line-height: 20px;
          }
        }
      }
    }
  }
}
