<aui-card>
  <div auiCardHeader class="list-header">
    <button
      aui-button="primary"
      [disabled]="
        !createPermission ||
        !(toolTypes$ | async) ||
        !(toolTypes$ | async).length
      "
      (click)="integrateTool()"
    >
      {{ 'tool_chain_integrate' | translate }}
    </button>
    <aui-search
      [placeholder]="'filter_by_name_placeholder' | translate"
      [searchButton]="false"
      (keywordChange)="filter$.next($event)"
    ></aui-search>
  </div>
  <rc-tool-type-bar
    [(selectedType)]="selectedType"
    (selectedTypeChange)="selectedType$$.next($event)"
    [types]="toolTypes$ | async"
    [resources]="allServices$ | async"
  ></rc-tool-type-bar>
  <rc-service-list
    *ngIf="(hasServices$ | async)"
    [services]="filteredServices$ | async"
    [showTag]="selectedType === 'all'"
    (cardClick)="navigateToDetail($event)"
  ></rc-service-list>
  <div
    *ngIf="!(hasServices$ | async)"
    class="empty-list-hint"
    [rcLoadingMask]="loading"
  >
    <span *ngIf="!loading">{{ 'tool_chain_no_results' | translate }}</span>
  </div>
</aui-card>
