<div class="plain-container">
  <ng-container *ngTemplateOutlet="labels"></ng-container>
</div>
<div class="spacer"></div>
<div
  *ngIf="tagList?.length && showToggleLabel"
  class="full-content-toggle"
  [auiTooltip]="labels"
  auiTooltipType="info"
>
  <div class="full-content-toggle__label">...</div>
</div>
<div *ngIf="!tagList?.length">-</div>

<ng-template #labels>
  <div class="plain-container-tooltip">
    <div class="plain-container__label" *ngFor="let tag of tagList">
      {{ renderTag(tag) }}
    </div>
  </div>
</ng-template>
