:host {
  .aui-table__cell {
    white-space: normal;
    &.aui-table__column-value {
      max-height: 3.6em;
      line-height: 1.2em;
      overflow: auto;
    }
    .ref-value-wrapper {
      display: flex;
      p {
        min-width: fit-content;
      }
    }
    .ref-content-wrapper {
      margin-left: 8px;
    }
  }

  ::ng-deep aui-tag .aui-tag {
    max-width: none;
  }
}
