<rc-loading-mask
  *ngIf="!initialized"
  [loading]="!initialized"
></rc-loading-mask>
<ng-container *ngIf="initialized">
  <div
    *ngFor="let container of containers; index as i"
    [style.margin-bottom]="'12px'"
  >
    <h3 *ngIf="containers.length > 1" class="rc-secondary-title">
      {{ container.name }}
    </h3>
    <!-- env -->
    <aui-card [divider]="false">
      <div
        auiCardHeader
        fxLayout
        style="align-items: center; justify-content: space-between;"
      >
        {{ 'env' | translate }}
        <button aui-button *ngIf="canUpdate" (click)="updateEnv(container)">
          {{ 'update' | translate }}
        </button>
      </div>
      <aui-table [dataSource]="containerViewModel[i].envViewModel">
        <ng-container auiTableColumnDef="key">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'key' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.name | rcFieldNotAvailable }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="value">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'value' | translate }}/{{ 'reference_value' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <ng-container *ngIf="item.reference">
              <ng-container *ngIf="item.valueFrom?.configMapKeyRef">
                <div class="ref-value-wrapper">
                  <p>
                    {{ 'configmap' | translate }}
                  </p>
                  <div class="ref-content-wrapper">
                    {{ item.configmap }} : {{item.configmapKey }}
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="item.valueFrom?.secretKeyRef">
                <div class="ref-value-wrapper">
                  <p>
                    {{ 'k8s_secret' | translate }}
                  </p>
                  <div class="ref-content-wrapper">
                    {{ item.secret }} : {{item.secretKey }}
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="item.valueFrom?.fieldRef">
                <div class="ref-value-wrapper">
                  <p>
                    {{ 'field' | translate }}
                  </p>
                  <div class="ref-content-wrapper">
                    {{ item.valueFrom.fieldRef.fieldPath }}
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!item.reference">
              {{ item.value }}
            </ng-container>
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row
          *auiTableHeaderRowDef="['key', 'value']"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: ['key', 'value']"
        ></aui-table-row>
      </aui-table>
      <rc-zero-state
        [zeroState]="!containerViewModel[i].envViewModel?.length"
        resourceName="environment_variable"
      ></rc-zero-state>
    </aui-card>
    <!-- env-from -->
    <aui-card [divider]="false">
      <div
        auiCardHeader
        fxLayout
        style="align-items: center; justify-content: space-between;"
      >
        {{ 'env_from' | translate }}
        <button
          aui-button
          *ngIf="canUpdate"
          (click)="updateEnv(container, 'envFrom')"
        >
          {{ 'update' | translate }}
        </button>
      </div>
      <aui-table [dataSource]="containerViewModel[i].envFromViewModel">
        <ng-container auiTableColumnDef="kind">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'type' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.kind.toLowerCase() | translate }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <ng-container>
              {{ item.name | rcFieldNotAvailable }}
            </ng-container>
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row
          *auiTableHeaderRowDef="['kind', 'name']"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: ['kind', 'name']"
        ></aui-table-row>
      </aui-table>

      <rc-zero-state
        [zeroState]="!containerViewModel[i].envFromViewModel?.length"
        resourceName="config_reference"
      ></rc-zero-state>
    </aui-card>
  </div>
</ng-container>
