<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [keyword]="search$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      style="margin-left:8px"
      aui-button
      square="true"
      (click)="onUpdate(null)"
    >
      <aui-icon icon="basic:sync"></aui-icon>
    </button>
  </div>
  <aui-table [dataSource]="list$ | async">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a href="javascript:void(0)" (click)="openDetail(rowData)">
          {{ rowData.kubernetes.metadata.name }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="references_cron_job">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'references_cron_job' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <ng-container
          *ngTemplateOutlet="
            references_cron_job;
            context: {
              data: getOwnerCronJob(rowData)
            }
          "
        ></ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <ng-container
          *ngTemplateOutlet="
            job_status;
            context: {
              status: getJobStatus(rowData)
            }
          "
        ></ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.kubernetes.metadata.creationTimestamp | rcFormatUtcStr}}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-menu-trigger
          [menu]="menu"
          size="small"
          (menuTriggerShow)="resourcePermissionService.sendRequest(rowData)"
        ></rc-menu-trigger>
        <aui-menu #menu size="small">
          <ng-container
            *ngTemplateOutlet="
              menuContent;
              context: {
                permission:
                  resourcePermissionService.getByResource$(rowData) | async
              }
            "
          ></ng-container>
          <ng-template #menuContent let-permission="permission">
            <div *ngIf="!permission" class="aui-menu__loading-placehoder">
              <rc-loading-mask [loading]="true"></rc-loading-mask>
            </div>
            <ng-container *ngIf="permission">
              <aui-menu-item (click)="openDetail(rowData)">
                {{ 'view' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="
                  resourcePermissionService.checkByAction(
                    'update',
                    permission
                  )
                "
                (click)="viewLogs(rowData)"
              >
                {{ 'view_logs' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="
                  resourcePermissionService.checkByAction(
                    'delete',
                    permission
                  )
                "
                (click)="delete(rowData)"
              >
                {{ 'delete' | translate }}
              </aui-menu-item>
            </ng-container>
          </ng-template>
        </aui-menu>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>

  <rc-zero-state
    [zeroState]="showZeroState"
    [fetching]="!initialized && fetching"
    resourceName="job_record"
  ></rc-zero-state>

  <aui-paginator
    *ngIf="(listMeta$ | async)?.count"
    [total]="(listMeta$ | async)?.count"
    [pageSize]="(pageParams$ | async)?.pageSize"
    [currentPage]="(pageParams$ | async)?.pageIndex"
    (currentPageChange)="pageChanged('pageIndex', $event)"
    (pageSizeChange)="pageChanged('pageSize', $event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
</aui-card>

<ng-template #job_status let-status="status">
  <rc-status-icon [status]="status.icon"></rc-status-icon>
  <span [style.margin-left]="'4px'">
    {{ status.job | translate }}
  </span>
</ng-template>

<ng-template #references_cron_job let-data="data">
  <span *ngIf="!data.link">{{data.name}}</span>
  <a
    *ngIf="data.link"
    href="javascript:void(0)"
    (click)="openCronJobDetail(data.name)"
  >
    {{ data.name }}
  </a>
</ng-template>
