<aui-card [divider]="false">
  <div auiCardHeader fxLayout style="align-items: center;">
    <span>{{ 'role' | translate }}</span>
    <button aui-button *ngIf="roleAssignEnabled" (click)="addRoles()">
      {{ 'add_role' | translate }}
    </button>
  </div>
  <aui-table [dataSource]="roles">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span *ngIf="!operationViewEnabled">{{ item.role_name }}</span>
        <a
          *ngIf="operationViewEnabled"
          [routerLink]="['/console/admin/rbac/roles/detail', item.role_name]"
          href="javascript:void(0);"
        >
          {{ item.role_name }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item" (click)="deleteRole(item)">
        <a
          href="javascript:void(0);"
          [title]="'delete' | translate"
          *ngIf="hasPermission(item, 'revoke')"
        >
          <aui-icon icon="basic:trash"></aui-icon>
        </a>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="['name', 'action']"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="let row; columns: ['name', 'action']"
    ></aui-table-row>
  </aui-table>
  <rc-zero-state
    [zeroState]="!roles?.length"
    [fetching]="!initialized"
    resourceName="role"
  ></rc-zero-state>
</aui-card>
