<div class="rc-search-bar">
  <input
    aui-input
    name="filter_ip"
    [(ngModel)]="filterIp"
    (ngModelChange)="filterIp$.next($event)"
    [placeholder]="'filter_by_ip_placeholder' | translate"
  />
</div>

<div [rcLoadingMask]="!(filteredNodes$ | async)">
  <aui-table [dataSource]="filertedAndPagedNodes$">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let data">
        <a
          [routerLink]="[
            '/console/admin/cluster/node_detail',
            clusterName,
            data.privateIp
          ]"
        >
          {{ data.name }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="privateIp">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'private_ip' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let data">
        {{ data.privateIp }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="nodeTags">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'node_tags' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let data">
        <a
          *ngIf="getLabels(data.labels).length"
          [auiTooltip]="nodeLabels"
          [auiTooltipContext]="data"
          auiTooltipType="info"
          auiTooltipPosition="top start"
          auiTooltipTrigger="click"
        >
          {{ getLabels(data.labels).length }}{{ 'ge' | translate }}
        </a>
        <ng-container *ngIf="!getLabels(data.labels).length">
          {{ null | rcFieldNotAvailable }}
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef style="min-width:200px">
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let data" class="status-cell">
        <span [ngClass]="'state-' + data.status.state.toLowerCase()">
          {{ data.status.state }}
        </span>
        <span
          class="schedule-badge"
          [class.schedulable]="data.status.schedulable"
        >
          {{ data.status.schedulable ? 'Schedulable' : 'Unschedule' }}
        </span>
        <span *ngIf="data.status.taint">Taint</span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="cpu">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'resource_cpu_count' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let data">
        {{ data.cpu | rcFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="memory">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'resource_mem_count' | translate }}(G)
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let data">
        {{ data.memory }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="nodeType">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'region_node_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let data">
        {{ data.type }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let data">
        <div
          [auiDropdown]="menu"
          *ngIf="nodeCanUpdate || nodeCanDelete"
          class="action-button"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item *ngIf="nodeCanUpdate" (click)="updateNodeTag(data)">
            {{ 'update_node_tags' | translate }}
          </aui-menu-item>
          <aui-menu-item
            *ngIf="nodeCanUpdate"
            [hidden]="data.status.schedulable"
            (click)="doAction(data, 'uncordon')"
          >
            {{ 'start_scheduling' | translate }}
          </aui-menu-item>
          <aui-menu-item
            *ngIf="nodeCanUpdate"
            [hidden]="!data.status.schedulable"
            (click)="doAction(data, 'cordon')"
          >
            {{ 'stop_scheduling' | translate }}
          </aui-menu-item>
          <aui-menu-item
            *ngIf="
              regionFeatures &&
              getRegionFeatureStatus(regionFeatures.ssh) === 'docked'
            "
            (click)="webssh(data)"
          >
            {{ 'webssh' | translate }}
          </aui-menu-item>
          <aui-menu-item
            *ngIf="nodeCanDelete"
            (click)="doAction(data, 'delete')"
          >
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <div class="no-data" *ngIf="!(filteredNodes$ | async)?.length">
    <ng-container *ngIf="(filteredNodes$ | async)">
      <ng-container *ngIf="(nodeVms$ | async)?.length">
        {{ 'cluster_nodes_no_available' | translate }}
      </ng-container>
      <ng-container *ngIf="!(nodeVms$ | async)?.length">
        {{ 'cluster_nodes_no_data' | translate }}
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!(filteredNodes$ | async)">
      {{ 'data_loading' | translate }}
    </ng-container>
  </div>
  <aui-paginator
    *ngIf="(filteredNodes$ | async)?.length"
    [pageIndex]="(pageEvent$ | async)?.pageIndex"
    [pageSize]="(pageEvent$ | async)?.pageSize"
    [length]="(filteredNodes$ | async)?.length"
    [pageSizeOptions]="[10, 20, 50, 100]"
    (page)="pageEvent$.next($event)"
  ></aui-paginator>
</div>

<ng-template #nodeLabels let-labels="labels">
  <div style="max-width: 300px;display: flex;flex-wrap: wrap;">
    <aui-tag type="info" size="small" *ngFor="let label of getLabels(labels)">
      {{ label.name }}:{{ label.value }}
    </aui-tag>
  </div>
</ng-template>
