<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['../../']">{{ 'nav_catalog' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ repository?.name || '' }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<rc-loading-mask [loading]="pageLoading$ | async"></rc-loading-mask>

<ng-container [ngSwitch]="repository?.status">
  <rc-app-catalog-template-repo-import-progress
    *ngSwitchCase="'IN_PROGRESS'"
    [repository]="repository"
    [permission]="permission"
    [loading]="permissionLoading"
  ></rc-app-catalog-template-repo-import-progress>

  <rc-app-catalog-template-repo-import-progress
    *ngSwitchCase="'FAIL'"
    [repository]="repository"
    [permission]="permission"
    [loading]="permissionLoading"
  ></rc-app-catalog-template-repo-import-progress>

  <!-- Templates / Apps view. Split into two views to enable animations. -->
  <ng-container *ngSwitchCase="'SUCCESS'">
    <rc-loading-mask [loading]="refreshLoading$ | async"></rc-loading-mask>
    <aui-card *ngIf="!(refreshLoading$ | async)">
      <div auiCardHeader>
        <h3>
          {{
            repository.display_name ? repository.display_name : repository.name
          }}
        </h3>
        <div fxFlex></div>
        <div class="detail-buttons">
          <aui-dropdown-button
            *ngIf="permission"
            [plain]="true"
            size="medium"
            (buttonClick)="syncTemplate()"
            type="primary"
          >
            {{ 'app_catalog_sync_template' | translate }}
            <aui-menu size="small">
              <aui-menu-item (click)="importDialogOpen()">
                {{ 'update' | translate }}
              </aui-menu-item>
              <aui-menu-item (click)="deleteRepo()">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </aui-menu>
          </aui-dropdown-button>
        </div>
      </div>
      <div class="rc-detail-container">
        <div class="detail-wrapper" *ngIf="repository">
          <div class="detail-content">
            <!--名称-->
            <div class="detail-item">
              <label>{{ 'name' | translate }}</label>
              <div>{{ repository.name }}</div>
            </div>
            <!--创建时间-->
            <div class="detail-item">
              <label>{{ 'created_at' | translate }}</label>
              <div>{{ repository.created_at | rcFormatUtcStr }}</div>
            </div>
            <!--仓库类型-->
            <div class="detail-item">
              <label>{{ 'build_code_repo_client' | translate }}</label>
              <div>{{ repository.type }}</div>
            </div>
            <!--更新时间-->
            <div class="detail-item">
              <label>{{ 'updated_at' | translate }}</label>
              <div>{{ repository.updated_at | rcFormatUtcStr }}</div>
            </div>
            <!--代码分支-->
            <div class="detail-item" *ngIf="repository.type === 'git'">
              <label>{{ 'build_code_repo_branch' | translate }}</label>
              <div>{{ repository.branch }}</div>
            </div>
            <!--代码目录-->
            <div class="detail-item" *ngIf="repository.type === 'git'">
              <label>{{ 'build_code_repo_dir' | translate }}</label>
              <div>{{ repository.path }}</div>
            </div>
            <!--用户名-->
            <div class="detail-item long-item">
              <label>{{ 'username' | translate }}</label>
              <div class="long-content">{{ repository.username || '-' }}</div>
            </div>
            <!--代码仓库下载链接-->
            <div class="detail-item long-item">
              <label>{{ 'build_code_repo_path' | translate }}</label>
              <div class="long-content">
                <a [href]="repository.url" target="_blank">
                  {{ repository.url }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aui-card>
    <aui-card *ngIf="!(refreshLoading$ | async)">
      <div auiCardHeader>
        {{ 'nav_application_template' | translate }} ({{
          (displayTemplates || []).length
        }})
      </div>
      <div fxLayout="row" style="margin-bottom: 12px;">
        <span fxFlex></span>
        <aui-search
          [searchButton]="false"
          placeholder="{{ 'filter_by_name_placeholder' | translate }}"
          (search)="searchChanged($event)"
        ></aui-search>
      </div>
      <div
        class="template-card-list-container"
        [attr.mode]="ListPageViewMode.Templates"
      >
        <rc-loading-mask [loading]="templateLoading"></rc-loading-mask>
        <ng-container *ngIf="!templateLoading">
          <ng-container
            *ngIf="templates && templates.length !== 0; else elseEmptyBlock"
          >
            <div
              *ngFor="let template of displayTemplates || []"
              class="template-card-container"
            >
              <rc-app-catalog-template-card
                [template]="template"
                [applicationPermission]="applicationPermission"
              ></rc-app-catalog-template-card>
            </div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
          </ng-container>
          <ng-template #elseEmptyBlock>
            <div class="template-list-empty-message">
              {{ 'app_catalog_empty_template_view_title' | translate }}
              <br />
              {{ 'app_catalog_you_can' | translate }}
              <a (click)="importDialogOpen()">
                {{ 'app_catalog_update_template_repo' | translate }}
              </a>
              ,
              {{ 'app_catalog_get_enterprise_template' | translate }}
            </div>
          </ng-template>
        </ng-container>
      </div>
    </aui-card>
  </ng-container>
</ng-container>

<ng-template #dialogTemplate let-message="message">
  <div>
    {{ message }},{{ 'app_catalog_please_update' | translate }}
    <a (click)="importDialogOpen()">
      {{ 'app_catalog_template_repository_config' | translate }}
    </a>
  </div>
</ng-template>

<ng-template #retryTemplate let-message="message">
  <div>
    {{ message }},{{ 'app_catalog_please' | translate }}
    <a (click)="syncTemplate(true)">{{ 'app_catalog_retry' | translate }}</a>
  </div>
</ng-template>
