@import 'var';

@mixin list-item {
  height: 32px;
  max-width: 144px;
  min-width: 60px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    white-space: nowrap;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@mixin check-mark {
  &:after {
    content: '';
    background-image: url('/static/images/icon/check.svg');
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@mixin more-items {
  min-width: 30px;
  padding: 0;
  &:hover {
    color: $button-primary-border-color;
    border-color: $button-primary-border-color;
  }
}
:host {
  width: 100%;
  height: 100%;
  display: block;
  ::ng-deep .rc-form-panel {
    padding-top: 0 !important;
  }
  rc-loading-mask {
    height: 100%;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 32px;
    justify-content: flex-start;
  }
  li {
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $button-default-text-color;
  }
  .rc-registries {
    margin-bottom: 12px;
    li {
      @include list-item;
      transition: all 0.2s ease;
      border: solid 1px #ccc;
      &:first-of-type {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:last-of-type {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &:not(first-child) {
        margin-left: -1px;
      }
      &.active {
        position: relative;
        z-index: 1;
        color: $button-primary-border-color;
        border-color: $button-default-hover-border-color;
        @include check-mark;
      }
      &.rc-more-items {
        @include more-items;
      }
    }
  }
  .rc-tabs {
    border: 1px solid #ccc;
    &.rc-no-border {
      border: none;
      .rc-tabs__content {
        background-color: #fff;
        padding: 0;
        border: none;
      }
    }
  }
  .rc-tabs__header {
    width: 100%;
    border-bottom: 1px solid #ccc;
    .rc-tabs__nav-wrap {
      margin-top: -1px;
    }
    ul {
      margin-bottom: -1px;
      li {
        @include list-item;
        border-right: 1px solid #ccc;
        padding-top: 1px;
        transition: background-color 0.2s ease;
        &.active {
          background-color: #f4f4f4;
          border-top: 2px solid #24a7e3;
          border-bottom: 1px solid #f4f4f4;
        }
        &.rc-tabs__nav__more-items {
          @include more-items;
        }
      }
    }
  }
  .rc-tabs__content {
    height: 300px;
    overflow-y: auto;
    padding: 12px 16px;
    background-color: #f4f4f4;
    &.rc-full-height {
      height: 332px;
    }
    .rc-header {
      display: flex;
      justify-content: flex-end;
      input {
        flex: 0 0 312px;
      }
    }
    .rc-content {
      padding: 8px 0;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .rc-no-data {
    color: #ccc;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .repo-table {
    flex: 1;
    width: 100%;
    color: #464646;
    border: 1px solid #eee;
    table-layout: fixed;
    border-collapse: collapse;
    thead {
      tr {
        background-color: #fafafa;
        border-bottom: 1px solid #eee;
        th,
        td {
          vertical-align: top;
          font-weight: 400;
        }
      }
    }
    tbody {
      tr {
        background-color: #fff;
        &:hover,
        &.active {
          background-color: #f2fafe;
        }
        &:hover {
          cursor: pointer;
        }
        td {
          height: 48px;
        }
      }
    }

    thead > tr > td,
    tbody > tr > td {
      padding: 8px 10px;
    }
  }
}
