<aui-dialog-header>
  {{ 'nav_select_image' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
  <ng-container *ngIf="initialized">
    <ul class="rc-registries">
      <li
        *ngFor="let registry of visibleRegistries"
        [ngClass]="{ active: currentRegistry?.name === registry.name }"
        (click)="registryChange(registry)"
      >
        <span [attr.title]="registry.display_name">
          {{ registry.display_name }}
        </span>
      </li>
      <li *ngIf="additionalRegistry" class="active">
        <span>{{ additionalRegistry?.display_name }}</span>
      </li>
      <li
        *ngIf="moreRegistries?.length"
        class="rc-more-items"
        [auiDropdown]="registriesMenu"
        auiDropdownPosition="bottom start"
      >
        <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        <aui-menu #registriesMenu size="small">
          <div class="aui-menu__scrollable-warpper">
            <aui-menu-item
              *ngFor="let r of moreRegistries"
              (click)="registryChange(r, true)"
            >
              {{ r.display_name }}
            </aui-menu-item>
          </div>
        </aui-menu>
      </li>
    </ul>

    <div class="rc-tabs" *ngIf="!isThirdParty && !isHarborRegistry">
      <div class="rc-tabs__header" *ngIf="visibleProjects.length">
        <div class="rc-tabs__nav-wrap">
          <ul>
            <li
              *ngFor="let project of visibleProjects"
              [ngClass]="{
                active: currentProject?.project_name === project.project_name
              }"
              (click)="projectChange(project)"
            >
              <span [attr.title]="project.project_name">
                {{ project.project_name }}
              </span>
            </li>
            <li *ngIf="additionalProject" class="active">
              <span>{{ additionalProject?.project_name }}</span>
            </li>
            <li
              *ngIf="moreProjects?.length"
              class="rc-tabs__nav__more-items"
              [auiDropdown]="projectsMenu"
              auiDropdownPosition="bottom start"
            >
              <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
              <aui-menu #projectsMenu size="small">
                <div class="aui-menu__scrollable-warpper">
                  <aui-menu-item
                    *ngFor="let p of moreProjects"
                    (click)="projectChange(p, true)"
                  >
                    {{ p.project_name }}
                  </aui-menu-item>
                </div>
              </aui-menu>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="rc-tabs__content"
        [rcLoadingMask]="loading"
        [ngClass]="{ 'rc-full-height': !visibleProjects.length }"
      >
        <div
          class="rc-no-data"
          *ngIf="!loading && !(repositories$ | async).length"
        >
          {{ 'no_data' | translate }}
        </div>

        <ng-container *ngIf="(repositories$ | async).length">
          <div class="rc-header">
            <input
              aui-input
              placeholder="{{ 'filter_by_name_placeholder' | translate }}"
              [(ngModel)]="filterKey"
              (ngModelChange)="filterKeyChange()"
            />
          </div>
          <div class="rc-content">
            <table class="repo-table">
              <thead>
                <tr>
                  <td style="width: 60px;">{{ 'select' | translate }}</td>
                  <td style="width: 240px;">
                    {{ 'nav_image_repository' | translate }}
                  </td>
                  <td>{{ 'image_tag' | translate }}</td>
                  <td style="width: 60px;">{{ 'description' | translate }}</td>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let repo of (filteredRepositories$ | async)"
                  (click)="repositorySelected(repo)"
                >
                  <td>
                    <aui-radio-group
                      [value]="repo.name === currentRepository?.name"
                    >
                      <aui-radio [value]="true"></aui-radio>
                    </aui-radio-group>
                  </td>
                  <td>{{ repo.name }}</td>
                  <td>
                    <span *ngIf="repo.name !== currentRepository?.name">
                      <aui-icon icon="basic:tag_s"></aui-icon>
                    </span>
                    <ng-container *ngIf="repo.name === currentRepository?.name">
                      <aui-select
                        *ngIf="
                          (imageTags[repo.name] &&
                            imageTags[repo.name].length) ||
                          !imageTags[repo.name]
                        "
                        [(ngModel)]="currentImageTag[repo.name]"
                        [ngModelOptions]="{ standalone: true }"
                        [disabled]="repo.name !== currentRepository?.name"
                        [allowCreate]="true"
                        [loading]="!imageTags[repo.name]"
                        [filterable]="true"
                      >
                        <aui-option
                          *ngFor="let tag of imageTags[repo.name]"
                          [value]="tag"
                        >
                          {{ tag }}
                        </aui-option>
                        <aui-option-placeholder>
                          {{ 'no_data' | translate }}
                        </aui-option-placeholder>
                      </aui-select>
                      <input
                        aui-input
                        *ngIf="
                          imageTags[repo.name] && !imageTags[repo.name].length
                        "
                        [placeholder]="'please_input_image_tag' | translate"
                        [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="currentImageTag[repo.name]"
                      />
                    </ng-container>
                  </td>
                  <td>
                    <aui-icon
                      icon="basic:eye_s"
                      *ngIf="repo.description"
                      [auiTooltip]="repo.description"
                      auiTooltipPosition="top end"
                      auiTooltipTrigger="hover"
                    ></aui-icon>
                    <span *ngIf="!repo.description">-</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </div>
    </div>

    <form
      *ngIf="isThirdParty"
      auiForm
      auiFormLabelPosition="top"
      auiFormLabelWidth="150px"
      [auiFormEmptyAddon]="false"
    >
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'image_address' | translate }}
        </label>
        <input
          name="image"
          auiFormItemControl
          aui-input
          required
          rcErrorsTooltip
          pattern=".+\/.+"
          [(ngModel)]="thirdPartyRepositoryPath"
        />
        <div auiFormItemHint>
          <span>
            {{ 'input_registry_address_tips' | translate }}: {{
            demoRepositoryAddress }}
          </span>
          <button
            aui-button="text"
            (click)="thirdPartyRepositoryPath = demoRepositoryAddress"
          >
            <aui-icon icon="basic:write_file"></aui-icon>
          </button>
          <div>
            <span>{{ 'default_registry_tips' | translate }}</span>
          </div>
        </div>
      </aui-form-item>
    </form>

    <div *ngIf="isHarborRegistry" style="margin-top: 25px">
      <rc-select-image-snippet
        [repositories]="harborRepositories$ | async"
        [imageParams]="imageParams"
      ></rc-select-image-snippet>
    </div>
  </ng-container>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      [disabled]="!shouldEnableConfirmButton()"
      (click)="confirm()"
    >
      {{ 'confirm' | translate }}
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>
