<aui-dialog-header>
  {{ 'update_default_certificate' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <rc-loading-mask
    style="height: 80px"
    [loading]="!secretList.length"
  ></rc-loading-mask>
  <form #form="ngForm" auiForm>
    <ng-container *ngIf="secretList.length">
      <aui-form-item>
        <label auiFormItemLabel>{{'default_certificate' | translate}}</label>
        <rc-load-balancer-certificate-form
          rcErrorsTooltip
          auiFormItemControl
          required
          name="certificateName"
          [(ngModel)]="certificateName"
          [secretList]="secretList"
        ></rc-load-balancer-certificate-form>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button type="button" (click)="confirmed.next()">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    type="submit"
    [loading]="confirming"
    (click)="submitForm(form)"
  >
    {{ 'confirm' | translate }}
  </button>
</aui-dialog-footer>
