<aui-dialog-header>{{ 'update_basic_info' | translate }}</aui-dialog-header>
<aui-dialog-content>
  <form
    auiForm
    #form="ngForm"
    auiFormLabelPosition="right"
    auiFormLabelWidth="80px"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input auiFormItemControl aui-input name="name" [value]="name" readonly />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="display_name"
        maxlength="36"
        [(ngModel)]="data.display_name"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'description' | translate }}</label>
      <textarea
        auiFormItemControl
        aui-input
        name="description"
        rows="3"
        [(ngModel)]="data.description"
      ></textarea>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="submit()">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
</aui-dialog-footer>
