:host {
  ::ng-deep {
    .form-panel .form-footer .form-footer-buttons {
      flex: 1;
      justify-content: flex-end;
    }
    .form-container {
      .form {
        .input-container {
          margin-bottom: 8px;
          padding: 0 20px;
          .input-field-container {
            display: flex;
            label {
              flex: 2;
              text-align: right;
              margin-right: 8px;
              align-self: center;
            }
            .input-text,
            input {
              flex: 8;
            }
            .required-label {
              position: relative;
              margin-right: 10px;
            }
            .required-mark {
              position: absolute;
              top: 0;
              right: -8px;
            }
          }
        }
      }
    }
    .form-footer {
      .form-footer-buttons {
        display: flex;
        padding: 16px;
        button {
          margin-right: 8px;
        }
      }
    }
  }
}
