<aui-dialog-header>{{ 'update_company_name' | translate }}</aui-dialog-header>
<aui-dialog-content>
  <form auiForm #updateCompanyForm="ngForm">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'former_company_name' | translate }}</label>
      <span>{{ formerCompanyName }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'company_name' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="companyName"
        [(ngModel)]="companyName"
        rcErrorsTooltip
        [rcErrorsTooltipMapper]="{
          pattern: 'company_name_invalid' | translate
        }"
        pattern="^[a-z0-9\u4e00-\u9fa5_]*$"
        minlength="2"
        maxlength="50"
        required
      />
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button (click)="cancel()" [disabled]="submitting">
    {{ 'cancel' | translate }}
  </button>
  <button aui-button="primary" (click)="confirm()" [disabled]="submitting">
    {{ 'confirm' | translate }}
  </button>
</aui-dialog-footer>
