<aui-dialog-header>
  {{ 'add_node' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form auiForm auiFormLabelWidth="80px" #addNodeForm="ngForm">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'node' | translate }}</label>
      <aui-tags-input
        auiFormItemControl
        required
        name="node"
        [(ngModel)]="addNode.node_list"
        [placeholder]="'add_multiple_by_enter' | translate"
        [rcErrorsTooltip]
      ></aui-tags-input>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'port' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        required
        name="port"
        type="number"
        min="1"
        max="65535"
        [(ngModel)]="addNode.ssh_port"
        [placeholder]="'node_port' | translate"
        [rcErrorsTooltip]
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        required
        name="username"
        [(ngModel)]="addNode.ssh_username"
        [rcErrorsTooltip]
        [placeholder]="'node_username' | translate"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        required
        name="password"
        type="password"
        [(ngModel)]="addNode.ssh_password"
        [placeholder]="'node_password' | translate"
        [rcErrorsTooltip]
      />
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
    <button aui-button="primary" (click)="confirm(addNodeForm)">
      {{ 'add' | translate }}
    </button>
  </div>
</aui-dialog-footer>
