<form
  [formGroup]="form"
  auiForm
  auiFormLabelPosition="right"
  [auiFormEmptyAddon]="false"
>
  <!-- 资源类型 -->
  <aui-form-item *ngIf="formType === 'admin'">
    <label auiFormItemLabel>{{ 'resource_type' | translate }}</label>
    <aui-radio-group
      size="medium"
      auiFormItemControl
      formControlName="resource_type"
    >
      <aui-radio-button [disabled]="alarm_name" value="Cluster">
        {{ 'cluster' | translate }}
      </aui-radio-button>
      <aui-radio-button [disabled]="alarm_name" value="Node">
        {{ 'node' | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <!-- 资源名称 -->
  <aui-form-item *ngIf="formType === 'admin'">
    <label auiFormItemLabel>{{ 'resource_name' | translate }}</label>
    <ng-container auiFormItemControl required>
      <input
        *ngIf="form.get('resource_type').value === 'Cluster'"
        aui-input
        formControlName="resource_name"
        rcErrorsTooltip
      />
      <aui-select
        *ngIf="form.get('resource_type').value === 'Node'"
        [disabled]="!node_view_premission"
        formControlName="resource_name"
        rcErrorsTooltip
      >
        <aui-option value=".*" [label]="translate.get('all_nodes')">
          {{ 'all_nodes' | translate }}
        </aui-option>
        <aui-option
          *ngFor="let node of nodes"
          [value]="node.key"
          [label]="node.key"
        >
          {{ node.key }}
        </aui-option>
      </aui-select>
    </ng-container>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <!-- 告警类型 -->
  <aui-form-item>
    <label auiFormItemLabel>{{ 'alarm_type' | translate }}</label>
    <aui-radio-group
      size="medium"
      auiFormItemControl
      formControlName="alarm_type"
    >
      <aui-radio-button [disabled]="alarm_name" value="default">
        {{ 'metric_alarm' | translate }}
      </aui-radio-button>
      <aui-radio-button
        [disabled]="alarm_name"
        value="log"
        *ngIf="formType === 'user'"
      >
        {{ 'log_alarm' | translate }}
      </aui-radio-button>
      <aui-radio-button [disabled]="alarm_name" value="custom">
        {{ 'metric_custom' | translate }}
      </aui-radio-button>
    </aui-radio-group>
    <aui-icon
      [auiTooltip]="metric_tip"
      [style.padding-left]="'8px'"
      icon="basic:question"
      color="#999"
    ></aui-icon>
  </aui-form-item>
  <!-- 指标 -->
  <aui-form-item [hidden]="form.get('alarm_type').value !== 'default'">
    <label auiFormItemLabel>{{ 'metric' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-select formControlName="monitor_metric" rcErrorsTooltip>
        <aui-option
          *ngFor="let metric of metrics"
          [value]="metric.name"
          [label]="metric.name"
        >
          {{ metric.name }}
        </aui-option>
      </aui-select>
    </ng-container>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <!-- 指标 -->
  <aui-form-item [hidden]="form.get('alarm_type').value !== 'custom'">
    <label auiFormItemLabel>{{ 'metric' | translate }}</label>
    <ng-container auiFormItemControl required>
      <input
        aui-input
        formControlName="metric_expression"
        [auiAutocomplete]="suggestions"
        (input)="onExpressionInput($event)"
        [pattern]="metricReg.pattern"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="{ pattern: metricReg.tip | translate }"
      />
    </ng-container>
    <span auiFormItemAddon>
      <aui-icon
        [auiTooltip]="'metric_custom_tip' | translate"
        [auiTooltipPosition]="'start center'"
        icon="basic:question"
        color="#999"
      ></aui-icon>
    </span>
  </aui-form-item>
  <!-- 单位 -->
  <aui-form-item [hidden]="form.get('alarm_type').value !== 'custom'">
    <label auiFormItemLabel>{{ 'unit' | translate }}</label>
    <aui-select
      auiFormItemControl
      clearable
      filterable
      allowCreate
      formControlName="unit"
    >
      <aui-option *ngFor="let unit of units" [value]="unit">
        {{ unit }}
      </aui-option>
    </aui-select>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <!-- 数据类型 -->
  <aui-form-item [hidden]="form.get('alarm_type').value !== 'default'">
    <label auiFormItemLabel>{{ 'data_type' | translate }}</label>
    <aui-radio-group
      size="medium"
      auiFormItemControl
      formControlName="data_type"
    >
      <aui-radio-button [value]="false">
        {{ 'origin_value' | translate }}
      </aui-radio-button>
      <aui-radio-button [value]="true">
        {{ 'metric_value' | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <!-- 聚合时间 -->
  <aui-form-item [hidden]="!form.get('data_type').value">
    <label auiFormItemLabel>{{ 'alarm_time' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-select formControlName="timeStampOption" rcErrorsTooltip>
        <aui-option
          *ngFor="let timeStampOption of timeStampOptions"
          [value]="timeStampOption.offset"
          [label]="timeStampOption.name"
        >
          {{ timeStampOption.name }}
        </aui-option>
      </aui-select>
    </ng-container>
    <span auiFormItemAddon>
      <aui-icon
        [auiTooltip]="'alarm_time_tip' | translate"
        [auiTooltipPosition]="'start center'"
        icon="basic:question"
        color="#999"
      ></aui-icon>
    </span>
  </aui-form-item>
  <!-- 聚合方式 -->
  <aui-form-item [hidden]="!form.get('data_type').value">
    <label auiFormItemLabel>{{ 'monitor_aggregator' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-select formControlName="aggregator" rcErrorsTooltip>
        <aui-option
          *ngFor="let aggregator of aggregators"
          [value]="aggregator.key"
          [label]="aggregator.name | translate"
        >
          {{ aggregator.name | translate }}
        </aui-option>
      </aui-select>
    </ng-container>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <!-- 时间范围 -->
  <aui-form-item [hidden]="form.get('alarm_type').value !== 'log'">
    <label auiFormItemLabel>{{ 'monitor_period' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-select formControlName="timeStampOption" rcErrorsTooltip>
        <aui-option
          *ngFor="let timeStampOption of timeStampOptions"
          [value]="timeStampOption.offset"
          [label]="timeStampOption.name"
        >
          {{ timeStampOption.name }}
        </aui-option>
      </aui-select>
    </ng-container>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <!-- 日志内容 -->
  <aui-form-item [hidden]="form.get('alarm_type').value !== 'log'">
    <label auiFormItemLabel>{{ 'log_content' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-tags-input
        formControlName="log_content"
        [allowRepeat]="false"
        [allowEmpty]="false"
        [placeholder]="'add_multiple_by_enter' | translate"
        [rcErrorsTooltip]
      ></aui-tags-input>
    </ng-container>
    <span auiFormItemAddon></span>
  </aui-form-item>
</form>

<aui-autocomplete #suggestions>
  <aui-suggestion-group>
    <div auiSuggestionGroupTitle>{{ 'metric' | translate }}</div>
    <aui-suggestion
      *ngFor="let metric_label of prometheus_metric_labels"
      [value]="metric_label"
    >
      {{ metric_label }}
    </aui-suggestion>
  </aui-suggestion-group>
  <aui-suggestion-group>
    <div auiSuggestionGroupTitle>{{ 'metric' | translate }}</div>
    <aui-suggestion
      *ngFor="let monitor_metric of prometheus_metrics_suggestion"
      [value]="monitor_metric"
    >
      {{ monitor_metric }}
    </aui-suggestion>
  </aui-suggestion-group>
  <aui-suggestion-group>
    <div auiSuggestionGroupTitle>{{ 'function_name' | translate }}</div>
    <aui-suggestion
      *ngFor="let function_name of function_names_suggestion"
      [value]="function_name"
    >
      {{ function_name }}
    </aui-suggestion>
  </aui-suggestion-group>
</aui-autocomplete>

<ng-template #metric_tip>
  <div>{{ 'metric_tip_title' | translate }}</div>
  <div>{{ 'metric_tip_default' | translate }}</div>
  <div>{{ 'metric_tip_custom' | translate }}</div>
</ng-template>
