<ng-container *rcPageHeaderContent>
  <ng-container *ngTemplateOutlet="header"></ng-container>
</ng-container>

<ng-template #header>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="jumpToListPage()">
        {{ 'route' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ name }}</aui-breadcrumb-item>
  </aui-breadcrumb>
  <div fxFlex></div>

  <button
    aui-button="default"
    [plain]="true"
    [loading]="loading"
    [disabled]="loading || !initialized"
    [auiDropdown]="menu"
  >
    {{ 'action' | translate }}
    <aui-icon icon="angle_down" margin="left"></aui-icon>
  </button>
  <aui-menu #menu size="small">
    <aui-menu-item [disabled]="!canShowUpdate(route)" (click)="update()">
      {{ 'update' | translate }}
    </aui-menu-item>
    <aui-menu-item [disabled]="!canShowDelete(route)" (click)="delete()">
      {{ 'delete' | translate }}
    </aui-menu-item>
  </aui-menu>
</ng-template>

<rc-loading-mask
  class="rc-form-loading-mask"
  [loading]="!initialized"
></rc-loading-mask>
<div class="rc-detail-page-tab-container" *ngIf="initialized">
  <aui-tab-group type="line">
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'detail_info' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-route-detail-info [data]="route.kubernetes"></rc-route-detail-info>
        <rc-route-detail-traffic-distribution
          [data]="alternateBackends"
        ></rc-route-detail-traffic-distribution>
      </ng-container>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        YAML
      </ng-container>
      <ng-container *auiTabContent>
        <aui-code-editor
          name="yaml"
          [ngModel]="yaml"
          [options]="codeEditorOptions"
          [actionsConfig]="actionsConfigView"
        ></aui-code-editor>
      </ng-container>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'event' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-route-detail-event
          [appData]="route"
          [cluster]="clusterName"
          [namespace]="namespaceName"
        ></rc-route-detail-event>
      </ng-container>
    </aui-tab>
  </aui-tab-group>
</div>
