:host {
  ::ng-deep {
    .aui-input-group--medium .aui-input-group__addon {
      &:first-of-type {
        padding-left: 0;
      }
    }
    .aui-input-group__addon--before {
      padding: 0 4px 0 0;
      border: none;
      background-color: #fafafa;
    }
    .aui-input-group__addon--after {
      white-space: nowrap;
    }
    .aui-input-group.hasAddonAfter .aui-input-group__addon--before .aui-input {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    .aui-input-group.hasAddonBefore .aui-input {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    aui-input-group {
      width: 100%;
    }
    .aui-form-item-inside {
      width: 250px;
      padding-left: 10px;
      .aui-form-item {
        margin-bottom: 0;
      }
    }
    .aui-multi-select__placeholder {
      display: none;
    }
  }
}

.foldable-bar {
  display: inline-block;
  cursor: pointer;
  margin-left: 120px;
  margin-bottom: 16px;
  color: #009ce3;
}
