<aui-dialog-header>
  {{ formSubmitText | translate }}{{ 'alarm_rule' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelPosition="right"
    [auiFormEmptyAddon]="false"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input
        auiFormItemControl
        name="name"
        aui-input
        required
        maxlength="32"
        [pattern]="resourceNameReg.pattern"
        [placeholder]="resourceNameReg.tip | translate"
        [(ngModel)]="viewModel.name"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="alertNameMapper"
      />
      <span auiFormItemAddon></span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'metric_type' | translate }}</label>
      <aui-radio-group
        size="medium"
        auiFormItemControl
        name="metric_mode"
        [(ngModel)]="metric_mode"
        (ngModelChange)="onMetricModeSelect($event)"
      >
        <aui-radio-button value="default">
          {{ 'metric_default' | translate }}
        </aui-radio-button>
        <aui-radio-button value="custom">
          {{ 'metric_custom' | translate }}
        </aui-radio-button>
      </aui-radio-group>
      <aui-icon
        [auiTooltip]="metric_tip"
        [style.padding-left]="'8px'"
        icon="basic:question"
        color="#999"
      ></aui-icon>
    </aui-form-item>
    <aui-form-item *ngIf="metric_mode === 'default'">
      <label auiFormItemLabel>{{ 'metric' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="metric"
        required
        [(ngModel)]="viewModel.metric"
        (ngModelChange)="onMetricSelect($event)"
      >
        <aui-option
          *ngFor="let metric of metrics"
          [value]="metric.name"
          [label]="metric.name"
        >
          {{ metric.name }}
        </aui-option>
      </aui-select>
      <span auiFormItemAddon></span>
    </aui-form-item>
    <aui-form-item *ngIf="metric_mode === 'custom'">
      <label auiFormItemLabel>{{ 'metric' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        required
        name="metric_expression"
        [auiAutocomplete]="suggestions"
        [(ngModel)]="viewModel.metric_expression"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (input)="onExpressionInput($event)"
        [pattern]="metricReg.pattern"
        rcPrometheusMetricValidate
        [cluster]="cluster"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="metricMapper"
      />
      <span auiFormItemAddon>
        <aui-icon
          [auiTooltip]="'metric_custom_tip' | translate"
          [auiTooltipPosition]="'start center'"
          icon="basic:question"
          color="#999"
        ></aui-icon>
      </span>
    </aui-form-item>
    <aui-form-item *ngIf="metric_mode === 'custom'">
      <label auiFormItemLabel>{{ 'unit' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="unit"
        clearable
        filterable
        allowCreate
        [(ngModel)]="viewModel.unit"
        (ngModelChange)="onCustomUnitSelect($event)"
      >
        <aui-option *ngFor="let unit of units" [value]="unit">
          {{ unit }}
        </aui-option>
      </aui-select>
      <span auiFormItemAddon></span>
    </aui-form-item>
    <aui-form-item *ngIf="metric_mode === 'default'">
      <label auiFormItemLabel>{{ 'data_type' | translate }}</label>
      <aui-radio-group
        size="medium"
        auiFormItemControl
        name="data_type"
        [(ngModel)]="data_type"
        (ngModelChange)="onDataTypeSelect($event)"
      >
        <aui-radio-button [value]="false">
          {{ 'origin_value' | translate }}
        </aui-radio-button>
        <aui-radio-button [value]="true">
          {{ 'metric_value' | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item *ngIf="data_type">
      <label auiFormItemLabel>{{ 'alarm_time' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="timeStampOption"
        required
        [(ngModel)]="viewModel.timeStampOption"
      >
        <aui-option
          *ngFor="let timeStampOption of timeStampOptions"
          [value]="timeStampOption.offset"
          [label]="timeStampOption.name"
        >
          {{ timeStampOption.name }}
        </aui-option>
      </aui-select>
      <span auiFormItemAddon>
        <aui-icon
          [auiTooltip]="'alarm_time_tip' | translate"
          [auiTooltipPosition]="'start center'"
          icon="basic:question"
          color="#999"
        ></aui-icon>
      </span>
    </aui-form-item>
    <aui-form-item *ngIf="data_type">
      <label auiFormItemLabel>{{ 'monitor_aggregator' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="aggregator"
        required
        [(ngModel)]="viewModel.aggregator"
      >
        <aui-option
          *ngFor="let aggregator of aggregators"
          [value]="aggregator.key"
          [label]="aggregator.name | translate"
        >
          {{ aggregator.name | translate }}
        </aui-option>
      </aui-select>
      <span auiFormItemAddon></span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'level' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="level"
        required
        [(ngModel)]="viewModel.level"
      >
        <aui-option
          *ngFor="let level of levels"
          [value]="level"
          [label]="level"
        >
          {{ level }}
        </aui-option>
      </aui-select>
      <span auiFormItemAddon></span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'alarm_threshold' | translate }}</label>
      <aui-input-group auiFormItemControl required>
        <aui-select
          auiInputAddonBefore
          name="compareOption"
          required
          [(ngModel)]="viewModel.compare"
        >
          <aui-option
            *ngFor="let compareOption of compareOptions"
            [value]="compareOption"
          >
            {{ compareOption }}
          </aui-option>
        </aui-select>
        <input
          aui-input
          name="threshold"
          required
          [pattern]="thresholdReg.pattern"
          [placeholder]="thresholdReg.tip | translate"
          [(ngModel)]="viewModel.threshold"
          [rcErrorsTooltip]
          [rcErrorsTooltipMapper]="{ pattern: thresholdReg.tip | translate }"
        />
        <span auiInputAddonAfter>{{ unitName }}</span>
      </aui-input-group>
      <span auiFormItemAddon></span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'alarm_wait_time' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="wait"
        required
        [(ngModel)]="viewModel.wait"
      >
        <aui-option
          *ngFor="let timeStampOption of timeStampOptions"
          [value]="timeStampOption.offset"
          [label]="timeStampOption.name"
        >
          {{ timeStampOption.name }}
        </aui-option>
      </aui-select>
      <span auiFormItemAddon></span>
    </aui-form-item>
    <div [hidden]="folded">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'label' | translate }}</label>
        <rc-key-value-form-table
          auiFormItemControl
          name="label"
          [(ngModel)]="labels"
          [valiadator]="labelValidator"
          [errorMapper]="labelErrorMapper"
        ></rc-key-value-form-table>
        <span auiFormItemAddon></span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'annotation' | translate }}</label>
        <rc-key-value-form-table
          auiFormItemControl
          name="annotation"
          [(ngModel)]="annotations"
          [valiadator]="labelValidator"
          [errorMapper]="labelErrorMapper"
        ></rc-key-value-form-table>
        <span auiFormItemAddon></span>
      </aui-form-item>
    </div>
    <div class="foldable-bar" (click)="folded = !folded">
      <span>{{ 'advanced' | translate }}</span>
      <aui-icon
        [icon]="folded ? 'basic:angle_double_down' : 'basic:angle_double_up'"
      ></aui-icon>
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'alarm_action' | translate }}</label>
      <div auiFormItemControl>
        <rc-alarm-action
          (alarmActionAdd)="onAlarmActionAdd($event)"
          [actions]="actions"
        ></rc-alarm-action>
      </div>
      <span auiFormItemAddon></span>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()">
    {{ formSubmitText | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>

<aui-autocomplete #suggestions>
  <aui-suggestion-group>
    <div auiSuggestionGroupTitle>{{ 'monitor_metric' | translate }}</div>
    <aui-suggestion
      *ngFor="let metric_suggestion of prometheus_suggestion"
      [value]="metric_suggestion"
    >
      {{ metric_suggestion }}
    </aui-suggestion>
  </aui-suggestion-group>
  <aui-suggestion-group>
    <div auiSuggestionGroupTitle>{{ 'function_name' | translate }}</div>
    <aui-suggestion
      *ngFor="let function_name of function_names_suggestion"
      [value]="function_name"
    >
      {{ function_name }}
    </aui-suggestion>
  </aui-suggestion-group>
</aui-autocomplete>

<ng-template #metric_tip>
  <div>{{ 'metric_tip_title' | translate }}</div>
  <div>{{ 'metric_tip_default' | translate }}</div>
  <div>{{ 'metric_tip_custom' | translate }}</div>
</ng-template>
