:host {
  color: #333;

  ::ng-deep {
    .forget-password__content-next-btn {
      width: 100%;
    }

    .aui-form-item__label {
      color: #333;
      font-weight: normal;
      line-height: 16px;
      margin: 0;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .aui-button--large .aui-button__content {
      padding: 0;
    }

    .aui-form-item {
      position: relative;

      &__label-wrapper--right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 40px;
      }

      &__label-wrapper {
        position: absolute;
        width: 250px !important;
        left: -248px;
      }

      &__label-wrapper--required::before {
        display: none;
      }
      &__hint,
      &__error {
        margin-top: 4px;
      }

      &__error-wrapper {
        position: absolute;
        right: -258px;
        top: 0;
        width: 242px;
      }
    }

    .forget-password__content {
      &-step1 {
        .aui-form-item {
          margin-top: 40px !important;
        }

        button {
          margin-bottom: 40px;
        }
      }

      &-step1-next {
        width: 100%;
      }
      &-code__input {
        width: 310px;
      }
      &-code__btn {
        width: 100px;
        margin-left: 10px;
        font-size: 14px;
        padding: 0;
        .aui-button__wrapper {
          padding: 0;
        }
      }
    }

    input {
      height: 40px;
    }
  }

  .forget-password {
    position: relative;
    width: 960px;
    padding: 20px;
    &__header {
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 1.5;
    }
    &__content {
      font-size: 14px;
      line-height: 1.5;
      padding: 20px 250px 0;
    }
    &__code--error {
      margin: -12px 0 12px 0;
      padding-left: 110px;
      font-size: 12px;
      color: #999;
      line-height: 1.5;
    }
    &-step3 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 360px;
      &__header {
        line-height: 25px;
        font-size: 18px;
      }
      &__body {
        margin: 17px 0;
        font-size: 12px;
        color: #999;
      }
    }
  }

  .divide-line {
    flex: 1;
    height: 1px;
    background: #e6e6e6;
  }

  .form-container {
    margin: 0 60px 24px;
    display: flex;
    flex-direction: column;
  }

  .goback {
    position: absolute;
    left: 20;
    bottom: 30px;
    font-size: 14px;
    color: #009ce3;
    cursor: pointer;
  }
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}
