<aui-inline-alert
  closable="true"
  [content]="'load_balancer_list_description' | translate"
></aui-inline-alert>

<rc-loading-mask [loading]="loading"></rc-loading-mask>
<!-- load balancer list-->
<aui-card *ngIf="!loading" [divider]="false">
  <div fxLayout auiCardHeader>
    <div *ngIf="lbCreateEnabled">
      <button aui-button="primary" (click)="create()">
        {{ 'create_load_balancer' | translate }}
      </button>
    </div>
    <span fxFlex></span>
    <aui-search
      [searchButton]="false"
      placeholder="{{ 'filter_by_name_placeholder' | translate }}"
      (search)="searchChanged($event)"
    ></aui-search>
  </div>
  <aui-table [dataSource]="getLoadBalancerList()" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a
          href="javascript:void(0)"
          title="{{ rowData.metadata.name }}"
          [routerLink]="[
            '/console/admin/load_balancer/detail',
            rowData.metadata.namespace,
            rowData.metadata.name
          ]"
        >
          {{ rowData.metadata.name }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>
          {{ rowData.spec.type }}
        </span>
        <ng-template #noDescription>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="address">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'address' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>
          {{ rowData.spec.address }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div [auiDropdown]="menu" class="action-button">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item (click)="viewLoadBalancer(rowData)">
            {{ 'view' | translate }}
          </aui-menu-item>
          <aui-menu-item (click)="deleteLoadBalancer(rowData)">
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <rc-zero-state
    [zeroState]="!getLoadBalancerList().length"
    [fetching]="loading"
    resourceName="load_balancer"
  ></rc-zero-state>
</aui-card>
