.ingress-action {
  position: absolute;
  top: 70px;
  right: -27px;
}

.add-container {
  margin-top: 12px;

  .addRowBtn {
    border: solid 1px #009ce3;
    background-color: white;
    color: #009ce3;
  }
}

.ingress-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;

  &:not(:first-child) {
    margin-top: 12px;
  }
}
.ingress-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
