<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item formGroupName="metadata">
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      *ngIf="!isUpdate"
      aui-input
      auiFormItemControl
      formControlName="name"
      maxlength="63"
      [placeholder]="resourceNameReg.tip | translate"
      [rcErrorsTooltip]
      required
    />
    <span *ngIf="isUpdate">{{ form.get('metadata.name').value }}</span>
  </aui-form-item>

  <aui-form-item>
    <label class="aui-form-item__label-wrapper--required" auiFormItemLabel>
      {{ 'rule' | translate }}
    </label>
    <div class="ingress-container">
      <ng-container
        *ngFor="let item of form.get('spec.rules')?.controls; let i = index"
      >
        <div class="ingress-item">
          <rc-ingress-rule-form
            style="width:100%;"
            auiFormItemControl
            [domains]="domains"
            [services]="services"
            [secretNames]="secretNames"
            [formControl]="item"
          ></rc-ingress-rule-form>
          <button
            class="ingress-action"
            aui-button="text"
            (click)="remove(i)"
            [disabled]="form.get('spec.rules')?.controls?.length === 1"
          >
            <aui-icon icon="basic:trash" margin="right"></aui-icon>
          </button>
        </div>
      </ng-container>
      <div class="add-container">
        <div fxFlex></div>
        <button class="addRowBtn" aui-button type="button" (click)="add()">
          {{ 'add_rule' | translate }}
        </button>
      </div>
    </div>
  </aui-form-item>

  <aui-form-item [formGroup]="form.get('metadata.annotations')">
    <label auiFormItemLabel>{{ 'kube_ingress_controller' | translate }}</label>
    <input
      aui-input
      auiFormItemControl
      formControlName="kubernetes.io/ingress.class"
    />
  </aui-form-item>
</form>
