.status-desc {
  font-size: 12px;
  color: #999999;
  &.error {
    color: #eb6262;
  }
}

:host::ng-deep {
  .aui-status-bar {
    margin-bottom: 6px;
    &__chunk.waiting {
      background-color: #e5f5fc;
    }

    &__chunk.low {
      background-color: mix(#fff, #ffcc00, 20%);
    }

    &:hover .aui-status-bar__chunk.low {
      background-color: #ffcc00;
    }
  }
}

::ng-deep {
  .aui-tooltip.status-overview {
    padding: 0;
    border-width: 0;

    .status-summary {
      padding: 12px 20px 8px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      .aui-icon {
        margin-right: 8px;
        width: 16px;
        height: 16px;
      }
    }

    .count-summary {
      margin-bottom: 8px;
    }

    .status-detail {
      padding: 8px 60px 12px 20px;

      .severity-detail {
        list-style: none;
        .pointer {
          display: inline-block;
          margin-right: 8px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
        }

        .count {
          display: inline-block;
          width: 28px;
        }

        .level-1 {
          background-color: #1bb393;
        }
        .level-2 {
          background-color: #cccccc;
        }
        .level-3 {
          background-color: #ffcc00;
        }
        .level-4 {
          background-color: #f8ac58;
        }
        .level-5 {
          background-color: #eb6262;
        }
      }
    }

    .level-1 {
      color: #1bb393;
    }
    .level-2 {
      color: #cccccc;
    }
    .level-3 {
      color: #ffcc00;
    }
    .level-4 {
      color: #f8ac58;
    }
    .level-5 {
      color: #eb6262;
    }
  }
}
