<div *ngIf="tag.scanStatus === 'notScan'" class="status-desc">
  {{ 'devops_not_scan' | translate }}
</div>
<div *ngIf="tag.scanStatus === 'error'" class="status-desc error">
  <span>{{ 'devops_scan_failed' | translate }}</span>
  <aui-icon
    icon="basic:close_circle_s"
    margin="left"
    [auiTooltip]="tag.message"
    [auiTooltipDisabled]="!tag.message"
  ></aui-icon>
</div>
<ng-container *ngIf="tag.scanStatus === 'pending'">
  <aui-status-bar
    size="small"
    [status]="[{ scale: 1, class: 'waiting' }]"
  ></aui-status-bar>
  <div class="status-desc">{{ 'devops_pending' | translate }}...</div>
</ng-container>
<ng-container *ngIf="tag.scanStatus === 'running'">
  <aui-status-bar
    size="small"
    [status]="[{ scale: 1, type: 'pending' }]"
  ></aui-status-bar>
  <div class="status-desc">{{ 'devops_analyzing' | translate }}...</div>
</ng-container>
<ng-container *ngIf="tag.scanStatus === 'finished' && !!tag.summary">
  <aui-status-bar
    [status]="parseScanResult(tag.summary)"
    size="small"
    [auiTooltip]="tagStatus"
    [auiTooltipContext]="{ tag: tag }"
    auiTooltipClass="status-overview"
  ></aui-status-bar>
  <div class="status-desc">
    {{ 'devops_scanned_at' | translate }}
    {{ tag.updatedAt | rcRelativeTime }}
  </div>
</ng-container>
<ng-container *ngIf="tag.scanStatus === 'finished' && !tag.summary">
  <aui-status-bar
    [status]="[{ type: 'info', scale: 1 }]"
    size="small"
    [auiTooltip]="unknowTagStatus"
    auiTooltipClass="status-overview"
  ></aui-status-bar>
  <div class="status-desc">
    {{ 'devops_scanned_at' | translate }}
    {{ tag.updatedAt | rcRelativeTime }}
  </div>
</ng-container>

<ng-template #unknowTagStatus>
  <div class="status-summary">
    <aui-icon [class]="'level-2'" [icon]="getSeverityIcon(2)"></aui-icon>
    <span>
      {{ 'devops_vulnerability_severity' | translate }}:
      {{ 'devops_severity_2' | translate }}
    </span>
  </div>
  <div class="status-detail">
    <div>{{ 'devops_no_identifiable_vulnerability_found' | translate }}</div>
  </div>
</ng-template>

<ng-template #tagStatus let-tag="tag">
  <div class="status-summary">
    <aui-icon
      [class]="'level-' + tag.level"
      [icon]="getSeverityIcon(tag.level)"
    ></aui-icon>
    <span>
      {{ 'devops_vulnerability_severity' | translate }}:
      {{ 'devops_severity_' + tag.level | translate }}
    </span>
  </div>
  <div class="status-detail">
    <div class="count-summary">{{ getSummary(tag.summary) }}</div>

    <ul class="severity-detail">
      <li>
        <i class="pointer level-5"></i>
        <span class="count">{{ getSeverityCount(tag.summary, 5) }}</span>
        <span>{{ 'devops_severity_5' | translate }}</span>
      </li>
      <li>
        <i class="pointer level-4"></i>
        <span class="count">{{ getSeverityCount(tag.summary, 4) }}</span>
        <span>{{ 'devops_severity_4' | translate }}</span>
      </li>
      <li>
        <i class="pointer level-3"></i>
        <span class="count">{{ getSeverityCount(tag.summary, 3) }}</span>
        <span>{{ 'devops_severity_3' | translate }}</span>
      </li>
      <li>
        <i class="pointer level-2"></i>
        <span class="count">{{ getSeverityCount(tag.summary, 2) }}</span>
        <span>{{ 'devops_severity_2' | translate }}</span>
      </li>
      <li>
        <i class="pointer level-1"></i>
        <span class="count">{{ getSeverityCount(tag.summary, 1) }}</span>
        <span>{{ 'devops_severity_1' | translate }}</span>
      </li>
    </ul>
  </div>
</ng-template>
