:host {
  .aui-table {
    &__column-rules {
      a {
        cursor: pointer;
      }
    }
    &__column-action {
      flex: 0 0 80px;
      .action-button {
        &.disabled {
          cursor: not-allowed;
          color: #ccc;
          background-color: #fff;
        }
      }
    }
  }
}

::ng-deep .aui-tooltip.aui-tooltip--alarm_rule_list {
  max-width: 800px !important;
}

.alarm-table-rules {
  border-collapse: collapse;
  td {
    &:first-child {
      min-width: 120px;
    }
    &:nth-of-type(2) {
      min-width: 200px;
    }
    &:nth-of-type(3),
    &:last-child {
      min-width: 100px;
    }
    padding: 6px 8px;
  }
  &__body {
    font-size: 14px;
    color: #333333;
    tr:not(:last-child) {
      border-bottom: 1px dashed #e8e8e8;
    }
  }
}
