<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'alarm_template' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <button
      *ngIf="canCreateAlarmTemplate"
      aui-button="primary"
      (click)="createAlarmTemplate()"
    >
      {{ 'alarm_template_create' | translate }}
    </button>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [searching]="searching"
      [(keyword)]="keyword"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
  </div>

  <aui-table [dataSource]="list$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a [routerLink]="['/console/admin/alarm/templates/detail', item.name]">
          {{ item.name }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'monitoring_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div>{{ item.kind | translate }}</div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="rules">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'alarm_template_rules' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a
          [auiTooltip]="ruleDetail"
          auiTooltipType="info"
          auiTooltipTrigger="click"
          auiTooltipClass="aui-tooltip--alarm_rule_list"
          [auiTooltipContext]="{ rules: parseRules(item.template) }"
        >
          {{ item.template?.length }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="description">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'description' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div>{{ item.description | rcFieldNotAvailable }}</div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div>{{ item.created_at | rcFormatUtcStr }}</div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div
          [auiDropdown]="menu"
          [auiDropdownDisabled]="
            !(hasPermission(item, 'delete') || hasPermission(item, 'update'))
          "
          class="action-button"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item
            (click)="updateAlarmTemplate(item)"
            [disabled]="!hasPermission(item, 'update')"
          >
            {{ 'update' | translate }}
          </aui-menu-item>
          <aui-menu-item
            (click)="deleteAlarmTemplate(item)"
            [disabled]="!hasPermission(item, 'delete')"
          >
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>

  <rc-zero-state
    [zeroState]="showZeroState"
    [fetching]="!initialized && fetching"
    resourceName="alarm_template"
  ></rc-zero-state>
  <aui-paginator
    *ngIf="(listMeta$ | async)?.count"
    layout="total,pager,sizes,jumper"
    [length]="(listMeta$ | async)?.count"
    [pageSize]="(pageParams$ | async)?.pageSize"
    [pageIndex]="(pageParams$ | async)?.pageIndex - 1"
    (page)="pageChanged($event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
</aui-card>

<ng-template #ruleDetail let-rules="rules">
  <div class="alarm-table">
    <table class="alarm-table-rules">
      <thead class="alarm-table-rules__header">
        <tr>
          <td>{{ 'alarm_rules_name' | translate }}</td>
          <td>{{ 'alarm_rule' | translate }}</td>
          <td>{{ 'level' | translate }}</td>
          <td>{{ 'alarm_rules_action' | translate }}</td>
        </tr>
      </thead>
      <tbody class="alarm-table-rules__body">
        <tr *ngFor="let rule of rules">
          <td class="alarm-table-rules__body__host">
            <div>{{ rule.name }}</div>
          </td>
          <td>
            <div>{{ getRule(rule, metric_type) }}</div>
          </td>
          <td>
            <div>{{ rule.labels?.severity }}</div>
          </td>
          <td>
            <div>{{ getRulesAction(rule) }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
