<div
  #anchor
  class="xterm-anchor"
  [class.xterm-anchor--dark-theme]="theme === 'dark'"
></div>

<div
  class="status-indicator"
  [auiTooltip]="statusIndicatorTooltip"
  auiTooltipType="info"
  auiTooltipPosition="start"
  [ngClass]="'status-indicator--' + connectionStatus"
>
  <aui-icon
    [icon]="
      connectionStatus !== 'connecting' ? 'basic:cloud_signal_s' : 'spinner'
    "
  ></aui-icon>
</div>

<ng-template #statusIndicatorTooltip>
  <div [ngSwitch]="connectionStatus" class="status-indicator-tooltip">
    <ng-container *ngSwitchCase="'connecting'">
      {{ 'exec_connecting' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'goodConnection'">
      {{ 'exec_good_connection' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'badConnection'">
      {{ 'exec_high_latecency_warning' | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'disconnected'">
      {{ 'exec_disconnected' | translate }}
      <a href="javascript:location.reload()">
        {{ 'exec_reconnect' | translate }}
      </a>
    </ng-container>
  </div>
</ng-template>
