<div
  *rcAsyncData="
    let data;
    let loading = loading;
    let error = error;
    params: _params;
    handler: fetchSecrets;
    notification: refresh$;
    pullIn: 30 * 1000
  "
>
  <div class="list-header">
    <div class="btn-wrapper">
      <button
        aui-button="primary"
        type="button"
        (click)="create()"
        [disabled]="!permissions.canCreate"
      >
        {{ 'secret_create' | translate }}
      </button>
    </div>
    <div class="alo-search">
      <button aui-button [auiDropdown]="searchMenu">
        {{ searchBy | translate }}
        <aui-icon icon="angle_down"></aui-icon>
      </button>
      <aui-search
        [keyword]="params.keywords"
        [placeholder]="
          (searchBy === 'name'
            ? 'search_by_name_placeholder'
            : 'search_by_display_name_placeholder') | translate
        "
        [searchButton]="true"
        [searching]="loading"
        (search)="onSearch($event)"
      ></aui-search>
      <aui-menu #searchMenu>
        <aui-menu-item
          (click)="searchBy = 'name'"
          [actived]="searchBy === 'name'"
        >
          {{ 'name' | translate }}
        </aui-menu-item>
        <aui-menu-item
          (click)="searchBy = 'display_name'"
          [actived]="searchBy === 'display_name'"
        >
          {{ 'display_name' | translate }}
        </aui-menu-item>
      </aui-menu>
    </div>
  </div>
  <aui-table
    auiSort
    [dataSource]="(data && data.items) || []"
    [trackBy]="secretTracker"
    [active]="params.sort"
    [direction]="params.direction"
    (sortChange)="onSortChange($event)"
  >
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef aui-sort-header>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item" class="name-cell">
        <div class="name-cell__content">
          <a
            *ngIf="!!itemRoute"
            class="name-cell__name"
            [routerLink]="itemRoute(item)"
          >
            <span>{{ item.name }}</span>
          </a>
          <span *ngIf="!itemRoute" class="name-cell__name">
            <span>{{ item.name }}</span>
          </span>
          <div class="name-cell__display-name" *ngIf="item?.displayName">
            {{ item.displayName }}
          </div>
        </div>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'secret_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.type }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="creationTimestamp">
      <aui-table-header-cell
        *auiTableHeaderCellDef
        aui-sort-header
        start="desc"
      >
        {{ 'created_at' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.creationTimestamp | rcFormatUtcStr }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="actions">
      <aui-table-header-cell
        *auiTableHeaderCellDef
        start="desc"
      ></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-menu-trigger
          [menu]="actionsMenu"
          [context]="{ item: item }"
        ></rc-menu-trigger>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <rc-zero-state
    *ngIf="!(data && data?.length > 0)"
    [zeroState]="true"
    resourceName="secret_list"
  ></rc-zero-state>
  <aui-paginator
    *ngIf="data && data.length"
    [pageIndex]="pageIndex || 0"
    [pageSize]="pageSize || 20"
    [pageSizeOptions]="[20, 50, 100]"
    [total]="data.length"
    (page)="onPageChange($event)"
  ></aui-paginator>
</div>

<aui-menu #actionsMenu>
  <ng-template auiMenuContent let-item="item">
    <aui-menu-item [disabled]="!permissions.canUpdate" (click)="update(item)">
      {{ 'update' | translate }}
    </aui-menu-item>
    <aui-menu-item
      [disabled]="!permissions.canDelete"
      type="danger"
      (click)="delete(item)"
    >
      {{ 'delete' | translate }}
    </aui-menu-item>
  </ng-template>
</aui-menu>
