.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.aui-table {
  min-width: 0px;
  &__column-name {
    flex: 1;
  }
  &__column-project {
    flex: 1;
  }
  &__column-type {
    flex: 1;
  }
  &__column-createTimestamp {
    flex: 1;
  }
  &__column-createBy {
    flex: 1;
  }
  &__column-actions {
    max-width: 40px;
  }
}

aui-paginator {
  margin-top: 20px;
}

.name-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
  min-width: 0;
  &__icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 8px;
  }
  &__content {
    flex: 1;
    display: block;
    min-width: 0;
  }
  &__name {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__display-name {
    width: 100%;
    display: block;
    color: #999;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
:host {
  .alo-search {
    display: flex;

    .aui-button {
      margin-right: -1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:focus,
      &:hover,
      &:active,
      &.isActived {
        z-index: 1;
      }
    }

    ::ng-deep {
      .aui-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
