<aui-table auiSort [dataSource]="bindings" [trackBy]="bindingName">
  <ng-container auiTableColumnDef="tenant_name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'tool_chain_tenant_name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.project }}
      <aui-icon
        *ngIf="item?.createdMode === 'subscription'"
        icon="basic:project_circle_s"
        [auiTooltip]="'tool_chain_tenant_subscription' | translate"
        auiTooltipPosition="top"
      ></aui-icon>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="resource">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ getToolResourceDisplayName(toolType) }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <span
        *ngIf="item.resources && item.resources.length === 0; else resourceInfo"
      >
        -
      </span>
      <ng-template #resourceInfo>
        <div class="resource">
          <div class="resource-tag-container">
            <div class="resource-tag-wrapper" [ngClass]="iconType">
              <aui-tag
                *ngFor="let r of (item.resources | slice: 0:2)"
                type="info"
                size="mini"
              >
                {{ r.name }}
              </aui-tag>
            </div>
          </div>
          <aui-tag
            *ngIf="item.resources && item.resources.length > 2"
            type="info"
            size="mini"
            class="full-content-toggle"
            [auiTooltip]="resourceList"
            auiTooltipType="info"
            auiTooltipPosition="top"
          >
            ...
          </aui-tag>
        </div>
        <ng-template #resourceList>
          <div class="resource-tag-wrapper more-resources" [ngClass]="iconType">
            <aui-tag *ngFor="let r of item.resources" type="info" size="mini">
              {{ r.name }}
            </aui-tag>
          </div>
        </ng-template>
      </ng-template>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="allocate">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <div class="detail-info">
        <span>{{ item.name }}</span>
        <span style="font-size: 12px">
          {{ getResourceTips(item.createdMode) }}
          {{ item.creationTimestamp | rcRelativeTime }}
        </span>
      </div>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="description">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'tool_chain_allocate_desc' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.description || '-' }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="actions">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <rc-menu-trigger
        [context]="{ item: item }"
        [menu]="actionsMenu"
      ></rc-menu-trigger>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row
    *auiTableHeaderRowDef="judgeType(toolType)"
  ></aui-table-header-row>
  <aui-table-row
    *auiTableRowDef="let row; columns: judgeType(toolType)"
  ></aui-table-row>
</aui-table>

<aui-menu #actionsMenu>
  <ng-template auiMenuContent let-item="item">
    <aui-menu-item
      [disabled]="updateDisabled || !permissions.canUpdate"
      (click)="update(item)"
    >
      {{ 'update' | translate }}
    </aui-menu-item>
    <aui-menu-item
      [disabled]="!permissions.canDelete"
      type="danger"
      [divide]="true"
      (click)="delete(item)"
    >
      {{ 'delete' | translate }}
    </aui-menu-item>
  </ng-template>
</aui-menu>
