@import 'mixins';
@import 'var';
@import '../resource-icon';

@include allocate-resource-icon();

.aui-table {
  &__column-actions {
    max-width: 40px;
  }
}

.detail-info {
  span:nth-last-child(1) {
    display: block;
    color: #999999;
    margin-top: 4px;
  }
}

.resource {
  display: flex;
  .resource-tag-container {
    @include text-overflow();
    display: inline-block;
    border-radius: 10px;
    margin: 0 4px 0 0;
    height: 22px;
    .resource-tag-wrapper {
      @include text-overflow();
      margin-bottom: -4px;
    }
  }
  .full-content-toggle {
    ::ng-deep .aui-tag:hover {
      color: #33afe8;
      background: #e5f5fc;
      border-color: #33afe8;
    }
  }
}

:host {
  ::ng-deep {
    aui-table {
      aui-table-row {
        cursor: default;
      }
    }
    .aui-icon {
      width: 16px;
      height: 16px;
      line-height: 16px;
      color: $color-text-help;
      :hover {
        color: $color-primary;
      }
    }
  }
}
::ng-deep {
  .more-resources {
    padding: 12px 4px 4px;
    .aui-tag {
      margin-bottom: 8px;
    }
  }
}
