::ng-deep {
  .aui-tooltip {
    max-width: 600px !important;
  }
}
.ingress-table-rules {
  &__header {
    td {
      &:not(:last-child) {
        min-width: 250px;
      }
      color: #999999;
      font-size: 12px;
    }
  }
  &__body {
    tr {
      &:not(:last-child) {
        td {
          border-bottom: thin dashed #ededed;
        }
      }
    }
    td {
      &:not(:last-child) {
        min-width: 250px;
        padding: 0px 30px 4px 0px;
      }
      div {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a {
          &:hover {
            color: #2a8baf !important;
          }
        }
      }
    }
    &__host {
      min-width: 250px !important;
      max-width: 250px;
    }
  }
}
.tip-rules {
  max-height: 400px;
  overflow: auto;
  .ingress-table-rules {
    &__header {
      td {
        &:not(:last-child) {
          min-width: 150px;
        }
      }
    }
    &__body {
      td {
        &:not(:last-child) {
          min-width: 150px;
        }
        div {
          max-width: 150px;
        }
      }
      &__host {
        min-width: 150px !important;
        max-width: 150px;
      }
    }
  }
}
