<div class="ingress-table-rules">
  <table>
    <thead class="ingress-table-rules__header">
      <tr>
        <td>{{ 'address' | translate }}</td>
        <td>{{ 'kube_service' | translate }}</td>
        <td>{{ 'port' | translate }}</td>
      </tr>
    </thead>
    <tbody class="ingress-table-rules__body">
      <tr *ngFor="let rule of data">
        <td class="ingress-table-rules__body__host">
          <div>
            <a
              target="view_window"
              [href]="'http://' + rule.host"
              [auiTooltip]="rule.host"
              [auiTooltipPosition]="'top start'"
            >
              {{ rule.host | rcFieldNotAvailable }}
            </a>
          </div>
        </td>
        <td>
          <div>{{ rule.service | rcFieldNotAvailable }}</div>
        </td>
        <td>
          <div>{{ rule.port | rcFieldNotAvailable }}</div>
        </td>
      </tr>
      <div *ngIf="total > maxLen && visibleTotal">
        <span>{{ 'ingress_total' | translate }}</span>
        <button
          size="mini"
          auiTooltipType="info"
          [auiTooltip]="portMenu"
          auiTooltipPosition="bottom start"
          auiTooltipTrigger="click"
          aui-button="text"
          class="action-button"
        >
          {{ total }}
        </button>
        <span>{{ 'items' | translate }}</span>
      </div>
      <ng-template #portMenu>
        <div class="tip-rules">
          <rc-ingress-list-rules
            [maxLen]="null"
            [visibleTotal]="false"
            [rules]="rules"
          ></rc-ingress-list-rules>
        </div>
      </ng-template>
      <ng-template #noDescription>-</ng-template>
    </tbody>
  </table>
</div>
