@import 'var';
@import '../../_status.colors.scss';
@import 'var';

.rc-list-container {
  margin-bottom: 16px;
  a {
    color: #24a7e3;
  }
  .status {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    aui-icon {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $color-info;
      color: white;
      margin-right: 8px;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span {
      color: $color-info;
    }
    @each $status, $color in $pipeline-status-color-map {
      &.#{$status} {
        .stick,
        aui-icon {
          background-color: $color;
          &::after {
            content: '';
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            background-image: url(../../icons/#{$status}.svg);
          }
        }
        span {
          color: $color;
        }
      }
    }
  }

  ul {
    list-style: none;
    li {
      aui-icon {
        min-width: 16px;
      }
    }
  }
  .tags-container {
    height: 20px;
    width: 100%;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    .tags {
      height: 20px;
      display: inline-block;
      overflow: hidden;
      border-radius: 2px;
      background-color: #f2fafe;
      border: solid 1px #e5f5fc;
      margin-right: 4px;
      font-size: 12px;
      text-align: left;
      padding: 0 4px;
      max-width: 320px;
      color: #666;
      text-overflow: ellipsis;
      line-height: 20px;
    }
    .tags-popover {
      @extend .tags;
      margin-right: 0;
      border-left: 4px solid #fff;
    }
  }
}

.list-status {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 48px;
}

.label-popover {
  max-width: 500px;
  & > span {
    border-radius: 3px;
    margin: 2px;
    display: inline-block;
    padding: 0 4px;
    background: #e8e8e8;
  }
}
