.rc-detail-container {
  padding: 0;
  margin: 0;
  min-height: auto;
  .detail-wrapper {
    margin: 0;
    .detail-item {
      align-items: flex-start;
      margin-top: 12px;
    }
  }
}
:host::ng-deep {
  .aui-card {
    margin-bottom: 16px;
  }
  a {
    color: #0ea2e5;
    &:hover {
      color: #0ea2e5 !important;
    }
  }
}
