<aui-card *ngIf="data">
  <div auiCardHeader>
    {{ 'basic_info' | translate }}
  </div>
  <div class="rc-detail-container">
    <div class="detail-wrapper">
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'name' | translate }}</label>
          <div>{{ data.metadata.name }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'size' | translate }}</label>
          <div>{{ data.spec.capacity.storage }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'status' | translate }}</label>
          <rc-status-badge
            [status]="statusMap[data.status.phase]"
          ></rc-status-badge>
        </div>
        <div class="detail-item">
          <label>{{ 'access_mode' | translate }}</label>
          <div>{{ accessModes[data.spec.accessModes[0]] | translate }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'referenced_pvc' | translate }}</label>
          <div>{{ data.spec.claimRef?.name | rcFieldNotAvailable }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'recycle_strategy' | translate }}</label>
          <div>
            {{ recycleModesMap[data.spec.persistentVolumeReclaimPolicy] |
            translate }}
          </div>
        </div>
        <div class="detail-item">
          <label>{{ 'k8s_storageclasses' | translate }}</label>
          <a
            [routerLink]="[
              '/console/admin/storage/storageclass/detail',
              data.spec.storageClassName
            ]"
            *ngIf="data.spec.storageClassName; else noVolume"
          >
            {{ data.spec.storageClassName }}
          </a>
          <ng-template #noVolume>-</ng-template>
        </div>
        <div class="detail-item">
          <label>{{ 'created_date' | translate }}</label>
          <div>{{ data.metadata.creationTimestamp | rcFormatMs }}</div>
        </div>
      </div>
    </div>
  </div>
</aui-card>
