:host {
  display: block;
  height: 100vh;
  width: 100%;
  ::ng-deep.aui-layout__page {
    .layout-page-content {
      min-width: 800px; // 1000-200
      position: relative;
    }
  }
  aui-nav-item:focus {
    outline: none;
  }
}

.nav-header {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  img {
    height: 32px;
    max-width: 100%;
  }
}

.user-docs-url-link {
  padding: 4px 6px;
  height: 28px;
  border-radius: 2px;
  margin-right: 8px;
  color: #fff;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.layout-toolbar {
  display: flex;
  flex: 1;
  align-items: center;
  height: 48px;
}

.layout-page-header {
  display: flex;
  align-items: center;
  flex: 1;
}

.layout-page-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  ::ng-deep router-outlet + * {
    display: block;
    width: 100%;
  }
}
