<aui-dialog-header>
  <span>{{ 'secret_update_secret' | translate }}</span>
</aui-dialog-header>
<aui-dialog-content>
  <rc-credential-edit
    mode="update"
    [namespace]="data.namespace"
    [name]="data.name"
    [space]="data.space"
    #editor="rc-credential-edit"
    (saved)="close($event)"
    (statusChange)="onStatusChange($event)"
  ></rc-credential-edit>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="['saving', 'loading'].includes(status)"
    [loading]="status === 'saving'"
    (click)="editor.submit()"
  >
    {{ 'update' | translate }}
  </button>

  <button aui-button auiDialogClose>
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
