@import 'var';

:host {
  ::ng-deep {
    .aui-tab-group {
      background-color: #fff;
      .aui-tab-body__content {
        padding: 16px;
      }
    }
  }

  .detail-header {
    display: flex;
    width: 100%;
    align-items: center;

    aui-icon.aui-icon__failed {
      color: #f8ac58;
    }
    aui-icon.aui-icon__pending {
      color: #009ce3;
    }
  }
}
