<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'rbac' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/rbac/roles']">
        {{ 'roles_management' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ roleDetail.name }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<aui-card *ngIf="initialized">
  <div class="rc-detail-container">
    <div class="detail-wrapper" style="margin-left: 0">
      <div class="detail-header">
        <h3>
          {{ roleDetail.name }}
          <aui-icon
            *ngIf="roleSyncStatus"
            auiTooltipTrigger="hover"
            auiTooltipPosition="top"
            [auiTooltip]="roleDetailSyncEventTip"
            [auiTooltipContext]="{ status: roleSyncStatus }"
            [class]="
              roleSyncStatus === 'failed'
                ? 'aui-icon__failed'
                : 'aui-icon__pending'
            "
            [icon]="
              roleSyncStatus === 'failed'
                ? 'exclamation_circle_s'
                : 'basic:sync_circle_s'
            "
          ></aui-icon>
        </h3>
        <span fxFlex></span>
        <button
          *ngIf="roleUpdatePermission"
          aui-button="primary"
          (click)="update()"
        >
          {{ 'update_permission' | translate }}
        </button>
        <button
          *ngIf="roleSyncStatus === 'failed'"
          aui-button="primary"
          (click)="republish()"
        >
          {{ 'republish' | translate }}
        </button>
      </div>
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'role_type' | translate }}</label>
          <div>
            {{
              (roleDetail.role_type
                ? getRoleTypeLevel(roleDetail.role_type, false)
                : '-') | translate
            }}
          </div>
        </div>
        <div
          *ngIf="roleDetail.role_type !== RoleTypes.Platform"
          class="detail-item"
        >
          <label>{{ 'project' | translate }}</label>
          <div>{{ roleDetail.project_name }}</div>
        </div>
        <div
          *ngIf="roleDetail.role_type === RoleTypes.Namespace"
          class="detail-item"
        >
          <label>{{ 'namespace' | translate }}</label>
          <div>{{ roleDetail.namespace }}</div>
        </div>
        <div
          *ngIf="roleDetail.role_type === RoleTypes.Space"
          class="detail-item"
        >
          <label>{{ 'group' | translate }}</label>
          <div>{{ roleDetail.space_name }}</div>
        </div>
        <div class="detail-item" *ngIf="!k8s_auth_enabled">
          <label>{{ 'rbac_parent_roles' | translate }}</label>
          <div *ngIf="roleDetail.parents?.length">
            <span *ngFor="let parent of roleDetail.parents; last as last">
              {{ last ? parent.name : parent.name + ', ' }}
            </span>
          </div>
          <div *ngIf="!roleDetail.parents?.length">-</div>
        </div>
        <div class="detail-item">
          <label>{{ 'created_by' | translate }}</label>
          <div>{{ roleDetail.created_by }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'created_at' | translate }}</label>
          <div>{{ roleDetail.created_at | rcFormatUtcStr }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'updated_at' | translate }}</label>
          <div>{{ roleDetail.updated_at | rcFormatUtcStr }}</div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #roleDetailSyncEventTip let-status="status">
    <ng-container *ngIf="status === 'failed'">
      <p>{{ 'role_abnormal' | translate }}</p>
      <p>{{ 'role_detail_sync_abnomarl_tip' | translate }}</p>
    </ng-container>
    <ng-container *ngIf="status === 'pending'">
      <p>{{ 'status_pending' | translate }}</p>
    </ng-container>
  </ng-template>
</aui-card>

<aui-card *ngIf="initialized">
  <aui-tab-group>
    <!-- 权限内容 -->
    <aui-tab>
      <div *auiTabLabel>{{ 'permission' | translate }}</div>
      <div *auiTabContent>
        <rc-role-detail-permission
          *ngIf="!tableHidden"
          [permissions]="permissions"
        ></rc-role-detail-permission>
        <aui-inline-alert
          *ngIf="tableHidden"
          [content]="'role_has_all_permissions' | translate"
          [closable]="false"
        ></aui-inline-alert>
      </div>
    </aui-tab>

    <!-- 父角色 -->
    <aui-tab *ngIf="!k8s_auth_enabled">
      <div *auiTabLabel>{{ 'rbac_parent_roles' | translate }}</div>
      <div *auiTabContent>
        <div class="topbar" style="padding-bottom: 20px;">
          <button
            *ngIf="roleUpdatePermission"
            aui-button="primary"
            (click)="addParent()"
          >
            {{ 'rbac_add_parent_role' | translate }}
          </button>
        </div>
        <aui-table [dataSource]="parents">
          <ng-container auiTableColumnDef="name">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'name' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <a (click)="showDetail(item.name)">{{ item.name }}</a>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="time">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'assigned_at' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.assigned_at | rcFormatUtcStr }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="action">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'action' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <button aui-button="text" plain="true" [auiDropdown]="menu">
                <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
              </button>
              <aui-menu #menu size="small">
                <aui-menu-item (click)="showParent(item.name)">
                  {{ 'view' | translate }}
                </aui-menu-item>
                <aui-menu-item
                  *ngIf="roleUpdatePermission"
                  (click)="removeParent(item.name, item.uuid)"
                >
                  {{ 'remove' | translate }}
                </aui-menu-item>
              </aui-menu>
            </aui-table-cell>
          </ng-container>
          <aui-table-header-row
            *auiTableHeaderRowDef="['name', 'time', 'action']"
          ></aui-table-header-row>
          <aui-table-row
            *auiTableRowDef="let row; columns: ['name', 'time', 'action']"
          ></aui-table-row>
        </aui-table>
      </div>
    </aui-tab>

    <!-- 成员 -->
    <aui-tab>
      <div *auiTabLabel>{{ 'members' | translate }}</div>
      <div *auiTabContent>
        <div
          class="topbar"
          style="display: flex; justify-content: space-between; padding-bottom: 20px;"
        >
          <button
            *ngIf="roleAssignPermission"
            aui-button="primary"
            (click)="addUsers()"
          >
            {{ 'add_user' | translate }}
          </button>
          <aui-search
            [searching]="loading"
            (search)="search($event)"
          ></aui-search>
        </div>
        <aui-table [dataSource]="users">
          <ng-container auiTableColumnDef="name">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'name' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.user }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="alias_name">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'alias_name' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.realname || '-' }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="time">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'assigned_at' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.assigned_at | rcFormatUtcStr }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="action">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'action' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <button aui-button="text" [plain]="true" [auiDropdown]="menu">
                <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
              </button>
              <aui-menu #menu size="small">
                <aui-menu-item
                  *ngIf="roleUpdatePermission"
                  href="javascript:void(0);"
                  (click)="removeUser(item.user)"
                >
                  {{ 'delete' | translate }}
                </aui-menu-item>
              </aui-menu>
            </aui-table-cell>
          </ng-container>
          <aui-table-header-row
            *auiTableHeaderRowDef="['name', 'alias_name', 'time', 'action']"
          ></aui-table-header-row>
          <aui-table-row
            *auiTableRowDef="
              let row;
              columns: ['name', 'alias_name', 'time', 'action']
            "
          ></aui-table-row>
        </aui-table>
        <aui-paginator
          [currentPage]="currentUserPage"
          pageSize="20"
          [total]="userCount"
          (currentPageChange)="pageChanged($event)"
        ></aui-paginator>
      </div>
    </aui-tab>
  </aui-tab-group>
</aui-card>
