<aui-card *ngIf="data">
  <div auiCardHeader>
    {{'basic_info' | translate}}
    <div fxFlex></div>
    <button aui-button="default" [plain]="true" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu size="small">
      <aui-menu-item
        *ngIf="data.spec.protocol =='https'"
        [disabled]="!canUpdate"
        (click)="onUpdateDefaultCertificate.next()"
      >
        {{ 'update_default_certificate' | translate }}
      </aui-menu-item>
      <aui-menu-item
        [disabled]="!canUpdate"
        (click)="onUpdateDefaultService.next()"
      >
        {{ 'update_default_kube_service' | translate }}
      </aui-menu-item>
      <aui-menu-item [disabled]="!canUpdate" (click)="onDelete.next()">
        {{ 'delete_port' | translate }}
      </aui-menu-item>
    </aui-menu>
  </div>
  <div class="rc-detail-container">
    <div class="detail-wrapper">
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'name' | translate }}</label>
          {{ data.metadata.name }}
        </div>
        <div class="detail-item">
          <label>{{ 'protocol' | translate }}</label>
          {{ data.spec.protocol | uppercase }}
        </div>
        <div class="detail-item">
          <label>{{ 'region_belonged' | translate }}</label>
          {{ cluster }}
        </div>
        <div class="detail-item">
          <label>{{ 'default_kube_service' | translate }}</label>
          <ng-container
            *ngIf="
              data.spec.serviceGroup?.services?.length;
              else noService
            "
          >
            <rc-load-balancer-service-weight-display
              [services]="data.spec.serviceGroup.services"
            ></rc-load-balancer-service-weight-display>
          </ng-container>
          <ng-template #noService>-</ng-template>
        </div>
        <div class="detail-item" *ngIf="data.spec.protocol =='https'">
          <label>{{ 'default_certificate' | translate }}</label>
          {{ data.spec.certificate_name }}
        </div>
      </div>
    </div>
  </div>
</aui-card>
