<div class="rc-query rc-mb-5">
  <form class="rc-query-form" auiForm auiFormLabelWidth="130px">
    <div class="rc-query-fields">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'monitor_period' | translate }}</label>
        <aui-select
          auiFormItemControl
          [(ngModel)]="timeRangeOption"
          includes
          [loading]="loading"
          (ngModelChange)="onTimeRangeChanged($event)"
          name="timeRangeSelect"
        >
          <aui-option
            *ngFor="let option of timeRangeOptions"
            [label]="option.name"
            [value]="option.type"
          >
            {{ option.name }}
          </aui-option>
        </aui-select>
        <div
          class="rc-time-select"
          *ngIf="timeRangeOption === 'custom_time_range'"
        >
          <label>{{ 'from' | translate }}</label>
          <div
            (valueChange)="onStartTimeSelect($event)"
            [rcCalendar]="calendarOptions"
            [(value)]="queryDatesShown.startTime"
          >
            <input
              aui-input
              [ngModel]="queryDatesShown.startTime"
              name="startTime"
              auiFormItemControl
            />
          </div>
          <label>{{ 'to' | translate }}</label>
          <div
            (valueChange)="onEndTimeSelect($event)"
            [rcCalendar]="calendarOptions"
            [(value)]="queryDatesShown.endTime"
          >
            <input
              aui-input
              [ngModel]="queryDatesShown.endTime"
              auiFormItemControl
              name="endTime"
            />
          </div>
        </div>
        <div *ngIf="timeRangeOutOfDate" class="rc-time-select-out-of-range">
          {{ 'query_condition_time_range_out_of_date' | translate }}
        </div>
      </aui-form-item>
      <aui-form-item *ngIf="!embedded">
        <label auiFormItemLabel>{{ 'query_condition' | translate }}</label>
        <aui-muti-select
          auiFormItemControl
          name="queryCondition"
          [(ngModel)]="conditions"
          (ngModelChange)="setConditions($event)"
          size="medium"
          [allowCreate]="true"
          [filterable]="true"
          [loading]="loadingSuggestions"
        >
          <aui-option-placeholder>
            {{ 'search_no_result' | translate }}
          </aui-option-placeholder>
          <aui-option
            *ngFor="let option of suggestions"
            [label]="option"
            [value]="option"
          >
            {{ option }}
          </aui-option>
        </aui-muti-select>
      </aui-form-item>
    </div>
  </form>
</div>

<div class="event-list" [rcLoadingMask]="loading">
  <ng-container *ngIf="initialized && events.length">
    <aui-table [dataSource]="events" [trackBy]="trackByFn">
      <ng-container auiTableColumnDef="namespace" *ngIf="!isUserView">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'namespace' | translate }}
        </aui-table-header-cell>
        <aui-table-cell
          *auiTableCellDef="let item"
          title="{{ item.metadata.namespace }}"
          [auiTooltip]="item.metadata.namespace"
        >
          <ng-container *ngIf="item.metadata.namespace; else noNamespace">
            {{ item.metadata.namespace }}
          </ng-container>
          <ng-template #noNamespace>-</ng-template>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="type">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'type' | translate }}
        </aui-table-header-cell>
        <aui-table-cell
          *auiTableCellDef="let item"
          [auiTooltip]="item.involvedObject.kind"
        >
          {{ item.involvedObject.kind }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="resource_name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'k8s_event_resource_name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell
          *auiTableCellDef="let item"
          [auiTooltip]="item.involvedObject.name"
        >
          {{ item.involvedObject.name }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="time_range">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'k8s_event_time_range' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div
            class="rc-text-overflow"
            title="{{ item.firstTimestamp }}"
            [auiTooltip]="item.firstTimestamp | rcFormatUtcStr"
          >
            {{ item.firstTimestamp | rcFormatUtcStr }}
          </div>
          <div
            class="rc-text-overflow"
            title="{{ item.lastTimestamp }}"
            [auiTooltip]="item.lastTimestamp | rcFormatUtcStr"
          >
            {{ item.lastTimestamp | rcFormatUtcStr }}
          </div>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="count">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'k8s_event_count' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.count }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="reason">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'k8s_event_reason' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item" [auiTooltip]="item.reason">
          {{ item.reason }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="message">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'k8s_event_message' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item" [auiTooltip]="item.message">
          {{ item.message }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'action' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <a
            href="javascript:void(0)"
            (click)="showDetailTemplate(item, eventDetailTemplate)"
          >
            {{ 'event_detail' | translate }}
          </a>
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>
  </ng-container>
  <div class="event-empty" *ngIf="!loading && initialized && !events.length">
    <ng-container *ngIf="isUserView; else platform">
      <div
        [translate]="'zero_state_hint'"
        [translateParams]="{ resourceName: 'event' | translate }"
      ></div>
    </ng-container>
    <ng-template #platform>
      {{ (conditions.length > 0 ? 'no_results' : 'no_data') | translate }}
    </ng-template>
  </div>
</div>
<div class="event-pagination" *ngIf="pagination.count > 0">
  <aui-paginator
    *ngIf="initialized && events.length"
    layout="total,pager,sizes,jumper"
    [disabled]="loading"
    [(currentPage)]="pagination.current"
    [(pageSize)]="pagination.size"
    [total]="pagination.count"
    (currentPageChange)="currentPageChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
  <aui-icon
    icon="basic:question"
    class="event-search-hint"
    auiTooltipPosition="start center"
    auiTooltipType="info"
    [auiTooltip]="'logs_search_hint' | translate"
  ></aui-icon>
</div>

<ng-template #eventDetailTemplate>
  <aui-dialog-header>
    {{ 'event_detail' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-code-editor
      class="rc-sample-code-editor"
      [options]="{ language: 'json', readOnly: true }"
      [actionsConfig]="actionsConfigView"
      [ngModel]="event_detail | json"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>
