@import 'var';

:host {
  ::ng-deep {
    .form-main-container {
      flex: 1;
    }
    .form-input-row {
      width: 100%;
    }
  }
}

.rc-query {
  background-color: $color-white;
  &-form {
    display: flex;
  }
  &-fields {
    flex: 1;
    padding: 20px 20px 0;
  }
  &-submit {
    padding: 0 space(5);
    display: flex;
    align-items: center;
    background-color: #fafafa;
  }
  aui-muti-select {
    flex: 1;
    ::ng-deep .aui-muti-select {
      width: 100%;
      .aui-tag--info {
        color: #666;
      }
    }
  }
  &-date {
    margin-right: space(1);
    .rc-input-wrapper {
      margin-left: space(1);
    }
  }
}
.event-list {
  padding: space(5);
  background-color: $color-white;
  .aui-table {
    &__cell,
    &__header-cell {
      padding: 0 space(2);
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__column {
      &-namespace {
        flex: 3;
      }
      &-type {
        flex: 2;
      }
      &-resource_name {
        flex: 3;
      }
      &-count {
        flex: 2;
        text-align: right;
      }
      &-reason {
        flex: 2;
      }
      &-time_range {
        flex: 4;
      }
      &-message {
        flex: 8;
      }
      &-action {
        flex: 2;
      }
    }
  }
}
.event-empty {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text-help;
}
.event-pagination {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-end;
  .event-search-hint {
    margin-top: 12px;
    padding: 6px 6px 0;
  }
}
