<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a
        [routerLink]="[
          '/console/user/project',
          { project: (currentProject$ | async)?.name }
        ]"
      >
        {{ 'project_overview' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'project_detail' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="!(currentProject$ | async)"></rc-loading-mask>
<ng-container *ngIf="(currentProject$ | async)">
  <rc-project-detail [project]="currentProject$ | async"></rc-project-detail>
</ng-container>
