<aui-dialog-header>
  {{ 'please_select_create_mode' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div class="create-mode-container">
    <a class="mode-card" (click)="templateList()">
      <div class="img template"></div>
      <p>
        {{ 'jenkins_pipeline_create_by_template' | translate }}
      </p>
      <h3>
        {{ 'jenkins_pipeline_template_create' | translate }}
      </h3>
    </a>
    <a class="mode-card" (click)="selected()">
      <div class="img jenkinsfile"></div>
      <p>
        {{ 'jenkins_pipeline_create_by_jenkinsfile' | translate }}
      </p>
      <h3>
        {{ 'jenkins_pipeline_jenkinsfile_create' | translate }}
      </h3>
    </a>
  </div>
</aui-dialog-content>
