<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'config' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="back()">
        {{ 'configmap' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ name }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<div *ngIf="empty && !loading" class="rb-loading-mask-placeholder">
  <div *ngIf="!loadError">
    {{ 'have_no_configmap' | translate }}
  </div>
  <div *ngIf="loadError">
    {{ 'network_issue' | translate }}
  </div>
  <button
    *ngIf="loadError"
    aui-button="primary"
    style="margin-top: 12px;"
    (click)="refetch()"
  >
    {{ 'refresh' | translate }}
  </button>
</div>

<aui-tab-group *ngIf="!loading">
  <!-- detail info -->
  <aui-tab>
    <ng-container *auiTabLabel>
      {{ 'detail_info' | translate }}
    </ng-container>
    <ng-container *auiTabContent>
      <aui-card *ngIf="configmapData">
        <div auiCardHeader>
          <h3>{{ configmapData.kubernetes.metadata.name }}</h3>
          <div fxFlex></div>
          <div class="detail-buttons">
            <button
              aui-button
              *ngIf="configmapUtilities.showUpdate(configmapData)"
              (click)="addConfig()"
            >
              {{ 'add_configuration_item' | translate }}
            </button>
            <button
              aui-button
              *ngIf="configmapUtilities.showUpdate(configmapData)"
              (click)="updateConfigmap()"
            >
              {{ 'update_configmap' | translate }}
            </button>
            <button
              aui-button
              *ngIf="configmapUtilities.showDelete(configmapData)"
              (click)="deleteConfigmap()"
            >
              {{ 'delete_configmap' | translate }}
            </button>
          </div>
        </div>
        <div class="rc-detail-container">
          <div class="detail-wrapper">
            <div class="detail-content">
              <div class="detail-item">
                <label>{{ 'cluster' | translate }}</label>
                <div>
                  <div class="tags-container">
                    <span class="tags-container__item">
                      {{ clusterDisplayName }}
                    </span>
                    <ng-container *ngFor="let item of mirrorConfigmaps">
                      <span class="tags-container__divider">;</span>
                      <a
                        class="tags-container__item"
                        (click)="redirectToMirrorConfigmap(item)"
                        href="javascript:void(0)"
                      >
                        {{ item.cluster_display_name }}
                      </a>
                    </ng-container>
                  </div>
                  <div
                    class="tags-toggle"
                    *ngIf="mirrorConfigmaps && mirrorConfigmaps.length > 1"
                    [auiDropdown]="clustersMenu"
                  >
                    <div class="tags-toggle__label">...</div>
                  </div>
                  <aui-menu #clustersMenu size="small">
                    <aui-menu-item
                      *ngFor="let item of mirrorConfigmaps"
                      (click)="redirectToMirrorConfigmap(item)"
                    >
                      {{ item.cluster_display_name }}
                    </aui-menu-item>
                  </aui-menu>
                </div>
              </div>
              <div class="detail-item">
                <label>{{ 'created_at' | translate }}</label>
                <div>
                  {{
                    configmapData.kubernetes.metadata.creationTimestamp
                      | rcFormatUtcStr
                  }}
                </div>
              </div>
              <div class="detail-item">
                <label>{{ 'description' | translate }}</label>
                <div
                  *ngIf="configmapData.kubernetes.metadata.annotations"
                  [title]="description"
                >
                  {{ description }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </aui-card>
      <rc-k8s-config-items
        [_configmapData]="configmapData"
        [clusterId]="clusterName"
        (actionComplete)="doRefetch()"
      ></rc-k8s-config-items>
    </ng-container>
  </aui-tab>
  <!-- yaml -->
  <aui-tab>
    <ng-container *auiTabLabel>
      YAML
    </ng-container>
    <ng-container *auiTabContent>
      <aui-code-editor
        name="yaml"
        [actionsConfig]="edtiorActions"
        [options]="editorOptions"
        [ngModel]="configmapYAML"
      ></aui-code-editor>
    </ng-container>
  </aui-tab>
  <!-- workloads -->
  <aui-tab>
    <ng-container *auiTabLabel>
      {{ 'workload' | translate }}
    </ng-container>
    <ng-container *auiTabContent>
      <rc-configmap-workloads
        [configmap]="configmapData"
        [clusterName]="clusterName"
      ></rc-configmap-workloads>
    </ng-container>
  </aui-tab>
</aui-tab-group>
