.link {
  stroke-width: 2;
  stroke: #ccc;
  fill: none;
  transition: stroke-width 0.3s ease-out;
  &.link--focused {
    stroke-width: 6;
    stroke: #999;
  }
  &.link--invisible {
    stroke: transparent;
  }
  &.link--ref {
    stroke-dasharray: 4px 4px;
  }
}
