.region-feature {
  position: relative;
  display: flex;
  align-items: center;
  padding: 26px 20px;
  border-radius: 2px;
  border: solid 1px #e2e2e2;

  &:not(:first-child) {
    margin-top: 20px;
  }

  &:before {
    position: absolute;
    content: '';
    width: 3px;
    top: 0;
    bottom: 0;
    left: 0;
  }

  &.not_added:before {
    background-color: #ccc;
  }

  &.deploying,
  &.pending {
    &:before {
      background-color: #009ce3;
    }
  }

  &.running,
  &.docked {
    &:before {
      background-color: #1bb393;
    }
  }

  &.error:before {
    background-color: #eb6262;
  }

  &.unknown:before {
    background-color: #ccc;
  }

  > h4 {
    margin: 0;
  }

  > div {
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:not(:last-child) {
      padding-right: 10px;
    }

    &:last-child {
      text-align: right;
    }
  }

  > h4,
  > div {
    flex: 1;
  }
}
