<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/console/admin/cluster/list">
        {{ 'nav_region' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'region_features_management' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="!regionFeatures"></rc-loading-mask>

<ng-container *ngIf="regionFeatures">
  <aui-inline-alert type="info" *ngIf="checkForUpdatesEnabled">
    {{ 'region_features_notification_1' | translate }}
    <a href="javascript:;" (click)="checkingForUpdates || checkForUpdates()">
      {{ 'check_for_updates' | translate }}
    </a>
    {{ 'region_features_notification_2' | translate }}
  </aui-inline-alert>

  <aui-card>
    <button
      *ngIf="checkForUpdatesEnabled"
      aui-button="primary"
      (click)="checkingForUpdates || checkForUpdates()"
    >
      {{ 'check_for_updates' | translate }}
      <aui-icon *ngIf="checkingForUpdates" icon="spinner"></aui-icon>
    </button>
    <div
      class="region-feature"
      [ngClass]="getRegionFeatureStatus(regionFeatures.log)"
    >
      <h4>
        {{ 'region_logs' | translate }}
        <aui-icon
          [auiTooltip]="'region_feature_logs_tip' | translate"
          icon="basic:question"
          color="#999"
        ></aui-icon>
      </h4>
      <ng-container *ngIf="regionFeatures.log?.config?.type">
        <div>
          {{ 'log_instance' | translate }}:
          {{
            regionFeatures.log.application_info?.name ||
              regionFeatures.log.integration_info?.name
          }}
        </div>
        <div>
          {{ 'status' | translate }}:
          <span
            class="status-badge"
            [ngClass]="getRegionFeatureStatus(regionFeatures.log)"
          >
            {{
              'status_' + getRegionFeatureStatus(regionFeatures.log) | translate
            }}
          </span>
        </div>
      </ng-container>
      <div>
        <ng-container
          *ngIf="clusterEditEnabled && regionFeatures.log?.config?.type"
        >
          <button
            *ngIf="regionFeatures.log.application_info?.status === 'Deploying'"
            aui-button="primary"
            [disabled]="checkingForUpdates"
          >
            {{ 'install' | translate }}
            <aui-icon icon="spinner"></aui-icon>
          </button>
          <button
            *ngIf="
              regionFeatures.log.application_info?.status === 'Running' &&
              regionFeatures.log.new_version_avaliable
            "
            aui-button="primary"
            [disabled]="checkingForUpdates"
            (click)="editOfficialFeature('log')"
          >
            {{ 'upgrade' | translate }}
          </button>
          <button
            aui-button
            [disabled]="checkingForUpdates"
            (click)="deleteFeature('log')"
          >
            {{
              (regionFeatures.log.application_info?.status === 'Deploying'
                ? 'cancel'
                : 'delete') | translate
            }}
          </button>
        </ng-container>
        <button
          *ngIf="!regionFeatures.log?.config?.type"
          aui-button="primary"
          [disabled]="checkingForUpdates"
          (click)="editOfficialFeature('log', true)"
        >
          {{ 'install' | translate }}
        </button>
      </div>
    </div>
    <div
      class="region-feature"
      [ngClass]="getRegionFeatureStatus(regionFeatures.metric)"
    >
      <h4>
        {{ 'region_metrics' | translate }}
        <aui-icon
          [auiTooltip]="'region_feature_metrics_tip' | translate"
          icon="basic:question"
          color="#999"
        ></aui-icon>
      </h4>
      <ng-container *ngIf="regionFeatures.metric?.config?.type">
        <div>
          {{ 'integration_instance' | translate }}:
          <a
            [routerLink]="[
              '/console/admin/integration_center/detail',
              regionFeatures.metric.application_info?.uuid ||
                regionFeatures.metric.integration_info?.uuid
            ]"
          >
            {{
              regionFeatures.metric.application_info?.name ||
                regionFeatures.metric.integration_info?.name
            }}
          </a>
        </div>
        <div>
          {{ 'status' | translate }}:
          <span
            class="status-badge"
            [ngClass]="getRegionFeatureStatus(regionFeatures.metric)"
          >
            {{
              'status_' + getRegionFeatureStatus(regionFeatures.metric)
                | translate
            }}
          </span>
        </div>
      </ng-container>
      <div>
        <ng-container
          *ngIf="clusterEditEnabled && regionFeatures.metric?.config?.type"
        >
          <button
            *ngIf="
              regionFeatures.metric.application_info?.status === 'Deploying'
            "
            aui-button="primary"
            [disabled]="checkingForUpdates"
          >
            {{ 'install' | translate }}
            <aui-icon icon="spinner"></aui-icon>
          </button>
          <button
            *ngIf="
              regionFeatures.metric.application_info?.status === 'Running' &&
              regionFeatures.metric.new_version_avaliable
            "
            aui-button="primary"
            [disabled]="checkingForUpdates"
            (click)="editOfficialFeature('metric')"
          >
            {{ 'upgrade' | translate }}
          </button>
          <button
            *ngIf="getRegionFeatureStatus(regionFeatures.metric) === 'docked'"
            aui-button="primary"
            [disabled]="checkingForUpdates"
            (click)="dockThirdParty('PrometheusOperator')"
          >
            {{ 'change' | translate }}
          </button>
          <button
            aui-button
            [disabled]="checkingForUpdates"
            (click)="deleteFeature('metric')"
          >
            {{
              (regionFeatures.metric.application_info?.status === 'Deploying'
                ? 'cancel'
                : 'delete') | translate
            }}
          </button>
        </ng-container>
        <ng-container *ngIf="!regionFeatures.metric?.config?.type">
          <button
            *ngIf="installEnabled"
            aui-button="primary"
            [disabled]="checkingForUpdates"
            (click)="editOfficialFeature('metric', true)"
          >
            {{ 'install' | translate }}
          </button>
          <button
            aui-button="primary"
            [disabled]="checkingForUpdates"
            (click)="dockThirdParty('PrometheusOperator', true)"
          >
            {{ 'dock_third_party' | translate }}
          </button>
        </ng-container>
      </div>
    </div>
    <div
      class="region-feature"
      [ngClass]="getRegionFeatureStatus(regionFeatures.ssh)"
    >
      <h4>{{ 'region_ssh' | translate }}</h4>
      <ng-container *ngIf="regionFeatures.ssh?.config?.type">
        <div>
          {{ 'integration_instance' | translate }}:
          <a
            [routerLink]="[
              '/console/admin/integration_center/detail',
              regionFeatures.ssh.application_info?.uuid ||
                regionFeatures.ssh.integration_info?.uuid
            ]"
          >
            {{
              regionFeatures.ssh.application_info?.name ||
                regionFeatures.ssh.integration_info?.name
            }}
          </a>
        </div>
        <div>
          {{ 'status' | translate }}:
          <span
            class="status-badge"
            [ngClass]="getRegionFeatureStatus(regionFeatures.ssh)"
          >
            {{
              'status_' + getRegionFeatureStatus(regionFeatures.ssh) | translate
            }}
          </span>
        </div>
      </ng-container>
      <div>
        <ng-container
          *ngIf="clusterEditEnabled && regionFeatures.ssh?.config?.type"
        >
          <button
            *ngIf="regionFeatures.ssh.application_info?.status === 'Deploying'"
            aui-button="primary"
            [disabled]="checkingForUpdates"
          >
            {{ 'install' | translate }}
            <aui-icon icon="spinner"></aui-icon>
          </button>
          <button
            *ngIf="
              regionFeatures.ssh.application_info?.status === 'Running' &&
              regionFeatures.ssh.new_version_avaliable
            "
            aui-button="primary"
            [disabled]="checkingForUpdates"
            (click)="editOfficialFeature('ssh')"
          >
            {{ 'upgrade' | translate }}
          </button>
          <button
            *ngIf="getRegionFeatureStatus(regionFeatures.ssh) === 'docked'"
            aui-button="primary"
            [disabled]="checkingForUpdates"
            (click)="dockThirdParty('Ssh')"
          >
            {{ 'change' | translate }}
          </button>
          <button
            aui-button
            [disabled]="checkingForUpdates"
            (click)="deleteFeature('ssh')"
          >
            {{
              (regionFeatures.ssh.application_info?.status === 'Deploying'
                ? 'cancel'
                : 'delete') | translate
            }}
          </button>
        </ng-container>
        <ng-container *ngIf="!regionFeatures.ssh?.config?.type">
          <button
            *ngIf="installEnabled"
            aui-button="primary"
            [disabled]="checkingForUpdates"
            (click)="editOfficialFeature('ssh', true)"
          >
            {{ 'install' | translate }}
          </button>
          <button
            aui-button="primary"
            [disabled]="checkingForUpdates"
            (click)="dockThirdParty('Ssh', true)"
          >
            {{ 'install' | translate }}
          </button>
        </ng-container>
      </div>
    </div>
    <div
      class="region-feature"
      [ngClass]="getRegionFeatureStatus(regionFeatures.registry)"
    >
      <h4>
        {{ 'image_repository' | translate }}
        <!-- <aui-icon [auiTooltip]="'region_feature_logs_tip' | translate"
                  icon="basic:question"
                  color="#999"></aui-icon> -->
      </h4>
      <ng-container *ngIf="regionFeatures.registry?.config?.type">
        <div>
          {{ 'registry' | translate }}:
          {{
            regionFeatures.registry.application_info?.name ||
              regionFeatures.registry.integration_info?.name
          }}
        </div>
        <div>
          {{ 'status' | translate }}:
          <span
            class="status-badge"
            [ngClass]="getRegionFeatureStatus(regionFeatures.registry)"
          >
            {{
              'status_' + getRegionFeatureStatus(regionFeatures.registry)
                | translate
            }}
          </span>
        </div>
      </ng-container>
      <div>
        <ng-container
          *ngIf="clusterEditEnabled && regionFeatures.registry?.config?.type"
        >
          <button
            *ngIf="
              regionFeatures.registry.application_info?.status === 'Deploying'
            "
            aui-button="primary"
            [disabled]="checkingForUpdates"
          >
            {{ 'install' | translate }}
            <aui-icon icon="spinner"></aui-icon>
          </button>
          <button
            *ngIf="
              regionFeatures.registry.application_info?.status === 'Running' &&
              regionFeatures.registry.new_version_avaliable
            "
            aui-button="primary"
            [disabled]="checkingForUpdates"
            (click)="editOfficialFeature('registry')"
          >
            {{ 'upgrade' | translate }}
          </button>
          <button
            aui-button
            [disabled]="checkingForUpdates"
            (click)="deleteFeature('registry')"
          >
            {{
              (regionFeatures.registry.application_info?.status === 'Deploying'
                ? 'cancel'
                : 'delete') | translate
            }}
          </button>
        </ng-container>
        <button
          *ngIf="!regionFeatures.registry?.config?.type"
          aui-button="primary"
          [disabled]="checkingForUpdates"
          (click)="editOfficialFeature('registry', true)"
        >
          {{ 'install' | translate }}
        </button>
      </div>
    </div>
  </aui-card>
</ng-container>

<ng-template #dockThirdPartyTemp>
  <aui-dialog-header>
    {{ 'dock_third_party' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'metric_instance' | translate }}
      </label>
      <aui-select
        auiFormItemControl
        [(ngModel)]="integrationId"
        [loading]="!integrations"
        [disabled]="!integrations?.length"
        [placeholder]="
          (integrations && !integrations.length
            ? 'no_instance'
            : 'please_select') | translate
        "
      >
        <aui-option
          *ngFor="let integration of integrations"
          [label]="integration.name"
          [value]="integration.id"
        >
          {{ integration.name }}
        </aui-option>
      </aui-select>
    </aui-form-item>
  </aui-dialog-content>
  <aui-dialog-footer>
    <div>
      <button
        aui-button="primary"
        (click)="
          editRegionFeature({
            featureName: 'metric',
            type: 'prometheus',
            isAddOrUpdate: isAddOrUpdate
          })
        "
      >
        {{ 'confirm' | translate }}
      </button>
      <button aui-button [auiDialogClose]="true">
        {{ 'cancel' | translate }}
      </button>
    </div>
  </aui-dialog-footer>
</ng-template>

<ng-template #dockSSHTemp>
  <aui-dialog-header>
    {{ 'region_ssh' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'ssh_instance' | translate }}
      </label>
      <aui-select
        auiFormItemControl
        [(ngModel)]="integrationId"
        [loading]="!integrations"
        [disabled]="!integrations?.length"
        [placeholder]="
          (integrations && !integrations.length
            ? 'no_instance'
            : 'please_select') | translate
        "
      >
        <aui-option
          *ngFor="let integration of integrations"
          [label]="integration.name"
          [value]="integration.id"
        >
          {{ integration.name }}
        </aui-option>
      </aui-select>
    </aui-form-item>
  </aui-dialog-content>
  <aui-dialog-footer>
    <div>
      <button
        aui-button="primary"
        (click)="
          editRegionFeature({
            featureName: 'ssh',
            type: 'ssh',
            isAddOrUpdate: isAddOrUpdate
          })
        "
      >
        {{ 'confirm' | translate }}
      </button>
      <button aui-button [auiDialogClose]="true">
        {{ 'cancel' | translate }}
      </button>
    </div>
  </aui-dialog-footer>
</ng-template>
