<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<ng-container *ngIf="initialized && !empty">
  <rc-application-monitor-chart
    *ngIf="applications"
    [resources]="applications"
    [cluster]="cluster"
    [namespace]="namespace"
  ></rc-application-monitor-chart>
</ng-container>

<ng-container *ngIf="initialized && empty">
  <div class="rb-loading-mask-placeholder">
    {{ 'no_data' | translate }}
  </div>
</ng-container>
