<rc-loading-mask [loading]="true" *ngIf="!initialized"></rc-loading-mask>
<ul *ngIf="initialized" class="resource-list">
  <li *ngFor="let item of resourcesItems; trackBy: trackByFn">
    <div class="resource-item">
      <div class="resource-item__name">
        <a
          [routerLink]="[
            '/console/user/workspace',
            baseParams,
            'app',
            'detail',
            appName,
            getComponentKind(item),
            getComponentName(item)
          ]"
          [auiTooltip]="getComponentName(item)"
        >
          {{ getComponentName(item) }}
        </a>
      </div>
      <div class="resource-item__status">
        <rc-pod-controller-status
          [status]="getComponentStatus(item)"
          [desiredInstances]="getComponentPods(item, 'desired')"
          [currentInstances]="getComponentPods(item, 'current')"
        ></rc-pod-controller-status>
      </div>
    </div>
  </li>
</ul>
