<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['../']">{{ 'pipeline_list' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <ng-container [ngSwitch]="(params$ | async)?.method">
        <ng-container *ngSwitchCase="'jenkinsfile'">
          {{ 'pipeline_create_by_jenkinsfile' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="'template'">
          {{ 'pipeline_create_by_template' | translate }}
        </ng-container>
      </ng-container>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<rc-pipeline-create-container
  [method]="(params$ | async)?.method"
  [namespace]="(params$ | async)?.namespace"
  [type]="(params$ | async)?.type"
  [name]="(params$ | async)?.name"
  [space]="space$ | async"
  [project]="project"
></rc-pipeline-create-container>
