<aui-dialog-header>
  <span>{{ 'tool_chain_allocate' | translate }}</span>
</aui-dialog-header>
<aui-dialog-content>
  <aui-inline-alert
    *ngIf="loadError"
    [content]="'tool_chain_get_resource_error_hint' | translate"
    type="error"
  ></aui-inline-alert>
  <form
    #form="ngForm"
    auiForm
    [auiFormEmptyAddon]="true"
    auiFormLabelWidth="160px"
  >
    <aui-form-item>
      <label auiFormItemLabel="">{{ 'tool_chain_tenant' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="tenant"
        #secret="ngModel"
        [(ngModel)]="formData.tenant.name"
        filterable
        required
        class="tenant-group"
        [placeholder]="'tool_chain_please_select_tenant' | translate"
      >
        <aui-option-group>
          <aui-option
            *ngFor="let item of (tenant$ | async)"
            [value]="item.name"
            [label]="item.name"
            (click)="secretToValue(item.name)"
          >
            <span>{{ item.name }}</span>
            <span
              class="tenant-group__display-name"
              *ngIf="!!item.display_name"
            >
              ({{ item.display_name }})
            </span>
          </aui-option>
        </aui-option-group>
      </aui-select>
    </aui-form-item>
    <aui-form-item *ngIf="resourceSwitcher">
      <label auiFormItemLabel="">
        {{
          'tool_chain_allocate_resource_label'
            | translate: { resource: getToolResourceDisplayName(tool.type) }
        }}
      </label>
      <ng-container *ngIf="tool?.kind === 'ArtifactRegistry'">
        <div class="repo-icon">
          <img [src]="'/static/images/tool-chain/list/maven2.svg'" />
          {{ tool?.name }}
        </div>
      </ng-container>
      <ng-container *ngIf="tool?.kind !== 'ArtifactRegistry'">
        <aui-multi-select
          [ngClass]="iconType"
          auiFormItemControl
          [filterable]="true"
          name="resource"
          #secret="ngModel"
          [(ngModel)]="formData.resource"
          required
          [disabled]="loadError"
          [loading]="resourceLoading"
          [placeholder]="resourcePlaceholder"
        >
          <aui-option-group>
            <aui-option
              *ngFor="let item of (resources$ | async)"
              [value]="{ name: item.name, type: item?.annotations?.type }"
              [label]="item.name"
            >
              <span>{{ item.name }}</span>
            </aui-option>
          </aui-option-group>
        </aui-multi-select>
        <button
          *ngIf="canCreateResource"
          class="btn-margin"
          [disabled]="
            loadError || !formData.tenant.name || !resourceCreatePermission
          "
          aui-button
          type="button"
          (click)="createResource()"
        >
          {{
            'tool_chain_add_resources'
              | translate: { resource: getToolResourceDisplayName(tool.type) }
          }}
        </button>
      </ng-container>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel="">{{ 'name' | translate }}</label>
      <input
        name="name"
        #name="ngModel"
        aui-input
        auiFormItemControl
        required
        [maxlength]="30"
        [pattern]="resourceNamePattern.pattern"
        [placeholder]="'tool_chain_pattern' | translate"
        [(ngModel)]="formData.name"
      />
      <div auiFormItemError *ngIf="name.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="name.errors?.pattern">
        {{ 'tool_chain_pattern' | translate }}
      </div>
      <div auiFormItemError *ngIf="name.errors?.maxLength">
        {{ 'tool_chain_max_length' | translate }}: 30
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'description' | translate }}</label>
      <textarea
        auiFormItemControl
        name="description"
        aui-input
        [(ngModel)]="formData.description"
      ></textarea>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    (click)="allocate()"
    [loading]="loading"
    [disabled]="loading || loadError"
  >
    {{ 'tool_chain_allocate' | translate }}
  </button>
  <button aui-button auiDialogClose [disabled]="loading">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
