@import '../resource-icon';
.tenant-group {
  &__display-name {
    color: #999;
    margin-left: 4px;
  }
}
.btn-margin {
  margin-left: 12px;
}
:host {
  @include allocate-resource-icon();

  .repo-icon {
    display: flex;
    align-items: center;
    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
}
