<aui-dialog-header>{{ dialogData.title }}</aui-dialog-header>
<aui-dialog-content>
  <form auiForm auiFormLabelWidth="138px">
    <!-- 场景 -->
    <aui-form-item>
      <label auiFormItemLabel>{{ 'integration_family' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="family"
        [(ngModel)]="selectedFamily"
        (ngModelChange)="onFamilyChanged($event)"
      >
        <aui-option
          *ngFor="let family of families"
          [value]="family.name"
          [label]="family.displayName"
        >
          {{ family.displayName }}
        </aui-option>
      </aui-select>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'type' | translate }}</label>
      <div fxFlexFill fxLayout="row wrap" fxLayoutGap="8px">
        <div
          class="integration-type-card"
          fxFlex="175px"
          *ngFor="let type of types"
          (click)="onSelected(type.name)"
        >
          <img
            [src]="'/static/images/integration-logo/' + type.name + '.png'"
            [attr.data-standby]="type.logo"
            onerror="this.src=this.dataset.standby"
          />
          <span>{{ type.name }}</span>
        </div>
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>
