@import '~@alauda/ui/theme/base-var';

:host {
  .account-info {
    display: flex;
    flex-direction: row;

    rc-avatar-uploader {
      margin-right: 20px;
    }

    &-content {
      flex: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-item {
      display: flex;
      flex-direction: row;
      list-style: none;
      width: 50%;
      height: 26px;
      margin-bottom: 12px;

      &__label {
        padding-right: 0.5em;
      }

      &__content {
        display: flex;
        flex-flow: row;
      }
    }

    a {
      color: #009ce3;
      &:hover {
        cursor: pointer;
      }

      aui-icon {
        margin-left: 8px;
      }

      &.more {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 20px;
        margin-left: 8px;
        border-radius: 10px;
        border: solid 1px #009ce3;
        background-color: #f2fafe;

        aui-icon {
          margin-left: 0;
        }
      }
    }
  }

  aui-table {
    width: 100%;
  }
}

.dialog-content {
  line-height: 1.4285em;
  margin: 20px;
  color: rgba(0, 0, 0, 0.87);

  p {
    margin-bottom: 10px;
  }

  .input {
    display: flex;
  }

  input {
    flex: 1;
    border: 1px solid $color-info;
    border-radius: 2px 0 0 2px;
    outline: 0;
    padding: 7px 8px;
  }

  button {
    border: 1px solid $color-info;
    border-left: none;
    border-radius: 0 2px 2px 0;
    padding: 0 10px;
    background: darken($color-white, 5%);
    &:hover {
      cursor: pointer;
    }
  }
}
