<div class="account-info">
  <ng-container>
    <rc-avatar-uploader
      (change)="avatarChange($event)"
      canUpdate="true"
    ></rc-avatar-uploader>
    <ul class="account-info-content">
      <li class="account-info-item" *ngFor="let item of models">
        <span class="account-info-item__label">
          {{ item.label | translate }}:
        </span>
        <ng-container [ngSwitch]="item.label">
          <div class="account-info-item__content" *ngSwitchCase="'password'">
            {{ item.value }}
            <a
              *ngIf="item.key === 'password' && !item.readonly"
              href="javascript:void(0);"
              (click)="resetPassword()"
            >
              <aui-icon icon="basic:pencil_s"></aui-icon>
            </a>
          </div>

          <!-- token -->
          <div class="account-info-item__content" *ngSwitchCase="'token'">
            <ng-container *ngIf="item.value?.length">
              <a (click)="onTokenItemClick(item.value[0])">
                {{ item.value[0].name | translate }}
              </a>
              <a
                *ngIf="item.value?.length > 1"
                href="javscript:void(0);"
                class="more"
              >
                <aui-icon
                  icon="ellipsis_h_s"
                  [auiDropdown]="tokenMenu"
                ></aui-icon>
              </a>
              <aui-menu #tokenMenu>
                <ng-template auiMenuContent>
                  <ng-container *ngFor="let token of item.value">
                    <aui-menu-item (click)="onTokenItemClick(token)">
                      {{ token.name | translate }}
                    </aui-menu-item>
                  </ng-container>
                </ng-template>
              </aui-menu>
            </ng-container>
          </div>
          <!-- token -->

          <div class="account-info-item__content" *ngSwitchCase="'created_at'">
            {{ item.value | rcFormatUtcStr }}
          </div>
          <div class="account-info-item__content" *ngSwitchDefault>
            {{ item.value || '-' }}
          </div>
        </ng-container>
      </li>

      <li class="account-info-item" *ngFor="let codeClient of codeClients">
        <span class="account-info-item__label">
          {{ 'build_code_repo_client_' + codeClient.name | translate }}:
        </span>
        <div *ngIf="codeClient.is_authed" class="account-info-item__content">
          <span *ngIf="codeClient.is_authed === 'unlinking'">
            {{ 'unlinking_oauth_code_client' | translate }}
          </span>
          <span *ngIf="codeClient.is_authed === 'linking'">
            {{ 'linking_oauth_code_client' | translate }}
          </span>
          {{ 'oauth_code_client_bind' | translate }}
          <a
            *ngIf="codeClient.is_authed === true"
            (click)="unlinkClient(codeClient)"
            [title]="'unlink_oauth_code_client' | translate"
          >
            <aui-icon icon="basic:unbind"></aui-icon>
            &nbsp;
          </a>
        </div>
        <div *ngIf="!codeClient.is_authed" class="account-info-item__content">
          {{ 'oauth_code_client_unbound' | translate }}
          <a (click)="linkClient(codeClient)" [title]="'to_bind' | translate">
            <aui-icon icon="basic:binding"></aui-icon>
            &nbsp;
          </a>
        </div>
      </li>
    </ul>
  </ng-container>
</div>

<ng-template #tokenDialogTemplate>
  <aui-dialog-header>{{ currentToken.name | translate }}</aui-dialog-header>
  <aui-dialog-content class="dialog-content">
    <p>{{ helpText1 }}</p>
    <p>
      {{ 'token_help_text2' | translate }}
      <strong>
        <i>
          Authorization:{{ currentToken.name === 'platform_token' ? 'Token' :
          'Bear' }}&lt;your-token&gt;
        </i>
      </strong>
    </p>
    <div class="input">
      <input #input [value]="currentToken.value" readonly />
      <button (click)="copyText(input)">
        <aui-icon [icon]="tokenCopied ? 'check_s' : 'copy'"></aui-icon>
        {{ 'copy' | translate }}
      </button>
    </div>
  </aui-dialog-content>
</ng-template>
