<rc-zero-state
  [fetching]="!initialized"
  [zeroState]="isEmpty"
  resourceName="workload"
  [plain]="true"
></rc-zero-state>

<ng-container *ngIf="podControllerData">
  <!-- Meta -->
  <rc-pod-controller-detail-meta
    [podController]="podControllerData"
    [autoScaler]="autoScaler"
    [resourceActions]="resourceActions"
    [appResourceActions]="appResourceActions"
    [baseParams]="baseParams"
    [appName]="appName"
  ></rc-pod-controller-detail-meta>

  <!-- Container -->
  <rc-pod-controller-containers
    [podController]="podControllerData"
    [baseParams]="baseParams"
    [canUpdate]="canUpdate"
    [actions]="['image', 'resource', 'log', 'exec']"
    (onUpdateImageTag)="updateImageTag($event)"
    (onUpdateResourceSize)="updateResourceSize($event)"
    (onOpenTerminal)="openTerminal($event)"
    (onOpenLog)="openLog($event)"
  ></rc-pod-controller-containers>

  <!-- Service -->
  <aui-card>
    <div auiCardHeader fxLayout>
      {{ 'k8s_service' | translate }}
      <div fxFlex></div>
      <!-- @TODO -->
      <!-- <div class="service__add-button"
           (click)="add()">
        <aui-icon icon="basic:plus"></aui-icon>
        {{'add_kube_service' | translate}}
      </div> -->
    </div>
    <div *ngFor="let item of services" class="service-container">
      <rc-service-display [service]="item.kubernetes"></rc-service-display>
    </div>
    <rc-zero-state
      [zeroState]="!services?.length"
      resourceName="kube_service"
    ></rc-zero-state>
  </aui-card>
</ng-container>
