<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/console/admin/cluster/list">
        {{ 'nav_region' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'region_detail' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div class="rc-cluster-header">
  <div class="rc-cluster-header__group rc-cluster-header__group--width-fit">
    <ng-container *ngIf="cluster">
      <img
        class="rc-cluster-header__cloud-icon"
        [src]="
          '/static/images/cloud/' +
          cluster.attr.cloud.name.toLowerCase() +
          '.svg'
        "
      />
      <div class="rc-cluster-header__cluster-name">
        {{ cluster.display_name }}
      </div>
      <rc-status-badge mode="rect" [status]="cluster.state"></rc-status-badge>
    </ng-container>
  </div>
  <div class="rc-cluster-header__group">
    <button aui-button="primary" [disabled]="loading" hidden>
      {{ 'region_update_config' | translate }}
    </button>
    <button
      aui-button="default"
      [auiDropdown]="menu"
      *ngIf="
        shouldDisplay('update') ||
        shouldDisplay('delete') ||
        hasCreateNodePermission
      "
    >
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu size="small">
      <aui-menu-item
        *ngIf="cluster && shouldDisplay('update')"
        [routerLink]="['/console/admin/cluster', clusterName, 'features']"
      >
        {{ 'region_features_management' | translate }}
      </aui-menu-item>
      <aui-menu-item
        *ngIf="cluster && shouldDisplay('update')"
        (click)="updateToken()"
      >
        {{ 'update_token' | translate }}
      </aui-menu-item>
      <aui-menu-item
        *ngIf="cluster && shouldDisplay('update')"
        (click)="updateOverCommit()"
      >
        {{ 'update_over_commit' | translate }}
      </aui-menu-item>
      <aui-menu-item
        *ngIf="cloudUpdate && hasCreateNodePermission"
        (click)="addNode()"
      >
        {{ 'add_node' | translate }}
      </aui-menu-item>
      <aui-menu-item
        *ngIf="cloudUpdate && shouldDisplay('delete')"
        (click)="deleteCluster()"
      >
        {{ 'delete' | translate }}
      </aui-menu-item>
    </aui-menu>
  </div>
</div>

<rc-loading-mask [loading]="!cluster"></rc-loading-mask>

<div *ngIf="cluster" class="cluster-info">
  <div class="cluster-info__card">
    <h5>{{ 'basic_info' | translate }}</h5>
    <div class="cluster-info__item">
      <label>{{ 'name' | translate }}</label>
      {{ cluster.name }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_cloud_provider' | translate }}</label>
      {{ cluster.attr.cloud.name.toLowerCase() }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_over_commit' | translate }}</label>
      <span>CPU {{ showOverCommit(overCommit.cpu) }} ;</span>
      <span>
        {{ 'memory' | translate }} {{ showOverCommit(overCommit.mem) }}
      </span>
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_platform_version' | translate }}</label>
      {{ cluster.platform_version.toUpperCase() }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_docker_version' | translate }}</label>
      {{ cluster.attr.docker.version }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_docker_path' | translate }}</label>
      {{ cluster.attr.docker.path }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'created_at' | translate }}</label>
      {{ cluster.created_at | rcFormatUtcStr }}
    </div>
  </div>
  <div class="cluster-info__card">
    <h5>{{ 'region_region_info' | translate }}</h5>
    <div class="cluster-info__item">
      <label>Kubernetes</label>
      {{ cluster.attr.kubernetes.version }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_region_endpoint' | translate }}</label>
      <div [auiTooltipCopy]="cluster.attr.kubernetes.endpoint">
        {{ cluster.attr.kubernetes.endpoint }}
      </div>
    </div>
    <div class="cluster-info__item">
      <label>CIDR</label>
      {{ cluster.attr.kubernetes.cni.cidr | rcFieldNotAvailable }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'network_policy' | translate }}</label>
      {{ cluster.attr.kubernetes.cni.network_policy | rcFieldNotAvailable }}
    </div>
    <div *ngIf="cluster.mirror?.name" class="cluster-info__item">
      <label>{{ 'region_mirror_cluster' | translate }}</label>
      <div [title]="cluster.mirror.display_name">
        {{ cluster.mirror.display_name }}
      </div>
    </div>
  </div>
  <div class="cluster-info__card cluster-info__card--feature">
    <h5>{{ 'region_features' | translate }}</h5>
    <div class="cluster-info__item">
      <label>{{ 'region_logs' | translate }}</label>
      <span
        class="status-badge"
        [ngClass]="getRegionFeatureStatus(regionFeatures.log)"
      >
        {{ 'status_' + getRegionFeatureStatus(regionFeatures.log) | translate }}
      </span>
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_metrics' | translate }}</label>
      <span
        class="status-badge"
        [ngClass]="
          getRegionFeatureStatus(regionFeatures.metric, customizedMetric)
        "
      >
        {{
          'status_' +
            getRegionFeatureStatus(regionFeatures.metric, customizedMetric)
            | translate
        }}
      </span>
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_ssh' | translate }}</label>
      <span
        class="status-badge"
        [ngClass]="getRegionFeatureStatus(regionFeatures.ssh)"
      >
        {{ 'status_' + getRegionFeatureStatus(regionFeatures.ssh) | translate }}
      </span>
    </div>
    <div class="cluster-info__item">
      <label>{{ 'repository' | translate }}</label>
      <span
        class="status-badge"
        [ngClass]="getRegionFeatureStatus(regionFeatures.registry)"
      >
        {{
          'status_' + getRegionFeatureStatus(regionFeatures.registry)
            | translate
        }}
      </span>
    </div>
  </div>
</div>
<aui-card>
  <aui-tab-group type="line">
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'node' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-cluster-nodes [clusterName]="clusterName"></rc-cluster-nodes>
      </ng-container>
    </aui-tab>
    <aui-tab *ngIf="cluster?.mirror?.name">
      <ng-container *auiTabLabel>
        {{ 'region_mirror_cluster' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <aui-table [dataSource]="cluster.mirror.regions" [trackBy]="trackByFn">
          <ng-container auiTableColumnDef="member">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'region_member' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <a [routerLink]="['/console/admin/cluster/detail', item.name]">
                {{ item.display_name }}
              </a>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="create_time">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'created_at' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.created_at | rcFormatUtcStr }}
            </aui-table-cell>
          </ng-container>
          <aui-table-header-row
            *auiTableHeaderRowDef="columns"
          ></aui-table-header-row>
          <aui-table-row
            *auiTableRowDef="let row; columns: columns"
          ></aui-table-row>
        </aui-table>
      </ng-container>
    </aui-tab>
    <aui-tab
      *ngIf="
        customizedMetric ||
        (regionFeatures &&
          getRegionFeatureStatus(regionFeatures.metric) === 'docked')
      "
    >
      <ng-container *auiTabLabel>
        {{ 'monitoring' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-cluster-monitor [clusterName]="clusterName"></rc-cluster-monitor>
      </ng-container>
    </aui-tab>
    <aui-tab *ngIf="cluster?.id">
      <ng-container *auiTabLabel>
        {{ 'project' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-projects-list
          [clusterUuid]="cluster.id"
          [readOnly]="true"
        ></rc-projects-list>
      </ng-container>
    </aui-tab>
  </aui-tab-group>
</aui-card>
