@import 'var';

.rc-cluster-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__group {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;

    &--width-fit {
      max-width: 100%;
      flex-shrink: 1;
      padding-right: 24px;
    }

    [aui-button] {
      margin-right: 8px;
    }
  }

  &__cloud-icon {
    width: 32px;
    flex-shrink: 0;
  }

  &__cluster-name {
    padding: 0 12px;
    font-size: 24px;
    flex-shrink: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}

.cluster-info {
  display: flex;
  margin-left: -16px;
  margin-bottom: 16px;

  &__card {
    margin-left: 16px;
    padding: 12px 16px 18px 16px;
    flex: 1;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.1);

    &--feature .cluster-info__item > label {
      width: unset;
    }
  }

  h5 {
    color: #333;
    margin-top: 0;

    &:not(:first-child) {
      margin-top: 18px;
    }
  }

  &__item {
    display: flex;
    margin-top: 12px;

    > label {
      padding-right: 6px;

      &:after {
        content: '\00a0:';
      }
    }

    > label,
    > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
