<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/rbac']">{{ 'rbac' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/rbac/roles/detail', roleName]">
        {{ roleName }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'update_permission' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card>
  <div *ngIf="initialized" class="rc-detail-container">
    <div class="detail-wrapper" style="margin-left: 0">
      <div class="detail-header">
        <h3>
          {{ roleDetail.name }}
        </h3>
      </div>
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'role_type' | translate }}</label>
          <div>
            {{
              (roleDetail.role_type
                ? getRoleTypeLevel(roleDetail.role_type, false)
                : '-') | translate
            }}
          </div>
        </div>
        <div
          *ngIf="roleDetail.role_type !== RoleTypes.Platform"
          class="detail-item"
        >
          <label>{{ 'project' | translate }}</label>
          <div>{{ roleDetail.project_name }}</div>
        </div>
        <div
          *ngIf="roleDetail.role_type === RoleTypes.Namespace"
          class="detail-item"
        >
          <label>{{ 'namespace' | translate }}</label>
          <div>{{ roleDetail.namespace }}</div>
        </div>
        <div
          *ngIf="roleDetail.role_type === RoleTypes.Space"
          class="detail-item"
        >
          <label>{{ 'group' | translate }}</label>
          <div>{{ roleDetail.space_name }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'rbac_parent_roles' | translate }}</label>
          <div *ngIf="roleDetail.parents?.length">
            <span *ngFor="let parent of roleDetail.parents; last as last">
              {{ last ? parent.name : parent.name + ', ' }}
            </span>
          </div>
          <div *ngIf="!roleDetail.parents?.length">-</div>
        </div>
        <div class="detail-item">
          <label>{{ 'created_by' | translate }}</label>
          <div>{{ roleDetail.created_by }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'created_at' | translate }}</label>
          <div>{{ roleDetail.created_at | rcFormatUtcStr }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'updated_at' | translate }}</label>
          <div>{{ roleDetail.updated_at | rcFormatUtcStr }}</div>
        </div>
      </div>
    </div>
  </div>
  <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
</aui-card>

<aui-card>
  <div class="header-alt">
    {{ 'rbac_content' | translate }}
    <a
      href="javascript:void(0);"
      [auiTooltip]="permissionTooltipTemplate"
      auiTooltipType="primary"
      auiTooltipPosition="end top"
    >
      <aui-icon icon="basic:question"></aui-icon>
      <ng-template #permissionTooltipTemplate>
        <p [innerHtml]="contentTip[lang]"></p>
      </ng-template>
    </a>
  </div>
  <ng-container *ngIf="initialized">
    <rc-permissions-table
      [(ngModel)]="roleDetail.permissions"
      [type]="TableType.Create"
      [keepAll]="true"
      [expanded]="true"
    ></rc-permissions-table>

    <section class="bottom">
      <button aui-button (click)="cancel()">
        {{ 'cancel' | translate }}
      </button>
      <button aui-button="primary" (click)="update()">
        {{ 'update' | translate }}
      </button>
    </section>
  </ng-container>
  <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
</aui-card>
