:host {
  .header-alt {
    display: flex;
    align-items: center;
    margin: 16px 0;
    font-size: 16px;
    &:before {
      width: 3px;
      height: 17px;
      background-color: #59889b;
      content: '';
      display: block;
      margin-right: 10px;
    }
    aui-icon {
      margin-left: 8px;
    }
  }

  .bottom {
    margin: 16px 0 120px 0;
    display: flex;
    justify-content: flex-end;
    .ui.button {
      margin-right: 5px;
    }
  }
}
