<ul class="rc-steps">
  <li
    class="rc-steps__step rc-steps__step--active"
    *ngFor="let step of stepConfigs; let i = index"
  >
    <span
      class="rc-steps__icon"
      [class.rc-steps__icon--active]="i === currentIndex"
      [class.rc-steps__icon--complete]="i < currentIndex"
    >
      <span *ngIf="i >= currentIndex">{{ i + 1 }}</span>
      <aui-icon icon="check_s" *ngIf="i < currentIndex"></aui-icon>
    </span>
    <span [class.rc-steps__text--active]="i === currentIndex">
      {{ 'pipeline_' + step | translate }}
    </span>
  </li>
</ul>
