<ng-container *rcPageHeaderContent>
  <div class="project-page__header">
    <span>
      {{ 'project_overview' | translate }} /
      {{ (currentProject$ | async)?.name }}&nbsp;
    </span>
    <a
      *ngIf="(projectsLength$ | async)"
      [routerLink]="[
        '/console/user/project',
        { project: projectName },
        'detail'
      ]"
    >
      {{ 'detail' | translate }} >>
    </a>
    <span fxFlex></span>
  </div>
</ng-container>
<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<ng-container *ngIf="initialized && displayProjectInitPage">
  <div class="tenant-init-page">
    <img [src]="illustration$ | async" />
    <button
      [routerLink]="[
        '/console/user/project',
        { project: (currentProject$ | async)?.name },
        'init_project'
      ]"
      aui-button="primary"
      [disabled]="!enterInitPagePermission"
    >
      {{ 'to_set_now' | translate }}&nbsp;>
    </button>
  </div>
</ng-container>
<div
  *ngIf="initialized && !displayProjectInitPage"
  class="project-page_content-wrapper"
>
  <ng-container *ngIf="!(projectsLength$ | async)">
    <div class="overview-empty">
      {{ 'projects_empty_hint' | translate }}
    </div>
  </ng-container>

  <ng-container *ngIf="(projectsLength$ | async)">
    <aui-tab-group
      (selectedIndexChange)="onTabIndexChange($event)"
      [selectedIndex]="seletedTabIndex"
    >
      <aui-tab>
        <div *auiTabLabel>{{ 'namespace' | translate }}</div>
        <div class="overview-header">
          <div *ngIf="(clustersLength$ | async)" class="cluster-list">
            <aui-tag
              [type]="currentCluster ? 'info' : 'primary'"
              (click)="clusterSelected()"
            >
              {{ 'total_clusters' | translate }}
            </aui-tag>
            <ng-container
              *ngFor="
                let cluster of (clusters$ | async);
                trackBy: trackByClusterName
              "
            >
              <aui-tag
                [type]="
                  currentCluster?.name === cluster.name ? 'primary' : 'info'
                "
                (click)="clusterSelected(cluster)"
              >
                {{ cluster.display_name || cluster.name }}
              </aui-tag>
            </ng-container>
          </div>
          <div fxFlex></div>
          <button
            aui-button="primary"
            *ngIf="createNamespaceEnabled"
            (click)="createNamespace()"
            size="medium"
          >
            {{ 'create_namespace' | translate }}
          </button>
          <aui-search
            [searchButton]="false"
            style="width: 16em; margin-left: 8px;"
            placeholder="{{ 'filter_by_name_placeholder' | translate }}"
            (keywordChange)="search$.next($event)"
          ></aui-search>
        </div>

        <ng-container *ngIf="(clustersLength$ | async)">
          <div *ngIf="(namespacesLength$ | async)" class="namespace-list">
            <div
              *ngFor="
                let namespace of (filteredNamespaces$ | async);
                trackBy: trackByNamespaceUuid;
                index as i
              "
              class="namespace-item"
              (click)="enterNamespace(namespace)"
              [title]="getTitle(namespace)"
              (mouseenter)="onMouseEnter(i)"
              (mouseleave)="onMouseLeave(i)"
              [style.background-color]="
                shouldAllowEnterNamespace(namespace) ? '#fff' : '#fafafa'
              "
              [ngClass]="{
                'namespace-item--pointer': shouldAllowEnterNamespace(namespace)
              }"
            >
              <div class="namespace-item__header">
                <span
                  class="namespace-item__title"
                  [auiTooltip]="namespace.name"
                >
                  <ng-container *ngIf="isTerminating(namespace)">
                    ({{ 'deleting' | translate }})
                  </ng-container>
                  {{ namespace.name }}
                </span>
                <aui-tag
                  *ngIf="stagedNamespaceCreate && namespace.status !== 'ready'"
                  size="mini"
                  [solid]="true"
                  [type]="typeMap[namespace.status]"
                >
                  {{ getNamespaceStatusDisplay(namespace) }}
                </aui-tag>
                <span fxFlex></span>
                <button
                  [hidden]="!actionButtonCtrl[i]"
                  aui-button="text"
                  [plain]="true"
                  [square]="true"
                  [auiDropdown]="menu"
                  [disabled]="isTerminating(namespace)"
                  (auiDropdownShow)="onMenuShow(i)"
                  (auiDropdownHide)="onMenuHide(i)"
                  [title]="''"
                  size="small"
                  (click)="$event.stopPropagation()"
                >
                  <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
                </button>
                <aui-menu #menu size="small">
                  <aui-menu-item (click)="namespaceDetail(namespace, $event)">
                    {{ 'view_detail' | translate }}
                  </aui-menu-item>
                  <aui-menu-item
                    *ngIf="groupEnabled"
                    [routerLink]="[
                      '/console/user/project',
                      { project: (currentProject$ | async)?.name },
                      'create_space'
                    ]"
                    [queryParams]="{ namespace: namespace?.uuid }"
                  >
                    {{ 'create_space' | translate }}
                  </aui-menu-item>
                  <aui-menu-item
                    *ngIf="groupEnabled"
                    (click)="bindGroup(namespace, $event)"
                  >
                    {{ 'binding_space' | translate }}
                  </aui-menu-item>
                </aui-menu>
              </div>
              <div class="namespace-item__desc">
                {{ namespace.cluster_display_name }}
              </div>
              <div class="namespace-item__quota">
                <div class="namespace-item__quota__item">
                  <div
                    class="namespace-item__quota__item__header"
                    [title]="'CPU ' + ('unit_cpu' | translate)"
                  >
                    CPU ({{ 'unit_cpu' | translate }})
                  </div>
                  <div
                    class="namespace-item__quota__item__content"
                    [title]="
                      getQuota(namespace.uuid)?.cpu | rcFieldNotAvailable
                    "
                  >
                    {{ getQuota(namespace.uuid)?.cpu | rcFieldNotAvailable }}
                  </div>
                </div>
                <div class="namespace-item__quota__item">
                  <div
                    class="namespace-item__quota__item__header"
                    [title]="('memory' | translate) + ' (GB)'"
                  >
                    {{ 'memory' | translate }} (GB)
                  </div>
                  <div
                    class="namespace-item__quota__item__content"
                    [title]="
                      getQuota(namespace.uuid)?.memory | rcFieldNotAvailable
                    "
                  >
                    {{ getQuota(namespace.uuid)?.memory | rcFieldNotAvailable }}
                  </div>
                </div>
                <div class="namespace-item__quota__item">
                  <div
                    class="namespace-item__quota__item__header"
                    [title]="('storage' | translate) + ' GB'"
                  >
                    {{ 'storage' | translate }} (GB)
                  </div>
                  <div
                    class="namespace-item__quota__item__content"
                    [title]="
                      getQuota(namespace.uuid)?.storage | rcFieldNotAvailable
                    "
                  >
                    {{
                      getQuota(namespace.uuid)?.storage | rcFieldNotAvailable
                    }}
                  </div>
                </div>
              </div>
              <div class="namespace-item__spaces" *ngIf="groupEnabled">
                <div class="namespace-item__spaces-content">
                  <span>{{ 'group' | translate }}：</span>
                  <div
                    style="display: inline-block;"
                    *ngIf="getSpaces(namespace.uuid)?.length"
                  >
                    <aui-tag
                      size="mini"
                      color="#ccecfa,#f2fafe"
                      *ngFor="let space of getSpaces(namespace.uuid)"
                    >
                      <a [routerLink]="['../space', space.name]">
                        {{ space?.display_name || space?.name }}
                      </a>
                    </aui-tag>
                  </div>
                  <ng-container *ngIf="!getSpaces(namespace.uuid)?.length">
                    <span style="font-size:12px;color:#666;">
                      {{ 'no_bunding_group_tip' | translate }}&nbsp;
                      <button
                        aui-button="text"
                        size="mini"
                        (click)="bindGroup(namespace, $event)"
                      >
                        {{ 'binding' | translate }}
                      </button>
                    </span>
                  </ng-container>
                  <aui-icon
                    *ngIf="getSpaces(namespace.uuid)?.length > 1"
                    icon="ellipsis_h_s"
                    class="namespace-item__spaces-more"
                    (click)="$event.stopPropagation()"
                    [auiTooltip]="spacesTemplate"
                    auiTooltipType="info"
                    auiTooltipTrigger="click"
                  ></aui-icon>
                  <ng-template #spacesTemplate>
                    <ng-container>
                      <aui-tag
                        class="namespace-item__spaces-more-tag"
                        *ngFor="let space of getSpaces(namespace.uuid)"
                        color="#ccecfa,#f2fafe"
                      >
                        <a [routerLink]="['../space', space.name]">
                          {{ space?.display_name || space?.name }}
                        </a>
                      </aui-tag>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="!(namespacesLength$ | async)">
            <div *ngIf="!(namespaceLoading$ | async)" class="overview-empty">
              {{ 'no_namespace' | translate }}
            </div>
            <rc-loading-mask
              [loading]="namespaceLoading$ | async"
            ></rc-loading-mask>
          </ng-container>
        </ng-container>
        <div *ngIf="!(clustersLength$ | async)" class="overview-empty">
          {{ 'project_has_no_cluster' | translate }}
        </div>
      </aui-tab>
      <aui-tab *ngIf="groupEnabled">
        <div *auiTabLabel>{{ 'space_under_namespace' | translate }}</div>
        <div *auiTabContent>
          <rc-project-space-list
            [project]="currentProject$ | async"
          ></rc-project-space-list>
        </div>
      </aui-tab>
    </aui-tab-group>
  </ng-container>
</div>
