:host {
  border-radius: 2px;
  background-color: #fff;
  rc-loading-mask {
    height: 120px;
  }
  .project-page_content-wrapper {
    padding: 20px;
  }
  .overview-empty {
    height: 120px;
    display: flex;
    color: #ccc;
    justify-content: center;
    align-items: center;
  }
  .overview-header {
    display: flex;
    align-items: baseline;
    aui-tag {
      cursor: pointer;
      margin-bottom: 8px;
    }
    margin-bottom: 6px;
  }
  .tenant-init-page {
    position: relative;
    img {
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      width: 996px;
      height: 397px;
    }
    button {
      position: absolute;
      top: 419px;
      left: 50%;
      transform: translateX(-50%);
      width: 140px;
      height: 40px;
    }
  }
  .cluster-list {
    flex-wrap: wrap;
    display: flex;
  }
  .namespace-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
    .namespace-item {
      width: calc((100% - 48px) / 4);
      margin: 6px;
      color: #333;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
      border-radius: 2px;
      border: 1px solid #ededed;

      &--pointer {
        cursor: pointer;
        &:hover {
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
          border: 1px solid #009ce3;
        }
      }
      &__header {
        height: 56px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        margin-bottom: 12px;
        border-bottom: 1px solid #ededed;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        aui-tag {
          margin-left: 8px;
        }
        button {
          border: none;
        }
      }
      &__title {
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #333;
        text-decoration: none;
      }
      &__body {
        height: 108px;
      }
      &__desc {
        display: flex;
        height: 20px;
        justify-content: flex-start;
        align-items: center;
        font-size: 12px;
        padding: 0 16px;
        color: #999;
      }
      &__quota {
        padding: 12px 16px 21px;
        display: flex;
        justify-content: center;
        &__item {
          height: 64px;
          width: 32%;
          padding: 8px 6px 0 6px;
          background: #fafafa;
          color: #666;
          &:not(:first-child) {
            margin-left: 8px;
          }
          &:nth-child(1) {
            background-color: #ededf3;
          }
          &:nth-child(2) {
            background-color: #f0f4f6;
          }
          &:nth-child(3) {
            background-color: #edeeea;
          }
          &__header {
            font-size: 12px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          &__content {
            height: 40px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 24px;
          }
        }
      }

      &__spaces {
        height: 43px;
        line-height: 20px;
        background: #fafafa;
        padding: 12px;
        color: #333;
        font-size: 14px;
        &-content {
          position: relative;
          overflow: hidden;
          white-space: nowrap;
        }
        &-item {
          padding: 2px 8px;
          border-radius: 10px;
          border: solid 1px #ccecfa;
          background-color: #f2fafe;
          font-size: 12px;
          color: #666;
          margin-right: 6px;
        }
        &-more {
          right: 0;
          top: 1px;
          background: #fafafa;
          position: absolute;
        }
      }
    }
  }
}
.namespace-item__spaces-tooltip-item {
  display: inline-block;
  margin: 4px;
  border-radius: 14px;
  border: solid 1px #ccecfa;
  background-color: #f2fafe;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  margin-right: 6px;
}
.project-page__header {
  flex: 1;
  display: flex;
  justify-content: center;
}
rc-loading-mask {
  background: transparent;
}
::ng-deep {
  .namespace-item__spaces-more-tag {
    .aui-tag {
      margin: 3px;
      span {
        color: #666;
      }
    }
  }
}
