<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="120px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'type' | translate }}
    </label>
    <aui-radio-group auiFormItemControl formControlName="type" size="medium">
      <aui-radio-button *ngFor="let type of types" [value]="type.value">
        {{ type.name }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>

  <!-- hostPath -->
  <div [hidden]="selectedType !== 'hostPath'" formGroupName="hostPath">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'host-path' | translate }}</label>
      <input aui-input required auiFormItemControl formControlName="path" />
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'mount_path' | translate }}
      </label>
      <input
        aui-input
        required
        auiFormItemControl
        formControlName="mountPath"
      />
    </aui-form-item>
  </div>

  <!-- persistentVolumeClaim -->
  <div
    [hidden]="selectedType !== 'persistentVolumeClaim'"
    formGroupName="persistentVolumeClaim"
  >
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'pvc' | translate }}
      </label>
      <aui-select
        required
        auiFormItemControl
        [filterable]="true"
        [loading]="!pvcs"
        formControlName="claimName"
      >
        <ng-container *ngIf="pvcs?.length > 0">
          <aui-option *ngFor="let item of pvcs" [value]="item.name">
            {{ item.name }}
          </aui-option>
        </ng-container>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'sub_path' | translate }}
      </label>
      <!-- 
        [pattern]="subPathRegex.pattern"
        [placeholder]="subPathRegex.tip | translate"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="{pattern: subPathRegex.tip | translate}"
       -->
      <input
        aui-input
        auiFormItemControl
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="{ pattern: subPathRegex.tip | translate }"
        formControlName="subPath"
      />
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'mount_path' | translate }}
      </label>
      <input
        aui-input
        required
        auiFormItemControl
        formControlName="mountPath"
      />
    </aui-form-item>
  </div>

  <!-- configmap -->
  <div [hidden]="selectedType !== 'configMap'" formGroupName="configMap">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'configmap' | translate }}
      </label>
      <aui-select
        required
        auiFormItemControl
        [filterable]="true"
        [loading]="!(configMaps$ | async)"
        (valueChange)="configMapChange($event)"
        formControlName="name"
      >
        <ng-container *ngIf="(configMaps$ | async)?.length > 0">
          <aui-option
            *ngFor="let item of (configMaps$ | async)"
            [value]="item.name"
          >
            {{ item.name }}
          </aui-option>
        </ng-container>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'ref_config_item' | translate }}
      </label>
      <aui-switch auiFormItemControl formControlName="hasRefKeys"></aui-switch>
    </aui-form-item>

    <aui-form-item [hidden]="!form.get('configMap.hasRefKeys').value">
      <rc-array-form-table
        style="flex: 1;"
        formArrayName="refKeys"
        [noRowSeparator]="true"
        (add)="addRefKey()"
        (remove)="removeRefKey($event)"
        [rows]="refKeysControls"
      >
        <ng-container *rcArrayFormTableHeader>
          <td width="40%;">{{ 'key' | translate }}</td>
          <td width="60%;">{{ 'file_path' | translate }}</td>
        </ng-container>

        <ng-container
          *rcArrayFormTableRow="let control; let i = index"
          [formGroupName]="i"
        >
          <td>
            <aui-select
              [allowCreate]="false"
              [filterable]="false"
              formControlName="key"
            >
              <aui-option
                *ngFor="
                  let item of (configMapKeys$ | async);
                  trackBy: configMapKeyTrackByFn
                "
                [label]="item"
                [value]="item"
              >
                {{ item }}
              </aui-option>
            </aui-select>
          </td>
          <td>
            <input aui-input formControlName="path" />
          </td>
        </ng-container>
      </rc-array-form-table>
    </aui-form-item>

    <aui-form-item [hidden]="!!form.get('configMap.hasRefKeys').value">
      <label auiFormItemLabel>
        {{ 'mount_path' | translate }}
      </label>
      <input
        aui-input
        required
        auiFormItemControl
        formControlName="mountPath"
      />
    </aui-form-item>
  </div>
</form>
