:host {
  display: block;
  width: 150px;
  .pie-chart {
    position: relative;
    overflow: hidden;
    text-align: center;
    .pie-chart-header {
      font-size: 16px;
    }
  }
  .unlimited-desc {
    color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    transform: translate3d(-50%, -50%, 0);
  }
  ::ng-deep {
    highcharts-chart {
      width: 100%;
      height: 150px;
      display: block;
      display: flex;
      justify-content: center;
      &.unlimited {
        .highcharts-data-labels {
          display: none;
        }
      }
    }
  }
}
