<div class="pie-chart">
  <div class="pie-chart-header">
    {{ title | translate }}
  </div>
  <highcharts-chart
    *ngIf="chartOptions.series && chartOptions.series.length"
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [ngClass]="{ unlimited: isNegative(data[1].value) }"
  ></highcharts-chart>
  <div *ngIf="isNegative(data[1].value)" class="unlimited-desc">
    {{ 'unlimited' | translate }}
  </div>
  <div class="pie-chart-footer">
    <ng-container *ngIf="!isNegative(data[1].value)">
      <span style="color: #36b37e;">{{ data[0].value }}</span>
      /
      <span>{{ data[0].value + data[1].value }}</span>
      <span>&nbsp;{{ unit }}</span>
    </ng-container>
    <ng-container *ngIf="isNegative(data[1].value)">
      {{ 'used' | translate }}
      <span style="color: #36b37e;">{{ data[0].value }}&nbsp;{{ unit }}</span>
    </ng-container>
  </div>
</div>
