@import 'mixins';

:host {
  .project-page__header {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  rc-loading-mask {
    position: absolute;
  }

  .aui-card__header {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-between;
  }

  .member-list {
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
  }

  .list-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    border-bottom: 1px solid #ededed;

    .title {
      height: 22px;
      line-height: 22px;
      font-size: 16px;
    }
  }

  .list-addons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 56px;
    margin-top: 8px;

    form {
      display: flex;
      flex-flow: row;
    }

    .username-input,
    .role-select {
      flex: 0 0 220px;
      margin-right: 8px;
    }

    .role-selec-prefix {
      display: flex;
      align-items: center;
      height: 32px;
      padding: 0 7px;
      margin-left: 70px;
      width: 80px;
      border: 1px solid #ccc;
      border-radius: 2px 0 0 2p;
      border-right: none;
      background-color: #f2f2f2;
    }
  }

  .delete_account_icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: 0.3s;
    color: #999;
    &:hover {
      color: #009ce3;
    }
  }

  .zero-state {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 42px;
    color: #ccc;
  }

  .rc-detail-container {
    min-height: 0;
  }

  .aui-table__header-cell:last-child,
  .aui-table__cell:last-child {
    flex: 0 0 50px;
  }

  .space-list-namespace__list {
    padding: 13px 5px;
    line-height: 26px;
    li {
      list-style-type: none;
      position: relative;
      &::before {
        content: ' ';
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background: #33afe8;
        position: absolute;
        top: 10px;
      }
      a {
        margin-left: 10px;
      }
    }
  }

  ::ng-deep {
    .aui-form-item__label-wrapper--required::before {
      display: none;
    }

    .aui-form-item .aui-form-item__label-wrapper {
      width: 0 !important;
    }

    aui-form-item:nth-of-type(2) {
      margin-left: -60px;
    }

    .aui-table__column-role {
      @include text-overflow();
    }

    .role-select {
      .aui-input {
        border-radius: 0 2px 2px 0;
      }
    }
  }
}
