<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/user']">
        {{ 'project_overview' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="['../../detail']">
        {{ (currentProject$ | async)?.display_name }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'space_under_namespace' | translate }}：</span>
      <button aui-button="text" [auiDropdown]="dropdown">
        <span>{{ currentSpace?.name }}</span>
        <aui-icon icon="caret_down_s"></aui-icon>
      </button>
      <aui-menu #dropdown size="small">
        <aui-menu-item
          *ngFor="let space of (spaces$ | async)"
          (click)="onSpaceSelect(space)"
        >
          {{ space.name }}
        </aui-menu-item>
      </aui-menu>
      <span *ngIf="!(spaces$ | async)?.length">
        {{ 'no_data' | translate }}
      </span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card>
  <div auiCardHeader>
    <span class="title">{{ currentSpace?.name }}</span>
    <aui-dropdown-button
      plain="true"
      *ngIf="
        updatePermission ||
        bindNamespacePermission ||
        unbindNamespacePermission ||
        deletePermission
      "
    >
      <span (click)="openUpdateSpaceDialog()" *ngIf="updatePermission">
        {{ 'update_space' | translate }}
      </span>
      <aui-menu size="small">
        <aui-menu-item
          (click)="openBindingNamespaceDialog()"
          *ngIf="bindNamespacePermission"
        >
          {{ 'binding_namespace' | translate }}
        </aui-menu-item>
        <aui-menu-item
          (click)="openUnbindingNamespaceDialog()"
          *ngIf="unbindNamespacePermission"
        >
          {{ 'unbinding_namespace' | translate }}
        </aui-menu-item>
        <aui-menu-item
          (click)="openDeleteSpaceDialog()"
          *ngIf="deletePermission"
        >
          {{ 'delete_space' | translate }}
        </aui-menu-item>
      </aui-menu>
    </aui-dropdown-button>
  </div>

  <section class="basic-info">
    <div class="rc-detail-container">
      <div class="detail-wrapper" style="margin-left: 0">
        <div class="detail-content">
          <div class="detail-item">
            <label>{{ 'display_name' | translate }}</label>
            <div>{{ currentSpace?.display_name || '-' }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'created_at' | translate }}</label>
            <div>{{ currentSpace?.created_at | rcFormatUtcStr }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'own_namespace' | translate }}</label>
            <div
              class="ellipsis"
              style="display:block;"
              [title]="getNamespacesStr(currentSpace?.namespaces)"
            >
              <ng-container
                *ngFor="
                  let namespace of currentSpace?.namespaces;
                  let i = index
                "
                (click)="namespaceDetail((currentSpace?.namespaces)[0], $event)"
              >
                <span *ngIf="i > 0">,</span>
                <a class="link" (click)="namespaceDetail(namespace, $event)">
                  {{ namespace.name }}
                </a>
              </ng-container>
              <span *ngIf="!currentSpace?.namespaces?.length">-</span>
            </div>
          </div>
          <div class="detail-item">
            <label style="align-self: flex-start;">
              {{ 'admin' | translate }}
            </label>
            <span class="ellipsis" [title]="adminsNameStr">
              {{ adminsNameStr }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</aui-card>

<div class="member-list">
  <div class="list-header">
    <span class="title">{{ 'member' | translate }}</span>
    <aui-search
      [searchButton]="true"
      [placeholder]="'search_by_keyword' | translate"
      (search)="onSearch($event)"
      (keywordChange)="onSearchKeyChange($event)"
    ></aui-search>
  </div>

  <div class="list-addons">
    <form [formGroup]="userFormGroup" aui-form>
      <aui-form-item>
        <aui-input-group class="username-input">
          <span auiInputAddonBefore>{{ 'username' | translate }}</span>
          <input
            auiFormItemControl
            aui-input
            required
            size="medium"
            formControlName="userKeyword"
            [pattern]="usernamePattern.pattern"
            rcErrorsTooltip
            [rcErrorsTooltipMapper]="{
              pattern: usernamePattern.tip | translate
            }"
          />
        </aui-input-group>
      </aui-form-item>
      <aui-form-item>
        <div class="role-selec-prefix">
          {{ 'role' | translate }}
        </div>
        <aui-select
          required
          auiFormControl
          class="role-select"
          rcErrorsTooltip
          formControlName="roleName"
        >
          <aui-option
            *ngFor="let item of roleTypes"
            [label]="displayRoleItem(item)"
            [value]="item.role_name"
          >
            {{ displayRoleItem(item) }}
          </aui-option>
        </aui-select>
      </aui-form-item>
      <button
        aui-button="primary"
        type="submit"
        [loading]="addAccountLoading"
        [disabled]="addAccountLoading || !roleAssignPermission"
        (click)="addSingleAccount()"
      >
        {{ 'add' | translate }}
      </button>
    </form>
    <button
      style="margin-left: 10px;"
      aui-button="plain"
      [disabled]="!roleAssignPermission"
      (click)="batchAdd()"
    >
      {{ 'batch_import' | translate }}
    </button>
  </div>

  <div class="table">
    <aui-table [dataSource]="accounts">
      <ng-container auiTableColumnDef="username">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'username' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.username }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="alias_name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'alias_name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.realname || '-' }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="role">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'role' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <span [title]="displayRolesText(roles[item.username])">
            {{ displayRolesText(roles[item.username]) }}
          </span>
          <span *ngIf="!roles[item.username]?.length">-</span>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="source">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'user_source' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.source || '-' }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="status">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'status' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ getAccountStaus(item.is_valid) | translate }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="created_at">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'created_at' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.created_at | rcFormatUtcStr }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>

        <aui-table-cell *auiTableCellDef="let item">
          <a (click)="removeAccount(item)">
            <aui-icon
              class="delete_account_icon"
              icon="basic:minus_circle"
            ></aui-icon>
          </a>
        </aui-table-cell>
      </ng-container>

      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>
    <div class="zero-state" *ngIf="!accounts?.length">
      {{ 'no_data' | translate }}
    </div>
    <aui-paginator
      [total]="paginator.total"
      [pageSize]="paginator.size"
      [currentPage]="paginator.current"
      (currentPageChange)="pageChanged($event)"
      (pageSizeChange)="sizeChanged($event)"
      [pageSizeOptions]="[10, 20, 50, 100]"
    ></aui-paginator>
  </div>
</div>
