<ng-container>
  <form>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'devops_repository_address' | translate }}
      </label>
      <div class="addr-tag-container">
        <aui-select
          filterable
          auiFormItemControl
          name="addr"
          #addr="ngModel"
          required
          [(ngModel)]="imageParams.full_image_name"
          [loading]="loading"
          [placeholder]="'please_select' | translate"
        >
          <aui-option
            class="app-create-image-select"
            *ngFor="let repo of repositories"
            [label]="repo.image"
            [value]="repo.endpoint + '/' + repo.image"
            (click)="selectedRepoChange(repo)"
          >
            <div
              [ngClass]="'icon_' + repo.type.toLowerCase()"
              style="display: flex"
            >
              <div>
                <div>{{ repo.image }}</div>
                <div class="repo-endpoint">{{ repo.endpoint }}</div>
              </div>
            </div>
          </aui-option>
        </aui-select>
        <div class="cut-off">:</div>
        <aui-select
          auiFormItemControl
          name="tag"
          #tag="ngModel"
          required
          [(ngModel)]="imageParams.tag"
          [loading]="loading"
          allowCreate="true"
          filterable="true"
          [placeholder]="'devops_selecte_or_input_image_tag' | translate"
          [disabled]="!tagOptions"
        >
          <ng-container *ngIf="tagOptions">
            <aui-option *ngFor="let tag of tagOptions" [value]="tag.name">
              {{ tag.name }}
            </aui-option>
          </ng-container>
        </aui-select>
      </div>
      <div auiFormItemError *ngIf="addr.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
  </form>
</ng-container>
