:host {
  .addr-tag-container {
    display: flex;
    flex: 1;
    .cut-off {
      display: flex;
      align-items: center;
      padding: 0 8px;
      font-size: 16px;
    }
    > aui-select:first-child {
      flex: 3;
    }
    > aui-select:last-child {
      flex: 2;
    }
  }
  .image-repo {
    display: flex;
    flex-direction: column;
  }
}

::ng-deep .app-create-image-select {
  .aui-option {
    height: 54px;
    line-height: 18px;
    padding: 8px 12px;
  }
}

.repo-endpoint {
  color: lightgray;
}

.icon_ {
  &harbor:before {
    width: 24px;
    height: 24px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url('/static/images/tool-chain/list/harbor.svg') no-repeat;
    background-size: 24px 24px;
    margin: auto 8px auto 0;
  }
}
