<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/user/project', { project: project?.name }]">
        {{ 'project_overview' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'create_namespace' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<aui-card *ngIf="initialized">
  <div auiCardHeader>
    <rc-create-namespace-navigation
      [actions]="actions"
      [currentAction]="currentAction"
    ></rc-create-namespace-navigation>
  </div>

  <div class="form-container">
    <ng-container [ngSwitch]="currentStep">
      <ng-container *ngSwitchCase="StepEnum.NAMESPACE">
        <rc-namespace-primary-form
          #currentForm
          [namePrefix]="namePrefix"
          [clusters]="clusters"
          (submit)="onFormSubmit($event)"
        ></rc-namespace-primary-form>
      </ng-container>
      <ng-container *ngSwitchCase="StepEnum.RESOURCEQUOTA">
        <rc-namespace-quota-form
          #currentForm
          [cluster]="data.cluster"
          [namespace]="data.namespaceName"
          [clusterQuotaKeys]="clusterQuotaKeys"
          [clustersQuota]="clustersQuota"
          (submit)="onFormSubmit($event)"
        ></rc-namespace-quota-form>
      </ng-container>
      <ng-container *ngSwitchCase="StepEnum.LIMITRANGE">
        <rc-namespace-limitrange-form
          #currentForm
          [cluster]="data.cluster"
          [namespace]="data.namespaceName"
          [clusterQuotaKeys]="clusterQuotaKeys"
          [clustersQuota]="clustersQuota"
          (submit)="onFormSubmit($event)"
        ></rc-namespace-limitrange-form>
      </ng-container>
      <ng-container *ngSwitchCase="StepEnum.ERROR">
        <aui-inline-alert type="error" [closable]="false">
          <span auiInlineAlertTitle>
            {{ 'generic_error_title' | translate }}
          </span>
          <div>
            {{ errorMessage }}
          </div>
        </aui-inline-alert>
      </ng-container>
      <ng-container *ngSwitchDefault>Unknown Page</ng-container>
    </ng-container>
  </div>

  <div auiCardFooter>
    <div fxFlex></div>
    <button
      *ngIf="currentStep !== StepEnum.ERROR && !isLastStep"
      aui-button="primary"
      (click)="create()"
      [loading]="submitting"
    >
      {{ 'create' | translate }}
    </button>
    <button
      *ngIf="isLastStep"
      aui-button="primary"
      (click)="complete()"
      [loading]="submitting"
    >
      {{ 'complete' | translate }}
    </button>
    <button
      *ngIf="currentStep === StepEnum.ERROR"
      aui-button="primary"
      (click)="retry()"
      [loading]="submitting"
    >
      {{ 'retry' | translate }}
    </button>
    <button
      *ngIf="currentStep === StepEnum.NAMESPACE"
      aui-button
      (click)="cancel()"
    >
      {{ 'cancel' | translate }}
    </button>
    <button
      *ngIf="currentStep !== StepEnum.NAMESPACE"
      aui-button
      (click)="back()"
    >
      {{ 'back' | translate }}
    </button>
  </div>
</aui-card>
