.aui-table {
  min-width: 0px;
  color: #999999;
  &__column-name {
    flex: 1;
  }
  &__column-history {
    flex: 1;
  }
  &__column-jenkinsInstance {
    flex: 1;
  }
  &__column-codeRepository {
    flex: 2;
  }
  &__column-triggers {
    flex: 1;
  }
  &__column-actions {
    max-width: 40px;
  }

  .isEnabled {
    color: #009ce3;
  }
}

.error-hint-icon {
  color: #f8ac58;
}

.pipeline-name-container {
  display: flex;
  img {
    margin-right: 8px;
  }
  &_content {
    display: flex;
    min-width: 0;
    flex-direction: column;
    &_name {
      font-size: 16px;
      font-weight: 600;
      display: flex;
      &:hover {
        color: #009ce3;
        text-decoration: underline;
      }
      &_string {
        text-overflow: ellipsis;
        margin-right: 8px;
        overflow: hidden;
      }
    }
  }
}
