<aui-table
  auiSort
  [dataSource]="pipelines"
  (sortChange)="sortChanged($event)"
  [trackBy]="pipelineIdentity"
>
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell
      aui-sort-header="name"
      start="asc"
      *auiTableHeaderCellDef
    >
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <div class="pipeline-name-container">
        <img
          *ngIf="item?.strategy?.template"
          src="/static/images/pipeline_new/template.svg"
        />
        <img
          *ngIf="!item?.strategy?.template"
          src="/static/images/pipeline_new/jenkinsfile.svg"
        />
        <div class="pipeline-name-container_content">
          <a
            [routerLink]="[item.name]"
            [title]="item.name"
            class="pipeline-name-container_content_name"
          >
            <span
              title="{{ item.name }}"
              class="pipeline-name-container_content_name_string"
            >
              {{ item.name }}
            </span>
            <span
              *ngIf="item?.status?.phase === 'Error'"
              class="error-hint-icon"
            >
              <aui-icon
                icon="exclamation_circle_s"
                [auiTooltip]="item?.status.message"
              ></aui-icon>
            </span>
          </a>
          <div *ngIf="item.displayName">{{ item.displayName }}</div>
        </div>
      </div>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="history">
    <aui-table-header-cell
      aui-sort-header="pipelineCreationTimestamp"
      start="desc"
      *auiTableHeaderCellDef
    >
      {{ 'pipeline_history' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <span *ngIf="!item.histories.length">-</span>
      <rc-history-preview
        *ngIf="item.histories.length"
        [histories]="item.histories"
        [project]="item.namespace"
        [spaceName]="space?.name"
        [pipelineName]="item.name"
        [category]="category"
      ></rc-history-preview>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="triggers">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'pipeline_trigger' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <ng-container *ngIf="item.triggers?.length; else noTriggers">
        <aui-icon
          *ngFor="let trigger of item.triggers"
          margin="right"
          [icon]="mapTriggerIcon(trigger.type)"
          [class.isEnabled]="trigger.enabled"
          [auiTooltip]="getTriggerHint(trigger)"
        ></aui-icon>
      </ng-container>
      <ng-template #noTriggers>
        <span>-</span>
      </ng-template>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="actions">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <rc-menu-trigger
        [menu]="actionsMenu"
        [context]="{ item: item }"
      ></rc-menu-trigger>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>

<aui-menu #actionsMenu>
  <ng-template auiMenuContent let-item="item">
    <aui-menu-item
      [disabled]="
        item?.status.phase === 'Error' ||
        item?.status.phase === 'Creating' ||
        !permissions.canTrigger
      "
      (click)="start(item)"
    >
      {{ 'pipeline_start' | translate }}
    </aui-menu-item>
    <aui-menu-item [disabled]="!permissions.canUpdate" (click)="update(item)">
      {{ 'update' | translate }}
    </aui-menu-item>
    <aui-menu-item [disabled]="!permissions.canCreate" (click)="copy(item)">
      {{ 'copy' | translate }}
    </aui-menu-item>
    <aui-menu-item
      [disabled]="!permissions.canDelete"
      type="danger"
      [divide]="true"
      (click)="delete(item)"
    >
      {{ 'delete' | translate }}
    </aui-menu-item>
  </ng-template>
</aui-menu>
