:host {
  .detail-wrapper {
    margin-left: 0;
    .detail-header {
      margin: 12px 0;
      padding-bottom: 6px;
      border-bottom: 1px solid #ededed;
      font-size: 16px;
    }
    .detail-content {
      rc-alarm-basic-info {
        width: 100%;
      }
    }
    .detail-sub-header {
      margin-bottom: 16px;
      label {
        font-size: 14px;
      }
    }
    .time-select-toolbar {
      margin-bottom: 12px;
      display: flex;
      .time-select-label {
        line-height: 32px;
        padding-right: 8px;
      }
      aui-select {
        width: 200px;
      }
    }
  }
  .chart {
    height: 188px;
    highcharts-chart {
      display: block;
      width: 100%;
      height: 188px;
    }
    ::ng-deep {
      .zero-state-hint {
        height: 100%;
        background-color: #fafafa;
        border-bottom: none;
      }
    }
  }
  .aui-table {
    .aui-table__column-name {
      a {
        width: auto;
        margin-right: 5px;
      }
    }
  }
}
