<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<ng-container *ngIf="initialized && pods?.length; else nodata">
  <aui-table [dataSource]="pods">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span [auiTooltip]="item.kubernetes.metadata.name">
          {{ item.kubernetes.metadata.name }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="labels">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'labels' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="tag-container">
          <rc-tags-label
            [tags]="item.kubernetes.metadata.labels"
          ></rc-tags-label>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-status-icon
          [status]="getPodStatus(item.kubernetes.status.phase)"
        ></rc-status-icon>
        <span [style.margin-left]="'4px'">
          {{ item.kubernetes.status.phase || 'Unknown' }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="reload_times">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'reload_times' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{
          item.kubernetes.status.containerStatuses
            ? item.kubernetes.status.containerStatuses[0].restartCount
            : 0
        }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="namespace">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'namespace' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span [auiTooltip]="item.kubernetes.metadata.namespace">
          {{ item.kubernetes.metadata.namespace }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_at">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_at' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.kubernetes.metadata.creationTimestamp | rcFormatUtcStr }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div [auiDropdown]="menu" class="action-button">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item
            (click)="updateAction(item)"
            [disabled]="!hasPermission(item, 'update')"
          >
            {{ 'update' | translate }}
          </aui-menu-item>
          <aui-menu-item
            (click)="updateLabelAction(item)"
            [disabled]="!hasPermission(item, 'update')"
          >
            {{ 'labels_update' | translate }}
          </aui-menu-item>
          <aui-menu-item
            (click)="deleteAction(item)"
            [disabled]="!hasPermission(item, 'delete')"
          >
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columnDef"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="let row; columns: columnDef"
    ></aui-table-row>
  </aui-table>
</ng-container>
<ng-template #nodata>
  <rc-zero-state
    [zeroState]="initialized && !pods?.length"
    resourceName="data"
  ></rc-zero-state>
</ng-template>
<aui-paginator
  *ngIf="pods?.length"
  layout="total,pager,sizes,jumper"
  [disabled]="loading"
  [(currentPage)]="pagination.current"
  [(pageSize)]="pagination.size"
  [total]="pagination.count"
  (currentPageChange)="currentPageChange($event)"
  (pageSizeChange)="pageSizeChange($event)"
  [pageSizeOptions]="[10, 20, 50, 100]"
></aui-paginator>
