:host {
  .aui-table {
    &__column {
      &-name {
        flex: 1 1 200px;
      }
      &-labels {
        flex: 1 1 250px;
        .tag-container {
          width: 100%;
          > rc-tags-label {
            width: 100%;
          }
        }
      }
      &-status {
        flex: 0 1 120px;
      }
      &-reload_times {
        flex: 0 1 100px;
      }
      &-namespace {
        flex: 1 1 200px;
      }
      &-created_at {
        flex: 0 1 170px;
      }
      &-action {
        flex: 0 0 70px;
      }
    }
  }
}
