:host {
  display: flex !important;
  flex-direction: column;
  flex: 1;
}

.alarm-dashboard {
  display: flex;
  flex: 1;

  rc-prometheus-list {
    width: 100%;
  }

  .not-intsalled {
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
    width: 100%;
    .title {
      font-size: 18px;
      margin-top: 24px;
    }
    .content {
      color: #999;
      margin-top: 8px;
    }
    img {
      width: 160px;
      margin: 0 auto;
    }
  }
}
