<rc-region-badge-option [option]="regionBadgeOption"></rc-region-badge-option>

<div [rcLoadingMask]="loading" class="alarm-dashboard">
  <rc-prometheus-list
    *ngIf="metricDocked; else noInstalled"
    [namespace]="namespace"
  ></rc-prometheus-list>

  <ng-template #noInstalled>
    <div *ngIf="!loading" class="not-intsalled">
      <img src="/static/images/not-installed.svg" />
      <div class="title">
        {{ 'region_no_alarm_title' | translate }}
      </div>
      <div class="content">
        {{ 'region_no_alarm' | translate }}
      </div>
    </div>
  </ng-template>
</div>
