<aui-dialog-header>
  {{ (isUpdate ? 'update_resource_type' : 'add_resource_type') | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form auiForm #Form="ngForm" auiFormLabelWidth="160px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'api_group' | translate }}</label>
      <aui-select
        name="api_group"
        auiFormItemControl
        required
        [disabled]="isUpdate"
        [(ngModel)]="formModel.api_group"
      >
        <aui-option *ngFor="let api of apiGroups" [value]="api.name">
          {{ api.name }}
        </aui-option>
      </aui-select>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'resource_type' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        required
        autocomplete="off"
        [disabled]="isUpdate"
        name="resource_type"
        [(ngModel)]="formModel.resource_type"
        [rcErrorsTooltip]
        [pattern]="K8S_RESOURCE_NAME_BASE.pattern"
        [rcErrorsTooltipMapper]="{
          pattern: K8S_RESOURCE_NAME_BASE.tip | translate
        }"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'rbac_actions' | translate }}</label>
      <aui-multi-select
        name="rbac_actions"
        auiFormItemControl
        required
        [(ngModel)]="formModel.actions"
      >
        <aui-option
          *ngFor="let action of actions"
          [label]="action | translate"
          [value]="formModel.resource_type + ':' + action"
        >
          {{ action | translate }}
        </aui-option>
      </aui-multi-select>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="Form.invalid || confirming"
    (click)="confirm()"
  >
    {{ (isUpdate ? 'update' : 'add') | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
