<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'rbac' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'ldap_setting' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div class="tabs-container detail-container">
  <aui-tab-group>
    <aui-tab>
      <ng-container *auiTabLabel>{{ 'LDAP' | translate }}</ng-container>
      <ng-container *auiTabContent>
        <div class="detail-tab-container clearfix">
          <rc-app-org-ldap [orgName]="orgName"></rc-app-org-ldap>
        </div>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>{{ 'events' | translate }}</ng-container>
      <ng-container *auiTabContent>
        <div class="detail-tab-container clearfix">
          <rc-event-list type="ldap_sync,ldap_config"></rc-event-list>
        </div>
      </ng-container>
    </aui-tab>
  </aui-tab-group>
</div>
