<aui-dialog-header>
  <aui-icon icon="exclamation_circle_s"></aui-icon>
  {{ 'ldap_filter_condition_demo' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div [innerHtml]="helpLink"></div>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" [auiDialogClose]="true">
    {{ 'ok' | translate }}
  </button>
</aui-dialog-footer>
