:host {
  .no-label-item {
    ::ng-deep {
      .aui-form-item__label-wrapper::after {
        content: ' ';
      }
    }
  }
  .rc-detail-container {
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
    margin: 16px 0;
    .rc-detail-content-wrap {
      min-height: 80px;
      overflow: hidden;
      transition: max-height 0.3s;
    }
    .rc-detail-content {
      padding: 16px;
      .rc-detail-row {
        display: flex;
        line-height: 36px;
        div {
          word-break: break-all;
        }
        > div:nth-child(odd) {
          text-align: right;
          padding-right: 16px;
          color: #a1a1a1;
          flex: 0 0 175px;
          min-width: 186px;
        }
        > div:nth-child(even) {
          color: #666;
          flex: 1;
        }
      }
    }
  }
  .horizontal-message {
    border: 0;
    margin-bottom: 0;
    box-shadow: 0 0 0 0;
    color: #9c9c9c;
    flex: 1;
    max-width: 60%;
    display: flex;
    align-items: center;
    .inline-help-text {
      position: relative;
      width: calc(100% - 100px);
      height: 40px;
      line-height: 40px;
      ::ng-deep {
        p {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-bottom: 0;
        }
      }
    }
    .btn-link {
      margin-left: 0.5em;
      font-size: 12px;
    }
  }
  .rc-header-alt {
    display: flex;
    align-items: center;
    margin: 16px 0;
    font-size: 16px;
    &:before {
      width: 3px;
      height: 17px;
      background-color: #59889b;
      content: '';
      display: block;
      margin-right: 10px;
    }
  }
  .rc-form-fieldset-interval {
    border-top: 1px dashed #e1e1e1;
    height: 0;
    margin: 16px 0;
  }
  .rb-form-row {
    .rb-label {
      flex: 1;
      max-width: 20%;
      min-width: 20%;
    }
    input,
    textarea {
      max-width: 60%;
    }
  }
  .flex-20 {
    flex: 1;
    max-width: 20%;
  }
  .rb-form-footer {
    margin: 0 -20px -20px;
  }
  app-org-ldap,
  .org-ldap {
    min-height: 200px;
    .rb-form-panel {
      box-shadow: none !important;
    }
    .rb-form-container {
      padding: 10px 0 0 0 !important;
    }
    .detail-container {
      box-shadow: none !important;
    }
    .ldap-type-select-card {
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      .item {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        margin: 0 10px;
        width: 220px;
        height: 136px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
        &:hover {
          background-color: #f8f8f8;
        }
        &.selected {
          background-color: #f8f8f8;
          .link-status-ribbon {
            visibility: visible;
            aui-icon {
              color: #42d32b;
            }
          }
        }
        .item-logo {
          width: 64px;
        }
        .item-name {
          font-size: 16px;
          line-height: 20px;
          color: #333;
          margin-top: 10px;
        }
        .link-status-ribbon {
          visibility: hidden;
          position: absolute;
          top: -25px;
          right: -25px;
          width: 50px;
          height: 50px;
          transform: rotate(45deg);
          background-color: #eee;
          &.disabled {
            background-color: transparent;
            transform: none;
            top: 5px;
            right: 5px;
            width: 200px;
            color: #999;
            text-align: right;
          }
          aui-icon {
            position: absolute;
            bottom: 3px;
            left: 20px;
            transform: rotate(-45deg);
            &.fa-check {
              color: #666;
            }
          }
        }
      }
    }
    .ldap-desc-card {
      background: #fcfcfc;
      border: 1px solid #f3f3f3;
      border-radius: 4px;
      padding: 10px;
      position: relative;
      .title {
        font-size: 16px;
        line-height: 26px;
        color: #333;
      }
      .desc {
        font-size: 14px;
        line-height: 20px;
        color: #666;
      }
      .button-area {
        position: absolute;
        top: 28px;
        right: 28px;
      }
    }
  }
}
