<div class="org-ldap" [rcLoadingMask]="ldapConfigLoading">
  <div class="ldap-type-select-card" *ngIf="ldapMode === orgLdapPageMap.CREATE">
    <div
      class="item"
      [ngClass]="{ selected: ldapConfig.type === 'OpenLDAP' }"
      (click)="selectLdapType('OpenLDAP')"
    >
      <div class="link-status-ribbon">
        <aui-icon icon="check_s"></aui-icon>
      </div>
      <div class="item-logo">
        <img src="/static/images/ldap/OpenLDAP.svg" />
      </div>
      <div class="item-name">OpenLDAP</div>
    </div>
    <div
      class="item"
      [ngClass]="{ selected: ldapConfig.type === 'ActiveDirectory' }"
      (click)="selectLdapType('ActiveDirectory')"
    >
      <div class="link-status-ribbon">
        <aui-icon icon="check_s"></aui-icon>
      </div>
      <div>
        <img class="item-logo" src="/static/images/ldap/ActiveDirectory.svg" />
      </div>
      <div class="item-name">Active Directory</div>
    </div>
    <div
      class="item"
      [ngClass]="{ selected: ldapConfig.type === 'AzureAD' }"
      (click)="selectLdapType('AzureAD')"
    >
      <div class="link-status-ribbon">
        <aui-icon icon="check_s"></aui-icon>
      </div>
      <div><img class="item-logo" src="/static/images/ldap/AzureAD.svg" /></div>
      <div class="item-name">Azure AD</div>
    </div>
  </div>
  <div class="ldap-desc-card" *ngIf="ldapMode">
    <div class="title">
      {{ ldapConfig.type }}&nbsp;{{
        (ldapMode === orgLdapPageMap.CREATE
          ? 'org_ldap_config_off'
          : 'org_ldap_config_on') | translate
      }}
    </div>
    <div class="desc">
      {{
        (ldapMode === orgLdapPageMap.CREATE
          ? 'org_ldap_config_desc_off'
          : 'org_ldap_config_desc_on')
          | translate: { ldapType: ldapConfig.type }
      }}
    </div>
    <div
      class="button-area"
      style="margin: 10px;"
      *ngIf="ldapMode === orgLdapPageMap.DISPLAY"
    >
      <a href="javascript:;" (click)="editLdapConfig()">
        <aui-icon icon="basic:pencil_edit"></aui-icon>
        {{ 'update' | translate }}
      </a>
    </div>
  </div>

  <div *ngIf="ldapMode === orgLdapPageMap.DISPLAY">
    <div class="detail-basic-info rc-detail-container">
      <div class="rc-detail-content-wrap">
        <div class="rc-detail-content" *ngIf="ldapConfig.type !== 'AzureAD'">
          <div class="rc-detail-row">
            <div>{{ 'org_ldap_host_or_ip' | translate }}</div>
            <div>{{ ldapConfig.config.host }}</div>

            <div>{{ 'port' | translate }}</div>
            <div>{{ ldapConfig.config.port }}</div>
          </div>

          <div class="rc-detail-row">
            <div>{{ 'TLS' | translate }}</div>
            <div>{{ ldapConfig.config.tls | translate }}</div>

            <div>{{ 'org_ldap_service_account' | translate }}</div>
            <div>{{ ldapConfig.config.service_account }}</div>
          </div>

          <div class="rc-detail-row">
            <div>{{ 'org_ldap_service_account_password' | translate }}</div>
            <div>******</div>

            <div>{{ 'org_ldap_search_base' | translate }}</div>
            <div>{{ ldapConfig.config.search_base }}</div>
          </div>

          <div class="rc-detail-row">
            <div>{{ 'org_ldap_class_type' | translate }}</div>
            <div>{{ ldapConfig.schema.users.class_type }}</div>

            <div>{{ 'org_ldap_login_field' | translate }}</div>
            <div>{{ ldapConfig.schema.users.login_field }}</div>
          </div>

          <div class="rc-detail-row">
            <div>{{ 'org_ldap_filter_condition' | translate }}</div>
            <div>{{ ldapConfig.schema.users.search }}</div>
          </div>
        </div>
        <div class="rc-detail-content" *ngIf="ldapConfig.type === 'AzureAD'">
          <div class="rc-detail-row">
            <div>{{ 'org_ldap_azuread_area' | translate }}</div>
            <div>
              {{
                (ldapConfig.config.country === 'CN'
                  ? 'org_ldap_account_country_cn'
                  : 'org_ldap_account_country_us') | translate
              }}
            </div>
          </div>

          <div class="rc-detail-row">
            <div>{{ 'org_ldap_tenant_id' | translate }}</div>
            <div>{{ ldapConfig.config.tenant_id }}</div>

            <div>{{ 'org_ldap_basic_domain' | translate }}</div>
            <div>{{ ldapConfig.config.domain }}</div>
          </div>

          <div class="rc-detail-row">
            <div>{{ 'username' | translate }}</div>
            <div>{{ ldapConfig.config.service_account }}</div>

            <div>{{ 'password' | translate }}</div>
            <div>******</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="[orgLdapPageMap.CREATE, orgLdapPageMap.UPDATE].includes(ldapMode)"
  >
    <div class="rb-form-panel">
      <div class="rb-form-container">
        <form auiForm #ldapConfigForm="ngForm" auiFormLabelWidth="200px">
          <div *ngIf="ldapConfig.type !== 'AzureAD'">
            <div class="rc-header-alt ">
              {{ 'org_ldap_config_basic' | translate }}
            </div>
            <aui-form-item>
              <label auiFormItemLabel>
                {{ 'org_ldap_host_or_ip' | translate }}
              </label>
              <input
                auiFormItemControl
                type="text"
                name="host"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.config.host"
              />
            </aui-form-item>
            <aui-form-item>
              <label auiFormItemLabel>{{ 'port' | translate }}</label>
              <input
                auiFormItemControl
                type="text"
                name="port"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.config.port"
              />
            </aui-form-item>
            <aui-form-item>
              <label auiFormItemLabel>{{ 'TLS' | translate }}</label>
              <aui-switch
                name="tls"
                [(ngModel)]="ldapConfig.config.tls"
              ></aui-switch>
            </aui-form-item>

            <aui-form-item
              *ngIf="ldapConfig.config.tls && ldapConfig.type === 'OpenLDAP'"
            >
              <label auiFormItemLabel>
                {{ 'org_ldap_tls_server_cert' | translate }}
              </label>
              <textarea
                auiFormItemControl
                type="text"
                name="server_cert"
                aui-input
                [(ngModel)]="ldapConfig.config.server_cert"
              ></textarea>
            </aui-form-item>
            <aui-form-item
              *ngIf="ldapConfig.config.tls && ldapConfig.type === 'OpenLDAP'"
            >
              <label auiFormItemLabel>
                {{ 'org_ldap_tls_client_key' | translate }}
              </label>
              <textarea
                auiFormItemControl
                type="text"
                name="client_key"
                aui-input
                [(ngModel)]="ldapConfig.config.client_key"
              ></textarea>
            </aui-form-item>
            <aui-form-item>
              <label auiFormItemLabel>
                {{ 'org_ldap_service_account' | translate }}
              </label>
              <input
                auiFormItemControl
                type="text"
                name="service_account"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.config.service_account"
              />
            </aui-form-item>
            <aui-form-item>
              <label auiFormItemLabel>
                {{ 'org_ldap_service_account_password' | translate }}
              </label>
              <input
                auiFormItemControl
                type="text"
                autocomplete="off"
                name="service_password"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.config.service_password"
              />
            </aui-form-item>
            <aui-form-item>
              <label auiFormItemLabel>
                {{ 'org_ldap_search_base' | translate }}
              </label>
              <input
                auiFormItemControl
                type="text"
                name="search_base"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.config.search_base"
              />
            </aui-form-item>

            <div class="rc-form-fieldset-interval"></div>
            <div class="rc-header-alt ">
              {{ 'org_ldap_config_custom' | translate }}
            </div>

            <aui-form-item>
              <label auiFormItemLabel>
                {{ 'org_ldap_class_type' | translate }}
              </label>
              <input
                auiFormItemControl
                type="text"
                name="class_type"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.schema.users.class_type"
              />
            </aui-form-item>

            <aui-form-item>
              <label auiFormItemLabel>
                {{ 'org_ldap_login_field' | translate }}
              </label>
              <input
                auiFormItemControl
                type="text"
                name="login_field"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.schema.users.login_field"
              />
            </aui-form-item>

            <aui-form-item>
              <label auiFormItemLabel>
                {{ 'org_ldap_filter_condition' | translate }}
              </label>
              <input
                auiFormItemControl
                type="text"
                name="search"
                aui-input
                [(ngModel)]="ldapConfig.schema.users.search"
              />
            </aui-form-item>

            <aui-form-item class="no-label-item">
              <div flex="60" class="horizontal-message">
                <div
                  class="inline-help-text"
                  [innerHTML]="getTaskHelpTextPreview() | rcMarkdownToHtml"
                ></div>
                <a href="#" class="btn-link" (click)="helpLinkClicked()">
                  {{ 'see_more' | translate }}
                  <aui-icon icon="angle_double_right"></aui-icon>
                </a>
              </div>
            </aui-form-item>

            <div class="rc-form-fieldset-interval"></div>
            <div class="rc-header-alt ">
              {{ 'org_ldap_config_test' | translate }}
            </div>

            <aui-form-item>
              <label auiFormItemLabel>{{ 'username' | translate }}</label>
              <input
                auiFormItemControl
                type="text"
                name="test_name"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.test.username"
              />
            </aui-form-item>

            <aui-form-item>
              <label auiFormItemLabel>{{ 'password' | translate }}</label>
              <input
                auiFormItemControl
                type="password"
                autocomplete="off"
                name="test_password"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.test.password"
              />
            </aui-form-item>
          </div>

          <div *ngIf="ldapConfig.type === 'AzureAD'">
            <div class="rc-header-alt ">
              {{ 'org_ldap_azuread_account' | translate }}
            </div>

            <aui-form-item>
              <label auiFormItemLabel>
                {{ 'org_ldap_azuread_area_choose' | translate }}
              </label>
              <aui-radio-group
                name="country"
                [(ngModel)]="ldapConfig.config.country"
              >
                <aui-radio
                  *ngFor="let country of AzureCountrys"
                  [value]="country.value"
                >
                  {{ country.name }}
                </aui-radio>
              </aui-radio-group>
            </aui-form-item>

            <aui-form-item>
              <label auiFormItemLabel>
                {{ 'org_ldap_tenant_id' | translate }}
              </label>
              <input
                auiFormItemControl
                type="text"
                name="tenant_id"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.config.tenant_id"
              />
            </aui-form-item>

            <aui-form-item>
              <label auiFormItemLabel>
                {{ 'org_ldap_basic_domain' | translate }}
              </label>
              <input
                auiFormItemControl
                type="text"
                name="domain"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.config.domain"
              />
            </aui-form-item>

            <aui-form-item>
              <label auiFormItemLabel>
                {{ 'org_ldap_administrators_username' | translate }}
              </label>
              <input
                auiFormItemControl
                type="text"
                name="service_account"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.config.service_account"
              />
            </aui-form-item>

            <aui-form-item>
              <label auiFormItemLabel>
                {{ 'org_ldap_administrators_password' | translate }}
              </label>
              <input
                auiFormItemControl
                type="password"
                autocomplete="off"
                name="service_password"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.config.service_password"
              />
            </aui-form-item>

            <div class="rc-form-fieldset-interval"></div>
            <div class="rc-header-alt ">
              {{ 'org_ldap_config_test' | translate }}
            </div>

            <aui-form-item>
              <label auiFormItemLabel>{{ 'username' | translate }}</label>
              <input
                auiFormItemControl
                type="text"
                name="test_name"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.test.username"
              />
            </aui-form-item>

            <aui-form-item>
              <label auiFormItemLabel>{{ 'password' | translate }}</label>
              <input
                auiFormItemControl
                type="password"
                name="test_password"
                aui-input
                required
                rcErrorsTooltip
                [(ngModel)]="ldapConfig.test.password"
              />
            </aui-form-item>
          </div>

          <aui-form-item class="no-label-item">
            <div class="rb-form-footer-buttons" flex="60">
              <button
                aui-button="primary"
                type="button"
                ng-disabled="submitting"
                [rcLoadingMask]="submitting"
                (click)="save(ldapConfigForm)"
              >
                {{ 'save' | translate }}
              </button>
              <button
                aui-button
                type="button"
                style="margin-left: 8px"
                (click)="cancel()"
                *ngIf="ldapMode === orgLdapPageMap.UPDATE"
              >
                {{ 'cancel' | translate }}
              </button>
            </div>
          </aui-form-item>
        </form>
      </div>
    </div>
  </div>
</div>
