.node {
  cursor: auto;
  circle {
    cursor: pointer;
    transition: stroke-width 0.1s ease-out, fill 0.1s ease-out,
      stroke 0.1s ease-out, transform 0.3s ease, box-shadow 0.3s ease;
  }
  &__name {
    fill: #333;
    font-size: 16px;
    font-weight: 600;
    transform: translate(22px, 0);
  }
  &__kind {
    fill: #666;
    font-size: 12px;
    transform: translate(22px, 16px);
  }
  &__status {
    cursor: pointer;
    fill: #fff;
    font-size: 12px;
  }
  &__root {
    fill: #666;
  }

  &__workload {
    fill: #ccc;
    stroke-width: 4;
    &--info {
      stroke: #ccc;
      fill: #ccc;
    }
    &--success {
      stroke: #1bb393;
      fill: #1bb393;
    }
    &--primary {
      stroke: #009ce3;
      fill: #009ce3;
    }
  }

  &__resource {
    fill: #ededed;
    stroke: #999;
    stroke-width: 4;
  }
  &__ref {
    stroke-dasharray: 4 4;
  }
  &:hover {
    circle {
      transform: scale(1.3);
    }
  }
}
