:host {
  .display-label {
    width: 25%;
  }
  .integration-info-item {
    word-break: break-all;
  }
  ::ng-deep {
    .aui-tab-group {
      margin-top: 16px;
    }
  }
  .detail-wrapper {
    margin-left: 120px;
  }
}
