<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['../../']">
        {{ 'nav_integration_center' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ integrationData?.name || '' }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<rc-loading-mask [loading]="loading"></rc-loading-mask>
<aui-card *ngIf="integrationData">
  <div auiCardHeader>
    <h3 [attr.title]="integrationData.name">{{ integrationData.name }}</h3>
    <div fxFlex></div>
    <div class="detail-buttons">
      <ng-container
        *ngIf="integrationUtilities.showIntegrationUpdate(integrationData)"
      >
        <button
          aui-button="primary"
          *ngIf="!integrationData.enabled"
          (click)="switchStatus()"
        >
          {{ 'status_switch_on' | translate }}
        </button>
        <button
          aui-button="secondary"
          *ngIf="integrationData.enabled"
          (click)="switchStatus()"
        >
          {{ 'status_switch_off' | translate }}
        </button>
      </ng-container>
      <button aui-button="primary" [plain]="true" [auiDropdown]="actions">
        {{ 'action' | translate }}
        <aui-icon icon="angle_down" margin="left"></aui-icon>
      </button>
      <aui-menu #actions>
        <aui-menu-item
          *ngIf="integrationUtilities.showIntegrationUpdate(integrationData)"
          (click)="updateIntegration()"
        >
          {{ 'update' | translate }}
        </aui-menu-item>
        <aui-menu-item
          *ngIf="integrationUtilities.showIntegrationDelete(integrationData)"
          (click)="deleteIntegration()"
        >
          {{ 'delete' | translate }}
        </aui-menu-item>
      </aui-menu>
    </div>
  </div>
  <div class="rc-detail-container">
    <div class="detail-icon">
      <img
        [src]="getImg(integrationData.type)"
        [attr.data-standby]="integrationData.logo"
        onerror="this.src=this.dataset.standby"
      />
    </div>
    <div class="detail-wrapper">
      <div class="detail-content">
        <!--场景-->
        <div class="detail-item">
          <label>{{ 'integration_family' | translate }}</label>
          <div>{{ integrationData.integration_family }}</div>
        </div>
        <!-- 类型 -->
        <div class="detail-item">
          <label>{{ 'type' | translate }}</label>
          <div>{{ typeConfig.display_text || integrationData.type }}</div>
        </div>
        <!--状态-->
        <div class="detail-item">
          <label>{{ 'status' | translate }}</label>
          <rc-status-badge
            [status]="integrationData.enabled ? 'switch_on' : 'switch_off'"
          ></rc-status-badge>
        </div>
        <!-- 创建者 -->
        <div class="detail-item">
          <label>{{ 'created_by' | translate }}</label>
          <div>{{ integrationData.created_by }}</div>
        </div>
        <!-- 创建时间 -->
        <div class="detail-item">
          <label>{{ 'created_at' | translate }}</label>
          <div>{{ integrationData.created_at | rcFormatUtcStr }}</div>
        </div>
        <!-- 更新时间 -->
        <div class="detail-item">
          <label>{{ 'updated_at' | translate }}</label>
          <div>{{ integrationData.updated_at | rcFormatUtcStr }}</div>
        </div>
        <!-- 描述 -->
        <div class="detail-item">
          <label>{{ 'description' | translate }}</label>
          <div>{{ integrationData.description || '-' }}</div>
        </div>
      </div>
    </div>
  </div>
</aui-card>
<aui-tab-group>
  <aui-tab>
    <div *auiTabLabel>
      {{ 'event' | translate }}
    </div>
    <aui-card>
      <rc-event-list type="integration" [primaryKey]="uuid"></rc-event-list>
    </aui-card>
  </aui-tab>
  <aui-tab>
    <div *auiTabLabel>
      {{ 'integration_info' | translate }}
    </div>
    <aui-card>
      <form auiForm auiFormLabelWidth="250px">
        <aui-form-item *ngFor="let field of configFields">
          <label auiFormItemLabel>
            {{ field.display_text }}
          </label>
          <div class="integration-info-item" title="{{ field.value }}">
            <a
              *ngIf="isLink(field.value)"
              target="_blank"
              href="{{ field.value }}"
            >
              {{ field.value }}
            </a>
            <span *ngIf="!isLink(field.value)">
              {{ field.value }}
            </span>
          </div>
        </aui-form-item>
      </form>
    </aui-card>
  </aui-tab>
</aui-tab-group>
