<aui-form-item
  id="{{
    config.controlType === 'rc-pipeline-template-application-container'
      ? 'application-container'
      : ''
  }}"
>
  <label auiFormItemLabel title="{{ config.label | titlecase }}">
    {{ config.label | titlecase }}
  </label>
  <ng-container [ngSwitch]="config.controlType">
    <!-- Input -->
    <input
      aui-input
      auiFormItemControl
      *ngSwitchCase="'rc-input'"
      [formControl]="control"
      [required]="config.required"
      [placeholder]="config.placeholder || ''"
    />

    <!-- Checkbox -->
    <aui-switch
      *ngSwitchCase="'rc-checkbox'"
      auiFormItemControl
      [formControl]="control"
      [required]="config.required !== false"
    ></aui-switch>

    <aui-select
      *ngSwitchCase="'rc-single-selection-dropdown'"
      [formControl]="control"
      auiFormItemControl
      [required]="config.required !== false"
      [placeholder]="
        (config.options && config.options.length
          ? config.placeholder
          : 'currently_no_options') | translate
      "
    >
      <aui-option
        *ngFor="let option of config.options"
        [label]="option[config.displayField] || option"
        [value]="option[config.valueField] || option"
      >
        {{ option[config.displayField] || option }}
      </aui-option>
    </aui-select>

    <!-- pipeline template app conatinermix -->
    <rc-pipeline-template-application-container
      *ngSwitchCase="'rc-pipeline-template-application-container'"
      auiFormItemControl
      [required]="config.required !== false"
      rcApplicationContainerValid
      [formControl]="control"
    ></rc-pipeline-template-application-container>

    <!-- pipeline template credential -->
    <rc-pipeline-dyform-credential
      *ngSwitchCase="'rc-pipeline-dyform-credential'"
      auiFormItemControl
      [required]="config.required !== false"
      [formControl]="control"
    ></rc-pipeline-dyform-credential>

    <!-- code edit -->
    <textarea
      *ngSwitchCase="'rc-code-edit'"
      rows="10"
      [required]="config.required !== false"
      auiFormItemControl
      [formControl]="control"
    ></textarea>

    <!-- env config -->
    <rc-pipeline-dyform-env
      *ngSwitchCase="'rc-pipeline-dyform-env'"
      [namespace]="config.namespace"
      [clusterName]="config.clusterName"
      [required]="config.required !== false"
      [formControl]="control"
      auiFormItemControl
    ></rc-pipeline-dyform-env>

    <!-- configMap -->
    <rc-pipeline-dyform-configmap
      *ngSwitchCase="'rc-pipeline-dyform-configmap'"
      [options]="config.options"
      [required]="config.required !== false"
      [formControl]="control"
      auiFormItemControl
    ></rc-pipeline-dyform-configmap>
    <rc-pipeline-dyform-repository
      *ngSwitchCase="'rc-pipeline-dyform-repository'"
      [required]="config.required !== false"
      [formControl]="control"
      auiFormItemControl
    ></rc-pipeline-dyform-repository>
  </ng-container>

  <div auiFormAddOn>
    <aui-icon
      class="description-question-circle"
      icon="basic:question_circle_s"
      *ngIf="config.description"
      [auiTooltip]="config.description"
      auiTooltipMode="info"
      auiTooltipPosition="top center"
    ></aui-icon>
  </div>
</aui-form-item>
