.description-question-circle {
  cursor: pointer;
  color: #dedede;
  margin-left: 12px;
}

:host {
  ::ng-deep .hint-label-wrapper {
    height: 8px !important;
  }

  ::ng-deep .aui-form-item .aui-form-item__label-wrapper {
    margin-bottom: 12px;
    width: 150px !important;
  }

  input[readonly] {
    border: 0;
  }

  textarea {
    width: 100%;
    border: 1px solid #ccc;
  }
}
