<aui-dialog-header>
  {{ 'update_over_commit' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="180px">
    <div [rcLoadingMask]="confirming">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'cpu_over_commit' | translate }}</label>
        <aui-switch
          auiFormItemControl
          required
          style="margin-right: 10px"
          [(ngModel)]="model.cpuEnabled"
          name="cpuEnabled"
        ></aui-switch>
        <span [hidden]="model.cpuEnabled">
          {{ 'no_over_commit' | translate }}
        </span>
        <input
          aui-input
          *ngIf="model.cpuEnabled"
          required
          [pattern]="POSITIVE_INT_PATTERN.pattern"
          name="cpu"
          [(ngModel)]="model.cpu"
          [rcErrorsTooltip]
          [rcErrorsTooltipMapper]="{
            pattern: POSITIVE_INT_PATTERN.tip | translate
          }"
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'memory_over_commit' | translate }}</label>
        <aui-switch
          auiFormItemControl
          required
          style="margin-right: 10px"
          [(ngModel)]="model.memEnabled"
          name="memEnabled"
        ></aui-switch>
        <span [hidden]="model.memEnabled">
          {{ 'no_over_commit' | translate }}
        </span>
        <input
          aui-input
          *ngIf="model.memEnabled"
          required
          name="mem"
          [pattern]="POSITIVE_INT_PATTERN.pattern"
          [(ngModel)]="model.mem"
          [rcErrorsTooltip]
          [rcErrorsTooltipMapper]="{
            pattern: POSITIVE_INT_PATTERN.tip | translate
          }"
        />
      </aui-form-item>
    </div>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button type="button" (click)="close.next(false)">
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    type="submit"
    [disabled]="!form.valid || this.confirming"
    (click)="submitForm(form)"
  >
    {{ 'update' | translate }}
  </button>
</aui-dialog-footer>
