@import 'var';

:host {
  ::ng-deep .aui-card {
    &__header {
      align-items: center;
    }
    .affinity-table {
      .aui-table__header-row {
        background-color: #f0f0f0;
        border: none;
        height: 32px;
      }
      .aui-table__row {
        height: 36px;
        border-style: dashed;
        background-color: #fafafa;
        &:last-child {
          border: none;
        }
        .more .aui-tag {
          cursor: pointer;
          .aui-tag__content {
            padding: 0 2px;
          }
          &:hover {
            color: $color-primary;
            border-color: $color-primary;
            background-color: #e5f5fc;
          }
        }
      }
    }
    .zero-state-hint {
      background-color: #fafafa;
    }
  }
  .meta {
    &__detail {
      max-width: 66%;
      &__item {
        display: flex;
        margin-bottom: 12px;
        align-items: center;
        > label {
          font-weight: normal;
          margin-bottom: 0;
          &:after {
            content: '\FF1A';
          }
          flex-shrink: 0;
        }
        &__content {
          max-width: 80%;
          > rc-tags-label {
            width: 100%;
          }
        }
        &__action {
          cursor: pointer;
          color: #009ce3;
          margin-left: 8px;
        }
      }
    }
    &__pod-status-bar {
      display: flex;
      align-items: center;
      margin: 0 20px;
      justify-content: flex-end;
    }
  }
  .foldable-button {
    display: flex;
    align-items: center;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    .text {
      color: #999;
      font-size: 12px;
      padding: 0 8px;
    }
    .divider {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #ccc;
    }
  }
}

::ng-deep {
  .exp-viewer {
    min-width: 600px;
    max-height: 600px;
    pre {
      padding: 8px;
    }
  }
  .pod-affinity-label {
    .aui-tag {
      margin: 0 4px 4px 0;
      .aui-tag__content {
        color: #333;
      }
    }
  }
}
