<aui-card *ngIf="meta">
  <div auiCardHeader>
    {{ meta?.name }}
    <div fxFlex></div>
    <rc-pod-controller-detail-header
      [component]="meta.name"
      [appName]="appName"
      [data]="podController"
      [resourceActions]="resourceActions"
      [appResourceActions]="appResourceActions"
      [podStatus]="podStatus"
    ></rc-pod-controller-detail-header>
  </div>
  <div class="meta" fxLayout>
    <div class="meta__detail" fxFlex="2 1 auto">
      <div class="meta__detail__item">
        <label>{{ 'service_create_deploy_model' | translate }}</label>
        <div class="meta__detail__item__content">
          <rc-k8s-resource-icon [kind]="meta.kind"></rc-k8s-resource-icon>
          {{ meta?.kind }}
        </div>
      </div>
      <div class="meta__detail__item">
        <label>{{ 'status' | translate }}</label>
        <div class="meta__detail__item__content" [hidden]="!podStatus">
          <rc-pod-controller-status
            [status]="podStatus?.status"
            [desiredInstances]="podStatus?.desired"
            [currentInstances]="podStatus?.current"
          ></rc-pod-controller-status>
        </div>
      </div>
      <div class="meta__detail__item">
        <label>{{ 'pod_label' | translate }}</label>
        <div
          class="meta__detail__item__content"
          fxLayout
          fxLayoutAlign="center center"
        >
          <rc-tags-label [tags]="meta?.labels"></rc-tags-label>
        </div>
        <div class="meta__detail__item__action" (click)="updateLabels()">
          <aui-icon icon="basic:pencil_s"></aui-icon>
        </div>
      </div>
      <div class="meta__detail__item" *ngIf="shouldShowScalingConfig">
        <label>{{ 'service_scaling_config' | translate }}</label>
        <div class="meta__detail__item__content">
          {{ 'min_replicas_value' | translate }} {{ scalingConfig.min }}， {{
          'max_replicas_value' | translate }} {{ scalingConfig.max }}
        </div>
      </div>
      <div class="meta__detail__item">
        <label>{{ 'node_selector' | translate }}</label>
        <div
          class="meta__detail__item__content"
          fxLayout
          fxLayoutAlign="center center"
        >
          <rc-tags-label [tags]="meta?.nodeSelector"></rc-tags-label>
        </div>
      </div>
      <div class="meta__detail__item" *ngIf="showUpdateStrategy">
        <label>{{ 'update_strategy' | translate }}</label>
        <div class="meta__detail__item__content">
          {{ meta?.strategy.updateStrategy }}
        </div>
      </div>
      <div class="meta__detail__item" *ngIf="showRollingUpdateStrategy">
        <label>{{ 'rolling_update_strategy' | translate }}</label>
        <div class="meta__detail__item__content">
          {{ meta?.strategy.rollingUpdateStrategy }}
        </div>
      </div>
      <div class="meta__detail__item">
        <label>{{ 'app_address' | translate }}</label>
        <div class="meta__detail__item__content">
          <rc-app-address [urlList]="addresses"></rc-app-address>
        </div>
      </div>
    </div>
    <div class="meta__pod-status-bar" fxFlex="1 1 auto">
      <rc-pod-status
        [podStatus]="podStatus"
        (change)="updateReplicas($event)"
        [canUpdate]="canUpdate && meta.kind !== 'DaemonSet'"
      ></rc-pod-status>
    </div>
  </div>

  <div class="foldable-button" (click)="isAffinityActive = !isAffinityActive">
    <div class="divider"></div>
    <div class="text">
      {{ 'pod_affinity' | translate }}
      <aui-icon
        [icon]="
          isAffinityActive ? 'basic:angle_double_up' : 'basic:angle_double_down'
        "
      ></aui-icon>
    </div>
    <div class="divider"></div>
  </div>
  <div [hidden]="!isAffinityActive">
    <aui-table [dataSource]="podAffinities" class="affinity-table">
      <ng-container auiTableColumnDef="type">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'type' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ (item.isAnti ? 'podAntiAffinity' : 'podAffinity') | translate }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="classification">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'affinity_setting_classification' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.val.weight ? 'Preferred' : 'Required' }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="weight">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'weight' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.val.weight || '-' }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="topologyKey">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'topologyKey' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.val.weight ? item.val.podAffinityTerm.topologyKey :
          item.val.topologyKey }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="match_labels">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'match_labels' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <aui-tag type="info" size="small" *ngIf="getLabels(item)[0]">
            {{ getLabels(item)[0][0] + ': ' + getLabels(item)[0][1] }}
          </aui-tag>
          <aui-tag
            type="info"
            class="more-button"
            size="small"
            *ngIf="getLabels(item).length > 1"
            auiTooltipType="info"
            auiTooltipPosition="top"
            auiTooltipTrigger="click"
            [auiTooltip]="matchLabelsTooltip"
            class="more"
          >
            ...
          </aui-tag>
          <ng-template #matchLabelsTooltip>
            <ng-container *ngFor="let tag of getLabels(item); index as i">
              <aui-tag
                type="info"
                size="small"
                class="pod-affinity-label"
                [title]="tag[0] + ': ' + tag[1]"
              >
                {{ tag[0] + ': ' + tag[1] }}
              </aui-tag>
            </ng-container>
          </ng-template>
          <aui-tag
            type="info"
            title="matchExpressions"
            class="more-button"
            size="small"
            *ngIf="isMatchExpressions(item)"
            auiTooltipType="info"
            auiTooltipPosition="top"
            auiTooltipTrigger="click"
            auiTooltipClass="exp-viewer"
            [auiTooltip]="expLabels"
          >
            <aui-icon icon="basic:kubectl"></aui-icon>
          </aui-tag>
          <ng-template #expLabels>
            <pre>{{ getExpLabels(item) }}</pre>
          </ng-template>
          <span *ngIf="!getLabels(item).length && !isMatchExpressions(item)">
            -
          </span>
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="[
          'type',
          'classification',
          'weight',
          'topologyKey',
          'match_labels'
        ]"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="
          let row;
          columns: [
            'type',
            'classification',
            'weight',
            'topologyKey',
            'match_labels'
          ]
        "
      ></aui-table-row>
    </aui-table>
    <rc-zero-state
      [zeroState]="!podAffinities.length"
      resourceName="pod_affinity"
    ></rc-zero-state>
  </div>
</aui-card>
