<div class="empty-page-container">
  <img
    class="empty-view-image"
    src="/static/images/app-catalog/app-catalog-empty.png"
    alt="empty-icon"
  />
  <div class="empty-view-title">
    {{ 'app_catalog_empty_view_title' | translate }}
  </div>

  <ng-container *ngIf="permission; else elseBlock">
    <div class="catalog-description">
      {{ 'app_catalog_empty_import_line' | translate }}
    </div>
    <button
      aui-button="primary"
      class="import-btn"
      (click)="importDialogOpen()"
    >
      {{ 'app_catalog_add_repository' | translate }}
    </button>
  </ng-container>
  <ng-template #elseBlock>
    <div class="catalog-description">
      <div>{{ 'app_catalog_apply_permissions' | translate }}</div>
    </div>
  </ng-template>
</div>
