<div class="rc-repository-card" [rcLoadingMask]="deleting">
  <div class="repo-card-img">
    <img
      *ngIf="repository.icon"
      [src]="repository.icon"
      [attr.alt]="'icon' | translate"
    />
    <img
      *ngIf="!repository.icon"
      src="/static/images/repo/icon.png"
      srcset="/static/images/repo/icon@2x.png 2x"
      [attr.alt]="'icon' | translate"
    />
  </div>
  <div class="repo-card-main">
    <div class="repo-card-heading">
      {{ repository.name }}
    </div>
    <div class="repo-card-content">
      <div>{{ repository.description || '-' }}</div>
    </div>
    <div class="repo-card-footer">
      <img
        src="/static/images/repo/download.svg"
        [attr.alt]="'pull' | translate"
      />
      <span>{{ repository.download }}</span>
      <ng-container *ngIf="repository.upload">
        <img
          src="/static/images/repo/upload.svg"
          [attr.alt]="'push' | translate"
        />
        <span>{{ repository.upload }}</span>
      </ng-container>
      <i
        *ngIf="
          !isThird &&
          $projects.repositoryButtonDisplayExpr(repository, 'delete')
        "
        class="repo-card-delete fa fa-trash"
        (click)="deleteRepo($event)"
      ></i>
    </div>
  </div>
</div>
