$interval: 20px;
$img-width: 76px;

@mixin ellipsis($clamp: false) {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  @if ($clamp) {
    display: -webkit-box;
    -webkit-line-clamp: $clamp;
    -webkit-box-orient: vertical;
  } @else {
    white-space: nowrap;
  }
}

:host {
  position: relative;
  background-color: #fff;
  min-width: 300px;
  height: 112px;
  margin: 0 16px 16px 0;
  flex: 1 0 300px; // make flex-basis equal min-width
  border: 1px solid #f0f0f0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s;

  .rc-repository-card {
    padding: $interval;
  }

  .repo-card-heading {
    white-space: nowrap;
    display: block;
  }

  .repo-card-footer {
    padding-top: 0;
    border-top-width: 0;
  }

  .repo-card-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    float: none;
  }

  &:hover {
    box-shadow: 0 0 10px 0 #c4c4c4;
  }
}

.rc-repository-card {
  padding: 8px $interval;
  height: 100%;
  display: flex;

  .repo-card-main {
    display: flex;
    flex: 1;
    overflow: hidden;
    flex-direction: column;
  }
}

.repo-card-img {
  margin-right: $interval;

  img {
    width: $img-width;
    height: 70px;
  }
}

.repo-card-heading {
  font-size: 16px;
  line-height: 20px;
  max-height: 40px;
  color: #464646;
  @include ellipsis(2);

  .fa {
    margin-left: 4px;
  }
}

.repo-card-content {
  flex: 1;
  font-size: 12px;
  line-height: 16px;
  color: #9c9c9c;

  > div {
    max-height: 32px;
    @include ellipsis(2);
  }
}

.repo-card-footer {
  padding-top: 8px;
  line-height: 1;
  color: #666;
  border-top: 1px solid #ebe9e9;

  span {
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.repo-card-delete {
  float: right;
  color: #e2e2e2;

  &:hover {
    color: #37acf0;
  }
}
