@import 'var';

.constraints {
  display: flex;
  > span {
    line-height: 32px;
    padding-right: 16px;
  }
}

:host::ng-deep {
  .aui-form-item__label-wrapper--left {
    width: 72px;
  }

  .aui-form-item__container {
    margin-right: 20px;
    aui-tags-input {
      width: 100%;
    }
  }

  .aui-dialog__content {
    overflow: scroll;
    max-height: 60vh;
  }

  rc-constraint-editor {
    width: 100%;

    .add-group {
      height: 20px;
      line-height: 20px;
    }
  }
}

form {
  margin-top: 10px;
}

.permission-module {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 14px 0;
  border-radius: 4px;
  background: #f0f0f0;

  &__content {
    flex: 1;
  }

  &__addon {
    flex: 0 0 11px;
    margin-right: 10px;
  }
}

aui-dialog-footer {
  margin-top: 8px;
  border-top: 1px solid #f0f0f0;
  ::ng-deep {
    .aui-dialog__footer {
      justify-content: space-between;
      .add {
        flex: 1;
        line-height: 32px;
      }

      button {
        flex: 0;
      }
    }
  }
}
