<aui-dialog-header>{{ 'edit_permission' | translate }}</aui-dialog-header>
<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelWidth="80px"
    auiFormLabelPosition="right"
  >
    <div
      class="permission-module"
      *ngFor="let permission of permissions; let index = index"
    >
      <div class="permission-module__content">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'action' | translate }}</label>
          <aui-multi-select
            name="actions-{{ index }}"
            auiFormItemControl
            filterable="true"
            [(ngModel)]="permission.actions"
            required
          >
            <aui-option
              *ngFor="let action of schema.actions"
              [label]="getActionTranslation(action)"
              [value]="action"
            >
              {{ getActionTranslation(action) }}
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-multi-select>
        </aui-form-item>

        <aui-form-item *ngIf="constraintEditable">
          <label auiFormItemLabel>{{ 'rbac_constraints' | translate }}</label>
          <rc-constraint-editor
            name="constraints-{{ index }}"
            auiFormItemControl
            [options]="schema.constraints"
            [(ngModel)]="permission.constraints"
          ></rc-constraint-editor>
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel>{{ 'resource_name' | translate }}</label>
          <aui-tags-input
            name="resources-{{ index }}"
            auiFormItemControl
            [(ngModel)]="permission.resource"
            (ngModelChange)="onResourceChange($event)"
            [clearable]="true"
          ></aui-tags-input>
        </aui-form-item>
      </div>
      <div class="permission-module__addon">
        <a href="javascript:void(0);" (click)="remove(index)">
          <aui-icon *ngIf="index > 0" icon="basic:trash"></aui-icon>
        </a>
      </div>
    </div>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <a class="add" (click)="add()">
    <aui-icon icon="basic:add_circle"></aui-icon>
    {{ 'rbac_add_group_of_permission' | translate }}
  </a>
  <button aui-button (click)="cancel()" style="margin-right: 8px">
    {{ 'cancel' | translate }}
  </button>
  <button aui-button="primary" (click)="save()" [disabled]="form.invalid">
    {{ 'save' | translate }}
  </button>
</aui-dialog-footer>
