<div class="rm-create">
  <div class="rm-create__code-editor">
    <form #form="ngForm">
      <aui-code-editor
        name="yaml"
        required
        [rcErrorsTooltip]
        [rcErrorsTooltipInline]="true"
        [originalValue]="originalYaml"
        [actionsConfig]="edtiorActions"
        [options]="editorOptions"
        [(ngModel)]="yamlInputValue"
      ></aui-code-editor>
    </form>
  </div>

  <div class="rm-create__footer">
    <div fxFlex></div>
    <button aui-button="primary" (click)="confirm()">
      {{ (update ? 'update' : 'create') | translate }}
    </button>
    <button aui-button="default" (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</div>
