<aui-dialog-header>
  {{ 'volumes' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm>
    <rc-container-volume-form
      name="model"
      [namespace]="namespace"
      [cluster]="cluster"
      [(ngModel)]="formModel"
    ></rc-container-volume-form>
  </form>
  <!-- <pre>{{formModel | json}}</pre> -->
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
    <button aui-button="primary" (click)="confirm()">
      {{ 'confirm' | translate }}
    </button>
  </div>
</aui-dialog-footer>
