<rc-array-form-table
  [noRowSeparator]="false"
  resourceName="storage"
  [rows]="volumes"
>
  <ng-container *rcArrayFormTableHeader>
    <th width="45%">{{ 'volume' | translate }}</th>
    <th style="text-align:center;">{{ 'volume_mount' | translate }}</th>
  </ng-container>

  <ng-container *rcArrayFormTableRow="let item">
    <td>
      <p *ngIf="!item.other">{{ getType(item) }}: {{ getName(item) }}</p>
      <pre *ngIf="item.other">{{ getYaml(item) }}</pre>
    </td>

    <td>
      <div class="mount-block" *ngIf="!hasRefConfigKeys(item)">
        <p *ngIf="getSubPath(item)">
          <span class="mount-label">{{ 'sub_path' | translate }}:</span>
          {{ getSubPath(item) }}
        </p>
        <p>
          <span class="mount-label">{{ 'mount_path' | translate }}:</span>
          {{ getMountPath(item) }}
        </p>
      </div>
      <ng-container *ngIf="hasRefConfigKeys(item)">
        <div
          class="mount-block"
          *ngFor="let k of getConfigMapRefKeys(item); trackBy: keyRefTrackByFn"
        >
          <p>
            <span class="mount-label">{{ 'sub_path' | translate }}:</span>
            {{ k.key }}
          </p>
          <p>
            <span class="mount-label">{{ 'mount_path' | translate }}:</span>
            {{ k.path }}
          </p>
        </div>
      </ng-container>
    </td>
  </ng-container>

  <ng-container *rcArrayFormTableRowControl="let item; let index = index">
    <aui-icon
      icon="basic:pencil_edit"
      *ngIf="!item.other"
      (click)="update(index)"
    ></aui-icon>
    <aui-icon icon="basic:minus_circle" (click)="remove(index)"></aui-icon>
  </ng-container>

  <ng-container *rcArrayFormTableFooter>
    <button
      aui-button="primary"
      type="button"
      size="mini"
      [plain]="true"
      (click)="add()"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'service_add_volume' | translate }}
    </button>
  </ng-container>
</rc-array-form-table>
