@import 'var';

:host {
  .detail-port-list {
    display: block;
    margin-top: 16px;
  }

  .default_kube_service {
    display: flex;
    flex-direction: column;
    .service {
      display: flex;
    }
  }

  .more-detail {
    background-color: $blue-3;
    color: #fff;
    width: 16px;
    height: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $blue-7;
    }
  }

  .load-balancer-rules-table {
    margin-top: 20px;
    border-bottom: 1px solid #ddd;

    td {
      width: 20%;
      vertical-align: middle;

      &:nth-child(3) {
        width: 40%;
      }
    }

    .indicator-item {
      display: flex;
      word-break: break-all;

      > :first-child {
        margin-right: 5px;
        white-space: nowrap;

        &:after {
          content: ':';
        }
      }
    }
  }
}
