<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'nav_network' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a
        href="javascript:void(0)"
        [routerLink]="['/console/admin/load_balancer']"
      >
        {{ 'load_balancer' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a
        href="javascript:void(0)"
        [routerLink]="[
          '/console/admin/load_balancer/detail',
          namespace,
          albName
        ]"
      >
        {{ albName }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ frontendDetail?.metadata.name }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="loading"></rc-loading-mask>
<rc-load-balancer-detail-port-info
  [cluster]="cluster"
  [data]="frontendDetail"
  [canUpdate]="canUpdate()"
  (onUpdateDefaultService)="updateDefaultService()"
  (onUpdateDefaultCertificate)="updateDefaultCertificate()"
  (onDelete)="deleteFrontendDetail()"
></rc-load-balancer-detail-port-info>

<aui-card *ngIf="!loading" class="detail-port-list">
  <div auiCardHeader>
    {{'rule' | translate}}
    <div fxFlex></div>
    <button
      *ngIf="frontendDetail.spec.protocol !='tcp'"
      aui-button="primary"
      [plain]="true"
      (click)="addRule()"
    >
      {{ 'add_rule' | translate }}
    </button>
  </div>
  <aui-table
    [dataSource]="rules"
    *ngIf="!searching"
    [trackBy]="trackByFn"
    class="load-balancer-rules-table"
  >
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
    <ng-container auiTableColumnDef="description">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'description' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div class="rc-lines">
          {{ rowData.spec.description | rcFieldNotAvailable }}
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="rule">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'rule' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <ng-container *ngIf="rowData.spec.dsl; else noDsl">
          <div
            class="indicator-item"
            *ngFor="
              let indicator of getPartiaIndicators(rowData.spec.dsl)
                .indicators
            "
          >
            <div>
              {{ 'rule_' + indicator.type | lowercase | translate }}
            </div>
            <div>
              <ng-container *ngFor="let value of indicator.values">
                <div>
                  {{ indicator.key && indicator.key + ':' }}{{
                  value.slice(1).join('-') }}
                </div>
              </ng-container>
              <ng-template #noDsl>
                <div *ngIf="rowData.spec.domain" class="indicator-item">
                  <div>{{ 'rule_host' | translate }}</div>
                  <div>
                    <div>{{ rowData.spec.domain }}</div>
                  </div>
                </div>
                <div *ngIf="rowData.spec.url" class="indicator-item">
                  <div>{{ 'rule_url' | translate }}</div>
                  <div>
                    <div>{{ rowData.spec.url }}</div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <span
            class="more-detail"
            *ngIf="getPartiaIndicators(rowData.spec.dsl).more"
            [auiTooltip]="indicatorDetail"
            [auiTooltipContext]="{
              rowData: rowData,
              indicator: indicator
            }"
            auiTooltipPosition="bottom start"
          >
            <aui-icon icon="ellipsis_h_s"></aui-icon>
          </span>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="kube_service_group">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'kube_service_group' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <ng-container
          *ngIf="
            rowData.spec.serviceGroup?.services?.length;
            else noService
          "
        >
          <rc-load-balancer-service-weight-display
            [services]="rowData.spec.serviceGroup.services"
          ></rc-load-balancer-service-weight-display>
          <ng-template #noService>-</ng-template>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div [auiDropdown]="menu" *ngIf="canUpdate()" class="action-button">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item (click)="updateService(rowData)">
            {{ 'update_kube_service' | translate }}
          </aui-menu-item>
          <aui-menu-item (click)="updateRule(rowData)">
            {{ 'update_rule' | translate }}
          </aui-menu-item>
          <aui-menu-item
            [disabled]="rowData.spec.serviceGroup?.services?.length > 1"
            (click)="deleteRule(rowData)"
          >
            {{ 'delete_rule' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
  </aui-table>
  <rc-zero-state
    [zeroState]="!rules.length && !searching"
    [fetching]="searching"
    resourceName="rule"
  ></rc-zero-state>
  <aui-paginator
    [length]="count"
    [pageSize]="pageSize"
    [pageIndex]="page"
    (page)="pageChanged($event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
</aui-card>

<ng-template #indicatorDetail let-rowData="rowData" let-indicator="indicator">
  <div
    class="indicator-item"
    *ngFor="let indicator of parseDSL(rowData.spec.dsl)"
  >
    <div>{{ 'rule_' + indicator.type | lowercase | translate }}:</div>
    <div style="margin-left: 10px;">
      <ng-container *ngFor="let value of indicator.values">
        <div>
          {{ indicator.key && indicator.key + ':' }}{{ value.slice(1).join('-')
          }}
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>
