<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/user/workspace', baseParams, 'app']">
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'create_from_yaml' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<!-- <rc-loading-mask style="height: 100px;"
                 *ngIf="!initialized"
                 [loading]="!initialized"></rc-loading-mask> -->
<ng-container>
  <form #form="ngForm" auiForm [auiFormEmptyAddon]="true">
    <aui-card>
      <div auiCardHeader>{{ 'application' | translate }}</div>
      <rc-application-metadata-form
        name="metadata"
        [namespace]="baseParams.namespace"
        [(ngModel)]="application.metadata"
      >
        <aui-form-item clusterSelect *ngIf="mirrorClusters.length">
          <label auiFormItemLabel>
            {{ 'cluster' | translate }}
          </label>
          <rc-mirror-cluster-select
            name="clusters"
            [clusters]="mirrorClusters"
            [currentCluster]="baseParams.cluster"
            [(ngModel)]="application.clusters"
          ></rc-mirror-cluster-select>
        </aui-form-item>
      </rc-application-metadata-form>
    </aui-card>

    <aui-card class="table-card">
      <aui-code-editor
        [actionsConfig]="actionsConfig"
        [options]="codeEditorOptions"
        name="yaml"
        [(ngModel)]="yaml"
      ></aui-code-editor>
      <div class="rc-sample-code-editor-toolbar">
        <span class="rc-sample-code-editor-toolbar__label">
          {{ 'show_compose_demo' | translate }}:
        </span>
        <a
          class="rc-sample-code-editor-toolbar__button"
          href="javascript:void(0)"
          (click)="useDemoTemplate()"
        >
          <aui-icon icon="basic:write_file"></aui-icon>
          {{ 'write_in' | translate }}
        </a>
        <a
          class="rc-sample-code-editor-toolbar__button"
          href="javascript:void(0)"
          (click)="showDemoTemplate(yamlDemoTemplate)"
        >
          <aui-icon icon="basic:eye_s"></aui-icon>
          {{ 'view' | translate }}
        </a>
      </div>
    </aui-card>

    <!-- <pre>{{application | json}}</pre> -->
  </form>

  <div class="form-footer">
    <span fxFlex></span>
    <button aui-button="primary" (click)="confirm()">
      {{ 'create' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</ng-container>

<ng-template #yamlDemoTemplate>
  <aui-dialog-header>
    {{ 'show_compose_demo' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-code-editor
      class="rc-sample-code-editor"
      [options]="{ language: 'yaml', readOnly: true }"
      [actionsConfig]="actionsConfigView"
      [ngModel]="yamlDemo"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>
