<aui-card>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelWidth="150px"
    [rcLoadingMask]="loading"
    (ngSubmit)="create()"
  >
    <aui-form-item *ngIf="registryName">
      <label auiFormItemLabel>{{ 'repository_source' | translate }}</label>
      <span>{{ registryName }}</span>
    </aui-form-item>

    <aui-form-item *ngIf="!registry.is_public">
      <label auiFormItemLabel>{{ 'priv_regis_proj' | translate }}</label>
      <span>{{ projectName || ('default_project_name' | translate) }}</span>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'repo_name' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        [(ngModel)]="repository.name"
        name="name"
        rcErrorsTooltip
        pattern="^[a-z0-9][a-z0-9-_]*[a-z0-9]$"
        [disabled]="isEditing"
        [placeholder]="'repo_name_placeholder' | translate"
        minlength="4"
        maxlength="64"
        required
      />
    </aui-form-item>

    <aui-form-item *ngIf="!registryName || registry.is_public">
      <label auiFormItemLabel>{{ 'private_or_public' | translate }}</label>
      <aui-radio-group
        auiFormItemControl
        name="is_public"
        [value]="repository.is_public"
        (valueChange)="repository.is_public = $event"
      >
        <aui-radio-button *ngFor="let type of types" [value]="type.value">
          {{ type.display }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'short_description' | translate }}</label>
      <input
        auiFormItemControl
        name="description"
        aui-input
        [(ngModel)]="repository.description"
        rcErrorsTooltip
        maxlength="100"
        [placeholder]="'repo_desc_limit' | translate"
      />
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'full_description' | translate }}</label>
      <textarea
        auiFormItemControl
        name="full_description"
        aui-input
        [(ngModel)]="repository.full_description"
        [autosize]="{ minRows: 8 }"
        [placeholder]="'use_markdown' | translate"
      ></textarea>
    </aui-form-item>
  </form>
  <div auiCardFooter>
    <button
      aui-button="primary"
      type="submit"
      (click)="create()"
      style="margin-left: 150px;"
    >
      {{ (isEditing ? 'save' : 'create') | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-card>
