<form class="binding" [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <header>
    <aside>
      {{ 'namespace_name' | translate }}（{{
        'total_num_ge' | translate: { total: formControls.length }
      }}）
    </aside>
    <aside>
      <span>
        {{ 'select_binding_group' | translate }}（{{
          'total_num_ge' | translate: { total: spaces.length }
        }}）
      </span>
      <span>{{ 'display_name' | translate }}</span>
    </aside>
  </header>
  <div class="binding-container">
    <rc-loading-mask *ngIf="loading" [loading]="true"></rc-loading-mask>
    <ng-container *ngIf="!loading">
      <aside class="binding-container__ns">
        <div
          *ngFor="let control of formControls"
          [ngClass]="nsSelectedClass(control.get('namespace')?.value)"
          (click)="selectNs(control.get('namespace')?.value)"
        >
          {{
            control.get('namespace')?.value?.display_name ||
              control.get('namespace')?.value?.name
          }}
          {{
            control.get('spaceList')?.value?.length > 0
              ? '（' + control.get('spaceList')?.value?.length + '）'
              : ''
          }}
        </div>
      </aside>
      <aside class="binding-container__group">
        <ng-container
          *ngIf="selectedFormControl"
          [formGroup]="selectedFormControl"
        >
          <aui-checkbox-group
            formControlName="spaceList"
            [trackFn]="trackFn"
            direction="column"
          >
            <div
              class="binding-container__group-item"
              *ngFor="let space of spaces"
            >
              <div class="binding-container__group-item__part">
                <aui-checkbox *ngIf="!isPrevSelected(space)" [label]="space">
                  {{ space.name }}
                </aui-checkbox>
                <div
                  *ngIf="isPrevSelected(space)"
                  class="aui-checkbox isDisabled"
                >
                  <i
                    class="aui-checkbox__pointer"
                    *ngIf="isPrevSelected(space)"
                  >
                    <aui-icon icon="check_s"></aui-icon>
                  </i>
                  {{ space.name }}
                  <a
                    (click)="unbinding(space)"
                    class="binding-container__group-item-unbind"
                  >
                    解绑
                  </a>
                </div>
              </div>
              <div class="binding-container__group-item__part">
                {{ space.display_name || '-' }}
              </div>
            </div>
          </aui-checkbox-group>
        </ng-container>
      </aside>
    </ng-container>
  </div>
</form>
