:host {
  .binding {
    padding: 0 10%;
    header {
      display: flex;
      height: 40px;
      font-size: 14px;
      line-height: 20px;
      background-color: #f0f0f0;
      font-weight: bold;
      aside {
        padding: 10px 20px;
        flex: 1;
        display: flex;
        span {
          display: block;
          flex: 1;
        }
      }
    }
    ::ng-deep {
      .aui-checkbox-group {
        width: 100%;
      }
    }
    &-container {
      font-size: 14px;
      line-height: 20px;
      color: #333;
      display: flex;
      &__ns {
        height: 311px;
        flex: 1;
        overflow-y: scroll;
        border: 1px solid #f0f0f0;
        border-right: 0;
        &-item {
          padding: 20px;
          background: #fafafa;
          border: 1px solid #f0f0f0;
          border-top: 0;
          &--selected {
            border-left: 4px solid #009ce3;
            border-right: 0;
            background-color: #fff;
          }
        }
      }
      &__group {
        height: 311px;
        flex: 1;
        overflow-y: scroll;
        border: 1px solid #f0f0f0;
        border-left: 0;
        &-item {
          padding: 12px 16px;
          display: flex;
          border-bottom: 1px solid #f0f0f0;
        }

        &-item__part {
          flex: 1;
          max-width: 50%;
          overflow: hidden;
        }
        &-item-unbind {
          margin-left: 8px;
        }
      }
    }
  }
}
