:host {
  rc-tool-chain-resource-card {
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .info-header {
    display: flex;
    .icon-stack {
      margin-right: 8px;
      position: relative;
      .enterprise-mark {
        position: absolute;
        right: 0;
        width: 12px;
        height: 12px;
        bottom: 4px;
      }
    }
  }
  .cards-container {
    .add-button {
      margin-top: 12px;
      width: 100%;
      border-style: dashed;
    }
  }

  .zero-state {
    width: 100%;
    height: 173px;
    border-radius: 2px;
    border: dashed 1px #ccc;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #999;
  }
  .disabled {
    cursor: not-allowed;
    color: #fff;
    background-color: #b3e1f7;
    border-color: #b3e1f7;
  }
}
