<aui-dialog-header>
  {{
    'tool_chain_allocate_resource'
      | translate
        : {
            resource: getToolResourceDisplayName(dialogData?.data.toolItemType)
          }
  }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-inline-alert
    *ngIf="spaceEnabled && !(spaces$ | async)?.length && !loading"
    type="error"
    [content]="'tool_chain_allocate_space_unavailable' | translate"
  ></aui-inline-alert>
  <div class="cards-container">
    <form #form="ngForm" auiForm auiFormLabelPosition="top">
      <aui-form-item *ngFor="let item of model; let i = index">
        <rc-tool-chain-resource-card
          auiFormItemControl
          [(ngModel)]="item"
          [name]="'selectedSpace-' + i"
          [toolItemType]="dialogData?.data?.toolItemType"
          [allocatedToAll]="!spaceEnabled"
          [spaces]="spaces$ | async"
        ></rc-tool-chain-resource-card>
      </aui-form-item>
    </form>
    <div *ngIf="!model?.length" class="zero-state">
      {{ 'no_data' | translate }}
    </div>
    <button
      *ngIf="
        dialogData?.mode === 'create' &&
        dialogData?.data?.toolItemKind !== 'ArtifactRegistry'
      "
      aui-button="primary"
      type="button"
      size="mini"
      class="add-button"
      [plain]="true"
      [disabled]="dialogData?.mode !== 'create'"
      (click)="addResource()"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{
        'tool_chain_add_resources'
          | translate
            : {
                resource: getToolResourceDisplayName(
                  dialogData?.data?.toolItemType
                )
              }
      }}
    </button>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="submitting"
    [auiTooltip]="'tool_chain_no_resource_allocated_hint' | translate"
    [auiTooltipDisabled]="!disabledAllocate()"
    [ngClass]="{ disabled: submitting || disabledAllocate() }"
    (click)="confirm()"
  >
    {{ 'tool_chain_resource_allocate_confirm' | translate }}
  </button>
  <button aui-button type="button" auiDialogClose>
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
