:host {
  .alb_form__nodeSelector {
    ::ng-deep {
      .aui-form-item__content {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &__error {
      color: #f8ac58;
    }
  }
}
