<aui-dialog-header>
  {{ 'create_load_balancer' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelWidth="100px"
    [rcLoadingMask]="confirming || loading"
  >
    <div>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          autocomplete="off"
          name="name"
          type="text"
          [(ngModel)]="alb.loadbalancerName"
          [pattern]="K8S_RESOURCE_NAME_BASE.pattern"
          [placeholder]="K8S_RESOURCE_NAME_BASE.tip | translate"
          [rcErrorsTooltipMapper]="{
            pattern: K8S_RESOURCE_NAME_BASE.tip | translate
          }"
          rcErrorsTooltip
          required
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'type' | translate }}</label>
        <aui-radio-group
          name="type"
          (ngModelChange)="typeChange($event)"
          [(ngModel)]="type"
        >
          <aui-radio-button value="standalone">
            {{ 'standalone' | translate }}
          </aui-radio-button>
          <aui-radio-button value="high_availability">
            {{ 'high_availability' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'address' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          autocomplete="off"
          name="address"
          [(ngModel)]="alb.address"
          type="text"
          rcErrorsTooltip
          [pattern]="IP_ADDRESS_PATTERN.pattern"
          [placeholder]="IP_ADDRESS_PATTERN.tip | translate"
          [rcErrorsTooltipMapper]="{
            pattern: IP_ADDRESS_PATTERN.tip | translate
          }"
          required
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'replicas' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          autocomplete="off"
          name="replicas"
          [disabled]="type == 'standalone'"
          [(ngModel)]="alb.replicas"
          [min]="minReplicas"
          type="text"
          [pattern]="POSITIVE_INT_PATTERN.pattern"
          [rcErrorsTooltipMapper]="{
            pattern: POSITIVE_INT_PATTERN.tip | translate
          }"
          rcErrorsTooltip
          required
        />
      </aui-form-item>
      <aui-form-item class="alb_form__nodeSelector">
        <label auiFormItemLabel>
          {{ 'node_tags' | translate }}
        </label>
        <aui-multi-select
          auiFormItemControl
          required
          rcErrorsTooltip
          [filterable]="true"
          [(ngModel)]="nodeSelector"
          (ngModelChange)="nodeSelectorChange($event)"
          name="node_label"
        >
          <aui-option
            *ngFor="let label of labels"
            [label]="label.key + ':' + label.value"
            [disabled]="disabledNodeLabel(label)"
            [value]="label"
          >
            {{ label.key }}:{{ label.value }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-multi-select>
        <div
          *ngIf="nodeSelector && nodeSelector.length"
          [ngClass]="{
            alb_form__nodeSelector__error: matchNodes.length != alb.replicas
          }"
        >
          {{ matchNodes.length }}
          <span>{{ 'nodes_meet_filter' | translate }},</span>
          <span>
            {{ (matchNodes.length == alb.replicas ? 'match_replicas' :
            'not_match_replicas') | translate }}
          </span>
        </div>
      </aui-form-item>
    </div>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button
    type="button"
    [disabled]="confirming"
    (click)="confirmed.next()"
  >
    {{ 'cancel' | translate }}
  </button>
  <button
    aui-button="primary"
    type="submit"
    [loading]="confirming"
    [disabled]="!form.valid || confirming"
    (click)="submitForm(form)"
  >
    {{ 'confirm' | translate }}
  </button>
</aui-dialog-footer>
