@import 'var';

:host {
  ::ng-deep {
    .aui-dialog__content {
      padding: 0 !important;
      background-color: $silver-6;
    }

    .rule.rule-item-container .aui-card {
      border: none;
    }
  }

  margin-bottom: 50px;

  .rule-container {
    padding: 8px;
    background: $color-info-extra-light;
    flex: 1;
  }

  .rule {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }

  .rule + .rule {
    margin-top: 10px;
  }

  .priority {
    position: absolute;
    padding: 2px 2px 2px 15px;
    width: 90px;
    text-align: center;
    left: -25px;
    top: 25px;
    font-size: 12px;
    color: $color-primary;
    transform: translate3d(0, -50%, 0) rotate(-45deg);
    background-color: #e5f5fc;

    span {
      display: inline-block;
      transform: scale((9/12));
    }
  }

  .add-rule {
    padding: 12px 50px 4px 50px;
    text-align: right;
  }

  .add_description-container {
    padding-bottom: 8px;
    color: #999;
  }

  .add-rule-description {
    background: $color-info-extra-light;
    color: #999;

    .add-rule--none {
      margin-top: 10px;
      border: dashed 1px #ccc;
      padding: 12px;
      text-align: center;
    }
  }
}
