<aui-tag
  [type]="tagType"
  size="mini"
  [solid]="true"
  [closeable]="false"
  [round]="true"
>
  <div [attr.status]="statusAttr">
    <aui-icon
      *ngIf="statusAttr === 'IN_PROGRESS'"
      class="status-icon-pending"
      icon="basic:sync_circle_s"
    ></aui-icon>
    <span>{{ statusText }}</span>
    <span class="separator"></span>
    <span>{{ instanceStatusText }}</span>
  </div>
</aui-tag>
