<aui-dialog-header>
  {{ 'update_token' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelPosition="right">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'token' | translate }}</label>
      <textarea
        size="medium"
        aui-input
        required
        auiFormItemControl
        [(ngModel)]="token"
        name="token"
      ></textarea>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" [loading]="submitting" (click)="confirm()">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
