:host::ng-deep {
  .aui-layout__toolbar {
    padding-left: 0;
  }
  .aui-layout__page {
    .layout-page-content {
      min-width: 960px;
    }
  }
}

.layout-toolbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  background-color: #0389c7;
  img {
    height: 32px;
    max-width: 100%;
  }
}
