:host {
  aui-input-group {
    width: 100%;
  }

  .resource-quota-form {
    &--title {
      display: flex;
      margin: 12px 0;
      cursor: pointer;
      div {
        margin-left: 4px;
      }
    }
  }
}
