<form #form="ngForm" auiForm auiFormLabelWidth="150px">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <span>{{ namespace }}</span>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'region_belonged' | translate }}</label>
    <span>{{ cluster.display_name }}</span>
  </aui-form-item>

  <ng-container *ngIf="cluster?.regions">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'quota_setting_way' | translate }}</label>
      <aui-checkbox
        name="useSameConfig"
        auiFormItemControl
        [(ngModel)]="formModel.useSameConfig"
        (valueChange)="setQuotas()"
      >
        {{ 'create_namespace_tip3' | translate }}
      </aui-checkbox>
    </aui-form-item>
  </ng-container>

  <ng-container *ngFor="let item of formModel.quotas; index as i">
    <div (click)="folding[i] = !folding[i]" class="resource-quota-form--title">
      <aui-icon *ngIf="folding[i]" icon="angle_right"></aui-icon>
      <aui-icon *ngIf="!folding[i]" icon="angle_down"></aui-icon>
      <div>{{ item.display_name }}</div>
    </div>
    <ng-container *ngIf="!folding[i]">
      <aui-form-item *ngIf="clusterQuotaKeys?.includes('cpu')">
        <label auiFormItemLabel>{{ 'CPU' | translate }}</label>
        <aui-input-group auiFormItemControl [required]="!!item?.quota">
          <input
            name="cpu"
            [min]="getMiniNum('cpu', item.name)"
            [max]="getMaxMum('cpu', item)"
            #cpu="ngModel"
            [(ngModel)]="item.hard.cpu"
            aui-input
            [required]="!!item?.quota"
            pattern="^[0-9]\d*$"
          />
          <span auiInputAddonAfter>{{ 'unit_core' | translate }}</span>
        </aui-input-group>
        <div
          auiFormItemHint
          *ngIf="!!item?.quota && !(cpu.errors?.max || cpu.errors?.min)"
        >
          {{ getQuotaFormItemHint(item?.quota, 'cpu', item.name) }}
        </div>
        <div
          auiFormItemHint
          class="multiple-quota-settings__spece--error"
          *ngIf="!!item?.quota && (cpu.errors?.max || cpu.errors?.min)"
        >
          {{ getQuotaErrorInfo(item?.quota, 'cpu', item.name) }}
        </div>
        <div auiFormItemError *ngIf="cpu.errors?.pattern">
          {{ 'integer_pattern' | translate }}
        </div>
        <div auiFormItemError *ngIf="cpu.errors?.required">
          {{ 'field_required' | translate }}
        </div>
      </aui-form-item>
      <aui-form-item *ngIf="clusterQuotaKeys?.includes('memory')">
        <label auiFormItemLabel>{{ 'memory' | translate }}</label>
        <aui-input-group auiFormItemControl [required]="!!item?.quota">
          <input
            name="memory"
            [min]="getMiniNum('memory', item.name)"
            [max]="getMaxMum('memory', item)"
            #memory="ngModel"
            [(ngModel)]="item.hard.memory"
            pattern="^[0-9]\d*$"
            aui-input
            [required]="!!item?.quota"
          />
          <span auiInputAddonAfter>{{ 'unit_gb' | translate }}</span>
        </aui-input-group>
        <div
          auiFormItemHint
          *ngIf="!!item?.quota && !(memory.errors?.max || memory.errors?.min)"
        >
          {{ getQuotaFormItemHint(item?.quota, 'memory', item.name) }}
        </div>
        <div
          auiFormItemHint
          class="multiple-quota-settings__spece--error"
          *ngIf="(!!item?.quota && memory.errors?.max) || memory.errors?.min"
        >
          {{ getQuotaErrorInfo(item?.quota, 'memory', item.name) }}
        </div>
        <div auiFormItemError *ngIf="memory.errors?.pattern">
          {{ 'integer_pattern' | translate }}
        </div>

        <div auiFormItemError *ngIf="memory.errors?.required">
          {{ 'field_required' | translate }}
        </div>
      </aui-form-item>
      <aui-form-item *ngIf="clusterQuotaKeys?.includes('pods')">
        <label auiFormItemLabel>{{ 'Pod' | translate }}</label>
        <aui-input-group auiFormItemControl [required]="!!item?.quota">
          <input
            name="pods"
            aui-input
            #pods="ngModel"
            [(ngModel)]="item.hard.pods"
            [min]="getMiniNum('pods', item.name)"
            [max]="getMaxMum('pods', item)"
            [required]="!!item?.quota"
            pattern="^[0-9]\d*$"
          />
          <span auiInputAddonAfter>{{ 'ge' | translate }}</span>
        </aui-input-group>
        <div
          auiFormItemHint
          *ngIf="!!item?.quota && !(pods.errors?.max || pods.errors?.min)"
        >
          {{ getQuotaFormItemHint(item?.quota, 'pods', item.name) }}
        </div>
        <div
          auiFormItemHint
          class="multiple-quota-settings__spece--error"
          *ngIf="(!!item?.quota && pods.errors?.max) || pods.errors?.min"
        >
          {{ getQuotaErrorInfo(item?.quota, 'pods', item.name) }}
        </div>
        <div auiFormItemError *ngIf="pods.errors?.pattern">
          {{ 'integer_pattern' | translate }}
        </div>

        <div auiFormItemError *ngIf="pods.errors?.required">
          {{ 'field_required' | translate }}
        </div>
      </aui-form-item>
      <aui-form-item *ngIf="clusterQuotaKeys?.includes('pvc_num')">
        <label auiFormItemLabel>{{ 'pvc_num' | translate }}</label>
        <aui-input-group auiFormItemControl [required]="!!item?.quota">
          <input
            name="pvc"
            aui-input
            #pvc="ngModel"
            [(ngModel)]="item.hard.pvc_num"
            [min]="getMiniNum('pvc_num', item.name)"
            [max]="getMaxMum('pvc_num', item)"
            [required]="!!item?.quota"
            pattern="^[0-9]\d*$"
          />
          <span auiInputAddonAfter>{{ 'ge' | translate }}</span>
        </aui-input-group>
        <div
          auiFormItemHint
          *ngIf="!!item?.quota && !(pvc.errors?.max || pvc.errors?.min)"
        >
          {{ getQuotaFormItemHint(item?.quota, 'pvc_num', item.name) }}
        </div>
        <div
          auiFormItemHint
          class="multiple-quota-settings__spece--error"
          *ngIf="(!!item?.quota && pvc.errors?.max) || pvc.errors?.min"
        >
          {{ getQuotaErrorInfo(item?.quota, 'pvc_num', item.name) }}
        </div>
        <div auiFormItemError *ngIf="pvc.errors?.pattern">
          {{ 'integer_pattern' | translate }}
        </div>

        <div auiFormItemError *ngIf="pvc.errors?.required">
          {{ 'field_required' | translate }}
        </div>
      </aui-form-item>
      <aui-form-item *ngIf="clusterQuotaKeys?.includes('storage')">
        <label auiFormItemLabel>{{ 'storage' | translate }}</label>
        <aui-input-group auiFormItemControl [required]="!!item?.quota">
          <input
            name="storage"
            aui-input
            #storage="ngModel"
            [(ngModel)]="item.hard.storage"
            [min]="getMiniNum('storage', item.name)"
            [max]="getMaxMum('storage', item)"
            [required]="!!item?.quota"
            pattern="^[0-9]\d*$"
          />
          <span auiInputAddonAfter>{{ 'unit_gb' | translate }}</span>
        </aui-input-group>
        <div
          auiFormItemHint
          *ngIf="!!item?.quota && !(storage.errors?.max || storage.errors?.min)"
        >
          {{ getQuotaFormItemHint(item?.quota, 'storage', item.name) }}
        </div>
        <div
          auiFormItemHint
          class="multiple-quota-settings__spece--error"
          *ngIf="(!!item?.quota && storage.errors?.max) || storage.errors?.min"
        >
          {{ getQuotaErrorInfo(item?.quota, 'storage', item.name) }}
        </div>

        <div auiFormItemError *ngIf="storage.errors?.pattern">
          {{ 'integer_pattern' | translate }}
        </div>
        <div auiFormItemError *ngIf="storage.errors?.required">
          {{ 'field_required' | translate }}
        </div>
      </aui-form-item>
    </ng-container>
  </ng-container>
</form>
