@import '../../_variables.scss';

.status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
  a:focus {
    text-decoration: none;
  }
  a.disabled {
    color: #d1d1d1;
  }
}

.stage {
  .stage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
  }
  .step {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    background-color: #263238;
    padding: 0px 16px;
    &.active {
      background-color: #121b1b;
      .step-content .step-logs {
        display: block;
      }
    }
    &::before {
      content: '';
      background-color: #e1e6e6;
      width: 3px;
      border-radius: 3px;
      margin: 6px 8px 6px 0px;
    }
    &.paused::before {
      background-color: #21aee8;
    }
    &.success::before {
      background-color: #41c969;
    }
    &.failure::before {
      background-color: #fa5f6b;
    }

    .step-content {
      flex-grow: 1;
      .step-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 32px;
        color: #e1e6e6;
        font-size: 12px;
        i {
          width: 16px;
        }
      }
      .step-logs {
        overflow: auto;
        max-height: 400px;

        ul {
          list-style: none;
          color: #e1e6e6;
          &.approval {
            padding-left: 16px;
          }

          li {
            &.step-logs-title {
              font-weight: bold;
            }
            min-height: 24px;
            font-size: 12px;
            line-height: 24px;
            word-break: break-all;
            a:focus {
              text-decoration: none;
            }
            a:hover {
              opacity: 0.75;
            }
            .process {
              color: #41c969;
            }
            .abort {
              color: #fa5f6b;
            }
          }
        }
      }
    }
  }
}
