<form
  [formGroup]="form"
  class="ingress-wrapper"
  auiForm
  auiFormLabelWidth="60px"
  [auiFormEmptyAddon]="true"
>
  <div class="ingress-item">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'kube_ingress_host' | translate }}</label>
      <div class="ingress-item__host">
        <input
          aui-input
          class="ingress-item__host__domain"
          auiFormItemControl
          formControlName="domain"
          [pattern]="domainPattern.pattern"
          [rcErrorsTooltip]
          [rcErrorsTooltipMapper]="{
            pattern: domainPattern.tip | translate
          }"
          required
        />
        <aui-select
          formControlName="host"
          [placeholder]="'please_select_host' | translate"
          [filterable]="true"
          [rcErrorsTooltip]
          required
        >
          <aui-option
            *ngFor="let item of domains"
            [label]="filterHost(item.domain)"
            [value]="item.domain"
          >
            {{ item.domain }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
      </div>
      <div auiFormItemAddon></div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>HTTPS</label>
      <aui-select
        formControlName="secretName"
        [placeholder]="'tool_chain_please_select_secret' | translate"
        filterable
        clearable
      >
        <aui-option *ngFor="let item of secretNames" [value]="item">
          {{ item }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>
    <aui-form-item formGroupName="http">
      <label auiFormItemLabel>{{ 'rule' | translate }}</label>
      <div class="ingress-table">
        <rc-ingress-paths-form
          auiFormItemControl
          [services]="services"
          formControlName="paths"
        ></rc-ingress-paths-form>
      </div>
      <div auiFormItemAddon></div>
    </aui-form-item>
  </div>
</form>
