@import 'var';
@mixin row-button-style {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  i {
    margin-right: 4px;
  }
}
.ingress-wrapper {
  width: 100%;
  .ingress-action {
    position: absolute;
    top: 70px;
    right: -27px;
  }
  ::ng-deep {
    .aui-form-item__addon-wrapper {
      width: 12px;
    }
    .aui-input--medium {
      height: 28px;
    }
    .aui-button--text:hover {
      background-color: #ffffff;
    }
    .rc-array-form-table__action-col {
      .aui-button--text:hover {
        background-color: #fafafa;
      }
    }
    .aui-button--text[disabled] {
      aui-icon:hover {
        color: #000;
        cursor: no-drop;
        opacity: 0.4;
      }
    }
  }
  .aui-form-item__addon-wrapper {
    width: 12px !important;
  }
  .resource-form__content {
    padding: 0 80px 0px 40px;
  }
  .ingress-item {
    position: relative;
    padding: 16px 0px 0px 10px;
    height: 100%;
    background-color: #fafafa;
    &:not(:first-child) {
      margin-top: 12px;
    }
    &__host {
      display: flex;
      width: 100%;
      &__domain {
        margin-right: 10px;
        flex: 1;
      }
      aui-select {
        flex: 3;
      }
      ::ng-deep {
        .aui-form-item__addon {
          text-align: center;
          width: 30px;
          line-height: 32px;
        }
      }
      input {
        flex: 1;
      }
    }
    .ingress-table {
      border: solid 1px #ededed;
      width: 100%;
    }
  }
  .add-container {
    margin-top: 12px;
    .addRowBtn {
      border: solid 1px #009ce3;
      background-color: white;
      color: #009ce3;
    }
  }
}
