@import 'var';

@mixin status-legend-icon($color) {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  background-color: $color;
  margin-right: 5px;
}

:host {
  width: 100%;
}
.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  .rc-legend-list {
    display: flex;
    flex: 1;
    .rc-legend-item {
      display: flex;
      align-items: center;
      margin-right: 16px;
      &.success:before {
        @include status-legend-icon($color-success);
      }

      &.error:before {
        @include status-legend-icon($color-error);
      }

      &.pending:before {
        @include status-legend-icon($color-warning);
      }
    }
  }
}
.event-content {
  min-height: 100px;
}
.event-list {
  overflow: visible;
  padding: 0;
  border: 1px solid $border-color;
}
.event-item {
  list-style: none;
  &:nth-of-type(odd) {
    background-color: #fff;
  }
  &:nth-of-type(even) {
    background-color: #f8f8f8;
  }
  &:hover {
    background-color: $color-primary-extra-light;
  }
  &.success {
    border-left: 4px solid $color-success;
    .event-message-icon {
      color: $color-success;
    }
  }
  &.warning {
    border-left: 4px solid $color-warning;
    .event-message-icon {
      color: $color-warning;
    }
  }
  &.error {
    border-left: 4px solid $color-error;
    .event-message-icon {
      color: $color-error;
    }
  }
}
.event-item-summary {
  padding: 8px;
  display: flex;
  ::ng-deep .rc-tooltip {
    max-width: 600px;
    word-wrap: break-word;
  }
}
.event-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 8px;
}
.event-message-icon {
  margin-right: 8px;
  line-height: 18px;
}

.event-detail-icon {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-left: auto;
}
.event-item-detail {
  pre {
    border: none !important;
    padding: 8px;
    white-space: pre-wrap;
    margin: 0;
  }
}
.event-time {
  margin-right: 8px;
  white-space: nowrap;
}
.event-pagination {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-end;
  .event-search-hint {
    margin-top: 12px;
    padding: 6px 6px 0;
  }
}
.event-not-found {
  display: flex;
  justify-content: center;
  padding: 0 16px;
  flex-direction: column;
  ul > li {
    list-style: disc;
    min-height: 36px;
    line-height: 36px;
  }
}
