<div class="event-list-container">
  <div class="event-header">
    <div
      class="rc-legend-list layout-row"
      layout="row"
      layout-align="start center"
    >
      <div class="rc-legend-item success">
        {{ 'message' | translate }}
      </div>
      <div class="rc-legend-item pending">
        {{ 'warning' | translate }}
      </div>
      <div class="rc-legend-item error">
        {{ 'error' | translate }}
      </div>
    </div>
    <aui-search
      [searchButton]="true"
      [searching]="loading"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="search($event)"
    ></aui-search>
  </div>
  <div class="event-content" [rcLoadingMask]="loading">
    <!-- list -->
    <ul class="event-list" *ngIf="events.length">
      <li
        class="event-item"
        *ngFor="let event of events"
        [ngClass]="eventStateMap[event.log_level]"
      >
        <div
          class="event-item-summary"
          (click)="expandEvent(event, $event)"
          role="button"
        >
          <span class="event-time">{{ event.formattedTime }}</span>
          <span class="event-message" [innerHTML]="event.message"></span>
          <aui-icon
            icon="basic:file"
            class="event-message-icon"
            *ngIf="!!event.detail.message"
            [auiTooltipType]="eventStateMap[event.log_level]"
            [auiTooltip]="event.detail.message"
          ></aui-icon>
          <span
            class="event-detail-icon fa"
            [ngClass]="{
              'fa-caret-right': !event.expanded,
              'fa-caret-down': event.expanded
            }"
          ></span>
        </div>
        <div class="event-item-detail" *ngIf="event.expanded">
          <pre>{{ event.jsonDetail }}</pre>
        </div>
      </li>
    </ul>
    <!-- no data -->
    <div
      *ngIf="!events.length && !keyword && !loading"
      class="rb-loading-mask-placeholder"
    >
      {{ 'no_data' | translate }}
    </div>
    <!-- no search result -->
    <div class="event-not-found" *ngIf="!events.length && keyword && !loading">
      <h2>{{ 'event_not_found' | translate }}</h2>
      <hr />
      <ul [innerHTML]="notFoundTips"></ul>
      <ul>
        <li>
          <p>{{ 'event_data_example' | translate }}</p>
          <pre
            >{{ '{' }}
    "resource_name": "EHEtest",
    "resource_id": "ac16c87b-1e14-44a9-b489-5a5f1319bac4",
    "namespace": "claasv1",
    "detail": {{ '{' }}
        "operator": "vipertest",
        "operation": "destroy"
    {{ '}' }},
    "time": 1466241014.316031,
    "template_id": "generic",
    "resource_type": "service"
{{ '}' }}</pre
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="event-pagination" *ngIf="pagination.count > 0">
    <aui-paginator
      layout="total,pager,sizes,jumper"
      [disabled]="loading"
      [(currentPage)]="pagination.current"
      [(pageSize)]="pagination.size"
      [total]="pagination.count"
      (currentPageChange)="currentPageChange($event)"
      (pageSizeChange)="pageSizeChange($event)"
      [pageSizeOptions]="[10, 20, 50, 100]"
    ></aui-paginator>
    <aui-icon
      icon="basic:question"
      class="event-search-hint"
      auiTooltipPosition="start center"
      auiTooltipType="info"
      [auiTooltip]="'logs_search_hint' | translate"
    ></aui-icon>
  </div>
</div>
