<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'rbac' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'roles_management' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div class="tabs-container detail-container">
  <aui-tab-group>
    <aui-tab>
      <ng-container *auiTabLabel>{{ 'roles' | translate }}</ng-container>
      <ng-container *auiTabContent>
        <div class="detail-tab-container clearfix">
          <rc-role-list></rc-role-list>
        </div>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>{{ 'events' | translate }}</ng-container>
      <ng-container *auiTabContent>
        <div class="detail-tab-container clearfix">
          <rc-event-list type="role"></rc-event-list>
        </div>
      </ng-container>
    </aui-tab>
  </aui-tab-group>
</div>
