<aui-dialog-header>
  <span>{{ 'rbac_parent_roles' | translate }}</span>
</aui-dialog-header>

<aui-dialog-content [rcLoadingMask]="!initialized">
  <div class="role-name">
    <label>{{ 'role' | translate }}</label>
    <span class="content">{{ role.name }}</span>
  </div>
  <div class="resource-table">
    <label>{{ 'resource_type' | translate }}</label>
    <aui-table class="content" [dataSource]="role.permissions">
      <ng-container auiTableColumnDef="resource_type">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'resource_type' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <span>{{ item.resource_type | translate }}</span>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'action' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div class="text-overflow" [title]="getActions(item.actions)">
            {{ getActions(item.actions) }}
          </div>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="constraints">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'constraints' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div *ngIf="item.constraints">
            <ng-container *ngFor="let constraint of item.constraints">
              <div
                class="text-overflow"
                [title]="showAllconstraints(constraint)"
              >
                {{ showAllconstraints(constraint) }}
              </div>
              <span *ngIf="!keys(constraint).length">
                {{ 'rbac_not_set' | translate }}
              </span>
            </ng-container>
          </div>
          <span *ngIf="!item.constraints || !item.constraints.length">
            {{ 'rbac_not_set' | translate }}
          </span>
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="['resource_type', 'action', 'constraints']"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="
          let row;
          columns: ['resource_type', 'action', 'constraints']
        "
      ></aui-table-row>
    </aui-table>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="cancel()" style="margin-right: 8px">
    {{ 'ok' | translate }}
  </button>
</aui-dialog-footer>
