@import 'mixins';

.role-name,
.resource-table {
  padding: 0 20px;
  line-height: 40px;
  display: flex;
  label {
    flex: 2;
    text-align: right;
    padding-right: 16px;
  }

  .content {
    flex: 8;
  }

  ::ng-deep {
    aui-table {
      max-width: 80%;
    }
    aui-table-header-cell,
    aui-table-cell {
      min-width: 100px;
      height: 25px;
      line-height: 25px;
    }

    .aui-table__column {
      &-resource_type {
        flex: 1;
      }
      &-action {
        flex: 1;
      }
      &-constraints {
        flex: 2;
      }
    }
  }
}

.text-overflow {
  @include text-overflow();
}
