:host {
  .content-footer {
    height: 48px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    padding-left: 14px;
    ::ng-deep {
      .aui-form-item {
        margin-bottom: 0;
      }
      .aui-form-item__addon {
        white-space: nowrap;
      }
    }
  }
  ::ng-deep {
    .aui-dialog__header {
      padding-top: 40px;
      .aui-select__input {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .aui-dialog__header-title {
      width: 100%;
      overflow: visible;
      height: 34px;
    }
    .pagination_wapper {
      flex: 1;
    }
    aui-paginator {
      justify-content: flex-end;
      align-items: center;
      margin-top: 0;
      flex: 1;
    }
    .aui-checkbox {
      margin-right: 0;
    }
    .content-header {
      justify-content: space-between;
      display: flex;
    }
    .aui-table {
      &__column-username {
        padding-left: 8px;
        .aui-checkbox__pointer {
          margin-right: 4px;
        }
      }
      &__header-row {
        .aui-table__column-username {
          padding-left: 28px;
        }
      }
    }
    .zero-state {
      justify-content: center;
      align-items: center;
      display: flex;
      height: 42px;
      color: #ccc;
    }
  }
}
