<aui-dialog-header [closeable]="false">
  {{ 'batch_import_account' | translate }}
  <div fxFlex></div>
  <aui-select
    [(ngModel)]="selectedLdapGroup"
    (ngModelChange)="select()"
    auiFormItemControl
  >
    <aui-option
      *ngFor="let item of ldapGroups"
      [label]="item.name"
      [value]="item"
    >
      {{ item.name }}
    </aui-option>
  </aui-select>
  <aui-search
    [searchButton]="true"
    (search)="search($event)"
    [placeholder]="'search_by_keyword' | translate"
  ></aui-search>
</aui-dialog-header>
<aui-dialog-content>
  <section>
    <aui-table [dataSource]="users">
      <ng-container auiTableColumnDef="username">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <aui-checkbox
            [ngModel]="item.checked"
            [disabled]="item.disabled"
            (valueChange)="onCheck($event, item)"
          ></aui-checkbox>
          {{ item.username }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="email">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'email' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <span>
            {{ item?.email || '-' }}
          </span>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="group">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'group' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <span>
            {{ item?.ldap_group_name?.join(', ') || '-' }}
          </span>
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="['username', 'email', 'group']"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: ['username', 'email', 'group']"
      ></aui-table-row>
    </aui-table>
  </section>
  <div class="zero-state" *ngIf="!users?.length">
    {{ 'no_data' | translate }}
  </div>
  <section class="content-footer">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'set_role' | translate }}</label>
      <aui-select
        [(ngModel)]="roleType"
        (ngModelChange)="changeRoleType()"
        required
        auiFormItemControl
      >
        <!-- :yintest -->
        <aui-option
          *ngFor="let item of roleTypes"
          [label]="getRoleDisplayName(item)"
          [value]="item"
        >
          {{ getRoleDisplayName(item) }}
        </aui-option>
      </aui-select>
      <div auiFormItemAddon>
        {{ 'set_role_for_member' | translate: { num: selectedUsers.length } }}
      </div>
    </aui-form-item>
  </section>
</aui-dialog-content>
<aui-dialog-footer>
  <aui-paginator
    layout="total,pager"
    [(currentPage)]="pagination.current"
    [(pageSize)]="pagination.size"
    [total]="pagination.count"
    (currentPageChange)="pageChanged($event)"
  ></aui-paginator>
  <button aui-button="primary" [disabled]="!importEnabled" (click)="import()">
    {{ ('import' | translate) + selectedNum }}
  </button>
  <button aui-button (click)="cancel()" style="margin-right: 8px">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
