<div
  class="region-badge"
  #tooltipAnchor
  [class.no-regions]="(regionLength$ | async) === 0"
  [rcLoadingMask]="!(regionService.regions$ | async)"
>
  <div
    class="left-badge"
    (click)="goToRegionDetail()"
    [class.has-selected-region]="selectedRegionName"
    [auiTooltip]="'region_badge_current_region' | translate"
    auiTooltipPosition="bottom center"
    auiTooltipClass="rc-font-small"
  >
    <aui-icon icon="basic:server_s"></aui-icon>
  </div>
  <div
    #regionListTooltipEl
    [fxShow]="regionLength$ | async"
    class="right-badge"
    [auiDropdown]="clustersMenu"
    auiDropdownPosition="bottom start"
  >
    <div class="display-name">
      <span [title]="regionDisplayName$ | async">
        {{ regionDisplayName$ | async }}
      </span>
    </div>
    <div
      *ngIf="(regionLength$ | async)"
      class="fa expand-icon fa-angle-down"
    ></div>

    <aui-menu #clustersMenu size="medium">
      <div class="aui-menu__scrollable-warpper">
        <aui-menu-item
          *ngFor="let region of (regions$ | async); trackBy: trackByRegionName"
          (click)="onRegionClicked(region)"
        >
          {{ region.display_name }}
        </aui-menu-item>
      </div>
    </aui-menu>
  </div>

  <div *ngIf="(regionLength$ | async) === 0" class="no-region-hint right-badge">
    {{ 'region_none' | translate }}
  </div>
</div>
