@import 'var';
@import 'mixins';
@import '../layout.common';

:host {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.region-badge {
  display: inline-flex;
  background-color: #fff;
  border-radius: $badge-border-radius;
  align-items: stretch;
  min-width: 120px;
  height: $badge-height;
  color: $badge-color;

  > div {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    cursor: default;
    transition: background-color 0.3s, color 0.3s;
  }

  .left-badge {
    overflow: hidden;
    border-top-left-radius: $badge-border-radius;
    border-bottom-left-radius: $badge-border-radius;
    padding-left: 12px;
  }

  .left-badge,
  .right-badge {
    cursor: pointer;
    &:hover {
      background-color: #eee;
      color: #0babeb;
    }
  }

  &.no-regions {
    .left-badge,
    .right-badge {
      cursor: default;
      &:hover {
        background-color: inherit;
        color: inherit;
      }
    }
  }

  .right-badge {
    display: inline-flex;
    overflow: hidden;
    border-top-right-radius: $badge-border-radius;
    border-bottom-right-radius: $badge-border-radius;
    flex: 1;
    border-left: 1px solid $border-color;
  }

  .display-name {
    display: inline-flex;
    flex: 1;
    justify-content: center;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .no-region-hint {
    padding-right: 18px;
  }

  .expand-icon {
    margin-left: 6px;
    margin-right: 4px;
    font-size: 18px;

    transition: transform 0.2s;

    &.list-active {
      transform: rotate(180deg);
    }
  }
}

.region-badge__region-list {
  position: absolute;
  left: 0;
  top: 100%;
  padding: 4px 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  display: flex;
  flex-flow: column;
  align-items: stretch;
  max-height: 284px;
  overflow-y: auto;
  @include scroll-bar;
  &__item {
    font-size: 14px;
    font-weight: normal;
    background: #fff;
    white-space: nowrap;
    padding: 8px 10px;
    cursor: pointer;

    &:hover {
      color: #53bce5;
      background: #d6eef8;
    }

    &.active-region {
      color: $badge-color;
      background: #f4f4f4;
      font-weight: 700;
      cursor: default;
    }
  }
}
