:host {
  .advanced-fields-button {
    background: #fafafa;
    text-align: center;
    color: #009ce3;
    height: 20px;
    margin: 0 20px;
    font-size: 12px;
    line-height: 20px;
    &:hover {
      background-color: #f2fafe;
      cursor: pointer;
    }
  }

  .helper {
    font-size: 16px;
    color: #999999;
    &:hover {
      color: #009ce3;
    }
  }

  .secret-group {
    margin-right: 10px;
    &__display-name {
      color: #999;
      margin-left: 4px;
    }
  }

  .repo-icon {
    display: flex;
    align-items: center;
    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }

  ::ng-deep {
    .aui-radio-button {
      &.isDisabled {
        .repo-icon {
          img {
            opacity: 0.4;
          }
        }
      }
    }
  }
}
