<aui-dialog-header>
  {{ 'tool_chain_add_repository' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <aui-inline-alert
    *ngIf="loadError"
    [content]="'tool_chain_get_resource_error_hint' | translate"
    type="error"
  ></aui-inline-alert>

  <form [formGroup]="createForm" auiForm auiFormLabelWidth="160px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'tool_chain_add_way' | translate }}</label>
      <aui-radio-group required auiFormItemControl formControlName="addWay">
        <aui-radio-button value="createMode">
          {{ 'pipeline_new' | translate }}
        </aui-radio-button>
        <aui-radio-button value="selectMode">
          {{ 'select' | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'tool_chain_repository_type' | translate }}
      </label>
      <aui-radio-group required auiFormItemControl formControlName="repoType">
        <aui-radio-button value="Maven">
          <div class="repo-icon">
            <img
              [src]="'/static/images/pipeline_new/template-category/maven.svg'"
            />
            Maven
          </div>
        </aui-radio-button>
        <aui-radio-button
          [disabled]="true"
          value="NPM"
          auiTooltip="{{ 'coming_soon' | translate }}"
        >
          <div class="repo-icon">
            <img [src]="'/static/images/tool-chain/list/npm.svg'" />
            NPM
          </div>
        </aui-radio-button>
        <aui-radio-button
          [disabled]="true"
          value="PYPI"
          auiTooltip="{{ 'coming_soon' | translate }}"
        >
          <div class="repo-icon">
            <img [src]="'/static/images/tool-chain/list/pypl.svg'" />
            PYPI
          </div>
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'tool_chain_repository_name' | translate }}
      </label>
      <ng-container
        auiFormItemControl
        required
        [ngTemplateOutlet]="repoNameTemp"
      ></ng-container>
      <ng-template #repoNameTemp>
        <ng-container [ngSwitch]="createForm.value['addWay']">
          <ng-container *ngSwitchCase="'createMode'">
            <input aui-input auiFormItemControl formControlName="repoName" />
          </ng-container>
          <ng-container *ngSwitchCase="'selectMode'">
            <aui-select
              [allowCreate]="false"
              [filterable]="false"
              formControlName="repoNameSelect"
            >
              <aui-option
                *ngFor="let repo of (repository$ | async)"
                [label]="repo"
                [value]="repo"
              >
                {{ repo }}
              </aui-option>
            </aui-select>
          </ng-container>
        </ng-container>
      </ng-template>
    </aui-form-item>
    <ng-container *ngIf="createForm.value['addWay'] === 'createMode'">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tool_chain_version_policy' | translate }}
        </label>
        <aui-radio-group
          required
          auiFormItemControl
          formControlName="versionPolicy"
        >
          <aui-radio-button value="Release">Release</aui-radio-button>
          <aui-radio-button value="Snapshot">Snapshot</aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tool_chain_file_storage_location' | translate }}
        </label>
        <aui-select
          [loading]="!(blobStore$ | async)"
          [allowCreate]="false"
          [filterable]="false"
          auiFormItemControl
          required
          formControlName="fileStorageLocation"
        >
          <aui-option
            *ngFor="let blob of (blobStore$ | async)"
            [label]="blob"
            [value]="blob"
          >
            {{ blob }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
      </aui-form-item>
    </ng-container>

    <ng-container *ngIf="show_advanced">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tool_chain_allow_subscribe' | translate }}
        </label>
        <aui-checkbox formControlName="allowSubscribe">
          <aui-icon
            class="helper"
            icon="basic:question"
            [auiTooltip]="'tool_chain_allow_subscribe_tips' | translate"
          ></aui-icon>
        </aui-checkbox>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tool_chain_use_secrets' | translate }}
        </label>
        <aui-checkbox formControlName="useSecret">
          <aui-icon
            class="helper"
            icon="basic:question"
            [auiTooltip]="'tool_chain_use_secrets_tips' | translate"
          ></aui-icon>
        </aui-checkbox>
      </aui-form-item>
      <ng-container *ngIf="createForm.value['useSecret']">
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'tool_chain_auth_type' | translate }}
          </label>
          <aui-radio-group
            auiFormItemControl
            formControlName="authType"
            (ngModelChange)="resetSecret()"
          >
            <aui-radio-button
              *ngIf="supportedSecretType(secretTypes.BasicAuth)"
              [value]="secretTypes.BasicAuth"
            >
              {{ 'secret_username_password' | translate }}
            </aui-radio-button>
            <aui-radio-button
              *ngIf="supportedSecretType(secretTypes.OAuth2)"
              [value]="secretTypes.OAuth2"
            >
              {{ 'tool_chain_oauth2' | translate }}
            </aui-radio-button>
          </aui-radio-group>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'tool_chain_secrets' | translate }}</label>
          <aui-select
            auiFormItemControl
            formControlName="secret"
            [trackFn]="trackSecretFn"
            clearable
            filterable
            required
            class="secret-group"
            [placeholder]="'tool_chain_please_select_secret' | translate"
          >
            <aui-option-group>
              <aui-option
                *ngFor="let item of (secrets$ | async)"
                [value]="item.name"
                [label]="item.name"
                (click)="secretToValue(item)"
              >
                <span>{{ item.name }}</span>
                <span
                  class="secret-group__display-name"
                  *ngIf="!!item.displayName"
                >
                  ({{ item.displayName }})
                </span>
              </aui-option>
            </aui-option-group>
            <aui-option-placeholder>
              {{ 'tool_chain_no_available_secrets' | translate }}
            </aui-option-placeholder>
          </aui-select>
          <button
            aui-button
            type="button"
            class="add-secret"
            [disabled]="!data.secretCreatePermission"
            (click)="addSecret()"
          >
            {{ 'tool_chain_add_secret' | translate }}
          </button>
        </aui-form-item>
      </ng-container>
    </ng-container>

    <div class="advanced-fields-button" (click)="handleShowAdvanced()">
      {{
        (show_advanced ? 'pipeline_hide_advanced' : 'pipeline_show_advanced')
          | translate
      }}
      <aui-icon
        [icon]="
          show_advanced ? 'basic:angle_double_up' : 'basic:angle_double_down'
        "
      ></aui-icon>
    </div>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button
    aui-button="primary"
    (click)="addRepo()"
    [disabled]="loadError || createForm.invalid"
  >
    {{ 'tool_chain_add' | translate }}
  </button>
  <button aui-button auiDialogClose>
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
