:host {
  .basic-info {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 14px;
    color: #333333;
    margin-bottom: -12px;

    .info-item {
      width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 12px;
    }
  }

  .header-title {
    display: flex;
    align-items: center;
  }

  .alert {
    font-size: 16px;
    color: #f8ac58;
    margin-left: 8px;
  }

  .integrate-icon {
    color: #999;
    font-size: 8px;
    margin-left: 8px;
    &:hover {
      color: #009ce3;
    }
  }

  .info-header {
    display: flex;
    justify-content: space-between;
  }

  .icon-stack {
    width: 48px;
    margin-right: 8px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .type-icon {
    width: 100%;
  }

  .enterprise-mark {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 2px;
    top: 50%;
    transform: translateY(4px);
  }

  .shallow-mark {
    font-size: 12px;
    color: #009ce3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 2px;
    top: 50%;
    transform: translateY(4px);
    background-color: white;
  }

  .list-card-header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;

    .aui-button {
      &.disabled {
        cursor: default;
        color: #ccc;
        background-color: #f2f2f2;
        border-color: #ccc;
      }
    }
  }

  .pos-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .search-pos {
    margin-left: 8px;
  }

  ::ng-deep {
    aui-tab-header {
      margin-left: -20px;
      margin-right: -20px;
      margin-top: -20px;
    }
  }
}
