<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/tool_chain']">
        {{ 'nav_tool_chain' | translate }}
      </a>
    </aui-breadcrumb-item>
    <ng-container *ngIf="!!(routeBindingtoolDetailUpdated$ | async)?.manager">
      <aui-breadcrumb-item>
        <a
          [routerLink]="[
            '/console/admin/tool_chain/ArtifactRegistryManager/' +
              (routeBindingtoolDetailUpdated$ | async)?.manager
          ]"
        >
          {{ (routeBindingtoolDetailUpdated$ | async)?.manager }}
        </a>
      </aui-breadcrumb-item>
    </ng-container>
    <aui-breadcrumb-item>
      {{ (routeBindingtoolDetailUpdated$ | async)?.name }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card>
  <div auiCardHeader class="info-header">
    <div class="header-title">
      <div *ngIf="(toolDetailUpdated$ | async)" class="icon-stack">
        <img
          class="type-icon"
          [src]="
            '/static/images/tool-chain/' +
            (toolDetailUpdated$ | async)?.type.toLowerCase() +
            '.svg'
          "
        />
        <img
          *ngIf="(toolDetailUpdated$ | async)?.enterprise"
          class="enterprise-mark"
          [src]="enterpriseIcon$ | async"
        />
        <div
          *ngIf="(toolDetailUpdated$ | async)?.shallow"
          class="shallow-mark"
          [auiTooltip]="'tool_chain_shallow_integrate_tips' | translate"
        >
          <aui-icon icon="info_circle_s"></aui-icon>
        </div>
      </div>
      <span>{{ (routeBindingtoolDetailUpdated$ | async)?.name }}</span>
      <aui-icon
        *ngIf="(toolDetailUpdated$ | async)?.status.phase === 'Error'"
        class="alert"
        [auiTooltipType]="needAuthorization ? 'info' : ''"
        [auiTooltip]="
          needAuthorization
            ? toolStatusTips
            : (toolDetailUpdated$ | async)?.status.message
        "
        [auiTooltipDisabled]="!(toolDetailUpdated$ | async)?.status.message"
        auiTooltipPosition="top start"
        icon="exclamation_circle_s"
      ></aui-icon>
      <aui-icon
        *ngIf="!!(toolDetailUpdated$ | async)?.integrateBy"
        class="integrate-icon"
        icon="basic:project_circle_s"
        [auiTooltip]="getIntegrateBy((toolDetailUpdated$ | async)?.integrateBy)"
        [auiTooltipPosition]="'top'"
      ></aui-icon>
    </div>
    <rc-menu-trigger [menu]="actionsMenu"></rc-menu-trigger>
  </div>
  <aui-menu #actionsMenu>
    <aui-menu-item [disabled]="!toolPermissions.canUpdate" (click)="update()">
      {{ 'update' | translate }}
    </aui-menu-item>
    <aui-menu-item
      [disabled]="!toolPermissions.canDelete"
      type="danger"
      [divide]="true"
      (click)="delete()"
    >
      {{ 'delete' | translate }}
    </aui-menu-item>
  </aui-menu>
  <ul class="basic-info">
    <li class="info-item">
      <span class="label">{{ 'type' | translate }}：</span>
      <span class="value">
        <span>
          {{
            'tool_chain_' + snakeCaseKind((toolDetailUpdated$ | async)?.kind)
              | translate
          }}
          /
        </span>
        <span>{{ (toolDetailUpdated$ | async)?.type }}</span>
        <span *ngIf="(toolDetailUpdated$ | async)?.enterprise">
          {{ 'enterprise_edition' | translate }}
        </span>
      </span>
    </li>
    <li class="info-item">
      <span class="label">{{ 'created_at' | translate }}：</span>
      <span class="value">
        {{ (toolDetailUpdated$ | async)?.creationTimestamp | rcFormatMs }}
      </span>
    </li>
    <li class="info-item">
      <span class="label">{{ 'tool_chain_visit_address' | translate }}：</span>
      <span class="value">{{ (toolDetailUpdated$ | async)?.visitHost }}</span>
    </li>
    <li class="info-item">
      <span class="label">
        {{ 'tool_chain_allow_subscribe' | translate }}：
      </span>
      <span class="value">
        <aui-tag
          *ngIf="
            (toolDetailUpdated$ | async)?.subscription;
            else notAllowSubscribe
          "
          type="success"
          [solid]="true"
          [round]="true"
          size="mini"
        >
          {{ 'yes' | translate }}
        </aui-tag>
        <ng-template #notAllowSubscribe>
          <aui-tag type="info" [solid]="true" [round]="true" size="mini">
            {{ 'no' | translate }}
          </aui-tag>
        </ng-template>
      </span>
    </li>
    <li class="info-item">
      <span class="label">{{ 'tool_chain_api_address' | translate }}：</span>
      <span class="value">{{ (toolDetailUpdated$ | async)?.host }}</span>
    </li>
    <li class="info-item" *ngIf="roleSyncEnabled">
      <span class="label">
        {{ 'tool_chain_role_sync_enabled' | translate }}：
      </span>
      <span class="value">
        <aui-tag
          *ngIf="(toolDetailUpdated$ | async)?.roleSyncEnabled; else isRoleSync"
          type="success"
          [solid]="true"
          [round]="true"
          size="mini"
        >
          {{ 'yes' | translate }}
        </aui-tag>
        <ng-template #isRoleSync>
          <aui-tag type="info" [solid]="true" [round]="true" size="mini">
            {{ 'no' | translate }}
          </aui-tag>
        </ng-template>
      </span>
    </li>
    <li *ngIf="(toolDetailUpdated$ | async)?.type === 'Jira'" class="info-item">
      <span class="label">{{ 'tool_chain_user_count' | translate }}：</span>
      <span class="value">
        {{ (toolDetailUpdated$ | async)?.userCount || '-' }}
      </span>
    </li>
    <li class="info-item">
      <span class="label">{{ 'tool_chain_auth_type' | translate }}：</span>
      <span class="value">
        {{ getAuthType((toolDetailUpdated$ | async)?.auth_type) }}
      </span>
    </li>
    <li
      *ngIf="(toolDetailUpdated$ | async)?.type === 'Maven2'"
      class="info-item"
    >
      <span class="label">{{ 'tool_chain_version_policy' | translate }}：</span>
      <span class="value">
        {{ (toolDetailUpdated$ | async)?.versionPolicy || '-' }}
      </span>
    </li>
    <li class="info-item">
      <span class="label">{{ 'tool_chain_secrets' | translate }}：</span>
      <span>
        <a
          *ngIf="(toolDetailUpdated$ | async)?.secret?.name"
          [routerLink]="secretRoute((toolDetailUpdated$ | async)?.secret)"
        >
          {{ secretName((toolDetailUpdated$ | async)?.secret) }}
        </a>
        <ng-container *ngIf="!(toolDetailUpdated$ | async)?.secret?.name">
          -
        </ng-container>
      </span>
    </li>
  </ul>
</aui-card>

<aui-card>
  <div [ngSwitch]="(toolDetailUpdated$ | async)?.type">
    <div *ngSwitchCase="'Harbor'">
      <aui-tab-group
        type="card"
        size="medium"
        (selectedIndexChange)="onSelectedIndexChange($event)"
      >
        <aui-tab>
          <ng-container *auiTabLabel>
            <span [title]="'tool_chain_tenant_in_use' | translate">
              {{ 'tool_chain_tenant_in_use' | translate }}
            </span>
          </ng-container>
          <div class="list-card-header pos-flex">
            <ng-container [ngTemplateOutlet]="allocateBtnTemp"></ng-container>
          </div>
          <ng-container [ngTemplateOutlet]="bindingListTemp"></ng-container>
        </aui-tab>
        <aui-tab>
          <ng-container *auiTabLabel>
            <span [title]="'tool_chain_harbor_project_overview' | translate">
              {{ 'tool_chain_harbor_project_overview' | translate }}
            </span>
          </ng-container>
          <ng-container [ngTemplateOutlet]="harborProjectTemp"></ng-container>
        </aui-tab>
      </aui-tab-group>
    </div>
    <div *ngSwitchDefault>
      <div class="list-card-header">
        <div>{{ 'tool_chain_tenant_allocation' | translate }}</div>
        <div class="pos-flex">
          <ng-container [ngTemplateOutlet]="allocateBtnTemp"></ng-container>
        </div>
      </div>
      <ng-container [ngTemplateOutlet]="bindingListTemp"></ng-container>
    </div>
  </div>
</aui-card>
<ng-template #addSecretTemp>
  <span>
    {{ 'tool_chain_please_first' | translate }}
    <a (click)="addSecret()">
      {{ 'tool_chain_add_secret' | translate }}
    </a>
  </span>
</ng-template>
<ng-template #toolStatusTips>
  <div>
    <span>{{ 'tool_chain_currently_disabled_hint' | translate }}</span>
    <a (click)="validateStatus()">
      {{ 'tool_chain_click_verification_secret' | translate }}
    </a>
  </div>
</ng-template>
<ng-template #allocateBtnTemp>
  <button
    [disabled]="!allocatePermissions.canCreate"
    auiTooltipPosition="top center"
    auiTooltipType="info"
    [auiTooltipDisabled]="!!(toolDetailUpdated$ | async)?.secret.name"
    [auiTooltip]="addSecretTemp"
    [ngClass]="{ disabled: !(toolDetailUpdated$ | async)?.secret.name }"
    aui-button
    (click)="allocate()"
  >
    {{ 'tool_chain_allocate' | translate }}
  </button>
  <aui-search
    class="search-pos"
    [placeholder]="'tool_chain_search_by_name' | translate"
    [searchButton]="true"
    [searching]="loadingBindings"
    (search)="onSearch($event)"
  ></aui-search>
</ng-template>
<ng-template #bindingListTemp>
  <rc-binding-list
    [bindings]="(bindings$ | async)?.items"
    [toolType]="(bindings$ | async)?.type"
    [updateDisabled]="!(toolDetailUpdated$ | async)?.secret.name"
    (updateTable)="updateTable($event)"
    [permissions]="allocatePermissions"
  ></rc-binding-list>
  <rc-zero-state
    [zeroState]="showZeroState"
    [fetching]="loadingBindings"
    [resourceName]="
      (pagination?.keyword
        ? 'tool_chain_result'
        : 'tool_chain_tenant_allocation') | translate
    "
  ></rc-zero-state>
  <aui-paginator
    *ngIf="pagination.count"
    layout="total,pager"
    [(currentPage)]="pagination.current"
    [(pageSize)]="pagination.size"
    [total]="pagination.count"
    (pageSizeChange)="pageSizeChange($event)"
    (currentPageChange)="pageChanged($event)"
  ></aui-paginator>
</ng-template>
<ng-template #harborProjectTemp>
  <rc-harbor-project
    [update$]="harborProjectsUpdated$"
    [name]="(toolDetailUpdated$ | async)?.name"
    [kind]="(toolDetailUpdated$ | async)?.kind"
    [credential]="(toolDetailUpdated$ | async)?.secret"
  ></rc-harbor-project>
</ng-template>
