<div
  class="header-row"
  fxLayout="row"
  fxLayoutAlign="space-between center"
></div>
<div class="icon-row">
  <img
    [src]="platformService.getLocalPicture(template)"
    alt="app-icon"
    onerror="javascript:this.src='/static/images/app-catalog/template.svg';"
  />
  <div class="template-display-name" [title]="template?.display_name">
    {{ template?.display_name }}
  </div>
</div>

<div class="lower-half">
  <hr />
  <div class="template-summary-area" [title]="template?.description">
    <p>{{ template?.description }}</p>
  </div>

  <button
    aui-button="primary"
    [title]="warm_tips | translate"
    [ngClass]="{
      'template-button-opacity':
        template.resource_actions.indexOf('public_helm_template:use') < 0 ||
        !applicationPermission
    }"
    class="template-create-app-button"
    (click)="createAppClicked($event)"
  >
    {{ 'create_app' | translate }}
  </button>
</div>
