<div class="namespace-update-quota">
  <aui-dialog-header>
    {{ 'add_cluster' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <form #quotaForm="ngForm" novalidate>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'regions' | translate }}</label>
        <aui-select
          auiFormItemControl
          name="regions"
          required
          [loading]="loading"
          [filterable]="true"
          [(ngModel)]="selectedRegions"
          (ngModelChange)="selectedRegionChange($event)"
          rcErrorsTooltip
          [rcErrorsTooltipMapper]="{ required: 'required' | translate }"
        >
          <aui-option
            class="cluster-select-option"
            *ngFor="let region of clusters"
            [label]="region.display_name"
            [value]="region"
          >
            <aui-icon
              *ngIf="region?.mirror.regions"
              style="margin-right:3px;"
              icon="basic:sitemap_s"
              [style.color]="region?.mirror.flag"
            ></aui-icon>
            {{ region.display_name }}
            <div class="ns-select-option__desc">
              {{ clusterQuotaDisplay(region) }}
            </div>
          </aui-option>
        </aui-select>
      </aui-form-item>
      <!-- mirror regions -->
      <div *ngFor="let id of keys(mirrorRegionsMap)">
        <div class="set-same-quota">
          <aui-checkbox
            [(ngModel)]="setSameQuotaFlags[id]"
            [ngModelOptions]="{ standalone: true }"
          >
            {{ 'set_same_quota' | translate }}
          </aui-checkbox>
        </div>
        <div *ngFor="let region of getMirrorCycleClusters(id); let i = index">
          <div class="region-header" [hidden]="setSameQuotaFlags[id]">
            <span [auiTooltip]="region.name">{{ region.display_name }}</span>
            <i
              class="fa toggle"
              (click)="mirrorHiddenFlags[id][i] = !mirrorHiddenFlags[id][i]"
              [class.fa-angle-left]="mirrorHiddenFlags[id][i]"
              [class.fa-angle-down]="!mirrorHiddenFlags[id][i]"
            ></i>
          </div>
          <div [hidden]="mirrorHiddenFlags[id][i] && !setSameQuotaFlags[id]">
            <aui-form-item *ngFor="let key of quotaKeys">
              <label auiFormItemLabel>{{ key | translate }}</label>
              <aui-input-group auiFormItemControl>
                <input
                  aui-input
                  type="number"
                  pattern="^[0-9]\d*$"
                  [name]="key + id + i"
                  #curr="ngModel"
                  [placeholder]="quotaPlaceholder"
                  [(ngModel)]="region.quota[key]"
                />
                <span auiInputAddonAfter>
                  {{ getQuotaUnit(key) | translate }}
                </span>
              </aui-input-group>
              <span auiFormItemHint>{{ getQuotaLimitDesc(key, region) }}</span>
              <div auiFormItemError *ngIf="curr.errors?.pattern">
                {{ 'integer_pattern' | translate }}
              </div>
            </aui-form-item>
          </div>
        </div>
      </div>
      <!-- normal regions -->
      <div
        *ngFor="let region of normalRegions; let i = index"
        class="normal-regions"
      >
        <div class="region-header">
          <span [auiTooltip]="region.name">{{ region.display_name }}</span>
          <i
            class="fa toggle"
            (click)="normalHiddenFlags[i] = !normalHiddenFlags[i]"
            [class.fa-angle-left]="normalHiddenFlags[i]"
            [class.fa-angle-down]="!normalHiddenFlags[i]"
          ></i>
        </div>
        <div [hidden]="normalHiddenFlags[i]">
          <aui-form-item *ngFor="let key of quotaKeys">
            <label auiFormItemLabel>{{ key | translate }}</label>
            <aui-input-group auiFormItemControl>
              <input
                aui-input
                type="number"
                pattern="^[0-9]\d*$"
                [name]="key + i"
                #curr="ngModel"
                [placeholder]="quotaPlaceholder"
                [(ngModel)]="region.quota[key]"
              />
              <span auiInputAddonAfter>
                {{ getQuotaUnit(key) | translate }}
              </span>
            </aui-input-group>
            <span auiFormItemHint>{{ getQuotaLimitDesc(key, region) }}</span>
            <div auiFormItemError *ngIf="curr.errors?.pattern">
              {{ 'integer_pattern' | translate }}
            </div>
          </aui-form-item>
        </div>
      </div>
    </form>
  </aui-dialog-content>
  <aui-dialog-footer>
    <div>
      <button aui-button="primary" (click)="submit()" [disabled]="loading">
        {{ 'confirm' | translate }}
      </button>
      <button aui-button [auiDialogClose]="false">
        {{ 'cancel' | translate }}
      </button>
    </div>
  </aui-dialog-footer>
</div>
