<section class="accounts-list">
  <rc-loading-mask [loading]="loading && !loadingError"></rc-loading-mask>
  <div
    class="topbar"
    style="display: flex; justify-content: space-between; padding-bottom: 12px;"
  >
    <form
      [formGroup]="userFormGroup"
      aui-form
      class="user-add"
      *ngIf="rolesAssignPermission"
    >
      <aui-form-item>
        <input
          class="user-input"
          type="text"
          aui-input
          [pattern]="usernamePattern.pattern"
          required
          rcErrorsTooltip
          [rcErrorsTooltipMapper]="{
            pattern: usernamePattern.tip | translate
          }"
          formControlName="selectedUser"
          [placeholder]="'username' | translate"
        />
      </aui-form-item>
      <aui-form-item>
        <aui-select
          formControlName="selectedRole"
          filterable
          [filterFn]="accountTypeFilterFn"
          required
        >
          <aui-option
            *ngFor="let item of accountTypes"
            [value]="item"
            [label]="item.template_display_name"
          >
            {{ item.template_display_name }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
      </aui-form-item>

      <button
        aui-button="primary"
        [loading]="roleAdding"
        [disabled]="loading || loadingError"
        (click)="addAccount()"
      >
        {{ 'add_member' | translate }}
      </button>
    </form>
    <aui-search
      [searching]="loading && !loadingError"
      (search)="onSearch($event)"
    ></aui-search>
  </div>
  <aui-table
    [dataSource]="users"
    style="margin-bottom: 20px;"
    *ngIf="!loadingError && !loading"
  >
    <ng-container *ngFor="let column of columnDefs">
      <ng-container [auiTableColumnDef]="column.name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ column.label | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <ng-container [ngSwitch]="column.name">
            <ng-container *ngSwitchCase="'roles'">
              <ng-container>
                <a
                  *ngIf="canRoleView"
                  class="tag"
                  href="javascript:;"
                  (click)="showRoleDetail(item.username)"
                  [title]="getRoleDisplay(item.username)"
                >
                  {{ getRoleDisplay(item.username) }}
                </a>
                <span
                  *ngIf="!canRoleView"
                  class="tag invalid"
                  [title]="getRoleDisplay(item.username)"
                >
                  {{ getRoleDisplay(item.username) }}
                </span>
                <aui-icon
                  icon="ellipsis_h_s"
                  class="icon"
                  [auiTooltip]="rolesTemplate"
                  auiTooltipType="plain"
                  auiTooltipTrigger="click"
                  *ngIf="rolesCache[item.username]?.length > 1"
                ></aui-icon>
                <ng-template #rolesTemplate>
                  <aui-card class="roles-template">
                    <div
                      *ngFor="let role of rolesCache[item.username]"
                      class="tag"
                      [ngClass]="{ invalid: !rolesViewPermission }"
                    >
                      <a
                        *ngIf="rolesViewPermission"
                        href="javascript:;"
                        class="tag__content"
                        (click)="showRoleDetail(role.role_name)"
                      >
                        {{ role.role_name }}
                      </a>
                      <span *ngIf="!rolesViewPermission">
                        {{ role.role_name }}
                      </span>
                      <aui-icon
                        class="close_icon"
                        icon="close_8"
                        (click)="removeRole(item.username, role.role_name)"
                      ></aui-icon>
                    </div>
                  </aui-card>
                </ng-template>
              </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'alias_name'">
              <span>{{ item.realname || '-' }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'type'">
              {{
                item.type === 'organizations.LDAPAccount'
                  ? 'synced_by_ldap'
                  : item.type === 'organizations.TPAccount'
                  ? 'create_by_thrid_party'
                  : ('created_on_platform' | translate)
              }}
            </ng-container>
            <ng-container *ngSwitchCase="'is_valid'">
              <span
                class="validation-status"
                [ngClass]="{ invalid: isInvalidAccount(item) }"
                [auiTooltipDisabled]="!isInvalidAccount(item)"
                [auiTooltip]="
                  isInvalidAccount(item) ? 'invalid_ldap_user_tip' : ''
                "
              >
                {{ (isInvalidAccount(item) ? 'invalid' : 'valid') | translate }}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'assigned_at'">
              {{
                (rolesCache[item.username]
                  ? rolesCache[item.username][0]?.assigned_at
                  : '-') | rcFormatUtcStr
              }}
            </ng-container>
            <ng-container *ngSwitchCase="'action'">
              <div
                style="display: flex; justify-content: center;"
                class="button-group"
              >
                <aui-icon
                  *ngIf="rolesRevokePermission"
                  icon="basic:minus_circle"
                  class="icon"
                  (click)="removeUser(item.username)"
                ></aui-icon>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ item[column.name] }}
            </ng-container>
          </ng-container>
        </aui-table-cell>
      </ng-container>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <div class="zero-state" *ngIf="zeroState">{{ 'no_data' | translate }}</div>
  <aui-paginator
    [(currentPage)]="currentUserPage"
    pageSize="20"
    [total]="userCount"
    (currentPageChange)="pageChanged($event)"
  ></aui-paginator>
  <div *ngIf="loadingError" class="rb-loading-mask-placeholder">
    <span>{{ 'data_load_error' | translate }}</span>
    <button aui-button="primary" (click)="refetch()">
      {{ 'refresh' | translate }}
    </button>
  </div>
</section>
