<div style="font-size: 12px;">
  {{ 'password_strength' | translate }}:
  <span [ngStyle]="{ color: getStrengthLabelAndColor().color }">
    {{ getStrengthLabelAndColor().label | translate }}
  </span>
</div>
