<rc-loading-mask [loading]="!inited"></rc-loading-mask>
<div class="page-container" *ngIf="inited">
  <ng-container *ngIf="installedServiceMesh; else noInstalled">
    <ng-container *ngIf="asmEnabled; else asmDisabled">
      <img
        class="view-image"
        src="/static/images/micro-service/enter_into.svg"
      />
      <ng-container *ngTemplateOutlet="desc"></ng-container>
      <button aui-button="primary" size="large" (click)="confirmToAsm()">
        {{ 'service_mesh_entry_asm' | translate }}
      </button>
    </ng-container>
    <ng-template #asmDisabled>
      <img
        class="view-image"
        src="/static/images/micro-service/resource_closed.svg"
      />
      <div class="desc-title">
        {{ 'service_mesh_resource_closed' | translate }}
      </div>
      <ng-container *ngTemplateOutlet="desc"></ng-container>
    </ng-template>
  </ng-container>
  <ng-template #noInstalled>
    <img class="view-image" src="/static/images/micro-service/unerected.svg" />
    <div class="desc-title">
      {{ 'service_mesh_not_installed' | translate }}
    </div>
  </ng-template>
</div>
<ng-template #desc>
  <div class="description">
    <div>{{ 'service_mesh_desc0' | translate }}</div>
    <div>{{ 'service_mesh_desc1' | translate }}</div>
    <div>{{ 'service_mesh_desc2' | translate }}</div>
    <div>{{ 'service_mesh_desc3' | translate }}</div>
  </div>
</ng-template>
