:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  .page-container {
    padding-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .view-image {
    width: 320px;
    margin-bottom: 20px;
  }

  .desc-title {
    font-size: 18px;
  }

  .description {
    padding: 15px;
    color: gray;
  }
}
