<ng-container *ngIf="viewModel">
  <div class="rc-table-vertical">
    <!-- TODO: FIXME -->
    <ng-content></ng-content>
    <div *ngIf="getName()" class="rc-table-vertical__row">
      <div>{{ 'name' | translate }}</div>
      <div>{{ getName() }}</div>
    </div>
    <div class="rc-table-vertical__row">
      <div>{{ 'type' | translate }}</div>
      <div>{{ getType() }}</div>
    </div>
    <div *ngIf="viewModel.podControllerName" class="rc-table-vertical__row">
      <div>{{ 'target_component' | translate }}</div>
      <div>{{ viewModel.podControllerName }}</div>
    </div>
    <div class="rc-table-vertical__row">
      <div>{{ 'ports' | translate }}</div>
      <div>
        <div
          *ngIf="!viewModel.ports.length"
          [translate]="'zero_state_hint'"
          [translateParams]="{ resourceName: 'ports' | translate }"
        ></div>
        <table *ngIf="viewModel.ports.length" class="rc-array-form-table">
          <thead>
            <tr>
              <td style="width: 100px;">{{ 'service_port' | translate }}</td>
              <td style="width: 100px;">{{ 'target_port' | translate }}</td>
              <td style="width: 120px;">{{ 'port_name' | translate }}</td>
              <ng-container>
                <td>{{ 'load_balancer' | translate }}</td>
                <td style="width: 100px;">
                  {{ 'listening_port' | translate }}
                </td>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let port of viewModel.ports">
              <td>{{ port.port }}</td>
              <td>{{ port.targetPort }}</td>
              <td>{{ port.port }}-{{ port.targetPort }}</td>
              <ng-container>
                <td>{{ port.albName | rcFieldNotAvailable }}</td>
                <td>{{ getAlbPort(port) }}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
