<div [ngSwitch]="type">
  <aui-form-item *ngSwitchCase="'create'">
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      auiFormItemControl
      aui-input
      [formControl]="form.controls.name"
      required
    />
  </aui-form-item>
  <aui-form-item *ngSwitchCase="'update'">
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <div>{{ values?.name }}</div>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
    <input
      auiFormItemControl
      aui-input
      [formControl]="form.controls.display_name"
    />
  </aui-form-item>
  <aui-form-item *ngSwitchCase="'create'">
    <label auiFormItemLabel>{{ 'pipeline_instance' | translate }}</label>
    <aui-select
      auiFormItemControl
      [loading]="!jenkins"
      [formControl]="form.controls.jenkins_instance"
      required
    >
      <aui-option *ngFor="let instance of jenkins" [value]="instance.name">
        {{ instance.name }}
      </aui-option>
    </aui-select>
  </aui-form-item>
  <aui-form-item *ngSwitchCase="'update'">
    <label auiFormItemLabel>{{ 'pipeline_instance' | translate }}</label>
    <div>{{ values?.jenkins_instance }}</div>
  </aui-form-item>
  <ng-container *ngIf="method === 'jenkinsfile'">
    <aui-form-item *ngSwitchCase="'create'">
      <label auiFormItemLabel>{{ 'pipeline_from_source' | translate }}</label>
      <aui-radio-group [formControl]="form.controls.source">
        <aui-radio-button
          *ngFor="let type of jenkinsfielSourceType"
          [value]="type.value"
        >
          {{ type.name | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item *ngSwitchCase="'update'">
      <label auiFormItemLabel>{{ 'pipeline_from_source' | translate }}</label>
      <div *ngIf="values.source">
        {{
          (values?.source === 'repo'
            ? 'pipeline_from_repo'
            : 'pipeline_from_script') | translate
        }}
      </div>
    </aui-form-item>
  </ng-container>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'pipeline_run_policy' | translate }}</label>
    <aui-radio-group [formControl]="form.controls.run_policy">
      <aui-radio-button
        *ngFor="let type of jenkinsRunPolicy"
        [value]="type.value"
      >
        {{ type.name | translate }}
      </aui-radio-button>
    </aui-radio-group>
    <div auiFormAddOn>
      <aui-icon
        style="color: #979797; margin-left: 8px"
        icon="basic:question"
        auiTooltipPosition="top"
        [auiTooltip]="template"
        [auiTooltipTrigger]="'hover'"
      ></aui-icon>
    </div>
  </aui-form-item>
</div>
<ng-template #template>
  <ul class="pipeline-help">
    <li>
      {{ 'pipeline_run_policy_serial_help' | translate }}
    </li>
    <li>
      {{ 'pipeline_run_policy_parallel_help' | translate }}
    </li>
  </ul>
</ng-template>
