<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/console/admin/alarm/templates">
        {{ 'alarm_template' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ formSubmitText | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<div class="form-wrapper" *ngIf="initialized">
  <aui-card>
    <div class="form-title">
      {{ 'basic_info' | translate }}
    </div>
    <form #form="ngForm" auiForm auiFormLabelPosition="right">
      <aui-form-item [hidden]="data">
        <label auiFormItemLabel>{{ 'region_template_name' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          required
          name="name"
          [(ngModel)]="viewModel.name"
          [pattern]="resourceNameReg.pattern"
          [rcErrorsTooltip]
          [rcErrorsTooltipMapper]="{ pattern: resourceNameReg.tip | translate }"
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'description' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          name="description"
          [(ngModel)]="viewModel.description"
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'monitoring_type' | translate }}</label>
        <aui-radio-group
          size="medium"
          auiFormItemControl
          name="kind"
          [(ngModel)]="viewModel.kind"
        >
          <aui-radio-button
            [disabled]="shouldDisableKind('cluster')"
            value="cluster"
          >
            {{ 'cluster' | translate }}
          </aui-radio-button>
          <aui-radio-button [disabled]="shouldDisableKind('node')" value="node">
            {{ 'node' | translate }}
          </aui-radio-button>
          <aui-radio-button
            [disabled]="shouldDisableKind('workload')"
            value="workload"
          >
            {{ 'workload' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
    </form>
  </aui-card>
  <aui-card>
    <div class="form-title">
      {{ 'alarm_rule' | translate }}
    </div>
    <rc-alarm-template-rule-list
      auiFormItemControl
      name="template"
      [kind]="viewModel.kind"
      [(ngModel)]="viewModel.template"
    ></rc-alarm-template-rule-list>
  </aui-card>
</div>
<div class="form-footer">
  <span fxFlex></span>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    {{ formSubmitText | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
