.form-wrapper {
  padding-bottom: 60px;
  .form-title {
    border-bottom: 1px solid #ededed;
    margin-bottom: 16px;
    padding-bottom: 12px;
    font-size: 18px;
  }
}

.form-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 0 16px;
  z-index: 99;
}
