.bind-project {
  ::ng-deep {
    .aui-radio-group {
      width: 100%;
    }
    .aui-multi-select {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__custom {
    display: flex;
    align-items: center;
    aui-multi-select {
      flex: 1;
    }
  }
  &__domain {
    margin-bottom: 10px;
    display: inline-block;
    &::before {
      content: '*';
      color: #eb6262;
      margin-right: 2px;
    }
  }
}

:host {
  rc-loading-mask {
    height: 156px;
  }
}
