@import 'var';

$label-color: #333;
$label-width: 140px;
$addon-container-size: 48px;
$addon-font-size: 18px;
$form-field-bottom-margin: 18px;

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.trigger {
  border: 1px dashed #e6e6e6;
  border-radius: 3px;
  margin-bottom: $form-field-bottom-margin;
  padding-top: $form-field-bottom-margin;
  padding-bottom: $form-field-bottom-margin;
  flex-grow: 1;
  .rc-static-form-field {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    label.form-field-label {
      display: flex;
      width: $label-width;
      flex-shrink: 0;
      font-size: 14px;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      font-weight: 400;
      margin-bottom: 0;
      padding-right: 16px;
      color: $label-color;
      overflow-wrap: break-word;
      height: 32px;
    }

    .form-main-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex-grow: 1;
      margin-right: 48px;
      .content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 32px;
        .error-hint {
          color: #fc5d68;
          margin-left: 8px;
        }
      }
      .hint-label-wrapper {
        min-height: $form-field-bottom-margin;
        line-height: $form-field-bottom-margin;
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 12px;
        color: #999;
      }
    }
  }
}

.actions {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: $form-field-bottom-margin;
  a {
    color: #ccc;
    .fa {
      color: #999;
    }
    &:focus {
      text-decoration: none;
    }
    &:hover {
      color: #999;
    }
  }
}
