<div [formGroup]="form" class="trigger">
  <div class="rc-static-form-field">
    <label class="form-field-label">
      {{ 'jenkins_pipeline_trigger' | translate }}
    </label>
    <div class="form-main-container">
      <ng-container [ngSwitch]="form.value.type">
        <ng-container *ngSwitchCase="'cron'">
          <div class="content">
            <span>
              {{ 'jenkins_trigger_cron' | translate }}
            </span>
          </div>
          <div class="hint-label-wrapper">
            <span></span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'image_change'">
          <div class="content">
            <span>
              {{ 'jenkins_trigger_image_change' | translate }}
            </span>
          </div>
          <div class="hint-label-wrapper">
            <span></span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'code_change_hook'">
          <div class="content">
            <span>
              {{ 'jenkins_trigger_code_change_hook' | translate }}
            </span>
            <span *ngIf="notUseCodeRepo" class="error-hint">
              <aui-icon icon="exclamation_triangle_s"></aui-icon>
              {{ 'jenkins_trigger_code_change_hook_invalid' | translate }}
            </span>
          </div>
          <div class="hint-label-wrapper">
            <span>
              {{ 'jenkins_trigger_code_change_hook_hint' | translate }}
            </span>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <aui-form-item [hidden]="form.value.type !== 'cron'">
    <label auiFormItemLabel>
      {{ 'jenkins_trigger_time_rule' | translate }}
    </label>
    <input
      type="text"
      aui-input
      formControlName="cron"
      maxLength="30"
      [required]="form.value.type === 'cron'"
    />
  </aui-form-item>
  <aui-form-item [hidden]="form.value.type !== 'image_change'">
    <label auiFormItemLabel>{{ 'image_registry_name' | translate }}</label>
    <!-- <rc-single-selection-dropdown
      formControlName="registry"
      displayField="display_name"
      valueField="name"
      [options]="imageRegistries"
      [placeholder]="'image_registry_name' | translate"
      [allowFilter]="true"
      [rcLoadingMask]="!imageRegistries"
      [required]="form.value.type === 'image_change'"
      (ngModelChange)="onImageRegistryChange$.next($event)"
      style="width:100%"
    ></rc-single-selection-dropdown> -->
    <aui-select
      formControlName="registry"
      [filterable]="true"
      [loading]="!imageRegistries"
      [placeholder]="'image_registry_name' | translate"
      [required]="form.value.type === 'image_change'"
      (ngModelChange)="onImageRegistryChange$.next($event)"
      style="width:100%"
    >
      <aui-option
        *ngFor="let option of imageRegistries"
        [label]="option.display_name"
        [value]="option.name"
      >
        {{ option.display_name }}
      </aui-option>
    </aui-select>
  </aui-form-item>
  <aui-form-item [hidden]="form.value.type !== 'image_change' || isPublic">
    <label auiFormItemLabel>{{ 'project' | translate }}</label>
    <!-- <rc-single-selection-dropdown
      formControlName="project"
      displayField="display_name"
      valueField="project_name"
      [options]="imageProjects"
      [placeholder]="'project' | translate"
      [allowFilter]="true"
      [rcLoadingMask]="!imageProjects"
      [required]="form.value.type === 'image_change'"
      (ngModelChange)="onImageProjectChange$.next($event)"
      style="width:100%"
    ></rc-single-selection-dropdown> -->
    <aui-select
      formControlName="project"
      [filterable]="true"
      [loading]="!imageProjects"
      [placeholder]="'project' | translate"
      [required]="form.value.type === 'image_change'"
      (ngModelChange)="onImageProjectChange$.next($event)"
      style="width:100%"
    >
      <aui-option
        *ngFor="let option of imageProjects"
        [label]="option.display_name"
        [value]="option.project_name"
      >
        {{ option.display_name }}
      </aui-option>
    </aui-select>
  </aui-form-item>
  <aui-form-item [hidden]="form.value.type !== 'image_change'">
    <label auiFormItemLabel>{{ 'image_repository' | translate }}</label>
    <aui-select
      formControlName="repository"
      [filterable]="true"
      [loading]="!imageRepositories"
      [placeholder]="'image_repository' | translate"
      [required]="form.value.type === 'image_change'"
      style="width:100%"
    >
      <aui-option
        *ngFor="let option of imageRepositories"
        [label]="option.name"
        [value]="option.name"
      >
        {{ option.name }}
      </aui-option>
    </aui-select>
  </aui-form-item>
  <aui-form-item [hidden]="form.value.type !== 'image_change'">
    <label auiFormItemLabel>{{ 'trigger_version' | translate }}</label>
    <aui-radio-group formControlName="useImageTagFilter">
      <aui-radio-button
        *ngFor="let btn of useImageTagFilterOptions"
        [value]="btn.value"
      >
        {{ btn.displayName }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <aui-form-item
    [hidden]="
      form.value.type !== 'image_change' || !form.value.useImageTagFilter
    "
  >
    <label auiFormItemLabel>
      {{ 'trigger_version_filter' | translate }}
    </label>
    <input
      type="text"
      aui-input
      rcTrim
      formControlName="image_tag_filter"
      [required]="!!form.value.useImageTagFilter"
      [placeholder]="'jenkins_trigger_image_tag_tip' | translate"
    />
  </aui-form-item>
</div>
<div class="actions">
  <a href="javascript:void(0)" (click)="remove.next()">
    <aui-icon icon="basic:minus_circle_s"></aui-icon>
  </a>
</div>
