$table-flex-common: 1 0 160px;
$table-flex-wide: 2 0 160px;

aui-paginator {
  margin-bottom: 8px;
}

:host {
  .aui-table {
    &__column-name {
      flex: $table-flex-common;
    }
    &__column-workload {
      flex: $table-flex-common;
    }
    &__column-alarm_type {
      flex: 0 0 120px;
    }
    &__column-level {
      flex: 0 0 120px;
    }
    &__column-status {
      flex: 0 0 100px;
    }
    &__column-threshold {
      flex: $table-flex-wide;
      white-space: normal;
    }
    &__column-action {
      flex: 0 0 80px;
    }
  }
}
