<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="shortcut icon" type="image/x-icon" href="<%=favicon_path%>" />
    <!-- Enable HTML5 mode -->
    <style>
      /* Following is inlined since we don't want to let the user see layout reflow issues */

      html {
        font-size: 14px;
        height: 100%;
      }

      svg {
        width: 105px;
        height: 110px;
        margin-bottom: 40px;
        margin-top: -80px;
      }

      .ctext {
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: #4d4d4d;
        margin-bottom: 12px;
      }

      button {
        width: 93px;
        height: 36px;
        border-radius: 3px;
        background-color: #24a7e3;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        cursor: pointer;
        border: 0;
      }

      body.rc-body {
        box-sizing: border-box;
        background-color: #f4f4f4;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column;
        flex-flow: column;
        min-height: 100%;
        justify-content: center;
        margin: 0;
        color: #494949;
        font-weight: 400;
      }

      .refesh {
        color: #24a7e3;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        cursor: pointer;
      }
    </style>
  </head>

  <body class="rc-body">
    <svg
      style="width:180px;height:120px;"
      xmlns="http://www.w3.org/2000/svg"
      width="180"
      height="120"
      viewBox="0 0 180 120"
    >
      <g fill="none" transform="translate(0 1)">
        <path
          stroke="#B3B3B3"
          stroke-width="2"
          d="M159.9521,94 L20.0471,94 C18.3641,94 17.0001,92.636 17.0001,90.952 L17.0001,3.047 C17.0001,1.364 18.3641,0 20.0471,0 L159.9521,0 C161.6361,0 163.0001,1.364 163.0001,3.047 L163.0001,90.952 C163.0001,92.636 161.6361,94 159.9521,94 Z"
        />
        <polygon
          stroke="#B3B3B3"
          stroke-width="2"
          points="24 80 156 80 156 6 24 6"
        />
        <polygon
          stroke="#B3B3B3"
          stroke-width="2"
          points="65 118 115 118 115 112 65 112"
        />
        <polygon
          stroke="#B3B3B3"
          stroke-width="2"
          points="81 112 99 112 99 94 81 94"
        />
        <path
          stroke="#B3B3B3"
          stroke-width="2"
          d="M0 118L180 118M70 67L110 67M70 73L110 73M70 62L110 62M70 56L110 56M107 31C107 40.389 99.389 48 90 48 80.611 48 73 40.389 73 31 73 21.611 80.611 14 90 14 99.389 14 107 21.611 107 31zM84 36.8521L96 24.8521M96 36.8521L84 24.8521"
        />
        <path
          stroke="#B3B3B3"
          stroke-width="1.455"
          d="M163.041,116.5 L147.041,116.5 C147.041,112.082 150.623,108.5 155.041,108.5 C159.459,108.5 163.041,112.082 163.041,116.5 Z"
        />
        <polygon
          fill="#B3B3B3"
          points="155.041 86 157.041 86 157.041 84 155.041 84"
        />
        <polygon
          fill="#B3B3B3"
          points="151.041 86 153.041 86 153.041 84 151.041 84"
        />
        <polygon
          fill="#B3B3B3"
          points="147.041 86 149.041 86 149.041 84 147.041 84"
        />
      </g>
    </svg>
    <div class="ctext">
      登录失败，请稍后&nbsp;
      <span class="refesh" id="btn-text">重试</span>
    </div>
    <!-- Main App Component root -->
    <script>
      (function() {
        const ssoConfigsString = '<%-sso_configs%>';
        const curr_sso_name = localStorage.getItem('curr_sso_name');
        let ssoConfigs = [];
        try {
          ssoConfigs = JSON.parse(HTMLDecode(ssoConfigsString));
        } catch (e) {
          console.error('sso configs invalid format!');
        }
        if (!ssoConfigs || !ssoConfigs[0]) {
          return console.error('sso configs invalid format!');
        }
        if (curr_sso_name) {
          ssoConfigs.forEach(config => {
            config.source_id === curr_sso_name &&
              document
                .getElementById('btn-text')
                .addEventListener('click', function() {
                  location.href = config.auth_url;
                });
          });
        }
        function HTMLDecode(text) {
          var temp = document.createElement('div');
          temp.innerHTML = text;
          var output = temp.innerText || temp.textContent;
          temp = null;
          return output;
        }
      })();
    </script>
  </body>
</html>
