<rc-region-badge-option [option]="regionBadgeOption"></rc-region-badge-option>

<div [rcLoadingMask]="loading" class="grafana-dashboard">
  <iframe
    #iframe
    *ngIf="grafanaUrl; else noInstalled"
    [attr.src]="grafanaUrl"
  ></iframe>

  <ng-template #noInstalled>
    <div *ngIf="!loading" class="not-intsalled">
      <img src="/static/images/not-installed.svg" />
      <div class="title">
        {{ 'region_no_monitor_title' | translate }}
      </div>
      <div class="content">
        {{ 'region_no_monitor' | translate }}
      </div>
    </div>
  </ng-template>
</div>
