:host {
  @mixin vertical-full-screen-style {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  ::ng-deep {
    aui-card {
      @include vertical-full-screen-style();
      .aui-card {
        @include vertical-full-screen-style();
        margin-bottom: 50px;
        .aui-card__content {
          @include vertical-full-screen-style();
          .yaml-form {
            @include vertical-full-screen-style();
            aui-code-editor {
              @include vertical-full-screen-style();
              .aui-code-editor {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
  @include vertical-full-screen-style();
  .cron_job_header {
    align-items: center;
  }
}
