<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'job' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a
        href="javascript:void(0)"
        [routerLink]="['/console/user/workspace', baseParams, 'cron_job']"
      >
        {{ 'cron_job' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item *ngIf="!data">
      {{ 'create_cron_job' | translate }}
    </aui-breadcrumb-item>
    <ng-container *ngIf="data">
      <aui-breadcrumb-item>
        <a
          [routerLink]="['/console/user/workspace', baseParams, 'cron_job', 'detail', data.kubernetes.metadata.name]"
        >
          {{ data.kubernetes.metadata.name }}
        </a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>
        {{ 'update_cron_job' | translate }}
      </aui-breadcrumb-item>
    </ng-container>
  </aui-breadcrumb>
</ng-container>
<rc-loading-mask
  class="rc-form-loading-mask"
  [loading]="!initialized"
></rc-loading-mask>
<aui-card [divider]="formModel == 'UI'">
  <div auiCardHeader class="cron_job_header">
    <span *ngIf="!data">{{ 'create_cron_job' | translate }}</span>
    <span *ngIf="data">{{ 'update_cron_job' | translate }}</span>
    <div fxFlex></div>
    <aui-radio-group
      [isPlain]="false"
      (ngModelChange)="formModelChange($event)"
      [(ngModel)]="formModel"
    >
      <aui-radio-button value="UI">{{ 'form' | translate }}</aui-radio-button>
      <aui-radio-button value="YAML">YAML</aui-radio-button>
    </aui-radio-group>
  </div>
  <ng-container *ngIf="formModel == 'UI'">
    <form
      auiForm
      auiFormLabelWidth="150px"
      [auiFormEmptyAddon]="true"
      #resourceForm="ngForm"
    >
      <rc-cron-job-form
        name="form"
        [isUpdate]="!!data"
        [project]="project"
        [cluster]="cluster"
        [namespace]="namespace"
        [(ngModel)]="resource"
      ></rc-cron-job-form>
    </form>
  </ng-container>
  <ng-container *ngIf="formModel == 'YAML'">
    <form auiForm #resourceForm="ngForm" class="yaml-form">
      <aui-code-editor
        name="yaml"
        style="width: 100%;"
        required
        [rcErrorsTooltip]
        [rcErrorsTooltipInline]="true"
        [(ngModel)]="yaml"
        [options]="codeEditorOptions"
        [actionsConfig]="actionsConfig"
      ></aui-code-editor>
    </form>
  </ng-container>
</aui-card>
<div class="resource-form__footer" [hidden]="!initialized">
  <div fxFlex></div>
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    <span *ngIf="data">{{ 'update' | translate }}</span>
    <span *ngIf="!data">{{ 'create' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
