:host {
  rc-loading-mask {
    height: 120px;
  }

  .mirror-dialog {
    font-size: 14px;
    color: #333;
    &__title {
      font-weight: 500;
      margin-top: 24px;
    }

    &__table {
      margin: 12px 0 24px 0;
    }
    &__desc {
      margin-top: 12px;
    }
    &__namespace-name {
      margin-top: 12px;
    }
    ::ng-deep {
      .aui-form-item__error {
        font-size: 12px;
        margin-top: 4px;
        color: #eb6262;
      }
    }
    input {
      margin-top: 4px;
    }
  }
}
