<rc-loading-mask [loading]="loading"></rc-loading-mask>
<ng-container *ngIf="!loading">
  <div class="mirror-dialog">
    <aui-dialog-header>
      <aui-icon
        size="22"
        icon="exclamation_triangle_s"
        color="#eb6262"
      ></aui-icon>
      {{ 'delete_namespace' | translate }}
    </aui-dialog-header>
    <aui-dialog-content>
      <div *ngIf="clusterNames.length === 1">
        {{ 'delete_namespace_tip1' | translate: { namespaceName:
        namespace?.kubernetes.metadata.name } }}
      </div>
      <div *ngIf="clusterNames.length > 1">
        {{ 'delete_namespace_tip2' | translate : { namespaceName:
        namespace?.kubernetes.metadata.name, clusterDisplayName:
        namespace.cluster?.mirror.display_name } }}
        <div class="mirror-dialog__title">
          {{ namespace.cluster?.mirror.display_name }}
        </div>
        <div class="mirror-dialog__table">
          <aui-table [dataSource]="clusterNames">
            <ng-container auiTableColumnDef="id">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'same_namespace' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                {{ namespace?.kubernetes.metadata.name }}
              </aui-table-cell>
            </ng-container>
            <ng-container auiTableColumnDef="cluster">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'cluster' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                {{ item }}
              </aui-table-cell>
            </ng-container>
            <aui-table-header-row
              *auiTableHeaderRowDef="['id', 'cluster']"
            ></aui-table-header-row>
            <aui-table-row
              *auiTableRowDef="let row; columns: ['id', 'cluster']"
            ></aui-table-row>
          </aui-table>
        </div>
      </div>
      <div class="mirror-dialog__desc">
        {{ 'delete_namespace_tip3' | translate }}
      </div>
      <div class="mirror-dialog__namespace-name">
        {{ namespace?.kubernetes.metadata.name }}
      </div>
      <form #form="ngForm">
        <input
          auiFormItemControl
          required
          aui-input
          name="inputName"
          [(ngModel)]="inputName"
          (ngModelChange)="checkForm()"
          [pattern]="namespace?.kubernetes.metadata.name"
        />
      </form>
    </aui-dialog-content>
    <aui-dialog-footer>
      <div>
        <button
          aui-button="error"
          [loading]="submitting"
          [disabled]="deleteDisabled"
          (click)="delete()"
        >
          {{ 'delete_namespace' | translate }}
        </button>
        <button aui-button [auiDialogClose]="true">
          {{ 'cancel' | translate }}
        </button>
      </div>
    </aui-dialog-footer>
  </div>
</ng-container>
