:host {
  ::ng-deep {
    .rc-array-form-table {
      input.aui-input.aui-input--medium {
        height: 32px;
      }
      .aui-input-group.aui-input-group--medium {
        height: 32px;
      }
    }
  }
}
