<table class="rc-array-form-table" [style.table-layout]="'fixed'">
  <thead>
    <tr>
      <th [style.width]="'120px'">{{ 'action_type' | translate }}</th>
      <th>{{ 'resource' | translate }}</th>
      <th [style.width]="'30px'"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="actions.length === 0">
      <td colspan="2">
        <rc-zero-state
          [zeroState]="actions.length === 0"
          resourceName="alarm_action"
        ></rc-zero-state>
      </td>
    </tr>
    <tr *ngFor="let item of actions; let i = index">
      <td>
        <aui-select
          auiFormItemControl
          name="action_type"
          [(ngModel)]="item.action_type"
        >
          <aui-option value="notification" [label]="'notification' | translate">
            {{ 'notification' | translate }}
          </aui-option>
          <aui-option
            *ngIf="showScaling"
            value="scale_up"
            [label]="'scaling_out' | translate"
          >
            {{ 'scaling_out' | translate }}
          </aui-option>
          <aui-option
            *ngIf="showScaling"
            value="scale_down"
            [label]="'scaling_in' | translate"
          >
            {{ 'scaling_in' | translate }}
          </aui-option>
        </aui-select>
      </td>
      <td *ngIf="item.action_type === 'notification'">
        <aui-multi-select
          auiFormItemControl
          name="notification"
          #notification="ngModel"
          [(ngModel)]="item.notifications"
          [ngModelOptions]="{ standalone: true }"
          [filterable]="true"
          [trackFn]="trackFn"
          [filterFn]="filterFn"
        >
          <aui-option
            *ngFor="let notification of notifications"
            [value]="notification"
            [label]="notification.name"
          >
            {{ notification.name }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_results' | translate }}
          </aui-option-placeholder>
        </aui-multi-select>
      </td>
      <td
        *ngIf="
          item.action_type === 'scale_up' || item.action_type === 'scale_down'
        "
      >
        <aui-select
          auiFormItemControl
          disabled
          name="component"
          [(ngModel)]="componentName"
        >
          <aui-option value="componentName" [label]="componentName">
            {{ componentName }}
          </aui-option>
        </aui-select>
      </td>
      <td *ngIf="item.action_type === ''">
        <aui-select auiFormItemControl disabled name="default">
          <aui-option value="" [label]=""></aui-option>
        </aui-select>
      </td>
      <td class="rc-array-form-table__action-col">
        <aui-icon
          icon="basic:minus_circle"
          (click)="removeActionResource(i)"
        ></aui-icon>
      </td>
    </tr>
    <tr class="rc-array-form-table__bottom-control-row">
      <td colspan="3">
        <div class="rc-array-form-table__bottom-control-buttons">
          <button
            aui-button="primary"
            type="button"
            class="add-button"
            style="margin-top: 4px;"
            size="mini"
            [plain]="true"
            (click)="addAlarmAction()"
          >
            <aui-icon icon="basic:add_circle"></aui-icon>
            {{ 'add' | translate }}
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
