<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="jumpToListPage()">
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="viewAppDetail()">{{ appName }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ podControllerName }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div class="rc-detail-page-tab-container">
  <aui-tab-group
    [selectedIndex]="seletedTabIndex$ | async"
    (selectedIndexChange)="onTabIndexChange($event)"
  >
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'detail_info' | translate }}
      </ng-container>
      <rc-pod-controller-detail-main
        [podController]="podController$ | async"
        [autoScaler]="autoScaler$ | async"
        [resourceActions]="resourceActions$ | async"
        [appResourceActions]="appResourceActions$ | async"
        [baseParams]="baseParams"
        [appName]="appName"
      ></rc-pod-controller-detail-main>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'k8s_pod' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-app-detail-pod-group
          [podController]="podController$ | async"
          [resourceActions]="resourceActions$ | async"
          [baseParams]="baseParams"
          [appName]="appName"
        ></rc-app-detail-pod-group>
      </ng-container>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        YAML
      </ng-container>
      <ng-container *auiTabContent>
        <aui-code-editor
          name="yaml"
          [ngModel]="yaml$ | async"
          [options]="codeEditorOptions"
          [actionsConfig]="actionsConfigView"
        ></aui-code-editor>
      </ng-container>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'config' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-pod-controller-detail-env
          [podController]="podController$ | async"
          [baseParams]="baseParams"
          [canUpdate]="canUpdate"
          (onUpdateEnv)="updateEnv($event)"
        ></rc-pod-controller-detail-env>
      </ng-container>
    </aui-tab>

    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'logs' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-pod-controller-detail-log
          [baseParams]="baseParams"
          [podController]="podController$ | async"
          [initialState]="logInitialState$ | async"
        ></rc-pod-controller-detail-log>
      </ng-container>
    </aui-tab>

    <aui-tab *ngIf="showMetricTab">
      <ng-container *auiTabLabel>
        {{ 'monitoring' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-pod-controller-monitor
          [podController]="podController$ | async"
          [baseParams]="baseParams"
        ></rc-pod-controller-monitor>
      </ng-container>
    </aui-tab>

    <aui-tab *ngIf="showMetricTab">
      <ng-container *auiTabLabel>
        {{ 'alarm' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-pod-controller-alarm
          [podController]="podController$ | async"
          [appName]="appName"
          [baseParams]="baseParams"
        ></rc-pod-controller-alarm>
      </ng-container>
    </aui-tab>
  </aui-tab-group>
</div>
