<aui-layout [ngClass]="{ 'rc-embedded-mode': !!embeddedMode }">
  <div class="nav-header" *auiNavDrawerHeader>
    <img [src]="uiState.logoMainSrc" />
  </div>
  <ng-container *auiNavDrawerContent>
    <rc-namespace-badge
      *ngIf="(currentProjectDetail$ | async)"
      [currentProject]="currentProjectDetail$ | async"
    ></rc-namespace-badge>
    <aui-platform-nav
      [groups]="navConfig$ | async"
      [hideMainPanelToggle]="true"
      [activatedKey]="activatedKey$ | async"
      (activatedItemChange)="handleActivatedItemChange($event)"
    ></aui-platform-nav>
  </ng-container>

  <div *auiToolbarContent class="layout-toolbar">
    <rc-project-badge></rc-project-badge>
    <rc-space-badge
      *ngIf="spaceEnabled"
      [projectName]="baseParamsSnapshot.project"
    ></rc-space-badge>
    <div fxFlex></div>
    <a
      *ngIf="userDocsUrl"
      [title]="'nav_docs' | translate"
      class="user-docs-url-link"
      aui-button
      target="_blank"
      [href]="userDocsUrl"
    >
      <aui-icon icon="basic:question"></aui-icon>
    </a>

    <rc-account-menu></rc-account-menu>
  </div>
  <div *auiPageHeader class="layout-page-header">
    <ng-container
      *cdkPortalOutlet="(pageHeaderContentTemplate$ | async)"
    ></ng-container>
    <rc-default-breadcrumb
      *ngIf="!(pageHeaderContentTemplate$ | async)"
    ></rc-default-breadcrumb>
  </div>
  <div *auiPageContent class="layout-page-content">
    <router-outlet></router-outlet>
  </div>
</aui-layout>
