:host {
  ::ng-deep {
    .rc-embedded-mode {
      .aui-layout-nav-drawer,
      .aui-layout__toolbar,
      .aui-layout__page-header {
        display: none;
      }
    }
    .aui-layout-nav-drawer__content {
      display: flex;
      flex-direction: column;
    }
  }

  aui-platform-nav {
    flex-grow: 1;
    overflow: hidden;
  }
}
