@import 'var';

@mixin mode-colors($main, $border, $bg) {
  .rc-tooltip {
    &__content {
      color: $main;
      border-color: $border;
      background-color: $bg;
    }

    &__arrow::before {
      border-color: $border;
      background-color: $bg;
    }
  }
}

$border-radius: 1px;
$arrow-outer: 16px;
$arrow-inner: 12px;

:host {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;

  .rc-tooltip {
    &__content {
      min-height: 18px;
      padding: 4px 8px;
      border: $border-radius solid;
      border-radius: 4px;
      font-size: 12px;
      line-height: 1.6;
      word-break: normal;
      white-space: pre-line;
    }
    &__arrow {
      position: absolute;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: $arrow-inner;
        height: $arrow-inner;
        border: $border-radius solid;
      }
    }

    &--mode-error {
      @include mode-colors($color-error, $color-error, #fff6f6);
    }

    &--mode-default {
      @include mode-colors(white, #1b1c1d, #1b1c1d);
    }

    &--mode-empty {
      @include mode-colors(white, #f4f4f4, white);
    }
  }

  &[x-placement^='bottom'] {
    .rc-tooltip__arrow {
      width: $arrow-outer;
      height: $arrow-outer/2;
      top: -$arrow-outer/2 + $border-radius;
      &::before {
        left: 50%;
        top: $arrow-outer - $arrow-inner;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }
  &[x-placement^='top'] {
    .rc-tooltip__arrow {
      width: $arrow-outer;
      height: $arrow-outer/2;
      bottom: -$arrow-outer/2 + $border-radius;
      &::before {
        left: 50%;
        bottom: $arrow-outer - $arrow-inner;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }
  &[x-placement^='left'] {
    .rc-tooltip__arrow {
      width: $arrow-outer/2;
      height: $arrow-outer;
      right: -$arrow-outer/2 + $border-radius;
      &::before {
        top: 50%;
        right: $arrow-outer - $arrow-inner;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
  &[x-placement^='right'] {
    .rc-tooltip__arrow {
      width: $arrow-outer/2;
      height: $arrow-outer;
      left: -$arrow-outer/2 + $border-radius;
      &::before {
        top: 50%;
        left: $arrow-outer - $arrow-inner;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}
