.bind-project {
  aui-radio-group {
    width: 100%;
  }
  ::ng-deep {
    .aui-radio-group {
      width: 100%;
    }
    .aui-multi-select {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__custom {
    display: flex;
    align-items: center;
    aui-multi-select {
      flex: 1;
    }
  }
}
:host {
  rc-loading-mask.no-domaon-type {
    height: 144px;
  }
  rc-loading-mask {
    height: 200px;
  }
}
