<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <div class="namespace-create__basic">
    <div class="namespace-create__title">
      <div class="title-prefix"></div>
      <div>{{ 'basic_info' | translate }}</div>
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'namespace_name' | translate }}</label>
      <div class="aui-input-group__addon aui-input-group__addon--before">
        <span class="namespace-create__basic-prefix" auiInputAddonBefore>
          <ng-container>{{ namePrefix }}</ng-container>
          <rc-loading-mask [loading]="!namePrefix"></rc-loading-mask>
        </span>
      </div>
      <input
        auiFormItemControl
        formControlName="name"
        [maxlength]="57 - namePrefix?.length"
        pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
        aui-input
        required
      />
      <div auiFormItemError *ngIf="nameControl.errors?.required">
        {{ 'field_required' | translate }}
      </div>
      <div
        auiFormItemError
        *ngIf="nameControl.errors?.pattern || nameControl.errors?.maxlength"
      >
        {{
          'namespace_name_pattern_error'
            | translate: { length: 57 - namePrefix?.length }
        }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'region_belonged' | translate }}</label>
      <aui-select
        auiFormItemControl
        (ngModelChange)="selectChange($event)"
        formControlName="cluster"
        [loading]="loading"
        required
      >
        <aui-option
          class="ns-select-option"
          *ngFor="let cluster of clusters"
          [label]="cluster.display_name"
          [value]="cluster"
        >
          <div>
            <aui-icon
              *ngIf="cluster?.regions"
              style="margin-right:3px;"
              icon="basic:sitemap_s"
              [style.color]="cluster?.flag"
            ></aui-icon>
            {{ cluster.display_name }}
          </div>
          <div class="ns-select-option__desc">
            {{ clusterQuotaDisplay(cluster) }}
          </div>
        </aui-option>
      </aui-select>
      <div auiFormItemHint *ngIf="clusterControl.value?.regions">
        {{ 'create_namespace_tip1' | translate }}
      </div>
      <div auiFormItemError *ngIf="clusterControl.errors?.required">
        {{ 'field_required' | translate }}
      </div>
    </aui-form-item>
  </div>
  <ng-container *ngIf="clustersQuota">
    <rc-multiple-quota-settings
      [clusterQuotaKeys]="clusterQuotaKeys"
      [clustersQuota]="clustersQuota"
      formControlName="quotas"
    ></rc-multiple-quota-settings>
  </ng-container>
</form>
