@import 'var';
:host {
  .namespace-create {
    color: #333;
    padding: 20px;
    border-radius: 2px;
    background-color: #fff;
    ::ng-deep {
      .aui-form-item__error-wrapper,
      .aui-form-item__hint {
        margin-top: 4px;
      }
    }

    &__form {
      padding: 0 10%;
    }

    &__divider {
      width: 100%;
      height: 1px;
      margin: 16px 0;
      background-color: #ededed;
    }

    &__title {
      display: flex;
      font-size: 16px;
      margin: 16px 0;
      .title-prefix {
        width: 4px;
        margin-right: 8px;
        background: #009ce3;
      }
    }

    &__basic {
      &-prefix {
        white-space: nowrap;
        min-width: 30px;
        line-height: 30px;
        height: 30px;
        padding: 0 8px;
      }
      ::ng-deep {
        aui-select {
          width: 100%;
        }
        aui-input-group {
          width: 100%;
        }
        .aui-select {
          width: 100% !important;
        }

        .aui-form-item__label-wrapper {
          width: 10% !important;
          min-width: 110px !important;
        }
      }
    }
  }
}

::ng-deep {
  .ns-select-option {
    .aui-option--medium {
      height: auto;
    }
    &__desc {
      font-size: 12px;
      height: 16px;
      line-height: 16px;
      color: #999;
    }
  }
}
