<div
  class="card"
  *rcAsyncData="
    let history;
    let loading = loading;
    params: (params$ | async);
    handler: fetchData;
    pullIn: running ? 4000 : 0
  "
>
  <ng-container *rcPageHeaderContent>
    <aui-breadcrumb>
      <aui-breadcrumb-item>
        <a [routerLink]="['../../']">{{ 'pipeline_list' | translate }}</a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>
        <a [routerLink]="['../']">{{ name }}</a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>{{ historyName }}</aui-breadcrumb-item>
    </aui-breadcrumb>
  </ng-container>
  <div>
    <rc-pipeline-history-basic-info
      [namespace]="namespace"
      [space]="space$ | async"
      [history]="history"
      [permissions]="permissions"
      (statusChange)="pipelineStatusChange($event)"
    ></rc-pipeline-history-basic-info>
  </div>
  <rc-pipeline-history-detail-log
    [namespace]="namespace"
    [space]="space$ | async"
    [history]="history"
  ></rc-pipeline-history-detail-log>
</div>
