@import 'var';

:host {
  flex: 1;
  .aui-table__header-row {
    background-color: #f0f0f0;
  }
  .aui-table__row {
    background-color: #fafafa;
    border-style: dashed;
    &:last-child {
      border-bottom-color: transparent;
    }
  }
  .aui-table__cell {
    white-space: initial;
  }

  ::ng-deep .rc-array-form-table {
    .labelSelector {
      overflow: visible;
      .aui-tag {
        height: auto;
        margin: 0;
        max-width: 70%;
        .aui-tag__content {
          color: #333;
          white-space: initial;
          word-break: break-all;
        }
      }
      .more-button {
        cursor: pointer;
        margin: 0;
        .aui-tag {
          max-width: 29%;
          margin-left: 4px;
          &:hover {
            background-color: #e5f5fc !important;
            border-color: #009ce3 !important;
            .aui-tag__content {
              color: #009ce3 !important;
            }
          }
        }
        .aui-tag__content {
          padding: 0 2px;
        }
      }
    }
  }
  .aui-form-item__content {
    display: block;
    position: relative;
    .zero-state-hint {
      padding: 0;
      line-height: 40px;
      background-color: #fafafa;
    }
  }
}

::ng-deep {
  .exp-viewer {
    min-width: 600px;
    max-height: 600px;
    pre {
      padding: 8px;
    }
  }
  .pod-affinity-label {
    .aui-tag {
      margin: 0 4px 4px 0;
      .aui-tag__content {
        color: #333;
      }
    }
  }
}
