<rc-array-form-table
  [rows]="podAffinities$ | async"
  resourceName="pod_affinity"
>
  <ng-container *rcArrayFormTableHeader>
    <th>{{ 'type' | translate }}</th>
    <th>{{ 'affinity_setting_classification' | translate }}</th>
    <th>{{ 'weight' | translate }}</th>
    <th>{{ 'topologyKey' | translate }}</th>
    <th>{{ 'match_labels' | translate }}</th>
  </ng-container>
  <ng-container *rcArrayFormTableRow="let rowData">
    <td>
      {{ (rowData.isAnti ? 'podAntiAffinity' : 'podAffinity') | translate }}
    </td>
    <td>{{ rowData.val.weight ? 'Preferred' : 'Required' }}</td>
    <td>{{ rowData.val.weight || '-' }}</td>
    <td>
      {{ rowData.val.weight ? rowData.val.podAffinityTerm.topologyKey :
      rowData.val.topologyKey }}
    </td>
    <td class="labelSelector">
      <aui-tag size="small" color="#ccc,#f2f2f2" *ngIf="getLabels(rowData)[0]">
        {{ getLabels(rowData)[0][0] + ': ' + getLabels(rowData)[0][1] }}
      </aui-tag>
      <aui-tag
        class="more-button"
        size="small"
        color="#ccc,#f2f2f2"
        *ngIf="getLabels(rowData).length > 1"
        auiTooltipType="info"
        auiTooltipPosition="top"
        auiTooltipTrigger="click"
        [auiTooltip]="matchLabelsTooltip"
      >
        ...
      </aui-tag>
      <ng-template #matchLabelsTooltip>
        <ng-container *ngFor="let tag of getLabels(rowData); index as i">
          <aui-tag
            size="small"
            color="#ccc,#f2f2f2"
            class="pod-affinity-label"
            [title]="tag[0] + ': ' + tag[1]"
          >
            {{ tag[0] + ': ' + tag[1] }}
          </aui-tag>
        </ng-container>
      </ng-template>
      <aui-tag
        title="matchExpressions"
        class="more-button"
        size="small"
        color="#ccc,#f2f2f2"
        *ngIf="!affinityCanUpdate(rowData)"
        auiTooltipType="info"
        auiTooltipPosition="top"
        auiTooltipTrigger="click"
        auiTooltipClass="exp-viewer"
        [auiTooltip]="expLabels"
      >
        <aui-icon icon="basic:kubectl"></aui-icon>
      </aui-tag>
      <ng-template #expLabels>
        <pre>{{ getExpLabels(rowData) }}</pre>
      </ng-template>
      <span *ngIf="!getLabels(rowData).length && affinityCanUpdate(rowData)">
        -
      </span>
    </td>
  </ng-container>
  <ng-container *rcArrayFormTableRowControl="let rowData; let index = index">
    <aui-icon
      *ngIf="affinityCanUpdate(rowData)"
      icon="basic:pencil_edit"
      size="16px"
      style="cursor: pointer;"
      (click)="podAffinity('update', rowData)"
    ></aui-icon>
    <aui-icon
      icon="basic:minus_circle"
      size="16px"
      style="cursor: pointer;"
      (click)="removeAffinity(rowData)"
    ></aui-icon>
  </ng-container>

  <ng-container *rcArrayFormTableFooter>
    <button
      aui-button="primary"
      [plain]="true"
      size="mini"
      (click)="podAffinity()"
      class="add-affinity"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add_podAffinity' | translate }}
    </button>
  </ng-container>
</rc-array-form-table>
