<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ (isRootView ? 'account_center' : 'user_center') | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'update' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<rc-user-update-form
  *ngIf="initialized"
  [models]="models"
  [clients]="codeClients"
  (submit)="submit($event)"
  (cancel)="cancel()"
>
  <span name="title">
    <ng-container *ngIf="isRootView">
      {{ 'update_account_info' | translate }}
    </ng-container>
    <ng-container *ngIf="!isRootView">
      {{ 'update_user_info' | translate }}
    </ng-container>
  </span>
  <aui-form-item *ngIf="isRootView" name="avatar">
    <label auiFormItemLabel>{{ 'user_enterprise_logo' | translate }}</label>
    <div style="height: 84px;">
      <rc-avatar-uploader></rc-avatar-uploader>
    </div>
  </aui-form-item>
</rc-user-update-form>
