:host {
  .form-container {
    margin: 40px;

    ::ng-deep {
      .aui-inline-alert {
        padding: 8px;
        margin-bottom: 12px;
        font-size: 12px;
        background-color: rgba(235, 98, 98, 0.2);
        color: #eb6262;
        border: none;

        .aui-inline-alert__icon {
          height: 16px;
        }

        aui-icon {
          height: 16px;
          line-height: 16px;
          font-size: 12px;
        }

        .aui-inline-alert__content {
          max-width: 260px;
          margin-top: 0;
          line-height: 16px;
          font-size: 12px;
          white-space: initial;
          word-break: break-all;
        }
      }
    }
  }
}
