<div class="form-container">
  <div class="form-header">{{ 'forget_password' | translate }}</div>
  <aui-inline-alert
    class="login-error-msg"
    type="error"
    *ngIf="errorMessage"
    [content]="errorMessage"
  ></aui-inline-alert>
  <form (ngSubmit)="sendCaptchaCode()">
    <rld-form-control-fragment
      *ngFor="let fragment of formControlFragments"
      [formControlFragment]="fragment"
    ></rld-form-control-fragment>
    <button
      aui-button="primary"
      [class.loading]="submitting"
      [auiTooltip]="sendVerificationCodeHint | translate"
      auiTooltipPosition="bottom start"
      type="submit"
      [disabled]="submitDisabled"
    >
      {{ 'verify_now' | translate }}
    </button>
  </form>
</div>
