<!--<aui-inline-alert type="error" *ngIf="model.ownerReferences.length">-->
<!--<span>{{'secret_used_with_codebinding' | translate }}</span>-->
<!--</aui-inline-alert>-->
<form
  auiForm
  auiFormLabelWidth="120px"
  [auiFormEmptyAddon]="true"
  (ngSubmit)="save()"
  #form="ngForm"
  novalidate
>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      [type]="mode === 'create' ? 'text' : 'hidden'"
      auiFormItemControl
      name="name"
      #name="ngModel"
      aui-input
      [required]="mode === 'create'"
      [maxLength]="30"
      pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
      [(ngModel)]="model.name"
    />
    <span *ngIf="mode !== 'create'" auiFormItemControl>
      {{ model.name }}
    </span>
    <div auiFormItemError *ngIf="name.errors?.required">
      {{ 'required' | translate }}
    </div>
    <div auiFormItemError *ngIf="name.errors?.pattern">
      {{ 'secret_name_pattern' | translate }}
    </div>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
    <input
      auiFormItemControl
      name="displayName"
      #displayName="ngModel"
      aui-input
      [(ngModel)]="model.displayName"
    />
  </aui-form-item>
  <aui-form-item *ngIf="mode === 'create'">
    <label auiFormItemLabel>{{ 'type' | translate }}</label>
    <aui-radio-group auiFormItemControl name="type" [(ngModel)]="model.type">
      <aui-radio-button
        [value]="secretTypes.BasicAuth"
        *ngIf="types.includes(secretTypes.BasicAuth)"
      >
        {{ 'secret_basic_auth' | translate }}
      </aui-radio-button>
      <aui-radio-button
        [value]="secretTypes.OAuth2"
        *ngIf="types.includes(secretTypes.OAuth2)"
      >
        {{ 'secret_oauth2' | translate }}
      </aui-radio-button>
      <aui-radio-button
        [value]="secretTypes.SSH"
        *ngIf="types.includes(secretTypes.SSH)"
      >
        {{ 'secret_ssh' | translate }}
      </aui-radio-button>
      <aui-radio-button
        [value]="secretTypes.DockerConfig"
        *ngIf="types.includes(secretTypes.DockerConfig)"
      >
        {{ 'secret_docker_config' | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <aui-form-item *ngIf="mode !== 'create'">
    <label auiFormItemLabel>{{ 'type' | translate }}</label>
    <span auiFormItemControl>
      <ng-container [ngSwitch]="model.type">
        <ng-container *ngSwitchCase="secretTypes.BasicAuth">
          {{ 'secret_basic_auth' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="secretTypes.OAuth2">
          {{ 'secret_oauth2' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="secretTypes.SSH">
          {{ 'secret_ssh' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="secretTypes.DockerConfig">
          {{ 'secret_docker_config' | translate }}
        </ng-container>
      </ng-container>
    </span>
  </aui-form-item>
  <ng-container *ngIf="model.type === secretTypes.BasicAuth">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [placeholder]="getPlaceholder('secret_input_new_username')"
        [pattern]="noWhiteSpacePattern"
        [(ngModel)]="model.username"
        #username="ngModel"
        name="username"
        required
      />
      <div auiFormItemHint *ngIf="mode === 'create' && showHint">
        {{ 'secret_basic_outh_username_hint' | translate }}
      </div>
      <div auiFormItemError *ngIf="username.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="username.errors?.pattern">
        {{ 'secret_no_white_space_allowed' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.password"
        [placeholder]="getPlaceholder('secret_input_new_password')"
        #password="ngModel"
        name="password"
        [type]="showPassword ? 'text' : 'password'"
        [pattern]="noWhiteSpacePattern"
        required
      />
      <div auiFormItemHint *ngIf="mode === 'create' && showHint">
        <div [innerHTML]="'secret_basic_outh_password_hint' | translate"></div>
      </div>
      <div auiFormItemError *ngIf="password.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="password.errors?.pattern">
        {{ 'secret_no_white_space_allowed' | translate }}
      </div>
      <a
        auiFormItemAddon
        class="icon-style"
        href="javascript:void(0)"
        (click)="showPassword = !showPassword"
      >
        <aui-icon
          [icon]="showPassword ? 'basic:eye_s' : 'basic:eye_slash_s'"
          size="16px"
        ></aui-icon>
      </a>
    </aui-form-item>
  </ng-container>
  <ng-container *ngIf="model.type === secretTypes.OAuth2">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'secret_client_id' | translate }}
      </label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.clientID"
        #clientId="ngModel"
        name="clientId"
        [placeholder]="getPlaceholder('secret_input_new_client_id')"
        [pattern]="noWhiteSpacePattern"
        required
      />
      <div auiFormItemError *ngIf="clientId.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="clientId.errors?.pattern">
        {{ 'secret_no_white_space_allowed' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'secret_client_secret' | translate }}
      </label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.clientSecret"
        #clientSecret="ngModel"
        name="clientSecret"
        [placeholder]="getPlaceholder('secret_input_new_client_secret')"
        [pattern]="noWhiteSpacePattern"
        [type]="showClientSecret ? 'text' : 'password'"
        required
      />
      <div auiFormItemError *ngIf="clientSecret.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="clientSecret.errors?.pattern">
        {{ 'secret_no_white_space_allowed' | translate }}
      </div>
      <a
        auiFormItemAddon
        class="icon-style"
        href="javascript:void(0)"
        (click)="showClientSecret = !showClientSecret"
      >
        <aui-icon
          [icon]="showClientSecret ? 'basic:eye_s' : 'basic:eye_slash_s'"
          size="16px"
        ></aui-icon>
      </a>
    </aui-form-item>
  </ng-container>
  <ng-container *ngIf="model.type === secretTypes.DockerConfig">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'secret_docker_address' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        [(ngModel)]="model.dockerAddress"
        #dockerAddress="ngModel"
        [pattern]="noWhiteSpacePattern"
        name="dockerAddress"
        required
      />
      <div auiFormItemError *ngIf="dockerAddress.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="dockerAddress.errors?.pattern">
        {{ 'secret_no_white_space_allowed' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'secret_docker_username' | translate }}
      </label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.dockerUsername"
        [placeholder]="getPlaceholder('secret_input_new_username')"
        [pattern]="noWhiteSpacePattern"
        #dockerUsername="ngModel"
        name="dockerUsername"
        required
      />
      <div auiFormItemError *ngIf="dockerUsername.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="dockerUsername.errors?.pattern">
        {{ 'secret_no_white_space_allowed' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'secret_docker_password' | translate }}
      </label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.dockerPassword"
        #dockerPassword="ngModel"
        [type]="showDockerPassword ? 'text' : 'password'"
        [placeholder]="getPlaceholder('secret_input_new_password')"
        [pattern]="noWhiteSpacePattern"
        name="dockerPassword"
        required
      />
      <div auiFormItemError *ngIf="dockerPassword.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="dockerPassword.errors?.pattern">
        {{ 'secret_no_white_space_allowed' | translate }}
      </div>
      <a
        auiFormItemAddon
        class="icon-style"
        href="javascript:void(0)"
        (click)="showDockerPassword = !showDockerPassword"
      >
        <aui-icon
          [icon]="'basic:' + (showDockerPassword ? 'eye_s' : 'eye_slash_s')"
          size="16px"
        ></aui-icon>
      </a>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'secret_docker_email' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        [(ngModel)]="model.dockerEmail"
        #dockerEmail="ngModel"
        name="dockerEmail"
        [placeholder]="getPlaceholder('secret_input_new_email')"
        [pattern]="noWhiteSpacePattern"
        required
      />
      <div auiFormItemError *ngIf="dockerEmail.errors?.required">
        {{ 'required' | translate }}
      </div>
      <div auiFormItemError *ngIf="dockerEmail.errors?.pattern">
        {{ 'secret_no_white_space_allowed' | translate }}
      </div>
    </aui-form-item>
  </ng-container>
  <ng-container *ngIf="model.type === secretTypes.SSH">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret_ssh_privatekey' | translate }}</label>
      <textarea
        aui-input
        auiFormItemControl
        name="sshPrivatekey"
        [(ngModel)]="model.sshPrivatekey"
        [placeholder]="getPlaceholder('secret_input_new_ssh_private_key')"
        #sshPrivatekey="ngModel"
        required
      ></textarea>
      <div auiFormItemError *ngIf="sshPrivatekey.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
  </ng-container>
</form>
