:host {
  ::ng-deep {
    aui-form-item:last-child {
      .aui-form-item {
        margin-bottom: 0;
      }
    }
  }
  aui-select {
    width: 100%;
    ::ng-deep .aui-select {
      width: 100%;
    }
  }

  .icon-style {
    color: #999;
    &:hover {
      color: #009ce3;
    }
  }
}
