<ng-container *ngIf="params && !url">
  <div class="title">
    {{ params.app }} / {{ params.ctl ? params.ctl + ' / ' : ''
    }}{{ params.container }}
  </div>
  <aui-tab-group
    type="card"
    [selectedIndex]="activeIndex"
    (selectedIndexChange)="onTabIndexChange($event)"
  >
    <ng-container *auiTabHeaderAddon>
      <rc-menu-trigger [menu]="menu" size="small"></rc-menu-trigger>
      <aui-menu #menu size="small">
        <aui-menu-item
          *ngFor="let pod of podsBackup"
          [actived]="isActiveMenuItem(pod)"
          (click)="selectIndex(pod)"
        >
          {{ getPodShortName(pod) }}
        </aui-menu-item>
      </aui-menu>
    </ng-container>
    <aui-tab
      *ngFor="let pod of pods; let i = index"
      [closeable]="pods.length > 1"
      (close)="close(i)"
    >
      <ng-container *auiTabLabel>
        {{ getPodShortName(pod) }}
      </ng-container>
    </aui-tab>
  </aui-tab-group>
  <!-- todo : move to aui-tab-body -->
  <ng-container *ngTemplateOutlet="toolbarTemplate"></ng-container>
  <ng-container *ngFor="let pod of pods; let i = index">
    <div class="tab-body" [class.active]="activeIndex === i">
      <rc-shell
        [namespace]="params.namespace"
        [podName]="pod"
        [containerName]="params.container"
        [clusterId]="params.cluster"
        [sessionId]="getPodSid(pod)"
        [user]="params.user"
        [command]="params.command"
        [theme]="theme"
      ></rc-shell>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="params && url">
  <ng-container *ngTemplateOutlet="toolbarTemplate"></ng-container>
  <rc-web-shell
    *ngIf="url && target"
    [url]="url"
    [target]="target"
    [theme]="theme"
  ></rc-web-shell>
</ng-container>

<ng-template #toolbarTemplate>
  <div
    class="terminal-toolbar"
    [class.terminal-toolbar--dark-theme]="isDarkTheme"
  >
    <div class="terminal-toolbar__spacer"></div>

    <div class="terminal-toolbar__control-button" (click)="toogleTheme()">
      <ng-container *ngIf="!isDarkTheme">
        <div class="terminal-toolbar__control-button-icon">
          <aui-icon icon="sun"></aui-icon>
        </div>
        {{ 'light_theme' | translate }}
      </ng-container>

      <ng-container *ngIf="isDarkTheme">
        <div class="terminal-toolbar__control-button-icon">
          <aui-icon icon="moon"></aui-icon>
        </div>
        {{ 'dark_theme' | translate }}
      </ng-container>
    </div>

    <div class="terminal-toolbar__control-button" (click)="toggleFindPanel()">
      <div class="terminal-toolbar__control-button-icon">
        <aui-icon icon="search_s"></aui-icon>
      </div>
      {{ 'find' | translate }}
    </div>

    <div
      @zoomInOut
      (@zoomInOut.done)="focusSearchInput()"
      class="terminal-search-bar"
      *ngIf="isFindbarActive"
    >
      <aui-input-group size="medium">
        <input
          #searchInput
          [(ngModel)]="searchQuery"
          (keydown.escape)="isFindbarActive = false"
          (keydown.enter)="findNext(searchQuery)"
          aui-input
          size="medium"
          type="text"
        />
        <div auiInputAddonAfter>
          <button aui-button size="mini" (click)="findPrevious(searchQuery)">
            <aui-icon icon="angle_left"></aui-icon>
          </button>
          <button aui-button size="mini" (click)="findNext(searchQuery)">
            <aui-icon icon="angle_right"></aui-icon>
          </button>
        </div>
      </aui-input-group>
    </div>
  </div>
</ng-template>
