<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'image' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="['/console/admin/image/repository']">
        {{ 'image_repository' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'detail' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card>
  <div auiCardHeader class="page-heading">
    <h1>
      <i class="fa fa-fw fa-building"></i>
      <span
        [hidden]="projectName"
        class="truncate"
        title="{{ repositoryName }}"
      >
        {{ repositoryName }}
      </span>
      <span
        [hidden]="!projectName"
        class="truncate"
        title="{{ projectName }}/{{ repositoryName }}"
      >
        {{ projectName }}/{{ repositoryName }}
      </span>
      <span
        class="fa"
        [ngClass]="{
          'fa-lock': !repository?.is_public,
          'fa-unlock': repository?.is_public
        }"
      ></span>
      <label
        *ngIf="repository?.is_automated"
        class="label badge detail-status status-running"
      >
        {{ 'auto_build' | translate }}
      </label>
    </h1>
    <div flex></div>
    <div *ngIf="initialized">
      <button
        aui-button="primary"
        [auiTooltipCopy]="'docker pull ' + imageAddress"
        [auiTooltipCopyTip]="dockerPullTip"
        auiTooltipCopyPosition="bottom end"
      >
        {{ 'pull_repo' | translate }}
      </button>
      <button aui-button [plain]="true" [auiDropdown]="menu">
        {{ 'action' | translate }}
        <aui-icon icon="angle_down" margin="left"></aui-icon>
      </button>
      <aui-menu #menu>
        <aui-menu-item
          [routerLink]="['/console/admin/image/repository/help']"
          [queryParams]="{
            registryName: registryName,
            repositoryName: repositoryName,
            projectName: projectName,
            isThird: isThird
          }"
        >
          Pull/Push {{ 'help' | translate }}
        </aui-menu-item>
        <aui-menu-item
          *ngIf="buttonDisplayExpr('update')"
          [routerLink]="['/console/admin/image/repository/edit']"
          [queryParams]="{
            registryName: registryName,
            repositoryName: repositoryName,
            projectName: projectName
          }"
        >
          {{ 'update' | translate }}
        </aui-menu-item>
        <aui-menu-item
          *ngIf="buttonDisplayExpr('delete')"
          (click)="deleteRepository()"
          [disabled]="deleting"
        >
          {{ 'delete' | translate }}
        </aui-menu-item>
      </aui-menu>
    </div>
  </div>
  <div class="rc-detail-container" [rcLoadingMask]="!initialized">
    <div class="detail-wrapper">
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'access_attribute' | translate }}</label>
          <div>
            <span>
              {{ repository.is_public ? 'public' : ('private' | translate) }}
            </span>
          </div>
        </div>
        <div class="detail-item">
          <label>{{ 'repository_source' | translate }}</label>
          <div>
            <span>{{ registryName || 'Alauda' }}</span>
          </div>
        </div>
        <div class="detail-item" *ngIf="repository?.created_by">
          <label>{{ 'created_by' | translate }}</label>
          <div>
            <span>{{ repository?.created_by }}</span>
          </div>
        </div>
        <div class="detail-item">
          <label>{{ 'created_time' | translate }}</label>
          <div>{{ repository.created_at | rcFormatUtcStr }}</div>
        </div>
        <div class="detail-item" *ngIf="repository?.updated_at">
          <label>{{ 'updated_time' | translate }}</label>
          <div>{{ repository?.updated_at | rcFormatUtcStr }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'short_description' | translate }}</label>
          <div>{{ repository.description || '-' }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'image_repository_address' | translate }}</label>
          <div *ngIf="imageAddress">
            <span
              [auiTooltipCopy]="imageAddress"
              [auiTooltipCopyTip]="imageAddressTip"
              [auiTooltipCopySuccessTip]="'copy_clipboard_success' | translate"
              [auiTooltipCopyFailTip]="'copy_clipboard_fail' | translate"
            >
              {{ imageAddress }}
            </span>
          </div>
        </div>
        <div class="detail-item">
          <label>{{ 'download_count' | translate }}</label>
          <div>{{ repository.download }}</div>
        </div>
        <div class="detail-item" *ngIf="repository?.upload">
          <label>{{ 'upload_count' | translate }}</label>
          <div>{{ repository?.upload }}</div>
        </div>
      </div>
    </div>
  </div>
</aui-card>

<aui-card *ngIf="initialized">
  <aui-tab-group type="line">
    <aui-tab *ngIf="!isThird">
      <ng-container *auiTabLabel>
        {{ 'information' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <div
          *ngIf="repository.full_description"
          class="margin-top-2 word-break markdown-body"
          [innerHTML]="repository.full_description | rcMarked | rcTrustHtml"
        ></div>
        <div
          *ngIf="!repository.full_description"
          class="rb-loading-mask-placeholder"
        >
          {{ 'no_content' | translate }}
        </div>
      </ng-container>
    </aui-tab>
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'image_tag' | translate }}
      </ng-container>
      <ng-container *auiTabContent>
        <rc-image-repository-tags
          [repository]="repository"
        ></rc-image-repository-tags>
      </ng-container>
    </aui-tab>
  </aui-tab-group>
</aui-card>
