:host {
  .page-heading {
    display: flex;
    align-items: center;
    h1 {
      flex: 2;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.1;
      margin: 0;
      overflow: hidden;
      & > :not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
