@import 'var';
@import 'mixins';
@import 'shared/text-list';
:host {
  ::ng-deep .aui-card {
    .aui-card__header {
      border-bottom: none;
    }
    .aui-card__content {
      padding-top: 0;
    }
  }
}

.container {
  &__meta {
    &__header {
      display: flex;
      align-items: center;
      color: #009ce3;
      height: 28px;
      &__action {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
        margin-left: 12px;
        min-width: 28px;
        border-radius: 3px;
        padding: 0 2px;
        > aui-icon {
          margin-right: 4px;
        }
        &:hover {
          background: $color-primary-extra-light;
        }
      }
    }
  }
  &__resource {
    margin-top: 16px;
    .container__healthcheck__readinessProbe {
      margin-top: 12px;
    }
  }
}

.rc-detail-container {
  padding: 0;
  margin: 0;
  min-height: auto;
  .detail-wrapper {
    margin: 0;
    .detail-item {
      align-items: flex-start;
      margin-top: 12px;
      div:first-of-type {
        display: block;
        padding-right: 0;
      }
      aui-icon {
        margin-left: 8px;
        color: $color-primary;
        cursor: pointer;
      }
    }
  }
}

.log-path-item {
  line-height: 32px;
  &:not(:last-child) {
    border-bottom: 1px dashed $border-color;
  }
}

.rc-array-form-table {
  border-collapse: collapse;
  tbody {
    tr:last-child td {
      border-bottom: none;
    }
    td:nth-of-type(even) {
      background-color: #fff;
    }
    td {
      border-bottom: 1px solid $border-color;
    }
  }
}

.rc-text-item {
  @include text-overflow;
}
