<aui-card *ngIf="initialized">
  <div auiCardHeader>
    {{ 'container' | translate }}
  </div>

  <aui-tab-group
    type="card"
    [selectedIndex]="seletedTabIndex"
    (selectedIndexChange)="onTabIndexChange($event)"
  >
    <aui-tab
      *ngFor="let item of containerViewModels; trackBy: trackByFn"
      [label]="item.meta.name"
    ></aui-tab>
  </aui-tab-group>

  <ng-container
    *ngTemplateOutlet="containerRef; context: templateContext"
  ></ng-container>

  <ng-template #containerRef let-item="container">
    <div class="container">
      <div class="container__meta">
        <div
          class="container__meta__header"
          *ngIf="canUpdate && (shouldShowAction('log') || shouldShowAction('exec'))"
        >
          <div fxFlex></div>
          <ng-container *ngIf="shouldShowAction('exec')">
            <div
              class="container__meta__header__action"
              [auiDropdown]="exec"
              (auiDropdownShow)="onMenuShow()"
              (auiDropdownHide)="onMenuHide()"
            >
              <aui-icon icon="basic:window"></aui-icon>
              EXEC
            </div>
            <aui-menu #exec size="small">
              <aui-menu-group>
                <aui-menu-item
                  (click)="openTerminal(pods, item)"
                  [disabled]="canNotEXECAll(pods, item)"
                >
                  {{ 'all_k8s_pod' | translate }}
                </aui-menu-item>
              </aui-menu-group>
              <aui-menu-group>
                <span auiMenuGroupTitle>{{ 'k8s_pod' | translate }}</span>
                <rc-loading-mask
                  [ngStyle]="{ width: '150px', height: '30px' }"
                  [loading]="podsLoading"
                ></rc-loading-mask>
                <ng-container *ngIf="podsLoaded">
                  <aui-menu-item
                    *ngFor="let p of pods"
                    [disabled]="!canEXEC(p, item)"
                    (click)="openTerminal(pods, item, p)"
                  >
                    {{ getPodShortName(p.kubernetes.metadata.name) }}
                  </aui-menu-item>
                  <div *ngIf="!pods?.length">
                    {{ 'no_data' | translate }}
                  </div>
                </ng-container>
              </aui-menu-group>
            </aui-menu>
          </ng-container>

          <ng-container *ngIf="shouldShowAction('log')">
            <div
              class="container__meta__header__action"
              [auiDropdown]="log"
              (auiDropdownShow)="onMenuShow()"
              (auiDropdownHide)="onMenuHide()"
            >
              <aui-icon icon="basic:log"></aui-icon>
              {{ 'log' | translate }}
            </div>
            <aui-menu #log size="small">
              <aui-menu-group>
                <span auiMenuGroupTitle>{{ 'k8s_pod' | translate }}</span>
                <rc-loading-mask
                  [ngStyle]="{ width: '150px', height: '30px' }"
                  [loading]="podsLoading"
                ></rc-loading-mask>
                <ng-container *ngIf="podsLoaded">
                  <aui-menu-item
                    *ngFor="let p of pods"
                    (click)="openLog(p, item)"
                  >
                    {{ getPodShortName(p.kubernetes.metadata.name) }}
                  </aui-menu-item>
                  <div *ngIf="!pods?.length">
                    {{ 'no_data' | translate }}
                  </div>
                </ng-container>
              </aui-menu-group>
            </aui-menu>
          </ng-container>
        </div>
        <div class="rc-detail-container">
          <div class="detail-wrapper">
            <div class="detail-content">
              <div class="detail-item">
                <label>{{ 'image' | translate }}</label>
                <div
                  [auiTooltip]="item.meta.image"
                  [auiTooltipPosition]="'top start'"
                >
                  {{ item.meta.image }}
                </div>
                <div
                  *ngIf="canUpdate && shouldShowAction('image')"
                  (click)="updateImageTag(item)"
                >
                  <aui-icon icon="basic:pencil_s"></aui-icon>
                </div>
              </div>
              <div class="detail-item">
                <label>{{ 'resource_size' | translate }}</label>
                <div>
                  CPU {{ item.meta.resource.cpu }}&nbsp;&nbsp; {{ 'memory' |
                  translate }} {{ item.meta.resource.memory }}
                </div>
                <div
                  *ngIf="canUpdate && shouldShowAction('resource')"
                  (click)="updateResourceSize(item)"
                >
                  <aui-icon icon="basic:pencil_s"></aui-icon>
                </div>
              </div>
              <div class="detail-item">
                <label>{{ 'cmd' | translate }}</label>
                <div>
                  <div class="rc-text-item">
                    {{ item.meta.command[0] | rcFieldNotAvailable }}
                  </div>
                  <ng-container *ngIf="item.meta.command?.length > 1">
                    <div
                      class="rc-text-list"
                      [auiTooltip]="allCommands"
                      auiTooltipType="primary"
                      auiTooltipPosition="bottom start"
                      auiTooltipTrigger="click"
                      auiTooltipType="plain"
                    >
                      {{ 'total' | translate }}
                      <span class="rc-text-list__trigger">
                        {{ item.meta.command.length }}
                      </span>
                      {{ 'items' | translate }}
                    </div>
                    <ng-template #allCommands>
                      <div class="rc-text-list__tooltip" style="width: 600px;">
                        <div
                          class="rc-text-list__item"
                          *ngFor="let cmd of item.meta.command"
                        >
                          <span class="pre">{{ cmd }}</span>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </div>
              </div>
              <div class="detail-item">
                <label>{{ 'args' | translate }}</label>
                <div>
                  <div class="rc-text-item">
                    {{ item.meta.args[0] | rcFieldNotAvailable }}
                  </div>
                  <ng-container *ngIf="item.meta.args?.length > 1">
                    <div
                      class="rc-text-list"
                      [auiTooltip]="allArgs"
                      auiTooltipType="primary"
                      auiTooltipPosition="bottom start"
                      auiTooltipTrigger="click"
                      auiTooltipType="plain"
                    >
                      {{ 'total' | translate }}
                      <span class="rc-text-list__trigger">
                        {{ item.meta.args.length }}
                      </span>
                      {{ 'items' | translate }}
                    </div>
                    <ng-template #allArgs>
                      <div class="rc-text-list__tooltip" style="width: 300px;">
                        <div
                          class="rc-text-list__item"
                          *ngFor="let arg of item.meta.args"
                        >
                          <span class="pre">{{ arg }}</span>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container__resource" *ngIf="item.volumes?.length">
        <rc-app-detail-toggle-bar
          [text]="toggleBarText.volume"
          [initialState]="false"
          (clicked)="onToggle($event, 'volume')"
        ></rc-app-detail-toggle-bar>
        <rc-container-volumes-display
          [hidden]="foldedStatus['volume']"
          [volumes]="item.volumes"
        ></rc-container-volumes-display>
      </div>
      <div
        class="container__resource"
        *ngIf="
          !!item.healthcheck.livenessProbe || !!item.healthcheck.readinessProbe
        "
      >
        <rc-app-detail-toggle-bar
          [text]="toggleBarText.healthcheck"
          [initialState]="false"
          (clicked)="onToggle($event, 'healthcheck')"
        ></rc-app-detail-toggle-bar>
        <div [hidden]="foldedStatus['healthcheck']">
          <div
            class="container__healthcheck__livenessProbe"
            *ngIf="!!item.healthcheck.livenessProbe"
          >
            <rc-container-healthcheck-display
              [probe]="item.healthcheck.livenessProbe"
              [kind]="'livenessProbe'"
            ></rc-container-healthcheck-display>
          </div>
          <div
            class="container__healthcheck__readinessProbe"
            *ngIf="!!item.healthcheck.readinessProbe"
          >
            <rc-container-healthcheck-display
              [probe]="item.healthcheck.readinessProbe"
              [kind]="'readinessProbe'"
            ></rc-container-healthcheck-display>
          </div>
        </div>
      </div>
      <div
        class="container__resource"
        *ngIf="item.logPaths || item.excludeLogPaths"
      >
        <rc-app-detail-toggle-bar
          [text]="toggleBarText.logpath"
          [initialState]="false"
          (clicked)="onToggle($event, 'logpath')"
        ></rc-app-detail-toggle-bar>
        <table [hidden]="foldedStatus['logpath']" class="rc-array-form-table">
          <thead>
            <td style="width: 120px;">
              {{ 'type' | translate }}
            </td>
            <td>
              {{ 'file_path' | translate }}
            </td>
          </thead>
          <tbody>
            <tr *ngIf="item.logPaths">
              <td>{{ 'log_path' | translate }}</td>
              <td>
                <div class="log-path-item" *ngFor="let path of item.logPaths">
                  {{ path }}
                </div>
              </td>
            </tr>
            <tr *ngIf="item.excludeLogPaths">
              <td>{{ 'exclude_log_path' | translate }}</td>
              <td>
                <div
                  class="log-path-item"
                  *ngFor="let path of item.excludeLogPaths"
                >
                  {{ path }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
</aui-card>
