<div class="audit-search-wrapper">
  <div style="flex: 1 1 0%;"></div>
  <div class="rc-time-select">
    <label>{{ 'from' | translate }}</label>
    <div
      (valueChange)="onStartTimeSelect($event)"
      [rcCalendar]="dateTimeOptions"
      [(value)]="queryDatesShown.start_time"
    >
      <input
        aui-input
        [ngModel]="queryDatesShown.start_time"
        name="startTime"
        auiFormItemControl
      />
    </div>
    <label>{{ 'to' | translate }}</label>
    <div
      (valueChange)="onEndTimeSelect($event)"
      [rcCalendar]="dateTimeOptions"
      [(value)]="queryDatesShown.end_time"
    >
      <input
        aui-input
        [ngModel]="queryDatesShown.end_time"
        name="endTime"
        auiFormItemControl
      />
    </div>
  </div>
  <aui-search
    class="search-bar-margin"
    [searchButton]="true"
    [disabled]="advanced_search"
    [(keyword)]="keyword"
    placeholder="{{ 'search_audit_placeholder' | translate }}"
    (search)="fastSearch($event)"
  ></aui-search>
  <button
    [aui-button]="advanced_search ? 'advanced' : 'normal'"
    class="search-bar-margin"
    (click)="toggleSearch()"
  >
    {{ 'advanced_search' | translate }}
    <aui-icon *ngIf="advanced_search" icon="basic:angle_double_up"></aui-icon>
    <aui-icon
      *ngIf="!advanced_search"
      icon="basic:angle_double_down"
    ></aui-icon>
  </button>
</div>
<form *ngIf="advanced_search" class="audit-search-wrapper advanced" auiForm>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'audit_operator_name' | translate }}
    </label>
    <aui-select
      auiFormItemControl
      name="userName"
      [(ngModel)]="userName"
      (ngModelChange)="onSelect($event)"
    >
      <aui-option [value]="'_audit_all'" [label]="'all' | translate">
        {{ 'all' | translate }}
      </aui-option>
      <aui-option
        *ngFor="let username of usernames"
        [value]="username"
        [label]="username"
      >
        {{ username }}
      </aui-option>
    </aui-select>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'action_type' | translate }}
    </label>
    <aui-select
      auiFormItemControl
      name="operationType"
      [(ngModel)]="operationType"
      (ngModelChange)="onSelect($event)"
    >
      <aui-option [value]="'_audit_all'" [label]="'all' | translate">
        {{ 'all' | translate }}
      </aui-option>
      <aui-option
        *ngFor="let operationType of operationTypes"
        [value]="operationType"
        [label]="getOperationTypeTranslateKey(operationType) | translate"
      >
        {{ getOperationTypeTranslateKey(operationType) | translate }}
      </aui-option>
    </aui-select>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'audit_resource_name' | translate }}
    </label>
    <aui-select
      auiFormItemControl
      name="resourceName"
      [(ngModel)]="resourceName"
      (ngModelChange)="onSelect($event)"
    >
      <aui-option [value]="'_audit_all'" [label]="'all' | translate">
        {{ 'all' | translate }}
      </aui-option>
      <aui-option
        *ngFor="let resourceName of resourceNames"
        [value]="resourceName"
        [label]="resourceName"
      >
        {{ resourceName }}
      </aui-option>
    </aui-select>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'audit_resource_type' | translate }}
    </label>
    <aui-select
      auiFormItemControl
      name="resourceType"
      [(ngModel)]="resourceType"
      (ngModelChange)="onSelect($event)"
    >
      <aui-option [value]="resourceTypesAll" [label]="'all' | translate">
        {{ 'all' | translate }}
      </aui-option>
      <aui-option
        *ngFor="let resourceType of resourceTypes"
        [value]="resourceType"
        [label]="getResourceTypeTranslateKey(resourceType) | translate"
      >
        {{ getResourceTypeTranslateKey(resourceType) | translate }}
      </aui-option>
    </aui-select>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'audit_log_level' | translate }}
    </label>
    <aui-select
      auiFormItemControl
      name="logLevel"
      [(ngModel)]="logLevel"
      (ngModelChange)="onSelect($event)"
    >
      <aui-option [value]="'_audit_all'" [label]="'all' | translate">
        {{ 'all' | translate }}
      </aui-option>
      <aui-option
        *ngFor="let logLevel of logLevels"
        [value]="logLevel.value"
        [label]="logLevel.label | translate"
      >
        {{ logLevel.label | translate }}
      </aui-option>
    </aui-select>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel></label>
    <button aui-button="primary" (click)="onSelect()">
      {{ 'search' | translate }}
    </button>
    <button aui-button="default" (click)="resetAdvancedSearch()">
      {{ 'reset' | translate }}
    </button>
  </aui-form-item>
</form>
<table *ngIf="initialized" class="audit-table">
  <thead>
    <tr>
      <td></td>
      <td>{{ 'operation_time' | translate }}</td>
      <td>{{ 'audit_operator_name' | translate }}</td>
      <td>{{ 'action_type' | translate }}</td>
      <td>{{ 'audit_resource_name' | translate }}</td>
      <td>{{ 'audit_resource_type' | translate }}</td>
      <td>{{ 'audit_log_level' | translate }}</td>
    </tr>
  </thead>
  <tbody *ngFor="let audit of audits; trackBy: trackByIndex">
    <tr [ngClass]="{ active: expandedAudits[audit.event_id] }">
      <td class="col-expand-icon" (click)="clickRow(audit)" role="button">
        <i
          class="fa"
          [ngClass]="{
            'fa-caret-right': !expandedAudits[audit.event_id],
            'fa-caret-down': expandedAudits[audit.event_id]
          }"
        ></i>
      </td>
      <td>{{ audit.time * 1000 | rcFormatUtcStr }}</td>
      <td>{{ audit.detail.operator }}</td>
      <td>
        {{
          getOperationTypeTranslateKey(audit.detail.operation)
            | lowercase
            | translate
        }}
      </td>
      <td>{{ audit.resource_name }}</td>
      <td>
        {{ getResourceTypeTranslateKey(audit.resource_type) | translate }}
      </td>
      <td>{{ logLevels[audit.log_level]?.label | rcFieldNotAvailable }}</td>
    </tr>
    <ng-container *ngIf="audit.event_id && expandedAudits[audit.event_id]">
      <tr class="detail">
        <td colspan="7">
          <div class="detail-row">
            <div class="detail-col">
              {{ 'event_id' | translate }}: {{ audit.event_id }}
            </div>
            <div class="detail-col">
              {{ 'request_id' | translate }}: {{ audit.request_id }}
            </div>
          </div>
          <div class="detail-row">
            <div class="detail-col">
              {{ 'resource_id' | translate }}: {{ audit.resource_id }}
            </div>
            <div
              class="detail-col"
              [auiTooltip]="audit.request_url"
              auiTooltipPosition="top start"
            >
              {{ 'request_url' | translate }}: {{ audit.request_url }}
            </div>
          </div>
          <div class="detail-row">
            <div class="detail-col">
              {{ 'source_ip' | translate }}: {{ audit.source_ip }}
            </div>
          </div>
          <div class="detail-row">
            <div class="detail-col">
              <a
                href="javascript:void(0)"
                (click)="showDetailTemplate(audit, auditDetailTemplate)"
              >
                {{ 'event_detail' | translate }}
              </a>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
  <tbody *ngIf="!audits?.length">
    <tr>
      <td colspan="7" class="row-empty">
        {{ 'audit_no_data' | translate }}
      </td>
    </tr>
  </tbody>
</table>
<div class="audit-pagination" *ngIf="pagination.count > 0">
  <aui-paginator
    layout="total,pager,sizes,jumper"
    [(currentPage)]="pagination.current"
    [(pageSize)]="pagination.size"
    [total]="pagination.count"
    (currentPageChange)="currentPageChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></aui-paginator>
  <aui-icon
    icon="basic:question"
    class="audit-search-hint"
    auiTooltipPosition="start center"
    auiTooltipType="info"
    [auiTooltip]="'logs_search_hint' | translate"
  ></aui-icon>
</div>

<ng-template #auditDetailTemplate>
  <aui-dialog-header>
    {{ 'show_audit_detail' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-code-editor
      class="rc-sample-code-editor"
      [options]="{ language: 'json', readOnly: true }"
      [actionsConfig]="actionsConfigView"
      [ngModel]="audit_detail | json"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>
