@import 'var';

:host {
  ::ng-deep {
    aui-form-item {
      display: inline-block;
      width: 33%;
      @media screen and (min-width: 1600px) {
        width: 25%;
      }
      @media screen and (min-width: 1900px) {
        width: 20%;
      }
      .aui-form-item {
        margin-bottom: 16px;
        margin-right: 0;
      }
      .aui-form-item__control {
        width: 100%;
        flex: 1;
        aui-select {
          width: 100%;
        }
      }
    }
    .aui-button--medium .aui-button__content {
      padding: 0 8px;
    }
    .aui-button--normal {
      color: #666666;
      background-color: #fafafa;
      border-color: #ededed;
    }
    .aui-button--advanced {
      color: #009ce3;
      background-color: #fafafa;
      border-color: #ededed;
      border-bottom: none;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        background-color: #fafafa;
        border-left: 1px solid #ededed;
        border-right: 1px solid #ededed;
        width: calc(100% + 2px);
        height: 8px;
        bottom: -8px;
        left: -1px;
      }
    }

    aui-form-item:last-of-type {
      width: 33%;
      @media screen and (min-width: 1600px) {
        width: 75%;
      }
      @media screen and (min-width: 1900px) {
        width: 100%;
      }
      .aui-form-item__label-wrapper:after {
        content: '';
      }
      .aui-form-item__container {
        display: flex;
        flex-direction: row-reverse;
      }
    }
  }

  .audit-pagination {
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-end;
    .audit-search-hint {
      margin-top: 12px;
      padding: 6px 6px 0;
    }
  }
}

.rc-input {
  &-wrapper {
    display: inline-flex;
    .aui-input {
      border-radius: 3px 0 0 3px;
    }
  }
  &-addon {
    padding: 0 8px;
    display: inline-flex;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 0 3px 3px 0;
    border-left: none;
  }
}

.audit-search-wrapper {
  margin-bottom: 6px;
  display: flex;
  flex-wrap: wrap;
  &.advanced {
    background: #fafafa;
    border: 1px solid #ededed;
    padding: 12px 8px 0;
  }
  .rc-input-addon {
    height: 32px;
  }
}

.calendar-margin {
  margin: 6px 8px;
}

.search-bar-margin {
  margin-left: 8px;
}

.audit-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-top: 6px;
  thead {
    background-color: #fafafa;
    border-color: #eee;
    border-style: solid;
    border-width: 1px 0;
    td {
      height: 40px;
      color: #333;
      vertical-align: middle;
      font-weight: 500;
      white-space: nowrap;
      &:nth-child(1) {
        width: 35px;
      }
      &:nth-child(2) {
        width: 200px;
      }
      &:nth-child(3) {
        width: 120px;
      }
      &:nth-child(4) {
        width: 90px;
      }
      &:nth-child(6) {
        width: 120px;
      }
      &:nth-child(7) {
        width: 90px;
      }
    }
  }
  tbody {
    tr {
      background: #fff;
      &.detail {
        background-color: #f2fafd;
      }
      td {
        height: 60px;
        word-break: break-all;
        &.col-expand-icon {
          cursor: pointer;
          text-align: center;
        }
        &.row-empty {
          text-align: center;
          background: #fff;
        }
        .detail-row {
          margin: 6px 35px;
          display: flex;
          flex-wrap: wrap;
          .detail-col {
            float: left;
            width: 50%;
            display: flex;
            line-height: 20px;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #333;
            font-size: 14px;
            margin-top: 6px;
          }
        }
      }
    }
  }
}
