<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<ng-container *ngIf="initialized && !empty">
  <rc-event-dashboard
    kind="PersistentVolumeClaim"
    [names]="name"
    [appFilters]="filterString"
    [appData]="appData"
    [cluster]="cluster"
    [namespace]="namespace"
    [embedded]="true"
  ></rc-event-dashboard>
</ng-container>

<ng-container *ngIf="initialized && empty">
  <div class="rb-loading-mask-placeholder">
    {{ 'no_data' | translate }}
  </div>
</ng-container>
