@import 'var';
@import 'mixins';

:host {
  .aui-table {
    &__column-action {
      flex: 1 0 120px;
      justify-content: flex-end;
    }
  }
  .rc-list-header {
    margin: 8px 0 16px;
    .search-input {
      margin-right: 8px;
      input {
        border-radius: 5px 0 0 5px;
        min-width: 24rem;
      }
      button {
        border-radius: 0 5px 5px 0;
        margin-left: -1px;
      }
    }
  }

  .referenced_resources {
    cursor: pointer;
  }

  .referenced-resources-tooltips-container {
    @include clearfix;
    max-width: 500px;
    .referenced-resources-tooltips {
      font-size: 14px;
      margin: 2px;
      float: left;
      border-style: none;
      background-color: #e8e8e8;
      display: block;
      padding: 1px 6px 1px 6px;
      max-width: 140px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    a.referenced-resources-tooltips {
      cursor: pointer;
    }
    a.referenced-resources-tooltips:hover {
      text-decoration: underline;
    }
  }

  .pointer {
    cursor: pointer;
  }

  .show_more {
    text-align: center;
    background-color: #ecf6fd;
    line-height: 30px;
    font-size: 12px;
    > a {
      cursor: pointer;
    }
    > a:hover {
      text-decoration: underline !important;
    }
  }
}
