<aui-dialog-header>
  <span>{{ 'rbac_add_parent_role' | translate }}</span>
  <aui-search
    size="small"
    [searchButton]="true"
    placeholder="{{ 'filter_by_name_placeholder' | translate }}"
    (search)="searched($event)"
  ></aui-search>
</aui-dialog-header>

<aui-dialog-content>
  <aui-table [dataSource]="roles">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'role_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="item.disabled">
          <aui-checkbox disabled="true" value="true"></aui-checkbox>
        </ng-container>
        <ng-container *ngIf="!item.disabled">
          <aui-checkbox
            [(ngModel)]="checkMap[item.uuid]"
            (ngModelChange)="onParentChecked($event, item)"
          ></aui-checkbox>
        </ng-container>
        <span>{{ item.name }}</span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="project">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'rbac_project_belongs_to' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.project_name || '-' }}
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="['name', 'project']"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="let row; columns: ['name', 'project']"
    ></aui-table-row>
  </aui-table>
</aui-dialog-content>

<aui-dialog-footer>
  <aui-paginator
    layout="total,pager"
    [currentPage]="page"
    [pageSize]="size"
    [total]="total"
    (page)="pageChange($event)"
  ></aui-paginator>
  <div class="btns">
    <button
      aui-button="primary"
      (click)="confirm()"
      [disabled]="!this.lastParent"
    >
      {{ 'confirm' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
