:host ::ng-deep {
  .aui-dialog__header {
    position: relative;

    aui-search {
      position: absolute;
      top: 24px;
      right: 24px;
      transform: translateY(-50%);
    }
  }

  .aui-dialog__header-close {
    display: none;
  }

  .aui-dialog__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    aui-paginator {
      margin-top: 0;
    }
  }

  .btns {
    flex: 0 0 130px;
  }
}
