<form auiForm [formGroup]="form" auiFormLabelWidth="100px">
  <div [rcLoadingMask]="!serviceList.length">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'kube_service_group' | translate }}</label>
      <rc-load-balancer-service-group-form
        [clusterName]="clusterName"
        [namespaceList]="namespaceList"
        [serviceList]="serviceList"
        formControlName="services"
      ></rc-load-balancer-service-group-form>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'session_affinity' | translate }}</label>
      <aui-radio-group formControlName="session_affinity_policy">
        <aui-radio-button
          *ngFor="let type of sessionAffinityTypes"
          [value]="type"
        >
          {{ 'session_affinity_' + type | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item
      [hidden]="form.get('session_affinity_policy').value !== 'cookie'"
    >
      <label auiFormItemLabel>
        {{ 'session_affinity_attribute' | translate }}
      </label>
      <input aui-input formControlName="session_affinity_attribute" />
    </aui-form-item>
  </div>
</form>
