<div class="topology-container" [rcLoadingMask]="loading">
  <rc-topology-graph #topology [nodes]="nodes" [links]="links">
    <button aui-button [loading]="loading" size="small" (click)="refresh()">
      {{ 'refresh' | translate }}
    </button>
  </rc-topology-graph>
</div>
<div *ngIf="loadError" class="error-placeholder">
  {{ 'loading_error' | translate }}
</div>
