<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="back(['../../../'])">
        {{ 'nav_jenkins' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a href="javascript:void(0)" (click)="back(['../../'])">
        {{ 'nav_jenkins_histories' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ (data$ | async)?.pipeline_name }}
      <span>#{{ (data$ | async)?.history_id }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div class="basic-info" *ngFor="let data of [data$ | async]">
  <img class="icon" src="/static/images/resource/jenkins-list-icon.svg" />
  <div class="basic-info-panel">
    <div class="basic-info-header">
      <div class="title">
        <a
          class="pipeline-name"
          *ngIf="data"
          [routerLink]="['../../../', 'pipelines', data?.pipeline_uuid]"
        >
          {{ data?.pipeline_dispaly_name || data?.pipeline_name }}
        </a>
        <span>#{{ data?.history_id }}</span>
        <a
          [href]="data?.url"
          class="jenkins-link"
          target="_blank"
          [auiTooltip]="'jenkins_history_link' | translate"
        >
          <i class="fa fa-external-link-square"></i>
        </a>
      </div>
      <div class="actions" *ngFor="let mutating of [mutating$ | async]">
        <button
          *ngIf="canCancel(data)"
          aui-button="primary"
          [disabled]="data?.status === 'FINISHED' || mutating"
          [loading]="mutating === 'canceling'"
          (click)="cancel(data)"
        >
          {{ 'jenkins_history_cancel' | translate }}
        </button>
        <button
          *ngIf="canRestart(data)"
          aui-button="primary"
          [disabled]="
            data?.status !== 'FINISHED' || mutating || !data?.actions.replay
          "
          [loading]="mutating === 'starting'"
          (click)="start(data)"
        >
          {{ 'jenkins_history_restart' | translate }}
        </button>
        <button
          *ngIf="canDelete(data)"
          aui-button="default"
          [disabled]="data?.status !== 'FINISHED' || mutating"
          [loading]="mutating === 'deleting'"
          (click)="delete(data)"
        >
          {{ 'delete' | translate }}
        </button>
      </div>
    </div>
    <div class="basic-info-fields">
      <div class="field" *ngFor="let status of [status$ | async]">
        <label>{{ 'status' | translate }}:</label>
        <span [ngClass]="['status', status.class]">
          <i class="fa"></i>
          <span>{{ status.text | translate }}</span>
        </span>
      </div>
      <div class="field">
        <label>{{ 'jenkins_history_create_info' | translate }}:</label>
        <ng-container [ngSwitch]="triggerName(data)">
          <span *ngSwitchCase="'timer_trigger_cause'">
            {{ 'jenkins_trigger_cron' | translate }}
          </span>
          <span *ngSwitchCase="'user_id_cause'">
            {{ 'jenkins_trigger_user' | translate }}
          </span>
          <span *ngSwitchCase="'scm_trigger_cause'">
            {{ 'jenkins_trigger_code_change_hook' | translate }}
          </span>
          <span *ngSwitchCase="'docker_image_trigger_cause'">
            {{ 'jenkins_trigger_image_change' | translate }}
          </span>
          <span *ngSwitchDefault>
            {{ 'jenkins_trigger_unknown' | translate }}
          </span>
        </ng-container>
      </div>
      <div class="field">
        <label>{{ 'started_at' | translate }}:</label>
        <span>{{ data?.start_time_millis | rcFormatMs }}</span>
      </div>
      <div class="field">
        <label>{{ 'jenkins_history_time' | translate }}:</label>
        <span>{{ data?.duration_millis | rcDurationToConsumed }}</span>
      </div>
      <div class="field" *ngIf="data?.actions?.badges?.length > 0">
        <label>{{ 'jenkins_history_content' | translate }}:</label>
        <span>
          <span class="tags" *ngFor="let badge of data?.actions?.badges">
            <a
              [href]="badge.url"
              target="_blank"
              auiTooltipPosition="top left"
              [auiTooltip]="badgeHint(badge)"
            >
              {{ badge.text }}
            </a>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="details">
  <aui-tab-group>
    <aui-tab>
      <ng-container *auiTabLabel>
        {{ 'logs' | translate }}
      </ng-container>
      <rc-jenkins-pipeline-history-logs
        *ngIf="(data$ | async)?.history_id && (data$ | async)?.pipeline_uuid"
        [historyId]="(data$ | async)?.history_id"
        [pipelineId]="(data$ | async)?.pipeline_uuid"
      ></rc-jenkins-pipeline-history-logs>
    </aui-tab>

    <aui-tab *ngIf="!!(data$ | async)?.actions?.test_result">
      <ng-container *auiTabLabel>
        {{ 'jenkins_test_result' | translate }}
      </ng-container>
      <rc-jenkins-pipeline-history-test-result
        *ngIf="(data$ | async)?.history_id && (data$ | async)?.pipeline_uuid"
        [historyId]="(data$ | async)?.history_id"
        [pipelineId]="(data$ | async)?.pipeline_uuid"
      ></rc-jenkins-pipeline-history-test-result>
    </aui-tab>
  </aui-tab-group>
</div>
