@import 'var';
@import '../../_status.colors.scss';
@import '../../_variables.scss';

.basic-info {
  padding: $content-margin;
  margin-bottom: $content-margin;
  background-color: #fff;
  position: relative;
  .icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 86px;
    height: 92px;
  }

  .basic-info-panel {
    margin-left: 110px;
    .basic-info-header {
      display: flex;
      flex-direction: row;
      .title {
        flex-grow: 1;
        font-size: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        span {
          margin-left: $text-margin;
          flex-shrink: 0;
          white-space: nowrap;
        }
        .jenkins-link {
          font-size: 16px;
          margin-left: $text-margin;
          padding: 7px 0px;
          color: #666666;
          flex-shrink: 0;
          white-space: nowrap;
        }
      }
      .actions {
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 0;
        > button {
          margin-right: $text-margin;
        }
      }
    }
    .basic-info-fields {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 80%;
      .field {
        width: 50%;
        display: flex;
        label {
          color: $color-text-help;
          font-weight: normal;
          padding: $text-margin $text-margin $text-margin 0px;
          white-space: nowrap;
        }
        > span {
          color: #666;
          padding: 8px;
          display: flex;
          &.status {
            i.fa {
              border-radius: 50%;
              background-color: #ccc;
              color: white;
              margin-right: $text-margin;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20px;
              height: 20px;
            }
            span {
              color: $color-info;
            }
            @each $status, $color in $pipeline-status-color-map {
              &.#{$status} {
                i.fa {
                  background-color: $color;
                  &::after {
                    content: '';
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    background-image: url(../../icons/#{$status}.svg);
                  }
                }
                span {
                  color: $color;
                }
              }
            }
          }
          .tags {
            height: 20px;
            display: inline-block;
            border-radius: 2px;
            background-color: #f2fafe;
            border: solid 1px #e5f5fc;
            margin-right: 4px;
            font-size: 12px;
            text-align: left;
            padding: 0 4px;
            max-width: 320px;
            color: #666;
            text-overflow: ellipsis;
            line-height: 20px;
          }
        }
      }
    }
  }
}

.details {
  background-color: #fff;
  padding: $content-margin;
  .tab-panel {
    padding: $content-margin;
    .logs-panel {
      background-color: #1b1e24;
      color: $color-primary-extra-light;
      height: 400px;
      overflow: auto;
      padding: $text-margin;
      ul > li {
        font-weight: 200;
        line-height: 24px;
      }
    }
  }
}
