<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>{{ 'devops' | translate }}</aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'devops_toolchain' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card>
  <div auiCardHeader>
    <span>
      {{ 'devops_toolchain' | translate }}
    </span>
  </div>

  <section
    [style.max-width.px]="sectionWidth"
    [style.min-width.px]="sectionWidth"
  >
    <div class="container">
      <ng-container *ngFor="let row of (resourceChunk$ | async); let r = index">
        <div fxLayout="row wrap" class="wrap">
          <ng-container *ngFor="let item of row; let i = index">
            <div
              [id]="item.index"
              class="tool_wrap"
              [fxFlex]="'0 1 calc(' + ((100 / column) % +')')"
            >
              <div class="tool-type-header">
                {{
                  (translate.currentLang$ | async) === 'zh_cn'
                    ? item.displayKind.zh
                    : item.displayKind.en
                }}
                ({{ item.toolList.length }})
              </div>
              <div *ngFor="let tool of item.toolList" class="tool">
                <div class="tool-icon">
                  <img
                    class="type-icon"
                    [src]="
                      '/static/images/tool-chain/' +
                      tool.type.toLowerCase() +
                      '.svg'
                    "
                  />
                  <img
                    *ngIf="tool.enterprise"
                    class="enterprise-mark"
                    [src]="enterpriseIcon$ | async"
                  />
                </div>
                <div class="tool-content">
                  <div class="tool-name" [title]="tool.name">
                    {{ tool.name }}
                  </div>
                  <div class="tool-address" [title]="tool.address">
                    {{ tool.address }}
                  </div>
                </div>
                <div class="jump-icon">
                  <a
                    [href]="tool.address"
                    target="_blank"
                    [title]="
                      'tool_chain_jump_to_detail'
                        | translate: { name: tool.type }
                    "
                  >
                    <aui-icon icon="basic:jump" size="16"></aui-icon>
                  </a>
                </div>
              </div>
              <rc-triangle-vertical
                *ngIf="showTriangleVertical(r, i, row, resourceChunk$ | async)"
                [row]="row"
                [index]="i"
              ></rc-triangle-vertical>
            </div>
            <rc-triangle *ngIf="showTriangle(r, i, row)"></rc-triangle>
            <rc-triangle-backwards
              *ngIf="showTriangle(r, i, row, true)"
            ></rc-triangle-backwards>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </section>
</aui-card>
