@import 'mixins';

:host {
  .title {
    font-size: 18px;
    line-height: 32px;
  }
  .container {
    .wrap:nth-child(even) {
      flex-direction: row-reverse !important;
      justify-content: flex-start !important;
    }
  }
  .wrap {
    display: flex;
    > div {
      height: 100%;
      border: 1px solid #fafafa;
      margin-bottom: 40px;
      min-width: 317px;
      max-width: 317px;
    }

    .tool_wrap {
      height: 100%;
      background-color: #fafafa;
      .tool-type-header {
        height: 48px;
        font-size: 18px;
        font-weight: 500;
        color: #333333;
        padding: 12px;
        margin-bottom: -8px;
      }
      .tool {
        display: flex;
        flex-direction: row;
        height: 64px;
        padding: 8px;
        margin: 8px 12px;
        background-color: white;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24);
        border-radius: 2px;
        &:last-of-type {
          margin-bottom: 12px;
        }
        &:hover {
          box-shadow: 0 0 0 1px $color-primary, 0 4px 16px 0 rgba(0, 0, 0, 0.16);
        }
        .tool-icon {
          width: 48px;
          height: 36px;
          margin: 6px 8px;
          position: relative;
          display: flex;
          align-items: center;
          .type-icon {
            width: 48px;
          }
          .enterprise-mark {
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            right: 2px;
            top: 50%;
            transform: translateY(4px);
          }
        }
        .tool-content {
          width: 100%;
          margin: 4px 0;
          overflow: hidden;
          .tool-name {
            line-height: 18px;
            font-size: 18px;
            font-weight: 500;
            color: #333333;
            @include text-overflow();
          }
          .tool-address {
            margin-top: 8px;
            font-size: 12px;
            line-height: 12px;
            color: #999999;
            @include text-overflow();
          }
        }
      }
    }
  }
  .jump-icon {
    margin-left: 16px;
    a {
      color: #999999;
      cursor: pointer;
      :hover {
        color: $color-primary;
      }
    }
  }
  ::ng-deep {
    aui-card {
      > .aui-card {
        min-width: 1075px;
      }
    }
  }
}
