:host {
  display: block;
  flex: 1;
  .service-table td {
    flex: 1;
    display: flex;
  }

  ::ng-deep .service-table {
    thead tr {
      display: flex;
    }
    .rc-array-form-table--row-group-start.ng-star-inserted {
      display: flex;
    }
    .rc-array-form-table__action-col.ng-star-inserted {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      min-width: fit-content;
      max-width: fit-content;
    }
  }
}
