<rc-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
  class="service-table"
>
  <ng-container *rcArrayFormTableHeader>
    <td>{{ 'namespace' | translate }}</td>
    <td>{{ 'kube_service' | translate }}</td>
    <td>{{ 'port' | translate }}</td>
    <td>
      {{ 'weights' | translate }}
    </td>
  </ng-container>

  <ng-container *rcArrayFormTableRow="let control" [formGroup]="control">
    <td>
      <aui-select
        [filterable]="true"
        formControlName="namespace"
        (ngModelChange)="namespaceChange($event, control)"
        rcErrorsTooltip
      >
        <aui-option *ngFor="let namespace of namespaceList" [value]="namespace">
          {{ namespace }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>
    <td>
      <aui-select
        [filterable]="true"
        formControlName="name"
        (ngModelChange)="serviceChange($event, control)"
        rcErrorsTooltip
      >
        <aui-option
          *ngFor="let name of control.get('nameList').value"
          [value]="name"
        >
          {{ name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>

    <td>
      <aui-select formControlName="port" rcErrorsTooltip>
        <aui-option
          *ngFor="let port of control.get('portList').value"
          [value]="port"
        >
          {{ port }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>
    <td>
      <aui-input-group style="flex:1">
        <span auiInputAddonAfter>
          {{ getWeightsPercent(control.get('weight').value) }}
        </span>
        <input
          aui-input
          type="number"
          rcErrorsTooltip
          formControlName="weight"
        />
      </aui-input-group>
    </td>
  </ng-container>
</rc-array-form-table>
