/*fail color*/
$fail: #eb6262;
:host {
  display: block;
  flex: 1;

  .env-var-key-wrapper {
    vertical-align: top;
  }

  ::ng-deep .error .aui-select__input.aui-input {
    border-color: $fail;
  }
}

.error {
  border-color: $fail;
}

.env-var-textarea-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.ref-key-input-disable {
  padding-right: 29px;
}
