<rc-array-form-table
  resourceName="environment_variable"
  [noRowSeparator]="true"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (remove)="remove($event)"
  [rows]="form.controls"
>
  <ng-container *rcArrayFormTableHeader>
    <th width="25%">{{ 'key' | translate }}</th>
    <th width="75%" colspan="3">
      {{ 'value' | translate }}/{{ 'reference_value' | translate }}
    </th>
  </ng-container>

  <!-- Input row -->
  <ng-container *rcArrayFormTableRow="let control" [formGroup]="control">
    <td class="env-var-key-wrapper">
      <input
        (blur)="onBlur()"
        placeholder="{{ 'key' | translate }}"
        aui-input
        [class.error]="control.errors?.keyIsMissing || control.errors?.duplicateKey"
        rcErrorsTooltip
        [rcErrorsTooltipInline]="true"
        [rcErrorsTooltipMapper]="{
          pattern: K8S_ENV_VARIABLE_NAME.tip | translate
        }"
        formControlName="name"
      />
      <!-- <aui-icon icon="basic:question_circle_s"
                [auiTooltip]="'pod_spec_form.env_name_help_info' | translate"></aui-icon> -->
    </td>

    <ng-container [ngSwitch]="envVarViewMode(control.value)">
      <!-- Value only mode -->
      <td colspan="3" *ngSwitchCase="'value'">
        <div class="env-var-textarea-wrapper">
          <textarea
            [autosize]="{minRows:1,maxRows:3}"
            (blur)="onBlur()"
            aui-input
            placeholder="{{ 'value' | translate }}"
            formControlName="value"
          ></textarea>
        </div>
      </td>

      <!-- valueFrom (ref key) mode -->
      <ng-container *ngSwitchCase="'valueFrom'">
        <td>
          <ng-container formGroupName="refObj">
            <aui-select
              (blur)="onBlur()"
              auiFormItemControl
              [filterable]="true"
              (ngModelChange)="kindChange(control)"
              formControlName="kind"
            >
              <div auiOptionGroupTitle>{{ 'choose_ref_kind' | translate }}</div>
              <aui-option
                *ngFor="let key of ENV_VAR_SOURCE_TYPES"
                [value]="key"
                label="{{key | translate}}"
              >
                {{ translateService.get(key)}}
              </aui-option>
              <aui-option-placeholder>
                {{ 'no_data' | translate }}
              </aui-option-placeholder>
            </aui-select>
          </ng-container>
        </td>

        <td>
          <ng-container formGroupName="refObj">
            <aui-select
              (blur)="onBlur()"
              auiFormItemControl
              [filterable]="true"
              [filterFn]="filterFn"
              [loading]="!(configMaps$ | async) || !(secrets$ | async)"
              (ngModelChange)="valueFromChange(control)"
              [placeholder]="getRefPlaceHolderFromControl(control)"
              formControlName="name"
            >
              <ng-container [ngSwitch]="getRefObjKind(control)">
                <aui-option-group
                  *ngSwitchCase="SUPPORT_ENV_VAR_SOURCE_KIND.configMapKey"
                  [class.error]="control.errors?.fieldNameMissing"
                >
                  <div auiOptionGroupTitle>{{ 'configmap' | translate }}</div>
                  <aui-option
                    *ngFor="let configMap of (configMaps$ | async)"
                    [label]="getRefObjLabel(configMap)"
                    [value]="getRefObjName(configMap)"
                  >
                    {{ configMap.metadata?.name }}
                  </aui-option>
                </aui-option-group>
                <aui-option-group
                  *ngSwitchCase="SUPPORT_ENV_VAR_SOURCE_KIND.secretKey"
                  [class.error]="control.errors?.fieldNameMissing"
                >
                  <div auiOptionGroupTitle>{{ 'secret' | translate }}</div>
                  <aui-option
                    *ngFor="let secret of (secrets$ | async)"
                    [label]="getRefObjLabel(secret)"
                    [value]="getRefObjName(secret)"
                  >
                    {{ secret.metadata?.name }}
                  </aui-option>
                </aui-option-group>

                <aui-option-group
                  *ngSwitchCase="SUPPORT_ENV_VAR_SOURCE_KIND.field"
                  [class.error]="control.errors?.fieldNameMissing"
                >
                  <div auiOptionGroupTitle>{{ 'field' | translate }}</div>
                  <aui-option
                    *ngFor="let field of FIELD_SUPPORT_TYPES"
                    [value]="field"
                  >
                    {{ field}}
                  </aui-option>
                </aui-option-group>
              </ng-container>
              <aui-option-placeholder>
                {{ 'no_data' | translate }}
              </aui-option-placeholder>
            </aui-select>
          </ng-container>
        </td>
        <td>
          <aui-select
            *ngIf="!isFieldKind(control) else disableInputRef"
            [class.error]="control.errors?.refObjKeyMissing"
            (blur)="onBlur()"
            auiFormItemControl
            placeholder="{{'choose_ref_key' | translate}}"
            [filterable]="true"
            formControlName="refObjKey"
          >
            <aui-option
              *ngFor="let key of (getRefObjKeys(control) | async)"
              [value]="key"
              label="{{key | translate}}"
            >
              {{ key }}
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-select>
          <ng-template #disableInputRef>
            <input aui-input disabled class="ref-key-input-disable" />
          </ng-template>
        </td>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td *ngIf="control.invalid" colspan="5" class="rc-table-form-error-hint">
      <ng-container *ngIf="control.errors?.refObjKeyMissing">
        {{ 'ref_obj_key_is_missing_error_message' | translate }}
      </ng-container>
      <ng-container *ngIf="control.errors?.fieldNameMissing">
        {{ 'field_name_key_is_missing_error_message' | translate }}
      </ng-container>

      <ng-container *ngIf="control.errors?.keyIsMissing">
        {{ 'key_is_missing_error_message' | translate }}
      </ng-container>

      <ng-container *ngIf="control.errors?.duplicateKey">
        {{ 'duplicate_key_error_message' | translate: { key:
        control?.errors?.duplicateKey } }}
      </ng-container>
    </td>
  </ng-container>

  <!-- Row controls -->
  <ng-container *rcArrayFormTableFooter>
    <button
      aui-button="primary"
      type="button"
      size="mini"
      [plain]="true"
      (click)="add(length, false)"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add' | translate }}
    </button>
    <button
      aui-button
      type="button"
      size="mini"
      [plain]="true"
      (click)="add(length, true)"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add_reference' | translate }}
    </button>
  </ng-container>
</rc-array-form-table>
