<span>{{ value }}</span>
<a
  href="javascript:void(0)"
  *ngIf="!!value"
  (click)="!disabled && selectRepo()"
>
  <aui-icon icon="basic:pencil_edit"></aui-icon>
</a>
<button
  aui-button="default"
  size="small"
  *ngIf="!value"
  (click)="selectRepo()"
  [disabled]="!this.codeClient || !this.codeOrg"
>
  {{ 'select' | translate }}
</button>
