form {
  margin: 16px;
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
  .secret-action {
    margin-left: 8px;
  }
}
.secret-group {
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 14px;
      height: 14px;
      margin-right: 4px;
    }
    span {
      color: #999;
      font-weight: 500;
    }
  }
  &__display-name {
    color: #999;
    margin-left: 4px;
  }
}
