<aui-dialog-header>
  {{ 'pipeline_template_repository_setting' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div class="rc-card-group">
    <form
      #form="ngForm"
      auiForm
      (ngSubmit)="onSubmit(form.form.value)"
      auiFormLabelWidth="150px"
    >
      <aui-form-item>
        <label auiFormItemLabel>{{ 'pipeline_method' | translate }}</label>
        <aui-radio-group
          [(ngModel)]="sourceType"
          [ngModelOptions]="{ standalone: true }"
          name="sourceType"
        >
          <aui-radio-button value="select" [disabled]="true">
            {{ 'pipeline_select' | translate }}
          </aui-radio-button>
          <aui-radio-button value="input">
            {{ 'pipeline_input' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item *ngIf="sourceType === 'input'">
        <label auiFormItemLabel>{{ 'pipeline_repo_path' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          name="repo"
          pattern="^(http(s?):\/\/.+)|(git@.+:.+)|(ssh:\/\/.+@.+)|(git:\/\/.+)"
          [(ngModel)]="model.repo"
          placeholder="{{ 'pipeline_example' | translate }}{{
            ' https://github.com/repository.git'
          }}"
          required
        />
      </aui-form-item>
      <aui-form-item *ngIf="sourceType === 'select'">
        <label auiFormItemLabel>{{ 'pipeline_from_repo' | translate }}</label>
        <aui-select
          [(ngModel)]="model.codeRepository"
          [loading]="!(codes$ | async)"
          name="codeRepository"
          filterable
          auiFormItemControl
          required
          [disabled]="(codes$ | async) && !(codes$ | async).length"
        >
          <aui-option *ngFor="let code of (codes$ | async)" [value]="code.name">
            {{ code.name }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'pipeline_branch' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          name="branch"
          [(ngModel)]="model.branch"
          required
        />
      </aui-form-item>
      <aui-form-item *ngIf="sourceType === 'input'">
        <label auiFormItemLabel>{{ 'pipeline_secret' | translate }}</label>
        <aui-select
          [(ngModel)]="model.secret"
          [loading]="!(secrets$ | async)"
          name="secret"
          auiFormItemControl
          [clearable]="true"
          [placeholder]="'tool_chain_please_select_secret' | translate"
        >
          <aui-option-group class="secret-group">
            <div auiOptionGroupTitle class="secret-group__title">
              <img src="/static/images/tool-chain/secret-public.svg" />
              <span>{{ 'secret_global' | translate }}</span>
            </div>
            <aui-option
              *ngFor="let item of (secrets$ | async)?.public"
              [value]="secretToValue(item)"
              [label]="item.name"
            >
              <span>{{ item.name }}</span>
              <span
                class="secret-group__display-name"
                *ngIf="!!item.displayName"
              >
                ({{ item.displayName }})
              </span>
            </aui-option>
          </aui-option-group>
          <aui-option-group class="secret-group">
            <div auiOptionGroupTitle class="secret-group__title">
              <img src="/static/images/tool-chain/secret-private.svg" />
              <span>{{ 'secret_private' | translate }}</span>
            </div>
            <aui-option
              *ngFor="let item of (secrets$ | async)?.private"
              [value]="secretToValue(item)"
              [label]="item.name"
            >
              <span>{{ item.name }}</span>
              <span
                class="secret-group__display-name"
                *ngIf="!!item.displayName"
              >
                ({{ item.displayName }})
              </span>
            </aui-option>
          </aui-option-group>
          <aui-option-placeholder>
            {{ 'tool_chain_no_available_secrets' | translate }}
          </aui-option-placeholder>
        </aui-select>
        <div class="secret-action">
          <button (click)="addSecret()" type="button" aui-button>
            {{ 'tool_chain_add_secret' | translate }}
          </button>
        </div>
      </aui-form-item>
      <div class="buttons">
        <button aui-button="primary" [disabled]="!form.form.valid">
          {{ 'pipeline_confirm' | translate }}
        </button>
        <button aui-button type="button" (click)="hideDialog()">
          {{ 'cancel' | translate }}
        </button>
      </div>
    </form>
  </div>
</aui-dialog-content>
