:host {
  border-top: 1px solid #eee;
  position: relative;
  .graph-toolbar {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    &__legend {
      margin-left: 4px;
    }
    &__zoomer {
      height: 26px;
      overflow: hidden;
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      button {
        font-size: 16px;
        color: #999;
        font-weight: 700;
        border: none;
      }
    }
  }
  svg {
    cursor: move;
  }
}
