<!-- arc graph -->
<div class="graph-toolbar">
  <!-- <div class="graph-toolbar__zoomer">
    <button aui-button
            class="plus"
            size="small">
      +
    </button>
    <span>100%</span>
    <button aui-button
            class="minus"
            size="small">
      -
    </button>
  </div> -->
  <ng-content></ng-content>
  <button
    aui-button
    class="graph-toolbar__legend"
    [auiTooltip]="graphLegend"
    auiTooltipType="info"
    auiTooltipPosition="top end"
    auiTooltipTrigger="hover"
    size="small"
  >
    {{ 'legend' | translate }}
  </button>
</div>
<svg
  #svg
  *ngIf="graph"
  [attr.width]="options.width"
  [attr.height]="options.height"
>
  <g [rcZoomableOf]="svg">
    <g [rc-topology-arc-link]="link" *ngFor="let link of links"></g>
    <g
      [rc-topology-node]="node"
      (nodeFocused)="nodeFocused(node)"
      (nodeBlured)="nodeBlured(node)"
      *ngFor="let node of nodes"
      [rcDraggableNode]="node"
      [rcDraggableInGraph]="graph"
    ></g>
  </g>
</svg>

<ng-template #graphLegend>
  <rc-topology-graph-legend></rc-topology-graph-legend>
</ng-template>
