:host {
  @mixin another-layout {
    flex-flow: column;

    .logo-wrapper {
      flex: 0;
      position: static;
      height: 42px;
      margin-bottom: 20px;
      margin-top: -62px;
    }

    .landing-body {
      justify-content: center;
      flex: 0;
      min-height: 0;
    }

    .landing-bg {
      display: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .landing {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    min-height: 100%;
    background: #fff;

    // mask
    &::before {
      content: '.';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.04;
      text-indent: -9999px;
      background-image: linear-gradient(237deg, #c1e3fd, #018ffa);
    }

    .logo-wrapper {
      position: absolute;
      top: 30px;
      left: 30px;

      .logo {
        max-width: 100%;
        height: 40px;
        max-height: 60px;
      }
    }

    .landing-body {
      flex: 0 0 980px;
      display: flex;
      flex-flow: row;
      align-items: center;
      min-height: 100%;
      justify-content: space-between;
    }

    .landing-bg {
      transform: translateY(-2vh);
      flex: 0 0 530px;
      height: 500px;
    }

    .landing-container {
      position: relative;
      display: flex;
      flex: 0 0 360px;
      padding: 0 32px;

      background-color: #fff;
      box-shadow: 0 3px 6px 0 rgba(0, 140, 203, 0.12),
        0 3px 6px 0 rgba(0, 0, 0, 0.12);

      ::ng-deep > ng-component {
        width: 100%;
      }
    }

    rld-language-picker {
      position: absolute;
      top: 40px;
      left: calc(100vw - 110px);
    }

    &.center-layout {
      @include another-layout;
    }

    @media (max-width: 1140px) {
      @include another-layout;
    }
  }
}
