<div style="width:100%;height:100%;overflow-y:scroll;">
  <div class="landing">
    <div class="logo-wrapper">
      <img class="img logo" [src]="logoSrc" alt="logo" />
    </div>

    <div class="landing-body">
      <div class="landing-bg">
        <img class="img bg" [src]="bgSrc" alt="background-image" />
      </div>
      <div class="landing-container"><router-outlet></router-outlet></div>
    </div>
    <rld-language-picker></rld-language-picker>
  </div>
</div>
