:host {
  display: block;
  flex: 1;

  .form-container {
    padding: 16px 10px 0px 0px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background: #f4f4f4;

    ::after {
      content: '';
    }
  }
}
