<div class="form-container">
  <form auiForm [formGroup]="form" auiFormLabelWidth="100px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'namespace' | translate }}</label>
      <aui-select formControlName="namespace" [filterable]="true">
        <aui-option *ngFor="let item of namespaceList" [value]="item">
          {{ item }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret' | translate }}</label>
      <aui-select formControlName="certificate_name" [filterable]="true">
        <aui-option
          *ngFor="let item of namespaceSecretMap[form.get('namespace').value]"
          [value]="item"
        >
          {{ item }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>
  </form>
</div>
