<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <button
      *ngIf="hasCreatePermission"
      aui-button="primary"
      [disabled]="loading"
      (click)="create()"
    >
      {{ 'notification_create' | translate }}
    </button>
    <span fxFlex></span>
    <aui-search
      [searchButton]="true"
      [searching]="loading"
      [(keyword)]="keyword"
      placeholder="{{ 'filter_by_name_placeholder' | translate }}"
      (search)="filter($event)"
    ></aui-search>
  </div>

  <aui-table [dataSource]="notifications" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a
          [routerLink]="['/console/admin/notification/detail', item.uuid]"
          title="{{ item.name }}"
        >
          {{ item.name }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_by">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_by' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div>{{ item.created_by }}</div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_at">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_at' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div>{{ item.created_at | rcFormatUtcStr }}</div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div
          [auiDropdown]="menu"
          *ngIf="canUpdate(item) || canDelete(item)"
          class="action-button"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item (click)="update(item)" *ngIf="canUpdate(item)">
            {{ 'update' | translate }}
          </aui-menu-item>
          <aui-menu-item (click)="delete(item)" *ngIf="canDelete(item)">
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>

  <rc-zero-state
    [zeroState]="notifications && notifications.length === 0"
    [fetching]="!initialized && loading"
    resourceName="notification"
  ></rc-zero-state>
</aui-card>
